<button tourAnchor="mltButton" id="mltButton" class="button" (click)="open()">More Like This</button>

<ng-template #mltModal>
    <h1 mat-dialog-title>More Like This</h1>
    <div mat-dialog-content>
        <div style="overflow: hidden">
            <div *ngIf="!cdes">
                <h4 class="text-center">
                    <mat-icon class="spin">autorenew</mat-icon> Loading...
                </h4>
            </div>
            <div *ngIf="cdes">
                <div *ngIf="cdes.length === 0"><h4>No similar elements to show.</h4></div>
                <div id="mltAccordion">
                    <div class="card" *ngFor="let cde of cdes;let index = index;">
                        <div class="card-header">
                            <span class="hand-cursor" (click)="cde.isCollapsed = !cde.isCollapsed"> {{cde.designations[0].designation}} </span>
                            <a href="/deView?tinyId={{cde.tinyId}}" target="_blank">
                                <mat-icon>visibility</mat-icon></a>
                            <mat-icon class="fake-link" svgIcon="thumb_tack" pinToBoard [eltsToPin]="[elt]" [module]="elt.elementType"></mat-icon>
                        </div>
                        <div class="card-body" [ngbCollapse]="!cde.isCollapsed">
                            <div class="deCardLayout">
                                <div>
                                    <dl class="cde-property">
                                        <dt>Steward:</dt>
                                        <dd>{{cde.stewardOrg.name}}</dd>
                                        <dt>Source:</dt>
                                        <dd>{{cde.source}}</dd>
                                    </dl>
                                </div>
                                <div *ngIf="cde.valueDomain.permissibleValues && cde.valueDomain.permissibleValues.length > 0">
                                    <table class="table-bordered">
                                        <tr>
                                            <th>Value</th>
                                            <th>Code Name</th>
                                            <th>Code</th>
                                        </tr>
                                        <tr *ngFor="let pv of cde.valueDomain.permissibleValues">
                                            <td>{{pv.permissibleValue}}</td>
                                            <td>{{pv.valueMeaningName}}
                                            <td>{{pv.valueMeaningCode}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div *ngIf="cde.ids.length > 0">
                                    <table class="table cdeTable">
                                        <tr>
                                            <th>Id</th>
                                            <th>Version</th>
                                            <th>Source</th>
                                        </tr>
                                        <tr *ngFor="let id of cde.ids">
                                            <td>{{id.id}}</td>
                                            <td>{{id.version}}
                                            <td>{{id.source}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button id="closeMoreLikeThisBtn" class="button" [mat-dialog-close]>Close</button>
    </div>
</ng-template>
