<div class="container-fluid">
    <div *ngIf="quickBoardService.numberDataElements === 0">
        <h3>The quick board is empty.</h3>
        <p>Note: Click on
            <mat-icon>add_circle_outline</mat-icon>
            to add an element to the quick board.
            <a routerLink="/cde/search">Go to the search page and get started.</a></p>
    </div>
    <div *ngIf="quickBoardService.numberDataElements > 0">
        <cde-compare-side-by-side [(elements)]="quickBoardService.dataElements"></cde-compare-side-by-side>
        <cde-list-view-controls [(listView)]="listViews"></cde-list-view-controls>
        <button id="qb_de_empty" mat-raised-button (click)="quickBoardService.emptyDataElementQuickBoard();">
            <mat-icon>delete</mat-icon>
            Empty Quick Board
        </button>
        <button id="qb_de_export" mat-raised-button
                (click)="exportService.quickBoardExport(quickBoardService.dataElements)">
            <mat-icon>play_for_work</mat-icon>
            Export Quick Board
        </button>
        <cde-create-board [module]="'cde'" [elts]="quickBoardService.dataElements"
                          [buttonName]="'Create Board'"></cde-create-board>
        <hr>
        <cde-list-view *ngIf="quickBoardService.numberDataElements > 0" location="quickBoard"
                       [elts]="quickBoardService.dataElements" [(listView)]="listViews"
                       [module]="'cde'"></cde-list-view>
    </div>
</div>
