<div style="height:30px;"></div>
<div class="container-fluid">
    <div *ngIf="quickBoardService.number_dataElements === 0">
        <h3>The quick board is empty.</h3>
        <p>Note: Click on <i class="fa fa-plus"></i> to add an element to the quick board.
            <a routerLink="/cde/search">Go to the search page and get started.</a></p>
    </div>
    <div *ngIf="quickBoardService.number_dataElements > 0">
        <cde-compare-side-by-side [(elements)]="quickBoardService.dataElements"></cde-compare-side-by-side>
        <cde-list-view-controls [(listView)]="listViews"></cde-list-view-controls>
        <button id="qb_de_empty" class="btn btn-secondary" value="Empty Quick Board"
                (click)="quickBoardService.emptyDataElementQuickBoard();">
            <i class="fa fa-trash-o"></i> Empty Quick Board
        </button>
        <button id="qb_de_export" class="btn btn-secondary" value="Export Quick Board"
                (click)="exportService.quickBoardExport(quickBoardService.dataElements)">
            <i class="fa fa-download"></i> Export Quick Board
        </button>
        <hr>
        <cde-list-view *ngIf="quickBoardService.number_dataElements > 0" location="quickBoard"
                       [elts]="quickBoardService.dataElements" [(listView)]="listViews"
                       [module]="'cde'"></cde-list-view>
    </div>
</div>
