<div class="notificationDrawer" [style.display]="notificationService.drawer() ? 'flex' : 'none'"
     (mouseover)="notificationService.drawerMouseOver = true" (mouseout)="notificationService.drawerMouseOver = false">
    <div class="largeLayout notificationDrawerPointer"></div>
    <div class="notificationDrawerBox">
        <div class="taskItem">
            Notifications are configured in your
            <a routerLink="/settings/notification"
               (click)="notificationService.drawerClose()" href="javascript:void(0);">Settings</a>.
            <button class="button" (click)="notificationService.reload()"
                    [disabled]="notificationService.reloading">Refresh
            </button>
        </div>
        <div class="notificationDrawerContent">
            <ng-container *ngFor="let task of notificationService.tasks">
                <ng-container *ngTemplateOutlet="notificationTask; context: {task: task}"></ng-container>
            </ng-container>
            <div *ngIf="!notificationService.tasks || notificationService.tasks.length === 0"
                 style="font-weight: 900; padding: 10px; text-align: center; ">
                Empty
            </div>
        </div>
    </div>
</div>

<ng-template #notificationTask let-task="task">
    <div class="taskItem" [style.backgroundColor]="task.unread && task.background || '#fff'" style="display: flex"
         [routerLink]="task.urlLink" [queryParams]="task.urlQueryParams" (click)="notificationService.readTask(task)">
        <div style="flex-direction: column; flex-grow: 1; margin-right: 2px">
            <div style="margin-bottom: 2px">
                <div style="display: inline-block; font-size: 1.5rem; margin-right: 8px">
                    <mat-icon *ngIf="task.icon">{{task.icon}}</mat-icon>
                    {{task.name}}
                </div>
                <mat-chip-list style="display: inline-block">
                    <mat-chip *ngFor="let p of task.properties" style="margin: 0 2px; padding: 3px 6px">
                        <mat-icon *ngIf="p.icon" class="inlineIcon">{{p.icon}}</mat-icon>
                        <span style="font-weight: bolder">{{p.key}}<span *ngIf="p.value" style="margin-right: 2px">:</span></span>
                        {{p.value}}
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div *ngIf="task.text" style="white-space: pre-line; word-break: break-word">
                {{task.text}}
            </div>
        </div>
        <div *ngIf="task.actions?.length" style="display: flex; flex-direction: column">
            <button *ngFor="let action of task.actions" mat-raised-button [color]="action.color"
                    (click)="interruptEvent($event); action.click()">
                <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
                {{action.text}}
            </button>
        </div>
    </div>
</ng-template>
