<h1 mat-dialog-title>Edit Answer</h1>
<mat-dialog-content id="edit-answer-div">
    <table class="table table-border">
        <thead>
        <tr>
            <th>Value</th>
            <th>Code Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>Code System</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let answer of answers;let i=index">
            <td>{{answer.permissibleValue}}</td>
            <td>{{answer.valueMeaningName}}</td>
            <td>{{answer.valueMeaningCode}}</td>
            <td>{{answer.valueMeaningDefinition}}</td>
            <td>{{answer.codeSystemName}}</td>
            <td>
                <cde-sortable-array [theArray]="answers" [index]="i"></cde-sortable-array>
            </td>
        </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="button fail" [mat-dialog-close]="'clear'">Clear All</button>
    <button class="button secondary" [mat-dialog-close] cdkFocusInitial>Cancel</button>
    <button class="button success" [mat-dialog-close]="answers">Save</button>
</mat-dialog-actions>
