<h1>Profile</h1>
<dl *ngIf="user" class="cde-property">
    <dt>Username:</dt>
    <dd id="username">{{user.username}}</dd>
    <ng-container *ngIf="isSiteAdmin(user)">
        <dt>Quota:</dt>
        <dd id="quota">
            {{user.quota / 1024 / 1024 | number:'1.2-2' | cdePlaceholder}}<span *ngIf="user.quota"> MB</span>
        </dd>
        <dt>E-mail:</dt>
        <dd id="user_email">
            <cde-inline-edit id="emailEdit" [(model)]="user.email" inputType="email" [isAllowed]="true"
                             (modelChange)="userService.save()"></cde-inline-edit>
        </dd>
    </ng-container>
    <ng-container *ngIf="user.orgEditor.length">
        <dt>Editor for:</dt>
        <dd id="editorFor">{{user.orgEditor.join(', ')}}</dd>
    </ng-container>
    <dt>Curator for:</dt>
    <dd id="curatorFor">{{user.orgCurator.join(', ')}}</dd>
    <dt>Admin for:</dt>
    <dd>{{user.orgAdmin.join(', ')}}</dd>
</dl>
