<div class="container-fluid" *ngIf="commentTableData">
    <h1>{{title}}</h1>
    <mat-form-field class="w-50">
        <mat-label>Filter by Organization</mat-label>
        <mat-select [(ngModel)]="selectedOrganization" (ngModelChange)="onFilter()">
            <mat-option value="all organizations">All Organizations</mat-option>
            <mat-option *ngFor="let organization of organizationNames" [value]="organization">
                {{organization}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="!commentTableData?.data?.length; else deDrafts">There are no comments.</div>
    <ng-template #deDrafts>
        <table mat-table *ngIf="commentTableData?.data?.length" [dataSource]="commentTableData" #commentTable matSort>
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pr-3">Date</th>
                <td mat-cell *matCellDef="let comment" class="pr-3">
                    {{comment.created | date:'MM/dd/yyyy @h:mma'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="text">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pr-3">Text</th>
                <td mat-cell *matCellDef="let comment" class="pr-3">
                    {{comment.text}}
                </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pr-3">Type</th>
                <td mat-cell *matCellDef="let comment" class="pr-3">
                    <a href="{{uriView(comment.element.eltType, comment.element.eltId)}}" target="_blank">{{comment.element.eltType}}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pr-3">User</th>
                <td mat-cell *matCellDef="let comment" class="pr-3">
                    {{comment.user.username}}
                </td>
            </ng-container>
            <ng-container matColumnDef="organizationName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pr-3">Organization</th>
                <td mat-cell *matCellDef="let comment" class="pr-3">
                    {{comment.organizationName}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="commentColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: commentColumns"></tr>
        </table>
        <mat-paginator #commentPage [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
    </ng-template>
</div>
