<div class="card" style="width: 18rem;">
    <div class="card-header">
        {{board.name}} <span class="float-right" *ngIf="canEdit" (click)="openEditBoardModal();">
        <i class="fa fa-pencil"></i></span>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{board.pins.length + ' '}}{{board.type ==='form'?'Form(s)':'CDE(s)'}}</h5>
        <p class="card-text">{{board.description}}</p>
        <p class="card-text">
            <small class="text-muted">
                Modified {{board.updatedDate | date: 'MM/dd/yyyy'}}
            </small>
        </p>
    </div>
    <div class="card-footer">
        <ng-container *ngFor="let tag of board.tags">
            <span class="badge badge-secondary"><i class="fa fa-hashtag"></i>{{tag}}</span>
        </ng-container>
    </div>
</div>

<ng-template #editBoardContent id="editBoardModal" let-c="close" let-d="dismiss">
    <form role="form" #editBoardForm="ngForm" (ngSubmit)="save.emit();">
        <div class="modal-header" id="editBoardModalHeader">
            <input name="boardName" [(ngModel)]="board.name" required>
        </div>
        <div class="modal-body" id="editBoardModalBody">
            <input name="boardDescription" [(ngModel)]="board.description">
            <ng-select name="boardType" [ngModel]="board.type" [item]="types"></ng-select>
            <ng-select name="boardTag" [ngModel]="board.tags" [item]="tags" [addTag]="true"></ng-select>
        </div>
        <div class="modal-footer" id="editBoardModalFooter">
            <button class="btn btn-outline-dark" (click)="c('Close click')" id="cancelEditBoardBtn"
                    name="cancelNewNamingBtn">Cancel
            </button>
            <button class="btn  btn-warning" [disabled]="!editBoardForm.form.valid" id="saveEditBoardBtn"
                    name="saveEditBoardBtn" type="submit">Save
            </button>
        </div>
    </form>
</ng-template>