<mat-card [id]="board.name">
    <mat-card-title class="stretchBar fake-button" role="button" tabindex="0" (click)="clickHeader(board);">
        <mat-icon *ngIf="board.shareStatus ==='Public'">public</mat-icon>
        <mat-icon *ngIf="board.shareStatus ==='Private'">lock</mat-icon>
        <a *ngIf="headerLink; else spanTitle" class="shrink grow" style="line-height: 1.1em" href="javascript:void(0);"
           [routerLink]="'/board/' + board._id" [id]="'viewBoard_'+board.name"> {{board.name}}</a>
        <ng-template #spanTitle>
            <span class="shrink grow">{{board.name}}</span>
        </ng-template>
        <div *ngIf="canEdit" class="actions">
            <mat-icon class="editBoard fake-button" role="button" tabindex="0" (click)="openEditBoardModal();">edit</mat-icon>
            <mat-icon class="deleteBoard fake-button" role="button" tabindex="0" (click)="openDeleteBoardModal();">delete</mat-icon>
        </div>
    </mat-card-title>
    <mat-card-content>
        <span class="numElement">{{board.pins.length + ' '}}</span>{{boardTitle}}
        <p style="height: 3rem">{{board.description}}</p>
        <p>
            <small class="text-muted">
                Modified {{board.updatedDate | date: 'MM/dd/yyyy'}}
            </small>
        </p>
    </mat-card-content>
    <mat-card-footer *ngIf="board.tags.length > 0">
        <ng-container *ngFor="let tag of board.tags">
            <span class="badge badge-secondary"><i># </i>{{tag}}</span>
        </ng-container>
    </mat-card-footer>
</mat-card>

<ng-template #editBoardContent>
    <form role="form" #editBoardForm="ngForm" (ngSubmit)="save(board);">
        <div mat-dialog-title>
            <mat-form-field class="w-100">
                <input name="boardName" id="boardName" matInput placeholder="Board Name" [(ngModel)]="board.name">
            </mat-form-field>
        </div>
        <div mat-dialog-content>
            <mat-form-field class="w-100">
                <textarea name="boardDescription" matInput placeholder="Board Description"
                          [(ngModel)]="board.description"></textarea>
            </mat-form-field>
            <mat-button-toggle-group [value]="board.shareStatus" (change)="onBoardShareStatusChange($event)">
                <mat-button-toggle value="Public" id="makePublicBtn">
                    <mat-icon>public</mat-icon>
                    Public
                </mat-button-toggle>
                <mat-button-toggle value="Private" id="makePrivateBtn">
                    <mat-icon>lock</mat-icon>
                    Private
                </mat-button-toggle>
            </mat-button-toggle-group>
            <cde-tag id="boardTag" [tags]="board.tags" [allTags]="board.tags"
                     [canEdit]="true" [allowFreeType]="true"></cde-tag>
        </div>
        <div mat-dialog-actions>
            <button class="button secondary" [mat-dialog-close] id="cancelEditBoardBtn">Cancel</button>
            <button type="submit" class="button success" [disabled]="!editBoardForm.form.valid">Save</button>
        </div>
    </form>
</ng-template>

<ng-template #deleteBoardContent>
    <div mat-dialog-title>
        Delete {{board.name}}?
    </div>
    <form role="form" #deleteBoardForm="ngForm" (ngSubmit)="delete(board);">
        <mat-dialog-actions>
            <button class="button secondary" [mat-dialog-close]>Cancel</button>
            <button type="submit" id="saveDeleteBoardBtn" class="button fail">Save</button>
        </mat-dialog-actions>
    </form>
</ng-template>
