<div class="card mb-1 cdeBoard" [id]="board.name">
    <div class="card-header" (click)="clickHeader(board);">
        <mat-icon *ngIf="board.shareStatus ==='Public'">public</mat-icon>
        <mat-icon *ngIf="board.shareStatus ==='Private'">lock</mat-icon>
        <a *ngIf="headerLink" [routerLink]="'/board/' + board._id" [id]="'viewBoard_'+board.name"> {{board.name}}</a>
        <ng-container *ngIf="!headerLink">{{board.name}}</ng-container>
        <div class="float-right" *ngIf="canEdit">
            <mat-icon class="hand-cursor editBoard" (click)="openEditBoardModal();">edit</mat-icon>
            <mat-icon class="hand-cursor deleteBoard" (click)="openDeleteBoardModal();">delete</mat-icon>
        </div>
    </div>
    <div class="card-body">
        <span class="card-text numElement">{{board.pins.length + ' '}}</span>{{boardTitle}}
        <p class="card-text">{{board.description}}</p>
        <p class="card-text">
            <small class="text-muted">
                Modified {{board.updatedDate | date: 'MM/dd/yyyy'}}
            </small>
        </p>
    </div>
    <div class="card-footer" *ngIf="board.tags.length > 0">
        <ng-container *ngFor="let tag of board.tags">
            <span class="badge badge-secondary"><i># </i>{{tag}}</span>
        </ng-container>
    </div>
</div>

<ng-template #editBoardContent>
    <form role="form" #editBoardForm="ngForm" (ngSubmit)="save(board);">
        <div mat-dialog-title>
            <mat-form-field class="w-100">
                <input name="boardName" id="boardName" matInput placeholder="Board Name" [(ngModel)]="board.name">
            </mat-form-field>
        </div>
        <div mat-dialog-content>
            <mat-form-field class="w-100">
                <textarea name="boardDescription" id="boardDescription" matInput placeholder="Board Description"
                          [(ngModel)]="board.description"></textarea>
            </mat-form-field>
            <mat-button-toggle-group [value]="board.shareStatus" (change)="onBoardShareStatusChange($event)">
                <mat-button-toggle value="Public" id="makePublicBtn">
                    <mat-icon>public</mat-icon>
                    Public
                </mat-button-toggle>
                <mat-button-toggle value="Private" id="makePrivateBtn">
                    <mat-icon>lock</mat-icon>
                    Private
                </mat-button-toggle>
            </mat-button-toggle-group>
            <cde-tag id="boardTag" name="boardTag" [tags]="board.tags" [allTags]="board.tags"
                     [canEdit]="true" [allowFreeType]="true"></cde-tag>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button [mat-dialog-close] id="cancelEditBoardBtn" color="warn">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!editBoardForm.form.valid" id="saveEditBoardBtn"
                    name="saveEditBoardBtn" type="submit">Save
            </button>
        </div>
    </form>
</ng-template>

<ng-template #deleteBoardContent>
    <div mat-dialog-title>
        Delete {{board.name}}?
    </div>
    <form role="form" #deleteBoardForm="ngForm" (ngSubmit)="delete(board);">
        <div mat-dialog-actions>
            <button mat-raised-button color="warn" [mat-dialog-close] id="cancelDeleteBoardBtn">Cancel</button>
            <button mat-raised-button color="primary" id="saveDeleteBoardBtn" type="submit">Save</button>
        </div>
    </form>
</ng-template>
