<span ng-bind-html="elt.primaryDefinitionCopy "></span>
<br><br>
<table class="generalDetailsTable cdeTable cdeTable-noBorder table table-border" style="margin-bottom: 0px">
    <tr>
        <th tabindex="0" class="text-right">Used By: </th>
        <td tabindex="0" id="dd_usedBy">
            <span ng-switch="elt.classification.length > 0">
            <span ng-switch-when="false">None</span>
            <span ng-switch-default>
            <span ng-repeat="ub in elt.usedBy">{{ub}} </span>
            </span>
            </span>
        </td>
    </tr>
    <tr>
        <th tabindex="0" class="text-right">Steward: </th>
        <td tabindex="0" ng-bind-html="elt.stewardOrg.name"></td>
    </tr>
    <tr ng-if="elt.source">
        <th tabindex="0" class="text-right">Source: </th>
        <td tabindex="0">{{elt.source}}</td>
    </tr>
</table>