<form class="form-search">
    <input placeholder="loggerToExclude" title="loggerToExclude" name="exclude" [(ngModel)]="excludeFilterToAdd" size="80"/>
    <button class="btn btn-secondary fa fa-plus" (click)="addExcludeFilter(excludeFilterToAdd)"> Add Exclude Filter </button>
</form>

Excluding: {{excludeFilters}}

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Logger</th>
            <th>Stack</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let err of records">
        <td>{{err.date | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>{{err.origin}}</td>
        <td>{{err.stack | slice:0:500 }}</td>
        <td *ngIf="err.request">
            <span *ngIf="err.request.username"><b>User:</b> {{err.request.username}}<br></span>
            <span *ngIf="err.request.url"><b>URL:</b>&nbsp;{{err.request.url}}<br></span>
            <span *ngIf="err.request.method"><b>Method:</b> {{err.request.method}}<br></span>
            <span *ngIf="err.request.params"><b>Params:</b> {{err.request.params}}<br></span>
            <span *ngIf="err.request.body"><b>Body: </b>{{err.request.body | slice:0:500}}<br></span>
            <span *ngIf="err.request.userAgent"><b>Browser:</b> {{err.request.userAgent}}<br></span>
            <span *ngIf="err.request.ip"><b>IP:</b> {{err.request.ip}}<br></span>
            <span *ngIf="err.details"><b>Details: </b>{{err.details | slice:0:500}}</span>
        </td>
    </tr>
    </tbody>
</table>

<ngb-pagination [collectionSize]="1000" [(page)]="currentPage" (pageChange)="gotoPage()" [maxSize]="10">
</ngb-pagination>
