<div class="sectionTitle">
    <div class="text-truncate p-1"
         [ngClass]="{'outdated-bg': formSection?.inForm?.form?.outdated && !section.hover,'hover-bg':section.hover}">
        <div *ngIf="!isSubForm && canEdit" class="float-left">
            <mat-icon class="question-move-handle ml-1"
                      [treeDrag]="node" [treeDragEnabled]="node.allowDrag()">drag_handle
            </mat-icon>
            <mat-icon *ngIf="section.skipLogic?.condition?.length > 0 && section.elementType === 'section'"
                      [ngClass]="{'spin': section.updatedSkipLogic}"
                      title="{{section.updatedSkipLogic?'Section has updated show if rule':'Section has show if rule'}}">
                settings
            </mat-icon>
            <mat-icon *ngIf="section.skipLogic?.condition?.length > 0 && section.elementType === 'form'"
                      [ngClass]="{'spin': section.updatedSkipLogic}"
                      title="{{section.updatedSkipLogic?'Embedded form has updated show if rule':'Embedded form has show if rule'}}">
                settings
            </mat-icon>
        </div>
        <div id="innerForm_label_edit_icon_{{section.label}}"
             class="font-weight-bold float-left hand-cursor sectionLabel ml-1"
             (mouseover)="hoverInSection(section)" (mouseout)="hoverOutSection(section)"
             (click)="editSection(section); section.updatedSkipLogic = false">
            <span *ngIf="section.elementType === 'form'">Embedded Form: </span>
            <span class="ml-1" title="{{section.label}}">
                <strong>{{section.label | cdePlaceholder}}</strong>
            </span>
            <span *ngIf="formSection?.inForm?.form?.outdated" class="mx-1">(Outdated)</span>
        </div>
        <ng-container *ngIf="canEdit && formSection?.inForm?.form?.outdated">
            <button class="btn btn-outline-dark btn-sm updateQuestionBtn d-inline-block"
                    (click)="openUpdateFormVersion(section);">Update
            </button>
        </ng-container>
        <div class="float-right">
            <a *ngIf="section.elementType === 'form' && section.inForm.form.tinyId" target="_blank"
               title="{{section.inForm.form.name}}"
               [routerLink]="'/formView'"
               [queryParams]="{tinyId: section.inForm.form.tinyId, version: section.inForm.form.version}">
                <mat-icon>visibility</mat-icon>
                View Form
            </a>
            <ng-container *ngIf="!isSubForm && canEdit">
                <mat-icon *ngIf="section.elementType === 'section'" title="Copy section"
                          (click)="copySection(section)">content_copy
                </mat-icon>
                <cde-delete-with-confirm (deleted)="removeNode(node)"></cde-delete-with-confirm>
            </ng-container>
        </div>
    </div>
</div>

<ng-template [ngTemplateOutlet]="getTemplate()" [ngTemplateOutletContext]="{ $implicit: section }"></ng-template>

<ng-template #formDescriptionSectionTmpl>
    <div class="section_view">
        <div *ngIf="!canEditSection()">
            <span *ngIf="section.repeatOption && (section.repeatOption !== 'N' || section.repeatNumber !== 1)"
                  class="badge badge-primary formViewSummaryLabel">
                Repeats: {{repeatFeLabel(section)}}
            </span>
            <span *ngIf="section.skipLogic?.condition" class="badge badge-warning formViewSummaryLabel">
                    Show if: {{section.skipLogic.condition}}
            </span>
            <div *ngIf="section.instructions?.value" class="questionInstruction">
                <span class="font-weight-bold">Instructions:</span>
                <ng-container *ngIf="section.instructions.valueFormat !== 'html'; else instructionsHtml">{{section.instructions.value}}</ng-container>
            </div>
        </div>
        <div *ngIf="canEditSection()">
            <div class="section_label">
                <span class="font-weight-bold">Label:</span>
                <cde-inline-edit [(model)]="section.label" [isAllowed]="canEditSection()"
                                 (modelChange)="eltChange.emit()"></cde-inline-edit>
            </div>
            <div class="section_instruction">
                <span class="font-weight-bold">Instructions:</span>
                <cde-inline-area-edit
                        [(model)]="section.instructions.value"
                        [(defFormat)]="section.instructions.valueFormat"
                        [isAllowed]="canEditSection()" (modelChange)="eltChange.emit()"></cde-inline-area-edit>
            </div>
            <div class="font-weight-bold section_cardinality">Repeats:
                <mat-form-field>
                    <mat-select [(ngModel)]="section.repeatOption" (ngModelChange)="repeatChange(section)">
                        <mat-option *ngFor="let item of repeatOptions" [value]="item.value">{{item.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="section.repeatOption === 'N'"
                 class="font-weight-bold section_cardinality">Repeat Maximum Times:
                <input type="number" title="Repeat Maximum Times" class="form-control"
                       [(ngModel)]="section.repeatNumber"
                       (change)="repeatChange(section)"/>
            </div>
            <div *ngIf="section.repeatOption === '='"
                 class="font-weight-bold section_cardinality">Repeat by Answer of Question:
                <mat-form-field>
                    <mat-select required placeholder="Question Label"
                                [(ngModel)]="section.repeatQuestion" (ngModelChange)="repeatChange(section)">
                        <mat-option *ngFor="let option of repeatQuestions" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="font-weight-bold skipLogicEditTextarea">Show if:
                <span id="dd_s_skipLogic_{{$index}}" [ngClass]="{'has-error':section.skipLogic?.skipLogicError}">
                    <cde-skip-logic [parent]="parent" [formElement]="section" [canEdit]="canEditSection()"
                                    (saved)="eltChange.emit();"></cde-skip-logic>
                </span>
            </div>
        </div>
        <div *ngIf="!isSubForm && canEdit && section?.formElements?.length === 0" class="mt-1">
            <mat-icon>warning</mat-icon>
            To add questions, drag them here.
        </div>
    </div>
</ng-template>

<ng-template #formDescriptionFormTmpl>
    <div class="form_view">
        <div *ngIf="!canEditSection()">
            <span *ngIf="section.repeatOption && (section.repeatOption !== 'N' || section.repeatNumber !== 1)"
                  class="badge badge-primary formViewSummaryLabel">
                Repeats: {{repeatFeLabel(section)}}
            </span>
            <span *ngIf="section.mapTo && section.mapTo.fhir" class="badge badge-primary formViewSummaryLabel">
                FHIR <ng-container
                    *ngIf="section.mapTo.fhir.resourceType">Resource: {{section.mapTo.fhir.resourceType}}</ng-container>
            </span>
            <span *ngIf="section.skipLogic?.condition" class="badge badge-warning formViewSummaryLabel">
                Show if: {{section.skipLogic.condition}}
            </span>
            <div *ngIf="section.instructions?.value" class="questionInstruction">
                <span class="font-weight-bold">Instructions:</span>
                <ng-container *ngIf="section.instructions.valueFormat !== 'html'; else instructionsHtml">{{section.instructions.value}}</ng-container>
            </div>
        </div>
        <div *ngIf="canEditSection()">
            <div class="section_label">
                <span class="font-weight-bold">Label:</span>
                <cde-inline-edit [(model)]="section.label" [isAllowed]="canEditSection()"
                                 (modelChange)="eltChange.emit()"></cde-inline-edit>
            </div>
            <div class="section_instruction">
                <span class="font-weight-bold">Instructions:</span>
                <cde-inline-area-edit [(model)]="section.instructions.value"
                                      [(defFormat)]="section.instructions.valueFormat"
                                      [isAllowed]="canEditSection()"
                                      (modelChange)="eltChange.emit()">
                </cde-inline-area-edit>
            </div>
            <div class="font-weight-bold section_cardinality">Repeats:
                <mat-form-field>
                    <mat-select [(ngModel)]="section.repeatOption" (ngModelChange)="repeatChange(section)">
                        <mat-option *ngFor="let item of repeatOptions" [value]="item.value">{{item.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="section.repeatOption === 'N'"
                 class="font-weight-bold section_cardinality">Repeat Maximum Times:
                <input type="number" title="Repeats Maximum Times" class="form-control"
                       [(ngModel)]="section.repeatNumber"
                       (change)="repeatChange(section)"/>
            </div>
            <div *ngIf="section.repeatOption === '='"
                 class="font-weight-bold section_cardinality">Repeat by Answer of Question:
                <mat-form-field>
                    <mat-select required placeholder="Question Label"
                                [(ngModel)]="section.repeatQuestion" (ngModelChange)="repeatChange(section)">
                        <mat-option *ngFor="let option of repeatQuestions" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="font-weight-bold">Show if:
                <span id="dd_s_skipLogic_{{$index}}" [ngClass]="{'has-error':section.skipLogic?.skipLogicError}">
                    <cde-skip-logic [parent]="parent" [formElement]="section" [canEdit]="canEditSection()"
                                    (saved)="eltChange.emit();"></cde-skip-logic>
                </span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #updateFormVersionTmpl>
    <h3 mat-dialog-title>Confirm Changes:</h3>
    <div mat-dialog-content>
        <mat-icon *ngIf="reloading" class="spin">autorenew</mat-icon>
        <div>
            <div class="row">
                <div class="col-sm-2 font-weight-bold">Label:</div>
                <div class="col-sm-8" id="mdd_section_title">
                    <span [ngClass]="{mark: updateFormVersion.bLabel}">{{updateFormVersion.newSection.label | cdePlaceholder}}</span>
                    <span *ngIf="updateFormVersion.bLabel"
                          class="text-danger">( was {{ updateFormVersion.currentSection.label }} )</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 font-weight-bold">Form:</div>
                <div class="col-sm-8" id="mdd_d_form">
                    <a [ngClass]="{mark: updateFormVersion.bForm}"
                       href="/deView?tinyId={{updateFormVersion.newSection.inForm.form.tinyId}}&version={{updateFormVersion.newSection.inForm.form.version}}"
                       target="_blank">
                        <mat-icon>visibility</mat-icon>
                        <span id="mdd_question_cde_name">{{updateFormVersion.newSection.inForm.form.name}}</span>
                    </a>
                    <span *ngIf="updateFormVersion.bForm" class="text-danger">( was
                        <a href="/deView?tinyId={{updateFormVersion.currentSection.inForm.form.tinyId}}&version={{updateFormVersion.currentSection.inForm.form.version}}"
                           target="_blank"><mat-icon>visibility</mat-icon>
                            <span id="mdd_old_question_cde_name">{{updateFormVersion.currentSection.inForm.form.name}}</span>
                        </a> )
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn" id="cancelSelect" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true" id="okSelect">OK</button>
    </div>
</ng-template>

<ng-template #instructionsHtml>
    <span [innerHTML]="section.instructions.value"></span>
</ng-template>
