<div *ngIf="board" class="container-fluid">
    <h1 id="board_name_{{board.name}}">{{board.name}}</h1>
    <div class="actions">
        <div class="dropdown" style="display: inline-block">
            <button *ngIf="board.type === 'cde' && elts.length > 0" (click)="openMenu($event, dropdownMenu)"
                    id="export" class="button light"
                    data-toggle="dropdown" aria-haspopup="true">
                <mat-icon>play_for_work</mat-icon>
                Export Board
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <div #dropdownMenu class="dropdown-menu" aria-labelledby="export">
                <button id="csvExport" class="dropdown-item fake-link" (click)="exportBoard()">
                    NIH/CDE Schema CSV file</button>
                <a id='jsonExport' class="dropdown-item" href="/server/board/{{board.id}}/0/500/?type=json"
                   target="_blank">
                    NIH/CDE Schema JSON file</a>
                <a id='xmlExport' class="dropdown-item" href="/server/board/{{board.id}}/0/500/?type=xml"
                   target="_blank">
                    NIH/CDE Schema XML file</a>
            </div>
        </div>
        <cde-list-view-controls *ngIf="elts.length > 0" style="display: inline-block"
                                [(listView)]="listViews"></cde-list-view-controls>
        <cde-compare-side-by-side [elements]="elts"></cde-compare-side-by-side>

        <button *ngIf="userService.userOrgs?.length > 0 && elts.length > 0"
                id="board.classifyAll{{board.type==='form'?'Form':'Cde'}}s"
                class="button" (click)="classifyEltBoard()">
            <mat-icon>folder_open</mat-icon>
            Classify All {{board.type === 'form' ? 'Form' : 'CDE'}}s
        </button>
        <cde-create-form-from-board
                *ngIf="userService.userOrgs?.length > 0 && elts.length > 0 && board.type === 'cde'"
                [board]="board"></cde-create-form-from-board>
    </div>
    <div id="board-cdes-div">
        <div *ngIf="elts.length === 0">The board is empty.</div>
        <cde-list-view [board]="board" [currentPage]="currentPage" location="board" [elts]="elts"
                       [(listView)]="listViews" [module]="board.type" [totalItems]="totalItems"
                       (add)="reload()"></cde-list-view>

        <mat-paginator (page)="setPage($event)" [length]="totalItems"
                       [pageIndex]="currentPage"
                       [pageSize]="20" [hidePageSize]="true" style="font-size: 1.4em">
        </mat-paginator>
    </div>
</div>

<cde-classify-item #classifyCdesModal [modalTitle]="modalTitle"
                   (classified)="addClassification($event)"></cde-classify-item>
