<span>
    <span *ngIf="!editMode">
        <mat-icon *ngIf="isAllowed" title="Edit" (click)="edit()">edit</mat-icon>
        <span *ngIf="!linkSource">
            <span *ngIf="isNotNA(value); else NAvalue">{{value}}</span>
            <ng-template #NAvalue><span>N/A</span></ng-template>
        </span>
        <a *ngIf="linkSource" href="{{linkSource}}" target="_blank" rel="noopener noreferrer">{{value}}</a>
    </span>
    <form *ngIf="editMode" #inlineForm="ngForm">
        <ng-container *ngIf="INPUT_TYPE_ARRAY.indexOf(inputType.toLowerCase()) > -1">
            <input class="form-control" name="inlineInput" [type]="inputType.toLowerCase()" autocomplete="off"
                   [(ngModel)]="value" [email]="value && inputType.toLowerCase() === 'email' || null"/>
        </ng-container>
        <ng-container *ngIf="inputType.toLowerCase() === 'date'">
            <input class="form-control" name="inlineInput" type="date" autocomplete="off" [(ngModel)]="value"/>
        </ng-container>
        <ng-container *ngIf="inputType.toLowerCase() === 'number'">
            <input class="form-control" name="inlineInput" type="number" autocomplete="off" [(ngModel)]="value"/>
        </ng-container>
        <ng-container *ngIf="inputType.toLowerCase() === 'select'">
            <select class="form-control" [(ngModel)]="value" name="inlineSelect">
                <option *ngFor="let selectOption of selectOptions;let i =index;" [selected]="selectOption === value">
                    {{selectOption}}
                </option>
            </select>
        </ng-container>
        <ng-container *ngIf="inputType.toLowerCase() === 'textarea'" name="inlineTextarea">
            <textarea class="form-control" autocomplete="off" [(ngModel)]="value"></textarea>
        </ng-container>
        <button (click)="save()" [disabled]="!inlineForm.form.valid" type="button"><mat-icon>check</mat-icon>Confirm</button>
        <button (click)="discard()" type="button"><mat-icon>cancel</mat-icon>Discard</button>
    </form>
</span>