<h1>Site Admins</h1>
<form class="stack" novalidate>
    <cde-username-autocomplete [placeHolder]="'Make the user '"
                               (selected)="newAdmin = $event;"></cde-username-autocomplete>
    a site admin
    <button id="saveMessage" class="button" (click)="addSiteAdmin()">Make Admin</button>
</form>
<section>
    <h2>Site Admins:</h2>
    <div *ngFor="let user of siteAdmins">
        <span class="admin">{{user.username}}</span>
        <mat-icon class="hand-cursor" (click)="removeSiteAdmin(user.username)">delete</mat-icon>
    </div>
</section>
<br>
<section>
    <h2>Org Authorities:</h2>
    <div *ngFor="let user of orgAuthorities" class="orgAuth">{{user.username}}</div>
</section>
