<h3>Values Allowed</h3>
<dl class="dl-horizontal">
  <dt>Value Type: </dt>
  <dd id="dd_valueType"> {{cde.valueDomain.datatype | placeholdEmpty}} </dd>
</dl>

<%- include valueDomainSwitch.ejs %>
    