<form #updateElementForm="ngForm">
    <h1 mat-dialog-title>Save</h1>
    <mat-dialog-content>
        <div *ngIf="newQuestions.length > 0" class="form-group">
            <div class="text-truncate m-2">
                <span style="font-weight: bold">There are new CDEs</span>
            </div>
            <mat-card *ngFor="let newQuestion of newQuestions">
                <mat-card-header>
                    <mat-card-title (click)="newQuestion.isCollapsed = !newQuestion.isCollapsed"
                                    [ngClass]="{'text-danger':newQuestion.cde.newCde.designations.length === 0}">
                            <span class="hand-cursor">
                                {{
                                newQuestion.cde.newCde.designations.length
                                    ? newQuestion.cde.newCde.designations[0].designation
                                    : 'Designation is Required but Missing'
                                }}
                            </span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content [ngbCollapse]="!newQuestion.isCollapsed">
                    <dl class="cde-property">
                        <dt>Designations:</dt>
                        <dd>
                            <dl *ngFor="let cdeDesignation of newQuestion.cde.newCde.designations"
                                class="cde-property-md">
                                <dt>Designation:</dt>
                                <dd>{{cdeDesignation.designation}}</dd>
                                <dt>Tags:</dt>
                                <dd>
                                        <span *ngFor="let cdeTag of cdeDesignation.tags"
                                              class="badge badge-secondary" style="margin: 0 .25rem">{{cdeTag}}</span>
                                </dd>
                            </dl>
                        </dd>

                        <dt>Definitions:</dt>
                        <dd>
                            <dl *ngFor="let cdeDefinition of newQuestion.cde.newCde.definitions" class="cde-property">
                                <dt>Definition:</dt>
                                <dd>{{cdeDefinition.definition}}</dd>
                                <dt>Tags:</dt>
                                <dd>
                                        <span *ngFor="let cdeTag of cdeDefinition.tags"
                                              class="badge badge-secondary" style="margin: 0 .25rem">{{cdeTag}}</span>
                                </dd>
                            </dl>
                        </dd>

                        <dt>Data Type:</dt>
                        <dd>{{newQuestion.datatype}}</dd>

                        <dt>Identifiers:</dt>
                        <dd>
                            <dl *ngFor="let cdeId of newQuestion.cde.ids" class="cde-property">
                                <dt>Source:</dt>
                                <dd>{{cdeId.source}}</dd>
                                <dt>Id:</dt>
                                <dd>{{cdeId.id}}</dd>
                                <dt>Version:</dt>
                                <dd>{{cdeId.version}}</dd>
                            </dl>
                        </dd>
                    </dl>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="form-group">
            <label for="changeNote">Change Note</label>
            <textarea id="changeNote" class="form-control" name="changeNote"
                      [(ngModel)]="elt.changeNote" placeholder="Optional Change Note"
                      (ngModelChange)="onChangeNoteChanged($event)"></textarea>
        </div>
        <div class="form-group">
            <label for="newVersion">Choose a new version</label>
            <input id="newVersion" name="newVersion" #newVersion="ngModel" class="form-control"
                   data-testid="new-version-input"
                   [(ngModel)]="elt.version" pattern="^[A-z0-9-=.]+$"
                   (ngModelChange)="onVersionNumberChanged($event);"/>
            <div *ngIf="newVersion.errors && (newVersion.dirty || newVersion.touched)" class="help-inline">
                Version number cannot include characters other than letters, numbers, -, = and .
            </div>
            <div *ngIf="duplicatedVersion">
                <label for="overrideVersion">This version number has already been used. Override rule? </label>
                <input id="overrideVersion" name="overrideVersion" type="checkbox"
                       [(ngModel)]="overrideVersion"/>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button id="cancelSaveBtn" class="button fail" [mat-dialog-close]>Cancel</button>
        <button id="confirmSaveBtn" class="button" [mat-dialog-close]="true" data-testid="save-modal"
                [disabled]="!updateElementForm.form.valid || (!overrideVersion && duplicatedVersion)">Save
        </button>
    </mat-dialog-actions>
</form>
