<div class="container">
    <div class="form-signin-heading">
        Our sign in process is changing.
    </div>
    <p>
        The NIH CDE Repository uses UMLS Terminology Services (UTS) accounts for authentication.
        UTS accounts are migrating to a service that will allow you to sign in using Google, Microsoft, Facebook, or another identity
        provider of your choice.
        <strong>NIH staff should choose the “NIH Employees” option.</strong>
    </p>
    <p>
        If you have already migrated your UTS account to the new service,
        <a class="fake-link" style="font-weight: 900" (click)="loginService.openLogin()">sign in now</a>.
    </p>
    <p>
        If you have not migrated your UTS account,
        <a href="https://uts.nlm.nih.gov/uts/login" target="_blank" rel="noopener noreferrer">migrate your account now</a>.
    </p>
    <p>
        Don’t have a UTS account?
        <a href="https://uts.nlm.nih.gov/uts/signup-login" target="_blank" rel="noopener noreferrer">Sign up now</a>.
    </p>
</div>
