<div class="container">
    <form class="form-signin" #loginForm="ngForm" autocomplete="false">
        <h2 class="form-signin-heading">Please Log In</h2>
        <p>Note: Log in with your UMLS account. Don't have a UMLS account? <a
                href="https://uts.nlm.nih.gov//license.html" target="_blank" rel="noopener noreferrer">
            <span class="vsloginLink">Request One Now</span></a></p>
        <div class="form-group">
            <label id="l1" class="sr-only" for="uname">Username</label>
            <input id="uname" class="form-control" title="username" placeholder="Username" [(ngModel)]="username"
                   autofocus="" required name="username" autocomplete="false">
            <label id="l2" class="sr-only" for="passwd">Password</label>
            <input id="passwd" type="password" name="password" class="form-control" title="password"
                   placeholder="Password" autocomplete="false" [(ngModel)]="password" required/>
            <input type="hidden" name="_csrf" [(ngModel)]="csrf">
        </div>
        <button [disabled]="!loginForm.valid || !csrf" mat-raised-button color="link" (click)="login()"
                id="login_button" style="width: 300px">Log In</button>
        <p>Forgot your <a href="https://uts.nlm.nih.gov/license.html#emailUsername" class="vsloginLink"
                          target="_blank" rel="noopener noreferrer">
            <span>username</span></a> or <a href="https://uts.nlm.nih.gov/license.html#emailTemporaryPassword"
                                            target="_blank" rel="noopener noreferrer">
            <span class="vsloginLink">password</span></a>?</p>
        <div *ngIf="showCaptcha">
            <re-captcha siteKey="{{siteKey}}" (resolved)="resolved($event)"></re-captcha>
        </div>
    </form>
    <p>
        <small>This warning banner provides privacy and security notices consistent with applicable federal laws,
            directives, and other federal guidance for accessing this Government system, which includes all
            devices/storage
            media attached to this system. This system is provided for Government-authorized use only.
            Unauthorized or improper use of this system is prohibited and may result in disciplinary action and/or civil
            and criminal penalties. At any time, and for any lawful Government purpose, the government may monitor,
            record,
            and audit your system usage and/or intercept, search and seize any communication or data transiting or
            stored
            on this system. Therefore, you have no reasonable expectation of privacy. Any communication or data
            transiting
            or stored on this system may be disclosed or used for any lawful Government purpose.
        </small>
    </p>
</div>
