<h1 mat-dialog-title>Merge <a target=_blank href="formView?tinyId={{source.tinyId}}">
    {{source.designations[0].designation}}</a>
    Into <a target=_blank href="formView?tinyId={{destination.tinyId}}">
        {{destination.designations[0].designation}}</a>
</h1>
<mat-dialog-content>
    <div class="mergeFormLayout">
        <div class="splitHalf">
            <section>
                <h2>Form fields:</h2>
                <button class="button light" (click)="selectAllFormMergerFields();"
                        [disabled]="!mergeFormService.error.ownTargetForm">
                    All
                </button>
                <button class="button light" (click)="unselectAllFormMergerFields();"
                        [disabled]="!mergeFormService.error.ownTargetForm">
                    None
                </button>
                <mat-checkbox [(ngModel)]="mergeFields.copyright"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Copyright
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.designations"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Designation
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.definitions"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Definition
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.referenceDocuments"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Ref Documents
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.properties"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Properties
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.ids"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    IDs
                </mat-checkbox>

                <mat-checkbox [(ngModel)]="mergeFields.classifications"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Classifications
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.questions"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Questions
                </mat-checkbox>
            </section>
            <section *ngIf="mergeFields.questions">
                <h2>CDE fields:</h2>
                <button class="button light" (click)="selectAllCdeMergerFields();">
                    All
                </button>
                <button class="button light" (click)="unselectAllCdeMergerFields();">
                    None
                </button>
                <mat-checkbox [(ngModel)]="mergeFields.cde.designations"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Designation
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.definitions"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Definition
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.referenceDocuments"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Ref Documents
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.properties"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Properties
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.ids"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    IDs
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.attachments"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Attachment
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.dataSets"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Data Set
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.derivationRules"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Derivation Rules
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.sources"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Sources
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.classifications"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Classifications
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="mergeFields.cde.retireCde" id="retireCde" data-testid="retire-cde-checkbox" style="margin-top: 1rem"
                              [disabled]="!mergeFormService.error.ownTargetForm">
                    Retire CDE?
                </mat-checkbox>
            </section>
        </div>
        <div class="splitHalf">
            <ng-container *ngIf="mergeFields.questions">
                <div id="dropArea">
                    <cde-sortable [left]="source" [right]="destination" [mergeFields]="mergeFields"></cde-sortable>
                </div>
                <div>
                    <div *ngFor="let rightQuestion of destination.questions; index as i">
                        <div class="questionToken boxed-div" id="targetQuestion_{{i}}">
                                <span class="Label"
                                      matTooltip="{{rightQuestion.question.cde.name}}">CDE Name:
                                </span>
                            <a *ngIf="rightQuestion.question.cde.name" target="_blank"
                               href="/deView?tinyId={{rightQuestion.question.cde.tinyId}}">
                                {{rightQuestion.question.cde.name}}
                            </a>
                            <a *ngIf="!rightQuestion.question.cde.name" target="_blank"
                               href="/deView?tinyId={{rightQuestion.question.cde.tinyId}}">
                                {{rightQuestion.label}}
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div *ngIf="mergeFormService.error.error" id="mergeFormErrorDiv" class="alert alert-danger" data-testid="merge-form-error">
        {{mergeFormService.error.error}}
    </div>
    <div *ngIf="showProgressBar" class="w-100">
        <mat-progress-bar
                [value]="(mergeFormService.numMergedQuestions / mergeFormService.maxNumberQuestions) * 100">
        </mat-progress-bar>
    </div>
    <button id="cancelMergeFormBtn" class="button secondary" (click)="dialogRef.close()" data-testid="close-merge-form-btn">
        {{doneMerge ? 'Close' : 'Cancel'}}
    </button>
    <button *ngIf="!finishMerge && !mergeFormService.error.error"
            id="mergeFormBtn" class="button fail"
            data-testid="merge-form-button"
            (click)="doMerge();">
        Merge
    </button>
</mat-dialog-actions>
