<!doctype html>
<html lang="en">
<head>
    <title>NIH Common Data Elements (CDE) Repository</title>
    <meta name="site-version" content="<%= version %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description"
          content="Repository of Common Data Elements (CDE) and Protocol Forms. Search CDEs. Search Protocol Forms.">
    <meta name="keywords"
          content="cde, common data element, form, protocol, protocol form, crf, case report form, promis, neuro-qol, phenx, ahrq, ninds, value set, repository, nih, nlm, national institutes of health, national library of medicine">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="hgnYTGxY1q6mEcYD8VptKKAQCnwoWzfySPSGQWRgdyk">

    <script type="text/javascript">
        if (!window.formElt && location.search) {
            var t = (function () {
                var params = {};
                location.search.substr(1).split('&').forEach(function (e) {
                    var p = e.split('=');
                    if (p.length === 2) params[p[0]] = decodeURI(p[1]);
                    else params[p[0]] = null;
                });
                return params;
            })().tinyId;
            t && fetch('/form/' + t)
                .then(function (res) {return res.json();})
                .then(function (elt) {window.formElt = elt;});
        }
    </script>

    <% if (isLegacy) { %>
        <!-- Polyfills for legacy browsers -->
        <!-- build:poly /native/polyfill.js -->
        <script type="text/javascript" src="/common/core.min.js"></script>
        <script type="text/javascript" src="/common/fetch.umd.js"></script>
        <script type="text/javascript" src="/common/Intl.min.js"></script>
        <script type="text/javascript" src="/common/en.js"></script>
        <script type="text/javascript" src="/common/classList.min.js"></script>
        <script type="text/javascript" src="/common/web-animations.min.js"></script>
        <!-- endbuild -->
    <% } %>

    <script type="text/javascript">
        function deferCss(url) {
            var d = document.createElement('link');
            d.href = url;
            d.rel = 'stylesheet';
            d.type = 'text/css';
            var l = document.getElementsByTagName('meta')[0];
            l.parentNode.insertBefore(d, l);
        }
        deferCss('/native/native.css');
        deferCss('https://fonts.googleapis.com/icon?family=Material+Icons');
    </script>
    <noscript>
        <!-- build:css /native/native.css -->
        <link rel="stylesheet" type="text/css" href="/native/native.css"/>
        <!-- endbuild -->

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </noscript>

    <%-'<!-- IFH -->'%>
</head>

<body role="application" id="top">
    <cde-native-render-standalone></cde-native-render-standalone>

    <!-- build:js /native/native.js -->
    <script src="/native/native.js" defer></script>
    <!-- endbuild -->

    <% if (isLegacy) { %>
        <!-- Polyfills for legacy browsers -->
        <!-- Apply to all IE -->
        <script type="text/javascript">
            (function () {
                function CustomEvent(event, params) {
                    params = params || {bubbles: false, cancelable: false, detail: undefined};
                    var evt = document.createEvent('CustomEvent');
                    evt.initCustomEvent(event, params.bubbles, params.cancelable, params.detail);
                    return evt;
                }

                CustomEvent.prototype = window.Event.prototype;

                if (typeof(window.Event) !== 'function')
                    window.Event = CustomEvent;
            })();
        </script>

        <!--[if IE]>
        <script type="text/javascript">
            window.location = "/server/system/supportedBrowsers";
        </script>
        <![endif]-->
    <% } %>

    <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "GovernmentOrganization",
              "name":"U.S. National Library of Medicine",
              "address":{
                "@type":"PostalAddress",
                "addressCountry":"US",
                "addressLocality":"Bethesda",
                "addressRegion":"MD",
                "postalCode":"20894",
                "streetAddress":"8600 Rockville Pike",
                },
              "description" : "NIH Common Data Elements Repository",
              "url": "https://cde.nlm.nih.gov",
              "logo": "https://cde.nlm.nih.gov/cde/public/assets/img/min/NIH-CDE.png"
              }
    </script>

    <script type="application/ld+json">
            {
              "@context" : "http://schema.org",
              "@type" : "WebSite",
              "name" : "NIH CDE Repository",
              "description" : "NIH Common Data Elements Repository",
              "url" : "https://cde.nlm.nih.gov"
            }
    </script>

    <%-'<!-- ICSSH -->'%>
    <%-'<!-- IJSH -->'%>
</body>
</html>
