<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-3">
            <mat-list (click)="scrollTop()">
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="profile">
                    Profile
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="viewHistory">
                    View History
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="publishedForms">
                    My Published Forms
                </mat-list-item>
                <ng-container *ngIf="userSvc.isOrgCurator()">
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="myDrafts">
                        Drafts
                    </mat-list-item>
                    <mat-list class="ml-4">
                        <mat-list-item [routerLinkActive]="['is-active']" routerLink="myDrafts">
                            My Drafts
                        </mat-list-item>
                        <mat-list-item *ngIf="userSvc.isOrgAdmin()"
                                [routerLinkActive]="['is-active']" routerLink="myOrgDrafts">
                            My Organizations' Drafts
                        </mat-list-item>
                        <mat-list-item *ngIf="userSvc.isOrgAuthority()"
                                [routerLinkActive]="['is-active']" routerLink="allDrafts">
                            All Drafts
                        </mat-list-item>
                    </mat-list>
                </ng-container>

                <mat-divider></mat-divider>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="myComments">
                    Comments
                </mat-list-item>
                <mat-list class="ml-4">
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="myComments">
                        My Comments
                    </mat-list-item>
                    <mat-list-item *ngIf="userSvc.isOrgAdmin()"
                            [routerLinkActive]="['is-active']" routerLink="myOrgComments">
                        My Organizations' Comments
                    </mat-list-item>
                    <mat-list-item *ngIf="userSvc.isOrgAuthority()"
                            [routerLinkActive]="['is-active']" routerLink="allComments">
                        All Comments
                    </mat-list-item>
                </mat-list>

                <ng-container *ngIf="userSvc.isOrgAdmin()">
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="orgAdmin">
                        My Organizations
                    </mat-list-item>
                    <mat-list class="ml-4">
                        <mat-list-item [routerLinkActive]="['is-active']" routerLink="orgAdmin">
                            Admins
                        </mat-list-item>
                        <mat-list-item [routerLinkActive]="['is-active']" routerLink="orgCurator">
                            Curators
                        </mat-list-item>
                        <mat-list-item *ngIf="userSvc.isOrgAuthority()"
                                [routerLinkActive]="['is-active']" routerLink="orgsEdit">
                            Manage
                        </mat-list-item>
                        <mat-list-item *ngIf="userSvc.isOrgAuthority()"
                                       [routerLinkActive]="['is-active']" routerLink="listManagement">
                            List Management
                        </mat-list-item>
                        <mat-list-item *ngIf="userSvc.isOrgAuthority()"
                                [routerLinkActive]="['is-active']" routerLink="statusValidationRules">
                            Validation Rules
                        </mat-list-item>
                        <mat-list-item *ngIf="userSvc.user?.orgAdmin.length > 1"
                                [routerLinkActive]="['is-active']" routerLink="stewardOrgTransfer">
                            Steward Transfer
                        </mat-list-item>
                        <mat-list-item [routerLinkActive]="['is-active']" routerLink="embedding">
                            Embedding
                        </mat-list-item>
                    </mat-list>
                </ng-container>

                <ng-container *ngIf="userSvc.isOrgAuthority()">
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="users">
                        Users
                    </mat-list-item>
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="articles">
                        Articles
                    </mat-list-item>
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="resources">
                        Resources
                    </mat-list-item>
                </ng-container>

                <ng-container *ngIf="userSvc.user?.siteAdmin">
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="siteAdmins">
                        Site Admins
                    </mat-list-item>
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="serverStatus">
                        Server Status
                    </mat-list-item>
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="fhirApps">
                        Fhir Apps
                    </mat-list-item>
                    <mat-list-item [routerLinkActive]="['is-active']" routerLink="idSources">
                        Id Sources
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </div>
        <div class="col-9 settingsContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>