<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-3">
            <mat-list>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="profile">
                    Profile
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="orgAdmin">
                    Organizations Admins
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="orgCurator">
                    Organizations Curators
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="stewardOrgTransfer">
                    CDE & Form Management
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="drafts">
                    Drafts
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="embedding">
                    Embedding
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="siteAdmins">
                    Site Admins
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="users">
                    Users
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="comments">
                    Comments
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="drafts">
                    Drafts
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="serverStatus">
                    Server Status
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="articles">
                    Articles
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="resources">
                    Resources
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="fhirApps">
                    Fhir Apps
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink="idSources">
                    Id Sources
                </mat-list-item>
            </mat-list>
        </div>
        <div class="col-9 settingsContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>