.action-icon-dark {
  cursor: pointer;
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  margin-right: .25em;
  width: 1em;

  &:hover {
    color: black;
  }
}

.formViewQuestionLabel {
  margin-right: .2em;
  vertical-align: text-bottom;
}
