<mat-form-field class="w-100">
    <input matInput type="text" autofocus="false" autocomplete="false" placeholder="Question Label"
           [formControl]="questionControl" [matAutocomplete]="questionAuto">
    <mat-error *ngIf="token.error">{{token.error}}</mat-error>
    <mat-autocomplete #questionAuto="matAutocomplete" (optionSelected)="selectQuestion($event)"
                      [displayWith]="displayFn">
        <mat-option *ngFor="let priorQuestion of filteredQuestionOptions | async " [value]="priorQuestion">
            {{priorQuestion.label ? priorQuestion.label : priorQuestion.question.cde.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>