<div id="logAuditDiv">
    <div class="col-xs-12">
        <form role="form" class="form-inline">
            <label class="sr-only" for="ip">Remote Address</label>
            <input class="form-control mb-2 mr-sm-2 mb-sm-0" id="ip" name="ip" type="text"
                   [(ngModel)]="search.remoteAddr" placeholder="IP Address">
            <label class="sr-only" for="fromDate">From Date</label>
            <input class="form-control mb-2 mr-sm-2 mb-sm-0" id="fromDate" name="formDate" type="datetime-local"
                   [(ngModel)]="search.fromDate" placeholder="From Date">
            <label class="sr-only" for="toDate">Until Date</label>
            <input class="form-control mb-2 mr-sm-2 mb-sm-0" id="toDate" name="toDate" type="datetime-local"
                   [(ngModel)]="search.toDate" placeholder="Until Date">
            <button type="submit" class="btn btn-default" id="searchBtn" (click)="searchLogs()">Submit</button>
        </form>
        <table class="table table-striped" [mfData]="gridLogEvents" #mf="mfDataTable">
            <tr>
                <th style="width: 20%">
                    <mfDefaultSorter by="date">Date</mfDefaultSorter>
                </th>
                <th style="width: 50%">
                    <mfDefaultSorter by="ip">IP</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="url">URL</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="method">Method</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="respTime">Resp. Time</mfDefaultSorter>
                </th>
            </tr>
            <tr *ngFor="let item of mf.data">
                <td>{{item.date}}</td>
                <td>{{item.ip}}</td>
                <td>{{item.url}}</td>
                <td>{{item.method}}</td>
                <td>{{item.status}}</td>
                <td>{{item.respTime}}</td>
            </tr>
        </table>
        <ngb-pagination [collectionSize]="totalItems" [(page)]="search.currentPage" (pageChange)="searchLogs()"
                        [pageSize]="itemsPerPage" [maxSize]="10"></ngb-pagination>
    </div>
</div>
