<div class="sectionTitle">
    <div class="stretchBar text-truncate" style="padding: .25rem"
         [ngClass]="{'outdated-bg': formSection?.inForm?.form?.outdated && !section.hover,'hover-bg':section.hover}">
        <div *ngIf="!isSubForm && canEdit">
            <mat-icon class="move-handle" style="margin-left: .25rem"
                      [treeDrag]="node" [treeDragEnabled]="node.allowDrag()">drag_handle
            </mat-icon>
            <mat-icon *ngIf="section.skipLogic?.condition?.length > 0 && section.elementType === 'section'"
                      [ngClass]="{'spin': section.updatedSkipLogic}"
                      title="{{section.updatedSkipLogic?'Section has updated show if rule':'Section has show if rule'}}">
                settings
            </mat-icon>
            <mat-icon *ngIf="section.skipLogic?.condition?.length > 0 && section.elementType === 'form'"
                      [ngClass]="{'spin': section.updatedSkipLogic}"
                      title="{{section.updatedSkipLogic?'Embedded form has updated show if rule':'Embedded form has show if rule'}}">
                settings
            </mat-icon>
        </div>
        <div id="innerForm_label_edit_icon_{{section.label}}"
             class="sectionLabel shrink grow" style="font-weight: bold; line-height: 24px" role="button" tabindex="0"
             (mouseover)="hoverInSection(section)" (mouseout)="hoverOutSection(section)"
             (click)="editSection(section); section.updatedSkipLogic = false">
            <span *ngIf="section.elementType === 'form'">Embedded Form: </span>
            <span style="margin-left: .25rem" title="{{section.label}}">
                <strong>{{section.label | cdePlaceholder}}</strong>
            </span>
            <span *ngIf="formSection?.inForm?.form?.outdated" style="margin: 0 .25rem">(Outdated)</span>
        </div>
        <ng-container *ngIf="canEdit && formSection?.inForm?.form?.outdated">
            <button class="button light small updateQuestionBtn" (click)="openUpdateFormVersionModal(section);">Update</button>
        </ng-container>
        <div>
            <a *ngIf="section.elementType === 'form' && section.inForm.form.tinyId" target="_blank"
               title="{{section.inForm.form.name}}"
               [routerLink]="'/formView'"
               [queryParams]="{tinyId: section.inForm.form.tinyId, version: section.inForm.form.version}">
                <mat-icon>visibility</mat-icon>
                View Form
            </a>
            <ng-container *ngIf="!isSubForm && canEdit">
                <mat-icon *ngIf="section.elementType === 'section'"
                          title="Copy section" class="fake-button" role="button" tabindex="0"
                          (click)="copySection(section)">content_copy</mat-icon>
                <cde-delete-with-confirm (deleted)="removeNode(node)"></cde-delete-with-confirm>
            </ng-container>
        </div>
    </div>
</div>

<ng-template [ngTemplateOutlet]="getTemplate()" [ngTemplateOutletContext]="{ $implicit: section }"></ng-template>

<ng-template #formDescriptionSectionTmpl>
    <div class="section_view">
        <div *ngIf="!canEditSection()">
            <span *ngIf="section.repeatOption && (section.repeatOption !== 'N' || section.repeatNumber !== 1)"
                  class="badge badge-primary formViewSummaryLabel">
                Repeats: {{repeatFeLabel(section)}}
            </span>
            <span *ngIf="section.skipLogic?.condition" class="badge badge-warning formViewSummaryLabel">
                    Show if: {{section.skipLogic.condition}}
            </span>
            <div *ngIf="section.instructions?.value" class="questionInstruction">
                <span style="font-weight: bold">Instructions:</span>
                <ng-container *ngIf="section.instructions.valueFormat !== 'html'; else instructionsHtml">{{section.instructions.value}}</ng-container>
            </div>
        </div>
        <div *ngIf="canEditSection()">
            <div class="section_label" data-testid="section-label-edit">
                <span style="font-weight: bold">Label:</span>
                <cde-inline-edit [(model)]="section.label" [isAllowed]="canEditSection()"
                                 (modelChange)="eltChange.emit()"></cde-inline-edit>
            </div>
            <div class="section_instruction">
                <span style="font-weight: bold">Instructions:</span>
                <cde-inline-area-edit
                        [(model)]="section.instructions.value"
                        [(defFormat)]="section.instructions.valueFormat"
                        [isAllowed]="canEditSection()" (modelChange)="eltChange.emit()"></cde-inline-area-edit>
            </div>
            <div class="section_cardinality" style="font-weight: bold">Repeats:
                <mat-form-field>
                    <mat-select [(ngModel)]="section.repeatOption" (ngModelChange)="repeatChange(section)">
                        <mat-option *ngFor="let item of repeatOptions" [value]="item.value">{{item.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="section.repeatOption === 'N'"
                 class="section_cardinality" style="font-weight: bold">Repeat Maximum Times:
                <input type="number" title="Repeat Maximum Times" class="form-control"
                       [(ngModel)]="section.repeatNumber"
                       (change)="repeatChange(section)"/>
            </div>
            <div *ngIf="section.repeatOption === '='"
                 class="section_cardinality" style="font-weight: bold">Repeat by Answer of Question:
                <mat-form-field>
                    <mat-select required placeholder="Question Label"
                                [(ngModel)]="section.repeatQuestion" (ngModelChange)="repeatChange(section)">
                        <mat-option *ngFor="let option of repeatQuestions" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="skipLogicEditTextarea" style="font-weight: bold">Show if:
                <span id="dd_s_skipLogic_{{$index}}" [ngClass]="{'has-error':section.skipLogic?.skipLogicError}">
                    <cde-skip-logic [parent]="parent" [formElement]="section" [canEdit]="canEditSection()"
                                    (saved)="eltChange.emit();"></cde-skip-logic>
                </span>
            </div>
        </div>
        <div *ngIf="!isSubForm && canEdit && section?.formElements?.length === 0" class="mt-1">
            <mat-icon>warning</mat-icon>
            To add questions, drag them here.
        </div>
    </div>
</ng-template>

<ng-template #formDescriptionFormTmpl>
    <div class="form_view">
        <div *ngIf="!canEditSection()">
            <span *ngIf="section.repeatOption && (section.repeatOption !== 'N' || section.repeatNumber !== 1)"
                  class="badge badge-primary formViewSummaryLabel">
                Repeats: {{repeatFeLabel(section)}}
            </span>
            <span *ngIf="section.skipLogic?.condition" class="badge badge-warning formViewSummaryLabel">
                Show if: {{section.skipLogic.condition}}
            </span>
            <div *ngIf="section.instructions?.value" class="questionInstruction">
                <span style="font-weight: bold">Instructions:</span>
                <ng-container *ngIf="section.instructions.valueFormat !== 'html'; else instructionsHtml">{{section.instructions.value}}</ng-container>
            </div>
        </div>
        <div *ngIf="canEditSection()">
            <div class="section_label">
                <span style="font-weight: bold">Label:</span>
                <cde-inline-edit [(model)]="section.label" [isAllowed]="canEditSection()"
                                 (modelChange)="eltChange.emit()"></cde-inline-edit>
            </div>
            <div class="section_instruction">
                <span style="font-weight: bold">Instructions:</span>
                <cde-inline-area-edit [(model)]="section.instructions.value"
                                      [(defFormat)]="section.instructions.valueFormat"
                                      [isAllowed]="canEditSection()"
                                      (modelChange)="eltChange.emit()">
                </cde-inline-area-edit>
            </div>
            <div class="section_cardinality" style="font-weight: bold">Repeats:
                <mat-form-field>
                    <mat-select [(ngModel)]="section.repeatOption" (ngModelChange)="repeatChange(section)">
                        <mat-option *ngFor="let item of repeatOptions" [value]="item.value">{{item.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="section.repeatOption === 'N'"
                 class="section_cardinality" style="font-weight: bold">Repeat Maximum Times:
                <input type="number" title="Repeats Maximum Times" class="form-control"
                       [(ngModel)]="section.repeatNumber"
                       (change)="repeatChange(section)"/>
            </div>
            <div *ngIf="section.repeatOption === '='"
                 class="section_cardinality" style="font-weight: bold">Repeat by Answer of Question:
                <mat-form-field>
                    <mat-select required placeholder="Question Label"
                                [(ngModel)]="section.repeatQuestion" (ngModelChange)="repeatChange(section)">
                        <mat-option *ngFor="let option of repeatQuestions" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="font-weight: bold">Show if:
                <span id="dd_s_skipLogic_{{$index}}" [ngClass]="{'has-error':section.skipLogic?.skipLogicError}">
                    <cde-skip-logic [parent]="parent" [formElement]="section" [canEdit]="canEditSection()"
                                    (saved)="eltChange.emit();"></cde-skip-logic>
                </span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #instructionsHtml>
    <span [innerHTML]="section.instructions.value"></span>
</ng-template>
