<form class="form-inline pt40 pb40" role="form" id="transferStewardForm" name="transferStewardForm" novalidate>
    <span class="mr-2">Transfer CDEs and forms owned by</span>
    <div class="form-group">
        <select id="transferSteward_from" name="transferSteward_from" class="form-control"
                [(ngModel)]="transferStewardObj.from" required>
            <option value="">select organization</option>
            <option *ngFor="let myOrg of userService.user?.orgAdmin">{{myOrg}}</option>
        </select>
    </div>
    <span class="mx-2">to</span>
    <div class="form-group">
        <select id="transferSteward_to" name="transferSteward_to" class="form-control"
                [(ngModel)]="transferStewardObj.to" required>
            <option value="">select organization</option>
            <option *ngFor="let myOrg of userService.user?.orgAdmin">{{myOrg}}</option>
        </select>
    </div>
    <button type="submit" id="transferStewardButton" mat-raised-button (click)="transferSteward()"
            ng-disabled="transferStewardForm.transferSteward_from.$error.required || transferStewardForm.transferSteward_to.$error.required">
        Transfer Now
    </button>
</form>