<h1>Steward Transfer</h1>
<form>
    Transfer CDEs and forms owned by
    <div class="form-group">
        <select id="transferSteward_from" name="transferSteward_from" class="form-control"
                [(ngModel)]="transferStewardObj.from" required>
            <option value="">select organization</option>
            <option *ngFor="let myOrg of userService.user?.orgAdmin">{{myOrg}}</option>
        </select>
    </div>
    to
    <div class="form-group">
        <select id="transferSteward_to" name="transferSteward_to" class="form-control"
                [(ngModel)]="transferStewardObj.to" required>
            <option value="">select organization</option>
            <option *ngFor="let myOrg of userService.user?.orgAdmin">{{myOrg}}</option>
        </select>
    </div>
    <button type="submit" id="transferStewardButton" class="button" (click)="transferSteward()"
            [disabled]="!transferStewardObj.from || !transferStewardObj.to">
        Transfer Now
    </button>
</form>
