<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">
<%- include head.ejs %>
<body role="application">
<%- include navigation.ejs %>

<div class="container">
    <div class="jumbotron text-center" style="background-color: white;">
        <img alt="NIH Common Data Elements (CDE) logo" class="img-center-responsive"
             src="/assets/img/NIH-CDE.svg">
    </div>
    <div class="row justify-content-center">
        <div class="col-8 align-self-center">
            <div class="input-group">
                <input type="text" class="form-control">
                <button class="btn  btn-danger" type="button">Search</button>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#classification" role="tab">Browse by Classification</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="classification" role="tabpanel">
            <div class="row">
                <div class="card-group col">
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=AHRQ&page=1">AHRQ</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Agency for Healthcare Research and Quality</p>
                        </div>
                        <div class="card-footer text-muted">
                            95 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=GRDR&page=1">GRDR</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Global Rare Diseases Patient Registry Data Repository</p>
                        </div>
                        <div class="card-footer text-muted">
                            75 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=NCI&page=1">NCI</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Cancer Institute</p>
                        </div>
                        <div class="card-footer text-muted">
                            1096 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=NEI&page=1">NEI</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Eye Institute</p>
                        </div>
                        <div class="card-footer text-muted">
                            190 elements
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-group col">
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=NIDA&page=1">NIDA</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Institute on Drug Abuse</p>
                        </div>
                        <div class="card-footer text-muted">
                            120 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=NINDS&page=1">NINDS</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Institute of Neurological Disorders and Stroke</p>
                        </div>
                        <div class="card-footer text-muted">
                            15243 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=NINR&page=1">NINR</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Institute of Nursing Research</p>
                        </div>
                        <div class="card-footer text-muted">
                            79 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=NLM&page=1">NLM</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Library of Medicine</p>
                        </div>
                        <div class="card-footer text-muted">
                            291 elements
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-group col">
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=ONC&page=1">ONC</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Office of the National Coordinator</p>
                        </div>
                        <div class="card-footer text-muted">
                            33 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=PROMIS%20%2F%20Neuro-QOL">PROMIS / Neuro-QOL</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Patient Reported Outcomes Measurement Information System</p>
                        </div>
                        <div class="card-footer text-muted">
                            625 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=PhenX&page=1">PhenX</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Consensus measures for Phenotypes and eXposures</p>
                        </div>
                        <div class="card-footer text-muted">
                            3568 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/cde/search?selectedOrg=cLBP&page=1">cLBP</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Chronic Low Back Pain</p>
                        </div>
                        <div class="card-footer text-muted">
                            28 elements
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include footer.ejs %>

<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike"
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/assets/img/NIH-CDE.svg"
          }

</script>
<script type="application/ld+json">
        {
          "@context" : "https://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }
</script>
</body>
</html>
