<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">
<%- include head.ejs %>

<body role="application">
<%- include navigation.ejs %>

<div class="container">
    <div class="jumbotron text-center" style="background-color: white;">
        <img alt="NIH Common Data Elements (CDE) logo" class="img-center-responsive"
             src="/assets/img/NIH-CDE.svg">
    </div>
    <div class="row justify-content-center">
        <div class="col-8 align-self-center">
            <div class="input-group">
                <input type="text" class="form-control">
                <button class="btn  btn-danger" type="button">Search</button>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#classification" role="tab">Browse by Classification</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="classification" role="tabpanel">
            <div class="row">
                <div class="card-group col">
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=AHRQ&page=1">AHRQ</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Agency for Healthcare Research and Quality</p>
                        </div>
                        <div class="card-footer text-muted">
                            9 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=NCI&page=1">NCI</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Cancer Institute</p>
                        </div>
                        <div class="card-footer text-muted">
                            60 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=NEI&page=1">NEI</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Eye Institute</p>
                        </div>
                        <div class="card-footer text-muted">
                            6 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=NIDA&page=1">NIDA</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Institute on Drug Abuse</p>
                        </div>
                        <div class="card-footer text-muted">
                            12 elements
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-group col">
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=NINDS&page=1">NINDS</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Institute of Neurological Disorders and Stroke</p>
                        </div>
                        <div class="card-footer text-muted">
                            1374 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=NINR&page=1">NINR</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Institute of Nursing Research</p>
                        </div>
                        <div class="card-footer text-muted">
                            17 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=NLM&page=1">NLM</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">National Library of Medicine</p>
                        </div>
                        <div class="card-footer text-muted">
                            30 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=ONC&page=1">ONC</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Office of the National Coordinator</p>
                        </div>
                        <div class="card-footer text-muted">
                            5 elements
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-group col-6 pr-0">
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=PROMIS%20%2F%20Neuro-QOL&page=1">PROMIS / Neuro-QOL</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Patient Reported Outcomes Measurement Information System</p>
                        </div>
                        <div class="card-footer text-muted">
                            61 elements
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">
                            <a href="/form/search?selectedOrg=PhenX&page=1">PhenX</a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">Consensus measures for Phenotypes and eXposures</p>
                        </div>
                        <div class="card-footer text-muted">
                            58 elements
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include footer.ejs %>

<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike",
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/assets/img/NIH-CDE.svg"
          }


</script>
<script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }


</script>
</body>
</html>
