<head>
    <base href="/">
    <title>NIH Common Data Elements (CDE) Repository</title>
    <meta name="site-version">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description"
          content="Repository of Common Data Elements (CDE) and Protocol Forms. Search CDEs. Search Protocol Forms.">
    <meta name="keywords"
          content="cde, common data element, form, protocol, protocol form, crf, case report form, promis, neuro-qol, phenx, ahrq, ninds, value set, repository, nih, nlm, national institutes of health, national library of medicine">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <style>
        .card {
            padding: 5px;
            margin: 5px;
        }
    </style>
</head>
