<h1 mat-dialog-title>Select a question label from a CDE Name</h1>
<mat-dialog-content>
    <div class="alert alert-warning" role="alert" data-testid="question-used-by-skip-logic-alert-message">
        There is skip logic using this label. It will be updated.
    </div>

    <ng-container *ngIf="cde; else loading">
        <div class="splitQuarter" style="gap: 1rem 0">
            <ng-container *ngFor="let designation of cde.designations; index as i">
                <div>
                    <button id="q_select_name_{{i}}" class="button light" [mat-dialog-close]="designation">
                        <mat-icon>check</mat-icon>
                        Select
                    </button>
                </div>
                <dl class="cde-property">
                    <dt>Designation:</dt>
                    <dd>{{designation.designation}}</dd>
                    <dt> Tags:</dt>
                    <dd>
                        <span *ngFor="let tag of designation.tags" class="badge badge-secondary">{{tag}}</span>
                    </dd>
                </dl>
            </ng-container>
            <div>
                <button id="selectQuestionNoLabel" class="button light" [mat-dialog-close]="null">
                    <mat-icon>indeterminate_check_box</mat-icon>
                    No Label
                </button>
            </div>
        </div>
    </ng-container>
    <ng-template #loading>
        Loading...
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="button" [mat-dialog-close]>Close</button>
</mat-dialog-actions>
