<h1>ID Sources</h1>

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="New Id:" [formControl]="newOrgName">
</mat-form-field>
<button mat-icon-button type="submit" [disabled]="newOrgName.invalid" color="primary" (click)="add()" aria-label="add">
    <mat-icon>add</mat-icon>
</button>

<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="example-table-container">
        <table mat-table [dataSource]="data$ | async" class="example-table">
            <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef>Source name</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex items-center">
                        <button mat-icon-button color="primary" (click)="delete(row)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                        {{row._id}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="links">
                <th mat-header-cell *matHeaderCellDef>Links</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex flex-col">
                        <mat-form-field>
                            <input matInput placeholder="Data Element Link URL: (Use {{'{{id}\} and {{version}\}.'}})"
                                   [(ngModel)]="row.linkTemplateDe" (change)="update(row)">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Form Link URL: (Use {{'{{id}\} and {{version}\}.'}})"
                                   [(ngModel)]="row.linkTemplateForm" (change)="update(row)">
                        </mat-form-field>
                    </div>
            </ng-container>
            <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef>Version</th>
                <td mat-cell *matCellDef="let row">
                    <mat-form-field>
                        <input matInput placeholder="Version:" [(ngModel)]="row.version" (change)="update(row)">
                    </mat-form-field>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No Item Sources</td>
            </tr>
        </table>
    </div>
</div>