<button id="createFormBtn" (click)="openCreateFormModal()" type="button" mat-raised-button>
    <mat-icon>content_copy</mat-icon> Create Form
</button>

<ng-template #createFormContent id="createFormModal">
    <h3 mat-dialog-title></h3>
    <div mat-dialog-content>
        <!--<cde-create-form [(elt)]="elt" (cancel)="modalRef.close()" (done)="modalRef.close()"></cde-create-form>-->

        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>
        dsaf
        <br>


    </div>
    <div mat-dialog-actions></div>
</ng-template>
