<button id="createFormBtn" class="btn btn-lg  btn-outline-dark" (click)="openCreateFormModal()"
        title="Copy CDE" type="button">
    <i class="fa fa-clone"></i> Create Form
</button>

<ng-template #createFormContent id="createFormModal" let-c="close" let-d="dismiss"
             style="overflow-y: scroll;display: block;">
    <div class="modal-header" id="createFormModalHeader">
        <h3>Create form from board</h3>
    </div>
    <div class="modal-body" id="createFormModalBody">
        <cde-create-form [(elt)]="elt" (cancel)="c()" [extModalRef]="modalRef"></cde-create-form>
    </div>
</ng-template>
