<div id="namingDiv">
    <h4 >Namings</h4>
    <div  *ngIf="elt.naming.length === 0">There are no namings.</div>
    <div *ngFor="let name of elt.naming;let i = index">
        <div class="row">
            <div class="col-md-1 text-right" *ngIf="isAllowedModel.isAllowed(elt)">
                <div class="row">
                    <div *ngIf="name.edit">Confirm Delete
                    <span class="btn-default fa fa-check" (click)="removeNamingByIndex(i)"
                          id="confirmRemoveNaming-{{i}}" title="OK" href=""></span>
                        <span class="btn-default fa fa-times" (click)="name.edit = false" title="Cancel" href=""></span>
                    </div>
                <span (click)="name.edit = true" *ngIf="!name.edit" class="btn-default fa fa-trash-o"
                      id="removeNaming-{{i}}" title="Remove" href=""></span>
                    <sortable-array [theArray]="elt.naming" [sortableArray]="elt.naming"
                                    [index]="i" (cb)="elt.unsaved = true"></sortable-array>
                </div>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div  class="col-xs-2 text-right text_label">Name:</div>
                    <div  class="col-xs-10 ng-binding" id="designation_{{i}}">
                        <inline-edit id="nameEdit" [(model)]="name.designation" (onOk)="elt.unsaved = true;"
                                     [isAllowed]="isAllowed"></inline-edit>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-xs-2 text-right text_label">Definition:</div>
                    <div  class="col-xs-10 ng-binding" id="definition_{{i}}">
                        <inline-area-edit [(model)]="name.definition" (onOk)="elt.unsaved = true;"
                                          [defFormat]="name.definitionFormat"
                                          [isAllowed]="isAllowed"></inline-area-edit>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-xs-2 text-right text_label">Tags:</div>
                    <div  class="col-xs-10 ng-binding" id="tags_{{i}}">
                        <select2 [data]="orgNamingTags" [value]="name.currentTags" [options]="options"
                                 [disabled]="!isAllowedModel.isAllowed(elt)" [width]="500" style="min-width: 300px"
                                 (valueChanged)="changedTags(name,$event)">
                        </select2>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <button *ngIf="isAllowedModel.isAllowed(elt)" id="openNewNamingModalBtn"
            class="btn btn-small btn-default" (click)="openNewNamingModal();">
        <i class="fa fa-plus"></i> Add Naming
    </button>
</div>
<template #newNamingContent id="newNamingModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="newNamingModalHeader">
        <h4 class="modal-title">Add Naming</h4>
    </div>
    <form role="form" #newNamingForm="ngForm">
        <div class="modal-body" id="newNamingModalBody">
            <div class="form-group">
                <label for="newDesignation">Name</label>
                <input class="form-control" id="newDesignation" name="newDesignation"
                       [(ngModel)]="newNaming.designation" Placeholder="Name / Designation" required/>
            </div>
            <div class="form-group">
                <label for="newDefinition">Definition</label>
                    <textarea class="form-control" id="newDefinition" name="newDefinition"
                              [(ngModel)]="newNaming.definition" Placeholder="Naming Definition" required></textarea>
            </div>
            <div class="form-group">
                <label for="newTags">Tags</label>
                <div id="newTags" name="newTags">
                    <select2 [data]="orgNamingTags" [value]="newNaming.currentTags" [options]="options"
                             [width]="500" style="min-width: 300px" (valueChanged)="changedTags(name,$event)">
                    </select2>
                </div>
            </div>
            <div class="alert alert-info">
                Tags are managed in Org Management > List Management
            </div>
        </div>
        <div class="modal-footer" id="newNamingModalFooter">
            <button class="btn cancel" (click)="c('Close click')" id="cancelNewNamingBtn" name="cancelNewNamingBtn"
                    type="button">Cancel
            </button>
            <button class="btn btn-warning" [disabled]="!newNamingForm.form.valid" id="createNamingBtn"
                    name="createNewNamingBtn" type="submit" (click)="addNewNaming();">Save
            </button>
        </div>
    </form>
</template>
