<div id="propertiesDiv">
    <h4 tabindex="0">Properties</h4>
    <div tabindex="0" *ngIf="elt.properties.length === 0">There are no properties.</div>
    <div *ngFor="let prop of elt.properties;">
        <div class="row">
            <div class="col-md-1 text-right" *ngIf="isAllowedModel.isAllowed(elt)">
                <div class="row">
                    <span *ngIf="prop.edit">Confirm Delete
                        <span class="btn-default fa fa-check" (click)="removeProperty($index)"
                              id="confirmRemoveProperty-{{i}}" title="OK" href=""></span>
                        <span class="btn-default fa fa-times" (click)="prop.edit = false" title="Cancel" href=""></span>
                    </span>
                    <span (click)="prop.edit = true" *ngIf="!prop.edit" class="btn-default fa fa-trash-o"
                          id="removeProperty-{{$index}}" title="Remove" href=""></span>
                    <sortable-array [theArray]="elt.properties" [sortableArray]="elt.properties"
                                    [index]="$index" (cb)="elt.unsaved = true"></sortable-array>
                </div>
            </div>
            <div class="col-md-11">
                <dl class="dl-horizontal">
                    <dt tabindex="0">Key:</dt>
                    <dd tabindex="0" id="dd_name_{{$index}}">{{prop.key}}</dd>
                    <dt tabindex="0">Value:</dt>
                    <dd tabindex="0" id="dd_prop_value_{{$index}}">
                        <inline-area-edit [(model)]="prop.value" (onOk)="saveProperty()" [defFormat]="prop.valueFormat"
                                          [isAllowed]="isAllowedModel.isAllowed(elt)"></inline-area-edit>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <button *ngIf="isAllowedModel.isAllowed(elt)" id="openNewPropertyModalBtn"
            class="btn btn-small btn-default" (click)="openNewPropertyModal();">
        <i class="fa fa-plus"></i> Add Property
    </button>
</div>
<template #newPropertyContent id="newPropertyModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="newPropertyModalHeader">
        <h4 class="modal-title">Add Property</h4>
    </div>
    <form role="form" #newPropertyForm="ngForm">
        <div class="modal-body" id="newPropertyModalBody">
            <div class="form-group">
                <label tabindex="0" for="newPropertyKey">Key</label>
                <select [(ngModel)]="newProperty.key" id="newPropertyKey" name="key" class="form-control">
                    <option *ngFor="let key of orgPropertyKeys;" value="{{key}}">{{key}}</option>
                </select>
            </div>
            <div class="form-group">
                <label tabindex="0" for="newPropertyValue">Value</label>
                    <textarea tabindex="0" class="form-control" [(ngModel)]="newProperty.value" name="value"
                              id="newPropertyValue" Placeholder="Property Value" required></textarea>
            </div>
        </div>
        <div class="modal-footer" id="newPropertyModalFooter">
            <button class="btn cancel" (click)="c('Close click')" id="cancelNewPropertyBtn" type="button">
                Cancel
            </button>
            <button class="btn btn-warning" [disabled]="!newPropertyForm.form.valid" id="createPropertyBtn"
                    type="submit" (click)="addNewProperty();">Save
            </button>
        </div>
    </form>
</template>
