<div id="referenceDocumentsDiv">
    <h4>ReferenceDocuments</h4>
    <div *ngIf="elt.referenceDocuments.length === 0">There are no ReferenceDocuments.</div>
    <div *ngFor="let rd of elt.referenceDocuments;let i = index">
        <div class="row">
            <div class="col-md-1 text-right" *ngIf="isAllowedModel.isAllowed(elt)">
                <div class="row">
                    <span class="btn-default fa fa-trash-o" (click)="removeReferenceDocument(i);"
                          id="removeReferenceDocument-{{i}}" title="Remove reference document"></span>
                    <sortable-array [theArray]="elt.referenceDocuments" [sortableArray]="elt.referenceDocuments"
                                    [index]="i" (cb)="elt.unsaved = true"></sortable-array>
                </div>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-xs-2 text-right text_label">ID:</div>
                    <div class="col-xs-10 ng-binding">{{rd.referenceDocumentId}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">Title:</div>
                    <div class="col-xs-10 ng-binding">{{rd.title}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">URI:</div>
                    <div class="col-xs-10 ng-binding">{{rd.uri}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">Provider Org:</div>
                    <div class="col-xs-10 ng-binding">{{rd.providerOrg}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">Language Code:</div>
                    <div class="col-xs-10 ng-binding">{{rd.languageCode}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">Document:</div>
                    <div class="col-xs-10 ng-binding">{{rd.document}}</div>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="isAllowedModel.isAllowed(elt)" class="btn btn-small btn-default"
            id="openNewReferenceDocumentModalBtn" (click)="openNewReferenceDocumentModal();">
        <i class="fa fa-plus"></i> Add ReferenceDocument
    </button>
</div>
<template #newReferenceDocumentContent id="newReferenceDocumentModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="newReferenceDocumentModalHeader">
        <h4 class="modal-title">Add ReferenceDocument</h4>
    </div>
    <form role="form" #newReferenceDocumentForm="ngForm">
        <div class="modal-body" id="newReferenceDocumentModalBody">
            <div class="form-group">
                <div class="col-xs-2 text-right text_label">ID:</div>
                <div class="col-xs-10 ng-binding">{{newReferenceDocument.referenceDocumentId}}</div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 text-right text_label">Title:</div>
                <div class="col-xs-10 ng-binding">{{newReferenceDocument.title}}</div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 text-right text_label">URI:</div>
                <div class="col-xs-10 ng-binding">{{newReferenceDocument.uri}}</div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 text-right text_label">Provider Org:</div>
                <div class="col-xs-10 ng-binding">{{newReferenceDocument.providerOrg}}</div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 text-right text_label">Language Code:</div>
                <div class="col-xs-10 ng-binding">{{newReferenceDocument.languageCode}}</div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 text-right text_label">Document:</div>
                <div class="col-xs-10 ng-binding">{{newReferenceDocument.document}}</div>
            </div>
        </div>
        <div class="modal-footer" id="newReferenceDocumentModalFooter">
            <button class="btn cancel" id="cancelNewReferenceDocumentBtn" type="button" (click)="c('Close click')">
                Cancel
            </button>
            <button class="btn btn-warning" id="createReferenceDocumentBtn" type="submit"
                    [disabled]="!newReferenceDocumentForm.form.valid" (click)="addNewReferenceDocument();">Save
            </button>
        </div>
    </form>
</template>
