@import 'theme';
@import 'material';
@import 'common';

fieldset {
  border: none;
}

.bundle-box {
  background-color: #E4EFFB;
  padding: 5px;
  margin-bottom: 5px;
}

.cdeAttachmentThumbnail {
  max-width: 100%;
  max-height: 200px;
}

.cdeFieldset {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  margin: 0 0 10px;
  padding: 0 10px;
  position: relative;

  &.welcomeSearchFieldset {
    cursor: pointer;
    height: 140px;

    &:hover {
      background-color: $nlmColorBorderActive;
    }
  }

  > legend {
    @include h2;
    border-bottom: none;
    margin-bottom: .5rem;
    padding: 0 5px 0 5px;
  }
}

.cdeTable {
  table-layout: fixed;

  td, th {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }

  td {
    padding: 0;
  }

  th {
    padding: 0;
  }
}

.sectionDetailSubtitle {
  letter-spacing: 0.4px;
  color: #707070;
}

.inline-dl {
  dt {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  dd {
    margin-bottom: 10px;
  }
}

.sectionDetailTable {
  tr, th, td {
    padding: 8px;
    border: solid 1px #C1C1C1;
  }
}

.cdeTooltip {
  background-color: $navBackgroundColor;
  font-size: 15px !important;
}

.cdeTooltipMultiline {
  background-color: $navBackgroundColor;
  white-space: pre-line;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.gridListView td {
  table-layout: fixed;
}

.cdePinIcon {
  border: solid 2px #32629599;
  border-radius: 3px;
  height: 32px;
  width: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    transform: rotate(30deg)
  }

}

.displayInlineBlock {
  display: inline-block;
}

///* BEGIN HomeComponent for dist/launch*/
//.homeDescriptionLink {
//  color: $linkColor;
//}
///* END HomeComponent */

//.bg-active {
//  background: rgba(2, 191, 231, .1) !important;
//  color: #1976d2 !important;
//}

/* BEGIN shortcuts */

.boxed-div {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 1px;
  padding: 10px;
  word-wrap: break-word;
}

.hand-cursor {
  cursor: pointer;
}

.move-handle {
  cursor: move;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

/* END shortcuts */


/* BEGIN loading */

.loading {
  display: none;
}

nih-cde:empty + .loading {
  display: block;
}

/* END loading */


/* BEGIN Layouts */

.deCardLayout {
  display: flex;
  flex-flow: row wrap;

  > :nth-child(1) {
    flex: 0 0 100%;

    @media (min-width: $screenMd) {
      flex: 0 0 33.33%;
    }
  }

  > :nth-child(2) {
    flex: 0 0 100%;

    @media (min-width: $screenSm) {
      flex: 0 0 50%;
    }

    @media (min-width: $screenMd) {
      flex: 0 0 33.33%;
    }
  }

  > :nth-child(3) {
    flex: 0 0 100%;

    @media (min-width: $screenSm) {
      flex: 0 0 50%;
    }

    @media (min-width: $screenMd) {
      flex: 0 0 33.33%;
    }
  }
}

/* END Layouts */

/* BEGIN Font Awesome wrench */

@-webkit-keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-wrench.animated,
.faa-wrench.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-wrench {
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
  transform-origin-x: 90%;
  transform-origin-y: 35%;
  transform-origin-z: initial;
}

.faa-wrench.animated.faa-fast,
.faa-wrench.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-wrench.faa-fast {
  -webkit-animation: wrench 1.2s ease infinite;
  animation: wrench 1.2s ease infinite;
}

.faa-wrench.animated.faa-slow,
.faa-wrench.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-wrench.faa-slow {
  -webkit-animation: wrench 3.7s ease infinite;
  animation: wrench 3.7s ease infinite;
}

/* END Font Awesome wrench */

/* BEGIN override uswds style */
//button:not([disabled]):focus {
//  outline: 0 !important;
//  outline-offset: 0;
//}

/* END override uswds style */
