@import "theme";

/* BEGIN Theme */
.cdeTooltip {
  background-color: $navBackgroundColor;
}

.cdeTooltipMultiline {
  background-color: $navBackgroundColor;
  white-space: pre-line;
}
/* END Theme */


/* BEGIN shortcuts */
.boxed-div {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  word-wrap: break-word;
}

.hand-cursor {
  cursor: pointer;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

/* END shortcuts */


/* BEGIN browser */
a {
  color: #337ab7; /* to pass chrome audit low contrast ratio */
}

/* END browser */


/* BEGIN loading */
.loading {
  display: none;
}

nih-cde:empty + .loading {
  display: block;
}

/* END loading */


/* BEGIN item views */
.eltCommentView {
  -webkit-box-shadow: 10px 0 5px -2px #888;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}

.breadcrumb {
  background-color: white;
}

.cdeAttachmentThumbnail {
  max-width: 100%;
  max-height: 200px;
}

/* END item views */


/* BEGIN Material overrides */
.mdl-layout__header { /* fix navbar height so form description toolbar can float consistently */
  min-height: 56px;
}

.mdl-layout__header-row, .mdl-layout__header-row .mdl-navigation { /* fix navbar height so form description toolbar can float consistently */
  height: 56px;
}

/* END Material overrides */


/* BEGIN ? */
.mat-icon {
  vertical-align: bottom;
}

div.mat-tab-body-content {
  overflow: hidden;
}

/* END ? */


/* BEGIN Bootstrap Popover these 3 styles because Peter and I, we can't figure out why .orphan won't position in the middle */
.popover[class*="tour-"].orphan {
  left: 50% !important;
  margin-top: 0;
  position: fixed !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.popover h3 {
  margin-top: 2px;
}

.popover {
  border: 3px solid rgb(167, 158, 45);
}

/* END Bootstrap Popover these 3 styles */


/* BEGIN ? */
button {
  margin-right: 0.2rem !important;
}

button.flush {
  margin-right: 0 !important;
}

.displayProfileRenderDiv > * {
  font-size: 60%;
}

.displayProfileRenderDiv input {
  transform: scale(0.8);
}

/* END ? */


/* BEGIN Bootstrap overrides */
.container-fluid {
  padding-bottom: 10px;
}

.fake-link,
a:not([href]):not([tabindex]).fake-link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.fake-link:hover,
a:not([href]):not([tabindex]).fake-link:hover {
  color: #23527c;
  text-decoration: underline;
}

@media (min-width: 575px) {
  .text-right-md {
    text-align: right
  }
}

.modal-lg {
  max-width: 90%;
}

.modal {
  overflow-y: scroll !important;
}
/* END Bootstrap overrides */


/* BEGIN Feedback */
@media (max-width: 768px) {
  .feedback-btn {
    display: none;
  }
}

.feedback-btn.feedback-btn-gray {
  font-family: inherit !important;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  font-size: 11px;
  right: 20px !important;
  z-index: 3;
}

#feedback-note-tmp {
  min-height: 200px;
}

#feedback-overview-note {
  width: 350px;
  height: 317px !important;
}

#feedback-highlighter {
  cursor: move;
  height: 574px !important;
}

/* END Feedback */


/* BEGIN Font Awesome */
.dark-icon {
  background-color: transparent;
  border: 1px solid;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }
}

.iconColor {
  color: #292b2c;
}

@-webkit-keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-wrench.animated,
.faa-wrench.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-wrench {
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
  transform-origin-x: 90%;
  transform-origin-y: 35%;
  transform-origin-z: initial;
}

.faa-wrench.animated.faa-fast,
.faa-wrench.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-wrench.faa-fast {
  -webkit-animation: wrench 1.2s ease infinite;
  animation: wrench 1.2s ease infinite;
}

.faa-wrench.animated.faa-slow,
.faa-wrench.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-wrench.faa-slow {
  -webkit-animation: wrench 3.7s ease infinite;
  animation: wrench 3.7s ease infinite;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.pulse {
  -webkit-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* END Font Awesome */


/* BEGIN MEDIA */
@media print {
  @page {
    size: 330mm 427mm;
    margin: 14mm;
  }

  .container {
    width: 1170px;
  }

  .keep-with-previous {
    page-break-before: avoid;
    break-before: avoid;
  }

  .keep-together {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .noPrint {
    display: none !important;
  }
}

/* END MEDIA */


/* BEGIN validation error */
input.ng-invalid:not([matInput]) {
  border-left: 5px solid #a94442 !important;
}

.ng-valid[required]:not(mat-form-field):not([matInput]):not(mat-select):not([matNativeControl]), .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form):not(mat-form-field):not([matInput]):not([matNativeControl]):not(mat-select) {
  border-left: 5px solid #a94442; /* red */
}

/* END validation error */


/* BEGIN cdeFieldset */
.cdeFieldset {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  margin: 10px 0 10px 0;
  padding: 0 10px;
}

.cdeFieldset.welcomeSearchFieldset {
  height: 140px;
}

.cdeFieldset.hand-cursor:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.cdeFieldset > legend {
  width: auto;
  border-bottom: none;
  padding: 0 5px 0 5px;
  margin-bottom: 10px;
  background-color: white;
  font-size: 21px;
}

/* END cdeFieldset */


/* BEGIN cdeTable */
.cdeTable, .gridListView td {
  table-layout: fixed;
}

.cdeTable td, .cdeTable th {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.cdeTable th {
  padding: 0
}

.cdeTable td {
  padding: 0
}

/* END cdeTable */


/* BEGIN HomeComponent for dist/launch*/
.homeDescriptionLink {
  color: $linkColor;
}

/* END HomeComponent */


/* BEGIN NavigationDrawer */
.navigationLink {
  cursor: pointer;
}

/* END NavigationDrawer */
