/* Screen */
$screenSm: 576px; // TODO: convert, also convert -1
$screenMd: 768px;
$screenLg: 992px;
$screenXl: 1200px;

/* Color Palette */
$nlmDarkBlue: #253b54;
$nlmBlue: #326295;
$nlmLightBlue: #4c94e0;

$nlmDarkGray: #2a2a2a;
$nlmGray: #6f6f6f;
$nlmLightGray: #f1f1f1;

$nlmGreen: #d9f2d1;

$nlmYellow: #ffd36b;

/* Buttons */
$nlmColorFail: #a71d2a;
$nlmColorFailLight: #ff1744;
$nlmColorFailLightest: #ffe5e5;

$nlmColorPrimaryDark: $nlmDarkBlue;
$nlmColorPrimary: $nlmBlue;
$nlmColorPrimaryLight: $nlmLightBlue;
$nlmColorPrimaryLightest: #e2f0ff;

$nlmColorSecondaryDark: $nlmDarkGray;
$nlmColorSecondary: #545454;
$nlmColorSecondaryLight: $nlmGray;
$nlmColorSecondaryLightest: $nlmLightGray;

$nlmColorSuccess: #008000;
$nlmColorSuccessLight: #00c853;
$nlmColorSuccessLightest: #e5ffe5;

$nlmColorDisabled: #c0c0c0;
$nlmColorLightest: #fff;

/* Links */
$linkColor: $nlmColorPrimary;

/* Navigation */
$navBackgroundColor: $nlmColorPrimary;
$navColor: #eaeff4;
$navSecondBackgroundColor: $navColor;
$navSecondColor: $navBackgroundColor;
$navHeight: 80px; /*NAVIGATION_HEIGHT*/
$theme-banner-background-color: $navColor;
$theme-banner-link-color: $navBackgroundColor;

/* Form Controls */
$formInputTextColor: #495057;
$formInputBorderColor: #ced4da;
$formInputBorderFocusColor: #80bdff;
$formInputBorderRadius: 3px;

/* Typography */
$nlmBackgroundColor: $nlmColorLightest;
$nlmBannerBackgroundColor: $nlmYellow;
$nlmLineHeight: 1.25;
$nlmQualifiedColor: $nlmGreen;
$nlmRem: 16px;
$nlmSelectedBackgroundColor: #f5f5f5;
$nlmTextColor: $nlmColorSecondaryDark;
