/* Navigation */
$navBackgroundColor: #326295;
$navColor: #eaeff4;
$navSecondBackgroundColor: $navColor;
$navSecondColor: $navBackgroundColor;
$navHeight: 80px; /*NAVIGATION_HEIGHT*/
$theme-banner-background-color: $navColor;
$theme-banner-link-color: $navBackgroundColor;

/* Links */
$linkColor: #0f4e9d;

$navZIndex: 1050; // more than overlay backdrop z-index: 1000

$widthSm: 659px;
$widthMd: 845px;
