<div class="container">
    <mat-tab-group [selectedIndex]="selectedTabIndex"
                   (selectedIndexChange)="selectedTabIndex = $event">
        <mat-tab label="Org Admins">
            <ng-template matTabContent>
                <cde-org-admin *ngIf="selectedTabIndex === 0"></cde-org-admin>
            </ng-template>
        </mat-tab>
        <mat-tab label="Organizations">
            <ng-template matTabContent>
                <cde-orgs-edit></cde-orgs-edit>
            </ng-template>
        </mat-tab>
        <mat-tab label="List Management">
            <ng-template matTabContent>
                <cde-list-management></cde-list-management>
            </ng-template>
        </mat-tab>
        <mat-tab label="Status Validation Rules">
            <ng-template matTabContent>
                <cde-status-validation-rules></cde-status-validation-rules>
            </ng-template>
        </mat-tab>
        <mat-tab label="Users">
            <cde-users-mgt></cde-users-mgt>
        </mat-tab>
        <mat-tab label="Comments">
            <ng-template matTabContent>
                <cde-latest-comments></cde-latest-comments>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>

