<div class="container">
    <mat-tab-group>
        <mat-tab label="Org Admins">
            <cde-org-admin></cde-org-admin>
        </mat-tab>
        <mat-tab label="Organizations">
            <cde-orgs-edit></cde-orgs-edit>
        </mat-tab>
        <mat-tab label="List Management">
            <cde-list-management></cde-list-management>
        </mat-tab>
        <mat-tab label="Status Validation Rules">
            <cde-status-validation-rules></cde-status-validation-rules>
        </mat-tab>
        <mat-tab label="Users">
            <cde-users-mgt></cde-users-mgt>
        </mat-tab>
        <mat-tab label="Comments">
            <cde-latest-comments></cde-latest-comments>
        </mat-tab>
    </mat-tab-group>
</div>
