<div *ngIf="de.partOfBundles?.length" class="bundle-box">
    <mat-icon fill="1">error_circle_rounded</mat-icon>
    <b>This CDE is part of a bundle.</b> All CDEs within a bundle must be used together. Go
    to Form: {{de.partOfBundles.join(', ')}}
</div>
<dl id="general-details" class="cde-property-column inline-dl">
    <div class="flex-column">
        <dt>Question Text</dt>
        <dd itemprop="name">
            <ng-container *ngIf="getQuestionText(de); else noQuestionText">
                {{getQuestionText(de)}}
            </ng-container>
            <ng-template #noQuestionText>
                <span style="font-style: italic">Submitter did not provide a Question Text</span>
            </ng-template>
        </dd>
    </div>
    <div class="flex-column">
        <dt>Definition</dt>
        <dd itemprop="description">
            <ng-container *ngIf="de.definitions[0]; else noDefinition">
                <span *ngIf="de.definitions[0].definitionFormat !== 'html'; else descriptionHtml">{{de.definitions[0].definition}}</span>
                <ng-template #descriptionHtml>
                    <span [innerHtml]="de.definitions[0].definition"></span>
                </ng-template>
            </ng-container>
            <ng-template #noDefinition>
                <span style="font-style: italic">Submitter did not provide a Definition</span>
            </ng-template>
        </dd>
    </div>
    <div>
        <dt>Steward:</dt>
        <dd id="stewardOrg" itemprop="steward">
            <cde-inline-view [value]="de.stewardOrg.name"></cde-inline-view>
        </dd>
    </div>
    <div>
        <dt>Origin:</dt>
        <dd data-testid="origin">
            <cde-inline-view id="origin" [value]="de.origin">addNew</cde-inline-view>
        </dd>
    </div>
</dl>
<cde-de-readonly-datatype [elt]="de">{{de}}</cde-de-readonly-datatype>
<cde-naming [elt]="de"></cde-naming>
<h3>Concepts</h3>
<ng-template #noConcepts>
    <div>
        There are no concepts.
    </div>
</ng-template>
<div *ngIf="deGetAllConcepts(de).length > 0; else noConcepts" style="margin-bottom: 16px">
    <table class="sectionDetailTable table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Concept Name</th>
            <th>Concept Source</th>
            <th>Concept ID</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let config of conceptConfigurations">
            <tr *ngFor="let concept of de[config.type].concepts; index as i" itemscope
                itemtype="https://schema.org/MedicalCode">
                <td class="detailTableTdHead">
                    <strong>{{config.details.display}}</strong>
                </td>
                <td class="detailTableTd">
                                    <span (click)="relatedCdes(concept.name, config)" id="concept_cde_name_{{i}}"
                                          itemprop="name" class="fake-link">{{concept.name}}</span>
                </td>
                <td itemprop="codeSystem" class="detailTableTd">{{concept.origin}}</td>
                <td itemprop="codeValue" class="detailTableTd">{{concept.originId}}</td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>
<cde-identifiers [elt]="de"></cde-identifiers>
<h3 style="margin-top: 16px">Classification</h3>
<cde-classification-view [elt]="de"></cde-classification-view>
