<div>
    <div *ngIf="!editMode">
        <mat-icon *ngIf="isAllowed" title="Edit" class="hand-cursor" (click)="edit()">edit</mat-icon>
        <span>{{value}}</span>
    </div>
    <div *ngIf="editMode">
        <select class="form-control" [(ngModel)]="_value" name="inlineSelect">
            <option *ngFor="let selectOption of selectOptions;" [selected]="selectOption === _value">
                {{selectOption}}
            </option>
        </select>
        <button (click)="confirmSave()" type="button"><mat-icon>check</mat-icon>Confirm</button>
        <button (click)="discard()" type="button"><mat-icon>cancel</mat-icon>Discard</button>
    </div>
</div>