<h1>My Organizations' Admins</h1>
<form class="stack" #adminForm="ngForm" novalidate>
    <cde-username-autocomplete (selected)="newAdmin.username = $event"></cde-username-autocomplete>
    an administrator for
    <mat-form-field>
        <select matNativeControl name="newOrgAdminOrgName"
                [(ngModel)]="newAdmin.orgName" required>
            <option value="" disabled>select organization</option>
            <option *ngFor="let myOrgAdmin of orgAdmins" [value]="myOrgAdmin.name">{{myOrgAdmin.name}}</option>
        </select>
    </mat-form-field>
    <button type="submit" id="newOrgAdminSubmit" class="button"
            (click)="addOrgAdmin()" [disabled]="!adminForm.form.valid">Make Admin
    </button>
</form>
<table class="table table-border table-responsive">
    <tr>
        <th>Organization Name:</th>
        <th>Admins for this Organization:</th>
    </tr>
    <tr *ngFor="let orgAdmin of orgAdmins; let admIndex = index">
        <td id="existingOrgAdminOrgName-{{orgAdmin.name}}">
            {{orgAdmin.name}}
        </td>
        <td>
            <div *ngFor="let user of orgAdmin.users; let uIndex = index">
                <span id="existingOrgAdminUsername-{{admIndex}}-{{uIndex}}">{{user.username}}
                </span>
                <mat-icon id="removeOrgAdminUsername-{{admIndex}}-{{uIndex}}" class="hand-cursor"
                          (click)="removeOrgAdmin(orgAdmin.name, user._id)">delete_outline
                </mat-icon>
            </div>
        </td>
    </tr>
</table>
