<div class="container">
    <ngb-tabset class="pt20">
        <ngb-tab title="Organizations Admins">
            <ng-template ngbTabContent>
                <cde-org-admin></cde-org-admin>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Organizations Curators">
            <ng-template ngbTabContent>
                <form class="form-inline pt40 pb40" #newCuratorForm="ngForm" id="newOrgCuratorForm" novalidate>
                    Make&nbsp;
                    <div class="form-group">
                        <input id="newOrgCuratorUsername" name="newOrgCuratorUsername" type="text" class="form-control"
                               placeholder="enter user name" [(ngModel)]="newUsername" autocomplete="off"
                               [ngbTypeahead]="searchTypeahead" required>
                    </div>
                    &nbsp;a curator for&nbsp;
                    <div class="form-group">
                        <select id="newOrgCuratorOrgName" name="newOrgCuratorOrgName" class="form-control"
                                [(ngModel)]="newOrgName" required>
                            <option value="">select organization</option>
                            <option *ngFor="let myOrg of userService.user.orgAdmin">{{myOrg}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success" id="newOrgCuratorSubmit" (click)="addOrgCurator()"
                            [disabled]="!newCuratorForm.valid">
                        Make Curator
                    </button>
                </form>
                <table class="table table-border table-responsive">
                    <tr>
                        <th>Organization Name:</th>
                        <th>Curators for this Organization:</th>
                    </tr>
                    <tr *ngFor="let orgCurator of orgCurators; let $pindex = index">
                        <td id="existingOrgCuratorOrgName-{{orgCurator.name}}">{{orgCurator.name}}</td>
                        <td>
                            <div *ngFor="let user of orgCurator.users; let $index = index">
                                <span id="existingOrgCuratorUsername-{{$pindex}}-{{$index}}">{{user.username}}</span>
                                <i class="fa fa-trash-o hand-cursor" (click)="removeOrgCurator(orgCurator.name, user._id)"
                                   id="removeOrgCuratorUsername-{{$pindex}}-{{$index}}" title="Remove"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="CDE & Form Management" *ngIf="userService.user?.orgAdmin.length > 1">
            <ng-template ngbTabContent>
                <form class="form-inline pt40 pb40" role="form" id="transferStewardForm" name="transferStewardForm"
                      novalidate>
                    Transfer CDEs and forms owned by&nbsp;
                    <div class="form-group">
                        <select id="transferSteward_from" name="transferSteward_from" class="form-control"
                                [(ngModel)]="transferStewardObj.from" required>
                            <option value="">select organization</option>
                            <option *ngFor="let myOrg of userService.user.orgAdmin">{{myOrg}}</option>
                        </select>
                    </div>
                    &nbsp;to&nbsp;
                    <div class="form-group">
                        <select id="transferSteward_to" name="transferSteward_to" class="form-control"
                                [(ngModel)]="transferStewardObj.to" required>
                            <option value="">select organization</option>
                            <option *ngFor="let myOrg of userService.user.orgAdmin">{{myOrg}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success" id="transferStewardButton"
                            (click)="transferSteward()"
                            ng-disabled="transferStewardForm.transferSteward_from.$error.required || transferStewardForm.transferSteward_to.$error.required">
                        Transfer Now
                    </button>
                </form>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Embedding" *ngIf="userService.user?.orgAdmin.length > 0" id="embeddingTab">
            <ng-template ngbTabContent>
                <cde-embed></cde-embed>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
