<h1>My Published Forms</h1>
<ng-container *ngIf="user">
    <span *ngIf="!user.publishedForms?.length">You have no published forms.</span>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let pf of user.publishedForms">
            <a href="/server/system/data/{{pf.id}}?submit" target="_blank">{{pf.name}}</a>
            <mat-icon title="Remove" class="fake-button mL" role="button" tabindex="0"
                      (click)="removePublishedForm(user, pf)">delete_outline</mat-icon>
        </li>
    </ul>
</ng-container>
