<mat-tab-group>
    <mat-tab label="Site Admins">
        <cde-edit-site-admins></cde-edit-site-admins>
    </mat-tab>
    <mat-tab label="Users">
        <cde-users-mgt></cde-users-mgt>
    </mat-tab>
    <mat-tab label="Comments">
        <ng-template matTabContent>
            <cde-latest-comments></cde-latest-comments>
        </ng-template>
    </mat-tab>
    <mat-tab label="Drafts" id="draftsTab">
        <ng-template matTabContent>
            <cde-drafts-admin-list></cde-drafts-admin-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="Server Statuses">
        <cde-server-status></cde-server-status>
    </mat-tab>
    <mat-tab label="Articles" id="articlesTab">
        <cde-article-admin></cde-article-admin>
    </mat-tab>
    <mat-tab label="Resources" id="resourcesTab">
        <cde-resources-admin></cde-resources-admin>
    </mat-tab>
    <mat-tab label="Fhir Apps">
        <ng-template matTabContent>
            <cde-fhir-apps></cde-fhir-apps>
        </ng-template>
    </mat-tab>
</mat-tab-group>
