@import '../../theme';

label {
  font-weight: 700;
}

.createDeLayout {
  display: flex;
  flex-flow: row wrap;

  > :nth-child(1) {
    flex: 0 0 100%;

    @media (min-width: $screenLg) {
      flex: 0 0 41.67%;
    }
  }

  > :nth-child(2) {
    flex: 0 0 100%;

    @media (min-width: $screenLg) {
      flex: 0 0 58.33%;
    }
  }
}
