@import '../../theme';

.boardDeSummary {
  display: flex;
  flex-flow: row wrap;

  > :nth-child(1) {
    flex: 0 0 100%;

    @media (min-width: $screenLg) {
      flex: 0 0 33.33%;
    }
  }

  > :nth-child(2) {
    flex: 0 0 100%;

    @media (min-width: $screenSm) {
      flex: 0 0 66.67%;
    }

    @media (min-width: $screenLg) {
      flex: 0 0 41.67%;
    }
  }

  > :nth-child(3) {
    flex: 0 0 100%;

    @media (min-width: $screenSm) {
      flex: 0 0 33.33%;
    }

    @media (min-width: $screenLg) {
      flex: 0 0 25%;
    }
  }
}
