<label ng-if="options.showTitle" uib-tooltip="{{options.tooltip}}">{{options.title}}:</label>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-12" ng-repeat="result in options.results" ng-if="!result.match">
            <label>{{result.label}}: </label><span>{{left[result.property]}}</span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12" ng-repeat="result in options.results" ng-if="!result.match">
            <label>{{result.label}}: </label><span>{{right[result.property]}}</span>
        </div>
    </div>
</div>