<label ng-if="options.showTitle">{{options.title}}:</label>
<div class="row">
    <div class="col-md-6">
        <div class="col-xs-12 quickBoardContentCompareCol overflowHidden" ng-repeat="result in options.results"
         ng-if="result.match === false && left[result.leftIndex]">
        <div>
            {{left[result.leftIndex]}}
        </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="col-xs-12 quickBoardContentCompareCol overflowHidden" ng-repeat="result in options.results"
         ng-if="result.match === false && right[result.rightIndex]">
        <div>
            {{right[result.rightIndex]}}
        </div>
    </div>
</div>
</div>