<table class="table table-responsive">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>IP</th>
        <th>Date</th>
    </tr>
    <tr *ngFor="let elt of loginRecords;">
        <td>{{elt.user}}</td>
        <td>{{elt.email}}</td>
        <td>{{elt.ip}}</td>
        <td>{{elt.date | date : 'MMM d, y, h:mm a'}}</td>
    </tr>
</table>
<mat-paginator (page)="gotoPage($event)" [length]="1000"
               [pageIndex]="currentPage"
               [pageSize]="50" [hidePageSize]="true" style="font-size: 1.4em">
</mat-paginator>
