<h2>Reference Documents</h2>
<div *ngIf="elt.referenceDocuments.length === 0">
    There are no Reference Documents.
</div>
<ng-container *ngFor="let rd of elt.referenceDocuments;let i = index">
    <dl class="cde-property">
        <dt>
            <ng-container *ngIf="canEdit && rd.edit">Confirm Delete
                <mat-icon id="confirmRemoveReferenceDocument-{{i}}" class="fake-button" role="button" tabindex="0"
                          title="Confirm Delete" (click)="removeReferenceDocumentByIndex(i)">check</mat-icon>
                <mat-icon id="cancelRemoveReferenceDocument-{{i}}" class="fake-button" role="button" tabindex="0"
                          title="Cancel" (click)="rd.edit = false">cancel</mat-icon>
            </ng-container>
            <mat-icon *ngIf="canEdit && !rd.edit" title="Delete Reference Document"
                      id="removeReferenceDocument-{{i}}" class="fake-button" role="button" tabindex="0"
                      (click)="rd.edit = true">delete</mat-icon>
            <cde-sortable-array [theArray]="elt.referenceDocuments" [index]="i"
                                (cb)="eltChange.emit()"></cde-sortable-array>
            ID:
        </dt>
        <dd attr.itemprop="id_{{i}}">{{rd.referenceDocumentId}}</dd>

        <dt>Title:</dt>
        <dd attr.itemprop="title_{{i}}">{{rd.title}}</dd>

        <dt>URI:</dt>
        <dd attr.itemprop="uri_{{i}}"><a href="{{rd.uri}}" target="_blank" rel="noopener noreferrer">{{rd.uri}}</a></dd>

        <dt>Provider Org:</dt>
        <dd attr.itemprop="providerOrg_{{i}}">{{rd.providerOrg}}</dd>

        <dt>Language Code:</dt>
        <dd attr.itemprop="languageCode_{{i}}">{{rd.languageCode}}</dd>

        <dt>Document:</dt>
        <dd attr.itemprop="document_{{i}}">{{rd.document}}</dd>
    </dl>
    <hr>
</ng-container>
<button *ngIf="canEdit" id="openNewReferenceDocumentModalBtn" class="button mT" (click)="openNewReferenceDocumentModal()">
    <mat-icon>add</mat-icon>
    Add Reference Document
</button>

<ng-template #newReferenceDocumentContent>
    <h1 mat-dialog-title>Add ReferenceDocument</h1>
    <form #newReferenceDocumentForm="ngForm" (ngSubmit)="addNewReferenceDocument()">
        <div mat-dialog-content>
            <div class="form-group">
                <label for="newId">ID:</label>
                <input class="form-control" [(ngModel)]="newReferenceDocument.referenceDocumentId"
                       id="newId" name="newId" Placeholder="ID"/>
            </div>
            <div class="form-group">
                <label for="newTitle">Title:</label>
                <input class="form-control" [(ngModel)]="newReferenceDocument.title"
                       id="newTitle" name="newTitle" Placeholder="Title"/>
            </div>
            <div class="form-group">
                <label for="newDocType">Doc Type:</label>
                <input class="form-control" [(ngModel)]="newReferenceDocument.docType"
                       id="newDocType" name="newDocType" Placeholder="Doc Type"/>
            </div>
            <div class="form-group">
                <label for="newUri">URI:</label>
                <input class="form-control" id="newUri" name="newUri"
                       [(ngModel)]="newReferenceDocument.uri" Placeholder="URI"/>
            </div>
            <div class="form-group">
                <label for="newProviderOrg">Provider Org:</label>
                <input class="form-control" id="newProviderOrg" name="newProviderOrg"
                       [(ngModel)]="newReferenceDocument.providerOrg" Placeholder="Provider Org"/>
            </div>
            <div class="form-group">
                <label for="newLanguageCode">Language Code:</label>
                <input class="form-control" id="newLanguageCode" name="newLanguageCode"
                       [(ngModel)]="newReferenceDocument.languageCode" Placeholder="Language Code"/>
            </div>
            <div class="form-group">
                <label for="newDocument">Document:</label>
                <input class="form-control" id="newDocument" name="newDocument"
                       [(ngModel)]="newReferenceDocument.document" Placeholder="Document"/>
            </div>
        </div>
        <div mat-dialog-actions>
            <button class="button fail" [mat-dialog-close]>Cancel</button>
            <button type="submit" class="button">Save</button>
        </div>
    </form>
</ng-template>
