<div class="row">
    <h4>General Details</h4>
    <div class="row">
        <div class="col-sm-5 questionSectionLabel text-right">Name:</div>
        <div class="col-sm-7" id="dd_general_name" itemprop="name">{{elt.naming[0].designation}}</div>
    </div>
    <div class="row">
        <div class="col-sm-5 questionSectionLabel text-right">Steward:</div>
        <div class="col-sm-7" id="dd_general_steward">
            <cde-inline-edit [(model)]="elt.stewardOrg.name" [inputType]="'select'" [(selectOptions)]="userOrgs"
                             (modelChange)="save.emit();" [isAllowed]="canEdit"></cde-inline-edit>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 questionSectionLabel text-right">Definition:</div>
        <div class="col-sm-7" id="dd_def" itemprop="description">
            <span *ngIf="elt.naming[0].definitionFormat !== 'html'">{{elt.naming[0].definition}}</span>
            <span *ngIf="elt.naming[0].definitionFormat === 'html'" [innerHtml]="elt.naming[0].definition"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 questionSectionLabel text-right">Used By:</div>
        <div class="col-sm-7" id="dd_usedBy">
            <div *ngIf="elt.classification?.length > 0">
                <span *ngFor="let ub of elt.usedBy">{{ub}} </span>
            </div>
            <div *ngIf="!(elt.classification.length > 0)">
                <span>None</span>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="elt.origin">
        <div class="col-sm-5 questionSectionLabel text-right">Origin:</div>
        <div class="col-sm-7">
            <cde-inline-edit id="origin" [(model)]="elt.origin" [isAllowed]="canEdit" (modelChange)="save.emit();">
            </cde-inline-edit>
        </div>
    </div>
    <div class="row" *ngIf="elt.views">
        <div class="col-sm-5 questionSectionLabel text-right">Views:</div>
        <div class="col-sm-7" id="dd_views">{{elt.views}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 questionSectionLabel text-right">SDC View:</div>
        <div class="col-sm-7">
            <a href="/sdcview/?cdeId={{elt._id}}" aria-label="SDC View" target="_blank">
                <i class="fa fa-share-square-o"></i> SDC View</a>
        </div>
    </div>
    <div class="row" *ngIf="elt.imported">
        <div class="col-sm-5 questionSectionLabel text-right">Last import:</div>
        <div class="col-sm-7">{{elt.imported | date: 'MM/dd/yyyy @ h:mma'}}
        </div>
    </div>
    <div class="row" *ngIf="elt.created">
        <div class="col-sm-5 questionSectionLabel text-right">Created:</div>
        <div class="col-sm-7">{{elt.created | date: 'MM/dd/yyyy @ h:mma'}}
        </div>
    </div>
    <div class="row" *ngIf="elt.updated">
        <div class="col-sm-5 questionSectionLabel text-right">Updated:</div>
        <div class="col-sm-7" id="dd_updated">{{elt.updated | date: 'MM/dd/yyyy @ h:mma'}}
        </div>
    </div>
    <div class="row" *ngIf="elt.createdBy">
        <div class="col-sm-5 questionSectionLabel text-right">Created By:</div>
        <div class="col-sm-7" id="dd_createdBy">{{elt.createdBy.username}}
        </div>
    </div>
</div>