<div *ngIf="!elt">
    <h1 class="pt60 pb40 text-center">
        <i class="fa fa-spinner fa-pulse"></i>Loading...
    </h1>
</div>
<div *ngIf="elt?.tinyId" class="container-fluid" itemscope="http://schema.org/MedicalCode">
    <div id="warning">
        <div *ngIf="elt.archived" class="alert alert-warning mt20" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            <strong>Warning:</strong> this form is archived. You can
            <a id="viewCurrentEltLink" routerLink="/formView" [queryParams]="{tinyId: elt.tinyId}">view the current
                version here</a>.
        </div>
        <div *ngIf="elt.registrationState.registrationStatus=='Retired'" class="alert alert-warning mt20" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            <strong>Warning:</strong> this form is retired.
            <a *ngIf="elt.registrationState.replacedBy"
               routerLink="/deView" [queryParams]="{tinyId: elt.registrationState.replacedBy.tinyId}">Replacement</a>
        </div>
        <div *ngIf="elt.registrationState.administrativeStatus=='Retire Candidate'" class="alert alert-warning mt20"
             role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            <strong>Warning:</strong> this form is about to be retired.
            <a *ngIf="elt.registrationState.replacedBy"
               routerLink="/deView" [queryParams]="{tinyId: elt.registrationState.replacedBy.tinyId}">Possible
                Replacement</a>
        </div>
        <div *ngIf="elt.outdated" class="alert alert-info mt20" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            <strong>Note: </strong>Some CDEs in this form have newer version.
        </div>
        <div *ngIf="missingCdes.length > 0" class="alert alert-warning mt20" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            The following CDEs are part of a score but are missing from this form:
            <ul class="list-inline">
                <li *ngFor="let missCde of missingCdes;let i = index;">
                    <a href="/deView?tinyId={{missCde.tinyId}}" target="_blank">CDE {{i+1}},id: {{missCde.tinyId}}</a>
                    <span *ngIf="i < missingCdes.length">,</span></li>
            </ul>
        </div>
    </div>
    <h1 class="mobileViewH1 my-4">
        <cde-draft-slider [(isDraft)]="elt.isDraft" (isDraftChange)="$event?loadDraft(null):loadDataElement(null)"
                          [hidden]="drafts?.length === 0"></cde-draft-slider>
        {{elt.naming[0].designation}}
    </h1>
    <div class="pull-left">
        <div class="dropdown float-left">
            <button id="export" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-download"></i>
                <span class="hidden-sm-down-down"> Export</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="export">
                <ng-container *ngIf="isAllowedModel.loggedIn()">
                    <li class="dropdown-item">
                        <a id='nihJson' href="formById/{{elt._id}}" target="_blank">
                            JSON File, NIH/CDE Schema</a>
                        <a href="/schema/form" target="_blank"><i class="fa fa-info-circle"></i></a>
                    </li>
                    <li class="dropdown-item">
                        <a id='odmExport' href="formById/{{elt._id}}?type=xml&subtype=odm" target="_blank">
                            XML File, CDISC / ODM</a>
                        <a href="https://www.cdisc.org/standards/transport/odm" target="_blank">
                            <i class="fa fa-info-circle"></i></a>
                    </li>
                    <li class="dropdown-item">
                        <a id='sdcExport' href="formById/{{elt._id}}?type=xml&subtype=sdc" target="_blank">
                            XML File, SDC Schema</a>
                        <a href="https://github.com/esacinc/sdc-schema-package" target="_blank">
                            <i class="fa fa-info-circle"></i></a>
                    </li>
                    <li class="dropdown-item">
                        <a *ngIf="!isIe()" id='sdcHtmlExport'
                           href="formById/{{elt._id}}?type=xml&subtype=sdc&renderer=defaultHtml"
                           target="_blank">XML File, SDC Schema with XSL Transform</a>
                    </li>
                    <li class="dropdown-item">
                        <a id='nihXml' href="formById/{{elt._id}}?type=xml" target="_blank">
                            XML File, NIH/CDE Schema</a>
                    </li>
                    <li class="dropdown-item">
                        <a id='formPublishExport' (click)="openPreparePublishModal()"
                           target="_blank">Published Form</a>
                    </li>
                    <li class="dropdown-item">
                        <a id='nihRedCap' href="formById/{{elt._id}}?type=REDCap" target="_blank">REDCap</a>
                        <a href="https://projectredcap.org/" target="_blank"><i class="fa fa-info-circle"></i></a>
                    </li>
                </ng-container>
                <a class="dropdown-item" *ngIf="!isAllowedModel.loggedIn()" href="login">
                    Please login to export forms.</a>
            </ul>
        </div>
        <button *ngIf="quickBoardService.canAddElement(elt)" id="addToQuickBoard"
                class="btn btn-small btn-outline-secondary"
                title="Add to Compare List" (click)="quickBoardService.addToQuickBoard(elt)">
            <i class="fa fa-plus"></i><span class="hidden-sm-down-down"> Add to Quick Board</span>
        </button>
        <button id="addToBoard" class="btn btn-small btn-outline-secondary" title="Add to Board"
                (click)="mltPinModal.open([elt], 'cde')">
            <i class="fa fa-thumb-tack"></i><span class="hidden-sm-down-down"> Add to Board</span>
        </button>
        <button *ngIf="isAllowedModel.loggedIn()"
                id="pinAllCdes" class="btn btn-small btn-outline-secondary"
                title="Pin CDEs" (click)="pinAllCdesIntoBoard()">
            <i class="fa fa-cogs"></i><span class="hidden-sm-down-down"> Pin CDEs</span>
        </button>
        <button *ngIf="isAllowedModel.isOrgCurator()" id="copyFormBtn" class="btn btn-small btn-outline-secondary"
                title="Copy Form" (click)="openCopyElementModal()">
            <i class="fa fa-clone"></i><span class="hidden-sm-down-down"> Copy</span>
        </button>
        <button id="discussBtn" class="btn btn-small btn-outline-secondary" title="Discuss CDE"
                (click)="commentMode = !commentMode;">
            <i class="fa fa-comment" [ngClass]="{discussWrench: hasComments && !commentMode}"></i>
            <span class="hidden-sm-down-down"> Discuss</span>
        </button>
        <div class="navbar-expand-md navbar-light d-inline-block">
            <button class="btn btn-outline-secondary navbar-toggler hidden-md-up"
                    data-toggle="collapse" data-target="#leftNav" aria-controls="leftNav"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="pull-right text-end">
        <ng-container *ngIf="elt.isDraft">
            {{savingText}}
            <button class="btn btn-success" id="openSave" (click)="saveModal.openSaveModal();">
                <i class="fa fa-globe fa-lg"></i> Publish
            </button>
            <button class="btn btn-danger" id="deleteDraftBtn" (click)="removeDraft();">
                <i class="fa fa-trash fa-lg"></i> Delete Draft
            </button>
            <br>Changed by {{elt.updatedBy?.username}} on {{elt.updated | date: 'MM/dd/yyyy @ h:mma'}}
        </ng-container>
    </div>
    <div class="py-2 clearfix"></div>
    <div class="row">
        <div [ngClass]="{'col-9 eltCommentView':commentMode,'col-12':!commentMode}">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-12 navbar-expand-md navbar-light">
                    <div id="leftNav" class="collapse navbar-collapse">
                        <ul class="list-group">
                            <a id="preview_tab" class="list-group-item"
                               [ngClass]="{'active':currentTab ==='preview_tab'}"
                               (click)="currentTab ='preview_tab'">Preview
                                <i *ngIf="tabsCommented.indexOf('preview_tab') > -1" class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="general_tab" class="list-group-item"
                               [ngClass]="{'active':currentTab ==='general_tab'}"
                               (click)="currentTab ='general_tab'">General Detail
                                <i *ngIf="tabsCommented.indexOf('general_tab') > -1" class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="description_tab" class="list-group-item"
                               [ngClass]="{'active':currentTab ==='description_tab'}"
                               (click)="currentTab ='description_tab'">Form Description
                                <i *ngIf="tabsCommented.indexOf('description_tab') > -1"
                                   class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="naming_tab" class="list-group-item" [ngClass]="{'active':currentTab ==='naming_tab'}"
                               (click)="currentTab ='naming_tab'">Naming
                                <i *ngIf="tabsCommented.indexOf('naming_tab') > -1" class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="classification_tab" class="list-group-item"
                               [ngClass]="{'active':currentTab ==='classification_tab'}"
                               (click)="currentTab = 'classification_tab'">Classification
                                <i *ngIf="tabsCommented.indexOf('classification_tab') > -1"
                                   class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="referenceDocuments_tab" class="list-group-item"
                               [ngClass]="{'active':currentTab ==='referenceDocuments_tab'}"
                               (click)="currentTab = 'referenceDocuments_tab'">Reference Documents
                                <i *ngIf="tabsCommented.indexOf('referenceDocuments_tab') > -1"
                                   class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="displayProfiles_tab" class="list-group-item"
                               [ngClass]="{'active':currentTab ==='displayProfiles_tab'}"
                               (click)="currentTab = 'displayProfiles_tab'">Display Profiles
                                <i *ngIf="tabsCommented.indexOf('displayProfiles_tab') > -1"
                                   class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="properties_tab" class="list-group-item"
                               [ngClass]="{'active':currentTab ==='properties_tab'}"
                               (click)="currentTab = 'properties_tab'">Properties
                                <i *ngIf="tabsCommented.indexOf('properties_tab') > -1"
                                   class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="ids_tab" class="list-group-item" [ngClass]="{'active':currentTab ==='ids_tab'}"
                               (click)="currentTab = 'ids_tab'">Identifiers
                                <i *ngIf="tabsCommented.indexOf('ids_tab') > -1" class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="attachments_tab" class="list-group-item"
                               [ngClass]="{'active':currentTab ==='attachments_tab'}"
                               (click)="currentTab = 'attachments_tab'">Attachments
                                <i *ngIf="tabsCommented.indexOf('attachments_tab') > -1"
                                   class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                            <a id="history_tab" class="list-group-item"
                               [ngClass]="{'active':currentTab ==='history_tab'}"
                               (click)="currentTab = 'history_tab'">History
                                <i *ngIf="tabsCommented.indexOf('history_tab') > -1" class="fa fa-comments pull-right"
                                   aria-hidden="true"></i></a>
                        </ul>
                    </div>
                </div>
                <div id="middleView" class="col-xl-10 col-lg-9 col-12">
                    <ng-container *ngIf="currentTab === 'preview_tab'">
                        <cde-native-render-full [elt]="elt"></cde-native-render-full>
                    </ng-container>
                    <ng-container *ngIf="currentTab === 'general_tab'">
                        <cde-form-general-details [elt]="elt" [canEdit]="canEdit()" (onEltChange)="saveDraft()">
                        </cde-form-general-details>
                        <cde-admin-item-sources [elt]="elt"></cde-admin-item-sources>
                        <cde-registration [elt]="elt" (onEltChange)="saveDraft()"
                                          [canEdit]="canEdit()"></cde-registration>
                        <cde-linked-boards [elt]="elt"></cde-linked-boards>
                        <cde-linked-forms [elt]="elt"></cde-linked-forms>
                        <cde-form-term-mapping [elt]="elt"></cde-form-term-mapping>
                    </ng-container>
                    <ng-container *ngIf="currentTab=== 'description_tab'">
                        <cde-form-description [cache]="cache" [(elt)]="elt" [canEdit]="canEdit()"

                                              (isFormValid)="setIsValid($event)"
                                              (onEltChange)="saveDraft()"></cde-form-description>
                    </ng-container>
                    <ng-container *ngIf="currentTab=== 'naming_tab'">
                        <cde-naming [elt]="elt" [orgNamingTags]="orgNamingTags" [canEdit]="canEdit()"
                                    (onEltChange)="saveDraft();"></cde-naming>
                    </ng-container>
                    <ng-container *ngIf="currentTab=== 'classification_tab'">
                        <cde-form-classification [elt]="elt"></cde-form-classification>
                    </ng-container>
                    <ng-container *ngIf="currentTab=== 'referenceDocuments_tab'">
                        <cde-reference-document [elt]="elt" [canEdit]="canEdit()" (onEltChange)="saveDraft();">
                        </cde-reference-document>
                    </ng-container>
                    <ng-container *ngIf="currentTab=== 'displayProfiles_tab'">
                        <cde-display-profile [elt]="elt" [canEdit]="canEdit()" (onEltChange)="saveDraft();">
                        </cde-display-profile>
                    </ng-container>
                    <ng-container *ngIf="currentTab=== 'properties_tab'">
                        <cde-properties [elt]="elt" [canEdit]="canEdit()" (onEltChange)="saveDraft();">
                        </cde-properties>
                    </ng-container>
                    <ng-container *ngIf="currentTab=== 'ids_tab'">
                        <cde-identifiers [elt]="elt" [canEdit]="canEdit()" (onEltChange)="saveDraft();">
                        </cde-identifiers>
                    </ng-container>
                    <ng-container *ngIf="currentTab=== 'attachments_tab'">
                        <cde-attachments [elt]="elt" [canEdit]="canEdit()"
                                         (removeAttachment)="removeAttachment($event);"
                                         (setDefault)="setDefault($event);"
                                         (upload)="upload($event);"></cde-attachments>
                    </ng-container>
                    <ng-container *ngIf="currentTab=== 'history_tab'">
                        <cde-history [elt]="elt" [canEdit]="canEdit()"></cde-history>
                    </ng-container>
                </div>
            </div>
        </div>
        <div *ngIf="commentMode" [ngClass]="{'col-3':commentMode,'':!commentMode}"
             style="padding-left:10px;box-shadow: inset 10px 0 5px -2px #888;background-color: #f5f5f5;">
            <cde-discuss-area #commentAreaComponent [selectedElt]="currentTab" [eltId]="elt.tinyId" [elt]="elt"
                              (highlightedTabsChange)="loadHighlightedTabs($event)"
                              [eltName]="elt.naming[0].designation"></cde-discuss-area>
        </div>
    </div>
    <cde-save-modal #saveModal [elt]="elt" (save)="saveForm()"></cde-save-modal>
</div>

<ng-template #copyFormContent id="copyFormModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="copyFormModalHeader">
        <h4 class="modal-title">Create a copy</h4>
    </div>
    <div class="modal-body" id="copyFormModalBody">
        <p class="text-info">You are about to create a new CDE/Form by duplicating this one. Please specify a new name
            and a classification of the CDE/Form.</p>
        <cde-create-form [elt]="eltCopy" [extModalRef]="modalRef"></cde-create-form>
    </div>
</ng-template>

<ng-template #publishFormContent id="publishFormModal" let-c="close" let-d="dismiss">
    <form #createPublishedForm="ngForm">
        <div class="modal-header" id="publishFormModalHeader">
            <h3>Export to a Published Form</h3>
        </div>
        <div class="modal-body" id="publishFormModalBody">
            <p class="text-info">This export will generate a published version of this form that will submit data to
                the endpoint of your choice. Note that the NIH CDE Repository will not have access to any of the
                submitted.
                You will need to ensure that your endpoint meets your own security standards. A sample endpoint could be
                a
                Google Spreadsheet (via a Google Script published as a web app).
            </p>
            To get started, please follow these steps:
            <div class="form-group">
                <label for="publishedFormUrl">Copy paste that URL here:</label>
                <input type="url" class="form-control" id="publishedFormUrl" [(ngModel)]="formInput.endpointUrl"
                       name="publishedFormUrl" #endpointUrl="ngModel" required>
                <p *ngIf="endpointUrl.errors">Not a valid URL.</p>
                <p>Your published forms will appear in your profile.</p>
            </div>
            <div class="form-group">
                <label for="publishedFormName">Give your published form a name so you can find it more easily.</label>
                <input class="form-control" id="publishedFormName" [(ngModel)]="formInput.publishedFormName"
                       name="publishedFormName" required>
                Click "Publish my form" below and write down the final URL. This is the url you will open to start
                recording your data.
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" (click)="c()" id="cancelExport">Cancel</button>
            <button class="btn btn-success" (click)="publishForm(formInput)" id="goExport"
                    [disabled]="!createPublishedForm.form.valid">Publish my form.
            </button>
        </div>
    </form>
</ng-template>

<cde-pin-board-modal #mltPinModal module="form"></cde-pin-board-modal>
<cde-pin-board-modal #mltPinModalCde module="cde"></cde-pin-board-modal>
