<a class='btn btn-small btn-default fa fa-clipboard' (click)="openMergeForm()"> Merge Form</a>

<div bsModal #MergeFormModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <div class="alert-warning">{{warning}}</div>
                <h4>Merge <a target=_blank href="formView?tinyId={{left.tinyId}}">
                    {{left.naming[0].designation}}
                </a> into <a target=_blank href="formView?tinyId={{right.tinyId}}">
                    {{right.naming[0].designation}}
                </a></h4>
            </div>
            <div class="modal-body overflowHidden">
                <div class="row">
                    <div class="col-xs-12 col-md-2 col-lg-3 noRightPadding">
                        <div class="row">
                            <div class="col-xs-6 col-md-12 col-lg-12">
                                <h4>Form fields:</h4>
                                <div>
                                    <button class="btn btn-default btn-xs" (click)="selectAllFormMergerFields();"
                                            [disabled]="!ownTargetForm">
                                        All
                                    </button>
                                    <button class="btn btn-default btn-xs" (click)="deselectAllFormMergerFields();"
                                            [disabled]="!ownTargetForm">
                                        None
                                    </button>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.naming"
                                               [disabled]="!ownTargetForm"> Naming</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.referenceDocuments"
                                               [disabled]="!ownTargetForm">
                                        Ref Documents</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.properties"
                                               [disabled]="!ownTargetForm">
                                        Properties</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.ids"
                                               [disabled]="!ownTargetForm"> IDs</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.classifications"
                                               [disabled]="!ownTargetForm">
                                        Classifications</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.questions"
                                               [disabled]="!ownTargetForm"> Questions</label>
                                </div>
                            </div>
                            <div class="smallSpace left"></div>
                            <div class="col-xs-6 col-md-12 col-lg-12" *ngIf="mergeFields.questions">
                                <h4>CDE fields:</h4>
                                <div>
                                    <button class="btn btn-default btn-xs" (click)="selectAllCdeMergerFields();">All
                                    </button>
                                    <button class="btn btn-default btn-xs" (click)="deselectAllCdeMergerFields();">
                                        None
                                    </button>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.naming"> Naming</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.referenceDocuments">
                                        Ref Documents</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.properties">
                                        Properties</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.ids"> IDs</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.attachments">
                                        Attachment</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.dataSets">
                                        Data Set</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.cde.derivationRules">
                                        Derivation Rules
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.cde.sources">
                                        Sources
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.cde.classifications">
                                        Classifications
                                    </label>
                                </div>
                                <div class="smallSpace left"></div>
                                <div>
                                    <label>Retire CDE?
                                        <input type="checkbox" [(ngModel)]="mergeFields.cde.retireCde"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-10 col-lg-9 noLeftRightPadding">
                        <div class="row">
                            <div class="col-xs-12" *ngIf="mergeFields.questions">
                                <div class="col-xs-6">
                                    <bs-sortable #LeftSortableComponent [(ngModel)]="left.questions"
                                                 [itemTemplate]="questionTemplate" itemClass="sortable-item"
                                                 itemActiveClass="sortable-item-active" placeholderItem="Drag here"
                                                 placeholderClass="sortable-item" wrapperClass="sortable-wrapper">
                                    </bs-sortable>
                                    <button class="btn btn-default"
                                            (click)="addItem(left.questions)">
                                        <i class="fa fa-plus-square-o"></i> Add Placeholder
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <div *ngFor="let rightQuestion of right.questions" class="boxed-div overflowHidden"
                                         style="height: 75px;">
                                        <div class="row">
                                            <div class="col-xs-3 Label">Name:</div>
                                            <div class="col-xs-9 noLeftRightPadding">
                                                <a target="_blank"
                                                   href="deview?tinyId={{rightQuestion.question.cde.tinyId}}">
                                                    {{rightQuestion.question.cde.name}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div *ngIf="error" class="ui-state-error-text">{{error}}</div>
                <progressbar *ngIf="showProgressBar" [max]="allQuestions" [value]="questionsMerged">
                    <span style="color:white; white-space:nowrap;">{{questionsMerged}} / {{allQuestions}}</span>
                </progressbar>
                <button class="btn cancel" (click)="mergeFormModal.hide()" type="button">
                    {{doneMerge?'Close':'Cancel'}}
                </button>
                <button class="btn btn-warning" *ngIf="!doneMerge" [disabled]="error" (click)="doMerge()">Merge</button>
            </div>
        </div>
    </div>
</div>
<template #questionTemplate let-item="item" let-index="index">
    <div class="boxed-div overflowHidden" [ngClass]="item.value.isRetired?'bgOrange':''" style="height: 75px;"
         title="{{item.value.isRetired?'CDE is Retired':''}}">
        <div class="row">
            <div class="col-xs-3 Label">Name:</div>
            <div class="col-xs-8 noLeftRightPadding">
                <a target="_blank" href="deview?tinyId={{item.value.question.cde.tinyId}}">
                    {{item.value.question.cde.name}}
                </a>
            </div>
            <span *ngIf="item.value.own" class="red">Not own</span>
            <span *ngIf="item.value.error" class="red">{{item.value.error}}</span>
            <span class="fa fa-trash col-xs-1 noLeftRightPadding"
                  (click)="removeItem(left.questions,index)"></span>
        </div>
    </div>
</template>