<a class='btn btn-small btn-default fa fa-clipboard' id="mergeFormLeftToRight" (click)="mergeFormModal.toggle()">
    Merge Form</a>

<div bsModal #MergeFormModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <div *ngIf="info" id="mergFormInfoDiv">
                    <div *ngIf="info.warning" class="alert-warning">{{info.warning}}</div>
                    <div *ngIf="info.error" class="alert-error">{{info.error}}</div>
                    <h4>Merge <a target=_blank href="formView?tinyId={{left.tinyId}}">
                        {{left.naming[0].designation}}</a>
                        Into <a target=_blank href="formView?tinyId={{right.tinyId}}">
                            {{right.naming[0].designation}}</a>
                    </h4>
                </div>
            </div>
            <div class="modal-body overflowHidden">
                <div class="row">
                    <div class="col-xs-12 col-md-2 col-lg-2 noRightPadding">
                        <div class="row">
                            <div class="col-xs-6 col-md-12 col-lg-12">
                                <h4>Form fields:</h4>
                                <div>
                                    <button class="btn btn-default btn-xs" (click)="selectAllFormMergerFields();"
                                            [disabled]="!ownTargetForm">
                                        All
                                    </button>
                                    <button class="btn btn-default btn-xs" (click)="deselectAllFormMergerFields();"
                                            [disabled]="!ownTargetForm">
                                        None
                                    </button>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.naming"
                                               [disabled]="!ownTargetForm"> Naming</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.referenceDocuments"
                                               [disabled]="!ownTargetForm">
                                        Ref Documents</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.properties"
                                               [disabled]="!ownTargetForm">
                                        Properties</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.ids"
                                               [disabled]="!ownTargetForm"> IDs</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.classifications"
                                               [disabled]="!ownTargetForm">
                                        Classifications</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.questions"
                                               [disabled]="!ownTargetForm"> Questions</label>
                                </div>
                            </div>
                            <div class="smallSpace left"></div>
                            <div class="col-xs-6 col-md-12 col-lg-12" *ngIf="mergeFields.questions">
                                <h4>CDE fields:</h4>
                                <div>
                                    <button class="btn btn-default btn-xs" (click)="selectAllCdeMergerFields();">All
                                    </button>
                                    <button class="btn btn-default btn-xs" (click)="deselectAllCdeMergerFields();">
                                        None
                                    </button>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.naming"> Naming</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.referenceDocuments">
                                        Ref Documents</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.properties">
                                        Properties</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.ids"> IDs</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.attachments">
                                        Attachment</label>
                                </div>
                                <div>
                                    <label><input type="checkbox" [(ngModel)]="mergeFields.cde.dataSets">
                                        Data Set</label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.cde.derivationRules">
                                        Derivation Rules
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.cde.sources">
                                        Sources
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="mergeFields.cde.classifications">
                                        Classifications
                                    </label>
                                </div>
                                <div class="smallSpace left"></div>
                                <div>
                                    <label>Retire CDE?
                                        <input type="checkbox" [(ngModel)]="mergeFields.cde.retireCde"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-10 col-lg-10 noLeftRightPadding">
                        <div class="row">
                            <div class="col-xs-12" *ngIf="mergeFields.questions">
                                <div class="col-xs-6">
                                    <bs-sortable #LeftSortableComponent [(ngModel)]="left.questions"
                                                 [itemTemplate]="questionTemplate" itemClass="sortable-item"
                                                 itemActiveClass="sortable-item-active" placeholderItem="Drag here"
                                                 placeholderClass="sortable-item" wrapperClass="sortable-wrapper"
                                                 (onChange)="check()">
                                    </bs-sortable>
                                    <button class="btn btn-default"
                                            (click)="addItem(left.questions)">
                                        <i class="fa fa-plus-square-o"></i> Add Placeholder
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <div *ngFor="let rightQuestion of right.questions; let i = index"
                                         class="boxed-div overflowHidden" id="targetQuestion_{{i}}">
                                        <div class="row" style="height: 65px;">
                                            <div class="col-xs-3 Label">CDE Name:</div>
                                            <div class="col-xs-9 noLeftRightPadding">
                                                <a target="_blank"
                                                   href="deview?tinyId={{rightQuestion.question.cde.tinyId}}">
                                                    {{rightQuestion.question.cde.name}}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 Label">Tiny Id:</div>
                                            <div class="col-xs-8 noLeftRightPadding">
                                                {{rightQuestion.question.cde.tinyId}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <progressbar *ngIf="showProgressBar" [max]="maxNumberQuestions" [value]="numMergedQuestions">
                    <span style="color:white; white-space:nowrap;">{{questionsMerged}} / {{allQuestions}}</span>
                </progressbar>
                <button class="btn cancel" (click)="mergeFormModal.ngOnDestroy()" type="button">
                    {{(doneMerge && info)?'Close':'Cancel'}}
                </button>
                <button class="btn btn-warning" *ngIf="!(doneMerge || info)" (click)="doMerge()">
                    Merge
                </button>
            </div>
        </div>
    </div>
</div>
<template #questionTemplate let-item="item" let-index="index">
    <div class="boxed-div overflowHidden" [ngClass]="(item.value.info.warning || item.value.info.error)?'':'bgOrange'"
         title="{{item.value.isRetired?'CDE is Retired':''}}">
        <div class="row" style="height: 65px;">
            <div class="col-xs-3 Label">CDE Name:</div>
            <div class="col-xs-8 noLeftRightPadding">
                <a target="_blank" href="deview?tinyId={{item.value.question.cde.tinyId}}">
                    {{item.value.question.cde.name}}
                </a>
            </div>
            <span class="fa fa-trash col-xs-1 noLeftRightPadding"
                  (click)="removeItem(left.questions,index)"></span>
        </div>
        <span class="fa fa-arrow-right mergeRightArrow"
              [ngClass]="(item.value.info.warning || item.value.info.error)?'':'bgOrange'"></span>
        <div class="row">
            <div class="col-xs-3 Label">Tiny Id:</div>
            <div class="col-xs-4 noLeftRightPadding">
                {{item.value.question.cde.tinyId}}
            </div>
            <div class="col-xs-5" *ngIf="item.value.info.error || item.value.info.warning">
                <span *ngIf="item.value.info.error" class="red right">{{item.value.info.error}}</span>
                <span *ngIf="item.value.info.warning" class="bgLightYellow right">{{item.value.info.warning}}</span>
            </div>
        </div>
    </div>
</template>