<div class="container-fluid">

    <h4 *ngIf='mail.received.length==0 && mail.sent.length==0 && mail.archived.length==0'
        class="centerText">Your Inbox is empty.</h4>

    <div *ngIf="mail.received.length > 0">
        <h3>Received</h3>
        <ng-container *ngTemplateOutlet="mailTemplate; context: {type: 'received'}"></ng-container>
    </div>

    <div *ngIf="mail.sent.length > 0">
        <h3>Sent</h3>
        <ng-container *ngTemplateOutlet="mailTemplate; context: {type: 'sent'}"></ng-container>
    </div>

    <div *ngIf="mail.archived.length > 0">
        <h3>Sent</h3>
        <ng-container *ngTemplateOutlet="mailTemplate; context: {type: 'archived'}"></ng-container>
    </div>

</div>


<ng-template #mailTemplate let-type="type">

    <ngb-accordion [closeOthers]="true">
        <div *ngFor="let message of mail[type] | slice:0:20">
            <div *ngIf="message.type === 'CommentReply'">
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        {{message.date | date : medium}} |
                        <!--{{message.type | camelCaseToHuman}} | -->
                        {{message.author.name}} |
                        <!--{{message.typeCommentReply.comment.text | limitTo : 30}}-->
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <dl class="dl-horizontal">
                            <dt>User</dt>
                            <dd>{{message.author.name}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Reply</dt>
                            <dd>{{message.typeCommentReply.comment.text}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Element</dt>
                            <dd><a target="_blank" class="linkToElt"
                                   href="/{{message.typeCommentReply.element.eltType==='cde'?'deView':'formView'}}?tinyId={{message.typeCommentReply.element.eltId}}">{{message.typeCommentReply.element.name}}</a></dd>
                        </dl>

                        <span *ngIf="type === mailTypeReceived">
                            <button class="approveComment btn btn-sm btn-default"
                                    (click)="archiveMessage(message)"
                                    [ngClass]="{disabled: message.states[0].action==='Approved'}"
                                    type="button">Archive</button>
                        </span>

                    </ng-template>
                </ngb-panel>
            </div>

            <!--<div uib-accordion-group class='panel-default' ng-if="message.type === 'MergeRequest'">-->
            <!--<uib-accordion-heading>-->
            <!--{{message.date | date : medium}} | {{message.type | camelCaseToHuman}} |-->
            <!--{{message.typeRequest.destination.object.naming[0].designation}} | {{message.author.name}}-->
            <!--</uib-accordion-heading>-->
            <!--<div ng-include="'/cde/public/html/mergeRequestMessage.html'" ng-init="orgName = orgToManage; page = 'management';"></div>-->
            <!--</div>-->

            <!--<div uib-accordion-group class='panel-default' ng-if="message.type === 'CommentApproval'">-->
            <!--<uib-accordion-heading>-->
            <!--{{message.date | date : medium}} | {{message.type | camelCaseToHuman}} | {{message.author.name}} |-->
            <!--{{message.typeCommentApproval.comment.text | limitTo : 30}}-->
            <!--</uib-accordion-heading>-->
            <!--<div ng-include="'/system/public/html/messages/commentApproval.html'" ng-init="orgName = orgToManage; page = 'management';"></div>-->
            <!--</div>-->

            <div *ngIf="message.type === 'AttachmentApproval'">
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        {{message.date | date : medium}} |
                        <!--{{message.type | camelCaseToHuman}}-->
                        ( {{message.typeAttachmentApproval.filename}} ) | {{message.author.name}}
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <!--<h4>{{ message.type | camelCaseToHuman}}</h4>-->

                        <dl class="dl-horizontal">
                            <dt>User:</dt>
                            <dd>{{message.author.name}}

                            <dt>File:</dt>
                            <dd><a class="viewAttachmentLink" target="_blank" href="/data/{{message.typeAttachmentApproval.fileid}}">
                                {{message.typeAttachmentApproval.filename}}</a></dd>

                            <dt>Date:</dt>
                            <dd>{{message.typeAttachmentApproval.uploadDate | date : medium }}</dd>

                            <dt>Scanned:</dt>
                            <dd>
                                <span *ngIf="message.typeAttachmentApproval.scanned">Scanned by ClamAV</span>
                                <span class="text-danger" *ngIf="!message.typeAttachmentApproval.scanned">This file was not scanned by antivirus!</span>
                            </dd>

                        </dl>


                        <span *ngIf="type === 'received'">
                            <!--<button class="approveAttachment btn btn-sm btn-default" id='approve-{{message.typeAttachmentApproval.filename}}'-->
                                    <!--ng-controller="ApproveAttachmentCtrl" ng-click="approveAttachment(message)"-->
                                    <!--ng-class="{disabled: message.states[0].action==='Approved'}" type="button">Approve Attachment</button>-->
                            <!--<span ng-show="message.states[0].action==='Approved'">Approved on {{ message.states[0].date | date:medium }}</span>-->
                            <!--<button class="declineAttachment btn btn-sm btn-default" id='decline-{{message.typeAttachmentApproval.filename}}'-->
                                    <!--ng-controller="ApproveAttachmentCtrl" ng-click="declineAttachment(message)"-->
                                    <!--ng-class="{disabled: message.states[0].action==='Approved'}" type="button">Decline Attachment</button>-->
                        </span>

                        <!--<div ng-include="'/system/public/html/attachmentApproval.html'" ng-init="orgName = orgToManage; page = 'management';"></div>-->
                    </ng-template>
                </ngb-panel>

            </div>

            <!--<div uib-accordion-group class='panel-default' ng-if="message.type === 'BoardApproval'">-->
            <!--<uib-accordion-heading>-->
            <!--{{message.date | date : medium}} | {{message.type | camelCaseToHuman}} | {{message.author.name}}-->
            <!--</uib-accordion-heading>-->
            <!--<div ng-include="'/system/public/html/boardApproval.html'" ng-init="orgName = orgToManage; page = 'management';"></div>-->
            <!--</div>-->
        </div>
    </ngb-accordion>
</ng-template>