<div class="modal-header" id="addClassificationModalHeader">
    <h4>Add Classification</h4>
    nc: {{newClassification}}, in: {{ indices }}
</div>
<form name="form" role="form">
    <div class="modal-body" id="addClassificationModalBody">
        <!--div ng-show="classificationType == 'cdeClass'" class="form-group"-->
        <div ng-show="classificationType == 'cdeClass'" class="form-group">
            <label for="conceptSystem">Organization</label>
            <select class="form-control" ng-model="newClassification.orgName" name="orgName" ng-change="updateOrg()" ng-options='org for org in myOrgs'>
            </select>        
        </div>
       <div ng-include="'addClassificationCategory.html'" ng-repeat="i in newClassification.categories.concat(['a']) track by $index" ng-init="categories = org.classifications;level=$index;"></div>
    </div>
    <div class="modal-footer" id="addClassificationModalFooter">
        <button class="btn cancel" ng-click="cancelCreate()" id="cancelCreate">Cancel</button>
        <button class="btn btn-warning" ng-click="okCreate(newClassification)" ng-disabled="isClean() || form.$invalid" id="saveClassification">Save</button>
    </div>
</form>

<script type="text/ng-template" id="addClassificationCategory.html">   
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" ng-model="newClassification.categories[level]" ng-options='cat.name as cat.name for cat in getCategories(level)' ng-change='wipeRest(level)'>
        </select>   
    </div>     
</script>