<div class="modal-header" id="addClassificationModalHeader">
    <h4>Add Classification</h4>
</div>
<form name="form" role="form">
    <div class="modal-body" id="addClassificationModalBody">
        <div ng-click="wipeRest(0)"><span class="fake-link">{{org.name}}</span></div>        
        <div ng-repeat="cat in newClassification.categories" ng-click="wipeRest($index+1)" style="margin-left: {{10+10*$index}}px"><span class="fake-link">{{cat}}</span></div>
        <div ng-repeat="cat in getCategories(newClassification.categories.length)" ng-click="newClassification.categories.push(cat.name)" style="margin-left: {{10+10*newClassification.categories.length}}px" id="addClassification-{{cat.name}}">> <span class="fake-link">{{cat.name}}</span></div>
        <span class="input-group input-group-sm" id="addNewClassifToOrgName" style="margin-left: {{10+10*newClassification.categories.length}}px;">
            <form ng-submit="addClassification()"><input ng-model="parentScope.newClassifName" id="addNewCatName" class="form-control"></form>
            <span ng-click="addClassification()" class="input-group-addon hand-cursor" id="addClassificationButton"><i class="fa fa-plus"></i> Add</span>
        </span>        
    </div>
    <div class="modal-footer" id="addClassificationModalFooter">
        <button class="btn cancel" ng-click="close()">Close</button>
    </div>
</form>
