<!--div class="modal-header" id="addClassificationModalHeader">
    <h4>Add Classification</h4>
</div>
{{ newClassification }}
<form name="form" role="form">
    <div class="modal-body" id="addClassificationModalBody">
        <div ng-show="classificationType == 'cdeClass'" class="form-group">
            <label for="conceptSystem">Organization</label>
            <select class="form-control" ng-model="newClassification.orgName" name="orgName" ng-change="updateOrg()" ng-options='org for org in myOrgs'>
            </select>        
        </div>
       <div ng-include="'addClassificationCategory.html'" ng-repeat="i in newClassification.categories track by $index" ng-init="categories = org.classifications;level=$index;"></div>
       <button class="btn" ng-show="newClassification.categories[newClassification.categories.length-1]!=emptyCat" ng-click="newClassification.categories.push(emptyCat)"><i class="fa fa-plus"> </i> More</button>
    </div>
    <div class="modal-footer" id="addClassificationModalFooter">
        <button class="btn cancel" ng-click="cancelCreate()" id="cancelCreate">Cancel</button>
        <button ng-disabled="newClassification.categories[newClassification.categories.length-1]==emptyCat" class="btn btn-warning" ng-click="okCreate(newClassification)" ng-disabled="isClean() || form.$invalid" id="saveClassification">Save</button>
    </div>
</form>

<script type="text/ng-template" id="addClassificationCategory.html">      
    <div class="form-group" ng-init="cats = getCategories(level);">
    <div ng-if="level>0">Sub-category of {{ newClassification.categories[level-1] }}</div>
    <div ng-show="!addnew && cats.length>0" class="input-group">
        <select class="form-control" ng-model="newClassification.categories[level]" ng-options='cat.name as cat.name for cat in cats' ng-change='wipeRest(level+1)'>
        </select>   
        <span class="btn input-group-addon" ng-click="addnew = true; wipeRest(level+1); newClassification.categories[level]=emptyCat; "><i class="fa fa-plus"> </i> Create New</span>
        <span class="btn input-group-addon" ng-click="wipeRest(level);"><i class="fa fa-times"> </i> Cancel</span>
    </div>     
    <div ng-show="addnew || cats.length<=0" class="input-group">
        <input ng-model="newClassification.categories[level]" type="text" class="form-control" placeholder="New Category">            
        <span class="btn input-group-addon" ng-click="addnew = false; wipeRest(level+1); newClassification.categories[level]='';"><i class="fa fa-list"> </i> Use Existing</span>    
        <span class="btn input-group-addon" ng-click="wipeRest(level);"><i class="fa fa-times"> </i> Cancel</span>
    </div>   
    <div> 
</script>

<script type="text/ng-template" id="addClassificationCategory.html">      
    <span class="btn input-group-addon" ng-click="wipeRest(level);"><i class="fa fa-times"> </i> Cancel</span>
</script-->

<div class="modal-header" id="addClassificationModalHeader">
    <h4>Add Classification</h4>
</div>
{{ newClassification }}
<form name="form" role="form">
    <div class="modal-body" id="addClassificationModalBody">

        <!--ol class="breadcrumb">
            <li ng-click="wipeRest(0)"><span class="fake-link">{{org.name}}</span></li>
            <li ng-repeat="cat in newClassification.categories" ng-click="wipeRest($index+1)" ><span class="fake-link">{{cat}}</span></li>
        </ol>

        <ul>
            <li ng-repeat="cat in getCategories(newClassification.categories.length)" ng-click="newClassification.categories.push(cat.name)"><span class="fake-link">{{cat.name}}</span></li>
        </ul-->
        
        <!--ol class="breadcrumb">
            <li ng-click="wipeRest(0)"><span class="fake-link">{{org.name}}</span></li>
            <li ng-repeat="cat in newClassification.categories" ng-click="wipeRest($index+1)" ><span class="fake-link">{{cat}}</span></li>
        </ol>

        <ul>
            <li ng-repeat="cat in getCategories(newClassification.categories.length)" ng-click="newClassification.categories.push(cat.name)"><span class="fake-link">{{cat.name}}</span></li>
        </ul-->   
        <div ng-click="wipeRest(0)"><span class="fake-link">{{org.name}}</span></div>        
        <div ng-repeat="cat in newClassification.categories" ng-click="wipeRest($index+1)" style="margin-left: {{10+10*$index}}px"><span class="fake-link">{{cat}}</span></div>
        <div ng-repeat="cat in getCategories(newClassification.categories.length)" ng-click="newClassification.categories.push(cat.name)" style="margin-left: {{10+10*newClassification.categories.length}}px">> <span class="fake-link">{{cat.name}}</span></div>
        <span class="input-group" id="addNewClassifToOrgName" style="margin-left: {{10+10*newClassification.categories.length}}px;">
            <input ng-click="" id="addNewCatName" class="form-control">
            <span class="input-group-addon" ><i class="fa-times"></i> Add</span>
        </span>

        
    </div>
    <div class="modal-footer" id="addClassificationModalFooter">
        <button class="btn cancel" ng-click="close()">Close</button>
    </div>
</form>
