<div class="modal-header" id="addClassificationModalHeader">
    <h4>Add Classification</h4>
</div>
<form name="form" role="form">
<div class="modal-body" id="addClassificationModalBody">
    <div class="form-group">
        <label for="conceptSystem">Category</label>
        <!--input class="form-control" ng-model="newClassification.conceptSystem" name="conceptSystem" Placeholder="Category" 
               typeahead="cs for cs in classAutocomplete($viewValue)" required-->
        <input class="form-control" ng-model="newClassification.conceptSystem" name="conceptSystem" Placeholder="Category" 
               typeahead="cs for cs in orgClassSystems | filter:$viewValue | limitTo:8" required/>
    </div>

    <div class="form-group">
        <label for="concept">Sub Category</label>
        <textArea class="form-control" name="concept" ng-model="newClassification.concept" placeholder="Sub Category" required></textarea>
    </div>
</div>
<div class="modal-footer" id="addClassificationModalFooter">
    <button class="btn cancel" ng-click="cancelCreate()" id="cancelCreate">Cancel</button>
    <button class="btn btn-warning" ng-click="okCreate(newClassification)" ng-disabled="isClean() || form.$invalid" id="saveClassification">Save</button>
</div>
</form>
