<div class="modal-header" id="addUsedByModalHeader">
    <h4>Add Usage</h4>
</div>
<form name="form">
<div class="modal-body" id="addUsedByModalBody">
    <label for="usedBy">Used By: </label>
    <input ng-model="newUsedBy" name="usedBy" Placeholder="Used By" 
           typeahead="org.name for org in orgAutocomplete($viewValue)" required/>
</div>
<div class="modal-footer" id="addUsedByModalFooter">
    <button class="btn cancel" ng-click="cancelCreate()" id="cancelCreate">Cancel</button>
    <button class="btn btn-warning" ng-click="okCreate(newUsedBy)" ng-disabled="isClean() || form.$invalid" id="saveUsedBy">Save</button>
</div>
</form>
