<form class="form-search"  align="center" >
    <input name="search" type="text" ng-model="search.name" class="search-query" placeholder="Search" ng-change="onchangeSearch()">  
    <input id="search.submit" type="submit" value="Search" ng-click="reload()" class="btn"></input>
</form>

<div ng-repeat="board in boards">
    <div class="row-fluid">
        <div class="span12">
            <dl class="dl-horizontal">
                <dt>Name: </dt> 
                <dd id="dd_name_{{$index}}">{{board.name | placeholdEmpty}}</dd>
                <dt>Description: </dt>
                <dd id="dd_def_{{$index}}"><span ng-bind-html="board.description"/></dd>
                <dt>Owner: </dt><dd id="dd_owner_{{$index}}">{{board.owner.username}}</dd>
                <dt>Number of Cdes: </dt><dd id="dd_numb">{{board.pins.length}}</dd>
                <dt>Modified: </dt><dd id="dd_mod">{{board.updatedDate | date: 'MM/dd/yyyy @ h:mma'}}</dd>
            </dl>
            <a class="btn" href="#/board/{{board._id}}" id="view_{{$index}}">View Board</a> 
        </div>
    </div>
    <hr/>
</div>