<h3><center>{{board.name}}<center></h3>
            
<% var ejsPage = "board"; %>
<%- include accordionList.ejs %> 

<pagination align="center" direction-links="true" items-per-page="20" total-items="totalItems" page="currentPage"></pagination>

