<form class="form-search"  align="center" >
    <input name="search" type="text" ng-model="search.name" class="search-query" placeholder="Search" ng-change="onchangeSearch()">  
    <input id="search.submit" type="submit" value="Search" ng-click="reload()" class="btn"></input>
</form>

<%- include listOfBoards.ejs %>