<div ng-controller="SaveCdeCtrl">
<h4>General Details</h4>
<dl class="dl-horizontal">
    <dt>Name: </dt> <dd><inline-edit id="nameEdit" model="cde.naming[0].designation" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)"> </inline-edit></dd>
    <dt>Steward: </dt><dd>{{cde.stewardOrg.name}}</dd>
    <dt>Definition: </dt><dd id="dd_def"><inline-area-edit model="cde.naming[0].definition" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)"> </inline-area-edit></dd>
    <dt>Unit of Measure: </dt><dd><inline-edit id="uomEdit" model="cde.valueDomain.uom" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)"> </inline-edit></dd> 
    <dt>Id: </dt><dd>{{cde.uuid}}</dd>
    <dt>Version: </dt><dd>{{cde.version}}</dd>
    <dt ng-show="cde.origin">Origin: </dt><dd>{{cde.origin}}</dd>
    <dt ng-show="cde.originId">Origin ID: </dt><dd>{{cde.originId}}</dd>
    <dt>Status: </dt><dd><i id="editStatus" ng-show="isAllowed(cde)" class="icon-pencil" ng-click="openRegStatusUpdate()"></i> {{cde.registrationState.registrationStatus}}</dd>
    <dt ng-show="cde.formUsageCounter">Form Usage: </dt><dd>{{cde.formUsageCounter}}</dd>
    <dt ng-show="cde.views">Views: </dt><dd id="dd_views">{{cde.views}}</dd>
    <dt>Added to NLM: </dt>
    <dd ng-controller="AuditCtrl" >{{cde.created | date: 'MM/dd/yyyy @ h:mma'}}</dd>
    <dt ng-show="cde.updated">Updated in NLM: </dt><dd>{{cde.updated | date: 'MM/dd/yyyy @ h:mma'}}</dd>
    <dt id="dt_createdBy" ng-show="cde.createdBy">Created By: </dt><dd id="dd_createdBy">{{cde.createdBy.username}}</dd>
</dl>

<script type="text/ng-template" id="regStatusUpdate.html">
    <%- include regStatusUpdateModal.ejs %>
</script>
</div>
