<div ng-controller="SaveCdeCtrl">
<h4>General Details</h4>
<dl class="dl-horizontal">
<dt>Name: </dt> <dd><inline-edit model="cde.name" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)"> </inline-edit></dd>
<dt>Version: </dt><dd>{{cde.version}}</dd>
<dt ng-show="cde.origin">Origin: </dt><dd>{{cde.origin}}</dd>
<dt ng-show="cde.originId">Origin ID: </dt><dd>{{cde.originId}}</dd>
<dt>Owner: </dt><dd>{{cde.owningRegAuth}}</dd>
<dt>Definition: </dt><dd><inline-area-edit model="cde.definition" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)"> </inline-area-edit></dd>
<dt>Status: </dt><dd>{{cde.workflowStatus}}</dd>
<dt ng-show="cde.formUsageCounter">Form Usage: </dt><dd>{{cde.formUsageCounter}}</dd>
<dt>Added to NLM: </dt>
<dd ng-controller="AuditCtrl" >
    {{cde.created | date: 'MM/dd/yyyy @ h:mma'}}
    <%- include historyModal.ejs %>
</dd>
<dt ng-show="cde.updated">Updated in NLM: </dt><dd>{{cde.updated | date: 'MM/dd/yyyy @ h:mma'}}</dd>
<dt ng-show="cde.createdBy">Created By: </dt><dd>{{cde.createdBy.username}}</dd>
</dl>
</div>
