<div class="form-group">
    <label for="orgToManage">Manage Classifications for</label>
    <select class="form-control" ng-model="orgToManage" name="orgToManage" required ng-change="updateOrg()">
        <option ng-repeat="o in myOrgs" ng-value="o">{{o}}</option>
    </select>
</div>

<dl id="repeatCs">
<button class="btn btn-small btn-default" value="add" ng-click="openAddClassificationModal()" id="addClassification"><i class="fa fa-plus"> </i> Add Classification</button>

<!--div ng-repeat="conceptSystem in classificationToFilter() | orderBy:'name'">
    <dt>{{conceptSystem.name}}</dt>
    <dd>
        <div ng-repeat="concept in conceptSystem.elements | orderBy:'name'">
            <span ng-show="showDelete">
                Confirm Delete <a class="fa fa-check" ng-click="showDelete = false; removeClassification(orgToManage, conceptSystem.name, concept.name)" id="confirmRemoveClassification-{{$parent.$index}}-{{$index}}" title="OK" href=""></a>
                <a class="fa fa-times" ng-click="showDelete = false" title="Cancel" href=""></a>
            </span>
            <a ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o" id="removeClassification-{{$parent.$index}}-{{$index}}" title="Remove" href=""></a>
            <span id="classification-{{$parent.$index}}-{{$index}}">
                {{concept.name}}            
            </span>
        </div>
    </dd>
</div-->

<div ng-repeat="conceptSystem in classificationToFilter() | orderBy:'name'">
    <dt>{{conceptSystem.name}}</dt>
    <dd>
        <div ng-repeat="concept in conceptSystem.elements | orderBy:'name'">
            <span ng-show="showDelete">
                Confirm Delete <a class="fa fa-check" ng-click="showDelete = false; removeClassification(orgToManage, conceptSystem.name, concept.name)" id="confirmRemoveClassification-{{$parent.$index}}-{{$index}}" title="OK" href=""></a>
                <a class="fa fa-times" ng-click="showDelete = false" title="Cancel" href=""></a>
            </span>
            <a ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o" id="removeClassification-{{$parent.$index}}-{{$index}}" title="Remove" href=""></a>
            <span id="classification-{{$parent.$index}}-{{$index}}">
                {{concept.name}}            
            </span>
        </div>
    </dd>
</div>

<div id="repeatCs" class="container">
    <div  class="col-md-12 container">
        <div ng-repeat="elt in classificationToFilter()" class="col-md-6" ng-init='pathArray = [elt.name]; myOrg = true;'>
            <h6>{{elt.name}}</h6>
            <div ng-include="'classif-sub-elements.html'"></div>
        </div>
    </div>
</div>

<%- include classif-sub-elements.ejs %>

</dl>

<script type="text/ng-template" id="addClassificationModalContent.html">
    <%- include addClassification.ejs %>
</script>
