<script type="text/ng-template"  id="classif-sub-elements.html"> on : {{orgName}} -
    <ul class="fa-ul">
        <li ng-repeat="elt in elt.elements | orderBy:'name'" style="margin-right: -20px" ng-init="pathArray = pathArray.slice(0); pathArray.push(elt.name)">
            <span ng-show="myOrg">
                <span ng-show="showDelete">
                    Confirm Delete <a class="fa fa-check" ng-click="showDelete = false; removeClassification(orgName, pathArray)" 
                                      id="confirmRemoveClassification-{{$parent.$index}}-{{$index}}" title="OK" href=""></a>
                    <a class="fa fa-times" ng-click="showDelete = false" title="Cancel" href=""></a>
                </span>
                <a ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o" id="removeClassification-{{$parent.$index}}-{{$index}}" title="Remove" href=""></a>
            </span>
            <a href="/">
                <span ng-click="searchByClassification(stewardClassifications.stewardOrg.name, pathArray)" data-id="classification-{{$parent.$index}}-{{$index}}" class="hand-cursor">
                    {{elt.name}}  
                </span>
            </a> 
            <div ng-include="'classif-sub-elements.html'"></div>
        </li>
    </ul>
</script>