<!-- TODO: Fix how IDs are created. Right now, it can only handle two levels. -->
<script type="text/ng-template" id="classif-sub-elements.html">
    > <a href="/#/search">

            <span ng-click="searchByClassification(orgName, pathArray)"  id="classification-{{elt.name}}" data-id="classification-{{elt.name}}"class="name hand-cursor" ng:class="($parent.$parent.$parent.$index===undefined) ? 'first-level-classification' : ''">
                <span class="name">{{elt.name}}</span>
            </span>

    </a> 
    <span ng-show="myOrg">
        <a ng-show="page=='management'" ng-click="showRenameDialog(orgName, pathArray)" class="fa fa-pencil" ></a>
        <span ng-show="showDelete">
            Confirm
            <a class="fa fa-check" ng-click="showDelete=false; removeClassification(orgName, pathArray)" 
               title="OK" href=""></a>
            <a class="fa fa-times" ng-click="showDelete=false" title="Cancel" href=""></a>
        </span>
        <a ng-init="showDelete=false" 
           ng-click="showDelete=true" 
           ng-hide="showDelete" 
           class="fa fa-trash-o" 
           title="Remove" 
           href="">
        </a>
    </span>

    <ul class="fa-ul">
        <li ng-repeat="elt in elt.elements | orderBy:'name'"
            ng-include="'classif-sub-elements.html'"
            ng-init="pathArray=pathArray.slice(0); pathArray.push(elt.name)"
            id="classification-{{pathArray.join()}}">
        </li>
    </ul>
</script>

<script type="text/ng-template" id="classificationBody.html">
    <div id="repeatCs" class="container-fluid">
        <div ng-repeat="stewardClassifications in classificationToFilter()" class="pull-left" id="stewardClassificationGroup-{{stewardClassifications.stewardOrg.name}}">
            <h4 id="{{stewardClassifications.stewardOrg.name}}">{{stewardClassifications.stewardOrg.name}}</h4>
            <hr/>
            <div class="pull-left" 
                 ng-repeat="elt in stewardClassifications.elements" 
                 ng-init='pathArray = [elt.name]' 
                 id="conceptSystem-{{stewardClassifications.stewardOrg.name}}-{{elt.name}}">
                
                <ul class="fa-ul">
                    <li ng-include="'classif-sub-elements.html'" 
                        ng-init="myOrg = myOrgs.indexOf(stewardClassifications.stewardOrg.name) >= 0; orgName = stewardClassifications.stewardOrg.name; pathArray = pathArray.slice(0)"
                        id="classification-{{pathArray.join()}}">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>    