<h4>Concepts</h4>
<div ng-controller="ConceptsCtrl">
<div class="row">
    <div class="col-md-5">

        <%- include deConcepts.ejs %>
        XXXX
        <% var  deConceptName = "Class", 
         deConceptSource = cde.objectClass.concepts, 
          deConceptCallback = removeOcConcept; %>
        <%- include deConceptsTable.ejs %>
 
        
        <hr/>

        <button class="btn btn-small btn-default" value="add" ng-click="openNewConcept()" id="addConcept" ng-show="isAllowed(cde)"><i class="fa fa-plus"> </i> Add Concept</button>
    </div>

    <div class="col-md-7" ng-show="cdes">
        <h4>Sharing Concept</h4>
        <accordion>
            <accordion-group ng-repeat="cde in cdes" heading="{{cde.naming[0].designation}}">
                 <div class="row">
                        <%- include cdegeneraldetails.ejs %>
                  </div>
                  <div class="row" >
                    <a class='btn btn-default' ng-href="#/deview/?cdeId={{cde._id}}"><i class="fa fa-eye"></i> View Full Detail</a>
                  </div>
            </accordion-group>
        </accordion>
    </div>
</div>

<script type="text/ng-template" id="newConceptModalContent.html">
    <%- include newConceptModal.ejs %>
</script>
</div>
