<h4>Concepts</h4>
<div ng-controller="ConceptsCtrl">
<div class="row-fluid">
    <div class="span5">
<div ng-show="cde.dataElementConcept.concepts.length > 0">
<h5>Data Element</h5>
<table class="table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Code Name</th>
            <th>Code System</th>
            <th>Code ID</th>
            <th id="conceptActions" ng-show="isAllowed(cde)"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="concept in cde.dataElementConcept.concepts">
            <td><a ng-click="relatedCdes(concept)">{{concept.name}}</a></td>
            <td>{{concept.origin}}</td>
            <td>{{concept.originId}}</td>
            <td headers="actions" ng-show="isAllowed(cde)">
                 <a id="decConceptRemove-{{$index}}" class="fa fa-trash-o" ng-click="removeDecConcept($index)"> Remove</a>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div ng-show="cde.objectClass.concepts.length > 0">
<h5>Class</h5>
<table class="table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Code Name</th>
            <th>Code System</th>
            <th>Code ID</th>
            <th id="conceptActions" ng-show="isAllowed(cde)"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="concept in cde.objectClass.concepts">
            <td><a ng-click="relatedCdes(concept)">{{concept.name}}</a></td>
            <td>{{concept.origin}}</td>
            <td>{{concept.originId}}</td>
            <td headers="actions" ng-show="isAllowed(cde)">
                 <a id="ocConceptRemove-{{$index}}" class="fa fa-trash-o" ng-click="removeOcConcept($index)"> Remove</a>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div ng-show="cde.property.concepts.length > 0">
<h5>Property</h5>
<table class="table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Code Name</th>
            <th>Code System</th>
            <th>Code ID</th>
            <th id="conceptActions" ng-show="isAllowed(cde)"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="concept in cde.property.concepts">
            <td><a ng-click="relatedCdes(concept)">{{concept.name}}</a></td>
            <td>{{concept.origin}}</td>
            <td>{{concept.originId}}</td>
            <td headers="actions" ng-show="isAllowed(cde)">
                 <a id="propConceptRemove-{{$index}}" class="fa fa-trash-o" ng-click="removePropConcept($index)"> Remove</a>
            </td>
        </tr>
    </tbody>
</table>
</div>

<hr/>
    
<button class="btn btn-small" value="add" ng-click="openNewConcept()" id="addConcept" ng-show="isAllowed(cde)"><i class="fa fa-plus"> </i> Add Concept</button>
    </div>
    
    <div class="span7" ng-show="cdes">
        <h4>Sharing Concept</h4>
        <accordion>
            <accordion-group ng-repeat="cde in cdes" heading="{{cde.stewardOrg.name}} -- {{cde.naming[0].designation}}">
                 <div class="row-fluid">
                        <%- include cdegeneraldetails.ejs %>
                  </div>
                  <div class="row-fluid" >
                    <a class='btn' ng-href="#/deview/?cdeId={{cde._id}}"><i class="fa fa-eye"></i> View Full Detail</a>
                  </div>
            </accordion-group>
        </accordion>
    </div>
</div>

<script type="text/ng-template" id="newConceptModalContent.html">
    <%- include newConceptModal.ejs %>
</script>
</div>
