<div class="container">
<div>{{message}}</div>
    <div class="row-fluid" ng-repeat="con in contextAdmins">
        <div class="span4">{{con.name}}</div>
        <div class="span8">
            <div class="row-fluid" ng-repeat="us in con.users">
                <div class="span11">{{us.username}}</div>
                <div class="span1"><i class="icon-trash" ng-click="removeContextAdmin(con.name, us._id)"></i></div>
            </div>
        </div>
    </div>
    <div class="row-fluid input-prepend input-append">
        <select class="span5" type="text" ng-model="admin.ContextName">
            <option value="">--</option>
            <option ng-repeat="c in contexts" ng-value="c.name">{{c.name}}</option>
        </select>
        <input class="span5" type="text" ng-model="contextAdmin.username"></input>
        <span class="add-on" ng-click="addContextAdmin()">+</span>
    </div>
</div>