<div class="container">
<div>{{message}}</div>
<tabset>
    <tab heading="Context Admins">
        <div class="row-fluid" ng-repeat="con in contextAdmins">
            <div class="span4">{{con.name}}</div>
            <div class="span8">
                <div class="row-fluid" ng-repeat="us in con.users">
                    <div class="span11">{{us.username}}</div>
                    <div class="span1"><i class="icon-trash" ng-click="removeContextAdmin(con.name, us._id)"></i></div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row-fluid input-prepend input-append">
            <select class="span5" type="text" ng-model="admin.contextName">
                <option value="">--</option>
                <option ng-repeat="c in user.contextAdmin" ng-value="c">{{c}}</option>
            </select>
            <input class="span5" type="text" ng-model="contextAdmin.username"></input>
            <span class="add-on" ng-click="addContextAdmin()">+</span>
        </div>
    </tab>
    <tab heading="Context Curators">
        <div class="row-fluid" ng-repeat="con in contextCurators">
            <div class="span4">{{con.name}}</div>
            <div class="span8">
                <div class="row-fluid" ng-repeat="us in con.users">
                    <div class="span11">{{us.username}}</div>
                    <div class="span1"><i class="icon-trash" ng-click="removeContextCurator(con.name, us._id)"></i></div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row-fluid input-prepend input-append">
            <select class="span5" type="text" ng-model="curator.contextName">
                <option value="">--</option>
                <option ng-repeat="c in user.contextAdmin" ng-value="c">{{c}}</option>
            </select>
            <input class="span5" type="text" ng-model="contextCurator.username"></input>
            <span class="add-on" ng-click="addContextCurator()">+</span>
        </div>
    </tab>
</tabset>
</div>