
<form>
    <fieldset>
        <legend>Create Form</legend>
        <label>Name</label>
        <input type="text" required ng-model="form.name" name="form.name">
    <label for="form.instructions">Instructions</label><textarea required ng-model="form.instructions" name="form.instructions"></textarea><br />

    <label for="form.owningContext">Context</label>
    <select ng-model="form.owningContext" name="form.owningContext" required>
        <option value="">Select One</option>
        <option ng-repeat="c in user.contextAdmin" ng-value="c">{{c}}</option>
    </select>
     <br />

    <a href="#/listforms" class="btn">Cancel</a>
    <button ng-click="save()" class="btn-warning">Save</button>
    </fieldset>
</form>

