<form class="span10 offset1" name="createCde">
    <fieldset>
        <legend>Create Data Element</legend>
        
        <label>Name</label>
        <input type="text" required ng-model="cde.designation" name="cde.designation">
        <span ng-show="createCde.cde.designation.$error.required" class="help-inline">Required</span>

        <label>Definition</label>
        <input type="text" required ng-model="cde.definition" name="cde.definition">
        <span ng-show="createCde.cde.definition.$error.required" class="help-inline">Required</span>

        <label>Version</label>
        <input type="text" ng-model="cde.version" name="cde.version">

        <label for="cde.stewardOrg.name">Steward Organization</label>
        <select ng-model="cde.stewardOrg.name" name="cde.stewardOrg.name" required>
            <option value="">Select One</option>
            <option ng-repeat="o in myOrgs" ng-value="o">{{o}}</option>
        </select>
        <br />

        <a href="#/" class="btn">Cancel</a>
        <input id="cde.submit" type="submit" ng-click="save()" class="btn btn-success" value="Save" ng-disabled="isClean() || createCde.$invalid"></input>
    </fieldset>
</form>

