<div ng-controller="ClassificationCtrl" >
<h4>Classification</h4>
<div class="row-fluid" ng-show="message">
<div class="span2 offset5 alert-success">
    <center>{{message}}</center>
</div>
</div>

<button class="btn btn-small" value="add" ng-click="openAddClassificationModal()" id="addClassification" ng-show="isAllowedNonCuration(cde)"><i class="fa fa-plus"> </i> Add Classification</button>

<dl id="repeatCs">
<div ng-repeat="conceptSystemPerConcept in classificationToFilter() | filter:filterConceptSystemClassification">
    <dt>{{conceptSystemPerConcept.conceptSystem}}</dt>
    <dd>
        <div ng-repeat="class in cde.classification | filter:isInConceptSystem(conceptSystemPerConcept.conceptSystem)">
            <span ng-show="isAllowedNonCuration(cde)">
                <span ng-show="showDelete">
                    Confirm Delete <i class="icon-check" ng-click="showDelete = false; removeClassification(class)" id="confirmRemoveClassification-{{$parent.$index}}-{{$index}}"></i>
                    <i class="fa fa-trash-o" ng-click="showDelete = false"></i>
                </span>
                <i ng-click="showDelete = true" ng-hide="showDelete" class="icon-trash" id="removeClassification-{{$parent.$index}}-{{$index}}"></i>
            </span>
            <span id="classification-{{$parent.$index}}-{{$index}}">
                {{class.concept}}            
            </span>
        </div>
    </dd>
</div>
</dl>

<script type="text/ng-template" id="addClassificationModalContent.html">
    <%- include addClassification.ejs %>
</script>

</div>
