<dl class="dl-horizontal">
  <dt>Minimum Value: </dt>
  <dd>
     <span ng-show="editMinMode">
        <input ng-model="cde.valueDomain.datatypeFloat.minValue" integer/>
        <i class="fa fa-check" ng-click="editMinMode = false; stageCde(cde)" id="confirmMin"> OK</i>
        <i class="fa fa-times" ng-click="editMinMode = false"> Cancel</i>
     </span>
     <span ng-hide="editMinMode"><i ng-show="isAllowed(cde)" class="fa fa-pencil" ng-click="editMinMode = true"></i> {{cde.valueDomain.datatypeFloat.minValue| placeholdEmpty}}</span>
  </dd>
  <dt>Maximum Value: </dt>
  <dd>
     <span ng-show="editMaxMode">
        <input ng-model="cde.valueDomain.datatypeFloat.maxValue" integer/>
        <i class="fa fa-check" ng-click="editMaxMode = false; stageCde(cde)" id="confirmMax"> OK</i>
        <i class="fa fa-times" ng-click="editMaxMode = false"> Cancel</i>
     </span>
     <span ng-hide="editMaxMode"><i ng-show="isAllowed(cde)" class="fa fa-pencil" ng-click="editMaxMode = true"></i> {{cde.valueDomain.datatypeFloat.maxValue | placeholdEmpty}}</span>
  </dd>  
  <dt>Precision: </dt>
  <dd>
     <span ng-show="editPrecisionMode">
        <input ng-model="cde.valueDomain.datatypeFloat.precision" integer/>
        <i class="fa fa-check" ng-click="editPrecisionMode = false; stageCde(cde)" id="confirmMax"> OK</i>
        <i class="fa fa-times" ng-click="editPrecisionMode = false"> Cancel</i>
     </span>
     <span ng-hide="editPrecisionMode"><i ng-show="isAllowed(cde)" class="fa fa-pencil" ng-click="editPrecisionMode = true"></i> {{cde.valueDomain.datatypeFloat.precision | placeholdEmpty}}</span>
  </dd>  
</dl>