<dl class="dl-horizontal">
  <dt>Multiple Values:</dt>
  <dd>
    <input ng-disabled="!isAllowed(cde)" type="checkbox" ng-model="cde.valueDomain.datatypeValueList.multi" ng-change="stageCde(cde)" id="multipleValues_input" boolean/>
  </dd>
    <dt>Other (Please Specify):</dt>
    <dd>
      <input type="checkbox" ng-disabled="!isAllowed(cde)" ng-model="cde.valueDomain.datatypeValueList.otherPleaseSpecify" ng-change="changeOtherPleaseSpecify()" id="otherPleaseSpecify_input" boolean/>
    </dd>
  <span ng-show="cde.valueDomain.datatypeValueList.otherPleaseSpecify === true">
    <dt>Please Specify Text:</dt>
    <dd>
      <div inline-edit model="cde.valueDomain.datatypeValueList.otherPleaseSpecifyText" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)" id="otherPleaseSpecifyText_input"> </div>
    </dd>      
  </span>
</dl>
<hr/>
<h4>Permissible Values</h4>
<div><button ng-show="showValidateButton" ng-click="runManualValidation()">Validate</button></div>
<div ng-show="cde.valueDomain.permissibleValues.length == 0">No Permissible Values</div>
<table ng-show="cde.valueDomain.permissibleValues.length > 0" class="table-bordered table-condensed table-striped" summary="List of permissible values">
     <thead>
         <tr>
             <th id="name">Name</th>
             <th id="codeName">Code Name</th>
             <th id="code">Code</th>
             <th id="codeSystem">Code System</th>
             <th id="validation" ng-show="showValidationIcons || compareView">Match</th>
             <th id="actions" ng-show="isAllowed(cde)">Actions</th>
         </tr>
     </thead>
     <tbody>
         <tr id="pv-{{$index}}" ng-repeat="pv in cde.valueDomain.permissibleValues | limitTo:pvLimit">
            <td headers="name" id="pv-{{$index}}">
                <div inline-edit model="pv.permissibleValue" is-allowed="isAllowed(cde)" on-ok="stageCde(cde);"> </div>
            </td>
             <td headers="codeName" id="pvName-{{$index}}">
                <div inline-edit model="pv.valueMeaningName" is-allowed="isAllowed(cde)" typeahead-source="pVTypeheadVsacNameList" on-ok="stageCde(cde); runDelayedManualValidation();"></div>
             </td>
             <td headers="code" id="pvCode-{{$index}}">
                <div inline-edit model="pv.valueMeaningCode" is-allowed="isAllowed(cde)" on-ok="stageCde(cde); runDelayedManualValidation();"></div>
             </td>
             <td headers="codeSystem" id="pvCodeSystem-{{$index}}">
                <div inline-edit model="pv.codeSystemName" is-allowed="isAllowed(cde)" typeahead-source="pVTypeaheadCodeSystemNameList" on-ok="stageCde(cde); runDelayedManualValidation();"></div>
             </td>
             <td headers="validation" ng-show="showValidationIcons || compareView">
                 <span ng-switch="pv.isValid">
                     <i ng-switch-when="true" class="fa fa-check text-success" id="pv-{{$index}}-valid"></i>
                     <i ng-switch-default class="fa fa-exclamation text-warning" id="pv-{{$index}}-warning"></i>
                 </span>
             </td>
             <td headers="actions" ng-show="isAllowed(cde)">
                 <a id="pvUp-{{$index}}" class="btn-mini fa fa-arrow-up" ng-click="movePvUp($index)" ng-hide="$first" title="Up" href=""></a>
                 <a id="pvDown-{{$index}}" class="btn-mini fa fa-arrow-down" ng-click="movePvDown($index)" ng-hide="$last" title="Down" href=""></a>
                 <a id="pvRemove-{{$index}}" class="btn-mini fa fa-trash-o" ng-click="removePv($index)" title="Remove" href=""></a>
             </td>
         </tr>
         <tr ng-show="cde.valueDomain.permissibleValues.length > pvLimit">
             <td colspan="6">Showing {{pvLimit}} values. 
                 <a class="btn btn-small btn-default fa fa-plus" ng-click="pvLimit = pvLimit + 50" id="showMorePvs"> Show more</a>
             </td>
         </tr>
     </tbody>
 </table>
<a class="btn btn-small btn-default" ng-show="isAllowed(cde)" ng-click="addPv()"><i id="addPv" class="fa fa-plus"></i> Add Permissible Value</a>
<a class="btn btn-small btn-default" ng-show="isAllowed(cde)" ng-click="removeAllPvs()"><i id="removeAllPvs" class="fa fa-trash-o"></i> Remove All Values</a>
<hr/>


<%- include valueDomainVsac.ejs %>
<div ng-include="'valueDomainVsac.html'"></div>
