<h4>Permissible Values</h4>
<div ng-show="cde.valueDomain.permissibleValues.length == 0">No Permissible Values</div>
<table ng-show="cde.valueDomain.permissibleValues.length > 0" class="table-bordered table-condensed table-striped">
     <thead>
         <tr>
             <th>Name</th>
             <th>Code Name</th>
             <th>Code</th>
             <th>Code System</th>
         </tr>
     </thead>
     <tbody>
         <tr id="pv-{{$index}}" ng-repeat="pv in cde.valueDomain.permissibleValues">
             <td id="pv-{{$index}}"><inline-edit model="pv.permissibleValue" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)"> </inline-edit></td>
             <td id="pvName-{{$index}}">
                 <div>
                     <div ng-hide="editMode"> 
                         {{pv.valueMeaningName}} <i ng-show="canLinkPv" class="icon-link" ng-click="editMode=true"></i> 
                     </div>
                     <div ng-show="editMode">
                         <input type="text" ng-model="pv.valueMeaningName" typeahead="code.displayName for code in vsacValueSet | filter:$viewValue | limitTo:8"/>
                         <i class="icon-check" ng-click="editMode = false; attachPv(pv)"></i>
                         <i class="icon-remove" ng-click="editMode = false"></i>
                     </div>      
                 </div>
             </td>
             <td id="pvCode-{{$index}}">{{pv.valueMeaningCode}}</td>
             <td>{{pv.codeSystemName}}</td>
             <td ng-show="isAllowed(cde)">
                 <i id="pvRemove-{{$index}}" class="icon-remove-sign" ng-click="removePv($index)"></i>
                 <i id="pvUp-{{$index}}" class="icon-arrow-up" ng-click="movePvUp($index)" ng-hide="$first"></i>
                 <i id="pvDown-{{$index}}" class="icon-arrow-down" ng-click="movePvDown($index)" ng-hide="$last"></i>
             </td>
         </tr>
         <tr ng-show="cde.valueDomain.permissibleValues.length == 10">
             <td colspan="3">See full list in Detailed View</td>
         </tr>
     </tbody>
 </table>
<a class="btn btn-small" ng-show="isAllowed(cde)" ng-click="addPv()"><i id="addPv" class="icon-plus-sign-alt"></i> Add Permissible Value</a>
<hr/>

<h3>VSAC Value Set</h3>
<dl class="dl-horizontal" ng-show="cde.dataElementConcept.conceptualDomain.vsac">
    <dt>Value Set Name: </dt><dd>{{cde.dataElementConcept.conceptualDomain.vsac.name | placeholdEmpty}}</dd>
    <dt>Value Set ID: </dt><dd>{{cde.dataElementConcept.conceptualDomain.vsac.id | placeholdEmpty}}</dd>
    <dt>Value Set Version: </dt><dd>{{cde.dataElementConcept.conceptualDomain.vsac.version | placeholdEmpty}}</dd>
</dl>
<div ng-hide="cde.dataElementConcept.conceptualDomain.vsac">No Value Set specified.</div>
<div ng-controller="SaveCdeCtrl">
    <div>{{vsacError}}</div>
    <div ng-hide="editMode">
        <a class="btn" ng-show="isAllowed(cde)" ng-click="editMode=true">Update O.I.D</a>
    </div> 
    <div ng-show="editMode">
        <input name="vsacId" type="text" ng-model="cde.dataElementConcept.conceptualDomain.vsac.id" placeholder="VSAC O.I.D"/>
        <i id="vsacIdCheck" class="icon-check" ng-click="checkVsacId(cde); loadValueSet(); editMode = false"></i>
        <i class="icon-remove" ng-click="editMode = false"></i>
    </div>
</div>
<hr/>
<table ng-show="cde.dataElementConcept.conceptualDomain.vsac.id" class="table-bordered table-condensed table-striped">
     <thead>
         <tr>
             <th>Code Name</th>
             <th>Code</th>
             <th>Code System</th>
         </tr>
     </thead> 
     <tbody id="vsacTableBody">
         <tr ng-repeat="con in vsacValueSet">
             <td>{{con.displayName}}</td>
             <td>{{con.code}}</td>
             <td>{{con.codeSystemName}}</td>
         </tr>
     </tbody>
</table>
<hr/>
