<h4>Discussions</h4>
<div>{{message}}</div>

<textarea name="comment" ng-model="comment.content" placeholder="Please log in to comment"></textarea>
<input  name="postComment" type="button" value="Post" ng-click="addComment()" ng-disabled="!user._id"/>

<div ng-repeat="comment in cde.comments">
    <hr>
    <div class="row-fluid" style="background-color: lightgrey" >
        <b class="offset1 span9">{{comment.username}}</b>
        <div class="span2">{{comment.created | date: 'MM/dd/yyyy @ h:mma'}}</div>
    </div>
    <div class="row-fluid">
        <div class="span11">
            {{comment.text}}    
        </div>
        <div class="span1">
            <i class="icon-trash" ng-show="user._id == comment.user" ng-click="removeComment(comment._id)"></i>
        </div>
    </div>
</div>
