<h4>More Like This</h4>
<accordion>
    <accordion-group ng-repeat="cde in mltCdes" heading="{{cde.stewardOrg.name}} -- {{cde.naming[0].designation}}">
         <div class="row">
            <div class="col-md-6">
                <%- include cdegeneraldetails.ejs %>
            </div>
            <div class="col-md-4">
                <%- include valueDomainView.ejs %>
            </div>
             <div class="col-md-2">
                <img ng-repeat="attachment in cde.attachments | filter:isDefaultAttachment" src="/data/{{attachment.fileid}}"/> 
             </div>
         </div>
    </accordion-group>
</accordion>
