<div ng-controller="SaveCdeCtrl">

<div ng-repeat="namePair in cde.naming">
    <div class="row">
        <div class="col-md-1 text-right" ng-show="isAllowed(cde) && cde.naming.length > 1">
            <div class="row">
                <i ng-click="removeNamePair($index)" class="fa fa-trash-o" id="removeNaming-{{$index}}"></i></dd>
            </div>
        </div>
        <div class="col-md-11">
            <dl class="dl-horizontal">
                <dt>Name: </dt> 
                <dd id="dd_name_{{$index}}">
                    <span>
                        <span ng-hide="editMode">
                            <i ng-show="isAllowed(cde)" class="fa fa-edit" ng-click="editMode=true"></i> {{namePair.designation | placeholdEmpty}}
                        </span> 
                        <span ng-show="editMode">                       
                            <input type="text" ng-model="namePair.designation" class="form-control"/>
                            <button class="fa fa-check" ng-click="editMode = false; stageCde(cde)"> Confirm</button>
                            <button class="fa fa-times" ng-click="editMode = false"> Discard</button>
                        </span>       
                    </span>
                </dd>
                <dt>Definition: </dt>
                <dd id="dd_def_{{$index}}">
                    <div ng-hide="editMode" ng-switch="defFormat">
                       <i ng-show="isAllowed(cde)" class="fa fa-edit" ng-click="editMode=true"></i>&nbsp;
                       <span ng-switch-default><span ng-bind="namePair.definition"></span></span>
                       <span ng-switch-when="html"><span ng-bind-html="namePair.definition"></span></span>
                    </div>
                    <div ng-show="editMode">
                       <div class="btn-group definitionFormatRadio">
                           <button type="button" class="btn btn-default btn-xs" ng-model="defFormat" btn-radio="null">Plain Text</button>
                           <button type="button" class="btn btn-default btn-xs" ng-model="defFormat" btn-radio="'html'">Rich Text</button>
                       </div>                            
                       <textarea ng-show="defFormat != 'html'" ng-model="namePair.definition" class="form-control"></textarea> 
                       <div text-angular ng-show="defFormat == 'html'" ng-model="namePair.definition" ta-toolbar-group-class="btn-group btn-group-sm" ></div>                            
                       <button class="fa fa-check" ng-click="editMode = false; stageCde(cde)">Confirm</button>
                       <button class="fa fa-times" ng-click="editMode = false">Cancel</button>
                    </div>
                </dd>
                <dt>Context: </dt> 
                <dd id="dd_context_{{$index}}">
                    <span>
                        <span ng-hide="editMode">
                            <i ng-show="isAllowed(cde)" class="fa fa-edit" ng-click="editMode=true"></i> {{namePair.context.contextName | placeholdEmpty}}
                        </span> 
                        <span ng-show="editMode">                       
                            <input type="text" ng-model="namePair.context.contextName" class="form-control"/>
                            <button class="fa fa-check" ng-click="editMode = false; stageCde(cde)"> Confirm</button>
                            <button class="fa fa-times" ng-click="editMode = false"> Discard</button>
                        </span>       
                    </span>
                </dd>
            </dl>
        </div>
    </div>
    <hr/>
</div>

<button ng-show="isAllowed(cde)" class="btn btn-small btn-default" value="add" ng-click="openNewNamePair()" id="addNamePair"><i class="fa fa-plus"> </i> Add Naming</button>

<script type="text/ng-template" id="newNamePairModalContent.html">
    <%- include newNamePairModal.ejs %>
</script>

</div>