<div ng-controller="SaveCdeCtrl">

<div ng-repeat="namePair in cde.naming">
    <div class="row">
        <div class="col-md-1 text-right" ng-show="isAllowed(cde) && cde.naming.length > 1">
            <div class="row">
                <i ng-click="removeNamePair($index)" class="fa fa-trash-o" id="removeNaming-{{$index}}"></i></dd>
            </div>
        </div>
        <div class="col-md-11">
            <dl class="dl-horizontal">
                <dt>Name: </dt> 
                <dd id="dd_name_{{$index}}">
                    <inline-edit id="nameEdit" model="namePair.designation" is-allowed="isAllowed(cde)" on-ok="stageNewName(namePair)"> </inline-edit>
                </dd>
                <dt>Definition: </dt>
                <dd id="dd_def_{{$index}}">
                    <inline-area-edit inline-area-visibility="inlineAreaEditVisibility" model="namePair.definition" is-allowed="isAllowed(cde)" def-format="namePair.definitionFormat" on-ok="stageNewName(namePair)"> </inline-area-edit>
                </dd>
                <dt>Context: </dt> 
                <dd id="dd_context_{{$index}}">
                    <inline-edit id="nameEdit" model="namePair.context.contextName" is-allowed="isAllowed(cde)" on-ok="stageNewName(namePair)"> </inline-edit>
                </dd>
            </dl>
        </div>
    </div>
    <hr/>
</div>

<button ng-show="isAllowed(cde)" class="btn btn-small btn-default" value="add" ng-click="openNewNamePair()" id="addNamePair"><i class="fa fa-plus"> </i> Add Naming</button>

<script type="text/ng-template" id="newNamePairModalContent.html">
    <%- include newNamePairModal.ejs %>
</script>

</div>