<div ng-controller="UsedByCtrl">
<h4>Organizational Use</h4>

<button class="btn btn-small btn-default" value="add" ng-click="openAddUsedByModal()" id="addUsedBy" ng-show="isAllowedNonCuration(cde)"><i class="fa fa-plus"> </i> Add Usage</button>

<hr/>

<div ng-repeat="usedBy in cde.usedByOrgs track by $index">
    <span ng-show="isAllowedNonCuration(cde)">
        <span ng-show="showDelete">
            Confirm Delete <a class="fa fa-check" ng-click="showDelete = false; removeUsedBy(usedBy)" id="confirmRemoveUsedBy-{{$index}}" title="OK" href=""></a>
            <a class="fa fa-times" ng-click="showDelete = false" title="Cancel" href=""></a>
        </span>
        <a ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o" id="removeUsedBy-{{$index}}" title="Remove" href=""></a>
    </span>
    <span id="usedBy-{{$index}}">
        {{usedBy}}            
    </span>
</div>

<script type="text/ng-template" id="addUsedByModalContent.html">
    <%- include addUsedBy.ejs %>
</script>

</div>