<div class="container">
<tabset>
   <tab heading="General Details">
        <%- include cdegeneraldetails.ejs %>
    </tab>
   <tab heading="Permissible Values">
        <%- include valueDomainView.ejs %>
   </tab>
   <tab heading="DE Concepts">
        <%- include concepts.ejs %>
   </tab>
</tabset>
</div>
   

