<div class="container">
<div class='row-fluid'>
    
    <div class="span3">
        <ul class="nav nav-list pull-left">
          <li><a ng-click="scrollTo('general')"><i class="icon-chevron-right"></i> General</a></li>
          <li ng-repeat="module in form.modules"><a ng-click="scrollTo(module.name)"><i class="icon-chevron-right"></i> {{module.name}}</a></li>
        </ul>
    </div>
    
    <div class='span9'>
    <h4 id='general'>General Details</h4>
    <dl class="dl-horizontal">
        <dt>Name: </dt><dd>{{form.name}}</dd>
        <dt>Owner: </dt><dd>{{form.owningContext}}</dd>
        <dt>Instructions: </dt><dd>{{form.instructions || 'None'}}</dd>                
        <dt>Created: </dt><dd>{{form.created | date: 'MM/dd/yyyy @ h:mma'}}</dd>                
    </dl>

<h4>Sections</h4>
<div ng-repeat="module in form.modules">
    <h3 id="{{module.name}}">{{module.name}}</h3>
    <h4>Questions</h4>
    <p ng-show="module.questions.length == 0">There are no questions in this section. You can add questions to a form by browsing CDEs and adding them to a form in your cart.</p>
    <accordion>
        <accordion-group ng-repeat="question in module.questions" >
            <accordion-heading><i ng-show='!$first && isAllowed()' class="icon-arrow-up" ng-click="sortUp($index)"></i> <i ng-show='!$last && isAllowed()' class="icon-arrow-down" ng-click='sortDown($index)'></i> {{question.name}}</accordion-heading>
             <div class="row-fluid">
                <div class="span5">
                    <h5>Question Details</h5>
                    <dl class="dl-horizontal">
                        <dt>Question: </dt><dd><inline-edit model="question.name" is-allowed="isAllowed()" on-ok="stageQuestion()"> </inline-edit></dd>
                    </dl>
                </div>
                 <div class="span7">
                    <h5>Data Element Details</h5>
                    <dl class="dl-horizontal">
                    <dt>Name: </dt><dd>{{question.cde.name}}</dd>
                    <dt>Origin: </dt><dd>{{question.cde.origin}}</dd>
                    <dt>Origin ID: </dt><dd>{{question.cde.originId}}</dd>
                    <dt>Owner: </dt><dd>{{question.cde.owningContext}}</dd>
                    <dt>Definition: </dt><dd>{{question.cde.definition}}</dd>
                    <dt>Added to NLM: </dt><dd>{{question.cde.created | date: 'MM/dd/yyyy @ h:mma'}}</dd>
                    </dl>
                </div>
             </div>
        </accordion-group>
    </accordion>
</div>

<div class="row-fluid">
    <div class="span12" ng-show="form.unsaved">
        <button class="btn cancel" ng-click="revert()">Discard Changes</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
</div>

</div>
</div>
</div>