
<h4>Form Details</h4>
<div class="row-fluid">
    <h4>General Details</h4>
    <label class="label">Name: </label><div class="readonly-text">{{form.name}}</div>
    <label class="label">Owner: </label><div class="readonly-text">{{form.owningContext}}</div>
    <label class="label">Instructions: </label><div class="readonly-text">{{form.instructions}}</div>                
    <label class="label">Created: </label><div class="readonly-text">{{form.created | date: 'MM/dd/yyyy @ h:mma'}}</div>                
</div>


<h4>Questions</h4>
<accordion>
    <accordion-group ng-repeat="question in form.questions" >
        <accordion-heading><i ng-show='!$first' class="icon-arrow-up" ng-click="sortUp($index)"></i> <i ng-show='!$last' class="icon-arrow-down" ng-click='sortDown($index)'></i> {{question.cde.owningContext}} -- {{question.cde.longName}}</accordion-heading>
         <div class="row-fluid">
            <div class="span5">
                <h5>Question Details</h5>
                <label class="label">Question: </label><inline-edit model="question.value" is-allowed="isAllowed()" on-ok="stageQuestion()"> </inline-edit>
                <label class="label">Instructions: </label><inline-area-edit model="question.instructions" is-allowed="isAllowed(question)" on-ok="stageQuestion(question)"> </inline-area-edit>                
            </div>
             <div class="span7">
                <h5>CDE General Details</h5>
                <label class="label">Name: </label><div class="readonly-text">{{question.cde.longName}}</div>
                <label class="label">Origin: </label><div class="readonly-text">{{question.cde.origin}}</div>
                <label class="label">Origin ID: </label><div class="readonly-text">{{question.cde.originId}}</div>
                <label class="label">Owner: </label><div class="readonly-text">{{question.cde.owningContext}}</div>
                <label class="label">Definition: </label><div class="readonly-text">{{question.cde.preferredDefinition}}</div>
                <label class="label">Added to NLM: </label><div class="readonly-text">{{question.cde.created | date: 'MM/dd/yyyy @ h:mma'}}</div>
            </div>
         </div>
    </accordion-group>
</accordion>

<div class="row-fluid">
    <div class="span12" ng-show="form.unsaved">
        <button class="btn cancel" ng-click="revert()">Discard Changes</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
</div>
