<div modal="showHistory" close="closeHistory()" opts="modalOpts">
    <div class="modal-header">
        <h4>Previous Versions</h4>
    </div>
    
    <%- include cdeHistory.ejs %>

    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeHistory()">Cancel</button>
    </div>
</div>