<div modal="showHistory" close="closeHistory()" opts="modalOpts">
    <div class="modal-header">
        <h4>Previous Versions</h4>
    </div>
    <div class="modal-body">
        <table ng-show="priorCdes.length > 0" class="table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <td>Updated</td>
                    <td>Change Note</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="priorCde in priorCdes">
                    <td>{{priorCde.updated | date: 'MM/dd/yyyy @ h:mma'}}</td>
                    <td>{{priorCde.changeNote}}</td>
                </tr>
                <tr>
                    <td>{{cde.updated | date: 'MM/dd/yyyy @ h:mma'}}</td>
                    <td>{{cde.changeNote}}</td>
                </tr>
            </tbody>

        </table>
        <div ng-show="priorCdes.length == 0">This Data Element has no history</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeHistory()">Cancel</button>
    </div>
</div>