<!-- jumbotron -->
<div class="jumbotron">
    <div class="container-fluid">
        <img class="pull-left drop-cap-img" src="assets/img/nlmlogo-small.gif" />
        <p>
            <strong>Welcome to the NLM CDE project.</strong> 
            <small>Common Data Elements (CDE) is a new venture (project) to explore the understanding, construction and practice of data elements to support the development of infrastructure to facilitate the use of electronic health records (EHRs) in comparative effectiveness research (CER). <a target="_cde" href="http://www.nlm.nih.gov/cde/">Click here to learn more &raquo;</a></small>
        </p>
        
        <center>
            <a class="btn btn-danger btn-lg" role="button" href="/#/search">Go to CDE Search Tool</a>
        </center>
        
        <!-- p class="top40"><strong>Quick CDE Search:</strong>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group input-group-lg">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">All Organizations <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">All Organizations</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Organization 1</a></li>
                              <li><a href="#">Organization 2</a></li>
                              <li><a href="#">Organization 3</a></li>
                              <li><a href="#">Organization 4</a></li>
                              <li><a href="#">Organization 5</a></li>
                              <li><a href="#">...</a></li>
                            </ul>
                          </div>
                          <input type="text" class="form-control" placeholder="type search terms here..." >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-danger btn-lg" role="button"><i class="fa fa-search"></i> Search</a><a class="btn btn-default btn-lg" role="button"><i class="fa fa-trash-o"></i> Clear</a>
                    </div>
                </div>
                <br/>
            </div>
        </p-->
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>CDE Search</h2>
        <p>Perform advanced queries to find Common Data Elements. Browse existing Common Data Element collections. Curate, compare and create new Data Elements.</p>
        <p><a class="btn btn-default" href="/#/search" role="button">Search CDEs &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Boards</h2>
        <p>Create personal or public boards to collect Data Elements. Search for existing public boards that others have created.</p>
        <p><a class="btn btn-default" href="/#/boardList" role="button">Search boards &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Create Account</h2>
        <p>Register for an account to be able to create boards and discuss or create Data Elements.</p>
        <p><a class="btn btn-default" href="/#/login" role="button">Sign in or register &raquo;</a></p>
      </div>
    </div>
    <br/>
</div>