<table ng-controller="InboxCtrl" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="message in receivedMail">
            <td>{{message.type}}</td>
            <td>{{message.date | date : medium}}</td>
            <td>{{message.author.name}}</td>
        </tr>
    </tbody>
</table>