<accordion ng-repeat="message in receivedMail" close-others="oneAtATime">
    <accordion-group>
        <accordion-heading>
            {{message.date | date : medium}} | {{message.type}} | {{message.typeMergeRequest.destination.object.naming[0].designation}} | {{message.author.name}}
        </accordion-heading>
        
        <h4>Merge Request</h4>        
        <h5>CDE <a target="_blank" href="#/deview?cdeId={{message.typeMergeRequest.destination.object._id}}">{{message.typeMergeRequest.destination.object.naming[0].designation}}</a></h5>
        
    </accordion-group>
</accordion>