<accordion ng-repeat="message in receivedMail" close-others="oneAtATime">
    <accordion-group>
        <accordion-heading>
            {{message.date | date : medium}} | {{message.type}} | {{message.typeMergeRequest.destination.object.naming[0].designation}} | {{message.author.name}}
        </accordion-heading>
        
        <h4>Merge Request</h4>        
        CDE <a target="_blank" href="#/deview?cdeId={{message.typeMergeRequest.destination.object._id}}">{{message.typeMergeRequest.destination.object.naming[0].designation}}</a>
        <hr/>
        Imported Fields<br>
        Names <br>
        <ul>
            <li ng-repeat="n in message.typeMergeRequest.source.object.naming">{{ n.designation }}</li>
        </ul>
    </accordion-group>
</accordion>