<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="cde" id="ng-app" lang="en">
    <head>        
        <title>NLM CDE App</title>
        <script src="assets/js/angular-1.2.0rc1.min.js"></script>
        <script src="assets/js/angular-route.min.js"></script>
        <script src="assets/js/angular-resource.min.js"></script>
        <script src="assets/js/angular-sanitize.min.js"></script>
        <script src="assets/js/textAngular-1.0.2.min.js"></script>
        <script src="js/cde.js"></script>
        <script src="js/resources.js"></script>
        <script src="js/controllers.js"></script>
        <script src="assets/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
        <link href="assets/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <div ng-controller="MainCtrl">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">CDEs and Forms</a>
                    <ul class="nav">
                        <li class="{{menuHome}}"><a href="/">CDEs</a></li>
                        <li class="{{menuForm}}"><a id="formsLink" href="#/listforms">Forms</a></li>
                        <!--<li ng-show='isOrgCurator()' class="{{menuCreate}}"><a href="#/createCde">Create</a></li>-->
                        
                        <li ng-show='user._id' class="dropdown">    
                            <a class="dropdown-toggle" data-toggle="dropdown-c" href="#">Create <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/createCde">CDE</a></li>
                                <li><a href="#/createform">Form</a></li>
                            </ul>
                        </li>                        
                        <li class="{{menuCart}}" ng-show='user._id'><a id="cartLink" href="#/cart">Cart ({{user.formCart.length}})</a></li>
<!--
                        <li class="{{menuIntRev}}" ng-show='isOrgAdmin()'><a href="#/internalreview">Review</a></li>
                        <li class="{{menuNlmRev}}" ng-show='user.nlmAdmin'><a href='#/nlmreleased'>Admin</a></li> -->
                    </ul>
                    <ul class="nav pull-right">
                        <li class="{{menuLogin}}" ng-show='!user._id'><a href="#/login">Log In</a></li>
                        <li class="{{menuAccount}}" ng-show="user._id">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu"> 
                                <li ng-show="isOrgAdmin() && !user.siteAdmin"><a href="#/orgaccountmanagement">Account Management</a></li>
                                <li ng-show='user._id && user.siteAdmin'><a href="#/siteaccountmanagement">Site Management</a></li>
                                <li ng-show='user._id'><a href="/logout">Log Out</a></li>                                         
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        <div ng-view>
        </div>            
        </div>
        <script src="assets/js/diff_match_patch.js"></script>

    </body>
</html> 
