<!doctype html>
<html ng-app="cde">
    <head>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/angular-resource.min.js"></script>
        <script src="js/cde.js"></script>
        <script src="js/resources.js"></script>
        <script src="js/controllers.js"></script>
        <script src="assets/js/ui-bootstrap-tpls-0.3.0.min.js"></script>
        <link href="assets/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <style>
            a.caret-before {
              padding-right:1px !important;
            }
            a.caret-after {
                padding-left:1px !important;
            }
        </style>
    </head>
    <body>
        <div ng-controller="MainCtrl">
        <div class="nav-collapse">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">CDEs and Forms</a>
                    <ul class="nav">
                        <li class="{{menuHome}}"><a href="/">Home</a></li>
                        <li class="{{menuForm}}">
                            <a href="#/listforms" class="caret-before">Forms</a>
                        </li>
<!--                        
                        <li ng-show='user._id' class="dropdown">    
                            <a class="dropdown-toggle caret-after" data-toggle="dropdown">
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="#/listforms">Browse Forms</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="#/createform">Create Form</a>
                                </li>
                            </ul>
                        </li>                        
                        <li class="{{menuCart}}" ng-show='user._id'><a href="#/cart">Cart ({{user.formCart.length}})</a></li>
                        <li class="{{menuIntRev}}" ng-show='isContextAdmin()'><a href="#/internalreview">Review</a></li>
                        <li class="{{menuNlmRev}}" ng-show='user.nlmAdmin'><a href='#/nlmreleased'>Admin</a></li> -->
                        <li class="{{menuLogin}}" ng-show='!user._id'><a href="#/login">Log In</a></li>
                        <li ng-show='user._id'><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-view>
        </div>            
        </div>
        
    </body>
</html> 
