<!doctype html>
<html ng-app="cde">
    <head>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/angular-resource.min.js"></script>
        <script src="js/cde.js"></script>
        <script src="js/resources.js"></script>
        <script src="js/controllers.js"></script>
        <script src="assets/js/ui-bootstrap-tpls-0.3.0.min.js"></script>
        <link href="assets/css/chromatable.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <div class="nav-collapse" ng-controller="AuthCtrl">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">CDEs and Forms</a>
                    <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li ng-show='user._id' class="dropdown" >
                        <a href="#/listforms">Forms</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="form-dropdown"><span class="caret"></span></a>
                    </li>
                    <li ng-show='user._id'><a href="#/cart">Cart ({{user.formCart.length}})</a></li>
                    <li ng-show='!user._id'><a href="/login">Log In</a></li>
                    <li ng-show='user._id'><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div ng-view>
        </div>            
    </body>
</html> 
