<!doctype html>
<html ng-app="cde">
    <head>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/angular-resource.min.js"></script>
        <script src="js/cde.js"></script>
        <script src="js/resources.js"></script>
        <script src="js/controllers.js"></script>
        <script src="assets/js/ui-bootstrap-tpls-0.3.0.min.js"></script>
        <link href="assets/css/chromatable.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <div class="nav-collapse" ng-controller="AuthCtrl">
            <ul class="nav pull-right">
                <li class="dropdown">
                    <p>
                    <a href="/">Home</a> |
                    <span ng-show='user._id'><a href="#/listforms">Forms</a> |</span>
                    <span ng-show='user._id'><a href="#/cart">Cart ({{user.formCart.length}})</a> |</span>
                    <a ng-show='!user._id' href="/login">Log In</a>
                    <a ng-show='user._id' href="/logout">Log Out</a>
                    </p>
                </li>
            </ul>
        </div>
        
        <div ng-view>
        </div>            
    </body>
</html> 
