<div>
    <div ng-hide="editMode">
        {{model}}<button ng-show="isAllowed()" class="icon-pencil" ng-click="value=model; editMode=true"/>
    </div>
    <div ng-show="editMode">
        <textarea ng-model="value" ></textarea>
        <button class="icon-ok" ng-click="model = value;editMode = false; onOk()"/>
        <button class="icon-remove" ng-click="editMode = false"/>
    </div>       
</div>