<pagination direction-links="true" num-pages="numPages" max-size="10" total-items="totalItems"></pagination>

<form class="form-search">
<input name="search.name" type="text" ng-model="search.name" class="search-query" placeholder="Search Name" typeahead="cde.name for cde in autocomplete($viewValue)" >
<select ng-model="search.stewardOrg.name" name="stewardOrg.name" ng-change="removeOwningOrg(); reload()">
    <option value="" >Any Organization</option>
    <option ng-repeat="o in orgs" ng-value="o">{{o}}</option>    
</select>
<select ng-model="search.registrationState.registrationStatus" name="registrationStatus" ng-options="status as status for status in registrationStatuses" ng-change="removeRegistrationStatus(); reload()">
    <option value="">Any Status</option>
</select>
<select ng-model="search.classificationSystem" name="conceptSystem" ng-change="removeClassificationSystem(); reload()">
    <option ng-repeat="classif in classificationTree" ng-value="classif._id.system">{{classif._id.system}}</option>
    <option value="">Any Classification</option>
</select>
<input id="search.submit" type="submit" value="Search" ng-click="reload()" class="btn"></input>
</form>

<accordion>
    <accordion-group ng-repeat="cde in cdes" heading="{{cde.stewardOrg.name}} -- {{cde.naming[0].designation}}">
         <div class="row-fluid">
            <div class="span5">
                <%- include cdegeneraldetails.ejs %>
            </div>
            <div class="span3">
                <%- include concepts.ejs %>
            </div>
            <div class="span4">
                <h4>Permissible Values</h4>
                <div ng-controller="LinkVsacCtrl">
                    <dl class="dl-horizontal">
                        <dt>Value Set Name: </dt><dd><i class="icon-link" ng-show="isAllowed(cde)" ng-click="showLinkModal=true" tooltip="Link to VSAC "></i> {{cde.valueDomain.name}}</dd>
                    </dl>
                    <script type="text/ng-template" id="vsacLinkModalContent.html">
                        <div class="modal-header">
                            <h4>Save</h4>
                        </div>
                        <div class="modal-body">
                            <label for="vsId">VSAC Value Set OID</label>
                            <input type="text" ng-model="vsId" name="vsId" required></input><br />
                            <label for="changeNote">Change Note</label>
                            <textArea name="changeNote" ng-model="cde.changeNote" placeholder="Optional Change Note"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn cancel" ng-click="showLinkModal = false">Cancel</button>
                            <button class="btn btn-warning cancel" ng-click="linktovsac(cde, vsId); showLinkModal = false">Save</button>
                        </div>
                    </script>
                </div>
                <%- include valueDomainView.ejs %>
            </div>
          </div>
        <div class="row-fluid" >
            <!--
            <span ng-controller="AddToFormCtrl" class="dropdown">
                <a ng-show="user._id" class="btn-small btn-primary" ng-click="openModal()"><i class="icon-list-alt"> Add to Form</i></a>
                <%- include addToFormModal.ejs %> 
            </span>
            -->
            <a class='btn' ng-href="#/deview/?cdeId={{cde._id}}"><i class="icon-eye-open"> View Full Detail</i></a>
<!--            <span ng-controller="RegistrationCtrl" ng-show='isAllowed(cde)'>
                <span ng-show="cde.registrationStatus == 'Draft'">
                    <a class="btn-small btn-primary" ng-click="changeStatus(cde, 'Internal Review')"><i class="icon-check-empty"> Submit for Internal Review</i></a>
                </span>
            </span>-->
        </div>
    </accordion-group>
</accordion>
