
<form class="form-search"  align="center" >
    <input name="ftsearch" type="text" ng-model="ftsearch" class="search-query" placeholder="Search" ng-change="onchangeSearch()">  
    <input id="search.submit" type="submit" value="Search" ng-click="reload()" class="btn"></input>
</form>

<div class="row-fluid">
    <div class="span1">
        <strong>Stewards</strong>
        <ul class="fa-ul">
            <li ng-repeat="t in facets.orgs.terms" style="margin-right: -20px" ng-switch="t.selected" ng-click="addFilter(t)">
                <i ng-switch-default class="fa-li fa fa-square-o" id="li-blank-{{t.term}}" ></i>
                <i ng-switch-when="true" class="fa-li fa fa-check-square-o" id="li-checked-{{t.term}}"></i>
                <small> {{t.term}} ({{t.count}})</small>
            </li>
        </ul>
        <strong>Status</strong>
        <ul class="fa-ul">
            <li ng-repeat="t in facets.statuses.terms" style="margin-right: -20px" ng-switch="t.selected" ng-click="addFilter(t)">
                <i ng-switch-default class="fa-li fa fa-square-o" id="li-blank-{{t.term}}" ></i>
                <i ng-switch-when="true" class="fa-li fa fa-check-square-o" id="li-checked-{{t.term}}"></i>
            <small> {{t.term}} ({{t.count}})</small></li>
        </ul>
    </div>
    <div class="span11">
        <accordion>
            <accordion-group ng-repeat="cde in cdes" heading="{{cde.stewardOrg.name}} -- {{cde.naming[0].designation}}">
                 <div class="row-fluid">
                    <div class="span6">
                        <%- include cdegeneraldetails.ejs %>
                    </div>
                    <div class="span4">
                        <%- include valueDomainView.ejs %>
                    </div>
                     <div class="span2">
                        <img ng-repeat="attachment in cde.attachments | filter:isDefaultAttachment" src="/data/{{attachment.fileid}}"/> 
                     </div>
                 </div>
                <div class="row-fluid" >
                    <a class='btn' ng-href="#/deview/?cdeId={{cde._id}}" title="Full Detail for {{cde.naming[0].designation}}"><i class="icon-eye-open"></i> View Full Detail</a>
                </div>
                <script type="text/ng-template" id="addToFormModalContent.html">
                    <%- include addToFormModal.ejs %>
                </script>
            </accordion-group>
        </accordion>
    </div>
</div>

<pagination align="center" direction-links="true" num-pages="numPages" max-size="10" total-items="totalItems" page="currentPage"></pagination>

