<pagination data-boundary-links="true" num-pages="numPages" current-page="currentPage" max-size="10"></pagination>

<form class="form-search">
<input type="text" ng-model="search.name" class="search-query" placeholder="Search Name" typeahead="cde.name for cde in autocomplete($viewValue)" >
<select ng-model="search.owningContext" name="owningContext" ng-change="removeOwningContext()">
    <option value="" >All Contexts</option>
    <option ng-repeat="context in contexts" ng-value="context">{{context}}</option>    
</select>
<select ng-model="search.workflowStatus" name="workflowStatus" ng-options="status as status for status in workflowStatuses" ng-change="removeWorkflowStatus()">
    <option value="">All Statuses</option>
</select>
<input type="submit" value="Search" ng-click="reload()" class="btn"></input>
</form>

<accordion>
    <accordion-group ng-repeat="cde in cdes" heading="{{cde.owningContext}} -- {{cde.name}}">
         <div class="row-fluid">
            <div class="span5">
                <h4>General Details</h4>
                <dl class="dl-horizontal">
                <dt>Name: </dt> <dd><inline-edit model="cde.name" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)"> </inline-edit></dd>
                <dt>Version: </dt><dd>{{cde.version}}</dd>
                <dt>Origin: </dt><dd>{{cde.origin}}</dd>
                <dt>Origin ID: </dt><dd>{{cde.originId}}</dd>
                <dt>Owner: </dt><dd>{{cde.owningContext}}</dd>
                <dt>Definition: </dt><dd><inline-area-edit model="cde.definition" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)"> </inline-area-edit></dd>
                <dt>Status: </dt><dd>{{cde.workflowStatus}}</dd>
                <dt>Added to NLM: </dt>
                <dd ng-controller="AuditCtrl" >
                    <i ng-show="cde.history.length > 0" class="icon-eye-open" ng-click="openHistory()" tooltip="View History"></i> {{cde.created | date: 'MM/dd/yyyy @ h:mma'}}
                    <%- include historyModal.ejs %>
                </dd>
                <dt>Updated in NLM: </dt><dd>{{cde.updated | date: 'MM/dd/yyyy @ h:mma'}}</dd>
                </dl>
            </div>
             <div class="span3">
                 <%- include concepts.ejs %>
             </div>
            <div class="span4">
                <h4>Permissible Values</h4>
                <div ng-controller="LinkVsacCtrl">
                    <dl class="dl-horizontal">
                        <dt>Value Set Name: </dt><dd><i class="icon-link" ng-show="isAllowed(cde)" ng-click="showLinkModal=true" tooltip="Link to VSAC "></i> {{cde.valueDomain.name}}</dd>
                    </dl>
                    <div modal="showLinkModal" close="showLinkModal" opts="modalOpts">
                        <div class="modal-header">
                            <h4>Save</h4>
                        </div>
                        <div class="modal-body">
                            <label for="vsId">VSAC Value Set OID</label>
                            <input type="text" ng-model="vsId" name="vsId" required></input><br />
                            <label for="changeNote">Change Note</label>
                            <textArea name="changeNote" ng-model="cde.changeNote" placeholder="Optional Change Note"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn cancel" ng-click="showLinkModal = false">Cancel</button>
                            <button class="btn btn-warning cancel" ng-click="linktovsac(cde, vsId); showLinkModal = false">Save</button>
                        </div>
                    </div>                    
                </div>
                <%- include valueDomainView.ejs %>
            </div>
          </div>
        <div class="row-fluid" >
            <span ng-controller="AddToFormCtrl" class="dropdown">
                <a ng-show="user._id" class="btn-small btn-primary" ng-click="openModal()"><i class="icon-list-alt"> Add to Form</i></a>
                <%- include addToFormModal.ejs %> 
            </span>
            <span ng-controller="WorkflowCtrl" ng-show='isAllowed(cde)'>
                <span ng-show="cde.workflowStatus == 'Draft'">
                    <a class="btn-small btn-primary" ng-click="changeStatus(cde, 'Internal Review')"><i class="icon-check-empty"> Submit for Internal Review</i></a>
                </span>
                <span ng-show="cde.workflowStatus == 'Internal Review'">
                    <a class="btn-small btn-primary" ng-click="changeStatus(cde, 'Internally Reviewed')"><i class="icon-check"> Mark as Reviewed</i></a>
                </span>
                <span ng-show="cde.workflowStatus == 'Internally Reviewed'">
                    <a class="btn-small btn-primary" ng-click="changeStatus(cde, 'Submitted')"><i class="icon-upload-alt"> Submit for Final Review</i></a>
                </span>
            </span>
        </div>
        <div class="row">
            <div ng-controller="SaveCtrl">
            <div class="span12" ng-show="cde.unsaved">
                <button class="btn cancel" ng-click="revert(cde)">Discard Changes</button>
                <button class="btn btn-primary" ng-click="openSave()">Save</button>
            </div>
            <div modal="showSave" close="closeSave()" opts="saveOpts">
                <div class="modal-header">
                    <h4>Save</h4>
                </div>
                <div class="modal-body">
                    <label for="changeNote">Change Note</label>
                    <textArea name="changeNote" ng-model="cde.changeNote" placeholder="Optional Change Note"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn cancel" ng-click="cancelSave()">Cancel</button>
                    <button class="btn btn-warning" ng-click="save(cde); showSave = false">Save</button>
                </div>
            </div>
            </div>
        </div>
    </accordion-group>
</accordion>
