<pagination data-boundary-links="true" num-pages="numPages" current-page="currentPage" max-size="10"></pagination>

<form class="form-search">
<input type="text" ng-model="search.name" class="search-query" placeholder="Search Name" typeahead="form.name for form in autocomplete($viewValue)" >
<select ng-model="search.stewardOrg.name" name="stewardOrg.name" ng-change="removeOwningOrg()">
    <option value="" >All Organizations</option>
    <option ng-repeat="o in orgs" ng-value="o">{{o}}</option>    
</select>
<select ng-model="search.registrationState.registrationStatus" name="registrationStatus" ng-options="status as status for status in registrationStatuses" ng-change="removeRegistrationStatus()">
    <option value="">All Statuses</option>
</select>
<input type="submit" value="Search" ng-click="reload()" class="btn"></input>
</form>

<%- include formAccordion.ejs %>