<% if (message) { %>
<p><%= message %></p>
<% } %>
<form action="/login" method="post" class="span10 offset1">
    <fieldset>
        <label>Username:</label>
        <input type="text" name="username"/>
        <label>Password:</label>
        <input type="password" name="password"/><br>
        <input type="submit" value="Submit" class="btn"/>
    </fieldset>
    <p><small>Hint - bob / secret</small></p>
</form>
