<div class="container">
    <div class="row-fluid">
        <div>{{message}}</div>  
        <div><b>Please use your UMLS account to login</b><br/><br/></div>
        <form ng-submit="login()" class="span6">
            <fieldset>
                <label>Username:</label>
                <input type="text" ng-model="username" id="uname"/>
                <label>Password:</label>
                <input type="password" ng-model="password" id="passwd"/><br>
                <input type="submit" value="Submit" class="btn"/>
            </fieldset>
            <p>Don't have a UMLS license/account?<br/>
                <a href="https://uts.nlm.nih.gov//license.html" class="vsloginLink" target="_blank">
                    <span  class="vsloginLink">Request One Now</span></a>
                <br/> 
                <a href="https://uts.nlm.nih.gov/license.html#emailUsername" class="vsloginLink" target="_blank">
                    <span  class="vsloginLink">Forgot Username</span></a>
                <br/>        
                <a href="https://uts.nlm.nih.gov/license.html#emailTemporaryPassword" class="vsloginLink" target="_blank">
                    <span  class="vsloginLink">Forgot Password</span></a> </p>
        </form>
    </div>
