<hr/>
<div ng-repeat="board in boards">
    <div class="row-fluid">
        <div class="span1 offset1">
            <div class="row-fluid">
                <span ng-show="showDelete">
                    Confirm Delete <i class="fa fa-check" ng-click="showDelete = false; removeBoard($index)" id="confirmRemove-{{$index}}"></i>
                    <i class="fa fa-times" ng-click="showDelete = false"></i>
                </span>
                <i ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o" id="removeBoard-{{$index}}"></i></dd>
            </div>
            <div class="row-fluid" ng-switch="board.shareStatus">
                <i class="fa fa-unlock" ng-switch-when="Public" > </i>
                <i class="fa fa-lock" ng-switch-default> </i>
            </div>
        </div>
        <div class="span10">
            <dl class="dl-horizontal">
                <dt>Name: </dt> 
                <dd id="dd_name_{{$index}}">
                    <span ng-switch="board.editMode"> 
                        <span ng-switch-when="true"> 
                            <input type="text" ng-model="board.name" />
                            <i class="fa fa-check" ng-click="save(board)"></i>
                            <i class="fa fa-times" ng-click="cancelSave(board)"></i>
                        </span>       
                        <span ng-switch-default> 
                            <i class="fa fa-pencil" ng-click="board.editMode=true"></i> {{board.name | placeholdEmpty}} 
                        </span>
                    </span>
                </dd>
                <dt>Description: </dt>
                <dd id="dd_def_{{$index}}">
                    <div ng-switch="board.editMode"> 
                        <div ng-switch-when="true">
                           <textarea ng-model="board.description" ></textarea>
                           <i class="fa fa-check" ng-click="save(board)"></i>
                           <i class="fa fa-times" ng-click="cancelSave(board)"></i>
                        </div>
                        <div ng-switch-default>
                           <i class="fa fa-pencil" ng-click="board.editMode = true"></i>&nbsp;<span ng-bind-html="board.description"/>
                        </div>
                    </div>
                </dd>
                <dt>Number of Cdes: </dt><dd id="dd_numb">{{board.pins.length}}</dd>
                <dt>Modified: </dt><dd id="dd_mod">{{board.updatedDate | date: 'MM/dd/yyyy @ h:mma'}}</dd>
            </dl>
            <a class="btn" href="#/board/{{board._id}}" id="view_{{$index}}">View Board</a> 
        </div>
    </div>
    <hr/>
</div>

<button class="btn btn-small" value="add" ng-click="openNewBoard()" id="addBoard"><i class="fa fa-plus"> </i></button>

<script type="text/ng-template" id="newBoardModalContent.html">
    <%- include newBoardModal.ejs %>
</script>
