<div class="row-fluid">
<div class="span11 offset1">
<h4>Profile</h4>
<dl class="dl-horizontal">
    <dt>Username: </dt><dd id="dd_username">{{user.username}}</dd>
    <dt>Quota: </dt><dd id="dd_quota">{{user.quota / 1024 / 1024 | number:2 | placeholdEmpty}} MB</dd>
    <dt>Curator for: </dt><dd id="dd_curatorFor">{{user.orgCurator}}</dd>
    <dt>Admin for: </dt><dd id="dd_adminFor">{{user.orgAdmin}}</dd>
</dl>
</div>
</div>
