<div class="modal-header" id="regStatusModalHeader">
    <h4>Update Registration Status</h4>
</div>
<form name="form" role="form">
<div class="modal-body" id="regStatusModalBody">
    <div class="form-group">
        <label for="registrationStatus">Registration Status</label>
        <select class="form-control" ng-model="cde.registrationState.registrationStatus" name="registrationStatus">
            <option ng-repeat="s in stewardRegStatuses" ng-value="s">{{s}}</option>
            <option ng-if="user.siteAdmin === true" value="Standard">Standard</option>
            <option ng-if="user.siteAdmin === true" value="Preferred Standard">Preferred Standard</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="effectiveDate">Effective Date</label>
        <input class="form-control" name="effectiveDate" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="cde.registrationState.effectiveDate" />
    </div>
        
    <div class="form-group">
        <label for="untilDate">Until Date</label>
        <input class="form-control" name="untilDate" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="cde.registrationState.untilDate"/>
    </div>
    
    <div class="form-group">
        <label for="administrativeStatus">Administrative Status</label>
        <input class="form-control" type="text" name="administrativeStatus" ng-model="cde.registrationState.administrativeStatus" placeholder="Optional Administrative Status"></input>
    </div>
    
    <div class="form-group">
        <label for="administrativeNote">Administrative Note</label>
        <textArea class="form-control" name="administrativeNote" ng-model="cde.registrationState.administrativeNote" placeholder="Optional Administrative Note"></textarea>
    </div>  

    <div class="form-group">
        <label for="unresolvedIssue">Unresolved Issue</label>
        <textArea class="form-control" name="unresolvedIssue" ng-model="cde.registrationState.unresolvedIssue" placeholder="Optional Unresolved Issue Note"></textarea>
    </div>

</div>
<div class="modal-footer" id="regStatusModalFooter">
    <button class="btn cancel" ng-click="cancelSave()">Cancel</button>
    <button class="btn btn-warning" ng-click="ok()" ng-disabled="isClean() || form.$invalid" id="saveRegStatus">Save</button>
</div>
</form>
