<h4>SDC Attributes</h4>    
<dl class="dl-horizontal">

<dt>Scoped Identifier: </dt>
<dd id="dd_scopedId">{{sdcCde.scopedIdentifier}}</dd> 
<dt>Identifier: </dt>
<dd id="dd_id">{{sdcCde.identifier}}</dd> 
<dt>Version: </dt>
<dd id="dd_version">{{sdcCde.version}}</dd> 
<dt>Name: </dt>
<dd id="dd_name">{{sdcCde.name}}</dd> 
<dt>Preferred Question Text: </dt>
<dd id="dd_prefQ">{{sdcCde.preferredQuestionText | placeholdEmpty}}</dd> 
<dt>Alternative Question Text: </dt>
<dd id="dd_altQ">{{sdcCde.alternateQuestionText | placeholdEmpty}}</dd> 
<dt>Definition: </dt>
<dd id="dd_def">{{sdcCde.definition}}</dd> 
<dt>Data Element Concept: </dt>
<dd id="dd_dec">{{sdcCde.dataElementConcept.concept}}</dd> 
<dt>Context: </dt>
<dd id="dd_ctx">{{sdcCde.context}}</dd> 
<dt>Context Name: </dt>
<dd id="dd_ctxName">{{sdcCde.context}}</dd> 
<dt>Administrative Status: </dt>
<dd id="dd_adminStatus">{{sdcCde.administrativeStatus | placeholdEmpty}}</dd> 
<dt>Registration Status: </dt>
<dd id="dd_regStatus">{{sdcCde.registrationStatus}}</dd> 
<dt>Creation Date: </dt>
<dd id="dd_created">{{sdcCde.creationDate}}</dd> 
<dt>Last Change Date: </dt>
<dd id="dd_updated">{{sdcCde.lastChangeDate | placeholdEmpty}}</dd> 
<dt>Submitting Organization: </dt>
<dd id="dd_subOrg">{{sdcCde.submittingOrganization | placeholdEmpty}}</dd> 
<dt>Submitting Organization Name: </dt>
<dd id="dd_subOrgName">{{sdcCde.submittingOrganization | placeholdEmpty}}</dd> 
<dt>Steward Organization: </dt>
<dd id="dd_stewOrg">{{sdcCde.stewardOrganization.name}}</dd> 
<dt>Steward Organization Name: </dt>
<dd id="dd_stewOrgName">{{sdcCde.stewardOrganization.name}}</dd> 
<dt>Origin: </dt>
<dd id="dd_origin">{{sdcCde.origin | placeholdEmpty}}</dd> 
<dt>Value Domain: </dt>
<dd id="dd_vd">{{sdcCde.valueDomain.name | placeholdEmpty}}</dd> 
<dt>datatype: </dt>
<dd id="dd_datatype">{{sdcCde.valueDomain.datatype | placeholdEmpty}}</dd> 
<dt>Type: </dt>
<dd id="dd_type">{{sdcCde.valueDomain.type | placeholdEmpty}}</dd> 



