<h4>SDC Attributes</h4>    
<dl class="dl-horizontal">

<dt>Scoped Identifier: </dt>
<dd>{{sdcCde.scopedIdentifier}}</dd> 
<dt>Identifier: </dt>
<dd>{{sdcCde.identifier}}</dd> 
<dt>Version: </dt>
<dd>{{sdcCde.version}}</dd> 
<dt>Name: </dt>
<dd>{{sdcCde.name}}</dd> 
<dt>Preferred Question Text: </dt>
<dd>{{sdcCde.preferredQuestionText | placeholdEmpty}}</dd> 
<dt>Alternative Question Text: </dt>
<dd>{{sdcCde.alternateQuestionText | placeholdEmpty}}</dd> 
<dt>Definition: </dt>
<dd>{{sdcCde.definition}}</dd> 
<dt>Data Element Concept: </dt>
<dd>{{sdcCde.dataElementConcept.concept}}</dd> 
<dt>Context: </dt>
<dd>{{sdcCde.context}}</dd> 
<dt>Context Name: </dt>
<dd>{{sdcCde.context}}</dd> 
<dt>Administrative Status: </dt>
<dd>{{sdcCde.administrativeStatus | placeholdEmpty}}</dd> 
<dt>Registration Status: </dt>
<dd>{{sdcCde.registrationStatus}}</dd> 
<dt>Creation Date: </dt>
<dd>{{sdcCde.creationDate}}</dd> 
<dt>Last Change Data: </dt>
<dd>{{sdcCde.lastChangeDate | placeholdEmpty}}</dd> 
<dt>Submitting Organization: </dt>
<dd>{{sdcCde.submittingOrganization | placeholdEmpty}}</dd> 
<dt>Submitting Organization Name: </dt>
<dd>{{sdcCde.submittingOrganization | placeholdEmpty}}</dd> 
<dt>Steward Organization: </dt>
<dd>{{sdcCde.stewardOrganization.name}}</dd> 
<dt>Steward Organization Name: </dt>
<dd>{{sdcCde.stewardOrganization.name}}</dd> 
<dt>Origin: </dt>
<dd>{{sdcCde.origin | placeholdEmpty}}</dd> 
<dt>Value Domain: </dt>
<dd>{{sdcCde.valueDomain.name}}</dd> 
<dt>datatype: </dt>
<dd>{{sdcCde.valueDomain.datatype}}</dd> 
<dt>Type: </dt>
<dd>{{sdcCde.valueDomain.type}}</dd> 



