<div class="container">
    <div class="row-fluid">
<form action="/signup" method="post" class="span6" name="form">
    <fieldset>
        <div class="control-group" ng-class="{error: form.username.$invalid}">
            <label>Username:</label>
            <input type="text" name="username" ng-model="user.username" required placeholder="Username"/>
             <span ng-show="form.username.$error.required" class="help-inline">Required</span>
        </div>

        <div class="control-group" ng-class="{error: form.uPassword.$invalid}">
            <label>Password:</label>
            <input type="password" ng-model="user.password" name="uPassword" required placeholder='Password'
                   ng-minlength="3" ng-maxlength="15" title="3 to 15 characters" />
                   <!--ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}/"-->
            <span class="help-inline" ng-show="form.uPassword.$dirty && form.uPassword.$error.pattern">Must contain at least one lower case, one upper case, one letter and be between 6 and 12 characters.</span>
            <span class="help-inline" ng-show="form.uPassword.$dirty && form.uPassword.$error.minlength">Too short</span>
            <span class="help-inline" ng-show="form.uPassword.$dirty && form.uPassword.$error.maxlength">Too long</span>
        </div>

        <div class="control-group" ng-class="{error: form.ucPassword.$invalid}">
            <label>Confirm Password:</label>
            <input type="password" ng-model="user.confirmpassword" name="ucPassword" required placeholder='Confirm Password' ng-minlength="3" ng-maxlength="15" title="3 to 15 characters" />
            <div ng-show="(form.uPassword.$dirty && form.ucPassword.$dirty) && (user.password != user.confirmpassword)">
                <span>Password mismatched</span>
            </div>
        </div>
        <br/>
        <input type="button" ng-click="register()" value="Submit" class="btn" ng-disabled="isClean() || myForm.$invalid"/>
    </fieldset>
</form>
</div>




