<h3>Value Set</h3>
<dl class="dl-horizontal" ng-show="cde.dataElementConcept.conceptualDomain.vsac">
    <dt>Value Set Name: </dt><dd>{{cde.dataElementConcept.conceptualDomain.vsac.name | placeholdEmpty}}</dd>
    <dt>Value Set ID: </dt><dd>{{cde.dataElementConcept.conceptualDomain.vsac.id | placeholdEmpty}}</dd>
    <dt>Value Set Version: </dt><dd>{{cde.dataElementConcept.conceptualDomain.vsac.version | placeholdEmpty}}</dd>
</dl>
<div ng-hide="cde.dataElementConcept.conceptualDomain.vsac">No Value Set specified.</div>
<div ng-controller="SaveCdeCtrl">
    <div>{{vsacError}}</div>
    <div ng-hide="editMode">
        <a class="btn" ng-show="isAllowed(cde)" ng-click="editMode=true">Update O.I.D</a>
    </div> 
    <div ng-show="editMode">
        <input name="vsacId" type="text" ng-model="cde.dataElementConcept.conceptualDomain.vsac.id" placeholder="VSAC O.I.D"/>
        <button id="vsacIdCheck" class="icon-ok" ng-click="checkVsacId(cde); editMode = false"/>
        <button class="icon-remove" ng-click="editMode = false"/>
    </div>
</div>

<h3>Permissible Values</h3>
<div ng-show="cde.valueDomain.permissibleValues.length == 0">No Permissible Values</div>
<table ng-show="cde.valueDomain.permissibleValues.length > 0" class="table-bordered table-condensed table-striped">
     <thead>
         <tr>
             <th>Name</th>
             <th>Code</th>
             <th>Code Name</th>
         </tr>
     </thead>
     <tbody>
         <tr ng-repeat="pv in cde.valueDomain.permissibleValues">
             <td>{{pv.validValue}}</td>
             <td>{{pv.valueCode}}</td>
             <td>{{pv.codeSystemName}}</td>
         </tr>
         <tr ng-show="cde.valueDomain.permissibleValues.length == 10">
             <td colspan="3">See full list in Detailed View</td>
         </tr>
     </tbody>
 </table>
<hr>