<div ng-controller="LinkVsacCtrl">
    <label class="label">Value Set Name: </label><i class="icon-link" ng-show="isAllowed(cde)" ng-click="showLinkModal=true" tooltip="Link to VSAC "></i> {{cde.valueDomain.longName}}
    <div modal="showLinkModal" close="showLinkModal" opts="modalOpts">
        <div class="modal-header">
            <h4>Save</h4>
        </div>
        <div class="modal-body">
            <label for="vsId">VSAC Value Set OID</label>
            <input type="text" ng-model="vsId" name="vsId" required></input><br />
            <label for="changeNote">Change Note</label>
            <textArea name="changeNote" ng-model="cde.changeNote" placeholder="Optional Change Note"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="showLinkModal = false">Cancel</button>
            <button class="btn btn-warning cancel" ng-click="linktovsac(cde, vsId); showLinkModal = false">Save</button>
        </div>
    </div>                    
</div>
<table>
     <thead>
         <tr>
             <th>Name</th>
             <th>Code</th>
             <th>Code Name</th>
         </tr>
     </thead>
     <tbody>
         <tr ng-repeat="pv in cde.valueDomain.permissibleValues">
             <td>{{pv.validValue}}</td>
             <td>{{pv.valueCode}}</td>
             <td>{{pv.codeSystemName}}</td>
         </tr>
         <tr ng-show="cde.valueDomain.permissibleValues.length == 10">
             <td colspan="3">See full list of Permissible Values</td>
         </tr>
     </tbody>
 </table>