.sidenav-content-container {
  padding-left: 18vw;
}

.toc-container {
  width: 18vw;
  position: fixed;
  left: 0;
  top: 135px;
  height: 400px;
}

.toc-container ul li {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
