<div id="guideDiv" class="sidenav-content-container py-5" *ngIf="article?.body">
    <main class="sidenav-content">
        <div id="main-content">
            <button class="button light" routerLink="/settings/articles" *ngIf="userService.isOrgAuthority()">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
            <div [innerHTML]="article.body | cdeSafeHtml"></div>
        </div>
    </main>
    <div class="toc-container">
        <aio-toc></aio-toc>
    </div>
</div>
