<ng-container *ngIf="article?.body">
    <button *ngIf="!navDrawer.opened" class="noPrint forNotMdScreen slide-pane-button" title="Expand Page Navigation"
            (click)="navDrawer.open()"></button>
    <mat-sidenav-container>
        <mat-sidenav #navDrawer class="noPrint" position="start" style="border: 0"
                     [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile"
                     fixedInViewport="true" [fixedTopGap]="isMobile ? 110 : 132" [fixedBottomGap]="isMobile ? 0 : 99">
            <div *ngIf="isMobile; else aioToc" (click)="navDrawer.close()">
                <aio-toc style="padding: 1rem 1rem 0 1rem"></aio-toc>
            </div>
            <ng-template #aioToc>
                <aio-toc style="padding: 2rem 0 0 2rem"></aio-toc>
            </ng-template>
        </mat-sidenav>
        <mat-sidenav-content [style.margin-left]="isMobile ? '0' : '240px'">
            <main style="margin: 2rem 2rem 0 2rem">
                <button class="button light" routerLink="/settings/articles" *ngIf="userService.isOrgAuthority()">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                <div [innerHTML]="article.body | cdeSafeHtml"></div>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
