body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#fff;
}

.jumbotron {
    background-color: #a8c4e1;
}

.drop-cap-img {
    padding-right: 10px;
}

.top20 { margin-top:20px; }
.top40 { margin-top:40px; }
.top60 { margin-top:60px; }

.error-block {
    color: brown;
}

.inactive {
    border: none;
    background-color: #fff;
}

.inline-edit {
    margin-right: 40px;    
}

.edit-button {
    position:absolute;
    right:0px;
    width:300px;
    background-color:#b0e0e6;
}

.accordion-toggle:hover {
    text-decoration: none;
}

#taTextElement {
    height: auto;
}
#repeatCs hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
#repeatCs h5 {
    font-size: 19px;
}
#repeatCs h6 {
    font-size: 15px;
    font-weight: bold;
}
#repeatCs ul {
    font-size: 12px;
    list-style-type: none;
    padding-left: 10px;
}
#repeatCs > .col-md-5 {
    border: 1px solid rgb(220,220,220);
    border-radius: 5px;
}
#repeatCs > .col-md-5 {
    margin: 10px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.btn {
    margin-left: 10px;
}

#repeatCs .container {
    word-wrap: break-word;
}

.fake-link {
    text-decoration: none;
    cursor: pointer;
}

.fake-link:hover {
    text-decoration: underline;
}

#addClassificationModalBody ul {
    list-style: none;
}

#addClassificationModalBody ul li:before {
    content: "+";
    margin-right: 4px;
}

#addNewClassifToOrgName {
    width: 200px;
}

#quickBoardGridView,#logGridView {
    border: 1px solid rgb(212,212,212);
    width: auto; 
    height: 600px;
}


#classifyCdeSelectOrg {
    padding-bottom: 10px;
}

.navbar-fixed-bottom {
    z-index: 10000!important;
}
