<mat-form-field style="width: 100%;">
    <mat-chip-list #chipList (change)="changed.emit()">
        <mat-chip *ngFor="let tag of tags" [selectable]="true" [removable]="canEdit" (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="canEdit">cancel</mat-icon>
        </mat-chip>
        <ng-container *ngIf="canEdit">
            <input placeholder="{{placeHolder}}" #tagInput [formControl]="tagCtrl"
                   [matAutocomplete]="auto" [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{tag}}
                </mat-option>
            </mat-autocomplete>
        </ng-container>
    </mat-chip-list>
</mat-form-field>

