@import '../../theme';

@media (max-width: $screenLg - 1px) {
  .usageTable {
    width: 100%;
  }
}

@media (min-width: $screenLg) {
  .usageTable {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr 4fr;
  }
}
