<div class="container-fluid">
    <button id="search.submit" class="button" (click)="generate()">Generate</button>
</div>
<ng-container *ngIf="dailyUsage">
    <div class="usageTable">
        <div>Days Ago</div>
        <div>Last Date</div>
        <div>Hits</div>
        <div>IP</div>
        <div>Known Usernames</div>
    </div>
    <hr/>
    <div class="usageTable" *ngFor="let entry of dailyUsage | slice:0:entryLimit">
        <div>
            {{entry.daysAgo}}
        </div>
        <div>
            {{entry.latest | date : 'short'}}
        </div>
        <div>
            {{entry.number}}
        </div>
        <div>
            {{entry._id.ip}}
        </div>
        <div>
            <ng-container *ngIf="entry.usernames && entry.usernames.length > 0">
                <span *ngFor="let u of entry.usernames">{{u.username}} </span>
            </ng-container>
            <button *ngIf="!entry.usernames" class="button" (click)="lookupUsername(dailyUsage, entry._id.ip)">
                Reveal
            </button>
        </div>
    </div>
    <button *ngIf="dailyUsage.length > entryLimit" class="button" (click)="seeMore()">More</button>
</ng-container>
