<div *ngIf="!elt">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
</div>

<button class="noPrint forNotLgScreen slide-pane-button-right" title="Expand Page Navigation"
        (click)="navDrawer.open()"></button>

<mat-sidenav-container>
    <mat-sidenav #navDrawer class="noPrint" position="end" style="border: 0" [style.right]="isMobile ? 0 : '17px'"
                 [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile"
                 fixedInViewport="true" [fixedTopGap]="isMobile ? 110 : 239" [fixedBottomGap]="isMobile ? 0 : 130">
        <div *ngIf="isMobile; else aioToc" (click)="navDrawer.close()">
            <aio-toc></aio-toc>
        </div>
        <ng-template #aioToc>
            <aio-toc></aio-toc>
        </ng-template>
        <div style="min-width: 155px"></div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-sidenav-container [hasBackdrop]="false">
            <mat-sidenav #commentDrawer mode="side" position="end" style="max-width: 25%">
                <div *ngIf="elt">
                    <cde-discuss-area [currentTab]="currentTab" [elt]="elt"
                                      (highlightedTabsChange)="loadHighlightedTabs($event)"
                                      [eltName]="elt.designations[0].designation"></cde-discuss-area>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <main *ngIf="elt" class="container-fluid" itemscope="https://schema.org/MedicalCode">
                    <h1 id="top-of-page">
                        <cde-draft-slider style="margin-right: .5rem" [(isDraft)]="elt.isDraft"
                                          (isDraftChange)="$event?loadElt():loadPublished()"
                                          [hidden]="!hasDrafts"></cde-draft-slider>
                        <img *ngIf="elt.nihEndorsed" aria-label="nihEndorsed" height="38" width="30"
                             src="/assets/img/endorsedRibbon.svg">
                        {{elt?.designations[0]?.designation}}
                    </h1>
                    <header>
                        <div *ngIf="elt.archived" class="alert alert-warning" role="alert">
                            <mat-icon>warning</mat-icon>
                            <strong>Warning:</strong> this data element is archived. You can
                            <a routerLink="/deView" [queryParams]="{tinyId: elt.tinyId}"
                               href="javascript:void(0);">view the current version
                                here</a>.
                        </div>
                        <div *ngIf="elt.registrationState.registrationStatus==='Retired'" class="alert alert-warning" role="alert">
                            <mat-icon>warning</mat-icon>
                            <strong>Warning:</strong> this data element is retired.
                            <a *ngIf="elt.registrationState.replacedBy" routerLink="/deView" href="javascript:void(0);"
                               [queryParams]="{tinyId: elt.registrationState.replacedBy.tinyId}">Replacement</a>
                        </div>
                        <div *ngIf="elt.registrationState.administrativeStatus==='Retire Candidate'"
                             class="alert alert-warning" role="alert">
                            <mat-icon>warning</mat-icon>
                            <strong>Warning:</strong> this data element is about to be retired.
                            <a *ngIf="elt.registrationState.replacedBy" routerLink="/deView" href="javascript:void(0);"
                               [queryParams]="{tinyId: elt.registrationState.replacedBy.tinyId}">Possible
                                Replacement</a>
                        </div>
                        <div *ngIf="displayStatusWarning" class="alert alert-info" role="alert">
                            <mat-icon>warning</mat-icon>
                            <strong>Note:</strong> You may not edit this CDE because it is standard.
                        </div>
                        <div *ngIf="validationErrors.length > 0" class="alert alert-warning" role="alert">
                            <mat-icon>warning</mat-icon>
                            The following errors need to be corrected in order to Publish:
                            <ul class="list-inline">
                                <li *ngFor="let error of validationErrors">{{error.message}}</li>
                            </ul>
                        </div>
                    </header>
                    <nav class="noPrint">
                        <button id="export" class="button" title="Export"
                                #exportMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="exportMenu">
                            <mat-icon>play_for_work</mat-icon>
                            <span class="button-label"> Export </span>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                        <mat-menu #exportMenu>
                            <a mat-menu-item *ngIf="exportToTab; else exportFileJson" class="no-link"
                               href="/server/de/byId/{{elt._id}}" target="_blank" rel="noopener noreferrer">
                                NIH/CDE Schema JSON preview
                                <ng-container *ngTemplateOutlet="exportJsonActions"></ng-container>
                            </a>
                            <ng-template #exportFileJson>
                                <button mat-menu-item (click)="exportService.exportDe(elt, '', 'json')">
                                    NIH/CDE Schema JSON file
                                    <ng-container *ngTemplateOutlet="exportJsonActions"></ng-container>
                                </button>
                            </ng-template>
                            <ng-template #exportJsonActions>
                                <a class="darken" href="/schema/de" target="_blank" rel="noopener noreferrer" title="Schema"
                                   (click)="$event.stopPropagation(); exportMenuTrigger.closeMenu()">
                                    <mat-icon style="color: #326295">help_outline</mat-icon>
                                </a>
                            </ng-template>
                            <a mat-menu-item *ngIf="exportToTab; else exportFileXml" class="no-link"
                               href="/server/de/byId/{{elt._id}}?type=xml" target="_blank" rel="noopener noreferrer">
                                NIH/CDE Schema XML preview
                            </a>
                            <ng-template #exportFileXml>
                                <button mat-menu-item (click)="exportService.exportDe(elt, '?type=xml', 'xml')">
                                    NIH/CDE Schema XML file
                                </button>
                            </ng-template>
                        </mat-menu>
                        <button id="addToBoard" class="button" title="Add to Board"
                                (click)="mltPinModal.pinMultiple([elt])">
                            <mat-icon svgIcon="thumb_tack"></mat-icon>
                            <span class="button-label">Add to Board</span>
                        </button>
                        <button *ngIf="hasPrivilegeForOrg(userService.user, 'create', elt.stewardOrg.name)"
                                id="copyCdeBtn" class="button" title="Copy CDE"
                                (click)="openCopyElementModal(elt)" color="primary">
                            <mat-icon>content_copy</mat-icon>
                            <span class="button-label"> Copy</span>
                        </button>
                        <button *ngIf="userService.canViewComment" tourAnchor="discussBtn"
                                id="discussBtn" class="button" title="Discuss CDE"
                                (click)="commentDrawer.toggle()">
                            <mat-icon [ngClass]="{'faa-wrench faa-slow animated': comments.length && !commentMode}">
                                comment
                            </mat-icon>
                            <span class="button-label" style="margin-left: .25rem"> Discuss</span>
                        </button>
                        <ng-container *ngIf="elt.isDraft">
                            <button id="deleteDraftBtn" class="button fail" title="Delete Draft"
                                    (click)="openDeleteDraftModal()">
                                <mat-icon>delete</mat-icon>
                                <span class="button-label"> Delete Draft</span>
                            </button>
                            <button id="openSave" class="button success" title="Publish"
                                    (click)="publish()">
                                <mat-icon>publish</mat-icon>
                                <span class="button-label"> Publish</span>
                            </button>
                            <a id="viewChangesBtn"
                               matTooltip="by {{elt.updatedBy?.username}} on {{elt.updated | date: 'MM/dd/yyyy @ h:mma'}}"
                               (click)="viewChanges();" href="javascript:void(0);">
                                {{savingText || 'Changed'}}
                            </a>
                        </ng-container>
                    </nav>
                    <article>
                        <section>
                            <cde-de-general-details [elt]="elt" [canEdit]="canEdit()"
                                                    (eltChange)="saveDraftVoid(elt)"></cde-de-general-details>
                            <cde-admin-item-sources [elt]="elt"></cde-admin-item-sources>
                            <cde-registration [elt]="elt" (eltChange)="saveDraftVoid(elt)"
                                              [canEdit]="canEdit()"></cde-registration>
                            <div role="group" aria-label="More Info">
                                <cde-linked-forms [elt]="elt"></cde-linked-forms>
                                <cde-mlt [elt]="elt"></cde-mlt>
                                <cde-datasets [elt]="elt"></cde-datasets>
                            </div>
                        </section>
                        <section id="permissible-value-div">
                            <cde-permissible-value [elt]="elt" [canEdit]="canEdit()"
                                                   (eltChange)="saveDraftVoid(elt)"></cde-permissible-value>
                        </section>
                        <cde-naming id="naming-div" [elt]="elt" [canEdit]="canEdit()" (eltChange)="saveDraftVoid(elt)"></cde-naming>
                        <section id="classification-div">
                            <cde-cde-classification [elt]="elt"
                                                    (eltChange)="eltLoaded($event)"></cde-cde-classification>
                        </section>
                        <section id="concepts-div">
                            <cde-concepts [elt]="elt" [canEdit]="canEdit()"
                                          (eltChange)="saveDraftVoid(elt)"></cde-concepts>
                        </section>
                        <section id="reference-documents-div">
                            <cde-reference-document [elt]="elt" [canEdit]="canEdit()"
                                                    (eltChange)="saveDraftVoid(elt)"></cde-reference-document>
                        </section>
                        <section id="properties-div">
                            <cde-properties [elt]="elt" [canEdit]="canEdit()" (eltChange)="saveDraftVoid(elt)">
                            </cde-properties>
                        </section>
                        <section id="identifiers-div">
                            <cde-identifiers [elt]="elt" [canEdit]="canEdit()"
                                             (eltChange)="saveDraftVoid(elt)">
                            </cde-identifiers>
                        </section>
                        <section id="attachments-div">
                            <cde-attachments [elt]="elt" [canEdit]="canEdit()"
                                             (removeAttachment)="removeAttachment(elt, $event);"
                                             (setDefault)="setDefault(elt, $event)"
                                             (upload)="upload(elt, $event);"></cde-attachments>
                        </section>
                        <section id="history-div">
                            <cde-history [elt]="elt" [canEdit]="canEdit()"></cde-history>
                        </section>
                        <section>
                            <h2>Rules</h2>
                            <cde-derivation-rules [canEdit]="canEdit()" [elt]="elt"
                                                  (eltChange)="saveDraftVoid(elt)"></cde-derivation-rules>
                        </section>
                    </article>
                    <cde-save-modal #saveModal [elt]="elt" (eltChange)="saveDraftVoid(elt)"
                                    (save)="saveDataElement(elt)"></cde-save-modal>
                </main>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #copyDataElementContent id="copyDataElementModal">
    <h1 mat-dialog-title>Create a copy</h1>
    <mat-dialog-content>
        <p class="text-info">You are about to create a new CDE/Form by duplicating this one. Please specify a new name
            and a classification of the CDE/Form.</p>
        <cde-create-data-element [elt]="eltCopy" (close)="modalRef.close()"
                                 (dismiss)="modalRef.close()"></cde-create-data-element>
    </mat-dialog-content>
</ng-template>
<cde-pin-board-modal #mltPinModal module="cde"></cde-pin-board-modal>
