<div id="pageWrapper" class="boxed-div" style="border: none">

    <h2 class="text-center" *ngIf="!searchStarted" id="searchCdesFormsHeading">Search CDEs</h2>

    <form name="advSearchForm" id="advSearchForm" novalidate="" class="ng-pristine ng-valid ng-valid-maxlength"
          [ngClass]="{'extraPadding': !searchStarted }">
        <div class="row">
            <div class="col-lg-6">
                <select class="form-control" (change)="selectElement()"
                        name="selectedClassif"
                        [(ngModel)]="selectedClassif"
                        [disabled]="aggregations.flatClassifications?.length === 0"
                        [ngClass]="{'halfOpacity':aggregations.flatClassifications?.length === 0}">
                    <option value="" selected *ngIf="searchSettings.classification.length > 0">All Sub Classifications
                    </option>
                    <option value="" selected *ngIf="searchSettings.classification.length === 0">All Classifications
                    </option>
                    <option *ngFor="let classif of aggregations.flatClassifications">{{classif.name}}</option>
                </select>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <label class="sr-only" for="ftsearch-input">Search Terms</label>
                    <input name="q" id="ftsearch-input"
                           class="form-control search-query ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched"
                           type="text" [(ngModel)]="searchSettings.q"
                           placeholder="Search..."
                           autocomplete="off">
                    <span class="input-group-append">
                        <button id="search.submit" class="flush" (click)="searchStarted = true; search()" type="submit"
                                mat-raised-button color="primary">
                            <mat-icon>search</mat-icon> Search
                        </button>
                        <button id="search.reset" class="flush" (click)="reset()" mat-raised-button>
                            <mat-icon>clear</mat-icon> Reset
                        </button>
                    </span>
                </div>
            </div>
        </div>

    </form>

    <div> Search Inside
        <ol class="breadcrumb form-control" style="display: inline-block">
            <li *ngIf="!(searchSettings.classification.length > 0)">All Classifications</li>
            <li *ngFor="let c of searchSettings.classification; let index = index">
                <span class="fake-link" (click)="crumbSelect(index)">{{c}}</span>
            </li>
            <li *ngIf="searchSettings.classification.length > 0 && aggregations.flatClassifications.length > 0">All Sub
                Classifications
            </li>
        </ol>
        <span *ngIf="took" class="pull-right" style="padding-top:10px">
            {{totalItems}} results <small> ({{took / 1000}} secs)</small></span>
    </div>

    <div class="clearfix"></div>

    <div *ngIf="searchStarted" id="searchResult">
        <cde-embedded-cde-search-result
                *ngIf="searchType === 'cde'"
                [elts]="elts"
                [searchViewSettings]="searchViewSettings"
                [embed]="embed"></cde-embedded-cde-search-result>
        <cde-embedded-form-search-result
                *ngIf="searchType === 'form'"
                [elts]="elts"
                [embed]="embed"
                [searchViewSettings]="searchViewSettings"></cde-embedded-form-search-result>

        <ngb-pagination [collectionSize]="totalItems" [(page)]="searchSettings.page"
                        [maxSize]="10" (pageChange)="search()"></ngb-pagination>
    </div>

    <small id="poweredByNihCde">Search provided by the <a target="_blank" href="https://cde.nlm.nih.gov/">NIH CDE
        Repository</a></small>
</div>