<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CDE Embedded Search</title>

    <% if (isLegacy) { %>
        <!-- Polyfills for legacy browsers -->
        <!-- build:poly /embed/polyfill.js -->
        <script type="text/javascript" src="/common/core.min.js"></script>
        <script type="text/javascript" src="/common/fetch.umd.js"></script>
        <script type="text/javascript" src="/common/Intl.min.js"></script>
        <script type="text/javascript" src="/common/en.js"></script>
        <script type="text/javascript" src="/common/classList.min.js"></script>
        <script type="text/javascript" src="/common/web-animations.min.js"></script>
        <!-- endbuild -->
    <% } %>

    <style>
        body {
            padding: 0 0 0 0;
        }
        #pageWrapper{
            height: 97%;
            width: 99%;
            position: absolute;

        }

        #poweredByNihCde {
            /*position: absolute;*/
            bottom: -10px;
            right: 5px;
            background: white;
            padding-left: 5px;
            padding-right: 5px;
        }

        #advSearchForm {
            margin: 0 0 5px 0;
        }

        .gridListView .name {width: auto;}

        #searchResult table{width: auto;}

        #searchCdesFormsHeading{
            margin-top: 90px;
        }
    </style>

    <script type="text/javascript">
        function deferCss(url) {
            var d = document.createElement('link');
            d.href = url;
            d.rel = 'stylesheet';
            d.type = 'text/css';
            var l = document.getElementsByTagName('meta')[0];
            l.parentNode.insertBefore(d, l);
        }
        deferCss('/embed/embed.css');
        deferCss('https://fonts.googleapis.com/icon?family=Material+Icons');
    </script>
    <noscript>
        <!-- build:css /embed/embed.css -->
        <link rel="stylesheet" type="text/css" href="/embed/embed.css"/>
        <!-- endbuild -->

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </noscript>
</head>
<body>
    <cde-embed></cde-embed>

    <!-- build:js /embed/embed.js -->
    <script src="/embed/embed.js"></script>
    <!-- endbuild -->

    <div class="loading">
        <br><br><br><br><br><br>
        <h2 class="text-center">Loading...</h2>
        <br><br><br><br><br><br>
    </div>

    <% if (isLegacy) { %>
        <!--[if IE]>
        <script type="text/javascript">
            window.location = "/supportedBrowsers";
            document.createElement("inline-edit");
            document.createElement("inline-area-edit");
        </script>
        <![endif]-->
    <% } %>
</body>

</html>
