<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-12">
            <div class="mx-3 mt-3 mb-3">
                <div *ngIf="cdeFhir.fhirData.smart?.userId">
                    <span class="info-heading">Logged in as:</span>
                    <span class="info-label">{{cdeFhir.fhirData.smart.userId}}</span>
                    <hr>
                </div>
                <div>
                    <span class="info-heading">Patient:</span>
                    <span class="info-label">{{getPatientName(cdeFhir.fhirData.patient)}}</span>
                </div>
                <div>
                    <span class="info-heading">Date of Birth:</span>
                    <span class="info-label">{{cdeFhir.fhirData.patient?.birthDate}}</span>
                </div>
                <div>
                    <span class="info-heading">Gender:</span>
                    <span class="info-label" style="text-transform: capitalize">{{cdeFhir.fhirData.patient?.gender}}</span>
                </div>
                <div class="list-group mt-3">
                    <button type="button" class="list-group-item" (click)="modeChange('filter')">
                        Filter
                        <span *ngIf="cdeFhir.fhirData.context" class="badge badge-primary"
                              style="background-color: #007bff;white-space: normal">
                            {{cdeFhir.fhirData.context.id}}
                        </span>
                    </button>
                </div>
                <div class="list-group mt-1">
                    <button type="button" class="list-group-item" (click)="modeChange('browse')">
                        Browse
                    </button>
                </div>
                <div class="list-group mt-3">
                    <div class="info-heading">Panels:</div>
                    <button type="button" class="list-group-item" *ngFor="let f of cdeFhir.patientForms"
                            (click)="modeChange('form'); loadForm(f)">
                        {{f.name}}
                        <span class="badge badge-secondary">{{formResourceLabel(f.form)}}</span>
                        <span style="float: right">
                            <span *ngIf="f.total" style="display: table-cell; width: 60px;">
                                <div style="font-size: smaller; text-align: center">{{f.observed}} / {{f.total}}</div>
                                <div class="progress" style="height: 4px; margin-bottom: auto">
                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                         aria-valuemin="0" aria-valuemax="100" attr.aria-valuenow="{{f.percent}}"
                                         [style.width]="f.percent + '%'"></div>
                                </div>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-12">
            <div style="padding: 5px; max-width: 1010px; margin: 0 auto">
                <h2 *ngIf="errorMessage" class="my-3 text-center" style="color: red">{{errorMessage}}</h2>
                <div *ngIf="mode === 'filter'" class="my-3">
                    <div class="my-2">
                        <button mat-raised-button color="primary"
                                (click)="cdeFhir.selectPatient()">Patient</button> {{cdeFhir.fhirData.patient?.id}}
                    </div>
                    <div class="my-2">
                        <button mat-raised-button color="primary"
                                (click)="cdeFhir.selectEncounter()">Encounter</button> {{cdeFhir.fhirData.context?.id}}
                    </div>
                </div>
                <div *ngIf="mode === 'browse' && cdeFhir.fhirData.patient" class="my-3">
                    <h2>
                        Browse
                        <mat-form-field>
                            <mat-select placeholder="Select Type" [(ngModel)]="browseMode"
                                        (selectionChange)="browseResourceSelected()">
                                <mat-option *ngFor="let option of browseOptions" [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </h2>
                    <cde-fhir-browser-encounter *ngIf="browseEncounters"
                                                [encounters]="browseEncounters"></cde-fhir-browser-encounter>
                </div>
                <ng-container *ngIf="mode === 'form' && cdeFhir.renderedResourceTree?.crossReference">
                    <cde-native-render [elt]="cdeFhir.renderedResourceTree.crossReference" [submitForm]="true"
                                       [profile]="selectedProfile"
                                       nativeRenderType="default">
                    </cde-native-render>
                    <button mat-raised-button color="primary" [disabled]="saving"
                            type="submit" id="button_submit" (click)="submitForm()"
                            style="margin-left: 0; margin-top: 20px; font-weight: bold; width: 100px">
                        <mat-icon *ngIf="saving" class="spin">refresh</mat-icon>
                        <mat-icon *ngIf="saved">done</mat-icon>
                        Submit
                    </button>
                    {{saveMessage}}
                </ng-container>
            </div>
        </div>
    </div>
</div>
