<button *ngIf="elements.length > 1" id="qb_compare" class="btn btn-lg btn-outline-secondary"
        (click)="openCompareSideBySideContent();">
    <i class="fa fa-search"></i> Side by Side View
</button>

<ng-template #compareSideBySideContent id="compareSideBySideModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="compareSideBySideModalHeader">
        <div class="col-6 leftObj">
            <a id="sourceElement" class='btn btn-lg btn-small btn-outline-secondary' target="_blank" [href]=leftUrl>
                <i class="fa fa-eye"></i> View Full Detail</a>
            <ng-container *ngIf="canMergeDataElement">
                <cde-merge-data-element [source]="left" [destination]="right"
                                        (doneMerge)="doneMerge($event)"></cde-merge-data-element>
            </ng-container>
            <ng-container *ngIf="canMergeForm">
                <cde-merge-form [left]="left" [right]="right"
                                (doneMerge)="doneMerge($event)"></cde-merge-form>
            </ng-container>
        </div>
        <div class="col-6 rightObj">
            <a id="destinationElement" class='btn btn-lg btn-small btn-outline-secondary' target="_blank" [href]=rightUrl>
                <i class="fa fa-eye"></i> View Full Detail</a>
            <ng-container *ngIf="canMergeDataElement">
                <cde-merge-data-element [source]="left" [destination]="right"
                                        (doneMerge)="doneMerge($event)"></cde-merge-data-element>
            </ng-container>
            <ng-container *ngIf="canMergeForm">
                <cde-merge-form [left]="right" [right]="left"
                                (doneMerge)="doneMerge($event)"></cde-merge-form>
            </ng-container>
        </div>
    </div>
    <div class="modal-body col-12" id="compareSideBySideModalBody">
        <ng-container *ngFor="let option of options">
            <div *ngIf="option.displayAs.display" id="{{option.displayAs.label}}">
                <div class="overflowHidden">
                    <strong>{{option.displayAs.label}}</strong>
                    <div *ngFor="let fullMatch of option.fullMatches" class="col-12">
                        <div class="col-6 noLeftPadding">
                            <div class="fullMatch">
                                <div *ngFor="let d of option.displayAs.data">
                                    <strong>{{d.label?d.label+":":d.label}}</strong>
                                    <span [innerHTML]=getValue(fullMatch.left,d)></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 noRightPadding">
                            <div class="fullMatch">
                                <div *ngFor="let d of option.displayAs.data">
                                    <strong>{{d.label?d.label+":":d.label}}</strong>
                                    <span [innerHTML]=getValue(fullMatch.right,d)></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let partialMatch of option.partialMatches" class="col-12">
                        <div class="col-6 noLeftPadding">
                            <div class="partialMatch">
                                <div *ngFor="let d of option.displayAs.data">
                                    <strong>{{d.label?d.label+":":d.label}}</strong>
                                    <span [innerHTML]=getValue(partialMatch.left,d)></span>
                                    <i *ngIf="partialMatch.diff.indexOf(d.property)>-1"
                                       class="fa fa-exclamation-triangle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 noRightPadding">
                            <div class="partialMatch">
                                <div *ngFor="let d of option.displayAs.data">
                                    <strong>{{d.label?d.label+":":d.label}}</strong>
                                    <span [innerHTML]=getValue(partialMatch.right,d)></span>
                                    <i *ngIf="partialMatch.diff.indexOf(d.property)>-1"
                                       class="fa fa-exclamation-triangle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="option.leftNotMatches.length>0 || option.rightNotMatches.length>0" class="col-12">
                        <div class="col-6 noLeftPadding">
                            <div *ngFor="let leftNotMatch of option.leftNotMatches" class="notMatch">
                                <div *ngFor="let d of option.displayAs.data">
                                    <strong>{{d.label?d.label+":":d.label}}</strong>
                                    <span [innerHTML]=getValue(leftNotMatch,d)></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 noRightPadding">
                            <div *ngFor="let rightNotMatch of option.rightNotMatches" class="notMatch">
                                <div *ngFor="let d of option.displayAs.data">
                                    <strong>{{d.label?d.label+":":d.label}}</strong>
                                    <span [innerHTML]=getValue(rightNotMatch,d)></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer" id="compareSideBySideModalFooter">
        <button class="btn btn-lg btn-warning" id="closeCompareSideBySideBtn" (click)="c();">Close
        </button>
    </div>
</ng-template>