<button *ngIf="elements.length > 1" id="qb_de_compare" class="btn btn-default"
        (click)="openCompareSideBySideContent();">
    <i class="fa fa-search"></i> Side by Side View
</button>

<ng-template #compareSideBySideContent id="compareSideBySideModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="compareSideBySideModalHeader">
        <div class="col-xs-6">
            <a class='btn btn-small btn-default' target="_blank" [href]=leftUrl>
                <i class="fa fa-eye"></i> View Full Detail</a>
        </div>
        <div class="col-xs-6">
            <a class='btn btn-small btn-default' target="_blank" [href]=rightUrl>
                <i class="fa fa-eye"></i> View Full Detail</a>
        </div>
    </div>
    <div class="modal-body col-xs-12" id="compareSideBySideModalBody">
        <ng-container *ngFor="let option of options">
            <div *ngIf="option.displayAs.display">
                <div class="overflowHidden">
                    <label>{{option.displayAs.label}}</label>
                    <div *ngFor="let fullMatch of option.fullMatches" class="col-xs-12">
                        <div class="col-xs-6 noLeftPadding fullMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <label>{{d.label?d.label+":":d.label}}</label>
                                <span [innerHTML]=getValue(fullMatch.left,d)></span>
                            </div>
                        </div>
                        <div class="col-xs-6 noRightPadding fullMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <label>{{d.label?d.label+":":d.label}}</label>
                                <span [innerHTML]=getValue(fullMatch.right,d)></span>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let partialMatch of option.partialMatches" class="col-xs-12">
                        <div class="col-xs-6 noLeftPadding partialMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <label>{{d.label?d.label+":":d.label}}</label>
                                <span [innerHTML]=getValue(partialMatch.left,d)></span>
                                <i *ngIf="partialMatch.diff.indexOf(d.property)>-1"
                                   class="fa fa-exclamation-triangle"></i>
                            </div>
                        </div>
                        <div class="col-xs-6 noRightPadding partialMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <label>{{d.label?d.label+":":d.label}}</label>
                                <span [innerHTML]=getValue(partialMatch.right,d)></span>
                                <i *ngIf="partialMatch.diff.indexOf(d.property)>-1"
                                   class="fa fa-exclamation-triangle"></i>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="option.leftNotMatches.length>0 || option.rightNotMatches.length>0" class="col-xs-12">
                        <div class="col-xs-6 noLeftPadding">
                            <div *ngFor="let leftNotMatch of option.leftNotMatches" class="notMatch">
                                <div *ngFor="let d of option.displayAs.data">
                                    <label>{{d.label?d.label+":":d.label}}</label>
                                    <span [innerHTML]=getValue(leftNotMatch,d)></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 noRightPadding">
                            <div *ngFor="let rightNotMatch of option.rightNotMatches" class="notMatch">
                                <div *ngFor="let d of option.displayAs.data">
                                    <label>{{d.label?d.label+":":d.label}}</label>
                                    <span [innerHTML]=getValue(rightNotMatch,d)></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer" id="compareSideBySideModalFooter">
        <button class="btn btn-warning" id="closeCompareSideBySideBtn"
                (click)="c();">Close
        </button>
    </div>
</ng-template>