<div [innerHtml]="elt.primaryDefinitionCopy"></div>
<br>
<dl class="row">
    <ng-container *ngIf="elt.usedBy">
        <dt class="col-sm-5">Used By:</dt>
        <dd class="col-sm-7 " id="usedBy">
            <div *ngIf="elt.classification.length === 0">None</div>
            <div *ngIf="elt.classification.length > 0">
                <span *ngFor="let ub of elt.usedBy">{{ub}} </span>
            </div>
        </dd>
    </ng-container>
    <dt class="col-sm-5">Steward:</dt>
    <dd class="col-sm-7 ">{{elt.stewardOrg.name}}</dd>
    <ng-container *ngIf="elt.source">
        <dt class="col-sm-5">Source:</dt>
        <dd class="col-sm-7 ">{{elt.source}}</dd>
    </ng-container>
</dl>
