<button mat-raised-button id="openLinkedBoardsModalBtn" (click)="openLinkedBoardsModal()" color="primary">Linked Boards
</button>

<ng-template #linkedBoardsContent>
    <h3 mat-dialog-title>Linked Boards</h3>
    <div mat-dialog-content>
        <div *ngIf="!(boards?.length > 0)">No boards use this element</div>
        <div *ngFor="let board of boards; let i = index">
            <cde-board-view-template [board]="board"></cde-board-view-template>
        </div>
    </div>
    <div mat-dialog-actions>
        <button id="closeLinkedBoardBtn" [mat-dialog-close] mat-raised-button>Close</button>
    </div>
</ng-template>
