<h2 class="sectionDetailSubtitle">Identifiers</h2>
<table class="sectionDetailTable">
    <tr>
        <th>Source</th>
        <th>Id</th>
        <th>Version</th>
        <th *ngIf="canEdit"></th>
    </tr>
    <tr>
        <td itemprop="codingSystem" content="NIH CDE Repository">NLM</td>
        <td itemprop="codeValue">{{elt.tinyId}}</td>
        <td itemprop="version">{{elt.version}}</td>
        <td *ngIf="canEdit"></td>
    </tr>
    <tr *ngFor="let id of elt.ids; let i = index">
        <td attr.itemprop="source_{{i}}">{{id.source}}</td>
        <td attr.itemprop="id_{{i}}">
            <a *ngIf="idsLinks[i]; else noLink" [href]="idsLinks[i]" target="_blank"
               rel="noopener noreferrer">{{id.id}}</a>
            <ng-template #noLink>{{id.id}}</ng-template>
        </td>
        <td attr.itemprop="version_{{i}}">{{id.version}}</td>
        <td *ngIf="canEdit">
            <mat-icon id="removeIdentifier-{{i}}" class="fake-button" role="button" tabindex="0"
                      title="Remove" (click)="removeIdentifierByIndex(i)">delete_outline
            </mat-icon>
        </td>
    </tr>
</table>
<button *ngIf="canEdit" id="openNewIdentifierModalBtn" class="button" (click)="openNewIdentifierModal()">
    <mat-icon>add</mat-icon>
    Add Identifier
</button>
