<ngb-accordion>
    <ngb-panel class='panel-default' *ngFor="let edit of records">
        <ng-template ngbPanelTitle>
            <span *ngIf="edit.elements.length === 1">{{edit.elements[0].name}}</span>
            <span *ngIf="edit.elements.length === 10">10+ elements</span>
            <span *ngIf="edit.elements.length > 1 && edit.elements.length < 10">{{edit.elements.length}} elements</span>
            <span class="text-info">{{edit.path.join(" > ")}}</span>
            <span class="matched-by">{{edit.date | date : 'MMM d, y, h:mm a' }}</span>
        </ng-template>
        <dl class="dl-horizontal">
            <dt>User</dt>
            <dd>{{edit.user.username}}</dd>
            <dt>Date</dt>
            <dd>{{edit.date | date : 'MMM d, y, h:mm a'}}</dd>
            <dt>
                <span *ngIf="edit.elements.length === 1">Element</span>
                <span *ngIf="edit.elements.length > 1">Elements</span></dt>
            <dd>
                <span *ngIf="edit.elements.length>1">{{edit.elements.length}} elements: </span>
                <span *ngFor="let e of edit.elements">
                    <span *ngIf="e.eltType === 'cde'">
                        <a *ngIf="e._id" target="_blank" href="/deview?cdeId={{e._id}}">{{e.name || "Element " +  ($index + 1)}}</a>
                        <a *ngIf="e.tinyId" target="_blank" href="/deview?tinyId={{e.tinyId}}">{{e.name || "Element " +  ($index + 1)}}</a>
                    </span>
                    <span *ngIf="e.eltType === 'form'">
                        <a *ngIf="e._id" target="_blank" href="/formView?formId={{e._id}}">{{e.name || "Element " +  ($index + 1)}}</a>
                        <a *ngIf="e.tinyId" target="_blank" href="/formView?tinyId={{e.tinyId}}">{{e.name || "Element " +  ($index + 1)}}</a>
                    </span>
                    <span *ngIf="$index < edit.elements.length-1">, </span>
                </span>
            </dd>
            <dt *ngIf="edit.elements.length === 1">Registration Status</dt>
            <dd *ngIf="edit.elements.length === 1">{{edit.elements[0].status}}</dd>
            <dt>Classification</dt>
            <dd>{{edit.action | cdeCamelCaseToHuman}} <span class="text-danger">{{edit.path.join(" > ")}}</span> <span
                    *ngIf="edit.action === 'rename'"> to <span class='text-danger'>{{edit.newname}}</span></span></dd>
        </dl>
    </ngb-panel>
</ngb-accordion>

<ngb-pagination [collectionSize]="1000" [(page)]="currentPage" (pageChange)="gotoPageLocal(currentPage)" [maxSize]="10">
</ngb-pagination>