<h1>My Organizations' Curators</h1>
<form class="stack" #newCuratorForm="ngForm" novalidate>
    <cde-username-autocomplete (selected)="newUsername = $event"></cde-username-autocomplete>
    a curator for
    <mat-form-field>
        <select *ngIf="userService.user" matNativeControl name="newOrgCuratorOrgName" [(ngModel)]="newOrgName" required>
            <option value="">select organization</option>
            <option *ngFor="let myOrg of userService.user.orgAdmin">{{myOrg}}</option>
        </select>
    </mat-form-field>
    <button type="submit" class="button" (click)="addOrgCurator()" [disabled]="!newCuratorForm.valid">
        Make Curator
    </button>
</form>
<table class="table table-border">
    <tr>
        <th>Organization Name:</th>
        <th>Curators for this Organization:</th>
    </tr>
    <tr *ngFor="let orgCurator of orgCurators; let $pindex = index">
        <td id="existingOrgCuratorOrgName-{{orgCurator.name}}">{{orgCurator.name}}</td>
        <td>
            <div *ngFor="let user of orgCurator.users; let $index = index">
                <span id="existingOrgCuratorUsername-{{$pindex}}-{{$index}}">{{user.username}}</span>
                <mat-icon (click)="removeOrgCurator(orgCurator.name, user._id)"
                          id="removeOrgCuratorUsername-{{$pindex}}-{{$index}}">delete_outline
                </mat-icon>
            </div>
        </td>
    </tr>
</table>
