<h4 mat-dialog-title>Mesh Mappings</h4>
<form #mapClassificationMeshForm="ngForm" (ngSubmit)="addMeshDescriptor()">
    <div mat-dialog-content>
        <div *ngIf="mapping.meshDescriptors.length === 0">
            No mapping. Add more below.
        </div>

        <div *ngFor="let desc of mapping.meshDescriptors;let i=index;">
            <mat-icon (click)="removeDescriptor(i)" class="fake-link" title="remove">delete_outline</mat-icon>
            {{desc}} -{{descToName[desc]}}
        </div>

        <mat-form-field>
            <input matInput [(ngModel)]="meshSearchTerm" name="meshSearchTerm"
                   id="mapClassificationMeshInput" pattern="^[^;]+$" (change)="searchMesh()"
                   (ngModelChange)="searchMesh()" required placeholder="MeSH Descriptor">
        </mat-form-field>

        <span *ngIf="searching">searching...</span>

        <div *ngIf="descriptorID">
            {{descriptorID}} -- {{descriptorName}}
            <button *ngIf="descriptorName.length > 0" id="addMeshDescButton" type="submit" class="button"
                    [disabled]="mapping.meshDescriptors.indexOf(descriptorID) > -1">Add
            </button>
        </div>

    </div>
    <div mat-dialog-actions>
        <button class="button" [mat-dialog-close] id="cancelMapClassificationMeshBtn">Close</button>
    </div>
</form>
