<div id="gridList">
    <table class="gridListView table table-condensed table-striped table-bordered">
        <thead>
        <tr>
            <th >Name</th>
            <th *ngIf="searchViewSettings.tableViewFields.permissibleValues">Permissible Values</th>
            <th *ngFor="let customField of searchViewSettings.tableViewFields.customFields"
                style="{{customField.style}}">{{customField.label}}</th>
            <th *ngFor="let eCl of embed.cde!.classifications">{{eCl.label}}
                <span *ngIf="clLimit === 100"> <a href (click)="lowerClLimit()">(show 3)</a></span>
                <span *ngIf="clLimit < 100">(3 shown, <a href="" (click)="raiseClLimit()">see all</a>)</span>
            </th>
            <th *ngIf="embed.cde!.linkedForms && embed.cde!.linkedForms!?.show">
                {{embed.cde!.linkedForms?.label}}
                <span *ngIf="lfLimit === 100"> <span class="fake-link"
                                                     (click)="lowerLfLimit()">(show 3)</span></span>
                <span *ngIf="lfLimit !== 100">(3 shown,
                    <span class="fake-link" (click)="raiseLfLimit()">see all</span>)</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let elt of elts">
            <td class="name">
                <a href="https://cde.nlm.nih.gov/deView?tinyId={{elt.tinyId}}" target="_blank" rel="noopener noreferrer">
                    {{elt.designations[0].designation}}
                </a>
            </td>
            <td *ngIf="searchViewSettings.tableViewFields.permissibleValues" class="permissibleValues multiline-ellipsis">
                <strong>
                    {{elt.valueDomain.datatype}}<span *ngIf="elt.valueDomain.datatype==='Value List'">:</span>
                </strong>
                <span *ngIf="elt.valueDomain.permissibleValues">
                    <span>{{concatenatePVs(elt).substring(0, 169)}}</span>
                    <span class="lastItem" *ngIf="concatenatePVs(elt).length > 170">(More...)</span>
                </span>
            </td>
            <td *ngFor="let customField of searchViewSettings.tableViewFields.customFields">{{elt.embed[customField.key] | slice:0:200}}
                <span *ngIf="elt.embed[customField.key]?.length > 200">(truncated...)</span>
            </td>
            <td *ngFor="let eCl of embed.cde.classifications">
                <ul style="margin-bottom: 0">
                    <li *ngFor="let cl of elt.embed[eCl.label] | slice:0:clLimit"><small>{{cl}}</small></li>
                </ul>
                <div *ngIf="elt.embed[eCl.label].length > clLimit" style="margin-left: 20px">...</div>
            </td>
            <td *ngIf="embed.cde.linkedForms.show">
                <ul>
                    <li *ngFor="let lf of elt.embed.linkedForms | slice:0:lfLimit">{{lf.name}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>