<div class="container">

    <div *ngIf="comments.latestComments?.length > 0">
        <h3>Comments</h3>
        <table class="table table-border table-striped table-responsive">
            <tr>
                <th>Username</th>
                <th>Date</th>
                <th>Text</th>
                <th>Type</th>
            </tr>
            <tbody>
            <tr *ngFor="let c of comments.latestComments">
                <td>{{c.user?.username}}</td>
                <td>{{c.created | date:'MM/dd/yyyy @h:mma'}}</td>
                <td>{{c.text}}</td>
                <td><a href="{{uriView(c.element.eltType, c.element.eltId)}}" target="_blank">{{c.element.eltType}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!comments.latestComments || comments.latestComments.length === 0">
        There are no comments.
    </div>

    <mat-paginator (page)="pageChange($event)" [length]="comments.totalItems"
                   [pageIndex]="comments.currentCommentsPage - 1"
                   [pageSize]="30" [hidePageSize]="true" style="font-size: 1.4em">
    </mat-paginator>

</div>
