<h4 mat-dialog-title>Add a Designation</h4>

<form role="form" #newDesignationForm="ngForm">
    <div mat-dialog-content>
        <div class="form-group">
            <label for="newDesignation">Designation</label>
            <input class="form-control" id="newDesignation" name="newDesignation"
                   [(ngModel)]="newDesignation.designation" Placeholder="Name / Designation" required/>
        </div>
        <div class="form-group">
            <label for="newDesignationTags">Tags</label>
            <div id="newDesignationTags">
                <ng-select [(ngModel)]="newDesignation.tags" [items]="tags" [hideSelected]="true" [hideSelected]="true"
                           [placeholder]="noTagFoundMessage" multiple="true"  name="newTags">
                </ng-select>
            </div>
        </div>
        <div class="alert alert-info">
            Tags are managed in Org Management > List Management
        </div>
    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close] id="cancelNewDesignationBtn" type="button" mat-raised-button color="warn">Cancel
        </button>
        <button [disabled]="!newDesignationForm.form.valid" id="createNewDesignationBtn"
                type="button" mat-raised-button color="primary" [mat-dialog-close]="newDesignation">Save</button>
    </div>
</form>