<h1>My Organizations' Editors</h1>
<form class="stack" #newEditorForm="ngForm" novalidate>
    <cde-username-autocomplete (selected)="newUsername = $event"></cde-username-autocomplete>
    an editor for
    <mat-form-field>
        <select *ngIf="userService.user" matNativeControl name="newOrgEditorOrgName" [(ngModel)]="newOrgName" required>
            <option value="">select organization</option>
            <option *ngFor="let myOrg of userService.user.orgAdmin">{{myOrg}}</option>
        </select>
    </mat-form-field>
    <button type="submit" class="button" (click)="addOrgEditor()" [disabled]="!newEditorForm.valid">
        Make Editor
    </button>
</form>
<table class="table table-border">
    <tr>
        <th>Organization Name:</th>
        <th>Editors for this Organization:</th>
    </tr>
    <tr *ngFor="let orgEditor of orgEditors; index as i">
        <td id="existingOrgEditorOrgName-{{orgEditor.name}}">{{orgEditor.name}}</td>
        <td>
            <div *ngFor="let user of orgEditor.users; let $index = index">
                <span id="existingOrgEditorUsername-{{i}}-{{$index}}">{{user.username}}</span>
                <mat-icon (click)="removeOrgEditor(orgEditor.name, user._id)"
                          id="removeOrgEditorUsername-{{i}}-{{$index}}">delete_outline
                </mat-icon>
            </div>
        </td>
    </tr>
</table>
