<div class="row">
    <div class="col-3">
        <label>Chrome</label>
        <input id="chrome" type="checkbox" [(ngModel)]="browserInclude.chrome" (ngModelChange)="filter()">
    </div>
    <div class="col-3">
        <label>Firefox</label>
        <input id="firefox" type="checkbox" [(ngModel)]="browserInclude.firefox" (ngModelChange)="filter()">
    </div>
    <div class="col-3">
        <label>IE</label>
        <input id="ie" type="checkbox" [(ngModel)]="browserInclude.ie" (ngModelChange)="filter()">
    </div>
    <div class="col-3">
        <label>Edge</label>
        <input id="edge" type="checkbox" [(ngModel)]="browserInclude.edge" (ngModelChange)="filter()">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Agent</th>
            <th>Message</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let err of filteredRecords; let errIndex = index">
        <td class="fake-link" (click)="openErrorDetail(err);" id="{{errorType}}Error_{{errIndex}}">
            {{err.date | date:'MM/dd/yyyy @h:mma'}}
        </td>
        <td> {{err.agent}}</td>
        <td> {{err.name | slice:0:80 }}</td>
        <td> {{err.message | slice:0:80 }}</td>
        <td> {{err.url}}</td>
    </tr>
    </tbody>
</table>

<ngb-pagination [collectionSize]="1000" [(page)]="currentPage" (pageChange)="gotoPage()" [maxSize]="10">
</ngb-pagination>

<ng-template #errorDetailModal id="errorDetailModal">
    <div class="modal-header">
        <h4 class="modal-title">Error Details</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <strong class="col-1">Date: </strong>
            <div class="col-11">{{error.date | date:'MM/dd/yyyy @h:mma'}}</div>
        </div>
        <div class="row">
            <strong class="col-1">Name: </strong>
            <div class="col-11">{{error.name}}</div>
        </div>
        <div class="row">
            <strong class="col-1">Message: </strong>
            <div class="col-11">{{error.message}}</div>
        </div>
        <div class="row">
            <strong class="col-1">User: </strong>
            <div class="col-11">{{error.user}}</div>
        </div>
        <div class="row">
            <strong class="col-1">IP: </strong>
            <div class="col-11">{{error.ip}}</div>
        </div>
        <div class="row">
            <strong class="col-1">Browser: </strong>
            <div class="col-11">{{error.agent}}</div>
        </div>
        <div class="row">
            <strong class="col-1">User Agent: </strong>
            <div class="col-11">{{error.userAgent}}</div>
        </div>
        <div class="row">
            <strong class="col-1">URL: </strong>
            <div class="col-11">{{error.url}}</div>
        </div>
        <div class="row">
            <strong class="col-1">Stack: </strong>
            <div class="col-11">{{error.stack}}</div>
        </div>
    </div>
</ng-template>