<table class="table table-border table-responsive">
    <tr>
        <th>Organization Nameyyyy:</th>
        <th>Properties:</th>
        <th>Tags:</th>
    </tr>
    <tr *ngFor="let o of orgs">
        <td id="orgListName-{{o.name}}">
            {{o.name}}
        </td>
        <td>
            <select2 [data]="allPropertyKeys" [value]="o.propertyKeys" [options]="options"
                     width="100%" (valueChanged)="changed(o)">
            </select2>
        </td>
        <td>
            <select2 [data]="allTags" [value]="o.nameTags" [options]="options"
                     width="100%" (valueChanged)="tagsChanged(o, $event)">
            </select2>
        </td>

    </tr>
</table>