<table class="table table-border" *ngIf="allTags.length">
    <tr>
        <th>Organization Name:</th>
        <th>Properties:</th>
        <th>Tags:</th>
    </tr>
    <tr *ngFor="let o of orgs" id="orgListName-{{o.name}}">
        <td>{{o.name}}</td>
        <td>
            <mat-form-field class="w-100">
                <mat-chip-list #propertyKeyChipList>
                    <mat-chip *ngFor="let pk of o.propertyKeys"
                              [selectable]="true" [removable]="true" (removed)="removePropertyKey(o, pk)">
                        {{pk}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Property Keys"
                           [formControl]="pkControl"
                           [matChipInputFor]="propertyKeyChipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addPropertyKey(o, $event)"
                           [matAutocomplete]="pkAuto">
                    <mat-autocomplete #pkAuto="matAutocomplete" (optionSelected)="autoSelectedPk(o, $event)">
                        <mat-option *ngFor="let pkOption of filteredPropertyKeys | async" [value]="pkOption">
                            {{pkOption}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-chip-list>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="w-100">
                <mat-chip-list #tagsChipList>
                    <mat-chip *ngFor="let pk of o.nameTags"
                              [selectable]="true" [removable]="true" (removed)="removeTag(o, pk)">
                        {{pk}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Name Tags"
                           [formControl]="tagControl"
                           [matChipInputFor]="tagsChipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addTag(o, $event)"
                           [matAutocomplete]="tagAuto">
                    <mat-autocomplete #tagAuto="matAutocomplete">
                        <mat-option *ngFor="let tagOption of filteredTags | async">{{tagOption}}</mat-option>
                    </mat-autocomplete>
                </mat-chip-list>
            </mat-form-field>
        </td>
    </tr>
</table>