<div ng-controller="ShowValidRuleReportCtrl">
    <div ng-if="cdes">
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="field in gridOptionsReport.columnDefs">
                        {{field.displayName}}
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="cde in cdes">
                <td ng-repeat="(key, field) in cde">
                    <span ng-if="key==='cdeName'"><a ng-href="/deview?tinyId={{cde.tinyId}}" target="_blank">{{field}}</a></span>
                    <span ng-if="key!=='cdeName'">{{field}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>