<div ng-controller="CommentsCtrl" id="commentDiv">
    <div><input type="checkbox" ng-model="showResolvedComment"/>show resolved comments</div>
    <div ng-hide="showResolvedComment && comment.status ==='resolved'" ng-repeat="comment in elt.comments"
         class="commentBody" data-type="topComment">
        <div class="commentBox">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <div class="commentUsername">{{comment.username}}</div>
                        <div class="commentDate" style="font-size:11px;">
                            {{comment.created | date: 'MM/dd/yyyy@h:mma'}}
                        </div>
                    </td>
                    <td>
                        <button tabindex="0" ng-show="canResolveComment(comment)"
                                data-tooltip="Mark as resolved and hide discussion"
                                ng-click="updateCommentStatus(comment._id, 'resolved')"> Resolve
                        </button>
                        <a tabindex="0" ng-show="canReopenComment(comment)"
                           ng-click="updateCommentStatus(comment._id, 'active')">
                            <i class="fa fa-undo" id="reopenComment-{{$index}}"></i> Reopen</a>
                        <i class="fa fa-trash-o" id="removeComment-{{$index}}" ng-show="canRemoveComment(comment)"
                           ng-click="removeCommentOrReply(comment._id)"
                           data-type="remove"></i>
                        <i class="fa fa-edit" id="editComment-{{$index}}" ng-show="canremoveCommentOrReply(comment)"
                           ng-click="enableEditComment(comment);"
                           data-type="edit"></i>
                        <div></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show="comment.editMode !== true">{{comment.text}}</div>
            <div ng-show="comment.editMode === true">
                <textarea style="height:25px;width: 100%;" ng-focus="showEditBtn(comment);"
                          ng-Blur="hideEditBtn(comment);" ng-model="comment.text"></textarea>
                <button ng-if="comment.editMode" ng-click="saveComment(comment)">Save</button>
                <button ng-if="comment.editMode" ng-click="cancelEditComment(comment)">Cancel
                </button>
            </div>
        </div>
        <div ng-repeat="reply in comment.replies" class="commentBox">
            <div>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <div class="commentUsername">{{reply.username}}</div>
                            <div class="commentDate" style="font-size:11px;">
                                {{reply.created | date: 'MM/dd/yyyy@h:mma'}}
                            </div>
                        </td>
                        <td>
                            <i class="fa fa-trash-o" id="removeReply-{{$index}}" ng-show="canRemoveReply(comment,reply)"
                               ng-click="removeReply(comment._id,reply._id)"
                               data-type="remove"></i>
                            <i class="fa fa-edit" id="editReply-{{$index}}" ng-show="canRemoveReply(comment,reply)"
                               ng-click="enableEditReply(comment);"
                               data-type="edit"></i>
                            <div></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>{{reply.text}}</div>
        </div>
        <div>
            <textarea ng-model="tempReply" placeholder="Reply to this comment"
                      style="height:25px;width: 100%;" ng-focus="comment.showBtn = true"
                      ng-Blur="comment.showBtn = false"></textarea>
            <button ng-show="comment.showBtn" ng-click="replyTo(comment._id, tempReply)">Reply</button>
            <button ng-show="comment.showBtn" ng-click="comment.openReply = false">Cancel</button>
        </div>
    </div>

</div>