<div class="container-fluid" ng-controller="CompareCtrl">
    <div ng-show="eltsToCompare.length !== 2" class="container">
        <h4>The side by side compare feature requires two {{module}}s to be selected.</h4>

        <p>Note: To add a {{module}}, click on the <i class="fa fa-plus"></i> next to it.</p>
    </div>
    <div class="row" id="qb_compare_viewDetail">
        <div class="col-xs-6">
            <span class="leftObj">
                <a  class='btn btn-small btn-default' target="_blank"
                   ng-href="/{{module==='cde'?'deView':'formView'}}/?tinyId={{eltsToCompare[0].tinyId}}">
                    <i class="fa fa-eye"></i> View Full Detail</a>
            </span>
            <span class="leftObj" ng-controller="MergeRequestCtrl" ng-if="cdes">
                <a class='btn btn-small btn-default fa fa-clipboard'
                   ng-show="isMergeRequestPossible(eltsToCompare[0], eltsToCompare[1])" ng-click="openMergeModal(0)"
                   title="Merge {{eltsToCompare[0].naming[0].designation}}" id="retireMerge-0"> Retire & Merge</a>
                <span ng-show="eltsToCompare[0].registrationState.administrativeStatus === 'Retire Candidate'">
                Pending Merge Request
                </span>
            </span>
            <span ng-if="module === 'form' && user._id && canMergeForm">
                <cde-merge-form class="leftObj" [left]="eltsToCompare[0]" [right]="eltsToCompare[1]"></cde-merge-form>
            </span>

        </div>
        <div class="col-xs-6">
            <span class="rightObj">
                <a  class='btn btn-small btn-default' target="_blank"
                   ng-href="/{{module==='cde'?'deView':'formView'}}/?tinyId={{eltsToCompare[1].tinyId}}">
                    <i class="fa fa-eye"></i> View Full Detail</a>
            </span>
            <span class="rightObj" ng-controller="MergeRequestCtrl" ng-if="cdes">
                <a class='btn btn-small btn-default fa fa-clipboard'
                   ng-show="isMergeRequestPossible(eltsToCompare[1], eltsToCompare[0])" ng-click="openMergeModal(1)"
                   title="Merge {{eltsToCompare[1].naming[0].designation}}" id="retireMerge-1"> Retire & Merge</a>
                <span ng-show="eltsToCompare[1].registrationState.administrativeStatus === 'Retire Candidate'">
                Pending Merge Request
                </span>
            </span>
            <span ng-if="module === 'form' && user._id && canMergeForm">
                <cde-merge-form class="rightObj" [left]="eltsToCompare[1]" [right]="eltsToCompare[0]"></cde-merge-form>
            </span>

        </div>
    </div>

    <div id="qb_compare_gd">
        <hr class="divider compare-divider">
        <h4 class="compareSectionTitle">General Details</h4>

        <div ng-compare-side-by-side ng-compare-side-by-side-options="stewardOrgOption"
             ng-compare-side-by-side-left="eltsToCompare[0].stewardOrg"
             ng-compare-side-by-side-right="eltsToCompare[1].stewardOrg"></div>
        <div ng-compare-side-by-side ng-compare-side-by-side-options="registrationStateOption"
             ng-compare-side-by-side-left="eltsToCompare[0].registrationState"
             ng-compare-side-by-side-right="eltsToCompare[1].registrationState"></div>
    </div>

    <div id="qb_compare_naming">
        <hr class="divider compare-divider">
        <h4 class="compareSectionTitle">Naming</h4>

        <div ng-compare-side-by-side ng-compare-side-by-side-options="namingOption"
             ng-compare-side-by-side-left="eltsToCompare[0].naming"
             ng-compare-side-by-side-right="eltsToCompare[1].naming"></div>
    </div>

    <div id="qb_compare_referenceDocuments"
         ng-if="eltsToCompare[0].referenceDocuments.length > 0 || eltsToCompare[0].referenceDocuments.length > 0">
        <hr class="divider compare-divider">
        <h4 class="compareSectionTitle">Reference Documents</h4>

        <div ng-compare-side-by-side ng-compare-side-by-side-options="referenceDocumentOption"
             ng-compare-side-by-side-left="eltsToCompare[0].referenceDocuments"
             ng-compare-side-by-side-right="eltsToCompare[1].referenceDocuments"></div>
    </div>

    <div id="qb_compare_properties"
         ng-if="eltsToCompare[0].properties.length > 0 || eltsToCompare[0].properties.length > 0">
        <hr class="divider compare-divider">
        <h4 class="compareSectionTitle">Properties</h4>

        <div ng-compare-side-by-side ng-compare-side-by-side-options="propertiesOption"
             ng-compare-side-by-side-left="eltsToCompare[0].properties"
             ng-compare-side-by-side-right="eltsToCompare[1].properties"></div>
    </div>

    <div id="qb_compare_concepts" ng-if="module==='cde'">
        <hr class="divider compare-divider">
        <h4 class="compareSectionTitle">Concepts</h4>
        <div ng-compare-side-by-side ng-compare-side-by-side-options="dataElementConceptOption"
             ng-compare-side-by-side-left="eltsToCompare[0].dataElementConcept.concepts"
             ng-compare-side-by-side-right="eltsToCompare[1].dataElementConcept.concepts"></div>
    </div>

    <div id="qb_compare_questions">
        <hr class="divider compare-divider">
        <h4 class="compareSectionTitle">Questions</h4>
        <div ng-compare-side-by-side ng-compare-side-by-side-options='questionOption'
             ng-compare-side-by-side-left="eltsToCompare[0].questions"
             ng-compare-side-by-side-right="eltsToCompare[1].questions">
        </div>
    </div>
    <hr class="divider compare-divider">
    <div ng-repeat="elt in cdes" class="col-md-6 noLeftRightPadding">
        <div ng-include="'/cde/public/html/valueDomainSwitch.html'"></div>
    </div>
</div>
