<div ng-controller="CompareCtrl">
    <div class="modal-header">
        <div class="container-fluid" style="width: 100%">
            <div class="row mt-2 mb-1" id="qb_compare_viewDetail">
                <div class="col-xs-6">
                    <span class="leftObj">
                        <a class='btn btn-small btn-default' target="_blank"
                           ng-href="/{{module==='cde'?'deView':'formView'}}/?tinyId={{eltsToCompare[0].tinyId}}">
                            <i class="fa fa-eye"></i> View Full Detail</a>
                    </span>
                    <span class="leftObj" ng-controller="MergeRequestCtrl" ng-if="module === 'cde'">
                        <a class="btn btn-small btn-default fa fa-clipboard" ng-click="openMergeModal(0)"
                           ng-show="isMergeRequestPossible(eltsToCompare[0], eltsToCompare[1])"
                           title="Merge {{eltsToCompare[0].naming[0].designation}}" id="retireMerge-0"> Retire & Merge</a>
                        <span ng-show="eltsToCompare[0].registrationState.administrativeStatus === 'Retire Candidate'">
                            Pending Merge Request
                        </span>
                    </span>
                    <span ng-if="module === 'form' && user._id && canMergeForm">
                        <cde-merge-form class="leftObj" [left]="eltsToCompare[0]" [right]="eltsToCompare[1]"></cde-merge-form>
                    </span>
                </div>
                <div class="col-xs-6">
                    <span class="rightObj">
                        <a class='btn btn-small btn-default' target="_blank"
                           ng-href="/{{module==='cde'?'deView':'formView'}}/?tinyId={{eltsToCompare[1].tinyId}}">
                            <i class="fa fa-eye"></i> View Full Detail</a>
                    </span>
                    <span class="rightObj" ng-controller="MergeRequestCtrl" ng-if="module === 'cde'">
                        <a class='btn btn-small btn-default fa fa-clipboard'
                           ng-show="isMergeRequestPossible(eltsToCompare[1], eltsToCompare[0])" ng-click="openMergeModal(1)"
                           title="Merge {{eltsToCompare[1].naming[0].designation}}" id="retireMerge-1"> Retire & Merge</a>
                        <span ng-show="eltsToCompare[1].registrationState.administrativeStatus === 'Retire Candidate'">
                            Pending Merge Request
                        </span>
                        </span>
                    <span ng-if="module === 'form' && user._id && canMergeForm">
                        <cde-merge-form class="rightObj" [left]="eltsToCompare[1]" [right]="eltsToCompare[0]"></cde-merge-form>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button class="btn btn-default done" ng-click="$dismiss()" id="closeModal">Close</button>
    </div>
</div>
