<div class="container">
    <h3>Embed CDE / Form Search on your site</h3>

    <div ng-repeat="org in myOrgs" ng-hide="selection">
        <h4>Embeds for {{org}} <button ng-click="addEmbed(org)" id="{{org}}_addEmbed" class="btn btn-sm btn-default">
            <i class="fa fa-plus-square-o"></i> Add
        </button></h4>
        <span ng-if="embeds[org].length > 0">
            <ul>
                <li ng-repeat="e in embeds[org]">
                    <span ng-show="showDelete">Confirm Delete
                        <a class="fa fa-check" ng-click="showDelete = false; remove(e)"
                           id="confirmRemoveEmbed-{{$index}}" title="OK" href=""></a>
                        <a class="fa fa-times" ng-click="showDelete = false" title="Cancel" href=""></a>
                    </span>
                    <a ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o"
                       id="removeEmbed-{{$index}}" title="Remove" href=""></a>
                    <a title="editEmbed" class="fa fa-pencil" ng-click="edit(org, e)"
                       id="{{org}}.{{$index}}.editEmbed" href=""> </a> {{e.name}}
                (id = {{e._id}})</li>
            </ul>
        </span>

    </div>


    <div class="boxed-div" ng-if="selection">
        <form name="editEmbed">
        <label for="selection.org">Org to embed</label>
        <input class="form-control" ng-model="selectedOrg" id="selection.org" disabled>
        <br>

        <label for="embedName">Name this embedded search:</label>
        <input class="form-control" ng-model="selection.name" id="embedName" required>
        <br>
        <label for="width">Width</label>
        <input type="number" ng-model="selection.width" id="width" min="600" class="form-control" required>
        <label for="height">Height</label>
        <input type="number" ng-model="selection.height" id="height" min="600" class="form-control" required>

        <div class="row">
            <div class="col-md-10 boxed-div" style="margin-left: 15px">
                <h2>CDE Search
                    <span class="btn-group">
                        <button id="cdeEnabled" class="btn btn-sm" ng-class="{'btn-success':selection.cde}"
                                ng-click="enableCde(true)"> On
                        </button>
                        <button id="cdeDisabled" class="btn btn-sm" ng-class="{'btn-danger':!selection.cde}"
                                ng-click="enableCde(false)"> Off
                        </button>
                    </span>
                </h2>
                <div ng-show="selection.cde">
                    <input type="checkbox" ng-model="selection.cde.primaryDefinition.show"
                           id="cde.primaryDefinition">
                    <label for="cde.primaryDefinition">See Primary Definition</label>
                    <div ng-if="selection.cde.primaryDefinition.show">
                        <label for="cde.primaryDefinition.label">Definition Label: </label>
                        <input ng-model="selection.cde.primaryDefinition.label"
                               id="cde.primaryDefinition.label"
                                class="form-control">
                    </div>
                    <div ng-if="selection.cde.primaryDefinition.show">
                        <label for="cde.primaryDefinition.style">CSS Style: </label>
                        <input ng-model="selection.cde.primaryDefinition.style"
                               id="cde.primaryDefinition.style"
                               class="form-control" >
                    </div>
                    <br>
                    <div class="boxed-div">
                        <h4>Names (besides primary)</h4>
                        <button ng-click="addCdeName()" class="btn btn-default" id="addName">Add Name</button>
                        <div ng-repeat="thisName in selection.cde.otherNames" class="boxed-div">
                            <button ng-click="selection.cde.otherNames.splice($index, 1)"
                                    id="name.{{$index}}.remove" title="Remove">
                                <i class="fa fa-trash"></i></button>
                            <label for="name.{{$index}}.contextName">Name Context:</label>
                            <input ng-model="thisName.contextName" id="name.{{$index}}.contextName"
                                   class="form-control" required>
                            <br>
                            <label for="name.{{$index}}.label">Choose a label for the Name:</label>
                            <input ng-model="thisName.label" id="name.{{$index}}.label" class="form-control" required>
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="boxed-div">
                        <h4>Identifiers</h4>
                        <button ng-click="addCdeId()" class="btn btn-default" id="addId">Add ID</button>
                        <div ng-repeat="thisId in selection.cde.ids" class="boxed-div">
                            <button ng-click="selection.cde.ids.splice($index, 1)"
                                    id="id.{{$index}}.remove" title="Remove">
                                <i class="fa fa-trash"></i></button>
                            <label for="id.{{$index}}.source">ID Source Name:</label>
                            <input ng-model="thisId.source" id="id.{{$index}}.source" class="form-control" required>
                            <br>
                            <label for="id.{{$index}}.idLabel">Choose a label for the ID column:</label>
                            <input ng-model="thisId.idLabel" id="id.{{$index}}.idLabel" class="form-control" required>
                            <br>
                            <input type="checkbox" ng-model="thisId.version" id="id.{{$index}}.sourceVersion">
                            <label for="id.{{$index}}.sourceVersion">Also see version number</label>
                            <span ng-if="thisId.version">
                                <br>
                                <label for="id.{{$index}}.versionLabel">Choose a label for the version column:</label>
                                <input ng-model="thisId.versionLabel" id="id.{{$index}}.versionLabel" class="form-control" required>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="boxed-div">
                        <h4>Classifications</h4>
                        <button ng-click="addCdeClassification()" class="btn btn-default" id="addClassification">Add Classification</button>
                        <div ng-repeat="thisClassif in selection.cde.classifications" class="boxed-div">
                            <button ng-click="selection.cde.classifications.splice($index, 1)"
                                    id="classif.{{$index}}.remove" title="Remove">
                                <i class="fa fa-trash"></i></button>
                            <label for="classif.{{$index}}.label">Choose a label:</label>
                            <input ng-model="thisClassif.label" id="classif.{{$index}}.label" class="form-control" required>
                            <br>
                            <label for="classif.{{$index}}.startsWith">Include classifications starting with: </label>
                            <input ng-model="thisClassif.startsWith" id="classif.{{$index}}.startsWith" class="form-control">
                            <br>
                            <label for="classif.{{$index}}.exclude">Exclude classifications with regEx: </label>
                            <input ng-model="thisClassif.exclude" id="classif.{{$index}}.exclude" class="form-control">
                            <br>
                            <input type="checkbox" ng-model="thisClassif.selectedOnly" id="classif.{{$index}}.selectedOnly">
                            <label for="classif.{{$index}}.selectedOnly">Only show selected classifications </label>
                        </div>
                    </div>
                    <div class="boxed-div">
                        <h4>Linked Forms</h4>
                        <input type="checkbox" ng-model="selection.cde.linkedForms.show"
                               id="cde.linkedForms">
                        <label for="cde.linkedForms">See Linked Forms</label>
                        <br>
                        <span ng-show="selection.cde.linkedForms.show">
                            <label for="cde.linkedForms.label">Choose a label:</label>
                            <input ng-model="selection.cde.linkedForms.label" id="cde.linkedForms.label" class="form-control">
                        </span>
                    </div>
                    <br>
                    <label for="cde.pageSize">Number of results per page</label>
                    <input type="number" ng-model="selection.cde.pageSize" id="cde.pageSize" class="form-control" required>

                    <h3><i class="fa fa-check-square-o"></i> Registration Statuses</h3>
                    <div class="form-group">
                        <span>I want my search results to include these statuses</span>
                        <div class="radio indent">
                            <label>
                                <input type="radio" ng-model="selection.cde.lowestRegistrationStatus" id="cde.minStatus.qualified"
                                       value="Qualified">
                                Preferred Standard, Standard, Qualified
                            </label>
                        </div>
                        <div class="radio indent">
                            <label>
                                <input type="radio" ng-model="selection.cde.lowestRegistrationStatus" id="cde.minStatus.recorded"
                                       value="Recorded">
                                Preferred Standard, Standard, Qualified, Recorded
                            </label>
                        </div>
                        <div class="radio indent">
                            <label>
                                <input type="radio" ng-model="selection.cde.lowestRegistrationStatus" id="cde.minStatus.candidate"
                                       value="Candidate">
                                Preferred Standard, Standard, Qualified, Recorded, Candidate
                            </label>
                        </div>
                        <div class="radio indent">
                            <label>
                                <input id="cde.minStatus.incomplete" type="radio" ng-model="selection.cde.lowestRegistrationStatus"
                                       value="Incomplete">
                                Preferred Standard, Standard, Qualified, Recorded, Candidate, Incomplete
                            </label>
                        </div>
                    </div>
                </div>
                <input type="checkbox" ng-model="selection.cde.registrationStatus.show"
                       id="cde.regStatus">
                <label for="cde.regStatus">See Registration Status</label>
                <div ng-if="selection.cde.registrationStatus">
                    <label for="cde.registrationStatus.label">Definition Label: </label>
                    <input ng-model="selection.cde.registrationStatus.label"
                           id="cde.registrationStatus.label"
                           class="form-control" required>
                </div>
                <br>
            </div>
        </div>

        <button class="btn btn-default" ng-click="save()" ng-show="selection.cde || selection.form"
                ng-disabled="isClean() || editEmbed.$invalid" id="saveEmbed">
            <i class="fa fa-save"></i> Save</button>

        <button class="btn btn-default" ng-click="cancel()" ng-show="selection.cde || selection.form">
            <i class="fa fa-close"></i> Cancel</button>

        <br><br>

        <div> preview:
            <span class="btn-group">
                <button id="previewEnabled" class="btn btn-sm" ng-class="{'btn-success':previewOn}"
                        ng-click="enablePreview(true)"> On
                </button>
                <button id="previewDisabled" class="btn btn-sm" ng-class="{'btn-danger':!previewOn}"
                        ng-click="enablePreview(false)"> Off
                </button>
            </span>
        </div>

        </form>

        <iframe ng-if="previewOn" width="{{selection.width}}" height="{{selection.height}}"
                src="{{getPreview()}}" name="previewFrame"></iframe>


    </div>

</div>



