<div class="panel panel-default" ng-if="showHistory" ng-controller="CdeHistoryCompareCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">Differences</h3>
    </div>
    <div class="panel-body">
        <div>
            <div class="col-xs-6"><h5>Updated: {{left.updated | date: 'MM/dd/yyyy @ h:mma'}}</h5></div>
            <div class="col-xs-6"><h5>Updated: {{right.updated | date: 'MM/dd/yyyy @ h:mma'}}</h5></div>
        </div>
        <compare-primitive left='left.version' right='right.version' options='versionOption'></compare-primitive>

        <compare-primitive left='left.registrationState.registrationStatus'
                           right='right.registrationState.registrationStatus'
                           options='statusOption'></compare-primitive>

        <compare-primitive left='left.stewardOrg.name'
                           right='right.stewardOrg.name'
                           options='stewardOrgNameOption'></compare-primitive>

        <compare-object-array left='left.naming' right='right.naming'
                              options='namingOption'></compare-object-array>

        <compare-object-array left='left.dataElementConcept.concepts' right='right.dataElementConcept.concepts'
                              options='dataElementConceptOption'></compare-object-array>

        <compare-object-array left='left.property.concepts' right='right.property.concepts'
                              options='propertyConceptOption'></compare-object-array>

        <compare-object-array left='left.objectClass.concepts' right='right.objectClass.concepts'
                              options='objectClassConceptOption'></compare-object-array>

        <compare-object-array left='left.referenceDocuments' right='right.referenceDocuments'
                              options='referenceDocumentsOption'></compare-object-array>

        <compare-object-array left='left.ids' right='right.ids'
                              options='idsOption'></compare-object-array>

        <compare-object-array left='left.properties' right='right.properties'
                              options='propertiesOption'></compare-object-array>

        <compare-primitive-array left='left.flatClassifications' right='right.flatClassifications'
                                 options='classificationsOption'></compare-primitive-array>

        <compare-primitive left='left.valueDomain.datatype' right='right.valueDomain.datatype'
                           options='valueDomainDatatypeOption'></compare-primitive>

        <div ng-repeat="elt in cdes" class="col-md-6 noLeftRightPadding">
            <div id="historyCompare_pvs_{{$index}}" ng-include="'/cde/public/html/valueDomainSwitch.html'"></div>
        </div>
    </div>
</div>


