<div class="panel panel-default" ng-if="showHistory">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Changes</strong> (<strong style="color: green;">Left</strong> side are new, <strong class="red">Right</strong> side are removed ) Some changes may not be displayed.</h3>
    </div>
    <div class="panel-body">
        <div>
            <div class="col-xs-6"><h5>Updated: {{leftCopy.updated | date: 'MM/dd/yyyy @ h:mma'}}</h5></div>
            <div class="col-xs-6"><h5>Updated: {{rightCopy.updated | date: 'MM/dd/yyyy @ h:mma'}}</h5></div>
        </div>
        <compare-primitive left='leftCopy.version' right='rightCopy.version' options='versionOptions'></compare-primitive>

        <compare-primitive left='leftCopy.registrationState.registrationStatus'
                           right='rightCopy.registrationState.registrationStatus'
                           options='statusOptions'></compare-primitive>

        <compare-primitive left='leftCopy.stewardOrg.name'
                           right='rightCopy.stewardOrg.name'
                           options='stewardOrgNameOptions'></compare-primitive>

        <compare-object-array left='leftCopy.naming' right='rightCopy.naming'
                              options='namingOptions'></compare-object-array>

        <compare-object-array left='leftCopy.dataElementConcept.concepts' right='rightCopy.dataElementConcept.concepts'
                              options='dataElementConceptOptions'></compare-object-array>

        <compare-object-array left='leftCopy.property.concepts' right='rightCopy.property.concepts'
                              options='propertyConceptOptions'></compare-object-array>

        <compare-object-array left='leftCopy.objectClass.concepts' right='rightCopy.objectClass.concepts'
                              options='objectClassConceptOptions'></compare-object-array>

        <compare-object-array left='leftCopy.referenceDocuments' right='rightCopy.referenceDocuments'
                              options='referenceDocumentsOptions'></compare-object-array>

        <compare-object-array left='leftCopy.ids' right='rightCopy.ids'
                              options='idsOptions'></compare-object-array>

        <compare-object-array left='leftCopy.sources' right='rightCopy.sources'
                              options='sourcesOptions'></compare-object-array>

        <compare-object-array left='leftCopy.properties' right='rightCopy.properties'
                              options='propertiesOptions'></compare-object-array>

        <compare-object-array left='leftCopy.attachments' right='rightCopy.attachments'
                              options='attachmentsOptions'></compare-object-array>

        <compare-primitive-array left='leftCopy.flatClassifications' right='rightCopy.flatClassifications'
                                 options='classificationsOptions'></compare-primitive-array>

        <compare-primitive left='leftCopy.valueDomain.datatype' right='rightCopy.valueDomain.datatype'
                           options='valueDomainDatatypeOptions'></compare-primitive>

        <div ng-if="leftCopy.valueDomain.datatype === rightCopy.valueDomain.datatype">
            <compare-object ng-if="leftCopy.valueDomain.datatype !=='Value List'" left="leftDatatypeObj.obj"
                            right="rightDatatypeObj.obj" options="leftDatatypeObj.p"></compare-object>
            <div ng-if="leftCopy.valueDomain.datatype ==='Value List'">
                <compare-primitive left='leftCopy.valueDomain.datatypeValueList.datatype'
                                   right='rightCopy.valueDomain.datatypeValueList.datatype'
                                   options='datatypeValueListOptions'></compare-primitive>
                <compare-object-array left="leftDatatypeObj.obj" right="rightDatatypeObj.obj"
                                      options="leftDatatypeObj.p"></compare-object-array>
            </div>
        </div>
        <div ng-if="leftCopy.valueDomain.datatype !== rightCopy.valueDomain.datatype">
            <div class="col-md-6" id="historyCompareLeft_{{leftCopy.valueDomain.datatype}}"
                 ng-if="leftCopy.valueDomain.datatype !== 'Value List' && leftCopy.valueDomain.datatype !== ''">
                <div class="col-md-12" ng-repeat="p in leftDatatypeObj.p.properties">
                    <label class="{{p.label}}">{{p.label}}:</label><span class="{{p.property}}">{{leftDatatypeObj.obj[p.property]}}</span>
                </div>
            </div>
            <div class="col-md-6" id="historyCompareLeft_Value List"
                 ng-if="leftCopy.valueDomain.datatype === 'Value List'">
                <div class="row">
                    <label class="col-xs-6">Value List Data Type</label>
                    <div class="col-xs-6">{{leftCopy.valueDomain.datatypeValueList.datatype}}</div>
                </div>
                <div class="col-xs-12 boxed-div" ng-repeat="pv in  leftCopy.valueDomain.permissibleValues">
                    <div class="row">
                        <label class="col-xs-6">Value</label>
                        <div class="col-xs-6">{{pv.permissibleValue}}</div>
                    </div>
                    <div class="row">
                        <label class="col-xs-6">Code Name</label>
                        <div class="col-xs-6">{{pv.valueMeaningName}}</div>
                    </div>
                    <div class="row">
                        <label class="col-xs-6">Code</label>
                        <div class="col-xs-6">{{pv.valueMeaningCode}}</div>
                    </div>
                    <div class="row">
                        <label class="col-xs-6">Code System</label>
                        <div class="col-xs-6">{{pv.codeSystemName}}</div>
                    </div>
                    <div class="row">
                        <label class="col-xs-6">Code Description</label>
                        <div class="col-xs-6">{{pv.valueMeaningDefinition}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="historyCompareRight_{{rightCopy.valueDomain.datatype}}"
                 ng-if="rightCopy.valueDomain.datatype !== 'Value List' && rightCopy.valueDomain.datatype !== ''">
                <div class="col-md-12" ng-repeat="p in rightDatatypeObj.p.properties">
                    <label>{{p.label}}:</label><span>{{rightDatatypeObj.obj[p.property]}}</span>
                </div>
            </div>
            <div class="col-md-6" id="historyCompareRight_Value List"
                 ng-if="rightCopy.valueDomain.datatype === 'Value List'">
                <div class="row">
                    <label class="col-xs-6">Value List Data Type</label>
                    <div class="col-xs-6">{{rightCopy.valueDomain.datatypeValueList.datatype}}</div>
                </div>
                <div ng-repeat="pv in  rightCopy.valueDomain.permissibleValues">
                    <div class="col-xs-12 boxed-div" ng-repeat="pv in  leftCopy.valueDomain.permissibleValues">
                        <div class="row">
                            <label class="col-xs-6">Value</label>
                            <div class="col-xs-6">{{pv.permissibleValue}}</div>
                        </div>
                        <div class="row">
                            <label class="col-xs-6">Code Name</label>
                            <div class="col-xs-6">{{pv.valueMeaningName}}</div>
                        </div>
                        <div class="row">
                            <label class="col-xs-6">Code</label>
                            <div class="col-xs-6">{{pv.valueMeaningCode}}</div>
                        </div>
                        <div class="row">
                            <label class="col-xs-6">Code System</label>
                            <div class="col-xs-6">{{pv.codeSystemName}}</div>
                        </div>
                        <div class="row">
                            <label class="col-xs-6">Code Description</label>
                            <div class="col-xs-6">{{pv.valueMeaningDefinition}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <compare-object-array left='leftForm' right='rightForm'
                              options='questionOptions'></compare-object-array>


    </div>
</div>


