<div class="container-fluid">
    <script type='text/ng-template' id="mailTemplate">
    <uib-accordion ng-repeat="message in mail[type] | orderBy: 'date' : true | limitTo: 20" close-others="oneAtATime">

        <div uib-accordion-group class='panel-default' ng-if="message.type === 'CommentReply'">
            <uib-accordion-heading>
                {{message.date | date : medium}} | {{message.type | camelCaseToHuman}} | {{message.author.name}} |
                {{message.typeCommentReply.comment.text | limitTo : 30}}
            </uib-accordion-heading>
            <div ng-include="'/system/public/html/messages/commentReplyMessage.html'"></div>
        </div>

        <div uib-accordion-group class='panel-default' ng-if="message.type === 'CommentApproval'">
            <uib-accordion-heading>
                {{message.date | date : medium}} | {{message.type | camelCaseToHuman}} | {{message.author.name}} |
                {{message.typeCommentApproval.comment.text | limitTo : 30}}
            </uib-accordion-heading>
            <div ng-include="'/system/public/html/messages/commentApproval.html'" ng-init="orgName = orgToManage; page = 'management';"></div>
        </div>

        <div uib-accordion-group class='panel-default' ng-if="message.type === 'AttachmentApproval'">
            <uib-accordion-heading>
                {{message.date | date : medium}} | {{message.type | camelCaseToHuman}} ( {{message.typeAttachmentApproval.filename}} ) | {{message.author.name}}
            </uib-accordion-heading>
            <div ng-include="'/system/public/html/attachmentApproval.html'" ng-init="orgName = orgToManage; page = 'management';"></div>
        </div>

        <div uib-accordion-group class='panel-default' ng-if="message.type === 'BoardApproval'">
            <uib-accordion-heading>
                {{message.date | date : medium}} | {{message.type | camelCaseToHuman}} | {{message.author.name}}
            </uib-accordion-heading>
            <div ng-include="'/system/public/html/boardApproval.html'" ng-init="orgName = orgToManage; page = 'management';"></div>
        </div>

    </uib-accordion>
    </script>
    <h4 ng-show='mail[mailTypeReceived].length==0 && mail[mailTypeSent].length==0 && mail[mailTypeArchived].length==0' class="centerText">Your Inbox is empty.</h4>
    <div ng-repeat="type in [mailTypeReceived, mailTypeSent, mailTypeArchived]" id="mail_{{type}}">
        <h3 ng-show="type==mailTypeReceived && mail[type].length>0">Received</h3>
        <h3 ng-show="type==mailTypeSent && mail[type].length>0">Sent</h3>
        <h3 ng-show="type==mailTypeArchived && mail[type].length>0">Archived</h3>    
       <div ng-include src="'mailTemplate'"></div>
    </div>

</div>    