<div class="modal-header">
    <h3 class="modal-title">Linked Boards</h3>
</div>
<div class="modal-body">
    <div class="overflowHidden">
        <div ng-if="!(boards && boards.length > 0)">
            No boards using this element
        </div>
        <div ng-if="boards && boards.length > 0" ng-repeat="board in boards">
            <div class="my-board-card" data-id="boardDiv_{{board.name}}">
                <h4><a href="/board/{{board._id}}" id="viewBoard_{{board.name}}" target="_blank"
                       ng-bind="board.name"></a></h4>
                <div ng-include="'/cde/public/html/boardTemplate.html'"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" id="closeLinkedBoardBtn" ng-click="$dismiss();">Close</button>
</div>