<div class="modal-header">
    <h3>Mesh Mappings</h3>
</div>
<div class="modal-body" id="addClassificationModalBody">

    <p>Here are MeSH Terms mapped to {{path}}</strong></p>
    <div ng-repeat="desc in mapping.meshDescriptors">
        <a href="" ng-click="removeDescriptor($index)" class="fa fa-trash" title="remove"></a> {{desc}} - {{descToName[desc]}}
    </div>

    <form role="form" name="newMeshDescForm" class="form-inline pt20" novalidate>
        <div class="form-group">
            <label for="mesh.id">MeSH ID: </label>
            <input ng-model="meshID" id="mesh.id" class="form-control" required ng-change="loadDescriptor()">
        </div>
        <div>
            {{descriptorName}}
            <button type="submit" class="btn btn-default btn-sm"
                    id="addMeshDescButton" ng-click="addMeshDescriptor()"
                    ng-if="descriptorName.length > 0">Add</button>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default done" ng-click="close()" id="closeModal">Close</button>
</div>