<!--<div class="modal-header">-->
    <!--<h4 >Add User</h4>-->
<!--</div>-->
<!--<div class="alert-info">Please ensure the username matches the UMLS username.</div>-->
<!--<form name="form" role="form">-->
    <!--<div class="modal-body">-->
        <!--<div class="form-group">-->
            <!--<label  for="newUsername">Name</label>-->
            <!--<input  class="form-control" ng-model="newUsername" id="newUsername" name="username"-->
                   <!--Placeholder="New Username" required/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn cancel" ng-click="$dismiss()" id="cancelCreate" type="button">Cancel</button>-->
        <!--<button class="btn btn-warning" ng-click="$close(newUsername)" ng-disabled="isClean() || form.$invalid"-->
                <!--id="createNewUser" type="submit">Save-->
        <!--</button>-->
    <!--</div>-->
<!--</form>-->
