<div class="container">
    <uib-tabset class="pt40 pb40" active="active">

        <div uib-tab heading="Org Admins">
            <div ng-if="active === 0">
                <cde-org-admin></cde-org-admin>
            </div>
        </div>

        <div uib-tab heading="Organizations" select="orgsActive=true">
            <form class="form-inline pt40 pb40" role="form" id="addOrgForm" name="addOrgForm" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" id="newOrgName" name="newOrgName"
                           placeholder="Organization Name" ng-model="newOrg.name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="newOrgLongName" name="newOrgLongName"
                           placeholder="Organization Long Name" ng-model="newOrg.longName">
                </div>
                <div class="form-group">
                    <select id="newOrgWorkingGroup" class="form-control" ng-model="newOrg.workingGroupOf"
                            ng-options="myOrg for myOrg in myOrgs">
                        <option value="">Working Group Of</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success" id="addOrg" ng-click="addOrg()"
                        ng-disabled="addOrgForm.newOrgName.$invalid">Add Organization</button>
            </form>
            <table class="table table-border table-responsive" ng-if="orgsActive">
                <tr>
                    <th>Organization Name:</th>
                    <th>Organization Long Name:</th>
                    <th>Mailing Address:</th>
                    <th>E-mail Address:</th>
                    <th>Phone Number:</th>
                    <th>Website:</th>
                    <th>Extra Info:</th>
                    <th>Working Group Of:</th>
                    <th>HTML Overview:</th>
                </tr>
                <tr ng-repeat="c in orgs | orderBy:'name'">
                    <td id="orgName-{{c.name}}">
                        {{c.name}}
                    </td>
                    <td>
                        <div inline-edit id="orgLongName-{{c.name}}" model="c.longName"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgMailAddress-{{c.name}}" model="c.mailAddress"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgEmailAddress-{{c.name}}" model="c.emailAddress"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgPhoneNumber-{{c.name}}" model="c.phoneNumber"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgUri-{{c.name}}" model="c.uri" is-allowed="true"
                             on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgExtra-{{c.name}}" model="c.extraInfo" is-allowed="true"
                             on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgWg-{{c.name}}" typeahead-source="orgNames"
                             model="c.workingGroupOf"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-area-edit id="orgHtmlOverview-{{c.name}}" typeahead-source="orgNames"
                             model="c.htmlOverview"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                </tr>
            </table>
        </div>

        <div uib-tab heading="List Management">
            <div ng-if="active === 2">
                <cde-list-management></cde-list-management>
            </div>
        </div>
        <uib-tab heading="Status Validation Rules">
            <cde-status-validation-rules></cde-status-validation-rules>
        </uib-tab>

        <div uib-tab heading="Users">
            <cde-users-mgt></cde-users-mgt>
        </div>

        <div uib-tab heading="Comments">
            <cde-latest-comments></cde-latest-comments>
        </div>

    </uib-tabset>
</div>
