<div class="container">
    <uib-tabset class="pt40 pb40">
        <div uib-tab heading="Organizations">
            <form class="form-inline pt40 pb40" role="form" id="addOrgForm" name="addOrgForm" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" id="newOrgName" name="newOrgName"
                           placeholder="Organization Name" ng-model="newOrg.name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="newOrgLongName" name="newOrgLongName"
                           placeholder="Organization Long Name" ng-model="newOrg.longName">
                </div>
                <div class="form-group">
                    <select id="newOrgWorkingGroup" class="form-control" ng-model="newOrg.workingGroupOf"
                            ng-options="myOrg for myOrg in myOrgs">
                        <option value="">Working Group Of</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success" id="addOrg" ng-click="addOrg()"
                        ng-disabled="addOrgForm.newOrgName.$invalid">Add Organization</button>
            </form>
            <table class="table table-border table-responsive">
                <tr>
                    <th>Organization Name:</th>
                    <th>Organization Long Name:</th>
                    <th>Mailing Address:</th>
                    <th>E-mail Address:</th>
                    <th>Phone Number:</th>
                    <th>Website:</th>
                    <th>Extra Info:</th>
                    <th>Working Group Of:</th>
                    <th>HTML Overview:</th>
                </tr>
                <tr ng-repeat="c in orgs | orderBy:'name'">
                    <td id="orgName-{{c.name}}">
                        {{c.name}}
                    </td>
                    <td>
                        <div inline-edit id="orgLongName-{{c.name}}" model="c.longName"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgMailAddress-{{c.name}}" model="c.mailAddress"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgEmailAddress-{{c.name}}" model="c.emailAddress"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgPhoneNumber-{{c.name}}" model="c.phoneNumber"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgUri-{{c.name}}" model="c.uri" is-allowed="true"
                             on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgExtra-{{c.name}}" model="c.extraInfo" is-allowed="true"
                             on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgWg-{{c.name}}" typeahead-source="orgNames"
                             model="c.workingGroupOf"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                    <td>
                        <div inline-area-edit id="orgHtmlOverview-{{c.name}}" typeahead-source="orgNames"
                             model="c.htmlOverview"
                             is-allowed="true" on-ok="updateOrg(c)"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div uib-tab heading="Org Admins">
            <form class="form-inline pt40 pb40" role="form" id="newOrgAdminForm" name="newOrgAdminForm" novalidate>
                Make
                <div class="form-group">
                    <input id="newOrgAdminUsername" name="newOrgAdminUsername" type="text" class="form-control"
                           placeholder="enter user name" ng-model="orgAdmin.username"
                           uib-typeahead="username for username in allUsernames | filter:$viewValue | limitTo:100"
                           typeahead-min-length="3" required>
                </div>
                an administrator for
                <div class="form-group">
                    <select id="newOrgAdminOrgName" name="newOrgAdminOrgName" class="form-control"
                            ng-model="admin.orgName"
                            ng-options="myOrgAdmin.name as myOrgAdmin.name for myOrgAdmin in orgs" required>
                        <option value="">select organization</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success" id="newOrgAdminSubmit" ng-click="addOrgAdmin()"
                        ng-disabled="newOrgAdminForm.newOrgAdminUsername.$invalid || newOrgAdminForm.newOrgAdminOrgName.$invalid"
                        >Make Admin</button>
            </form>
            <table class="table table-border table-responsive">
                <tr>
                    <th>Organization Name:</th>
                    <th>Admins for this Organization:</th>
                </tr>
                <tr ng-repeat="orgAdmin in orgAdmins | orderBy:'name'">
                    <td id="existingOrgAdminOrgName-{{orgAdmin.name}}">
                        {{orgAdmin.name}}
                    </td>
                    <td>
                        <div ng-repeat="user in orgAdmin.users">
                                    <span id="existingOrgAdminUsername-{{$parent.$index}}-{{$index}}">{{user.username}}
                                    </span> <i class="fa fa-trash-o hand-cursor" ng-click="removeOrgAdmin(orgAdmin.name, user._id)"
                                               id="removeOrgAdminUsername-{{$parent.$index}}-{{$index}}" title="Remove"></i>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div uib-tab heading="List Management">
            <table class="table table-border table-responsive">
                <tr>
                    <th>Organization Name:</th>
                    <th>Properties:</th>
                    <th>Context:</th>
                </tr>
                <tr  ng-repeat="o in orgs | orderBy:'name'">
                    <td id="orgListName-{{o.name}}">
                        {{o.name}}
                    </td>
                    <td>
                        <span ng-if="!propertyKeys.editMode" ng-repeat="p in o.propertyKeys">
                            <span class="label label-default">{{p}}</span>
                        </span>
                        <ui-select multiple ng-show="propertyKeys.editMode" sortable="true" ng-model="o.propertyKeys"
                                   theme="select2" style="width: 100%" id="text_entry_box_{{o.name}}">
                            <ui-select-match placeholder="type or select a Property" allow-clear="true">
                                {{$item}}
                            </ui-select-match>
                            <ui-select-choices repeat="p in getExistingKeys($select.search) | filter: $select.search  track by $index">
                                <div ng-bind-html="p | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="propertyKeys.editMode">Save?
                            <i class="fa fa-check" ng-click="updateOrg(o)" id="confirmEdit_{{o.name}}"></i>
                            <i class="fa fa-times" ng-click="getOrgs()"></i>
                        </span>
                        <span ng-hide="propertyKeys.editMode">
                            <i class="fa fa-pencil" ng-click="propertyKeys.editMode = true" id="edit_org_props_{{o.name}}"></i>
                        </span>
                    </td>
                    <td>
                        <span ng-if="!nameContexts.editMode" ng-repeat="p in o.nameContexts">
                            <span class="label label-default">{{p}}</span>
                        </span>
                        <ui-select multiple ng-show="nameContexts.editMode" sortable="true" ng-model="o.nameContexts"
                                   theme="select2" style="width: 100%" id="text_context_entry_box_{{o.name}}">
                            <ui-select-match placeholder="type or select a Context" allow-clear="true">
                                {{$item}}
                            </ui-select-match>
                            <ui-select-choices repeat="p in getExistingContexts($select.search) | filter: $select.search  track by $index">
                                <div ng-bind-html="p | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="nameContexts.editMode">Save?
                            <i class="fa fa-check" ng-click="updateOrg(o)" id="confirmContextEdit_{{o.name}}"></i>
                            <i class="fa fa-times" ng-click="getOrgs()"></i>
                        </span>
                        <span ng-hide="nameContexts.editMode">
                            <i class="fa fa-pencil" ng-click="nameContexts.editMode = true" id="edit_org_propsContext_{{o.name}}"></i>
                        </span>

                    </td>

                </tr>
            </table>
        </div>
        <uib-tab heading="Status Validation Rules">
            <div ng-controller="SaveValidRuleCtrl">
                <br>
                <button id="addRule" class="btn btn-success btn-sm" ng-click="openAddRuleModal()">Add New Rule</button>
                <div ng-repeat="(orgName, orgRules) in userOrgs" ng-if="orgRules.length>0">
                    <h3>CDEs classified by {{orgName}}</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Rule Name</th>
                            <th>Status</th>
                            <th>Field</th>
                            <th>RegEx</th>
                            <th>Occurence</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="rule in orgRules">
                            <td>{{rule.ruleName}}</td>
                            <td>{{rule.targetStatus}}</td>
                            <td>{{rule.field}}</td>
                            <td>{{rule.rule.regex}}</td>
                            <td>{{rule.occurence}}</td>
                            <td><button ng-click="disableRule(orgName, rule)" class="btn btn-danger btn-xs">Remove</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
