<span ng-controller="MyBoardsCtrl">
<div class="modal-header">
    <h3>Choose a Board to pin this element to
        <cde-create-board></cde-create-board>
    </h3>
</div>
<div ng-switch="boards.length" style="margin-top: 10px">
    <i ng-show="reloading" class="fa fa-spinner fa-spin"></i>
    <div ng-switch-when="0">
        <div style="margin-left: 10px"> You don't have any boards</div>
        <i ng-show="reloading" class="fa fa-spinner fa-spin"></i>
    </div>
    <div ng-switch-default>
            <div style="padding-left: 10px">
                <div ng-if="filter.tags.length > 0">
                    <h4>Tags</h4>
                    <label ng-repeat="tag in filter.tags" class="my-board-tag">
                        <input type="checkbox" data-checklist-model="filter.selectedTags" data-checklist-value="tag.key"
                               checklist-change="loadMyBoards()" data-id="tag-{{tag.key}}">
                        <small>{{tag.key}} ({{tag.doc_count}})</small>
                    </label>
                </div>
                <div ng-if="filter.shareStatus.length > 0">
                    <h4>Share Status</h4>
                    <label ng-repeat="ss in filter.shareStatus" class="my-board-tag">
                        <input type="checkbox" data-checklist-model="filter.selectedShareStatus"
                               data-checklist-value="ss.key" data-id="status-{{ss.key}}"
                               checklist-change="loadMyBoards()">
                        <small>{{ss.key}} ({{ss.doc_count}})</small>
                    </label>
                </div>
            </div>
        <div class="row">
            <div ng-repeat="board in boards" class="col-md-6">
                <div class="pinToBoard-card my-board-card" data-id="boardDiv_{{board.name}}">
                    <h5 class="myBoardName" id="board_name_{{$index}}">
                        <span>
                            <i class="fa fa-globe" ng-show="board.shareStatus === 'Public'"></i>
                            <i class="fa fa-lock" ng-hide="board.shareStatus === 'Public'"></i>
                        </span>
                        <a href="" id="viewBoard_{{board.name}}" ng-click="$close(board)"
                           ng-bind="board.name"></a>
                    </h5>
                    <div><span id="board_num_{{board.type}}s_{{$index}}">{{board.pins.length}}</span> {{board.type==='form'?(board.pins.length && board.pins.length > 0?'Forms':'Form'):(board.pins.length && board.pins.length > 0?'CDEs':'CDE')}}</div>
                    <div id="board_tag_{{$index}}" class="myBoardTags">
                        <span ng-repeat="tag in board.tags">
                            <span class="label label-default"><i class="fa fa-hashtag"></i>{{tag}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()" id="cancelSelect">Cancel</button>
</div>
</span>