<div class="container-fluid" ng-controller="ServerStatusesCtrl" id="serverStatuses">
    <div class="row">
        <button class="btn btn-default" type="button" id="refreshServerStatus" ng-click="refreshStatus()">Refresh</button>
    </div>

    <div class="row">
        <div ng-repeat="status in statuses" class="pull-left boxed-div">
            <h4>{{status.hostname}}:{{status.port}}</h4>
            <div class="boxed-div">
                <dl class="dl-horizontal">
                    <dt>Status: </dt><dd ng-bind="getNodeStatus(status)"></dd>
                    <dt>Last Up: </dt><dd>{{status.lastUpdate | timeAgo}}</dd>
                    <dt>PM Port: </dt><dd>{{status.pmPort}}</dd>
                </dl>
                <a type="button" class="btn btn-danger fa fa-power-off" ng-click="sendStop(status)" ng-if="status.nodeStatus === 'Running'"> Stop</a>
                <a type="button" class="btn btn-default fa fa-refresh" ng-click="sendRestart(status)"> Restart</a>
                <hr/>
                <h5>ElasticSearch</h5>
                <dl class="dl-horizontal">
                    <dt>Up: </dt><dd>
                        <a class="btn btn-xs" ng-class="status.elastic.up?'btn-success':'btn-danger'">
                        <i class="fa" ng-class="status.elastic.up?'fa-check':'fa-times'"/></a>
                    </dd>
                    <dt>Returns Results: </dt><dd><a class="btn btn-xs" ng-class="status.elastic.results?'btn-success':'btn-danger'"><i class="fa" ng-class="status.elastic.results?'fa-check':'fa-times'"/></a></dd>
                    <dt>Syncing: </dt><dd><a class="btn btn-xs" ng-class="status.elastic.sync?'btn-success':'btn-danger'"><i class="fa" ng-class="status.elastic.sync?'fa-check':'fa-times'"/></a></dd>
                    <dt>Updating: </dt><dd><a class="btn btn-xs" ng-class="status.elastic.updating?'btn-success':'btn-danger'"><i class="fa" ng-class="status.elastic.updating?'fa-check':'fa-times'"/></a></dd>
                </dl>
                <hr/>
                <div ng-file-select="" ng-model="files" class="btn btn-default upload-button" ng-multiple="false" ng-accept="'*.gpg'"
                     tabindex="0" ng-file-change="upload(status.hostname, status.pmPort, $files)">Deploy File {{progressPercentage}}</div><br>
            </div>
        </div>
    </div>

</div>