<div class="container-fluid" ng-controller="ServerStatusesCtrl" id="serverStatuses">
    <div class="row">
        <button class="btn btn-default" type="button" id="refreshServerStatus" ng-click="refreshStatus()">Refresh
        </button>
    </div>

    <div class="row">
        <div class="col-md-6 pull-left boxed-div">
            <h4>Elastic Search</h4>
            <hr/>
            <div ng-repeat="i in esIndices">
                <button class="btn btn-default" ng-click="reIndex($index)"><i class="fa fa-refresh"></i> Re-index: <b>{{i.name}}</b> /
                    {{i.indexName}}
                </button>
                <uib-progressbar ng-if="i.totalCount > 0 && i.count > 0" class="progress-striped active"
                                 max="i.totalCount" value="i.count" type="success">
                    {{i.count}} / {{i.totalCount}}
                </uib-progressbar>
            </div>
            <div>
                <button class="btn btn-default" ng-click="syncMesh()" id="syncWithMeshButton">Sync with MeSH</button>
                <uib-progressbar ng-repeat="meshSync in meshSyncs" ng-if="meshSync.total > 0 && meshSync.done > 0"
                                 class="progress-striped active" max="meshSync.total" value="meshSync.done"
                                 type="success">
                    {{meshSync.done}} / {{meshSync.total}}
                </uib-progressbar>
            </div>
        </div>
    </div>

        <script type="text/ng-template" id="confirmReindex.html">
            <div class="modal-header">
                <h3 class="modal-title">Are you sure you want to re-index?</h3>
            </div>
            <div class="modal-body">
                <h4>Reindexing: {{esIndices[i].indexName}}</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="okReIndex(i); $dismiss()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
            </div>
        </script>

        <div ng-repeat="status in statuses" class="pull-left boxed-div">
            <h4>{{status.hostname}}:{{status.port}}</h4>
            <div class="boxed-div">
                <dl class="dl-horizontal">
                    <dt>Status:</dt>
                    <dd ng-bind="getNodeStatus(status)"></dd>
                    <dt>Last Up:</dt>
                    <dd>{{status.lastUpdate | timeAgo}}</dd>
                    <dt>UpTime:</dt>
                    <dd>{{status.startupDate | timeAgo}}</dd>
                    <dt>PM Port:</dt>
                    <dd>{{status.pmPort}}</dd>
                    <dt>Version Number:</dt>
                    <dd><span ng-include="'/system/public/html/version.html'"></span></dd>
                </dl>
                <a type="button" class="btn btn-danger fa fa-power-off"
                   ng-click="sendStop(status)" ng-if="status.nodeStatus === 'Running'"> Stop</a>
                <a type="button" class="btn btn-default fa fa-refresh" ng-click="sendRestart(status)"> Restart</a>
                <hr/>
                <h5>ElasticSearch</h5>
                <dl class="dl-horizontal">
                    <dt>Up:</dt>
                    <dd>
                        <a class="btn btn-xs" ng-class="status.elastic.up?'btn-success':'btn-danger'">
                            <i class="fa" ng-class="status.elastic.up?'fa-check':'fa-times'"></i></a>
                    </dd>
                    <dt>Message:</dt>
                    <dd>{{status.elastic.message}}
                    </dd>
                </dl>
                <div ng-repeat="index in status.elastic.indices" class="boxed-div">
                    <dl class="dl-horizontal">
                        <dt>{{index.name}}: </dt>
                        <dd>
                            <a class="btn btn-xs" ng-class="index.up?'btn-success':'btn-danger'">
                                <i class="fa" ng-class="index.up?'fa-check':'fa-times'"></i></a>
                        </dd>
                        <dt>Message:</dt>
                        <dd>{{index.message}}</dd>
                    </dl>
                </div>
                <div ng-file-select="" ng-model="files" class="btn btn-default upload-button" ng-multiple="false"
                     ng-accept="'*.gpg'"
                     tabindex="0" ng-file-change="upload(status.hostname, status.pmPort, $files)">Deploy File
                </div>
                {{progressPercentage}}<br>
            </div>
        </div>
    </div>

</div>