<div class="container">
    <div class="welcomeSearchSearch">
        <h1>
            <img id="homeNihCdeLogo" class="img-center-responsive" alt="NIH CDE logo"
                 src="/cde/public/assets/img/NIH-CDE.png" />
        </h1>

        <div class="pt20 text-center">
            <form name="quickSearchForm" id="quickSearchForm" novalidate>
                <div class="input-group input-group-lg">
                    <label class="sr-only" for="searchTerms">Search Terms</label>
                    <input name="searchTerms" id="searchTerms" type="text" class="form-control" ng-model="searchForm.ftsearch"
                           ng-maxlength="500" placeholder="Search Common Data Elements">

                    <div class="input-group-btn">
                        <button name="quickSearchButton" id="quickSearchButton" class="btn btn-danger btn-lg" type="submit"
                                ng-click="search()" ng-disabled="quickSearchForm.$invalid">
                            <i class="fa fa-search"></i><span class="hidden-xs"> Search</span></button>
                    </div>
                </div>

                <!-- Error display area -->
                <span ng-show="quickSearchForm.searchTerms.$invalid && !quickSearchForm.searchTerms.$pristine"><p class="error-block"><small>Query terms must be 500 characters or less.</small></p></span>
            </form>
        </div>
    </div>

    <div ng-controller="OrgOverviewCtrl">
        <h3 class="">Browse by organization</h3>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="org in orgs">
                <div class="welcomeSearchOrganizationBox" >
                    <h3><a href ng-bind="org.name" ng-click="addOrgFilter(org.name)"></a></h3>
                    <div ng-if="org.longName" ng-bind="org.longName"></div>
                    <div>{{org.count}} elements</div>
                    <div ng-if="org.extra" ng-bind="org.extra"></div>
                    <div ng-if="org.source"><a href="{{org.source}}" target="_blank">Source</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


