<div class="" ng-controller="OrgOverviewCtrl">
    <div class="welcomeSearchSearch">
        <h1>
            <img id="homeNihCdeLogo" class="img-center-responsive" alt="NIH Common Data Elements (CDE) log"
                 src="/cde/public/assets/img/NIH-CDE.png" />
        </h1>

        <div class="pt20 text-center" id="searchDiv">
            <form name="quickSearchForm" id="quickSearchForm" novalidate method="GET">
                <div class="input-group input-group-lg">
                    <label class="sr-only" for="ftsearch-input">Search Terms</label>
                    <input name="q" id="ftsearch-input" class="form-control search-query" type="text"
                           ng-model="searchSettings.q" ng-maxlength="500" aria-labelledby="l1"
                           typeahead-wait-ms="500" typeahead-min-length="3" autocomplete="off"
                           typeahead="searchQuery for searchQuery in autocomplete.suggest($viewValue) | limitTo:8"
                           typeahead-focus-first="false" typeahead-on-select="searchAction()">

                    <div class="input-group-btn">
                        <button id="search.submit" ng-click="termSearch()" type="submit" class="btn btn-danger btn-lg" >
                            <i class="fa fa-search"></i> Search</button>
                    </div>
                </div>

                <!-- Error display area -->
                <span ng-show="quickSearchForm.searchTerms.$invalid && !quickSearchForm.searchTerms.$pristine">
                    <p class="error-block"><small>Query terms must be 500 characters or less.</small></p></span>
            </form>
        </div>
    </div>

    <div>
        <div class="">
            <div class="pull-left"><h3 class="">Browse by classification</h3></div>
            <div id="exportEverything" class="pull-right" ng-if="!embedded && module==='cde'">
                <div class="btn-group pull-right" ng-controller="ExportCtrl">
                    <button id="export" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download"></i>
                        Export Search <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="csvExport" ng-click="exportSearchResults('csv')">CSV File</a></li>
                        <li><a ng-click="exportSearchResults('json')">JSON File</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <span ng-if="orgs.length === 0"><h1 class="pl130"><i class="fa fa-spinner fa-pulse"></i> Searching...</h1></span>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="org in orgs | orderBy:'name'">
                <div class="welcomeSearchOrganizationBox" >
                    <h3 ng-if="!embedded">
                        <a ng-href="search?selectedOrg={{org.name}}" ng-bind="org.name" id="browseOrg-{{org.name}}"
                           ng-click="browseOrg(org.name)"></a></h3>
                    <h3 ng-if="embedded">
                        <a href ng-bind="org.name" id="browseOrg-{{org.name}}"
                           ng-click="browseOrg(org.name)"></a></h3>
                    <div ng-if="org.longName" ng-bind="org.longName"></div>
                    <div><span id="nbOfElts-{{org.name}}">{{org.count}}</span> elements</div>
                    <div ng-if="org.extraInfo" ng-bind="org.extraInfo"></div>
                    <div ng-if="org.source"><a href="{{org.source}}" target="_blank">Source</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


