<!--PORTED AS ListSortComponent-->
<span id="moveUp-{{eltIndex}}" class="btn-default fa fa-arrow-up" ng-click="moveUp(elt.tinyId)"
      ng-if="(currentPage - 1) * 20 + eltIndex !== 0" title="Up" href=""></span>
<span id="moveDown-{{eltIndex}}" class="btn-default fa fa-arrow-down" ng-click="moveDown(elt.tinyId)"
      ng-if="(currentPage - 1) * 20 + eltIndex < totalItems - 1" title="Down" href=""></span>
<span id="moveTop-{{eltIndex}}" class="btn-default fa fa-lg fa-angle-double-up" ng-click="moveTop(elt.tinyId)"
      ng-if="(currentPage - 1) * 20 + eltIndex !== 0" title="Move to top" href=""></span>
