<h1 mat-dialog-title>Choose a Board to pin this {{module | uppercase}} to
    <cde-create-board [module]="module"></cde-create-board>
</h1>
<mat-dialog-content>
    <div *ngIf="myBoardsSvc.boards && myBoardsSvc.boards.length === 0" style="margin-left: 2.5rem"> You don't have any
        boards
    </div>
    <div *ngIf="myBoardsSvc.filter" style="padding-left: 2.5rem">
        <section *ngIf="myBoardsSvc.filter.tags.length > 0">
            <h2>Tags</h2>
            <label *ngFor="let tag of myBoardsSvc.filter.tags" class="d-block">
                <input type="checkbox" [(ngModel)]="tag.checked" (change)="myBoardsSvc.loadMyBoards()"
                       attr.data-id="tag-{{tag.key}}">
                {{tag.key}} ({{tag.doc_count}})
            </label>
        </section>
        <section *ngIf="myBoardsSvc.filter.shareStatus.length > 0">
            <h2>Share Status</h2>
            <label *ngFor="let ss of myBoardsSvc.filter.shareStatus" class="d-block">
                <input type="checkbox" [(ngModel)]="ss.checked" (change)="myBoardsSvc.loadMyBoards()"
                       attr.data-id="status-{{ss.key}}">
                {{ss.key}} ({{ss.doc_count}})
            </label>
        </section>
    </div>
    <div class="responsiveGrid">
        <ng-container *ngFor="let board of myBoardsSvc.boards">
            <cde-board-overview [board]="board" (headerClicked)="selectBoard(board);">
            </cde-board-overview>
        </ng-container>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="button secondary" [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>
