<h1 mat-dialog-title="">Error Details</h1>
<mat-dialog-content>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Parsed Error Stack</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    {{errorMessage}}
                </mat-list-item>
                <mat-list-item role="listitem" class="ml-10" *ngFor="let stack of stacks">
                    <strong>at:</strong> {{ stack.methodName }}({{ stack.arguments.join(',') }}) <strong>in</strong> {{ stack.file }}
                    line: <strong>{{ stack.lineNumber }}:{{ stack.column }}</strong>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Original Error</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{data}}
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
