<h1 mat-dialog-title>Add ReferenceDocument</h1>
<form #newReferenceDocumentForm="ngForm">
  <div mat-dialog-content>
    <div class="form-group">
      <label for="newId">ID:</label>
      <input class="form-control" [(ngModel)]="newReferenceDocument.referenceDocumentId"
             id="newId" name="newId" Placeholder="ID"/>
    </div>
    <div class="form-group">
      <label for="newTitle">Title:</label>
      <input class="form-control" [(ngModel)]="newReferenceDocument.title"
             id="newTitle" name="newTitle" Placeholder="Title"/>
    </div>
    <div class="form-group">
      <label for="newDocType">Doc Type:</label>
      <input class="form-control" [(ngModel)]="newReferenceDocument.docType"
             id="newDocType" name="newDocType" Placeholder="Doc Type"/>
    </div>
    <div class="form-group">
      <label for="newUri">URI:</label>
      <input class="form-control" id="newUri" name="newUri"
             [(ngModel)]="newReferenceDocument.uri" Placeholder="URI"/>
    </div>
    <div class="form-group">
      <label for="newProviderOrg">Provider Org:</label>
      <input class="form-control" id="newProviderOrg" name="newProviderOrg"
             [(ngModel)]="newReferenceDocument.providerOrg" Placeholder="Provider Org"/>
    </div>
    <div class="form-group">
      <label for="newLanguageCode">Language Code:</label>
      <input class="form-control" id="newLanguageCode" name="newLanguageCode"
             [(ngModel)]="newReferenceDocument.languageCode" Placeholder="Language Code"/>
    </div>
    <div class="form-group">
      <label for="newDocument">Document:</label>
      <input class="form-control" id="newDocument" name="newDocument"
             [(ngModel)]="newReferenceDocument.document" Placeholder="Document"/>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="button fail" [mat-dialog-close]>Cancel</button>
    <button type="submit" class="button" [mat-dialog-close]="newReferenceDocument"
            [disabled]="!newReferenceDocumentForm.form.valid">Save
    </button>
  </div>
</form>
