<h4 mat-dialog-title>Rename Classification</h4>
<div mat-dialog-content>
    <p>You are about to rename the following classification</p>
    <p><strong>{{fullClassificationArray.join(' > ')}}</strong></p>
    To:
    <mat-form-field appearance="fill">
        <mat-label>Enter New Classification Name</mat-label>
        <input matInput placeholder="Enter Some Input" [formControl]="newClassificationName" required
               id="newClassificationName" pattern="^[^;]+$">
        <mat-error *ngIf="newClassificationName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button id="cancelRenameClassificationBtn" mat-raised-button color="warn" [mat-dialog-close]>Cancel
    </button>
    <button id="confirmRenameClassificationBtn" mat-raised-button color="primary"
            [mat-dialog-close]="newClassificationName.value"
            [disabled]="!newClassificationName.valid">OK
    </button>
</div>
