<h1 mat-dialog-title>Rename Classification</h1>
<mat-dialog-content>
    <p>You are about to rename the following classification</p>
    <p><strong>{{fullClassificationArray.join(' > ')}}</strong></p>
    To:
    <mat-form-field appearance="fill">
        <mat-label>Enter New Classification Name</mat-label>
        <input matInput placeholder="Enter Some Input" [formControl]="newClassificationName" required
               id="newClassificationName" pattern="^[^;]+$" data-testid="new-classification-input">
        <mat-error *ngIf="newClassificationName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button id="cancelRenameClassificationBtn" class="button fail" [mat-dialog-close]>Cancel</button>
    <button id="confirmRenameClassificationBtn" class="button"
            data-testid="confirm-rename-classification-button"
            [mat-dialog-close]="newClassificationName.value" [disabled]="!newClassificationName.valid">OK</button>
</mat-dialog-actions>
