<form [formGroup]="skipLogicForm">
    <h1 mat-dialog-title>Edit Skip Logic:</h1>
    <mat-dialog-content formArrayName="items">
        <ng-container *ngFor="let item of items.controls let i = index;">
            <ng-container [formGroup]="item">
                <mat-form-field class="col-2" *ngIf="i !== 0">
                    <select matNativeControl formControlName="logic" placeholder="Logic"
                            [id]="'skipLogicLogicSelection_'+i" required>
                        <option *ngFor="let logicOption of logicOptions"
                                [value]="logicOption">{{logicOption}}</option>
                    </select>
                </mat-form-field>
                <mat-form-field class="col-4" [ngClass]="i === 0?'offset-2':''">
                    <select matNativeControl formControlName="label" placeholder="Question Label"
                            [id]="'skipLogicLabelSelection_'+i" required>
                        <option *ngFor="let labelOption of labelOptions"
                                [value]="labelOption">
                            {{labelOption}}
                        </option>
                    </select>
                </mat-form-field>
                <mat-form-field class="col-2">
                    <select matNativeControl formControlName="operator" placeholder="Operator"
                            [id]="'skipLogicOperatorSelection_'+i" required>
                        <option *ngFor="let operatorOption of operatorOptions"
                                [value]="operatorOption">{{operatorOption}}</option>
                    </select>
                </mat-form-field>
                <ng-container [ngSwitch]="item.value?.selectedQuestion?.question?.datatype">
                    <ng-container *ngSwitchDefault>
                        <mat-form-field class="col-3">
                            <input matInput type="Text" autocomplete="false" placeholder="Text Answer"
                                   [id]="'skipLogicAnswer_'+i" formControlName="answer">
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Number'">
                        <mat-form-field class="col-3">
                            <input matInput type="number" autocomplete="false" placeholder="Number Value"
                                   [id]="'skipLogicAnswer_'+i" formControlName="answer">
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date'">
                        <mat-form-field class="col-3">
                            <input matInput type="date" autocomplete="false" placeholder="Date"
                                   [id]="'skipLogicAnswer_'+i" formControlName="answer">
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Value List'">
                        <mat-form-field class="col-3">
                            <select matNativeControl formControlName="answer" placeholder="Answer"
                                    [id]="'skipLogicAnswerSelection_'+i">
                                <option *ngFor="let ans of item.value?.selectedQuestion?.question?.answers"
                                        [value]="ans.permissibleValue">{{ans.permissibleValue}}</option>
                            </select>
                        </mat-form-field>
                    </ng-container>
                </ng-container>
                <mat-icon (click)="items.removeAt(i)" [id]="'skipLogicDelete_'+i" style="vertical-align: middle">delete</mat-icon>
            </ng-container>
        </ng-container>
        <button id="addNewSkipLogicButton" class="button" (click)="addToken()">
            <mat-icon>add</mat-icon>
            Add Condition
        </button>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button id="cancelNewSkipLogicButton" class="button fail" [mat-dialog-close]>Cancel</button>
        <button id="saveNewSkipLogicButton" class="button success"
                [mat-dialog-close]="skipLogicForm.getRawValue().items" [disabled]="skipLogicForm.invalid">Save
        </button>
    </mat-dialog-actions>
</form>
