<form [formGroup]="skipLogicForm">
    <h1 mat-dialog-title>Edit Skip Logic:</h1>
    <div mat-dialog-content>
        <ng-container formArrayName="items" *ngFor="let item of skipLogicForm.get('items')['controls'] let i = index;">
            <div [formGroup]="item" class="row">
                <div class="col-2">
                    <ng-container *ngIf="i !== 0">
                        <mat-form-field class="w-100">
                            <select matNativeControl formControlName="logic" placeholder="Logic"
                                    [id]="'skipLogicLogicSelection_'+i" required>
                                <option *ngFor="let logicOption of logicOptions"
                                        [value]="logicOption">{{logicOption}}</option>
                            </select>
                        </mat-form-field>
                    </ng-container>
                </div>
                <div class="col-4">
                    <mat-form-field class="w-100">
                        <select matNativeControl formControlName="label" placeholder="Label"
                                [id]="'skipLogicLabelSelection_'+i" required>
                            <option *ngFor="let labelOption of labelOptions"
                                    [value]="labelOption">
                                {{labelOption}}
                            </option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field class="w-100">
                        <select matNativeControl formControlName="operator" placeholder="Operator"
                                [id]="'skipLogicOperatorSelection_'+i" required>
                            <option *ngFor="let operatorOption of operatorOptions"
                                    [value]="operatorOption">{{operatorOption}}</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <ng-container [ngSwitch]="item.value?.selectedQuestion?.question?.datatype">
                        <ng-container *ngSwitchDefault>
                            <mat-form-field class="w-100">
                                <input matInput type="Text" autocomplete="false" placeholder="Choose a Text"
                                       [id]="'skipLogicAnswer_'+i" formControlName="answer" required>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Number'">
                            <mat-form-field class="w-100">
                                <input matInput type="number" autocomplete="false" placeholder="Choose a Number"
                                       [id]="'skipLogicAnswer_'+i" formControlName="answer" required>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Date'">
                            <mat-form-field class="w-100">
                                <input matInput type="date" autocomplete="false" placeholder="Choose a Date"
                                       [id]="'skipLogicAnswer_'+i" formControlName="answer" required>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Value List'">
                            <mat-form-field class="w-100">
                                <select matNativeControl formControlName="answer" placeholder="Choose a Answer"
                                        [id]="'skipLogicAnswerSelection_'+i" required>
                                    <option *ngFor="let ans of item.value?.selectedQuestion?.question?.answers"
                                            [value]="ans.permissibleValue">{{ans.permissibleValue}}</option>
                                </select>
                            </mat-form-field>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="col-1">
                    <mat-icon (click)="skipLogicForm.get('items').removeAt(i)">delete</mat-icon>
                </div>
            </div>
        </ng-container>
        <button mat-raised-button (click)="addToken()" id="addNewSkipLogicButton">
            <mat-icon>add</mat-icon>
            Add A Condition
        </button>
        <button mat-raised-button (click)="deleteAllSkipLogic()" id="deleteSkipLogicButton">
            <mat-icon>delete</mat-icon>
            Delete All Conditions
        </button>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close] id="cancelNewSkipLogicButton" color="warn">Cancel</button>
        <button mat-raised-button (click)="saveSkipLogic()" id="saveNewSkipLogicButton" color="primary"
                [disabled]="skipLogicForm.invalid">Save
        </button>
    </div>
</form>