<ng-template #classifyItemContent>
    <h4 mat-dialog-title [innerHtml]="modalTitle"></h4>
    <div mat-dialog-content>
        <mat-tab-group>
            <mat-tab id="treeViewTab" label="By Classification tree">
                <select class="form-control" id="selectClassificationOrg" name="selectClassifyItemOrg"
                        (change)="onChangeOrg($event.target.value)" [ngModel]="selectedOrg" required>
                    <option value="">Start by selecting an organization...</option>
                    <option *ngFor="let myOrg of userService.userOrgs" value="{{myOrg}}">{{myOrg}}</option>
                </select>
                <div class="smallSpace"></div>
                <div *ngIf="orgClassificationsTreeView">
                    <tree-root [nodes]="orgClassificationsTreeView.classifications" [options]="options">
                        <ng-template #treeNodeTemplate let-node="node" let-index="index">
                            <span class="mr-1">{{ node.data.name }}</span>
                            <button id="{{node.path}}-classifyBtn" mat-raised-button (click)="classifyItemByTree(node, selectedOrg)">
                                <mat-icon>add</mat-icon> Classify
                            </button>
                        </ng-template>
                        <ng-template #treeNodeFullTemplate let-node="node" let-index="index"
                                     let-templates="templates">
                            <div class="tree-node tree-node-level-{{ node.level }}" [class]="node.getClass()"
                                 [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
                                 [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
                                 [class.tree-node-leaf]="node.isLeaf" [class.tree-node-active]="node.isActive"
                                 [class.tree-node-focused]="node.isFocused">
                                <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                                    <tree-node-expander [node]="node" id="{{node.path}}-expander">
                                    </tree-node-expander>
                                    <span class="node-content-wrapper" (click)="node.mouseAction('click', $event)">
                                        <tree-node-content [node]="node" [index]="index"
                                                           [template]="templates.treeNodeTemplate">
                                        </tree-node-content>
                                    </span>
                                </div>
                                <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                            </div>
                        </ng-template>
                    </tree-root>
                </div>
            </mat-tab>
            <mat-tab id="recentlyAddViewTab" label="By recently added">
                <p>Select from recently used classifications...</p>
                <div class="smallSpace"></div>
                <ng-container
                        *ngFor="let orgClassificationRecentlyAddView of orgClassificationsRecentlyAddView; let i = index">
                    <div class="breadcrumb" id="recentlyClassification_{{i}}">
                        {{orgClassificationRecentlyAddView.orgName}} /
                        {{orgClassificationRecentlyAddView.categories.join(" / ")}}
                        <button mat-raised-button style="margin-left: 10px;"
                                (click)="classifyItemByRecentlyAdd(orgClassificationRecentlyAddView)">
                            <mat-icon>add</mat-icon> Classify</button>
                    </div>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close] id="cancelNewClassifyItemBtn" mat-raised-button>Close</button>
    </div>
</ng-template>