<div id="classificationDiv">
    <h4 tabindex="0"> Classification</h4>
    <button *ngIf="isAllowedModel.isOrgCurator()" class="btn btn-small btn-default" id="openClassificationModalBtn"
            [disabled]="elt.unsaved" value="add" (click)="openClassifyItemModal()">
        <i class="fa fa-folder-open-o"> </i> Classify this {{ elt.elementType | uppercase}}
    </button>
    <button *ngIf="isAllowedModel.isOrgCurator() && elt.elementType === 'form' && elt.formElements.length > 0"
            class="btn btn-default" id="openClassifyCdesModalBtn" [disabled]="elt.unsaved"
            (click)="openClassifyCdesModal()">
        <i class="fa fa-indent"></i> Classify Cdes
    </button>
    <div id="classificationBody">
        <div *ngFor="let classification of elt.classification;let i = index">
            <div *ngIf="isAllowedModel.showWorkingGroups(classification)" class="floatLeft boxed-div">
                <h4>{{classification.stewardOrg.name}}</h4>
                <hr/>
                <tree-root #treeRoot [nodes]="classification.elements" [options]="options">
                    <ng-template #treeNodeTemplate let-node="node" let-index="index">
                        <a href="{{searchByClassification(node,classification.stewardOrg.name)}}" [id]="node.path">
                            {{ node.data.name }}</a>
                        <i class="fa fa-trash-o hand-cursor" title="Remove" [id]="node.path+'-unclassifyBtn'"
                           *ngIf="isAllowedModel.isCuratorFor(classification.stewardOrg.name)"
                           (click)="openDeleteClassificationModal(node,classification.stewardOrg.name)"></i>
                    </ng-template>
                    <ng-template #treeNodeFullTemplate let-node="node" let-index="index" let-templates="templates">
                        <div [class.tree-node-expanded]="true" [ngClass]="{'floatLeft boxed-div':node.level===1}">
                            <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                                <tree-node-content [node]="node" [index]="index"
                                                   [template]="templates.treeNodeTemplate">
                                </tree-node-content>
                            </div>
                            <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                        </div>
                    </ng-template>
                </tree-root>
            </div>
        </div>
    </div>
</div>
<cde-classify-item-modal #classifyItemModal [elt]="elt" (updateElt)="updateThisElt($event)"></cde-classify-item-modal>
<cde-classify-cdes-modal #classifyCdesModal [elt]="elt" (updateElt)="updateThisElt($event)"></cde-classify-cdes-modal>

<ng-template #deleteClassificationContent id="deleteClassificationModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="deleteClassificationModalHeader">
        <h4 class="modal-title">Remove Classification</h4>
    </div>
    <div class="modal-body" id="deleteClassificationModalBody">
        You are about to delete <b>{{deleteClassificationString}}</b> classification. Are you sure?
    </div>
    <div class="modal-footer" id="deleteClassificationModalFooter">
        <button class="btn cancel" (click)="c('Close click')" id="cancelDeleteClassificationBtn"
                name="cancelDeleteClassificationBtn" type="button">Cancel
        </button>
        <button class="btn btn-danger" (click)="deleteClassification()" id="confirmDeleteClassificationBtn"
                name="confirmDeleteClassificationBtn" type="button">OK
        </button>
    </div>
</ng-template>