<div id="classificationDiv">
    <h4> Classification</h4>
    <button *ngIf="isAllowedModel.isOrgCurator()" class="btn btn-small btn-default" id="openClassificationModalBtn"
            [disabled]="elt.unsaved" value="add" (click)="openClassifyItemModal()">
        <i class="fa fa-folder-open-o"> </i> Classify this {{ elt.elementType | uppercase}}
    </button>
    <button *ngIf="isAllowedModel.isOrgCurator() && elt.elementType === 'form' && elt.formElements.length > 0"
            class="btn btn-default" id="openClassifyCdesModalBtn" [disabled]="elt.unsaved"
            (click)="openClassifyCdesModal()">
        <i class="fa fa-indent"></i> Classify CDEs
    </button>
    <div id="classificationBody">
        <cde-classification-view [elt]="elt" (confirmDelete)="confirmDelete($event);"></cde-classification-view>
    </div>
</div>
<cde-classify-item-modal #classifyItemComponent [elt]="elt"
                         (afterClassified)="afterClassified($event)"></cde-classify-item-modal>
<cde-classify-cdes-modal #classifyCdesComponent [elt]="elt"
                         (updateElt)="updateThisElt($event)"></cde-classify-cdes-modal>

