<div #bannerBox>
    <button class="close" title="Close" style="padding:5px;" (click)="bannerBox.classList.add('closed')">
        <span aria-hidden="true">&times;</span>
    </button>
    <div id="block-bean-emergency-message" class="block block--bean emergency-message block--bean-emergency-message"
         style="background-color: #be2c2c; color: #FFF;padding: 10px;text-align: center;">
        <div style="font-size: 1.17em; font-weight: bold;">
            COVID-19 is an emerging, rapidly evolving situation.
        </div>
        <div>Get the latest public health information from CDC:
            <a style="color: #fff; text-decoration: underline;" href="https://www.coronavirus.gov"
               target="_blank">https://www.coronavirus.gov</a>
        </div>
        <div>Get the latest research information from NIH:
            <a style="color: #fff; text-decoration: underline;" href="https://www.nih.gov/coronavirus"
               target="_blank">https://www.nih.gov/coronavirus</a>
        </div>
    </div>
</div>
