<ng-container *ngIf="shutdownBannerContent$ | async as shutdownBannerContent">
    <div class="shutdown-banner-container" *ngIf="shutdownBannerContent.active && !bannerClosed" data-testid="shutdown-banner-container">
        <button class="close" title="Close" (click)="bannerClosed = true"
                data-testid="banner-close-button">
            <span>&times;</span>
        </button>
        <div class="message-container">
            <div [innerHTML]="shutdownBannerContent.body" ></div>
        </div>
    </div>
</ng-container>

