.shutdown-banner-container {
  border: 10px solid #be2c2c;

  button.close {
    position: absolute;
    right: 10px;
    background-color: #e7e7e7;
    color: black;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  .message-container {
    background-color: white;
    padding: 10px;
    text-align: center;
  }
}
