<ng-template #updateElementContent>
    <form #updateElementForm="ngForm">
        <h4 mat-dialog-title>Save</h4>
        <div mat-dialog-content>
            <div *ngIf="newCdes.length > 0" class="form-group">
                <div class="text-truncate m-2">
                    <span class="font-weight-bold">There are new CDEs</span>
                </div>
                <div *ngFor="let newCde of newCdes" class="card">
                    <div class="card-header">
                        <div class="float-left" (click)="newCde.isCollapsed = !newCde.isCollapsed"
                             [ngClass]="{'text-danger':newCde.designations.length === 0}">
                            <span *ngIf="newCde.designations.length > 0" class="hand-cursor">
                                {{newCde.designations[0].designation}}
                            </span>
                            <span *ngIf="newCde.designations.length === 0">
                            designations is empty;
                            </span>
                        </div>
                    </div>
                    <div class="card-body" [ngbCollapse]="!newCde.isCollapsed">
                        <dl class="row">
                            <dt class="col-2 text-right">Designations:</dt>
                            <dd class="col-10">
                                <dl *ngFor="let cdeDesignation of newCde.designations" class="row">
                                    <dt class="col-3 text-right">Designation:</dt>
                                    <dd class="col-9">{{cdeDesignation.designation}}</dd>
                                    <dt class="col-3 text-right">Tags:</dt>
                                    <dd class="col-9">
                                        <span *ngFor="let cdeTag of cdeDesignation.tags"
                                              class="badge badge-secondary mx-1">{{cdeTag}}</span>
                                    </dd>
                                </dl>
                            </dd>
                            <dt class="col-2 text-right">Definitions:</dt>
                            <dd class="col-10">
                                <dl *ngFor="let cdeDefinition of newCde.definitions" class="row">
                                    <dt class="col-3 text-right">Definition:</dt>
                                    <dd class="col-9">{{cdeDefinition.definition}}</dd>
                                    <dt class="col-3 text-right">Tags:</dt>
                                    <dd class="col-9">
                                        <span *ngFor="let cdeTag of cdeDefinition.tags"
                                              class="badge badge-secondary mx-1">{{cdeTag}}</span>
                                    </dd>
                                </dl>
                            </dd>
                            <dt class="col-2 text-right">Data Type:</dt>
                            <dd class="col-10">{{newCde.datatype}}</dd>
                            <dt class="col-2 text-right">Identifiers:</dt>
                            <dd class="col-10">
                                <dl *ngFor="let cdeId of newCde.ids" class="row">
                                    <dt class="col-3 text-right">Source:</dt>
                                    <dd class="col-9">{{cdeId.source}}</dd>
                                    <dt class="col-3 text-right">Id:</dt>
                                    <dd class="col-9">{{cdeId.id}}</dd>
                                    <dt class="col-3 text-right">Version:</dt>
                                    <dd class="col-9">{{cdeId.version}}</dd>
                                </dl>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="changeNote">Change Note</label>
                <textarea id="changeNote" class="form-control" name="changeNote"
                          [(ngModel)]="elt.changeNote" placeholder="Optional Change Note"
                          (ngModelChange)="onChangeNoteChanged($event)"></textarea>
            </div>
            <div class="form-group">
                <label for="newVersion">Choose a new version</label>
                <input id="newVersion" name="newVersion" #newVersion="ngModel" class="form-control"
                       [(ngModel)]="elt.version" pattern="^[A-z0-9-=.]+$"
                       (ngModelChange)="onVersionNumberChanged($event);"/>
                <div *ngIf="newVersion.errors && (newVersion.dirty || newVersion.touched)" class="help-inline">
                    Version number cannot include characters other than letters, numbers, -, = and .
                </div>
                <div *ngIf="duplicatedVersion">
                    <label for="overrideVersion">This version number has already been used. Override rule? </label>
                    <input id="overrideVersion" name="overrideVersion" type="checkbox"
                           [(ngModel)]="overrideVersion"/>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <button [mat-dialog-close] id="cancelSaveBtn" type="button"
                mat-raised-button color="accent">Cancel</button>
            <button id="confirmSaveBtn" (click)="save.emit()" type="button"
                    mat-raised-button color="primary" [mat-dialog-close]
                    [disabled]="!updateElementForm.form.valid || (!overrideVersion && duplicatedVersion)">Save
            </button>
        </div>
    </form>
</ng-template>
