<div class="container">
    <h2><i class="fa fa-search"></i> Search Results </h2>
    <h3><i class="fa fa-check-square-o"></i> Registration Statuses</h3>
    <div class="form-group">
        <span>I want my search results to include these statuses</span>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.lowestRegistrationStatus" id="minStatus-Qualified"
                       value="Qualified">
                Preferred Standard, Standard, Qualified
            </label>
        </div>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.lowestRegistrationStatus" id="minStatus-Recorded"
                       value="Recorded">
                Preferred Standard, Standard, Qualified, Recorded
            </label>
        </div>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.lowestRegistrationStatus" id="minStatus-Candidate"
                       value="Candidate">
                Preferred Standard, Standard, Qualified, Recorded, Candidate
            </label>
        </div>
        <div class="radio indent">
            <label>
                <input id="minStatus-Incomplete" type="radio" [(ngModel)]="searchSettings.lowestRegistrationStatus"
                       value="Incomplete">
                Preferred Standard, Standard, Qualified, Recorded, Candidate, Incomplete
            </label>
        </div>

        <label for="includeRetired">
            <input id="includeRetired" type="checkbox" [(ngModel)]="searchSettings.includeRetired">
            Include Retired Content (this session only)</label>
    </div>

    <h3><i class="fa fa-bars"></i> Default Search Results View</h3>
    <div class="form-group">
        <span>By default, I want to see results as </span>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.defaultSearchView" id="defaultView-summary"
                       value="summary">
                <i class="fa fa-list"></i> Summary
            </label>
        </div>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.defaultSearchView" id="defaultView-table" value="table">
                <i class="fa fa-table"></i> Table
            </label>
        </div>
    </div>

    <div class="row">
        <div class="ml-auto">
            <button type="button" id="loadDefaultSettings" class="btn btn-outline-dark" (click)="loadDefault()">
                <i class="fa fa-undo"></i> Load Default
            </button>
            <button type="button" class="btn  btn-warning" (click)="cancelSettings()">
                <i class="fa fa-times"></i>
                Cancel
            </button>
            <button id="saveSettings" type="button" class="btn  btn-success" (click)="saveSettings()">
                <i class="fa fa-check"></i> Save
            </button>
        </div>
    </div>
</div>
