<div class="container">
    <h2><mat-icon style="vertical-align: baseline">search</mat-icon> Search Results</h2>
    <h3><mat-icon style="vertical-align: baseline">check_box</mat-icon> Registration Statuses</h3>
    <div class="form-group">
        <span>I want my search results to include these statuses</span>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.lowestRegistrationStatus" id="minStatus-Qualified"
                       value="Qualified">
                Preferred Standard, Standard, Qualified
            </label>
        </div>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.lowestRegistrationStatus" id="minStatus-Recorded"
                       value="Recorded">
                Preferred Standard, Standard, Qualified, Recorded
            </label>
        </div>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.lowestRegistrationStatus" id="minStatus-Candidate"
                       value="Candidate">
                Preferred Standard, Standard, Qualified, Recorded, Candidate
            </label>
        </div>
        <div class="radio indent">
            <label>
                <input id="minStatus-Incomplete" type="radio" [(ngModel)]="searchSettings.lowestRegistrationStatus"
                       value="Incomplete">
                Preferred Standard, Standard, Qualified, Recorded, Candidate, Incomplete
            </label>
        </div>

        <label for="includeRetired">
            <input id="includeRetired" type="checkbox" [(ngModel)]="searchSettings.includeRetired">
            Include Retired Content (this session only)</label>
    </div>

    <h3><mat-icon style="vertical-align: baseline">sort</mat-icon> Default Search Results View</h3>
    <div class="form-group">
        <span>By default, I want to see results as </span>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.defaultSearchView" value="summary">
                <mat-icon>view_list</mat-icon>
                Summary
            </label>
        </div>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="searchSettings.defaultSearchView" value="table">
                <mat-icon>table_chart</mat-icon>
                Table
            </label>
        </div>
    </div>
    <div class="form-group">
        <span>When possible, I want to download data as: </span>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="exportToTab" value="">
                <mat-icon>attachment</mat-icon>
                File (default)
            </label>
        </div>
        <div class="radio indent">
            <label>
                <input type="radio" [(ngModel)]="exportToTab" value="tab">
                <mat-icon>tab</mat-icon>
                New Tab
            </label>
        </div>
    </div>

    <div class="row">
        <div class="ml-auto">
            <button id="loadDefaultSettings" mat-raised-button type="button" (click)="loadDefault()">
                <mat-icon>undo</mat-icon> Load Default
            </button>
            <button mat-raised-button color="accent" (click)="cancelSettings()" type="button">
                <mat-icon>cancel</mat-icon>
                Cancel
            </button>
            <button id="saveSettings" mat-raised-button color="primary" (click)="saveSettings()" type="button">
                <mat-icon>check</mat-icon> Save
            </button>
        </div>
    </div>
</div>
