<h1>{{form.naming[0].designation}}</h1>
<div class="alert alert-info mt20" ng-show="form.unsaved"><i class="fa fa-exclamation-triangle"></i> This element is not saved.</div>
<div class="alert alert-warning mt20" role="alert" ng-show="form.archived"><i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> this form is archived.</div> 
<div class="row">    
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>Name: </dt><dd inline-edit id="nameEdit" model="form.naming[0].designation" is-allowed="isAllowed(false)" on-ok="stageCde(form)"> </dd>
            <dt>Description: </dt><dd inline-area-edit inline-area-visibility="inlineAreaEditVisibility" model="form.naming[0].definition" is-allowed="isAllowed(false)" def-format="form.naming[0].definitionFormat" on-ok="stageCde(form)"> </dd>
            <dt>Version: </dt><dd>{{form.version | placeholdEmpty}}</dd>
            <dt>Steward: </dt><dd>{{form.stewardOrg.name}}</dd>
            <dt id="dt_status">Status: </dt><dd id="dd_status" ng-controller="RegistrationCtrl"><i id="editStatus" ng-show="isAllowed(form)" class="fa fa-edit" ng-click="openRegStatusUpdate(form, '#/formView?_id=')")"></i> {{form.registrationState.registrationStatus}}</dd>
        </dl> 

        <div ng-include="'/form/public/html/sections.html'" ng-controller="SectionCtrl"></div>
    </div>
    <div class="col-md-7" ng-switch="addCdeMode">     
        <div ng-switch-when="true">
            <button ng-click="switchEditQuestionsMode()"> Done Adding</button>
            <div class="panel-group" id="accordion">                
                <div ng-include="'/template/system/list'" ng-controller="DEListCtrl"></div>                
            </div>            
        </div>
        <div ng-switch-default>
            To add start adding questions to the form, click "Add Questions" and drag and drop into your form sections. 
            <button ng-click="switchEditQuestionsMode()" id="startAddingQuestions"> Add Questions</button>
        </div>   
    </div>
</div>
<hr/>
<div class="row" ng-controller="VersionCtrl">
     <div class="col-md-12" ng-show="form.unsaved">
         <button class="btn cancel" ng-click="revert()">Discard Changes</button>
         <button class="btn btn-primary" ng-click="openSave(form, '#/formView?_id=')" id="openSave">Save</button>
     </div>
 </div>

<%- include ../../system/views/viewElement/classification/deClassification.ejs %>