<div class="container-fluid">
    <div ng-controller="VersionCtrl" class="alert alert-info mt20" ng-show="elt.unsaved" id="openSaveTop><i class="fa fa-exclamation-triangle"></i> This element is not saved. <button class="btn btn-primary" ng-click="openSave(elt, '#/formView?_id=')" id="openSave">Save</button></div>
    <div class="alert alert-warning mt20" role="alert" ng-show="elt.archived"><i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> this form is archived.</div> 

    <h3>{{elt.naming[0].designation}}</h3>

<div tabset>
    <div tab heading="General Details">
        <div ng-include="'/form/public/html/formGeneralDetails.html'"></div>
    </div>
    <div tab heading="Form Description">
        <div ng-include="'/form/public/html/formDescription.html'"></div>
    </div>
    <div tab heading="Properties">
        <div ng-include="'/system/public/html/properties.html'"></div>
    </div>
    <div tab heading="Identifiers">
        <div ng-include="'/system/public/html/identifiers.html'"></div>
    </div>
    <div tab heading="Attachments">
        <div ng-include="'/system/public/html/attachments.html'"></div>
    </div>
    <div tab heading="Classification">
        <div ng-include="'/template/system/elementClassification'"></div>
    </div>
</div>

<div class="row" ng-controller="VersionCtrl">
    <div class="col-md-12" ng-show="elt.unsaved">
        <hr/>
        <button class="btn cancel" ng-click="revert()">Discard Changes</button>
        <button class="btn btn-primary" ng-click="openSave(elt, '#/formView?_id=')" id="openSaveBottom">Save</button>
    </div>
</div>
