<div accordion close-others="false">
    <div accordion-group ng-repeat="form in (cdes+mltCdes)" is-open="form.isOpen">
        <div accordion-heading>
            <span ng-bind-html="form.naming[0].designation" id="acc_link_{{$index}}" class="hand-cursor"></span>            
        </div>
        
        <div class="row" >
            <div class="col-md-6">
                <h4>General Details</h4>    
                <dl class="dl-horizontal">
                    <dt>Name: </dt>
                    <dd id="dd_general_name" ng-bind-html="form.naming[0].designation">    

                    </dd>    
                        <dt>Steward: </dt><dd ng-bind-html="form.stewardOrg.name"></dd>        
                    <dt>Definition: </dt><dd id="dd_def" ng-bind-html="form.naming[0].definition | placeholdEmpty"></dd>
                    <dt ng-show="form.classification.length > 0">Used By: </dt>
                    <dd ng-show="form.classification.length > 0" id="dd_usedBy">
                        <span ng-switch="form.classification.length > 0">
                            <span ng-switch-when="false">None</span>
                            <span ng-switch-default>
                                <span ng-repeat="cl in form.classification">{{cl.stewardOrg.name}} </span>
                            </span>
                        </span>
                    </dd>
                    <dt id="dt_status">Status: </dt><dd id="dd_status">{{form.registrationState.registrationStatus}}</dd>
                </dl>
            </div>
        </div>         
        
        <div class="row" >
            <a class='btn btn-small btn-default' id="openEltInCurrentTab_{{$index}}" ng-href="/#/formView?_id={{form._id}}" title="Full Detail for {{form.naming[0].designation}}"><i class="fa fa-eye"></i> View Full Detail</a>
        </div>        
    </div>
</div>