<div accordion close-others="false">
    <div accordion-group ng-repeat="form in (cdes+mltCdes)" is-open="cde.isOpen">
        <div accordion-heading>
            <span ng-bind-html="form.naming[0].designation" id="acc_link_{{$index}}" class="hand-cursor"></span>
            <!--i ng-show="ejsPage!='createcde'" class="fa fa-eye hand-cursor" ng-click="accordionIconAction(form,'view',$event)" title="View"></i-->
        </div>
        
        <div class="row" >
            <a ng-show="ejsPage!='createcde'" class='btn btn-small btn-default' ng-href="/#/formView?_id={{form._id}}" title="Full Detail for {{form.naming[0].designation}}"><i class="fa fa-eye"></i> View Full Detail</a>
        </div>        
    </div>
</div>