<div class="container-fluid">
    <div ng-controller="VersionCtrl" class="alert alert-info mt20" ng-show="elt.unsaved" id="openSaveTop"><i class="fa fa-exclamation-triangle"></i> This element is not saved. <button class="btn btn-primary" ng-click="openSave(elt, '#/formView?_id=')" id="openSave">Save</button></div>
    <div class="alert alert-warning mt20" role="alert" ng-show="elt.archived"><i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> this form is archived.</div> 
    <div class="alert alert-info mt20" role="alert" ng-show="elt.outdated"><i class="fa fa-exclamation-triangle"></i> <strong>Note: </strong>Some CDEs in this form have newer version. </div> 

    <h3>{{elt.naming[0].designation}}
        <a class="btn btn-small btn-default" target="_blank" title="Preview" id="formPreview" href="/form/public/html/formRender.html?id={{elt._id}}"><i class="fa fa-cogs"></i> Preview</a>
    </h3>

<div tabset>
    <div tab heading="{{tabs['general'].heading}}">
        <div ng-include="'/form/public/html/formGeneralDetails.html'"></div>
    </div>
    <div tab heading="{{tabs['description'].heading}}">
        <div ng-include="'/form/public/html/formDescription.html'"></div>
    </div>
    <div tab heading="{{tabs['classification'].heading}}">
        <div ng-include="'/template/system/elementClassification'"></div>
    </div>
    <div tab heading="{{tabs['status'].heading}}">
        <div ng-include="'/system/public/html/status.html'"></div>
    </div>
    <div tab heading="{{tabs['properties'].heading}}" active="tabs['properties'].active">
        <div ng-include="'/system/public/html/properties.html'"></div>
    </div>
    <div tab heading="{{tabs['ids'].heading}}" active="tabs['ids'].active">
        <div ng-include="'/system/public/html/identifiers.html'"></div>
    </div>
    <% if (config.modules.forms.comments) { %>    
        <div tab heading="{{tabs['discussions'].heading}}">
            <div ng-include="'/system/public/html/comments.html'"></div>
        </div>
    <% } %>
    <% if (config.modules.forms.attachments) { %>
        <div tab heading="{{tabs['attachments'].heading}}">
            <div ng-include="'/system/public/html/attachments.html'"></div>
        </div>
    <% } %>
</div>

<div class="row" ng-controller="VersionCtrl">
    <div class="col-md-12" ng-show="elt.unsaved">
        <hr/>
        <button class="btn cancel" ng-click="revert()" id="discardChanges">Discard Changes</button>
        <button class="btn btn-primary" ng-click="openSave(elt, '#/formView?_id=')" id="openSaveBottom">Save</button>
    </div>
</div>
