<div class="alert alert-info mt20" ng-show="form.unsaved"><i class="fa fa-exclamation-triangle"></i> This element is not saved.</div>
<div class="alert alert-warning mt20" role="alert" ng-show="form.archived"><i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> this form is archived.</div> 

<h3>{{form.naming[0].designation}}</h3>

<div tabset>
   <div tab heading="General Details">
        <div ng-include="'/form/public/html/formGeneralDetails.html'"></div>
   </div>
   <div tab heading="Form Description">
        <div ng-include="'/form/public/html/formDescription.html'"></div>
   </div>
   
</div>

