<h1 tabindex="0">Public Forms</h1>

<div ng-controller="FormListCtrl">
    <div ng-repeat="form in listForms">
        <dl class="dl-horizontal">
            <dt tabindex="0">Name:</dt>
            <dd tabindex="0">{{form.naming[0].designation}}</dd>
            <dt tabindex="0">Definition:</dt>
            <dd tabindex="0">{{form.naming[0].definition}}</dd>
            <dt tabindex="0">Version:</dt>
            <dd tabindex="0">{{form.version}}</dd>
            <dt tabindex="0">Steward:</dt>
            <dd tabindex="0">{{form.stewardOrg.name}}</dd>
            <dd tabindex="0">
                <a class="btn btn-default" href="/#/formView?tinyId={{form.tinyId}}">View Full Detail</a>
            </dd>
        </dl>
    </div>
</div>

