<div id="classificationDiv">
    <h4 tabindex="0"> Classification</h4>
    <button *ngIf="isAllowedModel.isOrgCurator()" class="btn btn-small btn-default" (disabled)="elt.unsaved" value="add"
            (click)="openClassifyItemModal()" id="openClassificationModalBtn">
        <i class="fa fa-folder-open-o"> </i> Classify this {{module | uppercase}}
    </button>
    <div id="classificationBody">
        <div *ngFor="let classification of elt.classification;let i = index" class="floatLeft boxed-div">
            <h4>{{classification.stewardOrg.name}}</h4>
            <hr/>
            <div *ngFor="let element of classification.elements " class="floatLeft boxed-div">
                <a class="name hand-cursor first-level-classification">{{element.name}}</a>
                <i class="fa fa-trash-o hand-cursor" title="Remove"
                   (click)="openDeleteClassificationModal(node,classification.stewardOrg.name)"></i>
                <tree-root #treeRoot [nodes]="element.elements" [options]="options">
                    <template #loadingTemplate>Loading, please hold....</template>
                    <template #treeNodeTemplate let-node="node" let-index="index">
                        <a>{{ node.data.name }}</a>
                        <i class="fa fa-trash-o hand-cursor" title="Remove"
                           *ngIf="isAllowedModel.isCuratorFor(classification.stewardOrg.name)"
                           (click)="openDeleteClassificationModal(node,classification.stewardOrg.name)"></i>
                    </template>
                </tree-root>
            </div>
        </div>
    </div>
</div>
<cde-classify-item-modal #classifyItemModal [elt]="elt"></cde-classify-item-modal>
<cde-delete-classification-modal #deleteClassificationModal [elt]="elt"></cde-delete-classification-modal>
