<div id="classificationDiv">
    <h4 tabindex="0"> Classification</h4>
    <button *ngIf="isOrgCurator" class="btn btn-small btn-default" (disabled)="elt.unsaved" value="add"
            (click)="openClassifyItemModal()" id="openClassificationModalBtn">
        <i class="fa fa-folder-open-o"> </i> Classify this {{module | uppercase}}
    </button>
    <div id="classificationBody">
        <div *ngFor="let classification of elt.classification;let i = index" class="floatLeft boxed-div">
            <ul class="fa-ul overflowHidden">
                <h4>{{classification.stewardOrg.name}}</h4>
                <hr/>
                <tree-root #treeRoot [nodes]="classification.elements"
                           [options]="options" id="{{classification.stewardOrg.name}}">
                    <template #loadingTemplate>Loading, please hold....</template>
                    <template #treeNodeTemplate let-node="node" let-index="index">
                        <span>{{ node.data.name }}</span>
                        <i *ngIf="myOrgs.indexOf(classification.stewardOrg.name) > 0" class="fa fa-trash-o hand-cursor"
                           title="Remove"
                           (click)="deleteClassificationModal.open(node,classification.stewardOrg.name)"></i>
                    </template>
                </tree-root>
            </ul>
        </div>
    </div>
</div>
<cde-classify-item-modal #classifyItemModal [elt]="elt" (close)="closeModal($event)"></cde-classify-item-modal>
<cde-delete-classification-modal #deleteClassificationModal [elt]="elt"></cde-delete-classification-modal>