<a class='btn   btn-outline-dark fa fa-clipboard mergeForm'
   id="openMergeFormModalBtn" (click)="openMergeFormModal()">Merge Form</a>

<ng-template #mergeFormContent>
    <h4 mat-dialog-title>Merge <a target=_blank href="formView?tinyId={{left.tinyId}}">
        {{left.designations[0].designation}}</a>
        Into <a target=_blank href="formView?tinyId={{right.tinyId}}">
            {{right.designations[0].designation}}</a>
    </h4>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-12 col-lg-2 col-xl-2 noRightPadding">
                <div class="row">
                    <div class="col-6 col-lg-12 col-xl-12">
                        <h4>Form fields:</h4>
                        <div>
                            <button class="btn btn-outline-dark btn-xs" (click)="selectAllFormMergerFields();"
                                    [disabled]="!mergeFormService.error.ownTargetForm">All
                            </button>
                            <button class="btn btn-outline-dark btn-xs" (click)="deselectAllFormMergerFields();"
                                    [disabled]="!mergeFormService.error.ownTargetForm">None
                            </button>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.designations"
                                          [disabled]="!mergeFormService.error.ownTargetForm"> Designation</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.definitions"
                                          [disabled]="!mergeFormService.error.ownTargetForm"> Definition</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.referenceDocuments"
                                          [disabled]="!mergeFormService.error.ownTargetForm">Ref Documents</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.properties"
                                          [disabled]="!mergeFormService.error.ownTargetForm">Properties</label>
                        </div>
                        <div>
                            <label> <input type="checkbox" [(ngModel)]="mergeFields.ids"
                                           [disabled]="!mergeFormService.error.ownTargetForm"> IDs</label>
                        </div>
                        <div>
                            <label> <input type="checkbox" [(ngModel)]="mergeFields.classifications"
                                           [disabled]="!mergeFormService.error.ownTargetForm"> Classifications</label>
                        </div>
                        <div>
                            <label> <input type="checkbox" [(ngModel)]="mergeFields.questions"
                                           [disabled]="!mergeFormService.error.ownTargetForm"> Questions</label>
                        </div>
                    </div>
                    <div class="smallSpace left"></div>
                    <div class="col-6 col-lg-12 col-xl-12" *ngIf="mergeFields.questions">
                        <h4>CDE fields:</h4>
                        <div>
                            <button class="btn btn-outline-dark btn-xs" (click)="selectAllCdeMergerFields();">All</button>
                            <button class="btn btn-outline-dark btn-xs" (click)="deselectAllCdeMergerFields();">None</button>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.designations"> Designation</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.definitions"> Definition</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.referenceDocuments">Ref Documents</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.properties">Properties</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.ids"> IDs</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.attachments">Attachment</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.dataSets">Data Set</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.derivationRules">Derivation Rules</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.sources">Sources</label>
                        </div>
                        <div>
                            <label><input type="checkbox" [(ngModel)]="mergeFields.cde.classifications">Classifications</label>
                        </div>
                        <div class="smallSpace left"></div>
                        <div>
                            <label>Retire CDE?<input type="checkbox" [(ngModel)]="mergeFields.cde.retireCde"
                                                     id="retireCde"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10 col-xl-10 noLeftRightPadding">
                <div class="row">
                    <div class="col-12" *ngIf="mergeFields.questions">
                        <div class="col-6" id="dropArea">
                            <cde-sortable [left]="left" [right]="right" [mergeFields]="mergeFields"></cde-sortable>
                        </div>
                        <div class="col-6">
                            <div *ngFor="let rightQuestion of right.questions; let i = index"
                                 class="boxed-div overflowHidden" id="targetQuestion_{{i}}">
                                <div class="col-3 Label noLeftRightPadding">CDE Name:</div>
                                <div class="col-9 noLeftRightPadding mergeCdeName">
                                    <a *ngIf="rightQuestion.question.cde.name" target="_blank"
                                       href="deView?tinyId={{rightQuestion.question.cde.tinyId}}">
                                        {{rightQuestion.question.cde.name}}
                                    </a>
                                    <a *ngIf="!rightQuestion.question.cde.name" target="_blank"
                                       href="deView?tinyId={{rightQuestion.question.cde.tinyId}}">
                                        {{rightQuestion.label}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="mergeFormService.error.error" id="mergeFormErrorDiv" class="alert alert-danger">
            {{mergeFormService.error.error}}
        </div>
    </div>
    <div mat-dialog-actions>
        <div *ngIf="showProgressBar" style="width:100%">
            <mat-progress-bar [value]="numMergedQuestions / maxNumberQuestions">
=            </mat-progress-bar>
        </div>
        <button mat-raised-button id="cancelMergeFormBtn" [mat-dialog-close] type="button">
            {{doneMerge?'Close':'Cancel'}}
        </button>
        <button *ngIf="!doneMerge && !mergeFormService.error.error" mat-raised-button color="primary" id="mergeFormBtn"
                (click)="doMerge()">
            Merge
        </button>
    </div>
</ng-template>
