<div>

    <form class="form-inline pt40 pb40" role="form" id="newOrgAdminForm" name="newOrgAdminForm" novalidate>
        <div class="form-group">
            <button class=" btn btn-outline-dark" (click)="openNewUserModal()" id="opeNewUserModalBtn">
                <i class="fa fa-plus-square-o"></i> Create User
            </button>
        </div>
        <div class="form-group">
            <input class="form-control" id="searchUsersInput" name="searchUsersInput" type="text"
                   placeholder="enter username" autocomplete="off" [(ngModel)]="search.username"
                   [ngbTypeahead]="searchTypeahead" [resultFormatter]="formatter"
                   [inputFormatter]="formatter" required>
        </div>
        <button type="submit" class="btn btn-success ml-1" id="searchUsersSubmit" (click)="searchUsers()">
            Search
        </button>
    </form>

    <div *ngFor="let u of foundUsers; let $index = index">
        <div class="row">
            <div class="col-3 text-right"><strong>Username:</strong></div>
            <div id="user_username" class="col-9">{{u.username}}</div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Avatar:</strong></div>
            <img *ngIf="u.avatarUrl" src="{{u.avatarUrl}}" width="32" height="32"/>
            <cde-inline-edit [(model)]="u.avatarUrl" [isAllowed]="true" (modelChange)="updateAvatar(u)"
                             class="col-9"></cde-inline-edit>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Last Login:</strong></div>
            <div class="col-9">{{u.lastLogin}}</div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Org Curator:</strong></div>
            <div id="user_curator" class="col-9">{{u.orgCurator}}</div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Org Admin: </strong></div>
            <div id="user_orgadmin" class="col-9">{{u.orgAdmin}}</div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Site Admin: </strong></div>
            <div id="user_siteadmin" class="col-9" [innerHtml]="u.siteAdmin?'Yes':'No'"></div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong><label for="user.tester">Early Feature User: </label></strong></div>
            <div class="col-9">
                <input id="user.tester" [ngModel]="u.tester" type="checkbox"
                       (ngModelChange)="updateTesterStatus(u, $event)">
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Roles: </strong></div>
            <div class="col-9" id="user_roles_{{$index}}">
                <select2 [data]="rolesEnum" [value]="u.roles" [options]="s2Options" [width]="500"
                         style="min-width: 300px" (valueChanged)="updateRoles(u, $event)">
                </select2>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Known IPs</strong></div>
            <div class="col-9">{{u.knownIPs}}</div>
        </div>
        <cde-user-comments [user]="u"></cde-user-comments>
        <hr/>
    </div>
</div>


<ng-template #newUserContent id="newUserModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="newUserModalHeader">
        <h4 class="modal-title">Add User</h4>
    </div>
    <form role="form" #newUserForm="ngForm" (ngSubmit)="addNewUser();">
        <div class="modal-body" id="newUserModalBody">
            <div class="alert alert-info">
                Please ensure the username matches the UMLS username.
            </div>
            <div class="form-group">
                <label for="newUsername">Name</label>
                <input class="form-control" id="newUsername" name="username" Placeholder="New Username"
                       [(ngModel)]="newUsername" required/>
            </div>
        </div>
        <div class="modal-footer" id="newUserModalFooter">
            <button class="btn  btn-outline-dark" (click)="c('Close click')" id="cancelNewUserBtn"
                    type="button">
                Cancel
            </button>
            <button class="btn  btn-warning" [disabled]="!newUserForm.form.valid" id="createNewUserBtn"
                    type="submit">Save
            </button>
        </div>
    </form>
</ng-template>
