<div class="row" *ngIf="elt">
    <div class="col-xs-12">
        <div class="descriptionToolbox" *ngIf="canEdit" #descToolbox>
            <span style="color: white; font-weight: 700;margin-right: 5px">Add</span>
            <span role="button" id="addSectionTop" class="btn btn-default formDescriptionTool"
                  [treeDrag]="toolSection" [treeDragEnabled]="true"
                  style="width: 74px;">
                <i class="fa fa-plus"></i><span class="toolSection"></span>
            </span>
            <span role="button" id="startAddingQuestions" class="btn btn-default formDescriptionTool"
                  *ngIf="elt.formElements.length > 0" [treeDrag]="{ref: 'question'}" [treeDragEnabled]="true"
                  style="width: 87px;">
                <i class="fa fa-cube"></i><span class="toolQuestion"></span>
            </span>
            <span role="button" id="startAddingForms" class="btn btn-default formDescriptionTool"
                  *ngIf="elt.formElements.length > 0" [treeDrag]="{ref: 'form'}" [treeDragEnabled]="true"
                  style="width: 68px;">
                <i class="fa fa-cubes"></i><span class="toolForm"></span>
            </span>
            <span role="button" *ngIf="hasCopiedSection()" id="pasteSection" class="btn btn-default formDescriptionTool"
                  [treeDrag]="{ref: 'pasteSection'}" [treeDragEnabled]="true" style="width: 68px;">
                <i class="fa fa-paste" [ngClass]="{'pasteSectionWrench':elt.isCopied}"></i><span
                    class="toolCopySection"></span>
            </span>
        </div>
        <div *ngIf="elt.formElements.length === 0">
            <i class="fa fa-exclamation-triangle"></i>
            <span *ngIf="elt.noRenderAllowed">
                Rendering is disabled for this form.
            </span>
            <span *ngIf="!elt.noRenderAllowed">
                There is no content yet.
            </span>
        </div>

        <ng-container *ngFor="let eltIter of [elt]">
            <tree-root #tree [nodes]="eltIter.formElements" [options]="treeOptions">
                <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
                    <div class="tree-node tree-node-level-{{ node.level }}" [id]="node.data.descriptionId"
                         [class]="node.getClass()"
                         [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
                         [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
                         [class.tree-node-leaf]="node.isLeaf"
                         [class.tree-node-active]="node.isActive"
                         [class.tree-node-focused]="node.isFocused">
                        <tree-node-drop-slot *ngIf="index === 0" [dropIndex]="node.index"
                                             [node]="node.parent"></tree-node-drop-slot>
                        <div class="panel panel-default" [@copySection]="node.data.isCopied">
                            <div class="panel-heading">
                                <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                                    <div class="node-content-wrapper w-100"
                                         (click)="node.mouseAction('click', $event)"
                                         (dblclick)="node.mouseAction('dblClick', $event)"
                                         (contextmenu)="node.mouseAction('contextMenu', $event)"
                                         (treeDrop)="node.onDrop($event)"
                                         [treeAllowDrop]="node.allowDrop">
                                        <cde-form-description-section
                                                *ngIf="node.data.elementType === 'section' || node.data.elementType === 'form'"
                                                [elt]="elt" [canEdit]="canEdit"
                                                [node]="node"
                                                [inScoreCdes]="inScoreCdes"
                                                (isFormValid)="isFormValid.emit($event)"
                                                (stageElt)="onEltChange.emit()"></cde-form-description-section>
                                        <cde-form-description-question
                                                *ngIf="node.data.elementType === 'question'"
                                                [elt]="elt" [canEdit]="canEdit"
                                                [inScoreCdes]="inScoreCdes"
                                                [node]="node"
                                                (stageElt)="onEltChange.emit()"></cde-form-description-question>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" [ngClass]="{'panel-body-form': node.data.elementType === 'form'}">
                                <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                                <cde-form-description-question-detail *ngIf="node.data.elementType === 'question'"
                                                                      [elt]="elt" [node]="node" [canEdit]="canEdit"
                                                                      (isFormValid)="isFormValid.emit($event)"
                                                                      (stageElt)="stageParent()"></cde-form-description-question-detail>
                            </div>
                        </div>
                        <tree-node-drop-slot [dropIndex]="node.index + 1" [node]="node.parent"></tree-node-drop-slot>
                    </div>
                </ng-template>
            </tree-root>
        </ng-container>
    </div>
</div>

<ng-template #formSearchTmpl let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3>Search Forms</h3>
    </div>
    <div class="modal-body">
        <cde-form-search class="panel-group" id="accordion_form" addMode="True"
                         [embedded]="true" (add)="addFormFromSearch($event)"></cde-form-search>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" (click)="d()" id="cancelSelectF">Close</button>
    </div>
</ng-template>

<ng-template #questionSearchTmpl let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3>Search Questions</h3>
    </div>
    <div class="modal-body">
        <cde-cde-search addMode="True" [embedded]="true" (add)="addQuestionFromSearch($event)"></cde-cde-search>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" (click)="d()" id="cancelSelectQ">Close</button>
    </div>
</ng-template>
