<div class="row" *ngIf="elt">
    <div [ngClass]="{'col-xs-5 noRightPadding':addMode,'col-xs-12':!addMode}" class="formSectionArea">
        <div class="my-2">
            <button id="addSectionTop" (click)="addSectionTop()" class="btn btn-default" *ngIf="canCurate">
                <i class="fa fa-plus"></i> Add Section
            </button>
            <button id="startAddingQuestions" *ngIf="canCurate && elt.formElements.length > 0"
                    (click)="setToAddCdeMode()" class="btn btn-default hidden-xs hidden-sm">
                <span [hidden]="addMode==='cde'"><i class="glyphicon glyphicon-indent-right"></i> Show Question Search Area</span>
                <span [hidden]="addMode!=='cde'"><i class="glyphicon glyphicon-indent-left"></i> Hide Question Search Area</span>
            </button>
            <button id="startAddingForms" *ngIf="canCurate && elt.formElements.length > 0"
                    (click)="setToAddFormMode()" class="btn btn-default hidden-xs hidden-sm">
                <span [hidden]="addMode==='form'"><i class="glyphicon glyphicon-indent-right"></i> Show Form Search Area</span>
                <span [hidden]="addMode!=='form'"><i class="glyphicon glyphicon-indent-left"></i> Hide Form Search Area</span>
            </button>
        </div>
        <div *ngIf="canCurate && elt.formElements.length > 0" class="visible-xs visible-sm">
            <div class="alert alert-danger" role="alert">
                To add questions to this form, enlarge your browser window or use a larger device.
            </div>
        </div>
        <div *ngIf="elt.formElements.length === 0">
            <i class="fa fa-exclamation-triangle"></i>
            <span *ngIf="elt.noRenderAllowed">
                Rendering is disabled for this form.
            </span>
            <span *ngIf="!elt.noRenderAllowed">
                There is no content yet.
            </span>
        </div>
        <ng-container *ngFor="let eltIter of [elt]">
            <tree-root [nodes]="eltIter.formElements" [options]="treeOptions">
                <template #treeNodeFullTemplate let-node="node" let-index="index" let-templates="templates">
                    <div class="tree-node tree-node-level-{{ node.level }}"
                         [class]="node.getClass()"
                         [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
                         [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
                         [class.tree-node-leaf]="node.isLeaf"
                         [class.tree-node-active]="node.isActive"
                         [class.tree-node-focused]="node.isFocused">
                        <tree-node-drop-slot *ngIf="index === 0" [dropIndex]="node.index"
                                             [node]="node.parent"></tree-node-drop-slot>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                                    <div class="node-content-wrapper w-100"
                                         (click)="node.mouseAction('click', $event)"
                                         (dblclick)="node.mouseAction('dblClick', $event)"
                                         (contextmenu)="node.mouseAction('contextMenu', $event)"
                                         (treeDrop)="node.onDrop($event)"
                                         [treeAllowDrop]="node.allowDrop"
                                         [treeDrag]="node"
                                         [treeDragEnabled]="node.allowDrag()">
                                        <tree-node-content [node]="node" [index]="index"
                                                           [template]="templates.treeNodeTemplate">
                                            <template #treeNodeTemplate let-node="node" let-index="index">
                                                <cde-form-description-section
                                                        *ngIf="node.data.elementType === 'section' || node.data.elementType === 'form'"
                                                        [id]="(node.data.elementType === 'section' ? 'section_' + preId : 'inform_'+ preId)"
                                                        [node]="node"
                                                        [canCurate]="canCurate"
                                                        [preId]="preId + '_'+ sectionIndex" [inScoreCdes]="inScoreCdes"
                                                        (stageElt)="stageElt.emit()"
                                                        (isFormValid)="isFormValid.emit($event)"></cde-form-description-section>
                                                <cde-form-description-question
                                                        *ngIf="node.data.elementType === 'question'"
                                                        id="question_{{preId}}_{{sectionIndex}}"
                                                        [canCurate]="canCurate"
                                                        [node]="node"
                                                        (stageElt)="stageElt.emit()"></cde-form-description-question>
                                            </template>
                                        </tree-node-content>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                                <cde-form-description-question-detail *ngIf="node.data.elementType === 'question'"
                                                                      id="question_{{preId}}_{{sectionIndex}}"
                                                                      [canCurate]="canCurate"
                                                                      [node]="node"
                                                                      (isFormValid)="isFormValid.emit($event)"
                                                                      (stageElt)="stageElt.emit()"></cde-form-description-question-detail>
                            </div>
                        </div>
                        <tree-node-drop-slot [dropIndex]="node.index + 1" [node]="node.parent"></tree-node-drop-slot>
                    </div>
                </template>
            </tree-root>
        </ng-container>
    </div>
    <button id="addSectionBottom" (click)="addSectionBottom()" class="btn btn-default" *ngIf="canCurate">
        <i class="fa fa-plus"></i> Add Section
    </button>
    <div class="question-search-area pd55" [ngClass]="{'col-xs-7 hidden-sm noLeftPadding':addMode}"
         *ngIf="addMode && elt.formElements.length > 0">
        <cde-search-cde [hidden]="addMode!=='cde'" class="panel-group" id="accordion_cde"></cde-search-cde>
        <cde-search-form [hidden]="addMode!=='form'" class="panel-group" id="accordion_form"></cde-search-form>
    </div>
</div>
