<ng-template [ngTemplateOutlet]="getTemplate()" [ngOutletContext]="{ $implicit: question }"></ng-template>

<ng-template #formDescriptionQuestionTmpl>
    <div class="my-1">
        <span *ngIf="question.question.multiselect" class="badge badge-success formViewSummaryLabel">
            Select Multiple
        </span>
        <span *ngIf="question.question?.datatypeText?.minLength" class="badge badge-success formViewSummaryLabel">
            At least: {{question.question?.datatypeText?.minLength}} characters
        </span>
        <span *ngIf="question.question?.datatypeText?.maxLength" class="badge badge-success formViewSummaryLabel">
            At most: {{question.question?.datatypeText?.maxLength}} characters
        </span>
        <span *ngIf="question.question?.datatypeNumber?.minValue" class="badge badge-success formViewSummaryLabel">
            At least: {{question.question?.datatypeNumber.minValue}}
        </span>
        <span *ngIf="question.question?.datatypeNumber?.maxValue" class="badge badge-success formViewSummaryLabel">
            At most: {{question.question?.datatypeNumber?.maxValue}}
        </span>
        <span *ngIf="question.question?.datatypeDate?.format" class="badge badge-success formViewSummaryLabel">
            Format: {{question.question?.datatypeDate?.format}}
        </span>
        <span *ngIf="getRepeatLabel(question)" class="badge badge-primary formViewSummaryLabel">
            Repeats: {{getRepeatLabel(question)}} times
        </span>
        <span *ngIf="isScore(question)" class="badge badge-primary formViewSummaryLabel">
            Score: <span [textContent]="question.question.scoreFormula"></span>
        </span>
        <span *ngIf="question.question.required" class="badge badge-danger formViewSummaryLabel">
            Required
        </span>
        <span *ngIf="question.question.invisible" class="badge badge-secondary formViewSummaryLabel"
              style="background-color: #666">
            Invisible
        </span>
        <span *ngIf="question.question.editable === false" class="badge badge-secondary formViewSummaryLabel"
              style="background-color: #666">
            Disabled
        </span>
        <span *ngIf="question.skipLogic?.condition?.length > 0 && parent"
              class="badge badge-warning formViewSummaryLabel">
            Show if: {{question.skipLogic.condition}}
        </span>
    </div>
    <div class="row">
        <div class="col-12">
            <div *ngIf="question.instructions?.value" class="questionInstruction">
                <span class="formViewQuestionLabel">Instructions:</span>
                <span *ngIf="question.instructions.valueFormat === 'html'"
                      [innerHtml]="question.instructions.value"></span>
                <span *ngIf="question.instructions.valueFormat !== 'html'"
                      [textContent]="question.instructions.value"></span>
            </div>
            <div class="answerList" *ngIf="question.question.answers && question.question.answers.length > 0">
                <span class="formViewQuestionLabel">Answer Choices:</span>
                <span *ngFor="let pv of question.question.answers"
                      class="badge badge-secondary mx-1 formViewSummaryLabel"
                      style="background-color: #666" [textContent]="pv?.valueMeaningName"></span>
            </div>
            <div *ngIf="question.question.defaultAnswer && question.question.defaultAnswer.length > 0"
                 class="defaultAnswer">
                <span class="formViewQuestionLabel">Default Answer:</span>
                <span class="badge badge-secondary mx-1 formViewSummaryLabel" style="background-color: #666">{{question.question.defaultAnswer}}</span>
            </div>
            <div *ngIf="question.question.uoms.length > 0" class="questionUom">
                <span class="formViewQuestionLabel">Units of Measure:</span>
                <span *ngFor="let uom of question.question.uoms; let index = index"
                      class="badge badge-info mx-1 formViewSummaryLabel"
                      [ngClass]="{'badge-danger': (question.question.uomsValid && !question.question.uomsValid[index])}">
                    <span [textContent]="uom"></span>
                    <span *ngIf="question.question.uomsValid && !question.question.uomsValid[index]">&nbsp;(invalid)</span>
                </span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #formDescriptionQuestionEditTmpl>
    <dl class="row">
        <dt class="col-sm-2">Label:</dt>
        <dd class="col-sm-10">
            <i class="fa fa-pencil changeQuestionLabelIcon" title="Change question label"
               (click)="openNameSelect(question, parent)"></i>
            <span *ngIf="!question.hideLabel">{{question.label}}</span>
            <span *ngIf="question.hideLabel">(No label)</span>
        </dd>
        <dt class="col-sm-2">Instructions:</dt>
        <dd class="col-sm-10 editQuestionInstruction">
            <cde-inline-area-edit
                    [(model)]="question.instructions.value"
                    [(defFormat)]="question.instructions.valueFormat"
                    [isAllowed]="true" (modelChange)="stageElt.emit()">
            </cde-inline-area-edit>
        </dd>
        <dt class="col-sm-2">Required:</dt>
        <dd class="col-sm-10">
            <input type="checkbox" title="Required" [(ngModel)]="question.question.required"
                   (change)="stageElt.emit()"/>
        </dd>
        <dt class="col-sm-2">Invisible:</dt>
        <dd class="col-sm-10 editQuestionInvisible">
            <input type="checkbox" title="Invisible" [(ngModel)]="question.question.invisible"
                   (change)="stageElt.emit()">
        </dd>
        <ng-container *ngIf="parent">
            <dt class="col-sm-2">Show if:</dt>
            <dd class="col-sm-10 skipLogicEditTextarea" [ngClass]="{'has-error':question.skipLogic?.validationError}">
                <input #slInput type="text" title="Show if"
                       (focus)="slOptionsRetrigger()"
                       [ngModel]="question.skipLogic.condition"
                       (ngModelChange)="validateSkipLogic(question.skipLogic, parent.formElements, $event);"
                       class="form-control skipLogicCondition"
                       placeholder="Start typing a question name to find options"
                       [ngbTypeahead]="getSkipLogicOptions"
                       (selectItem)="validateSkipLogic(question.skipLogic, parent.formElements, $event);$event.preventDefault();slInput.focus();slOptionsRetrigger()"/>
                <span [textContent]="question.skipLogic?.validationError"></span>
            </dd>
        </ng-container>
        <dt class="col-sm-2">Units of Measure:</dt>
        <dd class="col-sm-10 questionUom">
            <ng-container *ngFor="let q of [uomVersion]">
                <select2 class="formDescriptionUoms" [data]="getUoms()" [value]="question.question.uoms"
                         [options]="uomOptions" width="100%"
                         (valueChanged)="checkUom($event)">
                </select2>
            </ng-container>
        </dd>
        <dt class="col-sm-2">Datatype:</dt>
        <dd class="col-sm-10">{{question.question.datatype | cdePlaceholder }}</dd>
        <ng-container *ngIf="question.question.datatype === 'Text'">
            <dt class="col-sm-2">Min Length:</dt>
            <dd class="col-sm-10"> {{question.question?.datatypeText?.minLength | cdePlaceholder }}</dd>
            <dt class="col-sm-2">Max Length:</dt>
            <dd class="col-sm-10"> {{question.question?.datatypeText?.maxLength | cdePlaceholder}}</dd>
        </ng-container>
        <ng-container *ngIf="question.question.datatype === 'Number'">
            <dt class="col-sm-2">Min Value:</dt>
            <dd class="col-sm-10"> {{question.question?.datatypeNumber?.minValue | cdePlaceholder }}</dd>
            <dt class="col-sm-2">Max Value:</dt>
            <dd class="col-sm-10"> {{question.question?.datatypeNumber?.maxValue | cdePlaceholder }}</dd>
        </ng-container>
        <ng-container *ngIf="question.question.datatype === 'Date'">
            <dt class="col-sm-2">Date Format:</dt>
            <dd class="col-sm-10"> {{question.question?.datatypeDate?.format}}</dd>
        </ng-container>
        <ng-container *ngIf="question.question.datatype === 'Value List'">
            <dt class="col-sm-2">Multiple Selection:</dt>
            <dd class="col-sm-10 multipleSelection">
                <input type="checkbox" title="Multiple" [(ngModel)]="question.question.multiselect"
                       (change)="stageElt.emit()"/>
            </dd>
            <dt class="col-sm-2">Answer List:</dt>
            <dd class="col-sm-10">
                <select2 class="formDescriptionAnswerList" [data]="getAnswersData()" [value]="getAnswersValue()"
                         [options]="answersOptions" width="100%"
                         (valueChanged)="checkAnswers($event)">
                </select2>
            </dd>
        </ng-container>
        <dt class="col-sm-2">Default Answer:</dt>
        <dd class="col-sm-10 defaultAnswer">
            <ng-container *ngIf="question.question.datatype === 'Value List'">
                <select title="Default" class="form-control"
                        [(ngModel)]="question.question.defaultAnswer" (change)="stageElt.emit()">
                    <option value=""></option>
                    <option *ngFor="let pv of question.question.answers " [value]="pv.permissibleValue"
                            [textContent]="pv?.valueMeaningName"></option>
                </select>
            </ng-container>
            <ng-container *ngIf="question.question.datatype !== 'Value List'">
                <cde-inline-edit [(model)]="question.question.defaultAnswer" [isAllowed]="true"
                                 (modelChange)="stageElt.emit()"></cde-inline-edit>
            </ng-container>
        </dd>
        <ng-container *ngIf="question.question.defaultAnswer">
            <dt class="col-sm-2">Editable:</dt>
            <dd class="col-sm-10">
                <input type="checkbox" title="Editable" [(ngModel)]="question.question.editable"
                       (change)="stageElt.emit()"/>
            </dd>
        </ng-container>
    </dl>
</ng-template>

<ng-template #formDescriptionNameSelectTmpl let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3>Select a question label from a CDE Name</h3>
    </div>

    <div class="modal-body">
        <div *ngIf="nameSelectModal.cde === null"><i class="fa fa-spinner fa-pulse"></i> Loading...</div>
        <div *ngIf="nameSelectModal.cde === 'error'">There is an issue retrieving this Data Element.</div>
        <ngb-alert *ngIf="nameSelectModal.updateSkipLogic">
            There is skip logic using this label. It will be updated.
        </ngb-alert>

        <div *ngFor="let naming of nameSelectModal.cde.naming; let i = index" class="row" id="q_select_name_{{i}}">
            <div class="col-lg-3">
                <button class="btn btn-lg btn-outline-dark" (click)="nameSelectModal.okSelect(naming)"><i
                        class="fa fa-check"></i>
                    Select
                </button>
            </div>
            <div class="col-lg-9">
                <dl class="row">
                    <dt class="col-sm-2">Name:</dt>
                    <dd class="col-sm-10">{{naming.designation}}</dd>
                    <dt class="col-sm-2">Definition:</dt>
                    <dd class="col-sm-10">{{naming.definition | cdePlaceholder}}</dd>
                    <dt class="col-sm-2"> Tags:</dt>
                    <dd class="col-sm-10">{{naming.tags | cdeArrayList}}</dd>
                </dl>
            </div>
            <hr/>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-lg btn-outline-dark" (click)="nameSelectModal.okSelect()"><i
                        class="fa fa-stop"></i> No
                    Label
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-warning" (click)="d()" id="cancelSelect">Cancel</button>
    </div>
</ng-template>
