<div class="row" *ngIf="elt">
    <div class="col-xs-12">
        <div class="bottomToolbox">
            <span style="color: white; font-weight: 700;margin-right: 5px">Add</span>
            <button id="addSectionTop" (click)="addSection(addTop)" class="btn btn-default formDescriptionTool" *ngIf="canCurate" [treeDrag]="{data: getNewSection()}" [treeDragEnabled]="true">
                <i class="fa fa-plus"></i> Section
            </button>
            <button id="startAddingQuestions" *ngIf="canCurate && elt.formElements.length > 0"
                    (click)="setToAddCdeMode()" class="btn btn-default formDescriptionTool">
                <i class="fa fa-cube"></i> Question
            </button>
            <button id="startAddingForms" *ngIf="canCurate && elt.formElements.length > 0"
                    (click)="setToAddFormMode()" class="btn btn-default formDescriptionTool">
                <i class="fa fa-cubes"></i> Form
            </button>
        </div>
        <div *ngIf="elt.formElements.length === 0">
            <i class="fa fa-exclamation-triangle"></i>
            <span *ngIf="elt.noRenderAllowed">
                Rendering is disabled for this form.
            </span>
            <span *ngIf="!elt.noRenderAllowed">
                There is no content yet.
            </span>
        </div>
        <ng-container *ngFor="let eltIter of [elt]">
            <tree-root #tree [nodes]="eltIter.formElements" [options]="treeOptions">
                <template #treeNodeFullTemplate let-node="node" let-index="index" let-templates="templates">
                    <div class="tree-node tree-node-level-{{ node.level }}"
                         [class]="node.getClass()"
                         [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
                         [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
                         [class.tree-node-leaf]="node.isLeaf"
                         [class.tree-node-active]="node.isActive"
                         [class.tree-node-focused]="node.isFocused">
                        <tree-node-drop-slot *ngIf="index === 0" [dropIndex]="node.index"
                                             [node]="node.parent"></tree-node-drop-slot>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                                    <div class="node-content-wrapper w-100 formDescriptionTool"
                                         (click)="node.mouseAction('click', $event)"
                                         (dblclick)="node.mouseAction('dblClick', $event)"
                                         (contextmenu)="node.mouseAction('contextMenu', $event)"
                                         (treeDrop)="node.onDrop($event)"
                                         [treeAllowDrop]="node.allowDrop"
                                         [treeDrag]="node"
                                         [treeDragEnabled]="node.allowDrag()">
                                        <tree-node-content [node]="node" [index]="index"
                                                           [template]="templates.treeNodeTemplate">
                                            <template #treeNodeTemplate let-node="node" let-index="index">
                                                <cde-form-description-section
                                                        *ngIf="node.data.elementType === 'section' || node.data.elementType === 'form'"
                                                        [id]="(node.data.elementType === 'section' ? 'section_' + preId : 'inform_'+ preId)"
                                                        [node]="node"
                                                        [canCurate]="canCurate"
                                                        [preId]="preId + '_'+ sectionIndex" [inScoreCdes]="inScoreCdes"
                                                        (stageElt)="stageElt.emit()"
                                                        (isFormValid)="isFormValid.emit($event)"></cde-form-description-section>
                                                <cde-form-description-question
                                                        *ngIf="node.data.elementType === 'question'"
                                                        id="question_{{preId}}_{{sectionIndex}}"
                                                        [canCurate]="canCurate"
                                                        [node]="node"
                                                        (stageElt)="stageElt.emit()"></cde-form-description-question>
                                            </template>
                                        </tree-node-content>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                                <cde-form-description-question-detail *ngIf="node.data.elementType === 'question'"
                                                                      id="question_{{preId}}_{{sectionIndex}}"
                                                                      [canCurate]="canCurate"
                                                                      [node]="node"
                                                                      (isFormValid)="isFormValid.emit($event)"
                                                                      (stageElt)="stageElt.emit()"></cde-form-description-question-detail>
                            </div>
                        </div>
                        <tree-node-drop-slot [dropIndex]="node.index + 1" [node]="node.parent"></tree-node-drop-slot>
                    </div>
                </template>
            </tree-root>
        </ng-container>
        <div class="my-2">
            <button id="addSectionBottom" (click)="addSection(addBottom)" class="btn btn-default formDescriptionTool" *ngIf="canCurate">
                <i class="fa fa-plus"></i> Add Section
            </button>
            <button id="startAddingQuestionsBottom" *ngIf="canCurate && elt.formElements.length > 0"
                    (click)="setToAddCdeMode()" class="btn btn-default formDescriptionTool">
                <i class="fa fa-cube"></i> Add Question
            </button>
            <button id="startAddingFormsBottom" *ngIf="canCurate && elt.formElements.length > 0"
                    (click)="setToAddFormMode()" class="btn btn-default formDescriptionTool">
                <i class="fa fa-cubes"></i> Add Form
            </button>
        </div>
    </div>
    <!--<div class="question-search-area pd55"-->
         <!--*ngIf="addMode && elt.formElements.length > 0">-->
        <!--<cde-search-cde [hidden]="addMode!=='cde'" class="panel-group" id="accordion_cde"></cde-search-cde>-->
        <!--<cde-search-form [hidden]="addMode!=='form'" class="panel-group" id="accordion_form"></cde-search-form>-->
    <!--</div>-->
</div>
