<h4 style="margin-top: 8px">
    <cde-summary-heading [elt]="elt" [eltIndex]="eltIndex" urlPrefix="/formView" (select)="select.emit($event)">
        <span class="summary-list-before">
            <img *ngIf="elt.nihEndorsed" aria-label="nihEndorsed" height="38" width="30"
                 src="/cde/public/assets/img/Ribbon-Outline.svg"
                 matTooltipClass="cdeTooltip"
                 matTooltip="NIH has endorsed collections of CDEs that meet established criteria. They are designated with a gold ribbon.">
        </span>
        <span class="summary-list-after">
            <cde-pin-board [elt]="elt" [eltIndex]="eltIndex" [module]="module"></cde-pin-board>
        </span>
    </cde-summary-heading>
</h4>

<div class="contentLayout">
    <div>
        <b>{{elt.numQuestions}} Questions </b> <span *ngIf="elt.primaryDefinitionCopy"> - </span>
        <span [innerHtml]="elt.primaryDefinitionCopy"></span>
        <dl class="cde-property-xl">
            <dt>Steward:</dt>
            <dd>{{elt.stewardOrg.name}}</dd>
            <ng-container *ngIf="elt.classification?.length > 0">
                <dt>Used By:</dt>
                <dd id="usedBy_{{eltIndex}}">
                    <span *ngIf="!(elt.classification.length > 0)">None</span>
                    <span *ngIf="elt.classification.length > 0">{{getStewards()}}</span>
                </dd>
            </ng-container>
        </dl>
    </div>
    <div>
        <img *ngFor="let attachment of elt.attachments.filter(defaultAttachmentsFilter)"
             alt="Image attached to the elt"
             src="/server/system/data/{{attachment.fileid}}" class='cdeAttachmentThumbnail'/>
    </div>
</div>
