@import '../../../../theme';

.contentLayout {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  dl {
    margin-bottom: 0;
  }

  > :nth-child(1) {
    flex: 0 0 100%;

    @media (min-width: $screenLg) {
      flex: 0 0 41.67%;
    }
  }

  > :nth-child(2) {
    flex: 0 0 100%;

    @media (min-width: $screenLg) {
      flex: 0 0 16.67%;
    }
  }
}
