<h4 style="margin-top: 8px">
    <cde-summary-heading [elt]="elt" [eltIndex]="eltIndex" urlPrefix="/formView" (select)="select.emit($event)">
        <span class="summary-list-before">
<!-- DO NOT REMOVE, LEAVE IT COMMENTED FOR NIH ENDORSED CDE
            <img *ngIf="elt.nihEndorsed" aria-label="nihEndorsed" height="40" width="40"
                 src="/cde/public/assets/img/min/Gold-Ribbon.png"
                 matTooltipClass="cdeTooltip"
                 matTooltip="NIH has endorsed collections of CDEs that meet established criteria. They are designated with a gold ribbon.">
-->
        </span>
        <span class="summary-list-after">
            <cde-pin-board [elt]="elt" [eltIndex]="eltIndex" [module]="module"></cde-pin-board>
        </span>
    </cde-summary-heading>
</h4>

<div class="row">
    <div class="col-lg-6">
        <b>{{elt.numQuestions}} Questions </b> <span *ngIf="elt.primaryDefinitionCopy"> - </span>
        <span [innerHtml]="elt.primaryDefinitionCopy"></span>
        <dl class="row">
            <dt class="col-sm-4 text-right-md">Steward:</dt>
            <dd class="col-sm-8">{{elt.stewardOrg.name}}</dd>
            <ng-container *ngIf="elt.classification?.length > 0">
                <dt class="col-sm-4 text-right-md">Used By:</dt>
                <dd class="col-sm-8" id="usedBy_{{eltIndex}}">
                    <span *ngIf="!(elt.classification.length > 0)">None</span>
                    <span *ngIf="elt.classification.length > 0">{{getStewards()}}</span>
                </dd>
            </ng-container>
        </dl>
    </div>
    <div class="col-lg-2">
        <img *ngFor="let attachment of elt.attachments.filter(defaultAttachmentsFilter)"
             alt="Image attached to the elt"
             src="/server/system/data/{{attachment.fileid}}" class='cdeAttachmentThumbnail'/>
    </div>
</div>
