<div *ngIf="elts" id="accordionList">
    <div class="card" *ngFor="let elt of elts; trackBy: Elt.trackByElt; let i = index">
        <div class="card-header">
            <button mat-raised-button color="warn" (click)="add.emit(elt);">
                <mat-icon>add</mat-icon> Add
            </button>
            <span class="hand-cursor" (click)="elt.isCollapsed = !elt.isCollapsed"> {{elt.designations[0].designation}} </span>
            <a href="/formView?tinyId={{elt.tinyId}}" target="_blank" id="acc_link_{{i}}">
                <mat-icon>visibility</mat-icon>
            </a>
            <cde-pin-board [elt]="elt" [eltIndex]="index" [module]="'form'"></cde-pin-board>
            <small id="nQuestion-{{i}}" class="pull-right">{{elt.numQuestions}} questions</small>

        </div>
        <div class="card-body" [ngbCollapse]="!elt.isCollapsed">
            <div class="row">
                <div class="col-6">
                    <h4>General Details</h4>
                    <dl class="row">
                        <dt class="col-3 text-right" itemprop="name">Name:</dt>
                        <dd  class="col-9" [innerHtml]="elt.designations[0].designation"></dd>
                        <dt class="col-3 text-right">Steward:</dt>
                        <dd class="col-9" [innerHtml]="elt.stewardOrg.name"></dd>
                        <dt class="col-3 text-right">Definition:</dt>
                        <dd class="col-9" [innerHtml]="elt.definitions[0]?.definition || 'N/A'"></dd>
                        <ng-container *ngIf="elt.classification.length > 0">
                            <dt class="col-3 text-right">Used By:</dt>
                            <dd id="usedBy_{{eltIndex}}" class="col-9">
                                <span *ngFor="let cl of elt.classification">{{cl.stewardOrg.name}}</span>
                            </dd>
                        </ng-container>
                        <dt id="dt_status" class="col-3 text-right">Status:</dt>
                        <dd id="dd_status" class="col-9">{{elt.registrationState.registrationStatus}}</dd>
                    </dl>
                </div>
                <div class="col-2">
                    <img *ngFor="let attachment of elt.attachments.filter(Elt.isDefault)"
                         alt="Image attached to the elt" src="/server/system/data/{{attachment.fileid}}"
                         class='cdeAttachmentThumbnail'/>
                </div>
            </div>
        </div>
    </div>
</div>

<cde-pin-board-modal #pinModalCde module="form"></cde-pin-board-modal>
