<h4>
    <cde-summary-heading [elt]="elt" [eltIndex]="eltIndex" urlPrefix="/formView">
        <span class="summary-list-before">
            <input id="qb_elt_compare_{{eltIndex}}" type="checkbox" title="Select Elt"
                   [(ngModel)]="elt.checked"/>
        </span>
        <span class="summary-list-after">
            <span class="nonLinkAnchor" (click)="removeElt($event)">
                <mat-icon id="remove_{{eltIndex}}">delete_outline</mat-icon>
            </span>
        </span>
    </cde-summary-heading>
</h4>

<div class="row">
    <div class="col-lg-6">
        <b>{{elt.numQuestions}} Questions</b> - <span [innerHtml]="elt.primaryDefinitionCopy"></span>
        <dl class="dl-horizontal" style="margin: 5px 0 10px 0 ">
            <dt>Steward:</dt>
            <dd [innerHtml]="elt.stewardOrg.name"></dd>
            <ng-container *ngIf="elt.classification?.length > 0">
                <dt>Used By:</dt>
                <dd id="usedBy_{{eltIndex}}">
                    <span *ngFor="let cl of elt.classification">{{cl.stewardOrg.name}} </span>
                </dd>
            </ng-container>
        </dl>
    </div>
    <div class="col-lg-2">
        <img *ngFor="let attachment of elt.attachments.filter(defaultAttachmentsFilter)" alt="Image attached to the elt"
             src="/server/system/data/{{attachment.fileid}}" class='cdeAttachmentThumbnail'/>
    </div>
</div>
