<div class="p-5">
    <form [formGroup]="searchCriteria" (ngSubmit)="onSubmit()">
        <mat-checkbox formControlName="includeBatchLoader" data-testid="include-bad-input-checkbox">
            Include Batchloader changes?
        </mat-checkbox>
        <button type="submit" class="button">Search</button>
    </form>
    <div class="example-container mat-elevation-z8">
        <div class="loading-shade"
             *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="example-table-container">
            <table mat-table
                   [dataSource]="dataSource$ | async" multiTemplateDataRows
                   class="example-table"
                   matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
                    <td mat-cell *matCellDef="let row"> {{ row.date | date: 'MM/dd/yyyy @ h:mma' }}</td>
                </ng-container>

                <ng-container matColumnDef="elementName">
                    <th mat-header-cell *matHeaderCellDef>Element Name Or Classification Path</th>
                    <td mat-cell *matCellDef="let row"> {{ row.adminItem?.name }} {{ row.path?.join(' > ') }}</td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                    <td mat-cell *matCellDef="let row"> {{ row.user.username }}</td>
                </ng-container>

                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="expand row"
                                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                        <div class="example-element-detail flex-col md:flex-row"
                             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <ng-container *ngIf="module === 'de'" [ngTemplateOutlet]="cdeTemplate"
                                          [ngTemplateOutletContext]="{element}"
                            ></ng-container>
                            <ng-container *ngIf="module === 'form'" [ngTemplateOutlet]="formTemplate"
                                          [ngTemplateOutletContext]="{element}"
                            ></ng-container>
                            <ng-container *ngIf="module === 'classification'"
                                          [ngTemplateOutlet]="classificationTemplate"
                                          [ngTemplateOutletContext]="{element}"
                            ></ng-container>
                        </div>
                    </td>
                    >
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

                <tr *matNoDataRow>
                    <td class="mat-cell" colspan="8">
                        No results found.
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="50" [pageSizeOptions]="[10,50,100]"
                       aria-label="Select page of Http Logs"></mat-paginator>
    </div>
</div>

<ng-template let-element="element" #cdeLinkTemplate>
    <a target="_blank" href="/deView?cdeId={{element._id}}">{{ element.name }}</a>
</ng-template>

<ng-template let-element="element" #formLinkTemplate>
    <a target="_blank" href="/formView?formId={{element._id}}">{{ element.name }}</a>
</ng-template>

<ng-template let-diff="diff" #diffTemplate>
    <table *ngIf="diff" class="table">
        <caption>List of Modifications</caption>
        <thead>
        <tr>
            <th>Field</th>
            <th>Type of Modification</th>
            <th>Change</th>
        </tr>
        </thead>
        <ng-container *ngFor="let d of diff">
            <tr *ngIf="!ignoredDiff(d)">
                <td>{{ d.fieldName }}</td>
                <td>{{ d.modificationType }}</td>
                <td>
                    <td-ngx-text-diff [showToolbar]='false' [showBtnToolbar]='false'
                                      [left]="d.previousValue || ''"
                                      [right]="d.newValue || ''"
                                      [format]="'LineByLine'"></td-ngx-text-diff>
                </td>
            </tr>
        </ng-container>
    </table>
</ng-template>
<ng-template let-element="element" #cdeTemplate>
    <dl class="cde-property">
        <dt>CDE - New Version:</dt>
        <ng-container [ngTemplateOutlet]="cdeLinkTemplate"
                      [ngTemplateOutletContext]="{element: element.adminItem}"
        ></ng-container>
        <dd>
        </dd>
        <ng-container *ngIf="element.previousItem">
            <dt>CDE - Previous Version:
            </dt>
            <dd>
                <ng-container [ngTemplateOutlet]="cdeLinkTemplate"
                              [ngTemplateOutletContext]="{element: element.previousItem}"
                ></ng-container>
            </dd>
        </ng-container>
    </dl>
    <ng-container [ngTemplateOutlet]="diffTemplate"
                  [ngTemplateOutletContext]="{diff: element.diff}"
    ></ng-container>
</ng-template>
<ng-template let-element="element" #formTemplate>
    <dl class="cde-property">
        <dt>Form - New Version:</dt>
        <dd>
            <ng-container [ngTemplateOutlet]="formLinkTemplate"
                          [ngTemplateOutletContext]="{element: element.adminItem}"
            ></ng-container>
        </dd>
        <ng-container *ngIf="element.previousItem">
            <dt>Form - Previous Version:
            </dt>
            <dd>
                <ng-container [ngTemplateOutlet]="formLinkTemplate"
                              [ngTemplateOutletContext]="{element: element.previousItem}"
                ></ng-container>
            </dd>
        </ng-container>
    </dl>
    <ng-container [ngTemplateOutlet]="diffTemplate"
                  [ngTemplateOutletContext]="{diff: element.diff}"
    ></ng-container>
</ng-template>

<ng-template let-element="element" #classificationTemplate>
    <dl class="cde-property">
        <ng-container *ngIf="element.elements.length > 0">
            <dt>Registration Status</dt>
            <dd>{{ element.elements[0].status }}</dd>
        </ng-container>
        <dt>Classification</dt>
        <dd data-testid="classification-audit-description">
            {{ element.action | cdeCamelCaseToHuman }} <span>{{ element.path.join(" > ") }}</span>
            <span *ngIf="element.action === 'rename'"> to </span> <span>{{ element.newname }}</span>
        </dd>
        <dt>{{ element.elements.length + '+' }} Elements</dt>
        <dd>
            <div *ngFor="let e of element.elements;">
                <div *ngIf="e.eltType === 'cde'">
                    <a target="_blank" href="/deView?tinyId={{e.tinyId}}">{{ e.name }}</a>
                </div>
                <div *ngIf="e.eltType === 'form'">
                    <a target="_blank" href="/formView?tinyId={{e.tinyId}}">{{ e.name }}</a>
                </div>
            </div>
        </dd>
    </dl>
</ng-template>
