<div *ngIf="deCompletionService.suggestedCdes?.length > 0" id="accordionList" style="margin-top: 1rem">
    <h4>Possible Matches</h4>
    <div class="card mB" *ngFor="let de of deCompletionService.suggestedCdes;let index = index;">
        <div class="card-header">
            <button *ngIf="adding" class="button success" (click)="add.emit(de)">
                <mat-icon>add</mat-icon> Add
            </button>
            <span class="hand-cursor" (click)="de.isCollapsed = !de.isCollapsed">
                {{de.designations[0].designation}}
            </span>
            <a title="View" href="/deView?tinyId={{de.tinyId}}" target="_blank">
                <mat-icon>visibility</mat-icon></a>
            <cde-pin-board [elt]="de" [eltIndex]="index" [module]="'cde'"></cde-pin-board>
        </div>
        <div class="card-body" [ngbCollapse]="!de.isCollapsed">
            <div *ngIf="de.definitions[0]">
                {{de.definitions[0].definition}}
            </div>
            <div *ngIf="de.valueDomain.permissibleValues && de.valueDomain.permissibleValues.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th>Value</th>
                        <th>Code Name</th>
                        <th>Code</th>
                    </tr>
                    <tr *ngFor="let pv of de.valueDomain.permissibleValues">
                        <td>{{pv.permissibleValue}}</td>
                        <td>{{pv.valueMeaningName}}
                        <td>{{pv.valueMeaningCode}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
