<h4 *ngIf="elt.isDraft">
    Discussion is not available in Drafts. Click the Draft slider above to view the current Published version.
</h4>

<div *ngIf="!elt.isDraft">
    <ng-template #commentNotAuthorized>
        <div class="ml-2 my-4">Please <a routerLink="/login">log in</a> to comment.</div>
    </ng-template>
    <div *ngIf="userService.user; else commentNotAuthorized" class="my-4">
        <form #commentForm="ngForm" name="commentForm" id="commentForm" novalidate>
            <label class="sr-only" for="commentTextArea">Comments</label>
            <textarea name="commentTextArea" id="commentTextArea" class="form-control" rows="3"
                      [(ngModel)]="newComment.text" placeholder="Join the discussion..." required></textarea>
            <input name="postComment" id="postComment" class="btn btn-outline-dark" type="button"
                   value="Post Comment" (click)="addComment()" [disabled]="!commentForm.form.valid"/>
        </form>
    </div>

    <cde-comments [comments]="eltComments"></cde-comments>
</div>
