<h4 *ngIf="(elt.elementType === 'cde' || elt.elementType === 'form') && elt.isDraft; else discussArea">
    Discussion is not available in Drafts. Click the Draft slider above to view the current Published version.
</h4>

<ng-template #discussArea>
    <div *ngIf="!userService.user" class="ml-2 my-4">
        Please <a routerLink="/login">log in</a> to comment.
    </div>
    <div *ngIf="userService.user" class="ml-2 my-4">
        <form #newCommentForm="ngForm" name="newCommentForm" id="newCommentForm" novalidate
              (ngSubmit)="postNewComment();">
            <textarea [(ngModel)]="newComment.text" class="form-control" id="newCommentTextArea"
                      name="newCommentTextArea" rows="3" placeholder="Join the discussion..." required></textarea>
            <button mat-raised-button id="commentBtn" name="commentBtn" type="submit" style="margin-right: 0 !important; width: 100%"
                    [disabled]="!newCommentForm.form.valid">Comment
            </button>
        </form>
    </div>
    <cde-comments [eltId]="eltId" [eltName]="eltName" [currentTab]="_currentTab" [canManageComment]="canManageComment"></cde-comments>
</ng-template>
