<!--
*ngIf="elt.unsaved && elt.allValid"
-->
<div>
    <button id="discardChanges" class="btn cancel" (click)="discardChange()">Discard Changes</button>
    <button id="openSave" class="btn btn-primary" (click)="openSaveModal()">Save Changes</button>
</div>


<ng-template #updateElementContent id="updateElementModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="updateElementModalHeader">
        <h4 class="modal-title">Save</h4>
    </div>
    <form #updateElementForm="ngForm">
        <div class="modal-body" id="updateElementModalBody">
            <div class="form-group">
                <label for="changeNote">Change Note</label>
                <textarea id="changeNote" class="form-control" name="changeNote"
                          [ngModel]="elt.changeNote" placeholder="Optional Change Note"></textarea>
            </div>
            <div class="form-group">
                <label for="version">Choose a new version</label>
                <input id="version" name="version" type="text"
                       [ngModel]="elt.version" [pattern]="pattern" (ngModelChange)="verifyVersionUnicity()"/>
                <span *ngIf="updateElementForm.control" class="help-inline">
           Version number cannot include characters other than letters, numbers, -, = and .</span>
            </div>
        </div>
        {{updateElementForm.control | json}}
    </form>
</ng-template>
