span .toggle-switch {
  height: 38px;
  margin-bottom: -6px;
  min-width: 108px;

  &.toggle-switch--on > .toggle-switch__tongue {
    background-color: #5bc0de;
    border-color: #46b8da;
  }

  &.toggle-switch--on:hover > .toggle-switch__tongue {
    background-color: #31b0d5;
    border-color: #269abc;
  }

  &.toggle-switch--on > .toggle-switch__tongue {
    margin-left: -89px;
  }

  &.toggle-switch--off > .toggle-switch__tongue {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }

  &.toggle-switch--off:hover > .toggle-switch__tongue {
    background-color: #449d44;
    border-color: #398439;
  }

  > .toggle-switch__tongue {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 1px 2px 0;
    text-shadow: none;
    text-transform: none;
    width: 87px;
  }
}

@media (max-width: 767px)  {
  span .toggle-switch {
    height: 28px;
    margin-bottom: -6px;
    min-width: 92px;

    &.toggle-switch--on > .toggle-switch__tongue {
      margin-left: -78px;
    }

    > .toggle-switch__tongue {
      font-size: 14px;
      height: 24px;
      line-height: 23px;
      margin: 1px 2px 0;
      width: 76px;
    }
  }
}
