<button type="button" class="btn btn-default" id="openLinkedFormsModalBtn" (click)="openLinkedFormsModal()">Linked
    Forms
</button>

<ng-template #linkedFormsContent id="linkedFormsModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="linkedFormsModalHeader">
        <h4 class="modal-title">Linked Forms</h4>
    </div>
    <form #linkedFormsForm="ngForm">
        <div class="modal-body" id="linkedFormsModalBody">
            <p>{{getFormText()}}</p>
            <a *ngIf="forms && forms.length > 0" class="btn btn-default" id="seeAllLinkedFormsButton"
               routerLink="/form/search" queryParams="{q: elt.tinyId}" target="_blank">
                <i class="fa fa-file-text-o"></i> See all linked forms</a>
            <hr/>
            <div *ngIf="forms && forms.length > 0">
                <h4>Preview: </h4>
                <cde-summary-list id="linkedFormsAccordionList" [contentComponent]="formSummaryContentComponent"
                                  [elts]="forms" (select)="d()"></cde-summary-list>
            </div>
        </div>
        <div class="modal-footer" id="linkedFormsModalFooter">
            <button class="btn cancel" (click)="c('Close click')" id="closeLinkedFormsModalBtn" type="button">
                Close
            </button>
        </div>
    </form>
</ng-template>