<div id="namingDiv" class="col-12">
    <h4>Namings</h4>
    <div *ngIf="elt.naming.length === 0">There are no namings.</div>
    <ng-container *ngFor="let name of elt.naming;let i = index">
        <div class="row">
            <dt class="col-xs-3 text-right">
                <span (click)="removeNamingByIndex(i)" *ngIf="canEdit && !name.edit" class="btn-default fa fa-trash-o"
                      id="removeNaming-{{i}}" title="Remove"></span>
                <sortable-array [theArray]="elt.naming" [index]="i" (cb)="onEltChange.emit()"></sortable-array>
                Name:
            </dt>
            <dd id="designation_{{i}}" class="col-xs-9">
                <cde-inline-edit id="nameEdit" [(model)]="name.designation" (modelChange)="onEltChange.emit();"
                                 [isAllowed]="canEdit"></cde-inline-edit>
            </dd>
            <dt class="col-xs-3 text-right">Definition:</dt>
            <dd id="definition_{{i}}" class="col-xs-9">
                <cde-inline-area-edit [(model)]="name.definition" (modelChange)="onEltChange.emit();"
                                      [(defFormat)]="name.definitionFormat"
                                      [isAllowed]="canEdit"></cde-inline-area-edit>
            </dd>
            <dt class="col-xs-3 text-right">Tags:</dt>
            <dd id="tags_{{i}}" class="col-xs-9">
                <select2 [data]="orgNamingTags" [value]="name.tags" [options]="options"
                         [disabled]="!canEdit" width="100%"
                         (valueChanged)="changedTags(name,$event)">
                </select2>
            </dd>
        </div>
        <hr>
    </ng-container>
    <button *ngIf="canEdit" id="openNewNamingModalBtn"
            class="btn btn-small btn-default" (click)="openNewNamingModal();">
        <i class="fa fa-plus"></i> Add Naming
    </button>
</div>
<ng-template #newNamingContent id="newNamingModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="newNamingModalHeader">
        <h4 class="modal-title">Add Naming</h4>
    </div>
    <form role="form" #newNamingForm="ngForm" (ngSubmit)="addNewNaming()">
        <div class="modal-body" id="newNamingModalBody">
            <div class="form-group">
                <label for="newDesignation">Name</label>
                <input class="form-control" id="newDesignation" name="newDesignation"
                       [(ngModel)]="newNaming.designation" Placeholder="Name / Designation" required/>
            </div>
            <div class="form-group">
                <label for="newDefinition">Definition</label>
                <textarea class="form-control" id="newDefinition" name="newDefinition"
                          [(ngModel)]="newNaming.definition" Placeholder="Naming Definition" required></textarea>
            </div>
            <div class="form-group">
                <label for="newTags">Tags</label>
                <div id="newTags" name="newTags">
                    <select2 [data]="orgNamingTags" [value]="newNaming.tags" [options]="options"
                             width="100%" (valueChanged)="changedTags(newNaming,$event,false)">
                    </select2>
                </div>
            </div>
            <div class="alert alert-info">
                Tags are managed in Org Management > List Management
            </div>
        </div>
        <div class="modal-footer" id="newNamingModalFooter">
            <button class="btn cancel" (click)="c('Close click')" id="cancelNewNamingBtn" name="cancelNewNamingBtn"
                    type="button">Cancel
            </button>
            <button class="btn btn-warning" [disabled]="!newNamingForm.form.valid" id="createNewNamingBtn"
                    name="createNewNamingBtn" type="submit">Save
            </button>
        </div>
    </form>
</ng-template>
