<div id="propertiesDiv">
    <h4>Properties</h4>
    <div *ngIf="elt.properties.length === 0">There are no properties.</div>
    <ng-container *ngFor="let prop of elt.properties;let i = index">
        <dl class="row">
            <dt class="col-3 text-right">
                <ng-container *ngIf="canEdit && prop.edit">Confirm Delete
                    <span class="btn-outline-dark fa fa-check" (click)="removePropertyByIndex(i)"
                          id="confirmRemoveProperty-{{i}}" title="OK"></span>
                    <span class="btn-outline-dark fa fa-times" (click)="prop.edit = false"
                          id="cancelRemoveProperty-{{i}}" title="Cancel"></span>
                </ng-container>
                <span (click)="prop.edit = true" *ngIf="canEdit && !prop.edit" class="btn-outline-dark fa fa-trash-o"
                      id="removeProperty-{{i}}" title="Remove"></span>
                <cde-sortable-array [theArray]="elt.properties" [index]="i"
                                    (cb)="reorderProperty();"></cde-sortable-array>
                Key:
            </dt>
            <dd id="key_{{i}}" class="col-9">{{prop.key}}</dd>
            <dt class="col-3 text-right">Id:</dt>
            <dd id="value_{{i}}" class="col-9">
                <cde-inline-area-edit [(model)]="prop.value" (save)="onEltChange.emit()"
                                      [(defFormat)]="prop.valueFormat"
                                      [isAllowed]="canEdit"></cde-inline-area-edit>
            </dd>
        </dl>
        <hr>
    </ng-container>
    <button *ngIf="canEdit && onInitDone" class="btn btn-lg  btn-outline-dark" id="openNewPropertyModalBtn"
            (click)="openNewPropertyModal();">
        <i class="fa fa-plus"></i> Add Property
    </button>
</div>

<ng-template #newPropertyContent id="newPropertyModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="newPropertyModalHeader">
        <h4 class="modal-title">Add Property</h4>
    </div>
    <form role="form" #newPropertyForm="ngForm" (ngSubmit)="addNewProperty()">
        <div class="modal-body" id="newPropertyModalBody">
            <div class="form-group">
                <label for="newKey">Key</label>
                <select class="form-control" id="newKey" name="newKey" [(ngModel)]="newProperty.key" required>
                    <option *ngFor="let key of orgPropertyKeys;" value="{{key}}">{{key}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="newValue">Value</label>
                <div id="newValue">
                    <button type="button" class="btn btn-lg btn-outline-dark btn-xs" (click)="newProperty.valueFormat = '';">
                        Plain Text
                    </button>
                    <button type="button" class="btn btn-lg btn-outline-dark btn-xs" (click)="newProperty.valueFormat = 'html';">
                        Rich Text
                    </button>
                    <textarea name="definition" *ngIf="newProperty.valueFormat !== 'html'"
                              [(ngModel)]="newProperty.value" class="form-control" Placeholder="Property Value"
                              required></textarea>
                    <ckeditor name="definition" *ngIf="newProperty.valueFormat === 'html'"
                              [config]="{extraPlugins: 'divarea'}" [(ngModel)]="newProperty.value"
                              Placeholder="Property Value">
                    </ckeditor>
                </div>
            </div>
            <div class="alert alert-info">
                Property keys are managed in Org Management > List Management
            </div>
        </div>
        <div class="modal-footer" id="newPropertyModalFooter">
            <button class="btn btn-lg btn-outline-dark" (click)="c('Close click')" id="cancelNewPropertyBtn" type="button">
                Cancel
            </button>
            <button class="btn btn-lg btn-warning" [disabled]="!newPropertyForm.form.valid" id="createNewPropertyBtn"
                    type="submit">
                Save
            </button>
        </div>
    </form>
</ng-template>
