<div id="referenceDocumentsDiv">
    <h4>ReferenceDocuments</h4>
    <div *ngIf="elt.referenceDocuments.length === 0">There are no ReferenceDocuments.</div>
    <div *ngFor="let rd of elt.referenceDocuments;let i = index">
        <div class="row">
            <div class="col-md-1 text-right">
                <div class="row" *ngIf="canEdit">
                    <span *ngIf="rd.edit">Confirm Delete
                        <span class="btn-default fa fa-check" (click)="removeReferenceDocumentByIndex(i)"
                              id="confirmRemoveReferenceDocument-{{i}}" title="OK"></span>
                        <span class="btn-default fa fa-times" (click)="rd.edit = false"
                              id="cancelRemoveReferenceDocument-{{i}}" title="Cancel"></span>
                    </span>
                    <span (click)="rd.edit = true" *ngIf="!rd.edit" class="btn-default fa fa-trash-o"
                          id="removeReferenceDocument-{{i}}" title="Remove"></span>
                    <sortable-array [theArray]="elt.referenceDocuments" [index]="i"
                                    (cb)="onEltChange.emit()"></sortable-array>
                </div>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-xs-2 text-right text_label">ID:</div>
                    <div class="col-xs-10 ng-binding" id="id_{{i}}">{{rd.referenceDocumentId}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">Title:</div>
                    <div class="col-xs-10 ng-binding" id="title_{{i}}">{{rd.title}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">URI:</div>
                    <div class="col-xs-10 ng-binding" id="uri_{{i}}"><a href="{{rd.uri}}">{{rd.uri}}</a></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">Provider Org:</div>
                    <div class="col-xs-10 ng-binding" id="providerOrg_{{i}}">
                        {{rd.providerOrg}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">Language Code:</div>
                    <div class="col-xs-10 ng-binding" id="languageCode_{{i}}">
                        {{rd.languageCode}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right text_label">Document:</div>
                    <div class="col-xs-10 ng-binding" id="document_{{i}}">{{rd.document}}</div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <button *ngIf="canEdit" class="btn btn-small btn-default" id="openNewReferenceDocumentModalBtn"
            (click)="openNewReferenceDocumentModal();">
        <i class="fa fa-plus"></i> Add ReferenceDocument
    </button>
</div>
<ng-template #newReferenceDocumentContent id="newReferenceDocumentModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="newReferenceDocumentModalHeader">
        <h4 class="modal-title">Add ReferenceDocument</h4>
    </div>
    <form #newReferenceDocumentForm="ngForm" (ngSubmit)="addNewReferenceDocument()">
        <div class="modal-body" id="newReferenceDocumentModalBody">
            <div class="form-group">
                <label for="newId">ID:</label>
                <input class="form-control" [(ngModel)]="newReferenceDocument.referenceDocumentId"
                       id="newId" name="newId" Placeholder="ID"/>
            </div>
            <div class="form-group">
                <label for="newTitle">Title:</label>
                <input class="form-control" [(ngModel)]="newReferenceDocument.title"
                       id="newTitle" name="newTitle" Placeholder="Title"/>
            </div>
            <div class="form-group">
                <label for="newDocType">Doc Type:</label>
                <input class="form-control" [(ngModel)]="newReferenceDocument.docType"
                       id="newDocType" name="newDocType" Placeholder="Doc Type"/>
            </div>
            <div class="form-group">
                <label for="newUri">URI:</label>
                <input class="form-control" id="newUri" name="newUri"
                       [(ngModel)]="newReferenceDocument.uri" Placeholder="URI"/>
            </div>
            <div class="form-group">
                <label for="newProviderOrg">Provider Org:</label>
                <input class="form-control" id="newProviderOrg" name="newProviderOrg"
                       [(ngModel)]="newReferenceDocument.providerOrg" Placeholder="Provider Org"/>
            </div>
            <div class="form-group">
                <label for="newLanguageCode">Language Code:</label>
                <input class="form-control" id="newLanguageCode" name="newLanguageCode"
                       [(ngModel)]="newReferenceDocument.languageCode" Placeholder="Language Code"/>
            </div>
            <div class="form-group">
                <label for="newDocument">Document:</label>
                <input class="form-control" id="newDocument" name="newDocument"
                       [(ngModel)]="newReferenceDocument.document" Placeholder="Document"/>
            </div>
        </div>
        <div class="modal-footer" id="newReferenceDocumentModalFooter">
            <button class="btn cancel" id="cancelNewReferenceDocumentBtn" type="button" (click)="c('Close click')">
                Cancel
            </button>
            <button class="btn btn-warning" id="createNewReferenceDocumentBtn">
                Save
            </button>
        </div>
    </form>
</ng-template>
