.sectionPage[_ngcontent-c0] {

}
.slideContent[_ngcontent-c0] {
    display: block;
    margin: auto;
    height: 500px;
}
.carousel-caption[_ngcontent-c0] {
    background-color: rgba(255, 255, 255, .8);
    color: #000;
    text-shadow: none;
}
.carousel-caption[_ngcontent-c0]   h3[_ngcontent-c0] {
    font-weight: 900;
}
[_nghost-c0]     .carousel-control-next, [_nghost-c0]     .carousel-control-prev {
    display: none;


}
[_nghost-c0]     .carousel-indicators > li {
    height: 10px;
}
[_nghost-c0]     .carousel-indicators li {
    background-color: #fff;
    border: 1px solid #0275d8;
}
[_nghost-c0]     .carousel-indicators li.active {
    background-color: #0275d8;
}