<table class="table" *ngIf="formElement.formElements">
    <thead>
    <tr>
        <th></th>
        <th *ngFor="let a of formElement.formElements[0].question.answers">{{NRS.getPvLabel(a)}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let q of formElement.formElements">
        <tr *ngIf="!q.question.invisible || q.question.invisible && nrs.profile.displayInvisible">
            <td>
                <label [ngClass]="{'native-question-label-number': !numSubQuestions && nrs.profile.displayNumbering}"
                       class="native-question-label">{{q.label}}</label>
            </td>
            <td *ngFor="let qa of q.question.answers">
                <input type="radio" [title]="qa.permissibleValue" [name]="q.feId" [attr.name]="q.feId"
                       [ngModel]="q.question.answer" (click)="nrs.radioButtonSelect(q, $event.target.value)"
                       [value]="qa.permissibleValue" [attr.value]="qa.permissibleValue">
                <span class="native-value" *ngIf="nrs.profile.displayValues">{{NRS.getPvDisplayValue(qa)}}</span>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
