<h1 *ngIf="showTitle"
    [textContent]="nrs.getElt()?.naming && nrs.getElt().naming[0]?.designation"></h1>

<form *ngIf="!endpointUrl && nrs.getElt()" name="sectionLabel" role="form" class="form-horizontal">
    <cde-native-section *ngIf="nrs.getNativeRenderType() !== NRS.SHOW_IF
                                  || nrs.SkipLogicService.evaluateSkipLogic(nrs.getElt().skipLogic?.condition,
                                  null, nrs.getElt(), nrs.getElt(), nrs.getErrors())"
                        [formElement]="nrs.getElt()"></cde-native-section>
</form>
<form ngNoForm #formData *ngIf="endpointUrl && nrs.getElt()" name="sectionLabel" role="form" class="form-horizontal"
      [action]="getEndpointUrl()" method="post">

    <cde-native-section *ngIf="nrs.getNativeRenderType() !== NRS.SHOW_IF
                                  || nrs.SkipLogicService.evaluateSkipLogic(nrs.getElt().skipLogic?.condition,
                                  null, nrs.getElt(), nrs.getElt(), nrs.getErrors())"
                        [formElement]="nrs.getElt()"></cde-native-section>

    <input type="hidden" name="formUrl" [value]="formUrl">
    <input type="hidden" name="mapping" [value]="mapping">
    <input type="submit" class="btn btn-lg btn-outline-secondary w-100" id="button_submit" *ngIf="submitForm"
           style="margin-left: 0; margin-top: 20px; font-weight: bold" [disabled]="formData.$invalid">
</form>

<small *ngIf="nrs.getElt()?.isCopyrighted && (!nrs.profile || nrs.profile.displayCopyright)"
       id="copyrightStatement">{{nrs.getElt().copyright.text}}</small>

<ngb-alert type="danger" *ngIf="nrs.hasErrors()">
    <span [textContent]="nrs.getErrors().join(' -- ')"></span>
</ngb-alert>
