<div *ngIf="!(formElement.question.invisible && !nrs.profile.displayInvisible)">
    <fieldset>
        <legend class="native-question-label"></legend>
        <ng-template #labelClause>
            <ng-container *ngIf="parentValue">If {{parentValue}}:</ng-container>
            {{formElement.label}}
            <ng-container
                    *ngIf="nrs.profile.metadata.device && !metadataTagsNew && (!formElement.metadataTags || !formElement.metadataTags.length)">
                <ng-container *ngTemplateOutlet="metadataAddButton"></ng-container>
            </ng-container>
        </ng-template>
        <div *ngIf="formElement.question.datatype === 'Value List'; else titleOnALabel"
             class="native-question-label"
             [ngClass]="{'native-question-label-number': !numSubQuestions && nrs.profile.displayNumbering}"
             [hidden]="!hasLabel(formElement)">
            <ng-container *ngTemplateOutlet="labelClause"></ng-container>
        </div>
        <ng-template #titleOnALabel>
            <label class="native-question-label"
                   [ngClass]="{'native-question-label-number': !numSubQuestions && nrs.profile.displayNumbering}"
                   [hidden]="!hasLabel(formElement)"
                   attr.for="{{formElement.label}}_{{formElement.feId}}_box">
                <ng-container *ngTemplateOutlet="labelClause"></ng-container>
            </label>
        </ng-template>
        <div *ngIf="nrs.profile.displayInstructions && formElement?.instructions?.value"
             class="native-instructions">
            <ng-container *ngIf="formElement.instructions.valueFormat === 'html'; else instructionsText">
                <span [innerHtml]="formElement.instructions.value"></span>
            </ng-container>
            <ng-template #instructionsText>
                <span class="text-muted">{{formElement.instructions.value}}</span>
            </ng-template>
        </div>
        <div attr.id="{{formElement.label}}_{{formElement.feId}}" [ngClass]="{'native-box': hasHeading(formElement)}">
            <ng-template #scoreDisplay>Score:
                {{formElement.question.answer | number }}{{formElement.question.scoreError}}
            </ng-template>
            <ng-container *ngIf="!isScore(formElement.question); else scoreDisplay">
                <ng-container [ngSwitch]="formElement.question.datatype">
                    <ng-container *ngSwitchCase="'Value List'" >
                        <ng-template #likertDisplay>
                            <input type="range" class="likertSlider" min="0" [max]="formElement.question.answers.length-1" step="1"
                                   [value]="likertSliderValueGet(formElement.question)"
                                   (change)="likertSliderValueSet(formElement.question, $event.target.value)">
                            <ul class="likertLabels">
                                <li *ngFor="let pv of formElement.question.answers; index as i; first as first; last as last"
                                    [style.width]="100/(formElement.question.answers.length-1)/(1 + (first || last?1:0))+'%'"
                                    [class.selected]="formElement.question.answer === pv.permissibleValue"
                                    (click)="formElement.question.answer=pv.permissibleValue"
                                >{{pv.valueMeaningName || (nrs.profile.displayValues ? '' : '&nbsp;')}}
                                    <span class="native-value" *ngIf="nrs.profile.displayValues">{{NRS.getPvDisplayValue(pv)}}</span>
                                </li>
                            </ul>
                            <input type="text" style="display: none" [name]="formElement.feId" [attr.name]="formElement.feId" [(ngModel)]="formElement.question.answer"/>
                        </ng-template>
                        <ng-container *ngIf="nrs.nativeRenderType !== 'Dynamic' || formElement.question.displayAs !== 'likert scale' || formElement.question.multiselect; else likertDisplay">
                            <ng-container
                                    *ngIf="nrs.nativeRenderType !== 'Dynamic' || nrs.profile?.answerDropdownLimit <= 0 || nrs.profile.answerDropdownLimit >= formElement.question?.answers.length; else dropdownValueList">
                                <div class="row">
                                    <div *ngFor="let pv of formElement.question.answers; index as i"
                                         [ngClass]="classColumns(pv.index, i)" class="col-12">
                                        <div *ngIf="!pv.nonValuelist" class="form-check">
                                            <label class="form-check-label native-valuelist-label"
                                                   [ngClass]="{'native-question-oneline-l': pv.formElements
                                                          && isOneLiner(pv.formElements[0], pv.formElements.length)}">
                                                <ng-container *ngIf="!questionMulti(formElement); else checkMulti">
                                                    <input type="radio" class="form-check-input"
                                                           [name]="formElement.feId"
                                                           [attr.name]="formElement.feId"
                                                           [ngModel]="formElement.question.answer"
                                                           (click)="nrs.radioButtonSelect(formElement, $event.target.value)"
                                                           [value]="pv.permissibleValue" [attr.value]="pv.permissibleValue"
                                                           [required]="formElement.question.required"
                                                           [disabled]="!formElement.question.editable"/>
                                                </ng-container>
                                                <ng-template #checkMulti>
                                                    <input type="checkbox" class="form-check-input"
                                                           [name]="formElement.feId"
                                                           [attr.name]="formElement.feId"
                                                           [checked]="nrs.checkboxIsChecked(formElement.question, pv.permissibleValue)"
                                                           (change)="nrs.checkboxOnChange($event.target.checked, formElement.question, pv.permissibleValue, formElement)"
                                                           [value]="pv.permissibleValue"
                                                           [attr.value]="pv.permissibleValue"
                                                           [required]="formElement.question.required"
                                                           [disabled]="!formElement.question.editable"/>
                                                </ng-template>
                                                {{NRS.getPvLabel(pv)}}
                                                <span class="native-value" *ngIf="nrs.profile.displayValues">
                                                    {{NRS.getPvDisplayValue(pv)}}
                                                </span>
                                            </label>
                                            <ng-container *ngIf="pv?.formElements">
                                                <ng-container *ngFor="let fe of pv.formElements">
                                                    <div *ngIf="nrs.nativeRenderType !== NRS.SHOW_IF
                                               || nrs.skipLogicService.evalSkipLogicAndClear(pv, fe, nrs)"
                                                         [ngClass]="{'native-question-oneline-r': isOneLiner(pv.formElements[0], pv.formElements.length),
                                                            'native-box': pv.formElements && !isOneLiner(fe, pv.formElements.length)}"
                                                         class="native-question-header">
                                                        <cde-native-question *ngIf="fe.elementType === 'question'"
                                                                             [formElement]="fe"
                                                                             [numSubQuestions]="pv.formElements.length"></cde-native-question>
                                                        <cde-native-section
                                                                *ngIf="fe.elementType === 'section' || fe.elementType === 'form'"
                                                                [formElements]="pv.formElements"
                                                                [formElement]="fe"
                                                                [numSubQuestions]="pv.formElements.length"></cde-native-section>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="formElement.question.required && !NRS.answeredValueList(formElement.question)">
                                    <code>Please fill out this field.</code>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-template #dropdownValueList>
                            <select #inputValueListDropDown class="form-control"
                                    [name]="formElement.feId"
                                    [attr.name]="formElement.feId"
                                    [multiple]="formElement.question.multiselect"
                                    [ngModel]="nrs.selectModel(formElement)"
                                    (ngModelChange)="nrs.selectModelChange($event, formElement)"
                                    [required]="formElement.question.required"
                                    [disabled]="!formElement.question.editable">
                                <option value=""></option>
                                <option *ngFor="let pv of formElement.question.answers"
                                        [value]="pv.permissibleValue"
                                        [attr.value]="pv.permissibleValue">
                                    <ng-container *ngIf="nrs.profile.displayValues && NRS.getPvDisplayValue(pv)">
                                        {{NRS.getPvDisplayValue(pv)}} -
                                    </ng-container>
                                    {{NRS.getPvLabel(pv)}}
                                </option>
                            </select>
                            <div *ngIf="formElement.question.required && !NRS.answeredValueList(formElement.question)">
                                <code>Please fill out this field.</code>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date'">
                        <input #inputDate class="form-control"
                               type="{{datePrecisionToType[formElement.question.datatypeDate?.precision]}}"
                               step="{{datePrecisionToStep[formElement.question.datatypeDate?.precision]}}"
                               [title]="formElement.label"
                               attr.id="{{formElement.label}}_{{formElement.feId}}_box"
                               [name]="formElement.feId"
                               [attr.name]="formElement.feId"
                               [(ngModel)]="formElement.question.answer"
                               (change)="nrs.emit(formElement)"
                               [required]="formElement.question.required"
                               [disabled]="!formElement.question.editable"/>
                        <div [hidden]="!inputDate.validationMessage"><code>{{inputDate.validationMessage}}</code></div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Dynamic Code List'">
                        <input list="dynamicCodeListDropDown"
                               [id]="formElement.feId+'_dynamicCodeListDropDown'"
                               [formControl]='vsacControl' class="form-control">
                        <datalist id="dynamicCodeListDropDown" class="w-100 dynamicCodeListDropDown">
                            <option *ngFor="let vsacCode of vsacCodes"
                                    [value]="vsacCode.code">{{vsacCode.displayname}}</option>
                        </datalist>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Geo Location'">
                        <div class="input-group">
                            <div class="input-group-prepend d-none d-sm-flex">
                                <span class="input-group-text">Coordinates:</span>
                            </div>
                            <input type="text" class="form-control"
                                   [title]="formElement.label + 'latitude'"
                                   [id]="formElement.feId+'_latitude'"
                                   attr.id="{{formElement.label}}_{{formElement.feId}}_box_latitude"
                                   [name]="formElement.feId"
                                   [attr.name]="formElement.feId"
                                   [ngModel]="formElement.question.answer?.latitude"
                                   (ngModelChange)="NRS.setLatitude(formElement, $event)"
                                   (change)="nrs.emit(formElement)"
                                   [required]="formElement.question.required"
                                   [disabled]="!formElement.question.editable">
                            <div class="input-group-prepend input-group-append">
                                <span class="input-group-text">,</span>
                            </div>
                            <input type="text" class="form-control"
                                   [title]="formElement.label + 'longitude'"
                                   [id]="formElement.feId+'_longitude'"
                                   attr.id="{{formElement.label}}_{{formElement.feId}}_box_longitude"
                                   [name]="formElement.feId"
                                   [attr.name]="formElement.feId"
                                   [ngModel]="formElement.question.answer?.longitude"
                                   (ngModelChange)="NRS.setLongitude(formElement, $event)"
                                   (change)="nrs.emit(formElement)"
                                   [required]="formElement.question.required"
                                   [disabled]="!formElement.question.editable">
                            <div class="input-group-append">
                                <button *ngIf="nrs.locationDenied; else templateLocation" class="btn btn-disabled"
                                        title="Location is disabled. Enable on browser to use this feature."
                                        (click)="nrs.getCurrentGeoLocation(formElement)">
                                    <i class="material-icons iconFit">location_disabled</i>
                                </button>
                                <ng-template #templateLocation>
                                    <button [id]="formElement.feId+'_location'" class="btn btn-primary"
                                            title="Fill in with current location">
                                        <i class="material-icons iconFit"
                                           (click)="nrs.getCurrentGeoLocation(formElement)">location_searching</i>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                        <div *ngIf="formElement.question.required && (!formElement.question.answer || !formElement.question.answer.latitude || !formElement.question.answer.longitude)">
                            <code>Please fill out this field.</code>
                        </div>
                        <div *ngIf="nrs.locationDenied"><code>Enable location for this site to use autofill.</code></div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Number'">
                        <div [ngClass]="{'input-group': formElement.question.uomsAlias.length > 0}">
                            <input #inputNumber type="number" class="form-control"
                                   [title]="formElement.label"
                                   attr.id="{{formElement.label}}_{{formElement.feId}}_box"
                                   [name]="formElement.feId"
                                   [attr.name]="formElement.feId"
                                   [(ngModel)]="formElement.question.answer"
                                   (change)="nrs.emit(formElement)"
                                   [attr.min]="formElement.question.datatypeNumber ? formElement.question.datatypeNumber.minValue : null"
                                   [attr.max]="formElement.question.datatypeNumber ? formElement.question.datatypeNumber.maxValue : null"
                                   [required]="formElement.question.required"
                                   [disabled]="!formElement.question.editable"/>
                            <div *ngIf="formElement.question.uomsAlias.length" class="input-group-append">
                                <label *ngFor="let uom of formElement.question.uomsAlias; index as i"
                                       class="input-group-text"
                                       [ngClass]="{'nativeRequiredBox': formElement.question.required}">
                                    <input type="radio"
                                           [name]="formElement.feId + '_uom_' + i"
                                           [attr.name]="formElement.feId + '_uom_' + i"
                                           class="mr-1"
                                           [(ngModel)]="formElement.question.answerUom"
                                           (change)="nrs.convert(formElement)"
                                           [value]="formElement.question.unitsOfMeasure[i]"
                                           [attr.value]="formElement.question.unitsOfMeasure[i]"
                                           [required]="formElement.question.required || formElement.question.answer"
                                           [disabled]="!formElement.question.editable"/>{{uom}}</label>
                            </div>
                            <div *ngIf="formElement.question.required && typeof(formElement.question.answer) !== 'number'">
                                <code>Please fill out this field.</code>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault [ngSwitch]="formElement.question.datatypeText?.showAsTextArea">
                        <ng-container *ngSwitchDefault>
                            <div [ngClass]="{'input-group': formElement.question.uomsAlias.length > 0}">
                                <input #inputText type="text" class="form-control"
                                       [title]="formElement.label"
                                       attr.id="{{formElement.label}}_{{formElement.feId}}_box"
                                       [name]="formElement.feId"
                                       [attr.name]="formElement.feId"
                                       [(ngModel)]="formElement.question.answer"
                                       (change)="nrs.emit(formElement)"
                                       [required]="formElement.question.required"
                                       [disabled]="!formElement.question.editable"/>
                                <div *ngIf="formElement.question.uomsAlias.length" class="input-group-append">
                                    <label *ngFor="let uom of formElement.question.uomsAlias; index as i"
                                           class="input-group-text"
                                           [ngClass]="{'nativeRequiredBox': formElement.question.required}">
                                        <input type="radio" class="mr-1"
                                               [name]="formElement.feId + '_uom_' + i"
                                               [attr.name]="formElement.feId + '_uom_' + i"
                                               [(ngModel)]="formElement.question.answerUom"
                                               (change)="nrs.convert(formElement)"
                                               [value]="formElement.question.unitsOfMeasure[i]"
                                               [attr.value]="formElement.question.unitsOfMeasure[i]"
                                               [required]="formElement.question.required || formElement.question.answer"
                                               [disabled]="!formElement.question.editable"/>{{uom}}</label>
                                </div>
                            </div>
                            <div [hidden]="!inputText.validationMessage"><code>{{inputText.validationMessage}}</code></div>
                        </ng-container>
                        <ng-container *ngSwitchCase="true">
                            <textarea #inputTextArea
                                      class="form-control"
                                      attr.id="{{formElement.label}}_{{formElement.feId}}_box"
                                      [name]="formElement.feId"
                                      [attr.name]="formElement.feId"
                                      [(ngModel)]="formElement.question.answer"
                                      (change)="nrs.emit(formElement)"
                                      [required]="formElement.question.required"
                                      [disabled]="!formElement.question.editable">
                            </textarea>
                            <div [hidden]="!inputTextArea.validationMessage"><code>{{inputTextArea.validationMessage}}</code></div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let pv of formElement.question.answers">
                <ng-container *ngIf="pv.nonValuelist && pv.formElements">
                    <ng-container *ngFor="let fe of pv.formElements">
                        <div *ngIf="nrs.nativeRenderType !== NRS.SHOW_IF
                                        || nrs.skipLogicService.evalSkipLogicAndClear(pv, fe, nrs)"
                             [ngClass]="{'native-question-oneline-r': isOneLiner(pv.formElements[0], pv.formElements.length)}"
                             class="native-question-header">
                            <cde-native-question
                                    *ngIf="(fe.elementType === 'question') && pv.nonValuelist"
                                    [formElement]="fe"
                                    [numSubQuestions]="pv.formElements.length"
                                    [parentValue]="pv.permissibleValue"></cde-native-question>
                            <cde-native-section
                                    *ngIf="(fe.elementType === 'section' || fe.elementType === 'form') && pv.nonValuelist"
                                    [formElements]="pv.formElements"
                                    [formElement]="fe"
                                    [numSubQuestions]="pv.formElements.length"></cde-native-section>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div *ngIf="nrs.profile.metadata.device && (metadataTagsNew || formElement.metadataTags?.length)"
             class="ml-3" style="font-size: .8rem; font-style: italic; color: grey">
            <div class="native-question-label">
                Metadata:
                <ng-container *ngTemplateOutlet="metadataAddButton"></ng-container>
            </div>
            <cde-native-metadata></cde-native-metadata>
        </div>
    </fieldset>
</div>

<ng-template #metadataAddButton>
    <span class="dropdown noPrint">
        <i class="material-icons iconButton" data-toggle="dropdown"
           style="font-size: 20px; height: 20px; width: 20px">add</i>
        <div class="dropdown-menu" style="font-size: .8rem; font-weight: initial">
            <a class="dropdown-item" (click)="metadataTagsNew = 'UDI'">Add Device by UDI</a>
            <a class="dropdown-item" (click)="metadataTagsNew = 'DI'">Add Device by DI</a>
        </div>
    </span>
</ng-template>
