<div [hidden]="formElement.question.invisible && !nrs.profile.displayInvisible">
    <fieldset>
        <legend class="native-question-label"></legend>
        <label *ngIf="formElement.question.datatype !== 'Value List'"
               [hidden]="!hasLabel(formElement)" class="native-question-label"
               attr.for="{{formElement.label}}_{{index}}_box"
                [ngClass]="{'native-question-label-number': !numSubQuestions && nrs.profile.displayNumbering}">
            <span *ngIf="parentValue">If {{parentValue}}: </span>{{formElement.label}}</label>
        <div *ngIf="formElement.question.datatype === 'Value List'"
               [hidden]="!hasLabel(formElement)" class="native-question-label"
               [ngClass]="{'native-question-label-number': !numSubQuestions && nrs.profile.displayNumbering}">
            <span *ngIf="parentValue">If {{parentValue}}: </span>{{formElement.label}}</div>
        <div *ngIf="nrs.profile.displayInstructions && formElement?.instructions?.value"
             class="native-instructions">
            <span *ngIf="formElement.instructions.valueFormat === 'html'"
                  [innerHtml]="formElement.instructions.value"></span>
            <span *ngIf="formElement.instructions.valueFormat !== 'html'" class="text-muted">{{formElement.instructions.value}}</span>
        </div>

        <div attr.id="{{formElement.label}}_{{index}}" [ngClass]="{'native-box': hasLabel(formElement)}">
            <div *ngIf="formElement.question.isScore">Score: <span
                    [textContent]="FormService.score(formElement, nrs.getElt())"></span></div>
            <div *ngIf="!formElement.question.isScore">
                <div [ngSwitch]="formElement.question.datatype">
                    <div *ngSwitchCase="'Value List'">
                        <div class="row">
                            <div *ngFor="let pv of formElement.question.answers; let i = index"
                                 [ngClass]="classColumns(pv.index, i)" class="col-xs-12">
                                <div *ngIf="!pv.nonValuelist">
                                    <label [ngClass]="{'native-question-oneline-l': pv.formElements && isOneLiner(
                                                            pv.formElements[0], pv.formElements.length),
                                                   'checkbox-inline': formElement.question.multiselect,
                                                   'radio-inline': !formElement.question.multiselect}"
                                           [title]="nrs.getPvLabel(pv)">
                                        <input type="radio" *ngIf="!formElement.question.multiselect"
                                               [name]="formElement.questionId"
                                               [attr.name]="formElement.questionId"
                                               [(ngModel)]="formElement.question.answer"
                                               [title]="formElement.question.answer"
                                               [value]="pv.permissibleValue"
                                               [required]="formElement.question.required"
                                               [disabled]="!formElement.question.editable"/>
                                        <input type="checkbox" *ngIf="formElement.question.multiselect"
                                               [name]="formElement.questionId" title="multiple select"
                                               [attr.name]="formElement.questionId"
                                               [checked]="nrs.checkboxIsChecked(formElement.question, pv.permissibleValue)"
                                               (change)="nrs.checkboxOnChange($event, formElement.question, pv.permissibleValue)"
                                               [value]="pv.permissibleValue"
                                               [required]="formElement.question.required"
                                               [disabled]="!formElement.question.editable"/>
                                        <span [textContent]="nrs.getPvLabel(pv)"></span>
                                    <span class="native-value" *ngIf="nrs.profile.displayValues"
                                          [textContent]="nrs.getPvValue(pv)"></span>
                                    </label>
                                    <div *ngIf="pv?.formElements">
                                        <div *ngFor="let fe of pv.formElements; let j = index">
                                            <div *ngIf="nrs.getNativeRenderType() !== nrs.SHOW_IF
                                               || nrs.skipLogicService.evalSkipLogicAndClear(pv, fe, nrs)"
                                                 [ngClass]="{'native-question-oneline-r': isOneLiner(pv.formElements[0], pv.formElements.length),
                                                            'native-box': pv.formElements && !isOneLiner(fe, pv.formElements.length)}"
                                                 class="native-question-header">
                                                <cde-native-question *ngIf="fe.elementType === 'question'"
                                                                     [formElement]="fe"
                                                                     [numSubQuestions]="pv.formElements.length"
                                                                     [index]="i"></cde-native-question>
                                                <cde-native-section
                                                        *ngIf="fe.elementType === 'section' || fe.elementType === 'form'"
                                                        [formElements]="pv.formElements"
                                                        [formElement]="fe"
                                                        [numSubQuestions]="pv.formElements.length"></cde-native-section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'Date'" class="row">
                        <div class="col-xs-12" [ngClass]="{'col-sm-7': hasTime}">
                            <div class="input-group">
                                <input class="form-control" [name]="formElement.questionId+'_date'" [title]="formElement.question.answer"
                                       attr.id="{{formElement.label}}_{{index}}_box"
                                       [attr.name]="formElement.questionId+'_date'"
                                       [(ngModel)]="formElement.question.answerDate" (ngModelChange)="updateDateTime()"
                                       ngbDatepicker #d1="ngbDatepicker"
                                       [required]="formElement.question.required"
                                       [disabled]="!formElement.question.editable">
                                <div class="input-group-addon" (click)="formElement.question.editable && d1.toggle()">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="hasTime" class="mt-2 mt-md-0 col-sm-5 col-xs-12">
                            <ngb-timepicker [seconds]="true" size="small" [spinners]="false"
                                            [title]="formElement.question.answer" [name]="formElement.questionId+'_time'"
                                            attr.id="{{formElement.label}}_{{index}}_box"
                                            [attr.name]="formElement.questionId+'_time'"
                                            [(ngModel)]="formElement.question.answerTime"
                                            (ngModelChange)="updateDateTime()"
                                            [required]="formElement.question.required"
                                            [disabled]="!formElement.question.editable"></ngb-timepicker>
                        </div>
                        <input [hidden]="true" [name]="formElement.questionId"
                               [attr.name]="formElement.questionId" [ngModel]="formElement.question.answer">
                    </div>
                    <div *ngSwitchCase="'Number'">
                        <div [ngClass]="{'input-group': formElement.question.uoms.length > 0}">
                            <input type="number" class="form-control" [name]="formElement.questionId"
                                   attr.id="{{formElement.label}}_{{index}}_box"
                                   [attr.name]="formElement.questionId"
                                   [(ngModel)]="formElement.question.answer" [title]="formElement.question.answer"
                                   [attr.min]="formElement.question.datatypeNumber ? formElement.question.datatypeNumber.minValue : null"
                                   [attr.max]="formElement.question.datatypeNumber ? formElement.question.datatypeNumber.maxValue : null"
                                   [required]="formElement.question.required"
                                   [disabled]="!formElement.question.editable"/>
                            <label *ngFor="let uom of formElement.question.uoms"
                                   [title]="formElement.question.answerUom"
                                   [ngClass]="{'nativeRequiredBox': formElement.question.required}"
                                   class="input-group-addon">
                                <input type="radio"
                                       [name]="formElement.questionId + '_uom'"
                                       [attr.name]="formElement.questionId + '_uom'"
                                       [(ngModel)]="formElement.question.answerUom" (ngModelChange)="convert()"
                                       [value]="uom"
                                       [required]="formElement.question.required"
                                       [disabled]="!formElement.question.editable"/> {{uom}}</label>
                        </div>
                    </div>
                    <div *ngSwitchDefault>
                        <div [ngClass]="{'input-group': formElement.question.uoms.length > 0}">
                            <input type="text" class="form-control" [name]="formElement.questionId"
                                   attr.id="{{formElement.label}}_{{index}}_box"
                                   [attr.name]="formElement.questionId"
                                   [(ngModel)]="formElement.question.answer" [title]="formElement.question.answer"
                                   [required]="formElement.question.required"
                                   [disabled]="!formElement.question.editable"/>
                            <label *ngFor="let uom of formElement.question.uoms"
                                   [ngClass]="{'nativeRequiredBox': formElement.question.required}"
                                   class="input-group-addon" [title]="formElement.question.answerUom">
                                <input type="radio" [title]="formElement.question.answerUom"
                                       [name]="formElement.questionId + '_uom'"
                                       [attr.name]="formElement.questionId + '_uom'"
                                       [(ngModel)]="formElement.question.answerUom" (ngModelChange)="convert()"
                                       [value]="uom"
                                       [required]="formElement.question.required"
                                       [disabled]="!formElement.question.editable"/> {{uom}}</label>
                        </div>
                        <!--<div [textContent]="nrs.form.$$element[0][formElement.questionId].validationMessage"></div>-->
                    </div>
                </div>
            </div>
            <div *ngFor="let pv of formElement.question.answers; let i = index">
                <div *ngIf="pv.nonValuelist && pv.formElements">
                    <div *ngFor="let fe of pv.formElements; let j = index">
                        <div *ngIf="nrs.getNativeRenderType() !== this.nrs.SHOW_IF
                                        || nrs.skipLogicService.evalSkipLogicAndClear(pv, fe, nrs)"
                             [ngClass]="{'native-question-oneline-r': isOneLiner(pv.formElements[0], pv.formElements.length)}"
                             class="native-question-header">
                            <cde-native-question
                                    *ngIf="(fe.elementType === 'question') && pv.nonValuelist"
                                    [formElement]="fe"
                                    [numSubQuestions]="pv.formElements.length"
                                    [parentValue]="pv.permissibleValue"
                                    [index]="i"></cde-native-question>
                            <cde-native-section
                                    *ngIf="(fe.elementType === 'section' || fe.elementType === 'form') && pv.nonValuelist"
                                    [formElements]="pv.formElements"
                                    [formElement]="fe"
                                    [numSubQuestions]="pv.formElements.length"></cde-native-section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
