@import '../theme';

@media (min-width: $screenMd) {
    div .col-sm-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

label.input-group-addon {
    background-color: transparent;
    border-left: 1px solid #ccc;
    display: table-cell;
}

.flex-sm {
    display: none;

    @media (min-width: $screenSm) {
        display: flex;
    }
}

.form-horizontal {
    counter-reset: section;

    .native-section .radio-inline,
    .native-section {
        padding-top: 0;
    }

    .native-table-cell.radio,
    .native-table-cell.checkbox,
    .native-table-cell.form-check-input {
        padding-top: 0;
    }
}

.form-check {
    margin-bottom: 0;
}

.form-check-label > input {
    margin-top: .375rem;
}

.iconButton {
    color: lightgrey;

    &:hover {
        color: #28a745;
    }
}

.iconFit {
    font-size: inherit;
}

.radio-inline,
.wordwrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.native-box {
    margin-left: 6%;
    margin-top: .0625rem;
    margin-bottom: .0625rem;
    overflow: hidden;
}

.native-instructions {
    margin-bottom: .3125rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.native-question-answers {
    margin-bottom: .3125rem;
}

.native-question-header {
    overflow: hidden;
    page-break-inside: avoid;
}

.native-question-label {
    font-weight: 700;
    margin-bottom: 0;
}

.native-question-label-number:before {
    counter-increment: section;
    content: counter(section) ". ";
}

.native-question-oneline-l {
    float: left;
    margin-top: .375rem;
    margin-right: .3125rem;
}

.native-question-oneline-r {
    overflow: hidden;
    min-width: 50%;
    margin-top: .0625rem;
    margin-bottom: .0625rem;
    margin-left: 6%;
}

.native-section-header {
    border-bottom: .0625rem solid #eee;
    margin-top: .625rem;
    margin-bottom: .3125rem;
}

.native-table-cell {
    height: auto;
}

.native-table-cell label {
    font-weight: normal;
    margin-bottom: 0;
}

.native-value {
    color: #999;
    font-style: italic;
    font-weight: 900;
}

.native-valuelist-label {
    word-break: break-word;
}

.radio-box {
    display: block;
    padding-left: 10px
}

.row-sm {
    display: flex;
    flex-flow: row wrap;

    > * {
        flex: 0 0 100%;
        padding: 0 7px;
    }

    @media (min-width: $screenSm) {
        > .col-sm-2 {
            flex: 0 0 16.67%;
        }

        > .col-sm-2-4 {
            flex: 0 0 20%;
        }

        > .col-sm-3 {
            flex: 0 0 25%;
        }

        > .col-sm-4 {
            flex: 0 0 33.33%;
        }

        > .col-sm-6 {
            flex: 0 0 50%;
        }
    }
}
