<table class="table" *ngIf="formElement.formElements">
    <thead>
    <tr>
        <th></th>
        <th *ngFor="let a of formElement.formElements[0].question.answers">{{NRS.getPvLabel(a)}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let q of formElement.formElements">
        <tr *ngIf="!q.question.invisible || q.question.invisible && nrs.profile.displayInvisible">
            <td [attr.rowspan]="q.question.required && !NRS.answeredValueList(q.question) ? 2 : 1">
                <label [ngClass]="{'native-question-label-number': !numSubQuestions && nrs.profile.displayNumbering}"
                       class="native-question-label">{{q.label}}</label>
            </td>
            <td *ngFor="let pv of q.question.answers">
                <ng-container *ngIf="!questionMulti(q.question); else checkMulti">
                    <input type="radio" class="form-check-input" style="margin-top: .2rem"
                           [title]="NRS.getPvLabel(pv)"
                           [style.margin-left]="nrs.profile.displayValues ? '-1.25rem' : '0'"
                           [name]="q.feId"
                           [attr.name]="q.feId"
                           [ngModel]="q.question.answer"
                           (click)="nrs.radioButtonSelect(q, $event.target.value)"
                           [value]="pv.permissibleValue" [attr.value]="pv.permissibleValue"
                           [required]="q.question.required"
                           [disabled]="!q.question.editable"/>
                </ng-container>
                <ng-template #checkMulti>
                    <input type="checkbox" class="form-check-input" style="margin-top: .2rem"
                           [title]="NRS.getPvLabel(pv)"
                           [style.margin-left]="nrs.profile.displayValues ? '-1.25rem' : '0'"
                           [name]="q.feId"
                           [attr.name]="q.feId"
                           [checked]="nrs.checkboxIsChecked(q.question, pv.permissibleValue)"
                           (change)="nrs.checkboxOnChange($event.target.checked, q.question, pv.permissibleValue, q)"
                           [value]="pv.permissibleValue"
                           [attr.value]="pv.permissibleValue"
                           [required]="q.question.required"
                           [disabled]="!q.question.editable"/>
                </ng-template>
                <span class="native-value" data-testid="native-value">{{nrs.profile.displayValues ? NRS.getPvDisplayValue(pv) : '&nbsp;'}}</span>
            </td>
        </tr>
        <tr *ngIf="q.question.required" style="display: table-row;border-top: hidden;"
            [hidden]="NRS.answeredValueList(q.question)">
            <td [attr.colspan]="q.question.answers.length" style="padding: 0;">
                <code>Please fill out this field.</code>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
