<div *ngIf="formElement" class="native-section" id="formRenderSection_{{formElement.label?formElement.label:formElement.feId}}">
    <div *ngIf="formElement.label" [ngClass]="{'native-section-header': isSectionDisplayed(formElement)}" class="keep-together">
        <h4 data-testid="section-label">{{formElement.label}}</h4>
    </div>
    <div *ngIf="nrs.profile.displayInstructions && formElement.instructions?.value"
         class="native-instructions">
        <ng-container *ngIf="formElement.instructions.valueFormat === 'html'; else instructionsText">
            <span [innerHtml]="formElement.instructions.value"></span>
        </ng-container>
        <ng-template #instructionsText>
            <span class="text-muted">{{formElement.instructions.value}}</span>
        </ng-template>
    </div>
    <ng-container [ngSwitch]="sectionType()">
        <cde-native-table *ngSwitchCase="'table'" [formElement]="formElement"></cde-native-table>
        <cde-native-section-matrix *ngSwitchCase="'matrix'" [formElement]="formElement"
                                   [numSubQuestions]="numSubQuestions"></cde-native-section-matrix>
        <ng-container *ngSwitchDefault>
            <ng-container *ngFor="let element of formElement.formElements; let i = index">
                <ng-container *ngIf="nrs.skipLogicService.evalSkipLogicAndClear(formElement, element, nrs)">
                    <div *ngIf="element.elementType === 'question'; else elementGroup"
                         [ngClass]="{'keep-with-previous': i===0,
                         'native-box': !formElement.label && formElement.instructions?.value}"
                         class="native-question-header native-question-answers">
                        <cde-native-question [formElement]="element"
                                             [numSubQuestions]="numSubQuestions"></cde-native-question>
                    </div>
                    <ng-template #elementGroup>
                        <cde-native-section [formElements]="formElement.formElements" [formElement]="element"
                                            [numSubQuestions]="numSubQuestions"></cde-native-section>
                    </ng-template>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
