<h1 *ngIf="showTitle"
    [textContent]="nrs.vm?.designations && nrs.vm.designations[0]?.designation"></h1>

<form *ngIf="!endpointUrl && nrs.vm" name="sectionLabel" role="form" class="form-horizontal">
    <cde-native-section *ngIf="nrs.nativeRenderType !== NRS.SHOW_IF
                                  || nrs.skipLogicService.evalSkipLogic(undefined, nrs.vm, nrs)"
                        [formElement]="nrs.vm"></cde-native-section>
</form>
<form ngNoForm #formData *ngIf="endpointUrl && nrs.vm" name="sectionLabel" role="form" class="form-horizontal"
      [action]="getEndpointUrl()" method="post">

    <cde-native-section *ngIf="nrs.nativeRenderType !== NRS.SHOW_IF
                                  || nrs.skipLogicService.evalSkipLogic(undefined, nrs.vm, nrs)"
                        [formElement]="nrs.vm"></cde-native-section>

    <input type="hidden" name="formUrl" [value]="formUrl">
    <input type="hidden" name="mapping" [value]="nrs.flatMapping">
    <input type="submit" class="btn btn-outline-dark w-100" id="button_submit" *ngIf="nrs.submitForm"
           style="margin-left: 0; margin-top: 20px; font-weight: bold" [disabled]="formData.$invalid">
</form>

<small *ngIf="nrs.vm?.isCopyrighted && (!nrs.profile || nrs.profile.displayCopyright)"
       id="copyrightStatement">{{nrs.vm.copyright?.text}}</small>

<div *ngFor="let error of nrs.getErrors()"><code>{{error}}</code></div>
