@media (min-width: 768px) {
    div .col-sm-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

label.input-group-addon {
    background-color: transparent;
    border-left: 1px solid #ccc;
    display: table-cell;
}

.form-horizontal {
    counter-reset: section;

    .native-section .radio-inline,
    .native-section {
        padding-top: 0;
    }

    .native-table-cell.radio,
    .native-table-cell.checkbox,
    .native-table-cell.form-check-input {
        padding-top: 0;
    }
}

.form-check {
    margin-bottom: 0;
}

.form-check-label > input {
    margin-top: .375rem;
}

.iconButton {
    color: lightgrey;

    &:hover {
        color: #28a745;
    }
}

.iconFit {
    font-size: inherit;
}

.radio-inline,
.wordwrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.native-box {
    padding-left: 6%;
    margin-top: .0625rem;
    margin-bottom: .0625rem;
}

.native-instructions {
    margin-bottom: .3125rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.native-question-answers {
    margin-bottom: .3125rem;
}

.native-question-header {
    page-break-inside: avoid;
}

.native-question-label {
    font-weight: 700;
    margin-bottom: 0;
}

.native-question-label-number:before {
    counter-increment: section;
    content: counter(section) ". ";
}

.native-question-oneline-l {
    float: left;
    margin-top: .375rem;
    margin-right: .3125rem;
}

.native-question-oneline-r {
    overflow: hidden;
    min-width: 50%;
    margin-top: .0625rem;
    margin-bottom: .0625rem;
    margin-left: 6%;
}

.native-section-header {
    border-bottom: .0625rem solid #eee;
    margin-top: .625rem;
    margin-bottom: .3125rem;
}

.native-table-cell {
    height: auto;
}

.native-table-cell label {
    font-weight: normal;
    margin-bottom: 0;
}

.native-value {
    color: #999;
    font-style: italic;
    font-weight: 900;
}

.native-valuelist-label {
    word-break: break-word;
}
