<div [hidden]="formElement.question.invisible && !nrs.profile.displayInvisible">
    <fieldset>
        <legend class="native-question-label"></legend>
        <label *ngIf="formElement.question.datatype !== 'Value List'"
               [hidden]="!hasLabel(formElement)" class="native-question-label"
               attr.for="{{formElement.label}}_{{index}}_box"
               [ngClass]="{'native-question-label-number': !numSubQuestions && nrs.profile.displayNumbering}">
            <span *ngIf="parentValue">If {{parentValue}}: </span>{{formElement.label}}</label>
        <div *ngIf="formElement.question.datatype === 'Value List'"
             [hidden]="!hasLabel(formElement)" class="native-question-label"
             [ngClass]="{'native-question-label-number': !numSubQuestions && nrs.profile.displayNumbering}">
            <span *ngIf="parentValue">If {{parentValue}}: </span>{{formElement.label}}
        </div>
        <div *ngIf="nrs.profile.displayInstructions && formElement?.instructions?.value"
             class="native-instructions">
            <span *ngIf="formElement.instructions.valueFormat === 'html'"
                  [innerHtml]="formElement.instructions.value"></span>
            <span *ngIf="formElement.instructions.valueFormat !== 'html'" class="text-muted">{{formElement.instructions.value}}</span>
        </div>

        <div attr.id="{{formElement.label}}_{{index}}" [ngClass]="{'native-box': hasLabel(formElement)}">
            <ng-container *ngIf="formElement.question.isScore">Score: <span
                    [textContent]="score(formElement, nrs.vm)"></span></ng-container>
            <ng-container *ngIf="!formElement.question.isScore">
                <ng-container [ngSwitch]="formElement.question.datatype">
                    <ng-container *ngSwitchCase="'Value List'">
                        <div class="row">
                            <ng-container *ngIf="!nrs.profile.maxNumberAnswers">
                                <div *ngFor="let pv of formElement.question.answers; let i = index"
                                     [ngClass]="classColumns(pv.index, i)" class="col-12">
                                    <div *ngIf="!pv.nonValuelist" class="form-check">
                                        <label class="form-check-label native-valuelist-label"
                                               [ngClass]="{'native-question-oneline-l': pv.formElements
                                                          && isOneLiner(pv.formElements[0], pv.formElements.length)}">
                                            <ng-container *ngIf="NRS.isRadioOrCheckbox(formElement); else checkMulti">
                                                <input type="radio" class="form-check-input"
                                                       [name]="formElement.questionId"
                                                       [attr.name]="formElement.questionId"
                                                       [ngModel]="formElement.question.answer"
                                                       (click)="nrs.radioButtonSelect(formElement.question, $event.target.value)"
                                                       [value]="pv.permissibleValue" [attr.value]="pv.permissibleValue"
                                                       [required]="formElement.question.required"
                                                       [disabled]="!formElement.question.editable"/>
                                            </ng-container>
                                            <ng-template #checkMulti>
                                                <input type="checkbox" class="form-check-input"
                                                       [name]="formElement.questionId"
                                                       [attr.name]="formElement.questionId"
                                                       [checked]="nrs.checkboxIsChecked(formElement.question, pv.permissibleValue)"
                                                       (change)="nrs.checkboxOnChange($event, formElement.question, pv.permissibleValue)"
                                                       [value]="pv.permissibleValue" [attr.value]="pv.permissibleValue"
                                                       [required]="formElement.question.required"
                                                       [disabled]="!formElement.question.editable"/>
                                            </ng-template>
                                            <span [textContent]="nrs.getPvLabel(pv)"></span>
                                            <span class="native-value" *ngIf="nrs.profile.displayValues"
                                                  [textContent]="nrs.getPvValue(pv)"></span>
                                        </label>
                                        <ng-container *ngIf="pv?.formElements">
                                            <ng-container *ngFor="let fe of pv.formElements; let j = index">
                                                <div *ngIf="nrs.nativeRenderType !== nrs.SHOW_IF
                                               || nrs.skipLogicService.evalSkipLogicAndClear(pv, fe, nrs)"
                                                     [ngClass]="{'native-question-oneline-r': isOneLiner(pv.formElements[0], pv.formElements.length),
                                                            'native-box': pv.formElements && !isOneLiner(fe, pv.formElements.length)}"
                                                     class="native-question-header">
                                                    <cde-native-question *ngIf="fe.elementType === 'question'"
                                                                         [formElement]="fe"
                                                                         [numSubQuestions]="pv.formElements.length"
                                                                         [index]="i"></cde-native-question>
                                                    <cde-native-section
                                                            *ngIf="fe.elementType === 'section' || fe.elementType === 'form'"
                                                            [formElements]="pv.formElements"
                                                            [formElement]="fe"
                                                            [numSubQuestions]="pv.formElements.length"></cde-native-section>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="nrs.profile.maxNumberAnswers">
                                <select multiple [(ngModel)]="formElement.question.answer">
                                    <option *ngFor="let pv of formElement.question.answers"
                                            [value]="pv.permissibleValue">{{pv.valueMeaningName}}
                                    </option>
                                </select>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date'" class="row">
                        <div class="col-12">
                            <input class="form-control"
                                   type="{{datePrecisionToType[formElement.question.datatypeDate.precision]}}"
                                   step="{{datePrecisionToStep[formElement.question.datatypeDate.precision]}}"
                                   [title]="formElement.label"
                                   attr.id="{{formElement.label}}_{{index}}_box"
                                   [name]="formElement.questionId"
                                   [attr.name]="formElement.questionId"
                                   [(ngModel)]="formElement.question.answer"
                                   [required]="formElement.question.required"
                                   [disabled]="!formElement.question.editable">
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Number'">
                        <div [ngClass]="{'input-group': formElement.question.uomsAlias.length > 0}">
                            <input type="number" class="form-control"
                                   [title]="formElement.label"
                                   attr.id="{{formElement.label}}_{{index}}_box"
                                   [name]="formElement.questionId"
                                   [attr.name]="formElement.questionId"
                                   [(ngModel)]="formElement.question.answer"
                                   [attr.min]="formElement.question.datatypeNumber ? formElement.question.datatypeNumber.minValue : null"
                                   [attr.max]="formElement.question.datatypeNumber ? formElement.question.datatypeNumber.maxValue : null"
                                   [required]="formElement.question.required"
                                   [disabled]="!formElement.question.editable"/>
                            <label *ngFor="let uom of formElement.question.uomsAlias; index as i"
                                   [ngClass]="{'nativeRequiredBox': formElement.question.required}"
                                   class="input-group-addon">
                                <input type="radio"
                                       [name]="formElement.questionId + '_uom'"
                                       [attr.name]="formElement.questionId + '_uom'"
                                       [(ngModel)]="formElement.question.answerUom" (ngModelChange)="convert()"
                                       [value]="formElement.question.unitsOfMeasure[i]"
                                       [attr.value]="formElement.question.unitsOfMeasure[i]"
                                       [required]="formElement.question.required || formElement.question.answer"
                                       [disabled]="!formElement.question.editable"/> {{uom}}</label>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <div [ngClass]="{'input-group': formElement.question.uomsAlias.length > 0}">
                            <input type="text" class="form-control"
                                   [title]="formElement.label"
                                   attr.id="{{formElement.label}}_{{index}}_box"
                                   [name]="formElement.questionId"
                                   [attr.name]="formElement.questionId"
                                   [(ngModel)]="formElement.question.answer"
                                   [required]="formElement.question.required"
                                   [disabled]="!formElement.question.editable"/>
                            <label *ngFor="let uom of formElement.question.uomsAlias; index as i"
                                   [ngClass]="{'nativeRequiredBox': formElement.question.required}"
                                   class="input-group-addon">
                                <input type="radio"
                                       [name]="formElement.questionId + '_uom'"
                                       [attr.name]="formElement.questionId + '_uom'"
                                       [(ngModel)]="formElement.question.answerUom" (ngModelChange)="convert()"
                                       [value]="formElement.question.unitsOfMeasure[i]"
                                       [attr.value]="formElement.question.unitsOfMeasure[i]"
                                       [required]="formElement.question.required || formElement.question.answer"
                                       [disabled]="!formElement.question.editable"/> {{uom}}</label>
                        </div>
                        <!--<div [textContent]="nrs.form.$$element[0][formElement.questionId].validationMessage"></div>-->
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let pv of formElement.question.answers; let i = index">
                <ng-container *ngIf="pv.nonValuelist && pv.formElements">
                    <ng-container *ngFor="let fe of pv.formElements; let j = index">
                        <div *ngIf="nrs.nativeRenderType !== this.nrs.SHOW_IF
                                        || nrs.skipLogicService.evalSkipLogicAndClear(pv, fe, nrs)"
                             [ngClass]="{'native-question-oneline-r': isOneLiner(pv.formElements[0], pv.formElements.length)}"
                             class="native-question-header">
                            <cde-native-question
                                    *ngIf="(fe.elementType === 'question') && pv.nonValuelist"
                                    [formElement]="fe"
                                    [numSubQuestions]="pv.formElements.length"
                                    [parentValue]="pv.permissibleValue"
                                    [index]="i"></cde-native-question>
                            <cde-native-section
                                    *ngIf="(fe.elementType === 'section' || fe.elementType === 'form') && pv.nonValuelist"
                                    [formElements]="pv.formElements"
                                    [formElement]="fe"
                                    [numSubQuestions]="pv.formElements.length"></cde-native-section>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </fieldset>
</div>
