<section *ngFor="let meta of nativeFe.formElement.metadataTags; index as i" class="metadata-item">
    <article *ngIf="meta.key === 'device'">
        <aside>
            <div>Device DI:</div>
            <span>{{componentClass.deviceId(meta.value)}}</span>
        </aside>
        <article>
            <section *ngIf="meta.value.udi">
                <div *ngIf="meta.value.udi.issuing_agency">
                    <label>Issued By:</label> {{meta.value.udi.issuing_agency}}</div>
                <div *ngIf="meta.value.udi.expiration_date">
                    <label>Expiration Date:</label> {{meta.value.udi.expiration_date}}</div>
                <div *ngIf="meta.value.udi.manufacturing_date">
                    <label>Manufacture Date:</label> {{meta.value.udi.manufacturing_date}}</div>
                <div *ngIf="meta.value.udi.serial_number">
                    <label>Serial:</label> {{meta.value.udi.serial_number}}</div>
                <div *ngIf="meta.value.udi.donation_id">
                    <label>Donation:</label> {{meta.value.udi.donation_id}}</div>
                <div *ngIf="meta.value.udi.lot_number">
                    <label>Lot:</label> {{meta.value.udi.lot_number}}</div>
            </section>
            <div *ngIf="meta.value.gudid.device.identifiers.identifier.deviceIdIssuingAgency">
                <label>Issued By:</label> {{meta.value.gudid.device.identifiers.identifier.deviceIdIssuingAgency}}</div>
            <div *ngIf="meta.value.gudid.device.companyName">
                <label>Company:</label> {{meta.value.gudid.device.companyName}}</div>
            <div *ngIf="meta.value.gudid.device.brandName">
                <label>Brand:</label> {{meta.value.gudid.device.brandName}}</div>
            <div *ngIf="meta.value.gudid.device.versionModelNumber">
                <label>Model:</label> {{meta.value.gudid.device.versionModelNumber}}</div>
            <div *ngIf="meta.value.gudid.device.deviceSizes?.deviceSize">
                <label>{{meta.value.gudid.device.deviceSizes.deviceSize.sizeType}}:</label>
                {{meta.value.gudid.device.deviceSizes.deviceSize.sizeText}}
                <ng-container *ngIf="meta.value.gudid.device.deviceSizes?.deviceSize?.size?.value"> {{meta.value.gudid.device.deviceSizes.deviceSize.size.value}}</ng-container>
                <ng-container *ngIf="meta.value.gudid.device.deviceSizes?.deviceSize?.size?.unit"> {{meta.value.gudid.device.deviceSizes.deviceSize.size.unit}}</ng-container>
            </div>
            <div *ngIf="meta.value.gudid.device.productCodes?.fdaProductCode">
                <label style="padding-right: 0">FDA Product Codes:</label>
                <ng-container *ngFor="let code of componentClass.ensureArray(meta.value.gudid.device.productCodes.fdaProductCode)">
                    <label style="padding-left: .3rem;"> {{code.productCode}}:</label>{{code.productCodeName}}
                </ng-container>
            </div>
            <div *ngIf="meta.value.gudid.device.labeledContainsNRL === 'true'"><label>Labeled Contains Latex</label></div>
            <div *ngIf="meta.value.gudid.device.labeledNoNRL === 'true'"><label>Labeled Contains No Latex</label></div>
            <div *ngIf="meta.value.gudid.device.singleUse === 'true'"><label>Single Use Only</label></div>
            <div *ngIf="meta.value.gudid.device.rx === 'true'"><label>Must Be Prescribed</label></div>
            <div *ngIf="meta.value.gudid.device.otc === 'true'"><label>Available Over-the-Counter</label></div>
            <div *ngIf="meta.value.gudid.device.deviceKit === 'true'"><label>This is a kit.</label></div>
            <div *ngIf="meta.value.gudid.device.deviceCombinationProduct === 'true'"><label>Combination Product</label></div>
            <div *ngIf="meta.value.gudid.device.MRISafetyStatus">
                <label>MRI Safety Status:</label> {{meta.value.gudid.device.MRISafetyStatus}}</div>
            <div *ngIf="meta.value.gudid.device.expirationDate === 'true' && (!meta.value.udi || !meta.value.udi.expiration_date)">
                <label>Expires</label></div>
            <div *ngIf="meta.value.gudid.device.gmdnTerms?.gmdn">
                <ng-container *ngFor="let gmdn of componentClass.ensureArray(meta.value.gudid.device.gmdnTerms.gmdn)">
                    <label>GMDN:</label> {{gmdn.gmdnPTName}}
                </ng-container>
            </div>
            <div *ngIf="meta.value.gudid.device.deviceDescription">
                <label>Description:</label>
                {{textTruncate(100, meta.value.gudid.device.deviceDescription)}}
            </div>
        </article>
    </article>
    <div class="noPrint">
        <a title="Delete" href="javascript:void(0);"
           (click)="nativeFe.formElement.metadataTags.splice(i, 1)"><i class="material-icons">delete_outline</i></a>
    </div>
</section>
<section *ngIf="nativeFe.metadataTagsNew === 'DI' || nativeFe.metadataTagsNew === 'UDI'" class="metadata-item">
    <article>
        <div><label for="deviceSearchInput">Search for Device by
            <ng-container *ngIf="nativeFe.metadataTagsNew === 'UDI'">Unique</ng-container>Device Id:</label></div>
        <div class="input-group" style="margin-bottom: .25rem; margin-right: .5rem">
            <input #searchField id="deviceSearchInput" class="form-control" [(ngModel)]="metadataSearch"/>
            <button class="button light input-group-addon" (click)="accessGUDIdSearch()">Add</button>
        </div>
        <ng-container *ngIf="nativeFe.metadataTagsNew !== watchNewState && moveFocus(searchField)"></ng-container>
        <div><a *ngIf="metadataSearchResult === null" style="color: red"
                href="javascript:void(0);">Device Identifier(DI) Not Found</a></div>
    </article>
    <div class="noPrint">
        <a title="Delete" href="javascript:void(0);"
           (click)="nativeFe.metadataTagsNew = undefined"><i class="material-icons">delete_outline</i></a>
    </div>
</section>
