<table class="table" *ngIf="formElement.formElements">
    <thead>
    <tr>
        <th></th>
        <th *ngFor="let a of formElement.formElements[0].question.answers" [textContent]="a.valueMeaningName"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let q of formElement.formElements"
        [hidden]="!(!q.question.invisible || q.question.invisible && nrs.profile.displayInvisible)">
        <td>
            <label [ngClass]="{'native-question-label-number': !numSubQuestions && nrs.profile.displayNumbering}"
                   class="native-question-label"
                   [textContent]="q.label"></label>
        </td>
        <td *ngFor="let qa of q.question.answers">
            <input type="radio" [value]="qa.permissibleValue" [(ngModel)]="q.question.answer" name="{{q.questionId}}">
            <span class="native-value" *ngIf="nrs.profile.displayValues" [textContent]="nrs.getPvValue(qa)"></span>
        </td>
    </tr>
    </tbody>
</table>
