<mat-dialog-content>
    <div class="splitHalf">
        <div class="leftObj">
            <a id="sourceElement" class="button" [href]=leftUrl target="_blank">
                <mat-icon>visibility</mat-icon> View Full Detail</a>
            <ng-container *ngIf="canMergeDataElement">
                <cde-merge-data-element [source]="right" [destination]="left"
                                        (doneMergeDataElement)="doneMerge($event)"></cde-merge-data-element>
            </ng-container>
            <ng-container *ngIf="canMergeForm">
                <cde-merge-form [source]="left" [destination]="right"
                                (doneMergeForm)="doneMerge($event)"></cde-merge-form>
            </ng-container>
        </div>
        <div class="rightObj">
            <a id="destinationElement" class="button" [href]=rightUrl target="_blank">
                <mat-icon>visibility</mat-icon> View Full Detail</a>
            <ng-container *ngIf="canMergeDataElement">
                <cde-merge-data-element [source]="left" [destination]="right"
                                        (doneMergeDataElement)="doneMerge($event)"></cde-merge-data-element>
            </ng-container>
            <ng-container *ngIf="canMergeForm">
                <cde-merge-form [source]="right" [destination]="left"
                                (doneMergeForm)="doneMerge($event)"></cde-merge-form>
            </ng-container>
        </div>
    </div>
    <ng-container *ngFor="let option of options">
        <div *ngIf="option.displayAs.display" id="{{option.displayAs.label}}">
            <div style="overflow: hidden">
                <strong>{{option.displayAs.label}}</strong>
                <div *ngFor="let fullMatch of option.fullMatches" class="splitHalf">
                    <div class="noLeftPadding">
                        <div class="fullMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <strong>{{d.label?d.label+":":d.label}}</strong>
                                <span [innerHTML]=getValue(fullMatch.left,d)></span>
                            </div>
                        </div>
                    </div>
                    <div class="noRightPadding">
                        <div class="fullMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <strong>{{d.label?d.label+":":d.label}}</strong>
                                <span [innerHTML]=getValue(fullMatch.right,d)></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let partialMatch of option.partialMatches" class="splitHalf">
                    <div class="noLeftPadding">
                        <div class="partialMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <strong>{{d.label?d.label+":":d.label}}</strong>
                                <span [innerHTML]=getValue(partialMatch.left,d)></span>
                                <mat-icon *ngIf="partialMatch.diff.indexOf(d.property)>-1">warning</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="noRightPadding">
                        <div class="partialMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <strong>{{d.label?d.label+":":d.label}}</strong>
                                <span [innerHTML]=getValue(partialMatch.right,d)></span>
                                <mat-icon *ngIf="partialMatch.diff.indexOf(d.property)>-1">warning</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="option.leftNotMatches.length>0 || option.rightNotMatches.length>0" class="splitHalf">
                    <div class="noLeftPadding">
                        <div *ngFor="let leftNotMatch of option.leftNotMatches" class="notMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <strong>{{d.label?d.label+":":d.label}}</strong>
                                <span [innerHTML]=getValue(leftNotMatch,d)></span>
                            </div>
                        </div>
                    </div>
                    <div class="noRightPadding">
                        <div *ngFor="let rightNotMatch of option.rightNotMatches" class="notMatch">
                            <div *ngFor="let d of option.displayAs.data">
                                <strong>{{d.label?d.label+":":d.label}}</strong>
                                <span [innerHTML]=getValue(rightNotMatch,d)></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
    <button id="closeCompareSideBySideBtn" class="button" [mat-dialog-close]>Close</button>
</mat-dialog-actions>
