<ng-container *ngIf="!enableTextTruncate">
    <span *ngIf="textType === 'html'" [innerHtml]="text"></span>
    <span *ngIf="textType === 'plainText'">{{text}}</span>
</ng-container>
<ng-container *ngIf="enableTextTruncate">
    <ng-container *ngIf="text && text.length < threshold">
        <span *ngIf="textType === 'html'" [innerHtml]="text"></span>
        <span *ngIf="textType === 'plainText'">{{text}}</span>
    </ng-container>
    <ng-container *ngIf="text && text.length >= threshold">
    <span *ngIf="textType === 'html'">
        <span [ngClass]="_class" [innerHtml]="text"></span>
        <span *ngIf="!open" class="btn-link" (click)="toggleShow()">
            <span *ngIf="customMoreLabel">{{customMoreLabel}}</span>
            <span *ngIf="!customMoreLabel">More</span>
        </span>
        <span *ngIf="open" class="btn-link" (click)="toggleShow()">
            <span *ngIf="customLessLabel">{{customLessLabel}}</span>
            <span *ngIf="!customLessLabel">Less</span>
        </span>
    </span>
        <span *ngIf="textType === 'plainText'">
        <span [ngClass]="_class">{{text}}</span>
        <span *ngIf="!open" class="btn-link" (click)="toggleShow()">
            <span *ngIf="customMoreLabel">{{customMoreLabel}}</span>
            <span *ngIf="!customMoreLabel">More</span>
        </span>
        <span *ngIf="open" class="btn-link" (click)="toggleShow()">
            <span *ngIf="customLessLabel">{{customLessLabel}}</span>
            <span *ngIf="!customLessLabel">Less</span>
        </span>
    </span>
    </ng-container>
</ng-container>
