<h1>Data Loading</h1>

<div>
    <mat-form-field>
        <mat-select placeholder="Whitelist" [(ngModel)]="selectedWhiteList"
                    [disabled]="checkingFile || retrievingWhitelists || updatingWhitelists">
            <mat-option *ngFor="let s of whiteList" [value]="s">{{s.collectionName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="form-group">
        <button class="button" (click)="openAddWhitelistModal()" id="openNewWhitelistModalBtn"
                [disabled]="checkingFile || retrievingWhitelists || updatingWhitelists">
            <mat-icon>add</mat-icon>
            Add a Whitelist
        </button>

        <button *ngIf="selectedWhiteList" class="button" (click)="openCopyWhitelistModal()" id="copyWhitelistBtn"
                [disabled]="checkingFile || retrievingWhitelists || updatingWhitelists">
            <mat-icon>content_copy</mat-icon>
            Copy Whitelist
        </button>

        <button *ngIf="selectedWhiteList" class="button" (click)="openEditWhitelistModal()" id="openEditWhitelistModalBtn"
                [disabled]="checkingFile || retrievingWhitelists || updatingWhitelists">
            <mat-icon>edit</mat-icon>
            View/Edit Whitelist
        </button>

        <button *ngIf="selectedWhiteList" class="button" (click)="openDeleteWhitelistModal()" id="openDeleteWhitelistModalBtn"
                [disabled]="checkingFile || retrievingWhitelists || updatingWhitelists">
            <mat-icon>delete</mat-icon>
            Delete Whitelist
        </button>
    </div>
    <p>Spellcheck a CSV</p>
    <label for="fileToValidate">
        <button class="button" (click)="openFileDialog('fileToValidate')" [disabled]="checkingFile || !selectedWhiteList">
            <mat-icon>cloud_upload</mat-icon>
            Upload CSV file
        </button>
    </label>
    <ng-container *ngIf="checkingFile">
        <ng-container>
            <mat-icon style="vertical-align: middle" class="spin">autorenew</mat-icon> Spell checking...
        </ng-container>
    </ng-container>
    <input id="fileToValidate" style="display: none" type="file" (change)="spellcheckCSV($event)">
</div>

<div *ngIf="fileErrors.length > 0">
    <p>The uploaded file had the following issues:</p>
    <ul>
        <li *ngFor="let e of fileErrors">
            {{e}}
        </li>
    </ul>
</div>

<div *ngIf="getMisspelledTerms().length > 0">
    <p>Potential spelling errors are listed below. Row numbers are based on CSV file</p>
    <table class="table table-bordered table-condensed table-striped table-responsive">
        <tr>
            <th>Term</th>
            <th>CDE</th>
            <th>Whitelist?</th>
        </tr>
        <tr *ngFor="let t of currentErrorPage">
            <td>{{t}}</td>
            <td>
                <ul>
                    <li *ngFor="let c of spellingErrors[t].slice(0, this.showAllTermErrors[t] ? spellingErrors[t].length : this.errorLimit)"
                        [innerHTML]="getErrorDisplayText(c.error, t, c.row, c.field)">
                    </li>
                </ul>
                <a *ngIf="spellingErrors[t].length > this.errorLimit" class="fake-link"
                   href="javascript:void(0);"
                   (click)="this.showAllTermErrors[t] = !this.showAllTermErrors[t]">
                    {{this.showAllTermErrors[t] ? 'Show Less' : 'More Errors'}}
                </a>
            </td>
            <td class="checkBoxCell" (click)="termCheckbox._inputElement.nativeElement.click()">
                <mat-checkbox #termCheckbox [checked]="this.selectedErrors.has(t)" (click)="$event.stopPropagation()" (change)="addOrRemoveSpellingError($event.checked, t)">
                </mat-checkbox>
            </td>
        </tr>
    </table>
    <div *ngIf="selectedErrors.size > 0">
        <div class="form-group">
            <button class="button" (click)="whiteListSelectedErrors()" [disabled]="updatingWhitelists || !selectedWhiteList">
                <mat-icon>add</mat-icon>
                Whitelist Selected Terms
            </button>
        </div>
    </div>
    <div>
        <mat-paginator *ngIf="getMisspelledTerms().length > 0"
                       (page)="pageChange($event)"
                       [pageIndex]="pageIndex"
                       [length]="getMisspelledTerms().length"
                       [pageSize]="pageSize">
        </mat-paginator>
    </div>
</div>
