<fieldset class="cdeFieldset" id="registrationStateDiv">
    <legend>Registration State:
        <button title="Edit Status" role="link" id="editStatus" *ngIf="canEdit" mat-raised-button
                (click)="openRegStatusUpdate()">
            <mat-icon>edit</mat-icon> Edit
        </button>
    </legend>
    <dl class="row">
        <ng-container *ngIf="elt.registrationState.effectiveDate">
            <dt class="col-2 text-right">Effective Date:</dt>
            <dd id="effectiveDate" class="col-10">
                {{elt.registrationState.effectiveDate | date:'MM/dd/yyyy':'z'}}
            </dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.untilDate">
            <dt class="col-2 text-right">Until Date:</dt>
            <dd id="untilDate" class="col-10">
                {{elt.registrationState.untilDate | date:'MM/dd/yyyy':'z'}}
            </dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.administrativeNote">
            <dt class="col-2 text-right">Administrative Note:</dt>
            <dd id="administrativeNote" class="col-10">
                {{elt.registrationState.administrativeNote}}
            </dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.unresolvedIssue">
            <dt class="col-2 text-right">Unresolved Issue:</dt>
            <dd id="unresolvedIssue" class="col-10">{{elt.registrationState.unresolvedIssue}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.registrationStatus">
            <dt class="col-2 text-right">Registration Status:</dt>
            <dd id="registrationStatus" class="col-10">
                {{elt.registrationState.registrationStatus}}
            </dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.administrativeStatus">
            <dt class="col-2 text-right">Administrative Status:</dt>
            <dd id="administrativeStatus" class="col-10">{{elt.registrationState.administrativeStatus}}</dd>
        </ng-container>
    </dl>
</fieldset>

<ng-template #regStatusEdit>
    <h4 mat-dialog-title>Update Registration Status</h4>
    <form #regForm="ngForm">
        <div mat-dialog-content>
            <div class="modal-body" id="regStatusModalBody">
                <div class="alert-warning">{{helpMessage}}</div>
                <div class="form-group">
                    <label for="newRegistrationStatus">Registration Status</label>
                    <select id="newRegistrationStatus" class="form-control"
                            [(ngModel)]="newState.registrationStatus"
                            name="newRegistrationStatus" (ngModelChange)="setHelpMessage($event)">
                        <option *ngFor="let s of validRegStatuses" value="{{s}}">{{s}}</option>
                    </select>
                </div>

                <div id="effectiveDateDiv">
                    <label for="effectiveDate">Effective Date</label>
                    <input class="form-control" name="newEffectiveDate" id="newEffectiveDate"
                           [(ngModel)]="newState.effectiveDate" type="date">
                </div>
                <div id="untilDateDiv">
                    <label for="untilDate">Until Date</label>
                    <input class="form-control" name="newUntilDate" id="newUntilDate"
                           [(ngModel)]="newState.untilDate" type="date">
                </div>
                <div class="form-group">
                    <label for="administrativeStatus">Administrative Status</label>
                    <input id="newAdministrativeStatus" class="form-control" type="text"
                           name="newAdministrativeStatus"
                           [(ngModel)]="newState.administrativeStatus"
                           placeholder="Optional Administrative Status"/>
                </div>

                <div class="form-group">
                    <label for="administrativeNote">Administrative Note</label>
                    <textarea id="newAdministrativeNote" class="form-control" name="newAdministrativeNote"
                              [(ngModel)]="newState.administrativeNote"
                              placeholder="Optional Administrative Note"></textarea>
                </div>

                <div class="form-group">
                    <label for="unresolvedIssue">Unresolved Issue</label>
                    <textarea id="newUnresolvedIssue" class="form-control" name="newUnresolvedIssue"
                              [(ngModel)]="newState.unresolvedIssue"
                              placeholder="Optional Unresolved Issue Note"></textarea>
                </div>

            </div>
            <div mat-dialog-actions>
                <button [mat-dialog-close] id="cancelRegStatus" type="button" mat-raised-button color="accent">Cancel</button>
                <button type="submit" [disabled]="!regForm.form.valid" id="saveRegStatus" [mat-dialog-close]="true"
                    mat-raised-button color="primary">Save</button>
            </div>
        </div>
    </form>
</ng-template>
