<h1>Embedding</h1>
<div class="container">
    <h3>Embed CDE / Form Search on your site</h3>

    <div *ngIf="!selection">
        <div *ngFor="let org of userService.userOrgs">
            <h4>Embeds for {{org}}
                <button (click)="addEmbed(org)" id="{{org}}_addEmbed" mat-raised-button>
                    <mat-icon>add</mat-icon>
                    Add
                </button>
            </h4>
            <span *ngIf="embeds[org]?.length > 0">
                <ul>
                    <li *ngFor="let e of embeds[org]; let $index = index">
                        <span *ngIf="showDelete">Confirm Delete
                            <mat-icon (click)="showDelete = false; remove(e)"
                                      id="confirmRemoveEmbed-{{$index}}" title="OK">check</mat-icon>
                            <mat-icon (click)="showDelete = false" title="Cancel">cancel</mat-icon>
                        </span>
                        <mat-icon (click)="showDelete = true" *ngIf="!showDelete"
                                  id="removeEmbed-{{$index}}" title="Remove">delete_outline</mat-icon>
                        <mat-icon title="editEmbed" (click)="edit(org, e)"
                                  id="{{org}}.{{$index}}.editEmbed">edit</mat-icon>
                        {{e.name}}
                        (id = {{e._id}})</li>
                </ul>
            </span>
        </div>
    </div>


    <div class="boxed-div" *ngIf="selection">
        <form name="editEmbed" #newEmbedForm="ngForm">
            <div>
                <label class="mb-2">Org to embed: <strong>{{selection.org}}</strong></label>
            </div>
            <label for="embedName">Name this embedded search:</label>
            <input class="form-control" [(ngModel)]="selection.name" name="n" id="embedName" required>
            <br>
            <label for="width">Width</label>
            <input type="number" [(ngModel)]="selection.width" name="w" id="width" min="600" class="form-control"
                   required>
            <label for="height">Height</label>
            <input type="number" [(ngModel)]="selection.height" name="h" id="height" min="600" class="form-control"
                   required>

            <div class="row">
                <div class="col-lg-10 boxed-div" style="margin-left: 15px">
                    <h2>CDE Search
                        <span class="btn-group">
                        <button id="cdeEnabled" class="btn  " [ngClass]="{'btn-success':selection.cde}"
                                (click)="enableCde(true)"> On
                        </button>
                        <button id="cdeDisabled" class="btn  " [ngClass]="{'btn-danger':!selection.cde}"
                                (click)="enableCde(false)"> Off
                        </button>
                    </span>
                    </h2>
                    <div *ngIf="selection.cde">
                        <input type="checkbox" [(ngModel)]="selection.cde.primaryDefinition.show" name="pds"
                               id="cde.primaryDefinition">
                        <label for="cde.primaryDefinition">See Primary Definition</label>
                        <div *ngIf="selection.cde.primaryDefinition.show">
                            <label for="cde.primaryDefinition.label">Definition Label: </label>
                            <input [(ngModel)]="selection.cde.primaryDefinition.label" name="pdl"
                                   id="cde.primaryDefinition.label"
                                   class="form-control">
                        </div>
                        <div *ngIf="selection.cde.primaryDefinition.show">
                            <label for="cde.primaryDefinition.style">CSS Style: </label>
                            <input [(ngModel)]="selection.cde.primaryDefinition.style" name="pdst"
                                   id="cde.primaryDefinition.style"
                                   class="form-control">
                        </div>
                        <br>
                        <div class="boxed-div">
                            <h4>Names (besides primary)</h4>
                            <button (click)="addCdeName()" class="btn btn-outline-dark" id="addName">Add Name</button>
                            <div *ngFor="let thisName of selection.cde.otherNames; let $index = index"
                                 class="boxed-div">
                                <button (click)="selection.cde.otherNames.splice($index, 1)" mat-raised-button
                                        id="name.{{$index}}.remove" title="Remove">
                                    <mat-icon>delete_outline</mat-icon>
                                </button>
                                <label for="name.{{$index}}.tags">Name Tags:</label>
                                <input [(ngModel)]="thisName.tags" id="name.{{$index}}.tags" name="tags_{{$index}}"
                                       class="form-control" required>
                                <br>
                                <label for="name.{{$index}}.label">Choose a label for the Name:</label>
                                <input [(ngModel)]="thisName.label" id="name.{{$index}}.label" name="la_{{$index}}"
                                       class="form-control" required>
                                <br>
                            </div>
                        </div>
                        <br>
                        <div class="boxed-div">
                            <h4>Identifiers</h4>
                            <button (click)="addCdeId()" class="btn btn-outline-dark" id="addId">Add ID</button>
                            <div *ngFor="let thisId of selection.cde.ids; let $index = index" class="boxed-div">
                                <button (click)="selection.cde.ids.splice($index, 1)"
                                        id="id.{{$index}}.remove" title="Remove">
                                    <mat-icon>delete_outline</mat-icon>
                                </button>
                                <label for="id.{{$index}}.source">ID Source Name:</label>
                                <input [(ngModel)]="thisId.source" id="id.{{$index}}.source" name="src_{{$index}}"
                                       class="form-control" required>
                                <br>
                                <label for="id.{{$index}}.idLabel">Choose a label for the ID column:</label>
                                <input [(ngModel)]="thisId.idLabel" id="id.{{$index}}.idLabel" name="idl_{{$index}}"
                                       class="form-control" required>
                                <br>
                                <input type="checkbox" [(ngModel)]="thisId.version" id="id.{{$index}}.sourceVersion"
                                       name="v">
                                <label for="id.{{$index}}.sourceVersion">Also see version number</label>
                                <span *ngIf="thisId.version">
                                <br>
                                <label for="id.{{$index}}.versionLabel">Choose a label for the version column:</label>
                                <input [(ngModel)]="thisId.versionLabel" id="id.{{$index}}.versionLabel"
                                       name="vl_{{$index}}"
                                       class="form-control" required>
                            </span>
                            </div>
                        </div>
                        <br>
                        <div class="boxed-div">
                            <h4>Classifications</h4>
                            <button (click)="addCdeClassification()" class="btn btn-outline-dark"
                                    id="addClassification">Add Classification
                            </button>
                            <div *ngFor="let thisClassif of selection.cde.classifications; let $index = index"
                                 class="boxed-div">
                                <button (click)="selection.cde.classifications.splice($index, 1)"
                                        id="classif.{{$index}}.remove" title="Remove">
                                    <mat-icon>delete_outline</mat-icon>
                                </button>
                                <label for="classif.{{$index}}.label">Choose a label:</label>
                                <input [(ngModel)]="thisClassif.label" id="classif.{{$index}}.label"
                                       name="cll_{{$index}}"
                                       class="form-control" required>
                                <br>
                                <label for="classif.{{$index}}.startsWith">Include classifications starting
                                    with: </label>
                                <input [(ngModel)]="thisClassif.startsWith" name="clsw_{{$index}}"
                                       id="classif.{{$index}}.startsWith" class="form-control">
                                <br>
                                <label for="classif.{{$index}}.exclude">Exclude classifications with regEx: </label>
                                <input [(ngModel)]="thisClassif.exclude" name="exc_{{$index}}"
                                       id="classif.{{$index}}.exclude"
                                       class="form-control">
                                <br>
                                <input type="checkbox" [(ngModel)]="thisClassif.selectedOnly" name="clso_{{$index}}"
                                       id="classif.{{$index}}.selectedOnly">
                                <label for="classif.{{$index}}.selectedOnly">Only show selected classifications </label>
                            </div>
                        </div>
                        <div class="boxed-div">
                            <h4>Linked Forms</h4>
                            <input type="checkbox" [(ngModel)]="selection.cde.linkedForms.show" name="lfs"
                                   id="cde.linkedForms">
                            <label for="cde.linkedForms">See Linked Forms</label>
                            <br>
                            <span *ngIf="selection.cde.linkedForms.show">
                            <label for="cde.linkedForms.label">Choose a label:</label>
                            <input [(ngModel)]="selection.cde.linkedForms.label" name="lfl" id="cde.linkedForms.label"
                                   class="form-control">
                        </span>
                        </div>
                        <br>
                        <label for="cde.pageSize">Number of results per page</label>
                        <input type="number" [(ngModel)]="selection.cde.pageSize" name="cpg" id="cde.pageSize"
                               class="form-control" required>

                        <h3>
                            <mat-icon>check_box</mat-icon>
                            Registration Statuses
                        </h3>
                        <div class="form-group">
                            <span>I want my search results to include these statuses</span>
                            <div class="radio indent">
                                <label>
                                    <input type="radio" [(ngModel)]="selection.cde.lowestRegistrationStatus" name="clr"
                                           id="cde.minStatus.qualified"
                                           value="Qualified">
                                    Preferred Standard, Standard, Qualified
                                </label>
                            </div>
                            <div class="radio indent">
                                <label>
                                    <input type="radio" [(ngModel)]="selection.cde.lowestRegistrationStatus" name="clr2"
                                           id="cde.minStatus.recorded"
                                           value="Recorded">
                                    Preferred Standard, Standard, Qualified, Recorded
                                </label>
                            </div>
                            <div class="radio indent">
                                <label>
                                    <input type="radio" [(ngModel)]="selection.cde.lowestRegistrationStatus" name="clr3"
                                           id="cde.minStatus.candidate"
                                           value="Candidate">
                                    Preferred Standard, Standard, Qualified, Recorded, Candidate
                                </label>
                            </div>
                            <div class="radio indent">
                                <label>
                                    <input id="cde.minStatus.incomplete" type="radio"
                                           [(ngModel)]="selection.cde.lowestRegistrationStatus"
                                           name="clr4" value="Incomplete">
                                    Preferred Standard, Standard, Qualified, Recorded, Candidate, Incomplete
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" [(ngModel)]="selection.cde.registrationStatus.show" name="crss"
                           id="cde.regStatus">
                    <label for="cde.regStatus">See Registration Status</label>
                    <div *ngIf="selection.cde.registrationStatus">
                        <label for="cde.registrationStatus.label">Definition Label: </label>
                        <input [(ngModel)]="selection.cde.registrationStatus.label" name="crssl"
                               id="cde.registrationStatus.label"
                               class="form-control" required>
                    </div>
                    <br>
                </div>
            </div>

            <button class="btn btn-outline-dark" (click)="save()" *ngIf="selection.cde || selection.form"
                    [disabled]="!newEmbedForm.valid" id="saveEmbed">
                <mat-icon>save</mat-icon>
                Save
            </button>

            <button class="btn btn-outline-dark" (click)="reloadEmbedsOrg(selection.org)"
                    *ngIf="selection.cde || selection.form">
                <mat-icon>cancel</mat-icon>
                Cancel
            </button>

            <div *ngIf="selection?._id" class="mt-5"> preview:
                <span class="btn-group">
                <button id="previewEnabled" class="btn flush" [ngClass]="{'btn-success':previewOn}"
                        (click)="enablePreview(true)"> On
                </button>
                <button id="previewDisabled" class="btn flush" [ngClass]="{'btn-danger':!previewOn}"
                        (click)="enablePreview(false)"> Off
                </button>
            </span>
            </div>
        </form>

        <iframe *ngIf="previewOn" width="{{selection.width}}" height="{{selection.height}}"
                [src]="previewSrc" name="previewFrame"></iframe>

    </div>
</div>



