<h3><center>{{board.name}}<center></h3>
            
<div ng-include="'accordionList.html'" ng-init="ejsPage = 'board';"></div>

<pagination align="center" direction-links="true" items-per-page="20" total-items="totalItems" page="currentPage"></pagination>

<%- include accordionList.ejs %> 