<h3><center>{{board.name}}<center></h3>

<span ng-controller="SwitchListViewCtrl">
    <div class="container-fluid searchInfo">
        <span ng-include="'/template/system/switchListViewControls'"></span>
        <button ng-show="totalItems>0" ng-click="openCloseAllSwitch(cdes, 'list');" class="btn btn-default btn-checkbox pull-right" id="openAllCb">
            <span ng-hide="openCloseAllModel.list"><i class="fa fa-expand"></i> Expand All</span>
            <span ng-show="openCloseAllModel.list"><i class="fa fa-compress"></i> Collapse All</span>
        </button>
    </div>

    <span ng-include="'/template/system/switchListViewContent.ejs'" ng-init="ejsPage = 'board';module = 'cde';"></span>

    <pagination align="center" direction-links="true" items-per-page="20" total-items="totalItems" ng-model="currentPage" max-size="10"></pagination>
 </span>