<div accordion close-others="false" id="accordionList" ng-class="accordionListStyle">
    <div ui-sortable="dragSortableOptions" ng-model="cdes">
        <div accordion-group ng-repeat="cde in cdes track by cde._id" is-open="cde.isOpen">
            <div accordion-heading ng-controller="AccordionCtrl">
                <a href tabindex="0" class="nonLinkAnchor" ng-if="addCdeMode">
                    <i class="fa fa-arrows question-move-handle"></i></a>
                <a href tabindex="0" class="nonLinkAnchor">
                    <span role="link" ng-bind-html="cde.primaryNameCopy"
                          id="acc_link_{{$index}}" class="hand-cursor"></span></a>
                <a href tabindex="0" class="nonLinkAnchor" ng-if="!openCdeInNewTab" ng-click="view(cde, $event)">
                    <i class="fa fa-eye hand-cursor" title="View Full Detail" role="link"
                       id="eyeLink_{{$index}}"></i></a>
                <a href tabindex="0" class="nonLinkAnchor" ng-if="openCdeInNewTab" ng-click="viewNewTab(cde, $event)">
                    <i class="fa fa-eye hand-cursor" title="View Full Detail" role="link"></i></a>
                <a href tabindex="0" class="nonLinkAnchor" ng-if="user._id && ejsPage!=='board' && cPage!=='forms'"
                   ng-click="accordionIconAction(cde,'openPinModal',$event)">
                    <i id="pinToBoard_{{$index}}" class="fa fa-thumb-tack hand-cursor" title="Attach to Board"
                       role="link"> </i></a>
                <a href tabindex="0" class="nonLinkAnchor" ng-if="user._id && ejsPage==='board'"
                   ng-click="unpin(board.pins[$index])">
                    <i class="fa fa-thumb-tack fa-rotate-90 hand-cursor" title="unPin from Board" id="unpin_{{$index}}"
                       role="link"> </i></a>
                <a href tabindex="0" class="nonLinkAnchor" ng-if="quickBoard.canAddElt(cde) && cPage!=='forms'"
                   ng-click="accordionIconAction(cde,'quickBoard.add',$event)">
                    <i class="fa fa-plus hand-cursor" title="Add to Quick Board" id="addToCompare_{{$index}}"
                       role="link"></i></a>
                <a href tabindex="0" class="nonLinkAnchor" ng-if="ejsPage=='quickboard'" ng-click="removeElt($index)">
                    <i class="glyphicon glyphicon-remove hand-cursor" title="remove" id="remove_{{$index}}"
                       role="link"></i></a>
                <small tabindex="0" class="matched-by" ng-if="cde.highlight.matchedBy">Matched by: <strong>
                        <span ng-bind-html="cde.highlight.matchedBy"></span></strong></small>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <%- include cdeList/generalDetails.ejs %>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" ng-if="cde.valueDomain.datatype === 'Value List'">
                    <%- include cdeList/valueDomain.ejs %>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div ng-include="'/cde/public/html/cdeList/idTable.html'"/>
                    <img ng-repeat="attachment in cde.attachments | filter:{isDefault:true}"
                         ng-src="/data/{{attachment.fileid}}" class='cdeAttachmentThumbnail'/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a tabindex="0" ng-if="!openCdeInNewTab" class='btn btn-small btn-default'
                       ng-href="#/deview/?tinyId={{cde.tinyId}}" id="openEltInCurrentTab_{{$index}}">
                        <i class="fa fa-eye"></i> View Full Detail</a>
                    <a tabindex="0" ng-if="openCdeInNewTab" target="_blank" class='btn btn-small btn-default'
                       ng-href="#/deview/?tinyId={{cde.tinyId}}" id="openCdeInNewTab_{{$index}}">
                        <i class="fa fa-eye"></i> View Full Detail</a>
                    <a tabindex="0" ng-if="user._id && ejsPage!='board'" class="btn btn-small btn-default"
                       ng-click="openPinModal(cde)" id="pin_{{$index}}">
                        <i class="fa fa-thumb-tack"></i> Attach to Board</a>
                    <a tabindex="0" ng-if="user._id && ejsPage=='board'" class="btn btn-small btn-default"
                       ng-click="unpin(cde)" id="pin_{{$index}}">
                        <i class="fa fa-thumb-tack fa-rotate-90" title="unPin"></i> Remove from Board</a>
                    <a tabindex="0" ng-if="quickBoard.canAddElt(cde)" class="btn btn-small btn-default"
                       ng-click="addToQuickBoard(cde)" id="compare_{{$index}}">
                        <i class="fa fa-plus"></i> Add to Quick Board</a>
                    <a class="pull-right" ng-href="#/sdcview/?cdeId={{cde._id}}" aria-label="SDC View"
                       id="sdcView_{{$index}}">
                        <i class="fa fa-share-square-o"></i> SDC View</a>
                </div>
            </div>
        </div>
    </div>
</div>