<style>
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto; 
    height: 600px;
}
</style>
<div ng-controller="ExportCtrl">
    <div class="gridStyle" ng-grid="gridOptions"></div>
    <a class="btn btn-mini fa fa-external-link" id="exportLink" ng-click="checkIe()" href="{{encodedStr}}" download="Export.csv"> Export</a>
    <a class="btn btn-mini pull-right" href="#/search" id="backToSearch"> Back to Search</a>
</div>

