<h4 tabindex="0">History</h4>
<div class="row" ng-controller="CdeDiffCtrl">
    <div class="col-md-5">
        <table ng-show="priorCdes.length > 0" class="table" id="historyTable">
            <caption tabindex="0">List of previous versions</caption>
            <thead>
            <tr>
                <th tabindex="0">Updated at</th>
                <th tabindex="0">Updated by</th>
                <th tabindex="0">Change Note</th>
                <th tabindex="0">Modifications since Previous Version</th>
                <th tabindex="0">See Full</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td tabindex="0">{{elt.updated | date: 'MM/dd/yyyy @ h:mma'}}</td>
                <td tabindex="0">{{elt.updatedBy.username}}</td>
                <td tabindex="0">{{elt.changeNote}}</td>
                <td tabindex="0"><a class="fa fa-eye" ng-click="viewDiff(elt)"> View</a></td>
                <td tabindex="0">Currently Viewing</td>
            </tr>
            <tr ng-repeat="priorCde in priorCdes | orderBy:[nullsToBottom,'-updated']">
                <td tabindex="0">{{priorCde.updated | date: 'MM/dd/yyyy @ h:mma'}}</td>
                <td tabindex="0">{{priorCde.updatedBy.username || priorCde.createdBy || "Imported"}}</td>
                <td tabindex="0">{{priorCde.changeNote}}</td>
                <td tabindex="0"><a class="fa fa-eye" ng-show="priorCde.updated" ng-click="viewDiff(priorCde)"> View</a><span
                            ng-show="!priorCde.updated">First Version</span></td>
                <td tabindex="0"><a href="#/deview?cdeId={{priorCde._id}}" id="prior-{{$index}}" class="fa fa-eye">
                        View</a></td>
            </tr>
            </tbody>

        </table>
        <div tabindex="0" ng-show="priorCdes.length == 0">This Data Element has no history</div>
    </div>
    <div class="col-md-7">
        <div ng-include="'/cde/public/html/cdeDiff.html'"></div>
    </div>
</div>

<script type="text/ng-template" id="/propertyDiff.html">
    <span tabindex="0" ng-if="values.removed.length>0">Removed: </span><span ng-repeat="pv in values.removed">
        {{ renderValue(pv) }};
    </span>
    <span tabindex="0" ng-if="values.added.length>0">Added: </span><span ng-repeat="pv in values.added">
        {{ renderValue(pv) }};
    </span>
</script>