<h4>History</h4>
<div class="row"  ng-controller="CdeDiffCtrl">
    <div class="col-md-5">
    <table ng-show="priorCdes.length > 0" class="table" id="historyTable">
        <caption>List of previous versions</caption>
        <thead>
            <tr>
                <th>Updated at</th>
                <th>Updated by</th>
                <th>Change Note</th>
                <th>Modifications since Previous Version</th>
                <th>See Full</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{elt.updated | date: 'MM/dd/yyyy @ h:mma'}}</td>
                <td>{{elt.updatedBy.username}}</td>
                <td>{{elt.changeNote}}</td>
                <td><a class="fa fa-eye" ng-click="viewDiff(elt)"> View</a></td>
                <td>Currently Viewing</td>
            </tr>
            <tr ng-repeat="priorCde in priorCdes | orderBy:[nullsToBottom,'-updated']">
                <td>{{priorCde.updated | date: 'MM/dd/yyyy @ h:mma'}}</td>
                <td>{{priorCde.updatedBy.username || priorCde.createdBy || "Imported"}}</td>
                <td>{{priorCde.changeNote}}</td>
                <td><a class="fa fa-eye" ng-show="priorCde.updated" ng-click="viewDiff(priorCde)"> View</a><span ng-show="!priorCde.updated">First Version</span></td>
                <td><a href="#/deview?cdeId={{priorCde._id}}" id="prior-{{$index}}" class="fa fa-eye"> View</a></td>
            </tr>
        </tbody>

    </table>
    <div ng-show="priorCdes.length == 0">This Data Element has no history</div>
    </div>
    <div class="col-md-7">
            <table ng-show="modifications" id="modificationsList" class="table">
                <caption>List of Modifications</caption>
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Type of Modification</th>
                        <th>New Value</th>
                        <th>Previous Value</th>
                    </tr>
                </thead>
                <tr ng-repeat="m in modifications">
                    <td class="fieldName">{{m.fieldName}}</td>
                    <td>{{m.modificationType}}</td>
                    <td class="newValue">{{m.newValue}}</td>
                    <td class="previousValue">{{m.previousValue}}</td>
                </tr>
            </table>
    </div>
</div>

<script type="text/ng-template" id="/propertyDiff.html">
    <span ng-if="values.removed.length>0">Removed: </span><span ng-repeat="pv in values.removed">
        {{ renderValue(pv) }};
    </span>
    <span ng-if="values.added.length>0">Added: </span><span ng-repeat="pv in values.added">
        {{ renderValue(pv) }};
    </span>
</script>