<h4>History</h4>
<div class="row"  ng-controller="CdeDiffCtrl">
    <div class="col-md-5">
    <table ng-show="priorCdes.length > 0" class="table" id="historyTable">
        <thead>
            <tr>
                <td>Updated at</td>
                <td>Updated by</td>
                <td>Change Note</td>
                <td>Modifications since Previous Version</td>
                <td>See Full</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{elt.updated | date: 'MM/dd/yyyy @ h:mma'}}</td>
                <td>{{elt.updatedBy.username}}</td>
                <td>{{elt.changeNote}}</td>
                <td><a class="fa fa-eye" ng-click="viewDiff(elt)"> View</a></td>
                <td>Currently Viewing</td>
            </tr>
            <tr ng-repeat="priorCde in priorCdes | orderBy:[nullsToBottom,'-updated']">
                <td>{{priorCde.updated | date: 'MM/dd/yyyy @ h:mma' || "First Version"}}</td>
                <td>{{priorCde.updatedBy.username || "First Version"}}</td>
                <td>{{priorCde.changeNote}}</td>
                <td><a class="fa fa-eye" ng-show="priorCde.updated" ng-click="viewDiff(priorCde)"> View</a><span ng-show="!priorCde.updated">First Version</span></td>
                <td><a href="#/deview?cdeId={{priorCde._id}}" id="prior-{{$index}}" class="fa fa-eye"> View</a></td>
            </tr>
        </tbody>

    </table>
    <div ng-show="priorCdes.length == 0">This Data Element has no history</div>
    </div>
    <div class="col-md-7">
        <dl>
            <!--dt ng-show="diff.primaryName">Primary Name: </dt><dd><span ng-bind-html="diff.primaryName"></span></dd>
            <dt ng-show="diff.primaryDefinition">Primary Definition: </dt><dd><span ng-bind-html="diff.primaryDefinition"></span></dd>
            <dt ng-show="diff.stewardOrg">Steward: </dt><dd><span ng-bind-html="diff.stewardOrg"></span></dd>
            <dt ng-show="diff.version">Version: </dt><dd><span ng-bind-html="diff.version"></span></dd>
            <dt ng-show="diff.uom">Unit of Measure: </dt><dd><span ng-bind-html="diff.uom"></span></dd>
            <dt ng-show="diff.datatype">Datatype: </dt><dd><span ng-bind-html="diff.datatype"></span></dd>
            <dt ng-show="diff.permissibleValues">Permissible Values: </dt><dd><span ng-bind-html="diff.permissibleValues"></span></dd>
            <dt ng-show="diff.naming">Naming: </dt><dd><span ng-bind-html="diff.naming"></span></dd>
            <dt ng-show="diff.property.concepts.removed.length>0 || diff.property.concepts.added.length>0">Concepts (Property): </dt>
            <dd diff ng-show="diff.property.concepts.removed.length>0 || diff.property.concepts.added.length>0" values="diff.property.concepts"></dd>
            
            <dt ng-show="diff.objectClass.concepts.removed.length>0 || diff.objectClass.concepts.added.length>0">Concepts (Class): </dt>
            <dd diff ng-show="diff.objectClass.concepts.removed.length>0 || diff.objectClass.concepts.added.length>0" values="diff.objectClass.concepts"></dd>

            <dt ng-show="diff.dataElementConcept.concepts.removed.length>0 || diff.dataElementConcept.concepts.added.length>0">Concepts (Data Element): </dt>
            <dd diff ng-show="diff.dataElementConcept.concepts.removed.length>0 || diff.dataElementConcept.concepts.added.length>0" values="diff.dataElementConcept.concepts"></dd> 
            
            <dt ng-show="diff.registrationState">Registration State: </dt>
            <dd ng-show="diff.registrationState"><span ng-bind-html="diff.registrationState"></span></dd>
            
            <dt ng-show="diff.ids">Identifiers: </dt>
            <dd ng-show="diff.ids"><span ng-bind-html="diff.ids"></span></dd-->   
            
            <table class="table">
                <caption>List of Modifications</caption>
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Type of Modification</th>
                        <th>New Value</th>
                        <th>Previous Value</th>
                    </tr>
                </thead>
                <tr ng-repeat="m in modifications">
                    <td>{{m.fieldName}}</td>
                    <td>{{m.modificationType}}</td>
                    <td>{{m.newValue}}</td>
                    <td>{{m.previousValue}}</td>
                </tr>
            </table>
         
        </dl>
    </div>
</div>

<script type="text/ng-template" id="/propertyDiff.html">
    <span ng-if="values.removed.length>0">Removed: </span><span ng-repeat="pv in values.removed">
        {{ renderValue(pv) }};
    </span>
    <span ng-if="values.added.length>0">Added: </span><span ng-repeat="pv in values.added">
        {{ renderValue(pv) }};
    </span>
</script>