<%- include selectBoardModal.ejs %> 

<div class="container-fluid">
    <div class="row">
    <div class="col-md-5">
    <form name="createCde" role="form">
        <fieldset>
            <legend>Create Data Element</legend>

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" required ng-model="cde.designation" name="cde.designation" ng-change="showSuggestions()">
                <span ng-show="createCde.cde.designation.$error.required" >Required</span>
            </div>

            <div class="form-group">
                <label>Definition</label>
                <input type="text" class="form-control" required ng-model="cde.definition" name="cde.definition">
                <span ng-show="createCde.cde.definition.$error.required" class="help-inline">Required</span>
            </div>

            <div class="form-group">        
                <label>Version</label>
                <input type="text" class="form-control" ng-model="cde.version" name="cde.version">
            </div>

            <div class="form-group">
                <label for="cde.stewardOrg.name">Steward Organization</label>
                <select class="form-control" ng-model="cde.stewardOrg.name" id="cde.stewardOrg.name" required>
                    <option value="">Select One</option>
                    <option ng-repeat="o in myOrgs" ng-value="o">{{o}}</option>
                </select>
            </div>

            <div class="form-group" ng-show="cde.stewardOrg.name">
                <label for="selectDefault">Default Classifications</label>
                <%- include classif-sub-elements.ejs %>
                <div ng-include="'classificationBody.html'">
                </div>
                <button class="btn btn-default btn-small" ng-click="openSelectDefaultClassificationModal()" id="selectDefault">Select</button>
            </div>
            <script type="text/ng-template" id="addClassificationModalContent.html">
                <%- include addClassification.ejs %>
            </script>            
            <br />

            <div ng-show="validationErrors() !== null">
                <i class="fa fa-warning"></i> {{validationErrors()}}
            </div>
            <hr/>
            <a href="#/" class="btn btn-warning">Cancel</a>
            <input id="submit" type="submit" ng-click="save()" class="btn btn-success" 
                value="Save" ng-disabled="isClean() || createCde.$invalid || validationErrors() !== null">                     
            </input>
        </fieldset>
    </form>

    </div>
        <div class="col-md-7" ng-show="cdes">
            <h4>Possible Matches</h4>
            <div class="panel-group" id="accordion">
                <div ng-include="'accordionList.html'" ng-init="ejsPage = 'createcde';"></div>                
                <pagination ng-show="cdes.length > 0" align="center" direction-links="true" max-size="10" total-items="totalItems" items-per-page="20" page="currentPage"></pagination>
            </div>
        </div>
    </div>
</div>

