<div class="container-fluid">
    <h1 class="page-header">Side by Side Compare</h1>

    <div ng-show="cdes.length !== 2" class="container">
        <h3>The side by side compare feature requires two data elements to be selected.</h3>
        <p>Note: To add a data element, click on the <i class="fa fa-plus"></i> next to it.</p>
    </div>

    <div class="row">
        <div ng-repeat="cde in cdes" class="col-md-6">
            <center>
                <a class='btn btn-small btn-default fa fa-eye' ng-href="#/deview/?cdeId={{cde._id}}" title="Full Detail for {{cde.naming[0].designation}}"> View Full Detail</a>
                <span ng-controller="MergeRequestCtrl">
                    <a class='btn btn-small btn-default fa fa-plus-square' ng-show="isMergeRequestPossible(cde, cdes[($index+1)%2])" ng-click="openMergeModal($index)" title="Merge {{cde.naming[0].designation}}" id="retireMerge-{{$index}}"> Retire & Merge</a>
                    <span ng-show="cde.registrationState.administrativeStatus === 'Retire Candidate'">
                        Pending Merge Request
                    </span>
                </span>
            </center>
        </div>        
    </div>
    <div class="row">
        <div ng-repeat="cde in cdes" class="col-md-6">
            <%- include deNaming.ejs %>
        </div>        
    </div>
    <div class="row">
        <div ng-repeat="cde in cdes" class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Steward: </dt><dd>{{cde.stewardOrg.name}}</dd>
                <dt>Status: </dt><dd id="dd_status">{{cde.registrationState.registrationStatus}}</dd>
                <dt ng-show="cde.formUsageCounter">Form Usage: </dt><dd>{{cde.formUsageCounter}}</dd>
                <dt ng-show="cde.views">Views: </dt><dd id="dd_views">{{cde.views}}</dd>
                <dt>Added to NLM: </dt>
                <dd ng-controller="AuditCtrl" >{{cde.created | date: 'MM/dd/yyyy @ h:mma'}}</dd>
                <dt ng-show="cde.updated">Updated in NLM: </dt><dd>{{cde.updated | date: 'MM/dd/yyyy @ h:mma'}}</dd>
                <dt id="dt_createdBy" ng-show="cde.createdBy">Created By: </dt><dd id="dd_createdBy">{{cde.createdBy.username}}</dd>
            </dl>
        </div>        
    </div>
    <div class="row">
        <div ng-repeat="cde in cdes" class="col-md-6">
            <%- include valueDomainSwitch.ejs %>
        </div>        
    </div>
    <div class="row">
        <div ng-repeat="cde in cdes" class="col-md-6">
            <%- include deConcepts.ejs %>
        </div>        
    </div>
    <script type="text/ng-template" id="mergeModal.html">
        <%- include mergeModal.ejs %>
    </script>

  
</div>