<dl class="dl-horizontal">
  <dt>Link: </dt>
  <dd>
        <div inline-edit model="cde.valueDomain.datatypeExternallyDefined.link" is-allowed="isAllowed(cde)" on-ok="stageCde(cde)"> </div>
  </dd>
  <dt>Description: </dt>
  <dd>
        <div inline-area-visibility="inlineAreaEditVisibility" model="cde.valueDomain.datatypeExternallyDefined.description" is-allowed="isAllowed(cde)" def-format="cde.valueDomain.datatypeExternallyDefined.descriptionFormat" on-ok="stageCde(cde)"> </div>
  </dd>
</dl>