<dl class="dl-horizontal">
  <dt>Link: </dt>
  <dd>
    <div inline-edit model="elt.valueDomain.datatypeExternallyDefined.link" is-allowed="canCurate" on-ok="stageElt(elt)"> </div>
  </dd>
  <dt>Description: </dt>
  <dd>
    <div inline-area-edit model="elt.valueDomain.datatypeExternallyDefined.description" is-allowed="canCurate" def-format="elt.valueDomain.datatypeExternallyDefined.descriptionFormat" on-ok="stageElt(elt)"> </div>
  </dd>
</dl>