<dl class="dl-horizontal">
  <dt tabindex="0" >Link: </dt>
  <dd tabindex="0" >
    <div inline-edit model="elt.valueDomain.datatypeExternallyDefined.link" is-allowed="canCurate" on-ok="stageElt(elt)"> </div>
  </dd>
  <dt tabindex="0" >Description: </dt>
  <dd tabindex="0" >
    <div inline-area-edit model="elt.valueDomain.datatypeExternallyDefined.description" is-allowed="canCurate" def-format="elt.valueDomain.datatypeExternallyDefined.descriptionFormat" on-ok="stageElt(elt)"> </div>
  </dd>
</dl>