<div class="modal-header ng-scope">
    <h4>Retire & Merge CDE</h4>
</div>     
<div class="modal-body">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <a target="_blank" href="#/deview?tinyId={{source.tinyId}}">{{source.naming[0].designation}}</a> [{{ source.stewardOrg.name }}]
            <br><i class="fa fa-arrow-down"></i><br>
            <a target="_blank" href="#/deview?tinyId={{target.tinyId}}">{{target.naming[0].designation}}</a> [{{ target.stewardOrg.name }}]
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            Fields to be Imported
        <div class="row">
          <div class="col-md-offset-1 col-md-4"><input type="checkbox" ng-model="mergeRequest.mergeFields.classifications"> Classifications</div>
        </div>             
        <div class="row">
          <div class="col-md-offset-1 col-md-4"><input type="checkbox" ng-model="mergeRequest.mergeFields.ids"> Identifiers</div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-4"><input type="checkbox" ng-model="mergeRequest.mergeFields.naming"> Names</div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-4"><input type="checkbox" ng-model="mergeRequest.mergeFields.properties"> Properties</div>
        </div>             
        <div class="row">
          <div class="col-md-offset-1 col-md-4"><input type="checkbox" ng-model="mergeRequest.mergeFields.attachments"> Attachments</div>
        </div>            
        </div>
    </div>
</div>

<div ng-show="showApprovalAlert()" class="alert alert-warning">
    <div class=""><i class="fa fa-exclamation-triangle"></i> The action will require an approval.</div>
</div>

<div class="modal-footer">
    <button class="btn btn-default cancel" ng-click="cancel()">Cancel</button>
    <button class="btn btn-warning cancel" ng-click="sendMergeRequest()" id="sendMergeRequest">Retire & Merge</button>
</div>



