<div class="container-fluid">

    <hr/>

    <div ng-repeat="board in boards">
        <div class="row">
            <div class="col-md-3 text-right">
                <div class="row">
                    <span ng-show="showDelete">
                        Confirm Delete <i class="fa fa-check" ng-click="showDelete = false; removeBoard($index)" id="confirmRemove-{{$index}}"></i>
                        <i class="fa fa-times" ng-click="showDelete = false"></i>
                    </span>
                    <i ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o" id="removeBoard-{{$index}}"></i></dd>
                </div>
                <div class="row">
                    <span ng-show="showChangeStatus">
                        Change Status? <i class="fa fa-check" ng-click="changeStatus($index)" id="confirmChangeStatus_{{$index}}"></i>
                        <i class="fa fa-times" ng-click="showChangeStatus = false"></i>
                    </span>
                    <span ng-hide="showChangeStatus">
                        <i class="fa fa-unlock" ng-show="board.shareStatus === 'Public'" ng-click="showChangeStatus = true" id="publicIcon_{{$index}}"> </i>
                        <i class="fa fa-lock" ng-hide="board.shareStatus === 'Public'" ng-click="showChangeStatus = true" id="privateIcon_{{$index}}"> </i>
                    </span>
                </div>
            </div>
            <div class="col-md-9">
                <dl class="dl-horizontal">
                    <dt>Name: </dt> 
                    <dd id="dd_name_{{$index}}">
                        <div ng-switch="board.editMode">
                            <div ng-switch-when="true">
                                <input type="text" ng-model="board.name" id="name_input_{{$index}}"/>
                                <i class="fa fa-check" ng-click="save(board)" id="name_confirm_{{$index}}"></i>
                                <i class="fa fa-times" ng-click="cancelSave(board)"></i>
                            </div>
                            <div ng-switch-default>
                                <i class="fa fa-pencil" ng-click="board.editMode = true" id="name_edit_{{$index}}"></i>  <span ng-bind-html="board.name"></span>
                            </div>
                        </div>
                    </dd>
                    <dt>Description: </dt>
                    <dd id="dd_def_{{$index}}">
                        <div ng-switch="board.editMode"> 
                            <div ng-switch-when="true">
                               <textarea ng-model="board.description" id="desc_input_{{$index}}"></textarea>
                               <i class="fa fa-check" ng-click="save(board)" id="desc_confirm_{{$index}}"></i>
                               <i class="fa fa-times" ng-click="cancelSave(board)"></i>
                            </div>
                            <div ng-switch-default>
                                <i class="fa fa-pencil" ng-click="board.editMode = true" id="desc_edit_{{$index}}"></i> <span ng-bind-html="board.description"></span>
                            </div>
                        </div>
                    </dd>
                    <dt>Number of CDEs: </dt><dd id="dd_numb_{{$index}}">{{board.pins.length}}</dd>
                    <dt>Modified: </dt><dd id="dd_mod">{{board.updatedDate | date: 'MM/dd/yyyy @ h:mma'}}</dd>
                </dl>
                <a class="btn btn-default" href="#/board/{{board._id}}" id="view_{{$index}}">View Board</a> 
            </div>
        </div>
        <hr/>
    </div>

    <button class="btn btn-small btn-default" value="add" ng-click="openNewBoard()" id="addBoard"><i class="fa fa-plus"> </i> Add Board</button>

    <script type="text/ng-template" id="newBoardModalContent.html">
        <%- include newBoardModal.ejs %>
    </script>
</div>