<div class="modal-header" id="newConceptModalHeader">
    <h4>Add Concept</h4>
</div>
<form name="form" role="form">
<div class="modal-body" id="newConceptModalBody">
    <div class="form-group">
        <label for="name">Code Name</label>
        <input class="form-control" ng-model="newConcept.name" name="name" Placeholder="Concept Code Name" required/>
    </div>    
    <div class="form-group">
        <label for="codeId">Code ID</label>
        <input class="form-control" name="codeId" ng-model="newConcept.originId" placeholder="Concept Code Identifier" required />
    </div>
    
    <div class="form-group">
        <label for="codeSystem">Code System</label>
        <input class="form-control" name="codeSystem" ng-model="newConcept.origin" value="LOINC" required />
    </div>
    <div class="form-group">
    <label for="conceptType">Concept Type</label>
        <select class="form-control" ng-model="newConcept.type" name="conceptType" required>
            <option value="dec">Data Element</option>
            <option value="oc">Class</option>
            <option value="prop">Property</option>
        </select>
    </div>
</div>
<div class="modal-footer" id="newConceptModalFooter">
    <button class="btn cancel" ng-click="cancelCreate()" id="cancelCreate">Cancel</button>
    <button class="btn btn-warning" ng-click="okCreate()" ng-disabled="isClean() || form.$invalid" id="createConcept">Save</button>
</div>
</form>
