<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset1">
            <h4>Profile</h4>
            <dl class="dl-horizontal">
                <dt>Username: </dt><dd id="dd_username">{{user.username}}</dd>
                <dt>Quota: </dt><dd id="dd_quota">{{user.quota / 1024 / 1024 | number:2 | placeholdEmpty}} MB</dd>
                <dt>Curator for: </dt><dd id="dd_curatorFor">{{user.orgCurator}}</dd>
                <dt>Admin for: </dt><dd id="dd_adminFor">{{user.orgAdmin}}</dd>
                <dt>Email: </dt><dd id="user_email"><div inline-edit id="emailEdit" model="user.email" is-allowed="true" on-ok="saveProfile()" /></dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col-md-offset1">
            <h4>Viewing History</h4>
            <div id="accordionList" ng-include="'/template/cde/cdeAccordionList'" ng-init="ejsPage = 'list';"></div>            
        </div>    
    </div>
</div>

