<div>
    <h4>Display Profiles</h4>
    <div *ngFor="let profile of elt.displayProfiles; let index = index" class="hr" id="profile_{{index}}">
        <div class="text-right" *ngIf="canEdit">
            <span *ngIf="showDelete">Confirm Delete
                <a class="fa fa-check" (click)="showDelete = false; removeDisplayProfile(index)"
                   id="confirmRemoveDisplayProfile-{{index}}" title="OK" href=""></a>
                <a class="fa fa-times" (click)="showDelete = false" title="Cancel" href=""></a>
            </span>
            <a (click)="showDelete = true" *ngIf="!showDelete" class="fa fa-trash-o"
               id="removeDisplayProfile-{{index}}" title="Remove" href=""></a>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <dl class="dl-horizontal">
                    <dt><label>Name:</label></dt>
                    <dd>
                        <cde-inline-edit id="profileNameEdit_{{index}}"
                                     [(model)]="profile.name"
                                     [isAllowed]="canEdit"
                                     (modelChange)="elt.unsaved = true"></cde-inline-edit>
                    </dd>
                    <dt><label for="displayAsMatrix_{{index}}">Sections as matrices:</label></dt>
                    <dd>
                        <input type="checkbox" [(ngModel)]="profile.sectionsAsMatrix" [disabled]="!canEdit"
                               id="displayAsMatrix_{{index}}" (click)="elt.unsaved = true"/>
                    </dd>
                    <dt><label for="displayValues_{{index}}">Display answer values:</label></dt>
                    <dd>
                        <input type="checkbox" [(ngModel)]="profile.displayValues" [disabled]="!canEdit"
                               id="displayValues_{{index}}" (click)="elt.unsaved = true"/>
                    </dd>
                    <dt><label for="displayInstructions_{{index}}">Display Instructions:</label></dt>
                    <dd>
                        <input type="checkbox" [(ngModel)]="profile.displayInstructions" [disabled]="!canEdit"
                               id="displayInstructions_{{index}}" (click)="elt.unsaved = true">
                    </dd>
                    <dt><label for="displayNumbering_{{index}}">Display Question Numbers:</label></dt>
                    <dd>
                        <input type="checkbox" [(ngModel)]="profile.displayNumbering" [disabled]="!canEdit"
                               id="displayNumbering_{{index}}" (click)="elt.unsaved = true">
                    </dd>
                    <dt><label for="displayType_{{index}}">Display Printable Logic:</label></dt>
                    <dd>
                        <input type="checkbox" [disabled]="!canEdit"
                               id="displayType_{{index}}"
                               (change)="setDisplayType(profile, $event)">
                    </dd>
                    <br/>
                    <dt><label>Number of Columns:</label></dt>
                    <dd>
                        <nouislider [(ngModel)]="profile.numberOfColumns"
                            id="nc_{{index}}" [connect]="true"
                            [min]="1" [max]="6" [step]="1"
                            [tooltips]="true"
                            ></nouislider>
                   </dd>
                    <dt><label for="displayInvisible_{{index}}">Display Invisible Questions:</label></dt>
                    <dd>
                        <input type="checkbox" [(ngModel)]="profile.displayInvisible" [disabled]="!canEdit"
                               id="displayInvisible_{{index}}" (click)="elt.unsaved = true">
                    </dd>
                    <dt><label for="displayRepeatFormat_{{index}}">Repeat Format String:</label></dt>
                    <dd>
                        <input type="text" class="form-control" [(ngModel)]="profile.repeatFormat"
                               [disabled]="!canEdit"
                               id="displayRepeatFormat_{{index}}" (click)="elt.unsaved = true"> (Use # in place of number. Ex: "#." for "1.")
                    </dd>
                </dl>
            </div>
            <div class="col-md-7 col-xs-12">
                <div style="border: dashed 1px; zoom:60%; padding: 0 15px;">
                    <cde-native-render [elt]="sampleElt" [profile]="profile"></cde-native-render>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="canEdit" class="btn btn-small btn-default" value="add" (click)="addProfile()"
            id="addDisplayProfile"><i class="fa fa-plus"> </i> Add Profile
    </button>
</div>
