<div>{{section.skipLogic.condition}}</div>
<div *ngFor="let token of tokens; let i = index;" class="row">
    <div class="mr-1 col-1">
        <cde-logic-autocomplete *ngIf="i > 0"></cde-logic-autocomplete>
    </div>
    <div class="mr-1 col-5">
        <cde-question-autocomplete></cde-question-autocomplete>
    </div>
    <div class="mr-1 col-1">
        <cde-operator-autocomplete></cde-operator-autocomplete>
    </div>
    <div class="mr-1 col-4">
        <cde-answer-autocomplete></cde-answer-autocomplete>
    </div>
    <mat-icon class="float-left" (click)="tokens.pop()">remove</mat-icon>
</div>
<mat-icon (click)="addToken()">add</mat-icon>
{{section.skipLogic?.validationError}}