<h4>
    <cde-summary-heading [elt]="elt" [eltIndex]="eltIndex" urlPrefix="/deView">
        <span class="summary-list-before">
            <input id="elt_compare_{{eltIndex}}" type="checkbox" title="Select Elt" [(ngModel)]="elt.checked"/>
            <cde-list-sort [elt]="elt" [eltIndex]="eltIndex"
                           [currentPage]="boardListService.currentPage" [totalItems]="boardListService.totalItems"></cde-list-sort>
        </span>
        <span class="summary-list-after">
            <cde-unpin-board [elt]="elt" [eltIndex]="eltIndex"></cde-unpin-board>
            <cde-pin-quickboard [elt]="elt" [eltIndex]="eltIndex"></cde-pin-quickboard>
        </span>
    </cde-summary-heading>
</h4>

<div class="row">
    <div class="col-lg-4 col-sm-12 col-12">
        <cde-cde-general-details [elt]="elt"></cde-cde-general-details>
    </div>
    <div class="col-lg-5 col-sm-8 col-12" >
        <cde-value-domain-summary [elt]="elt"></cde-value-domain-summary>
    </div>
    <div class="col-lg-3 col-sm-4 col-12">
        <img *ngFor="let attachment of elt.attachments.filter(defaultAttachmentsFilter)"
             alt="Image attached to the CDE"
             src="/server/system/data/{{attachment.fileid}}" class='cdeAttachmentThumbnail'/>
    </div>
</div>
