<h2>Classification</h2>
<ng-template #notAvailable>
    <div style="font-size: 20px; line-height: 1">
        Classification is not available in Drafts. Click the Draft slider above to view the current Published version.
    </div>
</ng-template>
<ng-container *ngIf="!elt.isDraft; else notAvailable">
    <button *ngIf="canClassify(userService.user)" id="openClassificationModalBtn" class="button" (click)="openClassifyItemModal()">
        <mat-icon>folder_open</mat-icon>
        Classify this CDE
    </button>
    <cde-classification-view [elt]="elt" (confirmDelete)="removeClassif($event)"></cde-classification-view>
</ng-container>

<cde-classify-item #classifyItemComponent [modalTitle]="'Classify this CDE'"
                   (classified)="classifyItem($event)">
</cde-classify-item>
