<div class="modal-header">
    <h3>Edit Answer</h3>
</div>
<div class="modal-body" id="edit-answer-div">
    <table class="table table-border">
        <thead>
        <tr>
            <th>Value</th>
            <th>Code Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>Code System</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let answer of answers;let i=index">
            <td>{{answer.permissibleValue}}</td>
            <td>{{answer.valueMeaningName}}</td>
            <td>{{answer.valueMeaningCode}}</td>
            <td>{{answer.valueMeaningDefinition}}</td>
            <td>{{answer.codeSystemName}}</td>
            <td>
                <cde-sortable-array [theArray]="answers" [index]="i"></cde-sortable-array>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button mat-raised-button [mat-dialog-close]="'clear'">Clear All</button>
    <button mat-raised-button [mat-dialog-close] id="cancelEditAnswerBtn">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="answers" id="saveEditAnswerBtn">Save</button>
</div>
