<h1>Resources</h1>
<div class="container-fluid">
    <h1>Resources</h1>
    <mat-icon (click)="openHelp()">help_outline</mat-icon>

<ng-container *ngIf="resource">
    <cde-inline-area-edit [(model)]="resource.body" [defFormat]="'html'" [isAllowed]="true"
                          (modelChange)="save()">
    </cde-inline-area-edit>

    <cde-attachments [elt]="resource" [canEdit]="true"
                     (removeAttachment)="removeAttachment($event);"
                     (upload)="upload($event);">
    </cde-attachments>
</ng-container>
