<h1 mat-dialog-title>Help</h1>
<div mat-dialog-content>
    <h5>Embedding RSS Feeds</h5>
    <p>
        To embed a RSS feed, surround your feed URL with &lt;rss-feed&gt;
    </p>
    <p>
        For example:<br/>
        &lt;rss-feed&gt;https://www.example.com/my-rss-feed&lt;/rss-feed&gt;
    </p>


    <h5>Embedding JW Videos</h5>
    <p>
        To embed a youtube video, surround your URL with &lt;cde-youtube-video&gt;
    </p>
    <p>
        For example:<br>
        &lt;cde-youtube-video&gt;https://www.example.com/my-cde-video&lt;/cde-youtube-video&gt;
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
</div>