<bs-sortable #sortableComponent [(ngModel)]="left.questions"
             [itemTemplate]="questionTemplate" itemClass="sortable-item"
             itemActiveClass="sortable-item-active" placeholderItem="Drag here"
             placeholderClass="sortable-item" wrapperClass="sortable-wrapper">
</bs-sortable>

<button mat-raised-button id="addPlaceHolderToLeft" (click)="addItem()">
    <mat-icon>add</mat-icon>
    Add Placeholder
</button>

<ng-template #questionTemplate let-item="item" let-index="index">
    <div class="row boxed-div overflowHidden" title="{{item.value.isRetired?'CDE is Retired':''}}"
         [ngClass]="{'bgGreen': item.value.info && item.value.info.match, 'bgRed': item.value.info && item.value.info.error}"
         id="leftQuestion_{{index}}">
        <mat-icon class="right" id="removeLeftQuestion_{{index}}" (click)="removeItem(index)">delete_outline</mat-icon>
        <div class="col-3 Label no-left-right-padding no-left-right-margin" matTooltip="{{item.value.question.cde.name}}">CDE Name:
            <div *ngIf="item.value.isRetired">(Retired)</div>
            <div *ngIf="item.value.info && item.value.info.error">{{item.value.info.error}}</div>
        </div>
        <div class="col-8 no-left-right-padding no-left-right-margin mergeCdeName">
            <a target="_blank" href="/deView?tinyId={{item.value.question.cde.tinyId}}">
                {{item.value.question.cde.name}}
            </a>
        </div>
    </div>
</ng-template>
