<div cdkDropList (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let question of left.questions; let i = index">
        <div cdkDrag id="leftQuestion_{{i}}" class="questionToken boxed-div"
             title="{{question.isRetired?'CDE is Retired':''}}"
             [ngClass]="{'bgGreen': question.question.info && question.question.info.match, 'bgRed': question.question.info && question.question.info.error}">
            <mat-icon id="removeLeftQuestion_{{i}}" class="right fake-button" role="button"
                      (click)="removeItem(i)">delete_outline
            </mat-icon>
            <span class="Label">
            CDE Name:
            <ng-container *ngIf="question.isRetired">(Retired)</ng-container>
            <ng-container *ngIf="question.question.info && question.question.info.error">error</ng-container>
            <a target="_blank" href="/deView?tinyId={{question.question.cde.tinyId}}">{{question.question.cde.name}}</a>
        </span>
        </div>
    </ng-container>

</div>

<button class="button" (click)="addItem()">
    <mat-icon>add</mat-icon>
    Add Placeholder
</button>

