<ng-template #pinModal>
    <h3 mat-dialog-title>Choose a Board to pin this {{module | uppercase}} to
        <cde-create-board [module]="module"></cde-create-board>
    </h3>
    <div mat-dialog-content>
        <mat-icon *ngIf="myBoardsSvc.reloading || !myBoardsSvc.boards" class="spin">autorenew</mat-icon>
        <div *ngIf="myBoardsSvc.boards && myBoardsSvc.boards.length === 0" class="ml-10"> You don't have any boards
        </div>
        <div *ngIf="myBoardsSvc.boards && myBoardsSvc.boards.length > 0">
            <div class="pl-10" *ngIf="myBoardsSvc.filter">
                <div *ngIf="myBoardsSvc.filter.tags.length > 0">
                    <h4>Tags</h4>
                    <label *ngFor="let tag of myBoardsSvc.filter.tags" class="d-block">
                        <input type="checkbox" [(ngModel)]="tag.checked" (change)="myBoardsSvc.loadMyBoards()"
                               attr.data-id="tag-{{tag.key}}" class="align-middle">
                        <span class="align-middle">{{tag.key}} ({{tag.doc_count}})</span>
                    </label>
                </div>
                <div *ngIf="myBoardsSvc.filter.shareStatus.length > 0">
                    <h4>Share Status</h4>
                    <label *ngFor="let ss of myBoardsSvc.filter.shareStatus" class="d-block">
                        <input type="checkbox" [(ngModel)]="ss.checked" (change)="myBoardsSvc.loadMyBoards()"
                               attr.data-id="status-{{ss.key}}" class="align-middle">
                        <span class="align-middle">{{ss.key}} ({{ss.doc_count}})</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let board of myBoardsSvc.boards; let $index = index" class="col-lg-4 col-md-3">
                    <cde-board-view-template [board]="board" [headerLink]="false"
                                             (headerClicked)="selectBoard(board); ">
                    </cde-board-view-template>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn" [mat-dialog-close] id="cancelSelect">Cancel</button>
    </div>
</ng-template>

<ng-template #ifYouLoginModal>
    <h3 mat-dialog-title>Sign up for an account</h3>
    <div mat-dialog-content>
        With an account, you will be able to:
        <ul>
            <li>Create Boards and attach CDEs to them</li>
            <li>Remember your preferences on all your devices</li>
            <li>Comment on CDEs and Forms</li>
            <li>Become a curator and create your own CDEs and Forms</li>
        </ul>
        <br>
        <div style="text-align: center">
            <a id="signUpLink" routerLink="/login"><button [mat-dialog-close] mat-raised-button>Sign up or Log In</button></a>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn" [mat-dialog-close] id="cancelSelect">Cancel</button>
    </div>
</ng-template>