<div class="container-fluid" *ngIf="onInitDone">
    <h1 class="page-header">
        <label for="orgToManage" id="manageClassificationsLabel">Classifications</label>
    </h1>
    <select class="form-control" [(ngModel)]="orgToManage" name="orgToManage" id="orgToManage">
        <option *ngFor="let o of userService.userOrgs" [value]="o">{{o}}</option>
    </select>
    <br/>
    <div id="classMgt" class="boxed-div">
    </div>
    <!--
            <h4 id="org-{{org.name}}"> {{org.name}}
                <a ng-if="isOrgAdmin()" id="addClassification" title="Add Child Classification" class="hand-cursor"
                   ng-click="openAddClassificationModal(org.name, null)"><i class="fa fa-share fa-rotate-180"></i></a>
            </h4>

            <hr/>

            <div id="repeatCs" class="container-fluid">
                <div id="repeatCm" class="container-fluid">
                    <div ng-repeat="elt in classificationToFilter()" class="pull-left boxed-div"
                         ng-init='pathArray = [elt.name]; myOrg = true;' id="classification-{{pathArray.join()}}-div">
                        <div ng-include="'/system/public/html/classifEltLoop.html'"
                             ng-init="orgName = orgToManage; page = 'management';"></div>
                    </div>
                </div>
            </div>
-->
</div>
<!--
<script type="text/ng-template" id="renameClassificationModal.html">
    <div ng-include="'/system/public/html/renameClassificationModal.html'"></div>
</script>-->
