<div id="classificationDiv">
    <h4 *ngIf="elt.isDraft">
        Classification is not available in Drafts. Click the Draft slider above to view the current Published version.
    </h4>
    <ng-container *ngIf="!elt.isDraft">
        <h4> Classification</h4>
        <button *ngIf="isAllowedModel.isOrgCurator()" class="btn btn-small btn-secondary" id="openClassificationModalBtn"
                value="add" (click)="openClassifyItemModal()">
            <i class="fa fa-folder-open-o"> </i> Classify this Form
        </button>
        <button *ngIf="isAllowedModel.isOrgCurator() && elt.formElements.length > 0"
                class="btn btn-secondary" id="openClassifyCdesModalBtn"
                (click)="openClassifyCdesModal()">
            <i class="fa fa-indent"></i> Classify CDEs
        </button>
        <div id="classificationBody">
            <cde-classification-view [elt]="elt" (confirmDelete)="removeClassif($event);"></cde-classification-view>
        </div>
    </ng-container>
</div>
<cde-classify-item-modal #classifyItemComponent [modalTitle]="'Classify this Form'"
                         (onEltSelected)="classifyItem($event)"></cde-classify-item-modal>
<cde-classify-item-modal #classifyCdesComponent [modalTitle]="'Classify all CDEs in this Form'"
                         (onEltSelected)="classifyAllCdesInForm($event)"></cde-classify-item-modal>

