<section style="background-color: #eee; padding: 10px; padding-bottom: 40px">
    <div style="padding: 2rem 1rem; margin-bottom: 0;">
        <div class="mt-0 mt-sm-5">
            <div class="row align-items-center">
                <div class="col-lg-3 col-12 ">
                    <img class="img-fluid" src="/cde/public/assets/img/min/NIH-CDE.png"
                         alt="NIH Common Data Elements (CDE) logo" style="margin-bottom: 20px"/>
                    <div id="introduction">
                        <p>The NIH Common Data Elements (CDE) Repository has been designed to provide access to
                            structured
                            human and machine-readable definitions of data elements that have been recommended or
                            required by
                            NIH Institutes and Centers and other organizations for use in research and for other
                            purposes.
                        </p>
                        <p>
                            Visit the
                            <a class="homeDescriptionLink" href="https://www.nlm.nih.gov/cde/index.html" target="_blank"
                               rel="noopener noreferrer">NIH
                                CDE Resource Portal</a>
                            for contextual information about the repository.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-sm-inline-block" *ngIf="displayCarousel">
                    <ngb-carousel *ngIf="images">
                        <ng-template ngbSlide *ngFor="let image of images">
                            <div class="picsum-img-wrapper">
                                <img [src]="image.src" [alt]="image.alt">
                            </div>
                            <div class="carousel-caption">
                                <h3>{{image.h3}}</h3>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="col-lg-3 col-12 btn-group-vertical" id='searchDiv'>
                    <a routerLink="/cde/search" id="browseCdes" class="btn btn-outline-dark my-1">
                        <mat-icon>search</mat-icon>
                        Browse CDEs</a>
                    <a routerLink="/form/search" id="browseForms" class="btn btn-outline-dark my-1">
                        <mat-icon>search</mat-icon>
                        Browse Forms</a>
                    <a (click)="takeATour()" id="takeATourBtn" class="btn btn-outline-dark my-1 hand-cursor">
                        <mat-icon class="faa-wrench faa-slow animated">flag</mat-icon>
                        Interactive Tour
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
