<h2 *ngIf="!elt.noRenderAllowed">Preview</h2>
<div class="noGridPadLarge" *ngIf="!elt.noRenderAllowed">
    <span class="dropdown">
        <button id="selectRenderButton" class="button" #exportMenuTrigger="matMenuTrigger"
                [matMenuTriggerFor]="optionsMenu">
            Options <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #optionsMenu>
            <button mat-menu-item id="button_print_follow"
                    attr.data-url="/nativeRender?tinyId={{elt.tinyId}}&selectedProfile={{selectedProfileNameDecode}}"
                    onclick="window.open(this.getAttribute('data-url'),'_blank')">
                Printable
            </button>
            <button mat-menu-item id="button_lforms"
                    attr.data-url="/assets/lform/lformsRender.html?tinyId={{elt.tinyId}}"
                    onclick="window.open(this.getAttribute('data-url'),'_blank')">
                LHC-Forms
                (Provided by <a href="https://lhncbc.nlm.nih.gov/project/lforms" target="_blank"
                                rel="noopener noreferrer"
                                (click)="$event.stopPropagation(); exportMenuTrigger.closeMenu()">LHNCBC</a>)
            </button>
            <button mat-menu-item id="printableLogicCb" (click)="overridePrintable = !overridePrintable">
                Print View:
                <mat-icon>{{overridePrintable ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
            </button>
        </mat-menu>
    </span>
    <button *ngIf="canEdit" id="openFormEditBtn" class="button light"
            [routerLink]="'/formEdit'" [queryParams]="{tinyId: elt.tinyId}">
        <mat-icon>edit</mat-icon>
        Edit
    </button>
    <ng-container *ngIf="elt.displayProfiles?.length > 0">
        <button id="select_display_profile" class="button light" [matMenuTriggerFor]="dpMenu" data-testid="display_profile_select">
            Display Profile: {{selectedProfileName}}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #dpMenu>
            <button *ngFor="let p of elt.displayProfiles; index as i" mat-menu-item
                    (click)="selectProfile(i);">{{p.name}}
            </button>
        </mat-menu>
    </ng-container>
</div>
<div class="noGridPadSmall">
    <div *ngIf="elt.noRenderAllowed" class="alert alert-info" data-testid="disallow-rendering-text" role="alert">
        <mat-icon fill="1">info</mat-icon>
        We do not have permission to display this form due to copyright/licensing restrictions. For more information,
        see the Copyright section below.
    </div>
    <p *ngIf="!elt.noRenderAllowed && !(elt.formElements.length > 0)" style="max-width: 600px; margin: auto">
        This form is empty. Form Editors can add content to this form by navigating
        to "Form Description" on the left side of the screen.
    </p>
    <div *ngIf="!elt.noRenderAllowed && elt.formElements.length > 0" class="bot-left">
        <div style="max-width: 1000px; margin: 10px 15px;">
            <cde-native-render [elt]="elt" [profile]="profile" [showTitle]="false"
                               [nativeRenderType]="overridePrintable ? NativeRenderService.FOLLOW_UP : NativeRenderService.SHOW_IF">
            </cde-native-render>
        </div>
    </div>
</div>
