<h1 mat-dialog-title>Confirm Changes:</h1>
<mat-dialog-content>
    <div class="propertyTable"
         *ngIf="updateFormVersion.newSection.inForm?.form && updateFormVersion.currentSection.inForm?.form">
        <div>Label:</div>
        <div id="mdd_section_title">
            <span [ngClass]="{mark: updateFormVersion.bLabel}">{{updateFormVersion.newSection.label | cdePlaceholder}}</span>
            <span *ngIf="updateFormVersion.bLabel"
                  class="text-danger">( was {{ updateFormVersion.currentSection.label }} )</span>
        </div>

        <div>Form:</div>
        <div id="mdd_d_form">
            <a [ngClass]="{mark: updateFormVersion.bForm}"
               href="/deView?tinyId={{updateFormVersion.newSection.inForm.form.tinyId}}&version={{updateFormVersion.newSection.inForm.form.version}}"
               target="_blank">
                <mat-icon>visibility</mat-icon>
                <span id="mdd_question_cde_name">{{updateFormVersion.newSection.inForm.form.name}}</span>
            </a>
            <span *ngIf="updateFormVersion.bForm" class="text-danger">( was
                        <a href="/deView?tinyId={{updateFormVersion.currentSection.inForm.form.tinyId}}&version={{updateFormVersion.currentSection.inForm.form.version}}"
                           target="_blank"><mat-icon>visibility</mat-icon>
                            <span id="mdd_old_question_cde_name">{{updateFormVersion.currentSection.inForm.form.name}}</span>
                        </a> )
                    </span>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="button secondary" [mat-dialog-close]>Cancel</button>
    <button class="button" [mat-dialog-close]="updateFormVersion.newSection">OK</button>
</mat-dialog-actions>
