<div class="container-fluid">
    <h1>Create Form</h1>
    <hr>
    <form #dataElementForm="ngForm">
        <div class="form-group">
            <label for="eltName">Name</label>
            <input type="text" class="form-control" id="eltName" [(ngModel)]="elt.designations[0].designation"
                   name="eltName" required>
        </div>
        <div class="form-group">
            <label for="eltDefinition">Definition</label>
            <input type="text" class="form-control" id="eltDefinition" [(ngModel)]="elt.definitions[0].definition"
                   name="eltDefinition" required>
        </div>
        <div class="form-group">
            <label for="formVersion">Version</label>
            <input type="text" class="form-control" id="formVersion" [(ngModel)]="elt.version"
                   name="formVersion" placeholder="Version">
        </div>
        <div class="form-group">
            <label for="eltStewardOrgName">Steward Organization</label>
            <select class="form-control" id="eltStewardOrgName"
                    required [(ngModel)]="elt.stewardOrg.name" name="eltStewardOrgName">
                <option value="">Select One</option>
                <option *ngFor="let o of userService.userOrgs" [value]="o">{{o}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="elt.stewardOrg.name">
            <button id="openClassificationModalBtn" class="button" (click)="openClassifyItemModal()">
                <mat-icon>folder_open</mat-icon>
                Classify this {{ elt.elementType | uppercase}}
            </button>
            <div id="classificationBody" style="display: inline-block">
                <cde-classification-view [elt]="elt" (confirmDelete)="confirmDelete($event);">
                </cde-classification-view>
            </div>
        </div>
        <div *ngIf="validationErrors(elt)" class="form-group text-danger">
            <mat-icon>warning</mat-icon>
            {{validationErrors(elt)}}
        </div>
        <div class="clearfix"></div>
        <div class="actions form-group">
            <button class="button secondary" (click)="cancelCreateForm()">Cancel</button>
            <button id="submit" class="button" type="submit" (click)="createForm()"
                    [disabled]="!dataElementForm.form.valid || !!validationErrors(elt)">Submit
            </button>
        </div>
        <hr/>
    </form>
</div>

<cde-classify-item #classifyItemComponent [modalTitle]="'Classify this Form'"
                   (classified)="afterClassified($event)"></cde-classify-item>
