<div class="container">
    <div style="display: none">Hidden Text Ensures 100% SEO. Thank you!</div>
    <div class="row">
        <div class="col-md-4 text-center text-md-left">
            <div>
                <a href="http://www.nlm.nih.gov/copyright.html"><small>Copyright</small></a>,
                <a href="http://www.nlm.nih.gov/privacy.html"><small>Privacy</small></a>,
                <a href="http://www.nlm.nih.gov/accessibility.html"><small>Accessibility</small></a>
            </div>
            <div style="margin-top: 1em">
                <small>U.S. National Library of Medicine</small>
            </div>
            <div>
                <small>8600 Rockville Pike, Bethesda, MD 20894</small>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <a href="http://www.usa.gov">
                <img alt="USA.gov logo" src="/cde/public/assets/img/min/usagov_logo.png"/>
            </a>
            <a href="http://www.nlm.nih.gov/">
                <img width="150px" alt="National Library of Medicine logo" src="/cde/public/assets/img/min/NLM-logo.png"/>
            </a>
        </div>
        <div class="col-md-4 text-center text-md-right">
            <a href="http://www.nih.gov/"><small>National Institutes of Health</small></a><br/>
            <a href="http://www.hhs.gov/"><small>Health &amp; Human Services</small></a><br/>
            <a href="http://www.nih.gov/icd/od/foia/index.htm"><small>Freedom of Information Act</small></a><br/>
            <a href="https://support.nlm.nih.gov/support/create-case/"><small>NLM Customer Support</small></a>
        </div>
    </div>
</div>
