<div class="container-md mb-1 noPrint">
    <div style="display: none">Hidden Text Ensures 100% SEO. Thank you!</div>
    <div class="row">
        <div class="col-sm-4 text-center text-sm-left d-flex flex-column">
            <p>
                <a href="http://www.nlm.nih.gov/copyright.html">Copyright</a>,
                <a href="http://www.nlm.nih.gov/privacy.html">Privacy</a>,
                <a href="http://www.nlm.nih.gov/accessibility.html">Accessibility</a>
            </p>
            <div class="push-down">
                <p>U.S. National Library of Medicine</p>
                <p>8600 Rockville Pike, Bethesda, MD 20894</p>
            </div>
        </div>
        <div class="col-sm-4 text-center m-auto">
            <a href="http://www.usa.gov">
                <img alt="USA.gov logo" src="/cde/public/assets/img/min/usagov_logo.png"/>
            </a>
            <a href="http://www.nlm.nih.gov/">
                <img width="150px" alt="National Library of Medicine logo" src="/cde/public/assets/img/min/NLM-logo.png"/>
            </a>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-6 col-sm-12 text-left text-sm-right" style="padding: 0 10px">
                    <a href="http://www.nih.gov/" class="d-block">National Institutes of Health</a>
                    <a href="http://www.hhs.gov/" class="d-block">Health &amp; Human Services</a>
                </div>
                <div class="col-6 col-sm-12 text-right" style="padding: 0 10px">
                    <a href="http://www.nih.gov/icd/od/foia/index.htm" class="d-block">Freedom of Information Act</a>
                    <a href="https://support.nlm.nih.gov/support/create-case/" class="d-block">NLM Customer Support</a>
                </div>
            </div>
        </div>
    </div>
</div>
