<dl id="general-details" class="inline-dl">
    <dt style="float: none">Question Text</dt>
    <dd itemprop="name">{{getQuestionText()}}</dd>

    <ng-container *ngIf="elt.definitions[0]">
        <dt style="float: none">Definition</dt>
        <dd itemprop="description">
            <span *ngIf="elt.definitions[0].definitionFormat !== 'html'; else descriptionHtml">{{elt.definitions[0].definition}}</span>
            <ng-template #descriptionHtml>
                <span [innerHtml]="elt.definitions[0].definition"></span>
            </ng-template>
        </dd>
    </ng-container>


    <dt>Data Type:</dt>
    <dd itemprop="datatype">{{elt.valueDomain.datatype}}</dd>



    <dt>Steward:</dt>
    <dd id="stewardOrg" itemprop="steward">
        <cde-inline-select-edit
            [value]="elt.stewardOrg.name" [selectOptions]="userOrgs" (save)="changeStewardOrg($event);"
            [isAllowed]="canEdit"
            [attr.aria-label]="orgHelperService.createOrgDetailedInfoHtml(elt.stewardOrg.name || '')"
            [cdeTooltip]="orgHelperService.createOrgDetailedInfoHtml(elt.stewardOrg.name || '')"
            cdeTooltipClass="cdeTooltipMultiline" cdeTooltipPosition="below">
        </cde-inline-select-edit>
    </dd>


    <dt>Origin:</dt>
    <dd>
    <cde-inline-edit id="origin" [(model)]="elt.origin" [isAllowed]="canEdit"
                     (modelChange)="eltChange.emit();">addNew
    </cde-inline-edit>
    </dd>
</dl>
