<div class="container-fluid">
    <form id="searchBoardsForm">
        <div class="input-group input-group-lg">
            <mat-form-field  style="width: 80%; font-size: 25px; margin: auto">
                <input [(ngModel)]="filter.search" name="search" matInput
                       id="search" placeholder="Search Boards...">
                <mat-icon matSuffix (click)="loadPublicBoards()" id="search.submit">search</mat-icon>
            </mat-form-field>
        </div>
    </form>
    <span *ngIf="filter.search && boards.length === 0">
        <h4><mat-icon>sentiment_very_dissatisfied</mat-icon> No results were found. Try other criteria.</h4>
    </span>
    <div class="row" *ngIf="boards.length > 0">
        <div class="col-lg-2 col-4 noLeftRightPadding">
            <div *ngIf="filter.types?.length > 0">
                <h4>Type</h4>
                <label *ngFor="let type of filter.types; let $index = index" class="d-block">
                    <input type="checkbox" data-id="type-{{type.key}}" [checked]="type.checked"
                           (change)="selectAggregation('types', $index)" class="align-middle">
                    <span class="align-middle">{{type.key}} ({{type.doc_count}})</span>
                </label>
            </div>
            <div *ngIf="filter.tags.length > 0">
                <h4>Tags</h4>
                <label *ngFor="let tag of filter.tags; let $index = index" class="d-block">
                    <input type="checkbox" data-id="tag-{{tag.key}}" [checked]="tag.checked"
                           (change)="selectAggregation('tags', $index)" class="align-middle">
                    <span class="align-middle">{{tag.key}} ({{tag.doc_count}})</span>
                </label>
            </div>
        </div>
        <div class="col-lg-10 col-8 dragDiv" id="my-board-container">
            <div class="row">
                <div *ngFor="let board of boards; let $index = index" class="col-xl-4 col-lg-4 col-sm-6 col-12">
                    <cde-board-view-template [board]="board"></cde-board-view-template>
                </div>
            </div>
        </div>
    </div>
</div>
