<!--<div class="container-fluid" ng-include="'/help/public/html/' + help.destination + '.html'"></div>-->
<div class="container-fluid">
    <button ng-if="isDocumentationEditor()" class="btn btn-default" ng-click="openNewArticleModal()"><i class="fa fa-plus"></i> Add New</button>
    <div ng-switch="editMode">
        <div ng-switch-default>
            <button ng-if="isDocumentationEditor()" class="btn btn-default" ng-click="edit()"><i class="fa fa-pencil"></i> Edit</button>
            <div ng-bind-html="article.body"/>
        </div> 
        <div ng-switch-when="true">
            <button class="btn btn-default btn-danger" ng-click="cancel()"><i class="fa fa-times"></i> Cancel</button>
            <button class="btn btn-default btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Save</button>
            <hr/>
            <div text-angular ng-model="article.body" ta-toolbar-group-class="btn-group" ></div>
        </div>
    </div>
</div>
