<ngb-accordion>
    <ngb-panel class='panel-default' *ngFor="let cde of cdes">
        <ng-template ngbPanelTitle>
            <span>{{cde.naming[0].designation}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <cde-cde-general-details [elt]="cde"></cde-cde-general-details>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <cde-value-domain-summary [elt]="cde"></cde-value-domain-summary>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <table *ngIf="cde.ids.length > 0" class="table cdeTable" summary="Identifiers List">
                    <tr>
                        <th id="id" class="col-xs-6">Id</th>
                        <th id="version" class="col-xs-2">Vers.</th>
                        <th id="source" class="col-xs-4">Src.</th>
                    </tr>
                    <tr *ngFor="let id of cde.ids">
                        <td headers="id" class="col-xs-6">{{id.id}}</td>
                        <td headers="version" class="col-xs-2">{{id.version}}</td>
                        <td headers="source" class="col-xs-4">{{id.source}}</td>
                    </tr>
                </table>
                <ng-container *ngFor="let attachment of cde.attachments">
                    <img *ngIf=" attachment.isDefault" alt="Image attached to the CDE"
                         src="/data/{{attachment.fileid}}" class='cdeAttachmentThumbnail'/>
                </ng-container>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
