<div id="conceptsDiv">
    <h4>Concepts</h4>
    <div class="row">
        <div class="col-lg-12">
            <div *ngFor="let config of conceptConfigurations; ">
                <div *ngIf="elt[config.type].concepts.length > 0">
                    <h5 [innerHTML]="config.details.display"></h5>
                    <table class="table table-bordered table-condensed table-striped">
                        <tr>
                            <th>Code Name</th>
                            <th>Code System</th>
                            <th>Code ID</th>
                            <th id="conceptActions" *ngIf="canEdit"></th>
                        </tr>
                        <tr *ngFor="let concept of elt[config.type].concepts; let $index = index" itemscope
                            itemtype="http://schema.org/MedicalCode">
                            <td><span (click)="relatedCdes(concept.name, config)" id="concept_cde_name_{{$index}}"
                                      itemprop="name" class="fake-link">{{concept.name}}</span>
                            </td>
                            <td itemprop="codeSystem">{{concept.origin}}</td>
                            <td itemprop="codeValue">{{concept.originId}}</td>
                            <td headers="actions" *ngIf="canEdit">
                                <span id="remove{{config.type}}-{{$index}}" class="btn-secondary fa fa-trash-o"
                                      (click)="removeConcept(config.type, $index)" title="Remove" href></span>
                                <cde-sortable-array [theArray]="elt[config.type].concepts" [index]="$index"
                                                    (cb)="onEltChange.emit()"></cde-sortable-array>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <button class="btn btn-small btn-secondary" *ngIf="canEdit" id="openNewConceptModalBtn"
                    value="add" (click)="openNewConceptModal()">
                <i class="fa fa-plus"> </i> Add Concept
            </button>
        </div>
    </div>
</div>

<ng-template #newConceptContent id="newConceptModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="newConceptModalHeader">
        <h4 class="modal-title">Add Concept</h4>
    </div>
    <form role="form" #newConceptForm="ngForm" (ngSubmit)="addNewConcept()">
        <div class="modal-body" id="newConceptModalBody">
            <div class="form-group">
                <label for="name">Code Name</label>
                <input class="form-control" id="name" name="name" Placeholder="Concept Code Name"
                       [(ngModel)]="newConcept.name" required/>
            </div>
            <div class="form-group">
                <label for="codeId">Code ID</label>
                <input class="form-control" id="codeId" name="codeId" [(ngModel)]="newConcept.originId"
                       placeholder="Concept Code Identifier" required/>
            </div>

            <div class="form-group">
                <label for="codeSystem">Code System</label>
                <input class="form-control" id="codeSystem" name="codeSystem" value="LOINC"
                       [(ngModel)]="newConcept.origin" required/>
            </div>
            <div class="form-group">
                <label for="conceptType">Concept Type</label>
                <select class="form-control" name="conceptType" [(ngModel)]="newConcept.type" id="conceptType" required>
                    <option value="dec">Data Element</option>
                    <option value="oc">Class</option>
                    <option value="prop">Property</option>
                </select>
            </div>
        </div>
        <div class="modal-footer" id="newConceptModalFooter">
            <button class="btn cancel" (click)="c('Close click')" id="cancelNewConceptBtn" type="button">
                Cancel
            </button>
            <button class="btn btn-warning" [disabled]="!newConceptForm.form.valid" id="createNewConceptBtn"
                    type="submit">Save
            </button>
        </div>
    </form>
</ng-template>