<div id="derivationRulesDiv">
    <h6>Derivation Rules</h6>
    <div *ngIf="elt.derivationRules.length === 0">There are no Derivation rules.</div>
    <ng-container *ngFor="let derRule of elt.derivationRules; let i = index">
        <dl class="cde-property">
            <dt>
                <mat-icon *ngIf="canEdit" class="fake-link" id="removeDerivationRule-{{i}}"
                          (click)="removeDerivationRule(i)">delete_outline
                </mat-icon>
                Name:
            </dt>
            <dd itemprop="name_{{i}}">{{derRule.name}}</dd>

            <dt>Rule Type:</dt>
            <dd itemprop="type_{{i}}">{{derRule.ruleType}}</dd>

            <dt>Formula:</dt>
            <dd itemprop="formula_{{i}}">{{derRule.formula}}</dd>

            <dt>Input CDEs:</dt>
            <dd itemprop="input_{{i}}">
                <div *ngFor="let input of getViewCdes(derRule)">
                    <a routerLink="/deView"
                       [queryParams]="{tinyId: input.tinyId}">
                        {{input.designations[0].designation}} {{i === elt.derivationRules.length - 1 ? '' : '- '}}
                    </a>
                </div>
                <span *ngIf="derRule.fullCdes && derRule.fullCdes.length > 8"> and {{derRule.fullCdes.length - 8}}
                    more</span>
            </dd>
        </dl>
        <hr>
    </ng-container>

    <button *ngIf="canAddScore()" mat-raised-button color="primary" (click)="openNewScoreModal()">
        <mat-icon>add</mat-icon>
        Add Score
    </button>
    <div *ngIf="elt.derivationOutputs?.length > 0">
        <h5>This Data Element is used to derive to the following Data Elements:</h5>
        <table class="table table-striped">
            <tr>
                <th>Rule Name</th>
                <th>CDE Name</th>
            </tr>
            <tr *ngFor="let derOut of elt.derivationOutputs">
                <td>{{derOut.ruleName}}</td>
                <td>
                    <a routerLink="/deView" [queryParams]="{tinyId: derOut.cde.tinyId}">
                        {{derOut.cde.designations[0].designation}}
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <ng-template #newScoreContent>
        <h4 mat-dialog-title>Add Score</h4>
        <form #newScoreForm="ngForm" (ngSubmit)="addNewScore()">
            <div mat-dialog-content>
                <div class="form-group">All Data Elements in your quickboard will be added to the score.</div>
                <label class="form-group d-block">
                    <strong>Name:</strong>
                    <input class="form-control" name="scoreName"
                           [(ngModel)]="newDerivationRule.name" Placeholder="Score Name" required/>
                </label>
                <label class="form-group d-block">
                    <strong>Inputs:</strong>
                    <span *ngIf="!invalidCdeMessage.length; else invalidInputs" class="d-block">
                        All {{quickBoardService.numberDataElements}} CDEs in your quickboard.
                    </span>
                    <ng-template #invalidInputs>
                        <span class="d-block text-danger">{{invalidCdeMessage}}</span>
                    </ng-template>
                </label>
                <label class="form-group d-block">
                    <strong>Rule Type:</strong>
                    <span class="d-block">Score</span>
                </label>
                <label class="form-group d-block">
                    <strong>Formula:</strong>
                    <select class="form-control" name="formula" [(ngModel)]="newDerivationRule.formula">
                        <option value="sumAll">Sum of All</option>
                        <option value="mean">Mean (Average)</option>
                        <option value="bmi">Body Mass Index in KG/M^2</option>
                    </select>
                </label>
            </div>
            <div mat-dialog-actions>
                <button mat-raised-button color="warn" [mat-dialog-close] type="button">
                    Cancel
                </button>
                <button type="submit" mat-raised-button color="primary" [disabled]="!!invalidCdeMessage.length || !newScoreForm.form.valid">
                    Save
                </button>
            </div>
        </form>
    </ng-template>
</div>
