<div id="permissibleValueDiv">
    <h4>Values Allowed</h4>
    <div class="col-xs-2 text-right text_label">Value Type:</div>
    <div class="col-xs-10">
        <inline-editor type="select" [(ngModel)]="elt.valueDomain.datatype" (onSave)="saveValueType($event)"
                       (ngModelChange)="setValueType($event)" [options]="valueTypeOptions"></inline-editor>
        <div *ngIf="elt.valueDomain.datatype === 'Externally Defined'" class="float-left">
            or
            <input type="text" title="customDatatype" [(ngModel)]="elt.valueDomain.datatype"/>
        </div>
    </div>
    <div class="col-xs-2 text-right text_label">Unit of Measure:</div>
    <div class="col-xs-10" id="uom">
        <inline-editor type="text" [(ngModel)]="elt.valueDomain.uom"></inline-editor>
    </div>
    <div class="col-xs-2 text-right text_label">Ids:</div>
    <div class="col-xs-10">
        <ng-container *ngIf="!elt.valueDomain.ids || elt.valueDomain.ids.length===0">
            empty
        </ng-container>
        <div *ngFor="let id of elt.valueDomain.ids">{{id.source}}: {{id.id}}<span
                *ngIf="id.version">, version: </span>{{id.version}}
        </div>
    </div>
    <ng-container *ngIf="elt.valueDomain.datatype === 'Text'">
        <div class="col-xs-2 text-right text_label">Minimum Length:</div>
        <div class="col-xs-10">
            <inline-editor type="number" [(ngModel)]="elt.valueDomain.datatypeText.minLength"></inline-editor>
        </div>
        <div class="col-xs-2 text-right text_label">Maximum Length:</div>
        <div class="col-xs-10">
            <inline-editor type="number" [(ngModel)]="elt.valueDomain.datatypeText.maxLength"></inline-editor>
        </div>
        <div class="col-xs-2 text-right text_label">Regular Expression:</div>
        <div class="col-xs-10">
            <inline-editor type="text" [(ngModel)]="elt.valueDomain.datatypeText.regex"></inline-editor>
        </div>
        <div class="col-xs-2 text-right text_label">Free text rule:</div>
        <div class="col-xs-10">
            <inline-editor type="text" [(ngModel)]="elt.valueDomain.datatypeText.rule"></inline-editor>
        </div>
    </ng-container>
    <ng-container *ngIf="elt.valueDomain.datatype === 'Number'">
        <div class="col-xs-2 text-right text_label">Minimum Value:</div>
        <div class="col-xs-10">
            <inline-editor type="number" [(ngModel)]="elt.valueDomain.datatypeNumber.minValue"></inline-editor>
        </div>
        <div class="col-xs-2 text-right text_label">Maximum Value:</div>
        <div class="col-xs-10">
            <inline-editor type="number" [(ngModel)]="elt.valueDomain.datatypeNumber.maxValue"></inline-editor>
        </div>
        <div class="col-xs-2 text-right text_label">Precision:</div>
        <div class="col-xs-10">
            <inline-editor type="number" [(ngModel)]="elt.valueDomain.datatypeNumber.precision"></inline-editor>
        </div>
    </ng-container>
    <ng-container *ngIf="elt.valueDomain.datatype === 'Date'">
        <div class="col-xs-2 text-right text_label">Date Format:</div>
        <div class="col-xs-10">
            <inline-editor type="text" [(ngModel)]="elt.valueDomain.datatypeDate.format"></inline-editor>
        </div>
    </ng-container>
    <ng-container *ngIf="elt.valueDomain.datatype === 'Externally Defined'">
        <div class="col-xs-2 text-right text_label">Link:</div>
        <div class="col-xs-10">
            <inline-editor type="text" [(ngModel)]="elt.valueDomain.datatypeExternallyDefined.link"></inline-editor>
        </div>
        <div class="col-xs-2 text-right text_label">Description:</div>
        <div class="col-xs-10">
            <inline-area-edit [(model)]="elt.valueDomain.datatypeExternallyDefined.description"
                              [isAllowed]="isAllowedModel.isAllowed(elt)"
                              [(defFormat)]="elt.valueDomain.datatypeExternallyDefined.descriptionFormat"></inline-area-edit>
        </div>
    </ng-container>
    <ng-container *ngIf="elt.valueDomain.datatype === 'Value List'">
        <h4>Permissible Value</h4>
        <div class="col-xs-2 text-right text_label">Datatype:</div>
        <div class="col-xs-10">
            <inline-editor type="select" [(ngModel)]="elt.valueDomain.datatypeValueList.datatype"
                           (onSave)="saveDataType($event)" [options]="dataTypeOptions"></inline-editor>
        </div>

        <div *ngIf="containsKnownSystem">The list below includes codes with synonyms, you can also view them as:<br>
            <span *ngFor="let source of SOURCES | keys" style="margin-left: 50px">
                <input [(ngModel)]="SOURCES[source].selected" type="checkbox" (disabled)="SOURCES[source].disabled"
                       id="{{source}}" title="{{source}}" (ngModelChange)="lookupAsSource(source)">{{source}} Codes
                <span *ngIf="SOURCES[source].disabled"> (Login to enable)</span>
            </span>
        </div>
        <ng-container *ngIf="!elt.valueDomain.permissibleValues.length > 0">
            <h4>No Permissible Values</h4>
        </ng-container>
        <ng-container *ngIf="elt.valueDomain.permissibleValues.length > 0">
            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <th>Value</th>
                    <th>Code Name</th>
                    <th>Code</th>
                    <th>Code System</th>
                    <th *ngIf="SOURCES.UMLS.selected">UMLS</th>
                    <th>Code Description</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let pv of elt.valueDomain.permissibleValues; let i=index">
                    <td>
                        <inline-editor type="text" [(ngModel)]="pv.permissibleValue"></inline-editor>
                    </td>
                    <td>{{pv.valueMeaningName}}</td>
                    <td>{{pv.valueMeaningCode}}</td>
                    <td>{{pv.codeSystemName}}</td>
                    <td>
                        <inline-editor type="text" [(ngModel)]="pv.valueMeaningDefinition"></inline-editor>
                    </td>
                    <td>
                        {{SOURCES.UMLS.codes[pv.valueMeaningCode]}}
                    </td>
                    <td>
                        <ng-container *ngIf="pv.notValid">
                            <span class="btn-default fa fa-warning text-danger" id="pv-{{index}}-notValid"></span>
                        </ng-container>
                        <span id="pvRemove-{{index}}" class="btn-default fa fa-trash-o" (click)="removePv(index)"
                              title="Remove" href=""></span>
                        <sortable-array [theArray]="elt.valueDomain.permissibleValues" [index]="i"
                                        (cb)="sortPermissibleValue();"></sortable-array>
                    </td>
                </tr>
            </table>
        </ng-container>
        <div>
            <button class="btn btn-small btn-default" (click)="openNewPermissibleValueModal()" role="button"
                    title="Add Permissible Value">
                <i class="fa fa-plus"></i>Add Permissible Value
            </button>
            <button class="btn btn-small btn-default" role="button" title="Remove All Values">
                <i class="fa fa-trash-o"></i>Remove All Values
            </button>
        </div>
    </ng-container>
</div>

<ng-template #newPermissibleValueContent id="newPermissibleValueModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="newPermissibleValueModalHeader">
        <h4 class="modal-title">Add Naming</h4>
    </div>
    <form role="form" #newPermissibleValueForm="ngForm">
        <div class="modal-body" id="newPermissibleValueModalBody">
            <div class="form-group">
                <label for="permissibleValueInput">Value</label>
                <input class="form-control" [(ngModel)]="newPermissibleValue.permissibleValue"
                       id="permissibleValueInput"
                       name="permissibleValueInput" Placeholder="Permissible Value" required/>
            </div>
            <div class="form-group">
                <label for="valueMeaningNameInput">Code Name</label>
                <input class="form-control" [(ngModel)]="newPermissibleValue.valueMeaningName"
                       id="valueMeaningNameInput" name="valueMeaningNameInput" (ngModelChange)="lookupUmls()"
                       Placeholder="Code Name"/>
            </div>
            <div class="form-group">
                <label for="valueMeaningCodeInput">Code</label>
                <input class="form-control" [(ngModel)]="newPermissibleValue.valueMeaningCode"
                       id="valueMeaningCodeInput"
                       name="valueMeaningCodeInput" Placeholder="Code"/>
            </div>
            <div class="form-group">
                <label for="valueMeaningDescInput">Description</label>
                <input class="form-control" [(ngModel)]="newPermissibleValue.valueMeaningDefinition"
                       id="valueMeaningDescInput"
                       name="valueMeaningDescInput" Placeholder="Description"/>
            </div>
            <div class="form-group">
                <label for="codeSystemInput">Code System</label>
                <input class="form-control" [(ngModel)]="newPermissibleValue.codeSystemName" id="codeSystemInput"
                       name="codeSystemInput" Placeholder="Code System"
                       (required)="newPermissibleValue.valueMeaningCode.length > 0"/>
            </div>
            <div ng-if="umlsTerms.length > 0">
                <h4>Choices from UMLS: </h4>
                <div *ngFor="let term of umlsTerms">
                    <a (click)="selectFromUmls($index)" href="#">{{term.ui}} : {{term.name}}</a>
                </div>
            </div>
        </div>
        <div class="modal-footer" id="newPermissibleValueModalFooter">
            <button class="btn cancel" (click)="c('Close click')" id="cancelNewPermissibleValueBtn"
                    name="cancelNewPermissibleValueBtn"
                    type="button">Cancel
            </button>
            <button class="btn btn-warning" [disabled]="!newPermissibleValueForm.form.valid"
                    id="createNewPermissibleValueBtn"
                    name="createNewPermissibleValueBtn" type="submit" (click)="addNewPermissibleValue();">Save
            </button>
        </div>
    </form>
</ng-template>