<div id="permissibleValueDiv">
    <h4>Permissible Value</h4>
    <div class="row">
        Values Allowed
        <div class="col-xs-12">
            <dl class="dl-horizontal">
                <dt>Value Type:</dt>
                <dd></dd>
                <dt>Unit of Measure:</dt>
                <dd></dd>
                <dt>Ids:</dt>
                <dd></dd>
            </dl>
        </div>
        Permissible Values
        <div class="col-xs-12">
            <dl class="dl-horizontal">
                <dt>Datatype:</dt>
                <dd></dd>
            </dl>
        </div>
    </div>
</div>
