<div id="permissibleValueDiv">
    <h4>Values Allowed</h4>
    <div class="row">
        <dl class="dl-horizontal">
            <dt>Value Type:</dt>
            <dd>
                <inline-editor type="select" [(ngModel)]="value" disabled="!isAllowedModel.isAllowed(elt)"
                               (onSave)="saveEditable($event)" [options]="valueTypes" ngDefaultControl></inline-editor>
            </dd>
            <dt>Unit of Measure:</dt>
            <dd></dd>
            <dt>Ids:</dt>
            <dd></dd>
        </dl>
    </div>
    <h4>Permissible Value</h4>
    <div class="col-xs-12">
        <dl class="dl-horizontal">
            <dt>Datatype:</dt>
            <dd></dd>
        </dl>
    </div>
</div>
