<div id="permissibleValueDiv">
    <h4>Values Allowed</h4>
    <div class="col-xs-12">
        <div class="col-xs-2 text-right text_label">Value Type:</div>
        <div class="col-xs-10">
            <inline-editor type="select" [(ngModel)]="value" disabled="!isAllowedModel.isAllowed(elt)"
                           (onSave)="saveEditable($event)" [options]="valueTypeOptions"
                           ngDefaultControl></inline-editor>
        </div>
        <div class="col-xs-2 text-right text_label">Unit of Measure:</div>
        <div class="col-xs-10">aaaa</div>
        <div class="col-xs-2 text-right text_label">Ids:</div>
        <div class="col-xs-10">aaaa</div>
    </div>
    <h4>Permissible Value</h4>
    <div class="col-xs-12">
        <div class="col-xs-2 text-right text_label">Datatype:</div>
        <div class="col-xs-10">aaaa</div>
    </div>
    <div>
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <th>Value</th>
                <th>Code Name</th>
                <th>Code</th>
                <th>Code System</th>
                <th>Code Description</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let pv of elt.valueDomain.permissibleValues">
                <td>{{pv.permissibleValue}}</td>
                <td>{{pv.valueMeaningName}}</td>
                <td>{{pv.valueMeaningCode}}</td>
                <td>{{pv.codeSystemName}}</td>
                <td>{{pv.valueMeaningDefinition}}</td>
                <td></td>
            </tr>
        </table>
        <!--
                <ngx-datatable [rows]="elt.valueDomain.permissibleValues" [columns]="columns"></ngx-datatable>
        -->
    </div>
</div>
