<div class="container-fluid stack" style="gap: 0 2rem">
    <label>
        <input id="chrome" type="checkbox" [(ngModel)]="browserInclude.chrome" (ngModelChange)="filter()">
        Chrome
    </label>
    <label>
        <input id="firefox" type="checkbox" [(ngModel)]="browserInclude.firefox" (ngModelChange)="filter()">
        Firefox
    </label>
    <label>
        <input id="ie" type="checkbox" [(ngModel)]="browserInclude.ie" (ngModelChange)="filter()">
        IE
    </label>
    <label>
        <input id="edge" type="checkbox" [(ngModel)]="browserInclude.edge" (ngModelChange)="filter()">
        Edge
    </label>
</div>

<table class="table table-responsive">
    <thead>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Agent</th>
        <th>Message</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let err of filteredRecords; let errIndex = index">
        <td class="fake-link" (click)="openErrorDetail(err);" id="{{errorType}}Error_{{errIndex}}">
            {{err.date | date:'MM/dd/yyyy @h:mma'}}
        </td>
        <td> {{err.agent}}</td>
        <td> {{err.name | slice:0:80 }}</td>
        <td> {{err.message | slice:0:80 }}</td>
        <td> {{err.url}}</td>
    </tr>
    </tbody>
</table>

<mat-paginator (page)="gotoPage($event)" [length]="1000"
               [pageIndex]="currentPage"
               [pageSize]="10" [hidePageSize]="true" style="font-size: 1.4em">
</mat-paginator>

<ng-template #errorDetailModal>
    <h1 mat-dialog-title="">Error Details</h1>
    <mat-dialog-content>
        <section>
            <strong>Date: </strong>
            {{error.date | date:'MM/dd/yyyy @h:mma'}}
        </section>
        <section>
            <strong>Name: </strong>
            {{error.name}}
        </section>
        <section>
            <strong>Message: </strong>
            {{error.message}}
        </section>
        <section>
            <strong>User: </strong>
            {{error.user}}
        </section>
        <section>
            <strong>IP: </strong>
            {{error.ip}}
        </section>
        <section>
            <strong>Browser: </strong>
            {{error.agent}}
        </section>
        <section>
            <strong>User Agent: </strong>
            {{error.userAgent}}
        </section>
        <section>
            <strong>URL: </strong>
            {{error.url}}
        </section>
        <section>
            <strong>Stack: </strong>
            {{error.stack}}
        </section>
    </mat-dialog-content>
</ng-template>
