<h2>Attachments</h2>
<ng-container *ngIf="elt">
    <div *ngIf="elt.isDraft; else displayAttachments" style="font-size: 20px; line-height: 1">
        Attachments are not available in Drafts. Click the Draft slider above to view the current Published version.
    </div>
</ng-container>

<ng-template #displayAttachments>
    <div *ngIf="elt.attachments.length === 0">
        There are no attachments.
    </div>
    <ng-container *ngFor="let attachment of elt.attachments; let i = index">
        <dl id="attachment_{{i}}" class="cde-property">
            <dt>Filename:</dt>
            <dd>
                <a id="attachment_file_url_{{i}}"
                   href="/server/system/data/{{attachment.fileid}}"
                   target="_blank">{{attachment.filename}}</a>
                <button class="button small mL" (click)="copyUrl(attachment)">
                    <mat-icon id="copyUrl_{{i}}">content_copy</mat-icon>
                    Copy URL
                </button>
            </dd>
            <ng-container *ngIf="!attachment.pendingApproval">
                <dt>Default Image:</dt>
                <dd>
                    <ng-container *ngIf="attachment.filesize <= 512*1024; else defaultLimit">
                        <label id="defaultCbLabel">
                            <input type="checkbox" class="checkbox" [(ngModel)]="attachment.isDefault"
                                   (change)="setDefault.emit(i)" [disabled]="!canEdit"/>
                            Should this image be displayed in search results?
                        </label>
                    </ng-container>
                    <ng-template #defaultLimit>
                        Attachments smaller than 500k can be marked as default
                    </ng-template>
                </dd>
            </ng-container>
            <ng-container *ngIf="canEdit">
                <dt>Actions:</dt>
                <dd>
                    <cde-delete-with-confirm (deleted)="removeAttachment.emit(i)"></cde-delete-with-confirm>
                </dd>
            </ng-container>

            <dt>Size:</dt>
            <dd>
                <ng-container *ngIf="attachment.filesize <= 1024*1024; else filesizeMB">
                    {{attachment.filesize / 1024 | number:'1.0-1'}} kB
                </ng-container>
                <ng-template #filesizeMB>
                    {{attachment.filesize / 1024 / 1024 | number:'1.0-1'}} MB
                </ng-template>
            </dd>

            <dt>Uploaded date:</dt>
            <dd>{{attachment.uploadDate | date: 'MM/dd/yyyy @ h:mma'}}</dd>

            <ng-container *ngIf="userService.isOrgAuthority()">
                <dt>Uploaded by:</dt>
                <dd>{{attachment.uploadedBy?.username}}</dd>
            </ng-container>
        </dl>
        <hr>
    </ng-container>
    <div *ngIf="canEdit">
        <label for="fileToUpload">
            <button class="button mT" (click)="openFileDialog()">
                <mat-icon>cloud_upload</mat-icon>
                Upload more files
            </button>
        </label>
        <input id="fileToUpload" style="display: none" type="file" (change)="upload.emit($event)">
    </div>
</ng-template>
