<h3>Attachments</h3>
<ng-container *ngIf="elt">
    <div *ngIf="elt.isDraft; else displayAttachments" style="font-size: 20px; line-height: 1">
        Attachments are not available in Drafts. Click the Draft slider above to view the current Published version.
    </div>
</ng-container>

<ng-template #displayAttachments>
    <ng-container *ngFor="let attachment of elt.attachments; let i = index">
        <div id="attachment_{{i}}" class="boxed-div">
            <div>
                <label>Filename:</label> <a id="attachment_file_url_{{i}}"
                                            href="/server/system/data/{{attachment.fileid}}"
                                            target="_blank">{{attachment.filename}}
                <mat-icon>open_in_new</mat-icon>
            </a>
            </div>
            <div>
                <label>Default Image</label>:{{attachment.isDefault ? 'Yes' : 'N/A'}}
            </div>
            <div *ngIf="canEdit">
                <mat-icon id="removeAttachment-{{i}}" class="fake-button" role="button" tabindex="0"
                          title="Remove" (click)="removeAttachment.emit(i)">delete_outline
                </mat-icon>
                <button class="button small mL" (click)="copyUrl(attachment)">
                    <mat-icon id="copyUrl_{{i}}">content_copy</mat-icon>
                    Copy URL
                </button>
                <label id="defaultCbLabel">
                    <input type="checkbox" class="checkbox" [(ngModel)]="attachment.isDefault"
                           (change)="setDefault.emit(i)"/>
                    Should this image be displayed in search results?
                </label>
                <p>Uploaded by: {{attachment.uploadedBy?.username}}</p>
            </div>
            <div>
                <label> Size</label>:
                <ng-container *ngIf="attachment.filesize <= 1024*1024; else filesizeMB">
                    {{attachment.filesize / 1024 | number:'1.0-1'}} kB
                </ng-container>
                <ng-template #filesizeMB>
                    {{attachment.filesize / 1024 / 1024 | number:'1.0-1'}} MB
                </ng-template>
            </div>
            <div>
                <label>Uploaded date</label>:{{attachment.uploadDate | date: 'MM/dd/yyyy @ h:mma'}}
            </div>
        </div>

    </ng-container>
    <div *ngIf="canEdit">
        <label for="fileToUpload">
            <button class="button mT" (click)="openFileDialog()">
                <mat-icon>cloud_upload</mat-icon>
                Upload more files
            </button>
        </label>
        <input id="fileToUpload" style="display: none" type="file" (change)="upload.emit($event)">
    </div>
</ng-template>
