<section *ngIf="elt.designations.length || canEdit" id="designations-div">
    <h3>Other Names & Definitions</h3>
    <div *ngIf="elt.designations.length === 0">
        There are no designations.
    </div>
    <dl class="cde-property" *ngFor="let designation of elt.designations; index as i">
        <dt>
            <mat-icon *ngIf="canEdit && !designation.edit && elt.designations.length > 1" title="Delete Designation"
                      id="removeDesignation-{{i}}" class="fake-button" role="button" tabindex="0"
                      (click)="removeDesignationByIndex(i)">delete
            </mat-icon>
            <cde-sortable-array *ngIf="canEdit" [theArray]="elt.designations" [index]="i"
                                (cb)="eltChange.emit()"></cde-sortable-array>
            Name:
        </dt>
        <dd attr.itemprop="designation_{{i}}">
            <cde-inline-edit [(model)]="designation.designation" (modelChange)="eltChange.emit()"
                             [isAllowed]="canEdit"></cde-inline-edit>
        </dd>

        <dt>Tags:</dt>
        <dd attr.itemprop="designationTags_{{i}}">
            <cde-tag [tags]="designation.tags" [allTags]="allTags"
                     [canEdit]="canEdit" (changed)="eltChange.emit();"></cde-tag>
        </dd>
    </dl>

    <button *ngIf="canEdit" class="button" (click)="openNewDesignationModal()">
        <mat-icon>add</mat-icon>
        Add Name
    </button>
</section>
<section *ngIf="elt.definitions.length || canEdit" id="definitions-div">
    <h4>Definitions</h4>
    <div *ngIf="elt.definitions.length === 0">
        There are no definitions.
    </div>
    <dl class="cde-property" *ngFor="let definition of elt.definitions;let i = index">
        <dt>
            <mat-icon *ngIf="canEdit && !definition.edit" title="Delete Definition"
                      id="removeDefinition-{{i}}" class="fake-button" role="button" tabindex="0"
                      (click)="removeDefinitionByIndex(i)">delete
            </mat-icon>
            <cde-sortable-array [theArray]="elt.definitions" [index]="i" *ngIf="canEdit"
                                (cb)="eltChange.emit()"></cde-sortable-array>
            Definition:
        </dt>
        <dd attr.itemprop="definition_{{i}}">
            <cde-inline-area-edit [(model)]="definition.definition" (modelChange)="eltChange.emit();"
                                  [(defFormat)]="definition.definitionFormat"
                                  [isAllowed]="canEdit"></cde-inline-area-edit>
        </dd>

        <dt>Tags:</dt>
        <dd attr.itemprop="definitionTags_{{i}}">
            <cde-tag [tags]="definition.tags" [allTags]="allTags"
                     [canEdit]="canEdit" (changed)="eltChange.emit();"></cde-tag>
        </dd>
    </dl>
    <button *ngIf="canEdit" class="button" (click)="openNewDefinitionModal()">
        <mat-icon>add</mat-icon>
        Add Definition
    </button>
</section>
