<div class="modal-header">
    <h4 tabindex="0">Add Naming</h4>
</div>
<form name="form" role="form">
    <div class="modal-body">
        <div class="form-group">
            <label tabindex="0" for="permissibleValueInput">Value</label>
            <input tabindex="0" class="form-control" ng-model="newPv.permissibleValue"
                   id="permissibleValueInput"
                   name="permissibleValue" Placeholder="Permissible Value" required/>
        </div>
        <div class="form-group">
            <label tabindex="0" for="valueMeaningNameInput">Code Name</label>
            <input tabindex="0" class="form-control" ng-model="newPv.valueMeaningName"
                      id="valueMeaningNameInput" ng-change="lookupUmls()"
                      Placeholder="Code Name"/>
        </div>
        <div class="form-group">
            <label tabindex="0" for="valueMeaningCodeInput">Code</label>
            <input tabindex="0" class="form-control" ng-model="newPv.valueMeaningCode" id="valueMeaningCodeInput"
                      Placeholder="Code"/>
        </div>
        <div class="form-group">
            <label tabindex="0" for="valueMeaningDescInput">Description</label>
            <textarea tabindex="0" class="form-control" ng-model="newPv.valueMeaningDefinition"
                  id="valueMeaningDescInput" Placeholder="Description"/>
        </div>
        <div class="form-group">
            <label tabindex="0" for="codeSystemInput">Code System</label>
            <input tabindex="0" class="form-control" ng-model="newPv.codeSystemName" id="codeSystemInput"
                      Placeholder="Code System"/>
        </div>
        <div ng-if="umlsTerms.length > 0">
            <h4>Choices from UMLS: </h4>
            <div ng-repeat="term in umlsTerms | limitTo: 10">
                <a ng-click="selectFromUmls($index)" href="#">{{term.ui}} : {{term.name}}</a>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn cancel" ng-click="cancelCreate()" id="cancelCreate" type="button">Cancel</button>
        <button class="btn btn-warning" ng-click="okCreate()" ng-disabled="isClean() || form.$invalid"
                id="createNewPv" type="submit">Save
        </button>
    </div>
</form>
