<div class="modal-header">
    <h4 >Add Permissible Value</h4>
</div>
<form name="form" role="form">
    <div class="modal-body">
        <div class="form-group">
            <label  for="permissibleValueInput">Value</label>
            <input  class="form-control" ng-model="newPv.permissibleValue"
                   id="permissibleValueInput"
                   name="permissibleValue" Placeholder="Permissible Value" required/>
        </div>
        <div class="form-group">
            <label  for="valueMeaningNameInput">Code Name</label>
            <input  class="form-control" ng-model="newPv.valueMeaningName"
                      id="valueMeaningNameInput" ng-change="lookupUmls()"
                      Placeholder="Code Name"/>
        </div>
        <div class="form-group">
            <label  for="valueMeaningCodeInput">Code</label>
            <input  class="form-control" ng-model="newPv.valueMeaningCode" id="valueMeaningCodeInput"
                      Placeholder="Code"/>
        </div>
        <div class="form-group">
            <label  for="valueMeaningDescInput">Description</label>
            <textarea  class="form-control" ng-model="newPv.valueMeaningDefinition"
                  id="valueMeaningDescInput" Placeholder="Description"/>
        </div>
        <div class="form-group">
            <label  for="codeSystemInput">Code System</label>
            <input  class="form-control" ng-model="newPv.codeSystemName" id="codeSystemInput"
                   Placeholder="Code System" ng-required="newPv.valueMeaningCode.length > 0"/>
        </div>
        <div ng-if="umlsTerms.length > 0">
            <h4>Choices from UMLS: </h4>
            <div ng-repeat="term in umlsTerms | limitTo: 10">
                <a ng-click="selectFromUmls($index)" href="#">{{term.ui}} : {{term.name}}</a>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn cancel" ng-click="$dismiss()" id="cancelCreate" type="button">Cancel</button>
        <button class="btn btn-warning" ng-click="$close(newPv)" ng-disabled="isClean() || form.$invalid"
                id="createNewPv" type="submit">Save
        </button>
    </div>
</form>
