<div class="row">
    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">
        Name:
    </div>
    <div tabindex="0" class="col-lg-9 col-md-9 col-xs-9" id="board_name_{{$index}}">
        <div ng-switch="board.editMode">
            <div ng-switch-when="true">
                <input type="text" ng-model="board.name" id="name_input_{{$index}}"/>
            </div>
            <div ng-switch-default>
                <a href="/#/board/{{board._id}}" id="viewBoard_{{board.name}}" target="_blank"
                   ng-bind="board.name"></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">
        Desc:
    </div>
    <div tabindex="0" class="col-md-9" id="board_def_{{$index}}">
        <div ng-switch="board.editMode">
            <div ng-switch-when="true">
                <textarea ng-model="board.description" id="desc_input_{{$index}}"></textarea>
            </div>
            <div ng-switch-default>
                <span ng-text-truncate="board.description" ng-tt-threshold="200"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">
        Share Status:
    </div>
    <div tabindex="0" class="col-md-9" id="board_shareStatus_{{$index}}">
        {{board.shareStatus }}
    </div>
</div>
<div class="row">
    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">Tags:
    </div>
    <div class="col-md-9" id="board_tag_{{$index}}">
        <span ng-if="!board.editMode" ng-bind="board.tags"></span>
        <ui-select multiple ng-show="board.editMode" sortable="true" close-on-select="false"
                   ng-model="board.tags" theme="select2" style="width: 100%">
            <ui-select-match placeholder="type or select a tag">
                {{$item}}
            </ui-select-match>
            <ui-select-choices
                    repeat="suggestTag in getSuggestedTags($select.search) | filter: $select.search">
                <div ng-bind-html="suggestTag | highlight: $select.search"></div>
            </ui-select-choices>

        </ui-select>
    </div>
</div>
<div class="row">
    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">
        CDEs:
    </div>
    <div tabindex="0" class="col-md-9" id="board_num_cdes_{{$index}}">{{board.pins.length}}</div>
</div>
<div class="row">
    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">
        Modified:
    </div>
    <div tabindex="0" class="col-md-9" id="board_mod_{{$index}}">
        {{board.updatedDate | date: 'MM/dd/yyyy @ h:mma'}}
    </div>
</div>