<h4 tabindex="0">General Details</h4>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Name:</div>
    <div class="col-sm-7" id="dd_general_name" itemprop="name">{{elt.naming[0].designation}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Steward:</div>
    <div class="col-sm-7" id="dd_general_steward">
        <span ng-show="editDtMode">
            <select id="elt.stewardOrg.name" ng-model="elt.stewardOrg.name"
                    ng-options="myOrg for myOrg in myOrgs"></select>
            <i id="elt.stewardOrg.name.ok" class="fa fa-check" ng-click="editDtMode = false; stageElt(elt)"></i>&nbsp;&nbsp;
            <i id="elt.stewardOrg.name.cancel" class="fa fa-times"
               ng-click="elt.stewardOrg.name = oldStewardName; editDtMode = false;"></i>
        </span>
        <span ng-hide="editDtMode">
            <i title="Edit Steward" role="link" ng-show="canCurate" class="fa fa-edit"
               ng-click="oldStewardName = elt.stewardOrg.name; editDtMode = true" id="dd_edit_steward"></i>
            <a uib-tooltip-html="orgDetailsInfoHtml" tooltip-popup-delay="500" tooltip-placement="right"
               tooltip-append-to-body="true" id="dd_general_steward_name">{{elt.stewardOrg.name}}</a>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Definition:</div>
    <div class="col-sm-7" id="dd_def" itemprop="description">
        <div inline-area-edit inline-area-visibility="inlineAreaEditVisibility" model="elt.naming[0].definition"
             is-allowed="false" def-format="elt.naming[0].definitionFormat"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Used By:</div>
    <div class="col-sm-7" id="dd_usedBy">
        <div ng-if="elt.classification.length > 0">
            <span ng-repeat="ub in elt.usedBy">{{ub}} </span>
        </div>
        <div ng-if="!elt.classification.length > 0">
            <span>None</span>
        </div>
    </div>
</div>
<div class="row" ng-if="elt.origin">
    <div class="col-sm-5 questionSectionLabel text-right">Origin:</div>
    <div class="col-sm-7">
        <div inline-edit id="origin" model="elt.origin" is-allowed="canCurate"
             on-ok="stageElt(elt)"></div>
    </div>
</div>
<div class="row" ng-if="elt.views">
    <div class="col-sm-5 questionSectionLabel text-right">Views:</div>
    <div class="col-sm-7" id="dd_views">{{elt.views}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">SDC View:</div>
    <div class="col-sm-7">
        <a ng-href="/sdcview/?cdeId={{elt._id}}" aria-label="SDC View" target="_blank">
            <i class="fa fa-share-square-o"></i> SDC View</a>
    </div>
</div>