<div ng-controller="CdeHistoryCtrl">
    <h4>History</h4>
    <div class="row">
        <div class="col-md-4" ng-show="priorCdes.length > 0">
        <input id="showVersionedHistory" type="checkbox" ng-model="showVersioned">
        <label for="showVersionedHistory">Only show versioned revisions.</label>
            <table class="table" id="historyTable">
            <caption tabindex="0">List of previous versions. Click rows to select them.
                <button ng-if="selectedIds.length === 2" id="historyCompareBtn"
                        tabindex="0" class="btn btn-default" ng-click="viewDiff()">
                    <i class="fa fa-files-o"></i> Compare</button>

            </caption>
            <thead>
            <tr>
                <th tabindex="0">Updated</th>
                <th tabindex="0">Updated by</th>
                <th tabindex="0">Change Note</th>
                <th tabindex="0">Version:</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="priorCde in priorCdes track by $index"
                ng-show="!showVersioned || priorCde.version !== priorCdes[$index-1].version"
                ng-click="setSelected(priorCde._id);"
                ng-class="{selectedRow:isSelected(priorCde._id)}">
                <td tabindex="0">{{priorCde.updated | date: 'MM/dd/yyyy @ h:mma'}}
                    <a tabindex="0" href="/#/deview?cdeId={{priorCde._id}}" id="prior-{{$index}}" class="fa fa-eye"
                       target="_blank" ng-if="$index > 0">View</a>
                </td>
                <td tabindex="0">{{priorCde.updatedBy.username}}</td>
                <td tabindex="0">{{priorCde.changeNote}}</td>
                <td tabindex="0">{{priorCde.version}}</td>
            </tr>
            </tbody>

        </table>
    </div>
        <div tabindex="0" class="col-md-4" ng-hide="priorCdes.length > 0">This Data Element has no history</div>
    <div class="col-md-8">
        <div ng-include="'/system/public/html/historyCompare.html'"></div>
    </div>
    </div>
</div>
