<div ng-controller="DerivationRulesCtrl">
    <h4>Derivation Rules</h4>

    <div tabindex="0" ng-if="elt.derivationRules[0] !== null">There are no derivation rules.</div>

    <div ng-repeat="derRule in elt.derivationRules">
        <div class="row">
            <div class="col-md-1 text-right" ng-show="canCurate">
                <span ng-show="showDelete">Confirm Delete
                    <a class="fa fa-check" ng-click="showDelete = false; removeMappingSpecification($index)"
                       id="confirmRemoveMappingSpecification-{{$index}}" title="OK" href=""></a>
                    <a class="fa fa-times" ng-click="showDelete = false" title="Cancel" href=""></a>
                </span>
                <a ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o"
                   id="removeMappingSpecification-{{$index}}" title="Remove" href=""></a>
            </div>
            <div class="col-md-11">
                <dl class="dl-horizontal">
                    <dt tabindex="0">Name:</dt>
                    <dd tabindex="0" id="dd_derRule_name_{{$index}}">{{derRule.name}}</dd>
                    <dt tabindex="0">Rule Type:</dt>
                    <dd tabindex="0" id="dd_derRule_type_{{$index}}">{{derRule.ruleType}}</dd>
                    <dt tabindex="0">Input CDEs:</dt>
                    <dd tabindex="0" id="dd_derRule_input_{{$index}}">{{derRule.cdeNamesAsString}}</dd>
                </dl>
            </div>
        </div>
    </div>

    <button ng-if="canCurate" class="btn btn-small btn-default" value="add" ng-click="openDerivationRule()"
            id="addDerivationRule"><i class="fa fa-plus"> </i> Add Derivation Rule
    </button>
</div>

<script type="text/ng-template" id="newDerivationRuleModalContent.html">
    <div class="modal-header" id="newDerivationRuleModalHeader">
        <h4 tabindex="0">Add Derivation Rule</h4>
    </div>
    <div>All Data Elements in your quickboard will be added to the derivation rule.</div>
    <form name="form" role="form">
        <div class="modal-body" id="newDerivationRuleModalBody">
            <div class="form-group">
                <label tabindex="0" for="newDerivationRule.name">Name: </label>
                <input tabindex="0" class="form-control" ng-model="newDerivationRule.name"
                       id="newDerivationRule.name" Placeholder="Rule Name" required />
            </div>
            <div class="form-group">
                <label tabindex="0" for="newDerivationRule.inputs">Inputs: </label>
                <span id="newDerivationRule.inputs">All CDEs in your quickboard.</span>
            </div>
            <div class="form-group">
                <label tabindex="0" for="newDerivationRule.ruleType">Rule Type: </label>
                <select tabindex="0" class="form-control" ng-model="newDerivationRule.ruleType"
                       id="newDerivationRule.ruleType" required>
                    <option value="score">Score</option>
                </select>
            </div>
        </div>
        <div class="modal-footer" id="newDerivationModalFooter">
            <button class="btn cancel" ng-click="cancelCreate()" id="cancelCreate" type="button">Cancel</button>
            <button class="btn btn-warning" ng-click="okCreate()" ng-disabled="isClean() || form.$invalid"
                    id="createDerivationRule" type="submit">Save
            </button>
        </div>
    </form>
</script>
