<div ng-controller="VersionCtrl" class="container-fluid" ng-cloak itemscope="http://schema.org/MedicalCode">
    <div class="alert alert-warning mt20" role="alert" ng-show="elt.archived"><i class="fa fa-exclamation-triangle"></i>
        <strong>Warning:</strong> this data element is archived. You can
        <a href="/deview?tinyId={{elt.tinyId}}">view the current version here</a>.
    </div>
    <div class="alert alert-warning mt20" role="alert" ng-show="elt.registrationState.registrationStatus=='Retired'">
        <i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> this data element is retired.
        <span ng-show="elt.registrationState.replacedBy">
            <a href="/deview?tinyId={{elt.registrationState.replacedBy.tinyId}}">Replacement</a></span></div>
    <div class="alert alert-warning mt20" role="alert"
         ng-show="elt.registrationState.administrativeStatus=='Retire Candidate'">
        <i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> this data element is about to be retired.
        <span ng-show="elt.registrationState.replacedBy">
            <a href="/deview?tinyId={{elt.registrationState.replacedBy.tinyId}}">Possible Replacement</a></span></div>
    <div class="alert alert-info mt20" role="alert" ng-show="displayStatusWarning"><i
            class="fa fa-exclamation-triangle"></i>
        <strong>Note:</strong> You may not edit this CDE because it is standard.
    </div>
    <div class="alert alert-info mt20" role="alert" ng-show="elt.forkOf"><i class="fa fa-exclamation-triangle"></i>
        You are editing a fork. <a  href="/deview?cdeId={{rootFork._id}}"> <i class="fa fa-eye">
        </i> View Original</a>. To remove a fork, Retire it.
    </div>

    <div ng-if="!elt"><h1 class="pt60 pb40 text-center"><i class="fa fa-spinner fa-pulse"></i> Loading...</h1></div>

    <div ng-if="elt" class="row">
        <div ng-class="{'col-sm-9 eltCommentView':commentMode,'col-sm-12':!commentMode}">
            <h1 class="page-header">
                {{elt.naming[0].designation}}
                <a class="btn btn-small btn-default" ng-show="quickBoard.canAddElt(elt)" role="button"
                   ng-click="quickBoard.add(elt)" title="Add to Compare List" id="addToQuickBoard">
                    <i class="fa fa-plus"></i> Add to Quick Board</a>
                <a class="btn btn-small btn-default" role="button"
                   ng-click="PinModal.openPinModal(elt)" title="Add to Board" id="addToBoard">
                    <i class="fa fa-thumb-tack"></i> Add to Board</a>

                <div class="btn-group">
                    <button id="export" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download"></i>
                        Export <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id='jsonExport' ng-href="dataelement/{{elt._id}}" target="_blank">JSON File, NIH/CDE
                            Schema</a></li>
                        <li><a id='xmlExport' ng-href="dataelement/{{elt._id}}?type=xml" target="_blank">XML File, NIH/CDE
                            Schema</a></li>
                    </ul>
                </div>

                <button class="btn btn-small btn-default" role="button"  ng-if="user._id && user.orgAdmin.length > 0"
                        ng-click="copyElt()" title="Copy CDE" id="copyCdeBtn">
                    <i class="fa fa-clone"></i> Copy
                </button>

                <button class="btn btn-small btn-default" role="button"
                   ng-click="switchCommentMode()" title="Discuss CDE" id="discussBtn" ng-controller="HasCommentsCtrl">
                    <i class="fa fa-comment" ng-class="{discussWrench: hasComments && !commentMode}"></i> Discuss</button>
            </h1>

            <uib-tabset active="currentTab">
                <uib-tab id="general_tab" index="'general'">
                    <uib-tab-heading ng-class="{'{{tab.class}}':tab.class,'highlightedTab':commentMode && tab.highlight}">
                        General Details
                    </uib-tab-heading>
                    <div ng-if="currentTab === 'general'">
                        <cde-de-general-details [elt]="elt"></cde-de-general-details>
                    </div>
                </uib-tab>

                <uib-tab ng-repeat="(tabName, tab) in tabs" ng-if="tab.if?tab.if():true"
                         id="{{tabName}}_tab" select="tab.select(tabName)" index="tabName">
                    <uib-tab-heading
                            ng-class="{'{{tab.class}}':tab.class,'highlightedTab':commentMode && tab.highlight}">
                        {{tab.heading}}
                    </uib-tab-heading>
                    <div ng-if="tab.includes" ng-repeat="incl in tab.includes">
                        <div ng-if="currentTab == tabName">
                            <div ng-include="incl"></div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

        <div ng-if="commentMode" ng-class="{'col-sm-3':commentMode,'':!commentMode}"
             style="padding-left:10px;box-shadow: inset 10px 0 5px -2px #888;background-color: #f5f5f5;">
            <cde-discuss-area [selected-elt]="currentTab" [elt-id]="elt.tinyId" [elt]="elt"
                              [elt-name]="elt.naming[0].designation"></cde-discuss-area>
        </div>

        <div ng-show="elt.unsaved && elt.allValid" class="mt20">
            <button class="btn cancel" ng-click="revert(elt)" id="discardChanges">Discard Changes</button>
            <button class="btn btn-primary" ng-click="openSave(elt, 'deview?tinyId=')" id="openSave">Save Changes
            </button>
        </div>
    </div>
</div>