<h4 tabindex="0">Linked Forms</h4>

<div ng-controller="ListCtrl">
    <div ng-controller="LinkedFormsCtrl">
        <p ng-bind="getFormText()"></p>
        <a id="seeAllLinkedFormsButton" ng-href="/form/search?q={{elt.tinyId}}" class="btn btn-default" target="_blank" ng-if="forms.length > 0">
            <i class="fa fa-file-text-o"></i> See all linked forms</a>

        <hr/>
        <div ng-if="forms.length > 0">
            <h4>Preview: </h4>
            <div id="linkedFormsAccordionList" ng-include="'/form/public/html/formSummaryList.html'"></div>
        </div>

    </div>
</div>
