<div class="container-fluid">
    <h3>My Boards
        <cde-create-board></cde-create-board>
        <i ng-show="reloading" class="fa fa-spinner fa-spin"></i>
    </h3>
    <hr/>
    <div ng-if="!user.username" ng-include="'/system/public/html/ifYouLogInModal.html'">

    </div>
    <div class="col-md-2 col-xs-4 noLeftRightPadding">
        <div id="sidebar-wrapper">
            <div ng-if="filter.types.length > 0">
                <h4>Type</h4>
                <label ng-repeat="type in filter.types" class="my-board-tag">
                    <input type="checkbox" data-checklist-model="filter.selectedTypes" data-checklist-value="type.key"
                           checklist-change="loadMyBoards()" data-id="type-{{type.key}}">
                    {{type.key}} ({{type.doc_count}})
                </label>
            </div>
            <div ng-if="filter.tags.length > 0">
                <h4>Tags</h4>
                <label ng-repeat="tag in filter.tags" class="my-board-tag">
                    <input type="checkbox" data-checklist-model="filter.selectedTags" data-checklist-value="tag.key"
                           checklist-change="loadMyBoards()" data-id="tag-{{tag.key}}">
                    {{tag.key}} ({{tag.doc_count}})
                </label>
            </div>
            <div ng-if="filter.shareStatus.length">
                <h4>Share Status</h4>
                <label ng-repeat="ss in filter.shareStatus" class="my-board-tag">
                    <input type="checkbox" data-checklist-model="filter.selectedShareStatus"
                           data-checklist-value="ss.key" data-id="status-{{ss.key}}"
                           checklist-change="loadMyBoards()">
                    {{ss.key}} ({{ss.doc_count}})
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-xs-8 dragDiv" id="my-board-container">
        <div ng-repeat="board in boards" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
            <div class="my-board-card" data-id="boardDiv_{{board.name}}">
                <div class="myBoardEditButtons pull-right">
                    <div class="text-right">
                        <span ng-show="showDelete">Confirm Delete
                            <i class="fa fa-check" ng-click="showDelete = false; removeBoard($index)"
                               id="confirmRemove-{{$index}}"></i>
                            <i class="fa fa-times" ng-click="showDelete = false"></i>
                        </span>
                        <i ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o"
                           id="removeBoard-{{$index}}"></i>
                    </div>
                </div>
                <h4 class="myBoardName" id="board_name_{{$index}}">
                    <span ng-show="showChangeStatus">Change Status?
                        <i class="fa fa-check" ng-click="changeStatus($index)"
                           id="confirmChangeStatus_{{$index}}"></i>
                        <i class="fa fa-times" ng-click="showChangeStatus = false"></i>
                    </span>
                    <span ng-hide="showChangeStatus">
                        <i class="fa fa-globe" ng-show="board.shareStatus === 'Public'"
                           ng-click="showChangeStatus = true" id="publicIcon_{{$index}}"></i>
                        <i class="fa fa-lock" ng-hide="board.shareStatus === 'Public'"
                           ng-click="showChangeStatus = true" id="privateIcon_{{$index}}"></i>
                    </span>
                    <span id="viewBoard_{{board.name}}" inline-edit model="board.name"
                          link-source="/board/{{board._id}}" is-allowed="canEditBoard()" on-ok="save(board);"></span>
                </h4>
                <div ng-include="'/cde/public/html/boardTemplate.html'"></div>
            </div>
        </div>
    </div>
</div>
