<div class="container-fluid">
    <hr/>
    <div class="col-xs-2 noLeftRightPadding">
        <div id="sidebar-wrapper">
            <label ng-repeat="tag in tags" class="my-board-tag">
                <input type="checkbox" data-checklist-model="tags" data-checklist-value="tag.tagValue"
                       checklist-comparator="compareFn" checklist-change="updateMyBoardWithTag(tag.tagValue)">
                {{tag.tagName}}
            </label>
        </div>
    </div>
    <div class="col-xs-10" ui-sortable="sortableOptions" ng-model="boards">
        <div ng-repeat="board in boards" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-board-card">
            <div class="" data-id="boardDiv_{{board.name}}">
                <div class="row">
                    <div class="col-xs-1 text-left">
                        <i class="fa fa-arrows"> </i>
                    </div>
                    <div class="text-right pr5">
                        <span ng-show="showDelete">Confirm Delete
                            <i class="fa fa-check" ng-click="showDelete = false; removeBoard($index)"
                               id="confirmRemove-{{$index}}"></i>
                            <i class="fa fa-times" ng-click="showDelete = false"></i>
                        </span>
                        <i ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o"
                           id="removeBoard-{{$index}}"></i>
                        <span ng-show="showChangeStatus">Change Status?
                            <i class="fa fa-check" ng-click="changeStatus($index)"
                               id="confirmChangeStatus_{{$index}}"></i>
                            <i class="fa fa-times" ng-click="showChangeStatus = false"></i>
                        </span>
                        <span ng-hide="showChangeStatus">
                            <i class="fa fa-unlock" ng-show="board.shareStatus === 'Public'"
                               ng-click="showChangeStatus = true" id="publicIcon_{{$index}}"></i>
                            <i class="fa fa-lock" ng-hide="board.shareStatus === 'Public'"
                               ng-click="showChangeStatus = true" id="privateIcon_{{$index}}"></i>
                        </span>
                        <span ng-show="board.editMode">Save?
                            <i class="fa fa-check" ng-click="save(board)" id="confirmEdit_{{$index}}"></i>
                            <i class="fa fa-times" ng-click="cancelSave(board)"></i>
                        </span>
                        <span ng-hide="board.editMode">
                            <i class="fa fa-pencil" ng-click="board.editMode = true" id="edit_board_{{$index}}"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">
                        Name:
                    </div>
                    <div tabindex="0" class="col-lg-9 col-md-9 col-xs-9" id="board_name_{{$index}}">
                        <div ng-switch="board.editMode">
                            <div ng-switch-when="true">
                                <input type="text" ng-model="board.name" id="name_input_{{$index}}"/>
                            </div>
                            <div ng-switch-default>
                                <a href="/#/board/{{board._id}}" id="viewBoard_{{board.name}}" target="_blank"
                                   ng-bind="board.name"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">
                        Desc:
                    </div>
                    <div tabindex="0" class="col-md-9" id="board_def_{{$index}}">
                        <div ng-switch="board.editMode">
                            <div ng-switch-when="true">
                                <textarea ng-model="board.description" id="desc_input_{{$index}}"></textarea>
                            </div>
                            <div ng-switch-default>
                                <span ng-bind-html="board.description"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">Tags:
                    </div>
                    <div tabindex="0" class="col-md-9" id="board_tag_{{$index}}">
                        <span ng-bind-html="board.tags"></span>
                        <div ng-show="board.editMode === true">
                            <input ng-model="newTag">
                            <i class="fa fa-plus-square hand-cursor" ng-click="addNewTag(newTag,board)"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">
                        CDEs:
                    </div>
                    <div tabindex="0" class="col-md-9" id="board_num_cdes_{{$index}}">{{board.pins.length}}</div>
                </div>
                <div class="row">
                    <div tabindex="0" class="col-lg-3 col-md-3 col-xs-3 text-right text_label noRightPadding">
                        Modified:
                    </div>
                    <div tabindex="0" class="col-md-9" id="board_mod_{{$index}}">
                        {{board.updatedDate | date: 'MM/dd/yyyy @ h:mma'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-small btn-default" value="add" ng-click="openNewBoard()" id="addBoard"><i
            class="fa fa-plus"> </i> Add Board
    </button>
    <script type="text/ng-template" id="newBoardModalContent.html">
        <div ng-include="'/cde/public/html/newBoardModal.html'"></div>
    </script>
</div>