<h1 mat-dialog-title>Add A New Permissible Value</h1>
<form #newPermissibleValueForm="ngForm">
    <div mat-dialog-content>
        <label>
            Look up in UMLS
            <input name="valueMeaningNameInput" class="form-control" Placeholder="Code Name" data-testid="valueMeaningNameInput"
                   [(ngModel)]="newPermissibleValue.valueMeaningName"
                   (ngModelChange)="lookupUmls()" (keyup)="lookupUmls()"/>
        </label>
        <label>
            PV Label
            <input name="permissibleValueInput" class="form-control" Placeholder="Permissible Value"
                   required [(ngModel)]="newPermissibleValue.permissibleValue"/>
        </label>
        <label>
            PV Definition
            <input name="valueMeaningDescInput" class="form-control" Placeholder="Description"
                   required [(ngModel)]="newPermissibleValue.valueMeaningDefinition"/>
        </label>
        <label>
            Permissible Value (PV) Concept Identifier
            <input name="conceptIdInput" class="form-control" Placeholder="Concept ID"
                   [(ngModel)]="newPermissibleValue.conceptId"/>
        </label>
        <label>
            Permissible Value (PV) Terminology Source
            <input name="conceptSourceInput" class="form-control" Placeholder="Concept Source"
                   [required]="newPermissibleValue.conceptId?.length > 0"
                   [(ngModel)]="newPermissibleValue.conceptSource"/>
        </label>
        <label>
            Code for Permissible Value
            <input name="valueMeaningCodeInput" class="form-control"  Placeholder="PV Code"
                   [(ngModel)]="newPermissibleValue.valueMeaningCode"/>
        </label>
        <label>
            Permissible Value Code System
            <input name="codeSystemInput" class="form-control"  Placeholder="Code System"
                   [required]="newPermissibleValue.valueMeaningCode?.length > 0"
                   [(ngModel)]="newPermissibleValue.codeSystemName"/>
        </label>
        <div *ngIf="umlsTerms.length > 0">
            <h2>Choices from UMLS: </h2>
            <div *ngFor="let term of umlsTerms; let i = index;">
                <button *ngIf="i<10" class="fake-link" (click)="selectFromUmls(term)">{{term.ui}} : {{term.name}}</button>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button class="button fail" [mat-dialog-close]>Cancel</button>
        <button type="submit" id="createNewPermissibleValueBtn" class="button" (click)="saveDialog()"
                [disabled]="!newPermissibleValueForm.form.valid">Save
        </button>
    </div>
</form>
