<h1 mat-dialog-title>Add A New Permissible Value</h1>
<form #newPermissibleValueForm="ngForm">
    <div mat-dialog-content>
        <div class="form-group">
            <label for="permissibleValueInput">Value</label>
            <input class="form-control" [(ngModel)]="newPermissibleValue.permissibleValue"
                   id="permissibleValueInput"
                   name="permissibleValueInput" Placeholder="Permissible Value" required/>
        </div>
        <div class="form-group">
            <label for="valueMeaningNameInput">Code Name</label>
            <input class="form-control" [(ngModel)]="newPermissibleValue.valueMeaningName"
                   id="valueMeaningNameInput" name="valueMeaningNameInput" (keyup)="lookupUmls()"
                   data-testid="valueMeaningNameInput"
                   Placeholder="Code Name" (ngModelChange)="lookupUmls()"/>
        </div>
        <div class="form-group">
            <label for="valueMeaningCodeInput">Code</label>
            <input class="form-control" [(ngModel)]="newPermissibleValue.valueMeaningCode"
                   id="valueMeaningCodeInput"
                   name="valueMeaningCodeInput" Placeholder="Code"/>
        </div>
        <div class="form-group">
            <label for="valueMeaningDescInput">Description</label>
            <input class="form-control" [(ngModel)]="newPermissibleValue.valueMeaningDefinition"
                   id="valueMeaningDescInput" name="valueMeaningDescInput" Placeholder="Description"/>
        </div>
        <div class="form-group" *ngIf="newPermissibleValue.valueMeaningCode?.length > 0">
            <label for="codeSystemInput">Code System</label>
            <input class="form-control" [(ngModel)]="newPermissibleValue.codeSystemName" id="codeSystemInput"
                   name="codeSystemInput" Placeholder="Code System" required/>
        </div>
        <div *ngIf="umlsTerms.length > 0">
            <h2>Choices from UMLS: </h2>
            <div *ngFor="let term of umlsTerms; let i = index;">
                <a *ngIf="i<10" href="javascript:void(0);" (click)="selectFromUmls(term)">{{term.ui}}
                    : {{term.name}}</a>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button class="button fail" [mat-dialog-close]>Cancel</button>
        <button type="submit" id="createNewPermissibleValueBtn" class="button" [mat-dialog-close]="newPermissibleValue"
                [disabled]="!newPermissibleValueForm.form.valid">Save
        </button>
    </div>
</form>
