.bg-white {
    background-color: white;
}

.browseLink {
    color: #337ab7;
}

.browseLink:hover {
    color: #23527c;
    text-decoration: underline;
}

.cdeFieldset {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    margin: 10px 0 10px 0;
    padding: 0 10px;
}

.cdeFieldset.welcomeSearchFieldset {
    height: 140px;
}

.cdeFieldset.hand-cursor:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.hand-cursor {
    cursor: pointer;
}

.cdeFieldset > legend {
    width: auto;
    border-bottom: none;
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
    background-color: white;
    font-size: 21px;
}

.cdeFieldset > div {
    font-size: 14px;
}

.welcomeCount {
    bottom: 1px;
    right: 40px;
    position: absolute;
    background-color: white;
    padding: 0 5px 0 5px;
}

.welcomeSearchOrganizationBox {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    margin: 10px 0 10px 0;
    padding: 0 10px;
    height: 140px;
}

#tabs > ul, .nav {
    margin-bottom: 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
}

.breadcrumb {
    background-color: white;
}

.singleSearchResult {
    padding-left: 10px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 3px solid rgba(0, 0, 0, 0.1);
}

.cdeAttachmentThumbnail {
    max-width: 100%;
    max-height: 200px;
}

.cdeTable, .gridListView td {
    table-layout: fixed;
}

.cdeTable td, .cdeTable th {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.cdeTable th {
    padding: 0
}

.cdeTable td {
    padding: 0
}

.fake-link {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

.fake-link:hover {
    color: #23527c;
    text-decoration: underline;
}

.welcomeDetailIcon {
    position: absolute !important;
    right: 21px;
    top: 30px;
    color: lightslategrey;
    font-size: 1.5em !important;
    border: 1px solid rgba(128, 128, 128, 0.35);
    border-radius: 28px;
    width: 25px;
    display: block;
    text-align: center;
}

.welcomeDetailIcon:hover {
    background-color: #337ab7;
    color: white;
}

.boxed-div {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    word-wrap: break-word;
}

.loading {
    display: none;
}

nih-cde:empty + .loading {
    display: block;
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate270 {
    transform: rotate(270deg);
}

/* begin Native Render */
.form-horizontal {
    counter-reset: section;
}

.form-horizontal .native-section .radio-inline, .form-horizontal .native-section .checkbox-inline {
    padding-top: 0;
}

label.input-group-addon {
    background-color: transparent;
}

.native-section-header {
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 5px;
}

.native-question-header {
    page-break-inside: avoid;
}

.native-question-label {
    margin-bottom: 0;
}

div.native-question-label {
    font-size: 14px;
    font-weight: 700;
}

legend.native-question-label {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 0;
}

.native-question-label-number:before {
    counter-increment: section;
    content: counter(section) ". ";
}

.native-question-answers {
    margin-bottom: 5px;
}

div.row .native-question-oneline-l {
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    background-color: white;
    padding: 0 5px 0 5px;
}

.native-box {
    padding-left: 6%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.native-value {
    color: #999;
    font-style: italic;
    font-weight: 900;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
}

.radio-inline, .wordwrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.breadcrumb {
    background-color: white;
}

.native-instructions {
    margin-bottom: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.singleSearchResult {
    padding-left: 10px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 3px solid rgba(0, 0, 0, 0.1);
}

.form-horizontal .native-table-cell.radio,
.form-horizontal .native-table-cell.checkbox,
.form-horizontal .native-table-cell.radio-inline,
.form-horizontal .native-table-cell.checkbox-inline {
    padding-top: 0;
}

.cdeAttachmentThumbnail {
    max-width: 100%;
    max-height: 200px;
}

.native-table-cell {
    height: auto;
}

.native-table-cell label {
    font-weight: normal;
    margin-bottom: 0;
}

/* end Native Render */

/* begin validation error */
input.ng-invalid {
    border-left: 5px solid #a94442 !important;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

/* end validation error */

/* begin alternatives */
@media print {
    @page {
        size: 330mm 427mm;
        margin: 14mm;
    }

    .container {
        width: 1170px;
    }

    .keep-with-previous {
        page-break-before: avoid;
        break-before: avoid;
    }

    .keep-together {
        page-break-inside: avoid;
        break-inside: avoid;
    }
}

/* end alternatives */

@media (min-width: 575px) {
    .text-right-md {
        text-align: right
    }
}

.modal-lg {
    max-width: 90%;
}

.iconColor {
    color: #292b2c;
}

.my-board-card {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin: 3px;
    padding: 15px;
    min-height: 160px;
    position: relative;
}

.myBoardLastModified {
    position: absolute;
    bottom: 5px;
    right: 25px;
}

.eltCommentView {
    -webkit-box-shadow: 10px 0 5px -2px #888;
}

#feedback-highlighter {
    cursor: move;
    height: 574px !important;
}

ins {
    color: black;
    background: #bbffbb;
}

del {
    color: black;
    background: #ffbbbb;
}

.discussWrench {
    -webkit-animation: wrench 10s linear infinite;
    animation: wrench 10s linear infinite;
}