<mat-form-field class="w-100">
    <mat-chip-grid #chipList>
        <mat-chip-row *ngFor="let key of keys"
                  [editable]="true" (removed)="removeKey(key)">
            {{key}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
        <input placeholder="{{placeHolder}}"
               #keyInput
               [formControl]="keyControl"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addKey($event)"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="autoSelectedKey($event)">
            <mat-option *ngFor="let opt of filteredKeys | async" [value]="opt">
                {{opt}}
            </mat-option>
        </mat-autocomplete>
    </mat-chip-grid>
</mat-form-field>
