<h1>FHIR apps</h1>

<div *ngIf="!fhirApps || !fhirApps.length">
    No Fhir Apps
</div>

<div *ngIf="fhirApps?.length">
    <table class="table-striped">
        <ng-container *ngFor="let app of fhirApps">
            <tr>
                <td rowspan="2">
                    <mat-icon class="hand-cursor" (click)="deleteApp(app)">delete_outline</mat-icon>
                </td>
                <td rowspan="2">{{app._id}}</td>
                <td>
                    <mat-form-field>
                        <input placeholder="Data Endpoint URL:" [(ngModel)]="app.dataEndpointUrl"
                               matInput (change)="saveApp(app)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input placeholder="Client Id:" [(ngModel)]="app.clientId" matInput (change)="saveApp(app)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input placeholder="Forms (separate with ,)" matInput
                               (change)="formsUpdated($event, app)" [value]="getFormIds(app)">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Map Codes:
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>CDE System</th>
                            <th>CDE Code</th>
                            <th>FHIR System</th>
                            <th>FHIR Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let e of app.mapping; index as i">
                            <td>
                                <button mat-icon-button title="Cancel" style="width: 40px"
                                        (click)="app.mapping.splice(i, 1); saveApp(app)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                            <td><input class="form-control" [(ngModel)]="e.cdeSystem" (change)="saveApp(app)"></td>
                            <td><input class="form-control" [(ngModel)]="e.cdeCode" (change)="saveApp(app)"></td>
                            <td><input class="form-control" [(ngModel)]="e.fhirSystem" (change)="saveApp(app)"></td>
                            <td><input class="form-control" [(ngModel)]="e.fhirCode" (change)="saveApp(app)"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <button class="button" (click)="app.mapping.push({})">
                                    <mat-icon>add</mat-icon>
                                    Add
                                </button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </ng-container>
    </table>
</div>

<button class="button success" (click)="newApp()">
    <mat-icon>add</mat-icon>
    Add
</button>
