<ng-template [ngTemplateOutlet]="getTemplate()" [ngTemplateOutletContext]="{ $implicit: question }"></ng-template>

<ng-template #formDescriptionQuestionTmpl>
    <div style="margin-top: .25rem; margin-bottom: .25rem">
        <span *ngIf="question.question.multiselect" class="badge badge-success formViewSummaryLabel">
            Select Multiple
        </span>
        <span *ngIf="question.question?.datatypeText?.minLength" class="badge badge-success formViewSummaryLabel">
            At least: {{question.question?.datatypeText?.minLength}} characters
        </span>
        <span *ngIf="question.question?.datatypeText?.maxLength" class="badge badge-success formViewSummaryLabel">
            At most: {{question.question?.datatypeText?.maxLength}} characters
        </span>
        <span *ngIf="question.question?.datatypeNumber?.minValue" class="badge badge-success formViewSummaryLabel">
            At least: {{question.question?.datatypeNumber.minValue}}
        </span>
        <span *ngIf="question.question?.datatypeNumber?.maxValue" class="badge badge-success formViewSummaryLabel">
            At most: {{question.question?.datatypeNumber?.maxValue}}
        </span>
        <span *ngIf="question.question?.datatypeDate?.format" class="badge badge-success formViewSummaryLabel">
            Format: {{question.question?.datatypeDate?.format}}
        </span>
        <span *ngIf="repeatFeLabel(question)" class="badge badge-primary formViewSummaryLabel">
            Repeats: {{repeatFeLabel(question)}} times
        </span>
        <span *ngIf="isScore(question.question)" class="badge badge-primary formViewSummaryLabel">
            Score: <span [textContent]="question.question.scoreFormula" style="margin-left: .25em"></span>
        </span>
        <span *ngIf="question.question.required" class="badge badge-danger formViewSummaryLabel">
            Required
        </span>
        <span *ngIf="question.question.invisible" class="badge badge-secondary formViewSummaryLabel"
              style="background-color: #666">
            Invisible
        </span>
        <span *ngIf="question.question.editable === false" class="badge badge-secondary formViewSummaryLabel"
              style="background-color: #666">
            Disabled
        </span>
        <span *ngIf="question.skipLogic?.condition?.length > 0 && parent"
              class="badge badge-warning formViewSummaryLabel">
            Show if: {{question.skipLogic.condition}}
        </span>
    </div>
    <div>
        <div *ngIf="question.instructions?.value" class="questionInstruction">
            <span class="formViewQuestionLabel">Instructions:</span>
            <span *ngIf="question.instructions.valueFormat === 'html'; else instructionsText"
                  [innerHtml]="question.instructions.value"></span>
            <ng-template #instructionsText><span [textContent]="question.instructions.value"></span></ng-template>
        </div>
        <div *ngIf="question.question.datatype === 'Value List' && question.question.displayAs !== 'radio/checkbox/select'">
            <span class="formViewQuestionLabel">Display As:</span>
            <span class="badge badge-secondary formViewSummaryLabel" style="background-color: #666">
                    {{question.question.displayAs === 'likert scale' ? 'Likert Scale' : 'Default'}}
                </span>
        </div>
        <div class="answerList"
             *ngIf="question.question.datatype === 'Value List' && question.question.answers && question.question.answers.length > 0">
            <span class="formViewQuestionLabel">Answer Choices:</span>
            <span *ngFor="let pv of question.question.answers" class="badge badge-secondary formViewSummaryLabel"
                  style="background-color: #666" [textContent]="pv?.valueMeaningName"></span>
        </div>
        <div *ngIf="question.question.datatype === 'Date' && question.question.datatypeDate?.precision !== 'Day'"
             class="defaultAnswer">
            <span class="formViewQuestionLabel">Precision:</span>
            <span class="badge badge-secondary formViewSummaryLabel"
                  style="background-color: #666">{{question.question.datatypeDate?.precision}}</span>
        </div>
        <div *ngIf="question.question.defaultAnswer"
             class="defaultAnswer">
            <span class="formViewQuestionLabel">Default Answer:</span>
            <span class="badge badge-secondary formViewSummaryLabel"
                  style="background-color: #666">{{defaultToLabel(question.question)}}</span>
        </div>
        <div *ngIf="question.question.unitsOfMeasure.length > 0" class="questionUom">
            <span class="formViewQuestionLabel">Units of Measure:</span>
            <span *ngFor="let u of question.question.unitsOfMeasure; let index = index"
                  class="badge badge-info formViewSummaryLabel"
                  [ngClass]="{'badge-danger': (question.question.uomsValid && question.question.uomsValid[index])}">
                    <ng-container *ngIf="u.system">{{u.system}}/</ng-container>
                    <ng-container>{{u.code}}</ng-container>
                    <ng-container
                            *ngIf="question.question.uomsValid && question.question.uomsValid[index]">&nbsp;(Error: {{question.question.uomsValid[index]}}
                        )</ng-container>
                </span>
        </div>
    </div>
</ng-template>

<ng-template #formDescriptionQuestionEditTmpl>
    <dl class="cde-property">
        <dt>Label:</dt>
        <dd>
            <mat-icon class="changeQuestionLabelIcon fake-button" title="Change question label" role="button" tabindex="0"
                      (click)="openNameSelect(question, parent)">edit
            </mat-icon>
            {{question.label || "(No Label)"}}
        </dd>
        <dt>Instructions:</dt>
        <dd class="editQuestionInstruction">
            <cde-inline-area-edit
                    [(model)]="question.instructions.value"
                    [(defFormat)]="question.instructions.valueFormat"
                    [isAllowed]="true" (modelChange)="eltChange.emit()">
            </cde-inline-area-edit>
        </dd>
        <dt>Required:</dt>
        <dd>
            <input type="checkbox" title="Required" [(ngModel)]="question.question.required"
                   (change)="eltChange.emit()"/>
        </dd>
        <dt>Invisible:</dt>
        <dd>
            <input type="checkbox" title="Invisible" [(ngModel)]="question.question.invisible"
                   (change)="eltChange.emit()">
        </dd>
        <ng-container *ngIf="parent">
            <dt>Show if:</dt>
            <dd class="skipLogicEditTextarea" [ngClass]="{'has-error':question.skipLogic?.validationError}">
                <cde-skip-logic [parent]="parent" [formElement]="question" [canEdit]="canEdit"
                                (saved)="eltChange.emit();"></cde-skip-logic>
            </dd>
        </ng-container>
        <ng-container *ngIf="question.question.datatype === 'Date'">
            <dt>Date Precision:</dt>
            <dd>
                <select [(ngModel)]="question.question.datatypeDate.precision" (change)="eltChange.emit()"
                        class="form-control" style="width: fit-content">
                    <option>Year</option>
                    <option>Month</option>
                    <option>Day</option>
                    <option>Hour</option>
                    <option>Minute</option>
                    <option>Second</option>
                </select>
            </dd>
        </ng-container>
        <ng-container *ngIf="question.question.datatype === 'Text'">
            <dt>Show as Text Area:</dt>
            <dd>
                <input type="checkbox" title="Show as Text Area"
                       [(ngModel)]="question.question.datatypeText.showAsTextArea"
                       (change)="eltChange.emit()">
            </dd>
        </ng-container>
        <ng-container *ngIf="question.question.datatype === 'Dynamic Code List'">
            <dt>System:</dt>
            <dd>{{question.question.datatypeDynamicCodeList.system}}</dd>
            <dt>Code:</dt>
            <dd>{{question.question.datatypeDynamicCodeList.code}}</dd>
        </ng-container>
        <ng-container
                *ngIf="question.question.datatype === 'Number' || (question.question.datatype === 'Text' && !question.question.datatypeText?.showAsTextArea)">
            <dt>Units of Measure:</dt>
            <dd class="questionUom">
                <div class="border rounded p-1">
                    <span *ngFor="let u of question.question.unitsOfMeasure; index as i"
                          class="badge badge-info formViewSummaryLabel">
                        <mat-icon class="action-icon-dark" role="button" tabindex="0"
                                  (click)="removeUomByIndex(i)" title="Remove UOM">cancel</mat-icon>
                        <ng-container *ngIf="u.system">{{u.system}}/</ng-container>
                        <ng-container>{{u.code}}</ng-container>
                    </span>
                    <div class="p-1">
                        Add
                        <select class="form-control" style="display: inline-block"
                                [(ngModel)]="newUomSystem" title="New Unit of Measure System">
                            <option value="UCUM">UCUM</option>
                            <option value="">Other</option>
                        </select>
                        <ng-container *ngIf="newUomSystem === 'UCUM'; else manualUom">
                            <mat-form-field style="display: inline-block">
                                <input type="text" placeholder="New Unit of Measure Code" matInput name="searchUomInput"
                                       [formControl]="uomControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUom">
                                    <mat-option *ngFor="let uom of filteredUoms" [value]="uom"
                                                (click)="uomAddSelected(uom);">
                                        <ng-container *ngIf="uom.name">
                                            {{uom.code}}:{{uom.name}} (
                                            <ng-container *ngFor="let s of uom.synonyms">{{s}} </ng-container>
                                            )
                                        </ng-container>
                                        <ng-container *ngIf="!uom.name">
                                            <mat-icon>warning</mat-icon>
                                            {{uom.code}} is not a valid UCUM Unit
                                        </ng-container>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </ng-container>
                        <ng-template #manualUom>
                            <input class="form-control" style="display: inline-block; max-width: 200px" [(ngModel)]="newUom"/>
                            <button mat-raised-button style="vertical-align: baseline"
                                    (click)="uomAddNew()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-template>
                        <ng-container *ngFor="let e of question.question.uomsValid; index as i">
                            <div *ngIf="e" style="color: red">
                                <ng-container *ngIf="question.question.unitsOfMeasure[i].system">
                                    {{question.question.unitsOfMeasure[i].system}}/
                                </ng-container>
                                {{question.question.unitsOfMeasure[i].code}} - {{e}}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </dd>
        </ng-container>
        <ng-container *ngIf="question.question.datatype === 'Value List'">
            <dt>Display As:</dt>
            <dd>
                <mat-form-field class="w-100">
                    <mat-select [(value)]="question.question.displayAs" (selectionChange)="eltChange.emit()">
                        <mat-option value="radio/checkbox/select">Multiple Choice</mat-option>
                        <mat-option value="likert scale">Likert Scale</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="question.question.displayAs === 'likert scale'">Likert Scale is only seen on the Digital view for single select questions. It's value is required and defaulted automatically.</div>
            </dd>
            <dt>Multiple Selection:</dt>
            <dd class="multipleSelection">
                <input type="checkbox" title="Multiple" [(ngModel)]="question.question.multiselect"
                       (change)="eltChange.emit()"/>
            </dd>
            <ng-container *ngIf="question.question.cde.tinyId">
                <dt class="answerListLabel">Answer List
                    <mat-icon *ngIf="question.question.answers.length > 0" class="fake-button" role="button" tabindex="0"
                              (click)="openEditAnswerModal()">edit</mat-icon>
                    :
                </dt>
                <dd class="answerList">
                    <cde-tag [tags]="questionAnswers" [allTags]="answerListItems" [placeHolder]="'Select Answer'"
                             [canEdit]="true" (changed)="onAnswerListChanged()"></cde-tag>
                </dd>
            </ng-container>
        </ng-container>
        <dt>Default Answer:</dt>
        <dd class="defaultAnswer">
            <ng-container *ngIf="question.question.datatype === 'Value List'">
                <mat-form-field class="w-100">
                    <mat-select [(value)]="question.question.defaultAnswer" placeholder="Select Default Answer"
                                (selectionChange)="eltChange.emit()">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let pv of question.question.answers"
                                    [value]="pv.permissibleValue">{{pvGetLabel(pv)}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="question.question.datatype !== 'Value List'">
                <cde-inline-edit [(model)]="question.question.defaultAnswer" [isAllowed]="true"
                                 [inputType]="question.question.datatype === 'Date' && 'date' || question.question.datatype === 'Number' && 'number' || 'text'"
                                 (modelChange)="eltChange.emit()"></cde-inline-edit>
            </ng-container>
        </dd>
        <ng-container *ngIf="question.question.defaultAnswer">
            <dt>Editable:</dt>
            <dd>
                <input type="checkbox" title="Editable" [(ngModel)]="question.question.editable"
                       (change)="eltChange.emit()"/>
            </dd>
        </ng-container>
    </dl>

    <mat-card *ngIf="!question.question.cde.tinyId && question.question.cde.newCde">
        <mat-card-header>
            <mat-card-title>Create New CDE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="w-50 newCdeDesignations">
                <mat-chip-list #designationChipList>
                    <mat-chip *ngFor="let designation of question.question.cde.newCde.designations; index as i"
                              [selectable]="true"
                              [removable]="question.question.cde.newCde.designations.length > 1"
                              (removed)="removeCdeDesignation(question.question.cde.newCde.designations, i)">
                        {{designation.designation}}
                        <mat-icon matChipRemove *ngIf="question.question.cde.newCde.designations.length > 1">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New Name..."
                           [matChipInputFor]="designationChipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addCdeDesignation(question.question.cde.newCde.designations, $event)">
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field class="w-50 newCdeIdentifiers">
                <mat-chip-list #idChipList>
                    <mat-chip *ngFor="let id of question.question.cde.ids; index as i"
                              [selectable]="true" [removable]="true" (removed)="removeCdeId(i)">
                        <span class="green mr-1">{{id.source}}</span> <span class="blue" style="margin-left: .25rem">{{id.id}}</span>
                        <mat-icon matChipRemove class="removeIdentifier">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New Identifier...(Example: LOINC;12345-6)"
                           [matChipInputFor]="idChipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addCdeId($event)">
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field class="w-50">
                <mat-select placeholder="CDE Data Type" [ngModel]="question.question.datatype"
                            (selectionChange)="onDatatypeChange(question.question, $event)">
                    <mat-option *ngFor="let dataType of dataTypeArray" [value]="dataType">{{dataType}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-50 newCdePvs" *ngIf="question.question.datatype==='Value List'">
                <mat-chip-list #pvChipList>
                    <mat-chip *ngFor="let pv of question.question.cde.permissibleValues; index as i;"
                              [selectable]="true" [removable]="true" (removed)="removeCdePv(i)">
                        {{pv.permissibleValue}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New Permissible Value"
                           [matChipInputFor]="pvChipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addCdePv($event)">
                </mat-chip-list>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</ng-template>
