<button mat-raised-button id="openLinkedFormsModalBtn" (click)="openLinkedFormsModal()" color="primary">Linked Forms</button>

<ng-template #linkedFormsContent>
    <h4 mat-dialog-title>Linked Forms</h4>
    <form #linkedFormsForm="ngForm">
        <div mat-dialog-content>
            <p>{{getFormText()}}</p>

            <button mat-raised-button *ngIf="forms && forms.length > 0" id="seeAllLinkedFormsButton"
                (click)="viewLinkedForms()" color="primary">
                <mat-icon>visibility</mat-icon> See all linked forms</button>

            <div *ngIf="forms && forms.length > 0">
                <cde-summary-list id="linkedFormsAccordionList" [contentComponent]="formSummaryContentComponent"
                                  [elts]="forms" (select)="dialogRef.close()"></cde-summary-list>
            </div>
        </div>
        <div mat-dialog-actions>
            <button [mat-dialog-close] id="closeLinkedFormsModalBtn" mat-raised-button type="button">Close</button>
        </div>
    </form>
</ng-template>
