<button id="openLinkedFormsModalBtn" class="button" (click)="openLinkedFormsModal()">Linked Forms</button>

<ng-template #linkedFormsContent>
    <h1 mat-dialog-title>Linked Forms</h1>
    <form #linkedFormsForm="ngForm">
        <div mat-dialog-content>
            <p>{{getFormText()}}</p>

            <button *ngIf="forms && forms.length > 0" class="button" (click)="viewLinkedForms()">
                <mat-icon>visibility</mat-icon> See all linked forms</button>

            <div *ngIf="forms && forms.length > 0">
                <cde-summary-list id="linkedFormsAccordionList" [contentComponent]="formSummaryContentComponent"
                                  [elts]="forms" (select)="dialogRef.close()"></cde-summary-list>
            </div>
        </div>
        <div mat-dialog-actions>
            <button [mat-dialog-close] id="closeLinkedFormsModalBtn" class="button">Close</button>
        </div>
    </form>
</ng-template>
