<mat-tab-group [selectedIndex]="tabIndex">
    <mat-tab label="Http Logs" index="1" *ngIf="isAdmin">
        <ng-template matTabContent>
            <cde-http-log></cde-http-log>
        </ng-template>
    </mat-tab>

    <mat-tab label="App Logs" index="2" *ngIf="isAdmin">
        <ng-template matTabContent>
            <cde-app-log></cde-app-log>
        </ng-template>
    </mat-tab>

    <mat-tab label="Daily Usage" index="3" *ngIf="isAdmin">
        <ng-template matTabContent>
            <cde-daily-usage></cde-daily-usage>
        </ng-template>
    </mat-tab>

    <mat-tab label="CDE Audit Log">
        <ng-template matTabContent index="4">
            <cde-de-log></cde-de-log>
        </ng-template>
    </mat-tab>

    <mat-tab label="Form Audit Log" index="5">
        <ng-template matTabContent>
            <cde-form-log></cde-form-log>
        </ng-template>
    </mat-tab>

    <mat-tab label="Classification Audit Log" index="6">
        <ng-template matTabContent>
            <cde-classification-audit-log></cde-classification-audit-log>
        </ng-template>
    </mat-tab>

    <mat-tab label="Active Bans" *ngIf="isAdmin" index="7">
        <ng-template matTabContent>
            <cde-active-ban></cde-active-ban>
        </ng-template>
    </mat-tab>

    <mat-tab label="Server Errors" *ngIf="isAdmin" index="8">
        <ng-template matTabContent>
           <cde-server-error></cde-server-error>
        </ng-template>
    </mat-tab>

    <mat-tab label="Client Errors" *ngIf="isAdmin" index="9">
        <ng-template matTabContent>
            <cde-client-error></cde-client-error>
        </ng-template>
    </mat-tab>

    <mat-tab label="Login Records" *ngIf="isAdmin" index="10">
        <ng-template matTabContent>
            <cde-login-record></cde-login-record>
        </ng-template>
    </mat-tab>
</mat-tab-group>
