<header class="app-toolbar">
    <uswds-banner *ngIf="!isMobile"></uswds-banner>
    <cde-ie-banner></cde-ie-banner>
    <mat-toolbar class="noPrint">
        <mat-toolbar-row #majorBar class="cde-nav-major">
            <a href="https://www.nih.gov/" aria-label="NIH" target="_blank" rel="noopener noreferrer">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1224 792" style="enable-background:new 0 0 1224 792;" xml:space="preserve">
                    <style type="text/css">
	                    .st0 {
                            fill: #5E5F5F;
                        }
                    </style>
                    <path class="st0" d="M1041.9,395.4L840.2,758.9H101c-36.9,0-66.9-29.9-66.9-66.9V99.2c0-36.9,29.9-66.9,66.9-66.9h740L1041.9,395.4
	L1041.9,395.4z M410.1,558.9V234.1H356v239.2h-1L206.8,234.1l0,0h-60l0,0v324.8l0,0H201V320h1.4l147.9,238.9H410.1L410.1,558.9
	L410.1,558.9z M523,558.9V234.1h-56.8v324.8H523L523,558.9L523,558.9z M841.5,234.1h-56.8l0,0v129.2H636.8V234.1h-56.8v324.8h56.8
	V412.5h147.9v146.5l0,0h56.8V234.1L841.5,234.1z"/>
                    <path class="st0" d="M890.7,759.1L1092,395.4L891.4,32.3h50.3c27.5,0,61,19.7,74.3,43.8l176.5,319.2l-177.2,319.9
	c-13.3,24-46.8,43.7-74.3,43.7L890.7,759.1L890.7,759.1z"/>
                </svg>
            </a>
            <a href="https://www.nlm.nih.gov/" target="_blank" rel="noopener noreferrer" class="nlmLink no-link">
                National Library of Medicine
            </a>

            <span class="spacer"></span>
            <div>
                <button mat-icon-button id="notificationLink" title="Banner Notifications"
                        (click)="notificationService.drawerToggle(); interruptEvent($event)">
                    <mat-icon [matBadge]="notificationService.getBadge()" matBadgeColor="warn" matBadgeSize="small"
                              [matBadgeHidden]="notificationService.getBadge() === '0'"
                              style="margin-right: 0">{{notificationService.getIcon()}}</mat-icon>
                </button>
                <button mat-icon-button [class.active]="isActiveSearchSettings()"
                        routerLink="/searchPreferences" id="searchSettings" title="Search Settings">
                    <mat-icon>settings</mat-icon>
                </button>
                <button mat-button *ngIf="!userService.user; else loggedInButton" id="login_link"
                        [class.active]="isActiveUserMenu()"
                        (click)="loginSvc.goToLogin()" routerLink="/login">
                    <span>Login</span>
                </button>
                <ng-template #loggedInButton>
                    <button #userButton mat-button  id="username_link"
                            [class.active]="isActiveUserMenu()"
                            [matMenuTriggerFor]="loginMenu" #userMenuTrigger="matMenuTrigger"
                            (mouseenter)="menuEnter(majorBar, userMenuTrigger, loginMenu)"
                            (mouseleave)="menuLeave(majorBar, userMenuTrigger, userButton)">
                        {{userService.user.username | uppercase | cdeTruncateLongName}}
                        <mat-icon>expand_more</mat-icon>
                    </button>
                    <mat-menu #loginMenu="matMenu">
                        <div (mouseenter)="menu1Enter(majorBar)" (mouseleave)="menu1Leave(majorBar, userMenuTrigger, userButton)">
                            <button mat-menu-item routerLink="/settings/profile">Settings</button>
                            <button mat-menu-item *ngIf="canClassify(userService.user)" routerLink="/classificationManagement">Classifications</button>
                            <button mat-menu-item *ngIf="isOrgAuthority(userService.user)" routerLink="/siteAudit" id="user_audit">Audit</button>
                            <button mat-menu-item (click)="loginSvc.logout()">Log Out</button>
                        </div>
                    </mat-menu>
                </ng-template>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row #minorBar class="cde-nav-minor">
            <a routerLink="/" title="Common Data Elements">
                <img src="/cde/public/assets/img/min/NIH-CDE.svg" alt="NIH Common Data Elements (CDE) logo" style="height: 39px">
            </a>
            <span class="spacer"></span>
            <button mat-icon-button class="d-md-none" aria-label="Menu" title="Menu" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="d-none d-md-block">
                <ng-container *ngFor="let menuItem of menuList">
                    <ng-container *ngIf="!menuItem.condition || menuItem.condition()">
                        <ng-container *ngIf="!menuItem.children || !menuItem.children.length; else dropdownWithChildren">
                            <button mat-button [id]="menuItem.id" [class.active]="sectionActive === menuItem.section"
                                    [routerLink]="menuItem.link" [queryParams]="menuItem.queryParams || null">
                                {{menuItem.label || menuItem.labelFn()}}
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-template #dropdownWithChildren>
                        <button #button mat-button [id]="menuItem.id" [class.active]="sectionActive === menuItem.section"
                                [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger"
                                (click)="menuClickCleanup(minorBar, levelOneTrigger, button, levelOne)"
                                (mouseenter)="menuEnter(minorBar, levelOneTrigger, levelOne)"
                                (mouseleave)="menuLeave(minorBar, levelOneTrigger, button)">
                            {{menuItem.label || menuItem.labelFn()}}
                            <mat-icon>expand_more</mat-icon>
                        </button>
                        <mat-menu #levelOne="matMenu" direction="down" yPosition="below">
                            <div (mouseenter)="menu1Enter(minorBar)" (mouseleave)="menu1Leave(minorBar, levelOneTrigger, button)">
                                <ng-container *ngFor="let childL1 of menuItem.children">
                                    <ng-container *ngIf="childL1.label === 'Contact Us'; else menuItemStandard">
                                        <a mat-menu-item [id]="childL1.id" [href]="childL1.link"
                                           target="_blank" rel="noopener noreferrer"
                                        >
                                            Contact Us
                                        </a>
                                    </ng-container>
                                    <ng-template #menuItemStandard>
                                        <ng-container *ngIf="!childL1.children || !childL1.children.length; else menuItemWithChildren">
                                            <button mat-menu-item [id]="childL1.id"
                                                    [routerLink]="childL1.link"  [queryParams]="childL1.queryParams || null">
                                                {{childL1.label || childL1.labelFn()}}
                                            </button>
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #menuItemWithChildren>
                                        <li mat-menu-item #levelTwoTrigger="matMenuTrigger"
                                            [matMenuTriggerFor]="levelTwo">{{childL1.label}}</li>
                                        <mat-menu #levelTwo="matMenu">
                                        <span (mouseenter)="menu2Enter(minorBar)"
                                              (mouseleave)="menu2Leave(minorBar, levelOneTrigger,levelTwoTrigger, button)">
                                            <ng-container *ngFor="let childL2 of childL1.children">
                                                <li class="p-0" mat-menu-item>
                                                    <a class="nav-link">{{childL2.label || childL2.labelFn()}}</a>
                                                </li>
                                            </ng-container>
                                        </span>
                                        </mat-menu>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </mat-menu>
                    </ng-template>
                </ng-container>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
<mat-sidenav-container style="display: flex; flex-direction: column; flex-grow: 1">
    <mat-sidenav #sidenav mode="over" position="end">
        <mat-nav-list>
            <ng-container *ngFor="let menuItem of menuList">
                <ng-container *ngIf="!menuItem.condition || menuItem.condition()">
                    <ng-container *ngIf="!menuItem.children || !menuItem.children.length; else mobileMenuWithChildren">
                        <a mat-list-item [routerLink]="menuItem.link" [queryParams]="menuItem.queryParams || null" (click)="sidenav.close()">
                            {{menuItem.label || menuItem.labelFn()}}
                        </a>
                    </ng-container>
                    <ng-template #mobileMenuWithChildren>
                        <a mat-list-item [matMenuTriggerFor]="mLevelOne">
                            {{menuItem.label || menuItem.labelFn()}}<mat-icon>expand_more</mat-icon>
                        </a>
                        <mat-menu #mLevelOne="matMenu">
                            <ng-container *ngFor="let child of menuItem.children">
                                <ng-container *ngIf="!child.condition || child.condition()">
                                    <ng-container *ngIf="child.label === 'Contact Us'; else mobileMenuItemStandard">
                                        <a mat-menu-item [id]="child.id" [href]="child.link"
                                           target="_blank" rel="noopener noreferrer"
                                        >
                                            Contact Us
                                        </a>
                                    </ng-container>
                                    <ng-template #mobileMenuItemStandard>
                                        <ng-container *ngIf="!child.children || !child.children.length; else mobileMenuWithChildren">
                                            <button mat-menu-item [routerLink]="child.link" [queryParams]="child.queryParams || null"
                                                    (click)="sidenav.close()">
                                                {{child.label || child.labelFn()}}
                                            </button>
                                        </ng-container>
                                    </ng-template>
                                </ng-container>
                            </ng-container>
                        </mat-menu>
                    </ng-template>
                </ng-container>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content id="scrollRoot" style="display: flex; flex-direction: column; flex-grow: 1; height: 108px">
        <router-outlet></router-outlet>
        <ng-container *ngTemplateOutlet="cdeFooter"></ng-container>
        <div class="d-flex"></div>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #cdeFooter>
    <footer>
        <mat-toolbar class="footer noPrint">
            <mat-toolbar-row class="cde-nav-minor">
                <div style="display: none">Hidden Text Ensures 100% SEO. Thank you!</div>
                <div class="sub-footer">
                    <div>
                        <p>
                            <a href="https://www.nlm.nih.gov/socialmedia/index.html"
                               target="_blank" rel="noopener noreferrer">Follow NLM</a>
                        </p>
                        <div>
                            <ul class="social_media">
                                <li>
                                    <a href="https://www.facebook.com/nationallibraryofmedicine">
                                        <img src="/cde/public/assets/img/min/Facebook.png" style="height: 2em" alt="Facebook"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/NLM_NIH">
                                        <img src="/cde/public/assets/img/min/Twitter.png" style="height: 2em" alt="Twitter"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/NLMNIH">
                                        <img src="/cde/public/assets/img/min/YouTube.png" style="height: 2em" alt="YouTube">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div></div>
                    <div>
                        <span class="d-block">National Library of Medicine</span>
                        <span class="address">8600 Rockville Pike, </span>
                        <span class="address">Bethesda, MD 20894</span>
                    </div>
                    <div>
                        <a href="https://www.nlm.nih.gov/copyright.html"
                           target="_blank" rel="noopener noreferrer">Copyright</a>
                    </div>
                    <div>
                        <a href="https://www.nlm.nih.gov/privacy.html"
                           target="_blank" rel="noopener noreferrer">Privacy</a>
                    </div>
                    <div>
                        <a href="https://support.nlm.nih.gov/?from=https://cde.nlm.nih.gov/"
                           target="_blank" rel="noopener noreferrer">Help</a>
                    </div>
                    <div>
                        <a href="https://www.nih.gov/institutes-nih/nih-office-director/office-communications-public-liaison/freedom-information-act-office"
                           target="_blank" rel="noopener noreferrer">FOIA</a>
                    </div>
                    <div>
                        <a href="https://www.nlm.nih.gov/accessibility.html"
                           target="_blank" rel="noopener noreferrer">Accessibility</a>
                    </div>
                    <div>
                        <a href="https://www.nlm.nih.gov/careers/careers.html"
                           target="_blank" rel="noopener noreferrer">Careers</a>
                    </div>
                </div>
            </mat-toolbar-row>
            <mat-toolbar-row class="cde-nav-major">
                <div style="margin: auto">
                    <a href="https://www.nlm.nih.gov/" target="_blank" rel="noopener noreferrer">NLM</a>
                    |
                    <a href="http://www.nih.gov/" target="_blank" rel="noopener noreferrer">NIH</a>
                    |
                    <a href="http://www.hhs.gov/" target="_blank" rel="noopener noreferrer">HHS</a>
                    |
                    <a href="http://www.usa.gov/" target="_blank" rel="noopener noreferrer">USA.gov</a>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <uswds-banner *ngIf="isMobile"></uswds-banner>
    </footer>
</ng-template>
