@import '../../theme';

$smallScreen: 500px;
$mediumScreen: 860px;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//button.mat-button-base:hover {
//  background-color: dimgrey;
//}

mat-toolbar {
  button.mat-button-base {
    margin: 0 !important;
  }

  svg {
    path {
      fill: $navColor;
    }
  }
}

.d-md-block button {
  min-width: 40px;
  margin: 0 !important;
}


.mat-toolbar-multiple-rows {
  min-height: 40px;
}

.cde-nav-major.mat-toolbar-row {
  background-color: $nlmColorPrimaryDarkest;
  color: $nlmColorSecondaryLightest;
  height: 30px;
  padding-left: 32px;

  a {
    color: $navColor;

    svg {
      height: 40px;
      width: 32px;
    }

    &:hover {
      background-color: unquote($navColor + '10');
    }

    &.nlmLink {
      font-size: 12px;
      font-weight: 700;
      line-height: 19px;
      margin-left: -5px;
      padding: 11px 10px 10px 10px;
    }
  }

  button {
    border-bottom: $navBackgroundColor 4px solid;
    border-radius: unset;
    line-height: 39px;
    height: 40px;
    padding-top: 1px;

    &:hover {
      background-color: unquote($navColor + '10');
      border-bottom: $navColor 4px solid;
    }

    &#login_link {
      padding-left: 6px;
      padding-right: 6px;

      span {
        background-color: $navColor;
        border-radius: 2px;
        color: $navBackgroundColor;
        line-height: 38px;
        padding: 2px 10px;
      }
    }

    &.active {
      border-bottom: $navColor 4px solid;
    }
  }
}

.navBarButton, #login_link, #username_link {
  font-size: 14px;

  mat-icon {
    vertical-align: middle;
  }

  span mat-icon {
    vertical-align: baseline;
    height: 17px;
  }
}

.navBarButton {
  @media (max-width: $mediumScreen) {
    display: none;
  }
}

.navHamburger {
  display: none;

  @media (max-width: $mediumScreen) {
    display: block !important;
  }
}

.cde-nav-minor.mat-toolbar-row {
  background-color: $nlmColorPrimary;
  border-bottom: #63666a 1px solid;
  color: $nlmColorSecondaryLightest;
  height: 80px;
  padding-left: 30px;

  #login_link {
      border: $nlmColorLightest 1px solid;
      border-radius: 3px;
      line-height: 39px;
      height: 40px;
      padding-top: 1px;
      padding-left: 6px;
      padding-right: 6px;

    span {
      background-color: $nlmColorPrimary;
      border-radius: 3px;
      color: $nlmColorLightest;
      line-height: 38px;
      padding: 2px 10px;
    }

    &:hover {
      background-color: $nlmColorPrimaryLight;

      span {
        background-color: $nlmColorPrimaryLight;
      }
    }

    &.active {
      color: $nlmColorPrimary;
      background-color: $nlmColorLightest;

      span {
        color: $nlmColorPrimary;
        background-color: $nlmColorLightest;
      }
    }

    @media (max-width: $mediumScreen) {

      & {
        margin-top: 20px !important;
      }
    }

    @media (max-width: $smallScreen){
      & {
        display: none;
      }
    }

  }

  #username_link {
    @media (max-width: $smallScreen){
      & {
        display: none;
      }
    }
  }

  a {
    svg {
      height: 40px;
      width: 32px;
    }

    &:hover {
      background-color: unquote($navSecondColor + '10');
    }
  }

  button {
    border-radius: unset;
    line-height: 36px;
    height: 100%;
    padding-top: 0;

    &:hover {
      background-color: $nlmColorPrimaryLight;
    }

    &.active {
      color: $nlmColorPrimary;
      background-color: $nlmColorLightest;
    }

    &[mat-icon-button] {
      padding-bottom: 6px;

      mat-icon {
        vertical-align: text-bottom;
      }

      ::ng-deep  .mat-mdc-button-persistent-ripple {
        border-radius: initial;
      }
    }
  }
}
router-outlet ::ng-deep + *:not(nav) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

::ng-deep div.mat-menu-content:not(:empty) {
  padding-top: 0;
  padding-bottom: 0;
}

.mat-mdc-menu-item {
  width: 160px; // size fits "Report a Problem"
}

#contactUsLink {
  text-decoration: none;
}

.mat-mdc-list-item,
.mat-mdc-menu-item {
  color: $nlmColorSecondaryDark;
  letter-spacing: .007rem;
  border-top: $nlmColorSecondaryLightest 2px solid;

  &:hover {
    background-color: #DEDEDE;
    //border-bottom: 3px #025FCC solid;
    color: $nlmColorPrimary;
    font-weight: bold;
    letter-spacing: normal;
  }

  &.active {
    background-color: $nlmColorPrimary;
    color: $nlmColorLightest;
  }

  &.subMenuParentActive {
    background-color: $nlmColorSecondaryLight;
    color: $nlmColorLightest;
  }

}

.mat-mdc-list-item mat-icon {
  vertical-align: bottom;
}

.menuTitle {
  color: $nlmColorSecondaryLight;
  height: 30px;
  line-height: 26px;
  padding-left: 16px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;

  button {
    width: 24px;
    height: 24px;
    line-height: 36px;
    padding: 0;

    mat-icon {
      font-size: 20px;
      vertical-align: unset;
    }
  }
}

.scrollContent {
  height: 108px;
}

.spacer {
  flex: 1 1 auto;
}
