@import '../../theme';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//button.mat-button-base:hover {
//  background-color: dimgrey;
//}

mat-toolbar {
  button.mat-button-base {
    margin: 0 !important;
  }

  svg {
    path {
      fill: $navColor;
    }
  }
}

.d-md-block button {
  min-width: 40px;
  margin: 0 !important;
}


.mat-toolbar-multiple-rows {
  min-height: 40px;
}

.cde-nav-major.mat-toolbar-row {
  background-color: $navBackgroundColor;
  color: $navColor;
  height: 40px;

  a {
    color: $navColor;

    svg {
      height: 40px;
      width: 32px;
    }

    &:hover {
      background-color: unquote($navColor + '10');
    }

    &.nlmLink {
      font-size: 12px;
      font-weight: 700;
      line-height: 19px;
      margin-left: -5px;
      padding: 11px 10px 10px 10px;

      @media (max-width: 450px) {
        & {
          display: none;
        }
      }
    }
  }

  button {
    border-bottom: $navBackgroundColor 4px solid;
    border-radius: unset;
    line-height: 39px;
    height: 40px;
    padding-top: 1px;

    &:hover {
      background-color: unquote($navColor + '10');
      border-bottom: $navColor 4px solid;
      font-weight: bold;
    }

    &#login_link {
      padding-left: 6px;
      padding-right: 6px;

      span {
        background-color: $navColor;
        border-radius: 2px;
        color: $navBackgroundColor;
        line-height: 38px;
        padding: 2px 10px;
      }
    }

    &.active {
      border-bottom: $navColor 4px solid;
    }
  }
}

.cde-nav-minor.mat-toolbar-row {
  background-color: $navSecondBackgroundColor;
  color: $navSecondColor;
  height: 40px;

  a {
    svg {
      height: 40px;
      width: 32px;
    }

    &:hover {
      background-color: unquote($navSecondColor + '10');
    }
  }

  button {
    border-bottom: $navSecondBackgroundColor 4px solid;
    border-radius: unset;
    line-height: 36px;
    height: 39px;
    padding-top: 3px;

    &:hover {
      background-color: unquote($navSecondColor + '10');
      border-bottom: $navSecondColor 4px solid;
      font-weight: bold;
    }

    &.active {
      border-bottom: $navSecondColor 4px solid;
    }
  }
}

footer {
  a, p, span, div {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4rem;
    margin: 0;
  }

  .cde-nav-minor.mat-toolbar-row {
    border-bottom: none;
    border-top: $navSecondColor 1px solid;
    height: 68px;

    @media (max-width: $widthSm) {
      & {
        height: 152px;
      }
    }
  }

  .sub-footer {
    // simple layout
    margin: auto;
    max-width: 1150px; // = sum max = 4 * 200 + 350

    & > * {
      float: left;
      max-width: 200px;
      min-width: 100px;
      width: 15vw;
    }

    & > :nth-child(1) {
      min-width: 125px;
    }

    & > :nth-child(3) {
      height: 3.5rem;
      max-width: 350px;
      min-width: 265px;
      width: 40vw;
    }

    @supports (display: grid) {
      // cleanup simple layout
      & {
        & > *,
        & > :nth-child(1),
        & > :nth-child(3) {
          height: auto;
          margin: 0;
          max-width: initial;
          min-width: auto;
          width: auto;
        }
      }

      @media (max-width: $widthSm) {
        & {
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-gap: 0 25px;
          width: 100%;

          > :nth-child(1) {
            grid-row: 1 / span 4;
          }

          > :nth-child(2) {
            grid-column: 2 / span 1;
          }

          > :nth-child(3) {
            grid-column: 1 / span 1;
            grid-row: 5 / span 3;
          }

          .address {
            display: block;
          }
        }
      }

      @media (min-width: $widthSm + 1px) and (max-width: $widthMd) {
        & {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr;
          grid-gap: 0 25px;
          width: 100%;

          > :nth-child(1) {
            grid-row: 1 / span 5;
          }

          > :nth-child(2) {
            grid-column: 2 / span 3;
          }

          > :nth-child(3) {
            grid-column: 2 / span 1;
            grid-row: 2 / span 3;
          }

          .address {
            display: block;
          }
        }
      }

      @media (min-width: $widthMd + 1px) {
        & {
          display: grid;
          grid-template-columns: 1.5fr 3fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 4fr 4fr 1fr;
          grid-gap: 0 25px;
          width: 100%;

          > :nth-child(1) {
            grid-row: span 4;
          }

          > :nth-child(2) {
            grid-column: 2 / 6;
          }

          > :nth-child(3) {
            grid-row: span 2;
          }

          .address {
            display: inline;
          }
        }
      }
    }
  }

  ul.social_media {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    li {
      padding-top: 0.3rem;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 0.3rem;
      }
    }
  }
}

router-outlet ::ng-deep + *:not(nav) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

::ng-deep div.mat-menu-content:not(:empty) {
  padding-top: 0;
  padding-bottom: 0;
}

.mat-menu-item {
  width: 144px; // size fits "Report a Problem"
}

.mat-list-item,
.mat-menu-item {
  color: $navSecondColor;
  letter-spacing: .007rem;

  &:hover {
    background-color: #DEDEDE;
    border-bottom: 3px #025FCC solid;
    color: #0258BB;
    font-weight: bold;
    letter-spacing: normal;
  }
}
