<br>
<button id="addRule" class="btn btn-lg btn-success btn-sm" (click)="openAddRuleModal()">Add New Rule</button>
<div *ngFor="let orgName of orgNames">
    <div *ngIf="userOrgs[orgName].length > 0">
        <h3>CDEs classified by {{orgName}}</h3>
        <table class="table">
            <thead>
            <tr>
            <tr>
                <th>Rule Name</th>
                <th>Status</th>
                <th>Field</th>
                <th>RegEx</th>
                <th>Occurence</th>
            </tr>
            </thead>
            <tr *ngFor="let rule of userOrgs[orgName]">
                <td>{{rule.ruleName}}</td>
                <td>{{rule.targetStatus}}</td>
                <td>{{rule.field}}</td>
                <td>{{rule.rule.regex}}</td>
                <td>{{rule.occurence}}</td>
                <td><button (click)="disableRule(orgName, rule)" class="btn btn-lg btn-danger btn-xs">Remove</button></td>
            </tr>
        </table>
    </div>
</div>

<ng-template #removeRuleModal id="removeRuleModal" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3>Remove Rule</h3>
    </div>
    <div class="modal-body">
        Do you want to remove this rule?
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-danger" (click)="c()" id="removeRule">Remove</button>
        <button class="btn" (click)="d()" id="cancel">Cancel</button>
    </div>
</ng-template>

<ng-template #addNewRuleModal id="addNewRuleModal" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3>Add New Rule</h3>
    </div>
    <div class="modal-body">
        <form id="addRuleForm" #newRuleForm="ngForm">
            <div class="form-group">
                <label for="org">Organization</label>
                <select id="org" [(ngModel)]="newRule.org" class="form-control" name="org" required>
                    <option *ngFor="let org of userOrgsArray">{{org}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="ruleName">Rule Name</label>
                <input type="text" [(ngModel)]="newRule.ruleName" class="form-control" required
                       id="ruleName" placeholder="e.g. CDE has a property..." name="ruleName">
            </div>
            <div class="form-group">
                <label for="field">Field</label>
                <select id="field" class="form-control" [(ngModel)]="newRule.field" name="field" required>
                    <option *ngFor="let field of fields">{{field}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="regex">Field matches regular expression</label>
                <input type="text" class="form-control" id="regex" name="regex" required
                       [(ngModel)]="newRule.rule.regex" placeholder="^[A-z]+[0-9]+$">
            </div>
            <div class="form-group">
                <label for="targetStatus">Applies to Status (and above)</label>
                <select id="targetStatus" [(ngModel)]="newRule.targetStatus" name="targetStatus" class="form-control" required>
                    <option>Incomplete</option>
                    <option>Candidate</option>
                    <option id="recorded">Recorded</option>
                    <option>Qualified</option>
                    <option>Standard</option>
                    <option>Preferred Standard</option>
                </select>
            </div>
            <div class="form-group">
                <label for="occurence">Occurence (if array)</label>
                <select id="occurence" [(ngModel)]="newRule.occurence" name="occurence" class="form-control" required>
                    <option value="all">All Elements</option>
                    <option value="atLeastOne">At Least One Element</option>
                    <option value="exactlyOne">Exactly One Element</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-warning" (click)="d()" id="cancelNew">Cancel</button>
        <button [disabled]="!newRuleForm.form.valid"  class="btn btn-lg btn-success"
                (click)="c(newRule)" id="saveRule">Save</button>
    </div>

</ng-template>
