<div id="validRulesDiv">
    <h3>Validation Rules</h3>
    <ng-container *ngIf="hasRules(); else noRules">
        The <b>Registration Status</b> of this CDE is <b>{{elt.registrationState.registrationStatus}}</b>.<br>
        This CDE is used by the following <b>Stewards</b>: {{elt.usedBy?.join(', ')}}<br>
        In order to promote this CDE to a different registration status, it must obey the following validation rules:
        <div *ngFor="let regStatusName of keys(results)" [hidden]="!showStatus(cdeStatusRules[regStatusName])"
             class="pb-2">
            <h6>Validation Rules for {{regStatusName}} Status</h6>
            <div *ngFor="let orgName of keys(results[regStatusName])">
                <span>Steward {{orgName}} requires the following conditions to be met, in order to promote this
                    CDE to {{regStatusName}} status:</span>
                <div *ngFor="let result of results[regStatusName][orgName]; let i=index"
                     id="rule_{{regStatusName}}_{{i}}">
                    {{result.name}}
                    <ng-container [ngSwitch]="result.result">
                        <ng-container *ngSwitchCase="undefined">
                            <mat-icon class="spin">autorenew</mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="''">
                            <mat-icon class="text-success">check</mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <mat-icon class="text-danger">cancel</mat-icon>
                            {{ result.result }}
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noRules>
        There are no validation rules for this CDE.
    </ng-template>
</div>
