<h1>Users</h1>
<div>
    <form class="form-inline pt40 pb40" role="form" id="newOrgAdminForm" name="newOrgAdminForm" novalidate>
        <div class="form-group">
            <button mat-raised-button (click)="openNewUserModal()" id="opeNewUserModalBtn" type="button">
                <mat-icon>add</mat-icon>
                Create User
            </button>
        </div>
        <div class="form-group">
            <cde-username-autocomplete [placeHolder]="'enter username'"
                                       (selected)="search.username = $event"></cde-username-autocomplete>
        </div>
        <button type="submit" mat-raised-button color="primary" id="searchUsersSubmit" (click)="searchUsers()">
            Search
        </button>
    </form>

    <div *ngFor="let u of foundUsers; let $index = index">
        <div class="row">
            <div class="col-3 text-right"><strong>Username:</strong></div>
            <div id="user_username" class="col-9">{{u.username}}</div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Avatar:</strong></div>
            <img *ngIf="u.avatarUrl" src="{{u.avatarUrl}}" width="32" height="32"/>
            <cde-inline-edit id="user_avatar_{{$index}}"[(model)]="u.avatarUrl" [isAllowed]="true" (modelChange)="updateAvatar(u)"
                             class="col-9"></cde-inline-edit>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Last Login:</strong></div>
            <div class="col-9">{{u.lastLogin}}</div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Org Curator:</strong></div>
            <div id="user_curator" class="col-9">{{u.orgCurator}}</div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Org Admin: </strong></div>
            <div id="user_orgadmin" class="col-9">{{u.orgAdmin}}</div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Site Admin: </strong></div>
            <div id="user_siteadmin" class="col-9" [innerHtml]="u.siteAdmin?'Yes':'No'"></div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Roles: </strong></div>
            <div class="col-9" id="user_roles_{{$index}}">
                <cde-tag [tags]="u.roles" [allTags]="rolesEnum"
                         [canEdit]="true" (changed)="updateRoles(u)"></cde-tag>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-right"><strong>Known IPs</strong></div>
            <div class="col-9">{{u.knownIPs}}</div>
        </div>
        <cde-user-comments [user]="u"></cde-user-comments>
        <hr/>
    </div>
</div>


<ng-template #newUserContent>
    <h4 mat-dialog-title>Add User</h4>
    <form role="form" #newUserForm="ngForm">
        <div mat-dialog-content>
            <div class="alert alert-info">
                Please ensure the username matches the UMLS username.
            </div>
            <div class="form-group">
                <label for="newUsername">Name</label>
                <input class="form-control" id="newUsername" name="username" Placeholder="New Username"
                       [(ngModel)]="newUsername" required/>
            </div>
        </div>
        <div class="modal-footer" id="newUserModalFooter">
            <button mat-raised-button color="warn" [mat-dialog-close] id="cancelNewUserBtn" type="button">
                Cancel
            </button>
            <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="!newUserForm.form.valid"
                    id="createNewUserBtn" type="submit">Save
            </button>
        </div>
    </form>
</ng-template>
