<h1>Users</h1>
<form class="stack" novalidate>
    <cde-username-autocomplete [placeHolder]="'enter username'"
                               (selected)="search.username = $event"></cde-username-autocomplete>
    <button type="submit" class="button" (click)="searchUsers()">Search</button>
    <button class="button success" (click)="openNewUserModal()">
        <mat-icon>add</mat-icon>
        Create User
    </button>
</form>
<ng-container *ngFor="let u of foundUsers; index as i">
    <dl class="cde-property">
        <dt>Username:</dt>
        <dd id="user_username">{{u.username}}</dd>

        <dt>Avatar:</dt>
        <dd attr.itemprop="user_avatar_{{i}}">
            <img *ngIf="u.avatarUrl" src="{{u.avatarUrl}}" width="32" height="32"/>
            <cde-inline-edit [(model)]="u.avatarUrl" [isAllowed]="true" (modelChange)="updateAvatar(u)"
                             class="col-9"></cde-inline-edit>
        </dd>

        <dt>Last Login:</dt>
        <dd>{{u.lastLogin}}</dd>

        <dt>Org Editor:</dt>
        <dd attr.itemprop="user_editor_{{i}}">{{u.orgEditor}}</dd>

        <dt>Org Curator:</dt>
        <dd attr.itemprop="user_curator_{{i}}">{{u.orgCurator}}</dd>

        <dt>Org Admin:</dt>
        <dd attr.itemprop="user_orgadmin_{{i}}">{{u.orgAdmin}}</dd>

        <dt>Site Admin:</dt>
        <dd attr.itemprop="user_siteadmin_{{i}}" [innerHtml]="u.siteAdmin?'Yes':'No'"></dd>

        <dt>Roles:</dt>
        <dd attr.itemprop="user_roles_{{i}}">
            <cde-tag [tags]="u.roles" [allTags]="rolesEnum"
                     [canEdit]="true" (changed)="updateRoles(u)"></cde-tag>
        </dd>

        <dt>Known IPs:</dt>
        <dd>{{u.knownIPs}}</dd>
    </dl>
    <hr/>
</ng-container>

<ng-template #newUserContent>
    <h1 mat-dialog-title>Add User</h1>
    <form role="form" #newUserForm="ngForm">
        <mat-dialog-content>
            <div class="alert alert-info">
                Please ensure the username matches the UMLS username.
            </div>
            <div class="form-group">
                <label for="newUsername">Name</label>
                <input class="form-control" id="newUsername" name="username" Placeholder="New Username"
                       [(ngModel)]="newUsername" required/>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button class="button secondary" [mat-dialog-close]>
                Cancel
            </button>
            <button id="createNewUserBtn" type="submit" class="button success" [mat-dialog-close]="true"
                    [disabled]="!newUserForm.form.valid">
                Save
            </button>
        </mat-dialog-actions>
    </form>
</ng-template>
