<h4><strong>General Details</strong></h4>
<table class="table table-border table-responsive accordionlist">
    <tr>
        <th>Name:</th>
        <td id="dd_general_name" ng-bind-html="cde.primaryNameCopy"></td>
    </tr>
    <tr>
        <th>Steward:</th>
        <td ng-bind-html="cde.stewardOrg.name"></td>
    </tr>
    <tr>
        <th>Definition:</th>
        <td id="dd_def" ng-bind-html="cde.primaryDefinitionCopy | placeholdEmpty"></td>
    </tr>
    <tr>
        <th>Used By:</th>
        <td id="dd_usedBy">
            <span ng-switch="cde.classification.length > 0">
                <span ng-switch-when="false">None</span>
                <span ng-switch-default>
                    <span ng-repeat="ub in cde.usedBy">{{ub}} </span>
                </span>
            </span>
        </td>
    </tr>
    <tr>
        <th>Unit of Measure:</th>
        <td id="dd_uom">{{cde.valueDomain.uom | placeholdEmpty}}</td>
    </tr>
    <tr>
        <th ng-show="cde.origin">Origin:</th>
        <td>{{cde.origin}}</td>
    </tr>
    <tr>
        <th ng-show="cde.source">Source:</th>
        <td>{{cde.source}}</td>
    </tr>
    <tr>
        <th id="dt_status">Status:</th>
        <td id="dd_status">{{cde.registrationState.registrationStatus}}</td>
    </tr>
    <tr>
        <th id="dt_valueType">Value Type:</th>
        <td id="dd_valueType">{{cde.valueDomain.datatype}}</td>
    </tr>
    <tr>
        <th ng-show="cde.views">Views:</th>
        <td id="dd_views">{{cde.views}}</td>
    </tr>
</table>

