<h1>Articles</h1>
<div>
    <mat-icon (click)="openHelp()">help_outline</mat-icon>
</div>
<mat-form-field style="width: 50%">
    <mat-select placeholder="Article Key" [(ngModel)]="selectedKey" (ngModelChange)="keyChanged()">
        <mat-option *ngFor="let key of articles" [value]="key">{{key}}</mat-option>
    </mat-select>
</mat-form-field>

<cde-inline-area-edit *ngIf="article" [(model)]="article.body" [defFormat]="'html'" [isAllowed]="true"
                      (modelChange)="save()"></cde-inline-area-edit>
