<a class='btn btn-small btn-default fa fa-clipboard MergeDataElement'
   id="openMergeDataElementModalBtn" (click)="openMergeDataElementModal()">Merge Data Element</a>

<ng-template #mergeDataElementContent id="mergeDataElementModal" let-c="close" let-d="dismiss">
    <div class="modal-header" id="MergeDataElementModalHeader">
        <div class="col-xs-10 col-xs-offset-1">
            <a target="_blank" href="/deView?tinyId={{source.tinyId}}">{{source.naming[0].designation}}</a>
            [{{ source.stewardOrg.name }}]
            <br><i class="fa fa-arrow-down"></i><br>
            <a target="_blank" href="/deView?tinyId={{destination.tinyId}}">{{destination.naming[0].designation}}</a>
            [{{ destination.stewardOrg.name }}]
        </div>
    </div>
    <div class="modal-body" id="MergeDataElementModalBody">
        <div class="col-xs-10 col-xs-offset-1">
            Fields to be Imported
            <button id="checkAllMergeFieldsBtn" class="btn btn-default" (click)="checkAllMergerFields();">
                Check All
            </button>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldClassifications"
                           [(ngModel)]="mergeFields.classifications" (ngModelChange)="allowToMerge()">Classifications
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldIdentifiers" [(ngModel)]="mergeFields.ids"
                           (ngModelChange)="allowToMerge()">Identifiers
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldsNaming" [(ngModel)]="mergeFields.naming"
                           (ngModelChange)="allowToMerge()">Names
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldsProperties"
                           [(ngModel)]="mergeFields.properties" (ngModelChange)="allowToMerge()">Properties
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldsAttachments"
                           [(ngModel)]="mergeFields.attachments" (ngModelChange)="allowToMerge()">Attachments
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldsSources" [(ngModel)]="mergeFields.sources"
                           (ngModelChange)="allowToMerge()">Sources
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldsReferenceDocuments"
                           [(ngModel)]="mergeFields.referenceDocuments" (ngModelChange)="allowToMerge()">Reference
                    Document
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldsDataSets" [(ngModel)]="mergeFields.dataSets"
                           (ngModelChange)="allowToMerge()">Data
                    Sets
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldsDerivationRules"
                           [(ngModel)]="mergeFields.derivationRules" (ngModelChange)="allowToMerge()">Derivation Rules
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <input type="checkbox" id="mergeFieldsRetireCde"
                           [(ngModel)]="mergeFields.retireCde" (ngModelChange)="allowToMerge()">Retire Cde?
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" id="MergeDataElementModalFooter">
        <button class="btn btn-default cancel" (click)="c()">Cancel</button>
        <button class="btn btn-warning cancel" (click)="doMerge()" [disabled]="!allow" id="doMergeBtn">
            Retire & Merge
        </button>
    </div>
</ng-template>
