<button id="openMergeDataElementModalBtn" class="button" (click)="openMergeDataElementModal()">
    <mat-icon>content_copy</mat-icon>
    Merge Into This Data Element
</button>

<ng-template #mergeDataElementContent>
    <h1 mat-dialog-title>
        <a target="_blank" href="/deView?tinyId={{source.tinyId}}">{{source.designations[0].designation}}</a>
        [{{ source.stewardOrg.name }}]
        <br>
        <mat-icon style="font-size: 24px">arrow_downward</mat-icon>
        <br>
        <a target="_blank"
           href="/deView?tinyId={{destination.tinyId}}">{{destination.designations[0].designation}}</a>
        [{{ destination.stewardOrg.name }}]
    </h1>
    <mat-dialog-content>
        Fields to be Imported
        <button id="selectAllMergeFieldsBtn" class="button light" (click)="selectAllMergerFields();">
            Select All
        </button>
        <button id="unselectAllMergeFieldsBtn" class="button light" (click)="unselectAllMergerFields();">
            Unselect All
        </button>
        <mat-checkbox id="mergeFieldClassifications" [(ngModel)]="mergeFields.classifications"
                      (change)="allowToMerge()">
            Classifications
        </mat-checkbox>
        <mat-checkbox id="mergeFieldIdentifiers" [(ngModel)]="mergeFields.ids" (change)="allowToMerge()">
            Identifiers
        </mat-checkbox>
        <mat-checkbox id="mergeFieldsDesignations" [(ngModel)]="mergeFields.designations"
                      (change)="allowToMerge()">
            Designations
        </mat-checkbox>
        <mat-checkbox id="mergeFieldsDefinitions" [(ngModel)]="mergeFields.definitions"
                      (change)="allowToMerge()">
            Definitions
        </mat-checkbox>
        <mat-checkbox id="mergeFieldsProperties" [(ngModel)]="mergeFields.properties"
                      (change)="allowToMerge()">
            Properties
        </mat-checkbox>
        <mat-checkbox id="mergeFieldsAttachments" [(ngModel)]="mergeFields.attachments"
                      (change)="allowToMerge()">
            Attachments
        </mat-checkbox>
        <mat-checkbox id="mergeFieldsSources" [(ngModel)]="mergeFields.sources" (change)="allowToMerge()">
            Sources
        </mat-checkbox>
        <mat-checkbox id="mergeFieldsReferenceDocuments" [(ngModel)]="mergeFields.referenceDocuments"
                      (change)="allowToMerge()">
            Reference Document
        </mat-checkbox>
        <mat-checkbox id="mergeFieldsDataSets" [(ngModel)]="mergeFields.dataSets" (change)="allowToMerge()">
            Data Sets
        </mat-checkbox>
        <mat-checkbox id="mergeFieldsDerivationRules" [(ngModel)]="mergeFields.derivationRules"
                      (change)="allowToMerge()">
            Derivation Rules
        </mat-checkbox>
        <mat-checkbox id="mergeFieldsRetireCde" [(ngModel)]="mergeFields.retireCde"
                      (change)="allowToMerge()">
            Retire Cde?
        </mat-checkbox>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="button fail" (click)="dialogRef.close()">Cancel</button>
        <button id="doMergeBtn" class="button" (click)="doMerge()" [disabled]="!allow">
            {{mergeFields.retireCde ? "Retire " + source.tinyId + " & " : ""}}
            Merge{{mergeFields.retireCde ? "" : " " + source.tinyId}} into {{destination.tinyId}}
        </button>
    </mat-dialog-actions>
</ng-template>
