<div *ngIf="resource" class="container">
    <div *ngIf="canEdit">
        You can edit this document by click
        <mat-icon routerLink="/siteaccountmanagement" [queryParams]="{tab: 'resourcesTab'}">edit</mat-icon>
    </div>

    <div [innerHtml]="resource.body | cdeSafeHtml"></div>

    <div>
        <mat-list>
            <mat-list-item *ngFor="let feed of RSS_FEED">
                <a [href]="feed.link" target="_blank">{{feed.title}}</a>
            </mat-list-item>
        </mat-list>
    </div>

</div>