<mat-card>
    <mat-card-header>
        <mat-card-title  style="font-size: 16px;">
            Search results for: <a [href]="rssFeed.link">{{rssFeed.title}}</a>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="rssFeed.image" alt="{{rssFeed.image.title}}" [src]="rssFeed.image.url">
    <mat-card-content>
            <div *ngFor="let item of rssFeed.items" class="boxed-div" style="font-size: 16px;">
                <a [href]="item.link" target="_blank" rel="noopener noreferrer">{{item.title}}</a>
            </div>
    </mat-card-content>
</mat-card>
