<div class="container-fluid">
    <div *ngIf="quickBoardService.numberForms === 0">
        <h3>The quick board is empty.</h3>
        <p>Note: Click on
            <mat-icon>add_circle_outline</mat-icon>
            to add an element to the quick board.
            <a routerLink="/form/search">Go to the search page and get started.</a></p>
    </div>
    <div *ngIf="quickBoardService.numberForms > 0">
        <cde-compare-side-by-side [(elements)]="quickBoardService.forms"></cde-compare-side-by-side>
        <cde-list-view-controls [(listView)]="listViews"></cde-list-view-controls>
        <button id="qb_form_empty" mat-raised-button (click)="quickBoardService.emptyFormQuickBoard();">
            <mat-icon>delete</mat-icon>
            Empty Quick Board
        </button>
        <button id="qb_form_export" mat-raised-button>
            <mat-icon>play_for_work</mat-icon>
            Export Quick Board
        </button>
        <cde-create-board [module]="'form'" [elts]="quickBoardService.forms" [buttonName]="'Create Board'"></cde-create-board>
        <hr>
        <cde-list-view *ngIf="quickBoardService.numberForms > 0" location="quickBoard"
                       [elts]="quickBoardService.forms" [(listView)]="listViews"
                       [module]="'form'"></cde-list-view>
    </div>
</div>