<div class="modal-header" id="addClassificationModalHeader">
    <h3>Add Classification Under</h3>
    <p>Add a new classification under path: <strong>{{path}}</strong></p>
</div>
<div class="modal-body" id="addClassificationModalBody">
    <form role="form" name="newClassifForm" class="form-inline pt20" novalidate>
        <div class="form-group">
            <input ng-model="parentScope.newClassifName" id="addNewCatName" name="cName" class="form-control" required ng-pattern="/^[^;]+$/">
        </div>
        <button type="submit" class="btn btn-success" id="addNewCatButton" ng-click="addClassification()" ng-disabled="newClassifForm.cName.$error.pattern || newClassifForm.cName.$invalid">Add</button>
        <div ng-show="newClassifForm.cName.$error.pattern" class="error-block">May not contain ; character</div>
    </form>
</div>
<div class="modal-footer" id="addClassificationModalFooter">
    <button class="btn btn-default done" ng-click="close()">Close</button>
</div>