<div class="container-fluid">
    <div class="form-group">
        <h1 class="page-header">
            <label for="orgToManage">Manage Classifications for</label>
        </h1>
        <select class="form-control" ng-model="orgToManage" name="orgToManage" required ng-change="updateOrg()">
            <option ng-repeat="o in myOrgs" ng-value="o">{{o}}</option>
        </select>
    </div>

    <dl id="dl_repeatCs">
        <button class="btn btn-small btn-default" value="add" ng-click="openAddClassificationModal()" id="addClassification"><i class="fa fa-plus"> </i> Add Classification</button>
        
        <div id="repeatCs" class="container-fluid">
            <div id="repeatCm" class="container-fluid">
                <div ng-repeat="elt in classificationToFilter()" class="pull-left" ng-init='pathArray = [elt.name]; myOrg = true;'>
                    <div ng-include="'/template/system/classif-sub-elements'" ng-init="orgName = orgToManage; page = 'management';"></div>
                </div>
            </div>
        </div>
    </dl>
</div>

<script type="text/ng-template" id="renameClassificationModal.html">
    <%- include renameClassificationModal.ejs %>
</script>   