<div class="modal-header" id="addClassificationModalHeader">
    <!-- this shows in Cde and Form view !-->
    <h3 ng-hide='path'>Classify this {{module | uppercase}}</h3>
    
    <!-- this shows in Classification Management view !-->
    <div ng-show='path'>
        <h3>Classify CDEs in Bulk</h3>
        <p>Classify all CDEs classified by <strong>{{path}}</strong> with new classification(s).</p>
    </div>
</div>
<div class="modal-body" id="addClassificationModalBody">
    <div class="btn-group">
        <button id="addClass.byClassTree" ng-disabled="viewType.byClassTree" value="by classification tree"
                ng-click="showByClassTreeView()" class="btn btn-default">
            <i class="fa fa-align-left"></i> by classification tree
        </button>

        <button id="addClass.byRecentlyAdded" ng-disabled="viewType.byRecentlyAdded" value="by recently added"
                ng-click="showByRecentlyAddedView()" class="btn btn-default">
            <i class="fa fa-history"></i> by recently added
        </button>
    </div>
    <br/><hr/>
    <div ng-include="selectedViewType.url"/>

</div>
<div class="modal-footer" id="addClassificationModalFooter">
    <button class="btn btn-default done" ng-click="close()">Close</button>
</div>