<div id="repeatCs" class="container-fluid">
    <div ng-repeat="stewardClassifications in classificationToFilter()" ng-hide="hideWorkingGroups(stewardClassifications)" class="pull-left" id="stewardClassificationGroup-{{stewardClassifications.stewardOrg.name}}">
        <h4 id="{{stewardClassifications.stewardOrg.name}}">{{stewardClassifications.stewardOrg.name}}</h4>
        <hr/>
        <div class="pull-left" 
             ng-repeat="elt in stewardClassifications.elements" 
             ng-init='pathArray = [elt.name]' 
             id="conceptSystem-{{stewardClassifications.stewardOrg.name}}-{{elt.name}}">

            <ul class="fa-ul">
                <li ng-include="'/system/public/html/classifEltLoop.html'"
                    ng-init="myOrg = myOrgs.indexOf(stewardClassifications.stewardOrg.name) >= 0; orgName = stewardClassifications.stewardOrg.name; pathArray = pathArray.slice(0); classificationPage='deview'"
                    id="classification-{{pathArray.join()}}">
                </li>
            </ul>
        </div>
    </div>
</div>