<a tabindex="-1">
    <span role="button" title="{{elt.name}}" tabindex="0" ng-click="searchByClassification(orgName, pathArray, module)"  id="classification-{{elt.name}}" class="name hand-cursor" ng:class="($parent.$parent.$parent.$index===undefined) ? 'first-level-classification' : ''">
        <span class="name">{{elt.name}}</span>
    </span>
</a>

<span ng-show="myOrg">
    <a title="Edit" 
       ng-show="page=='management'" 
       ng-click="showRenameDialog(orgName, pathArray)" 
       class="fa fa-pencil hand-cursor" >
    </a>
    <a ng-click="showRemoveClassificationModal(orgName, pathArray)" 
       class="fa fa-trash-o hand-cursor" 
       title="Remove">
    </a>
    <a title="Reclassify"
       class="fa fa-retweet hand-cursor classifyAll" 
       ng-click="showClassifyEntireSearchModal(orgName, pathArray);" 
       ng-hide="classificationPage==='deview'">
    </a>    
</span>

<ul class="fa-ul">
    <li ng-repeat="elt in elt.elements | orderBy:'name'"
        ng-include="'/template/system/classif-sub-elements'"
        ng-init="pathArray=pathArray.slice(0); pathArray.push(elt.name)"
        id="classification-{{pathArray.join()}}">
    </li>
</ul>