<div class="container-fluid">
    <h1 class="page-header">
        <label for="orgToManage">Manage Classifications</label>
    </h1>

    <select class="form-control" ng-model="orgToManage" name="orgToManage" required ng-change="updateOrg()">
        <option ng-repeat="o in myOrgs" ng-value="o">{{o}}</option>
    </select>
    <br/>
    <div id="classMgt">
        <h4 id="org-{{org.name}}">
            {{org.name}}
            <a title="Add Child Classification"
                class="hand-cursor" 
                ng-click="openAddClassificationModal(org.name, null)"><i class="fa fa-share fa-rotate-180"></i></a>
        </h4> 

        <hr/>
        <dl id="dl_repeatCs">
            <div id="repeatCs" class="container-fluid">
                <div id="repeatCm" class="container-fluid">
                    <div ng-repeat="elt in classificationToFilter()" class="pull-left" ng-init='pathArray = [elt.name]; myOrg = true;'>
                        <div ng-include="'/system/public/html/classifEltLoop.html'" ng-init="orgName = orgToManage; page = 'management';"></div>
                    </div>
                </div>
            </div>
        </dl>
    </div>
</div>

<script type="text/ng-template" id="renameClassificationModal.html">
    <%- include renameClassificationModal.ejs %>
</script>