<script type="text/javascript">
	(function () {
		window.maxPin = <%= config.maxPin %>;
		window.userAlertTime = <%= config.userAlertTime || 5000 %>;
		window.federatedLogin = '<%= config.uts.federatedLogin %>';
		window.publicUrl = '<%= config.publicUrl %>';
        window.urlProd = '<%= config.urlProd %>';
		window.siteKey = '<%= config.siteKey  %>';
		window.meshUrl = '<%= config.mesh.baseUrl %>';
		window.version = '<%= version %>';
		window.showCovidBanner = <%= config.showCovidBanner %>;
	})();
</script>

