<script type="text/javascript">
	(function () {
		window.loggedIn = <%= loggedIn %>;
		window.maxPin = <%= config.maxPin %>;
		window.formEditable = <%= config.modules.forms.editable %>;
		window.formLocalRender = <%= config.modules.forms.localRender %>;
		window.formLoincRender = <%= config.modules.forms.loincRender %>;
		window.formLoincRenderUrl = '<%= config.modules.forms.loincRenderUrl %>';
		window.formEnabled = <%= config.modules.forms !== undefined %>;
		window.userAlertTime = <%= config.userAlertTime || 5000 %>;
		window.debugEnabled = <%= config.debugEnabled || false %>;
		window.oauthEnabled = <%= config.oauth.enabled || false %>;
		window.publicUrl = '<%= config.publicUrl %>';
	})();
</script>