<div ng-controller="ClassificationCtrl" >
    <h2>
        Classification
        <button class="btn btn-small btn-default" value="add" ng-click="openAddClassificationModal()" id="addClassification" ng-show="myOrgs.length>0"><i class="fa fa-plus"> </i> Add Classification</button>
    </h2>

    <div ng-include="'/template/system/classificationBody'">
    </div>

</div>
