<div ng-controller="ClassificationCtrl" >
    <h2>
        Classification
        <button ng-disabled="elt.unsaved" class="btn btn-small btn-default" value="add" ng-click="openAddClassificationModal()" id="addClassification" ng-show="myOrgs.length>0"><i class="fa fa-plus"> </i> Classify this {{module | uppercase}}</button>
    </h2>

    <div ng-include="'/template/system/classificationBody'">
    </div>

</div>
