<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <title>NIH Common Data Elements (CDE) Repository</title>
    <meta name="site-version" content="<%= version %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description"
          content="Repository of Common Data Elements (CDE) and Protocol Forms. Search CDEs. Search Protocol Forms.">
    <meta name="keywords"
          content="cde, common data element, form, protocol, protocol form, crf, case report form, promis, neuro-qol, phenx, ahrq, ninds, value set, repository, nih, nlm, national institutes of health, national library of medicine">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="hgnYTGxY1q6mEcYD8VptKKAQCnwoWzfySPSGQWRgdyk">
    <meta name="theme-color" content="#004496">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="manifest" href="/app/manifest.webmanifest">

    <%- include config.html %>

    <!-- build:inlinecss /launch/home.css -->
    <link href="/app/cde.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/common/common.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../modules/_app/staticHome/one.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../modules/_app/staticHome/two.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../modules/_app/staticHome/three.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- endbuild -->
</head>

<body role="application" id="top">

<div itemscope>

    <%- include googleAnalytics.html %>

    <NIHCDECONTENT/>
    <script>
        var imagesLoaded = false;
        function loadImages(q) {
            if (!imagesLoaded && q.matches) {
                [].forEach.call(document.querySelectorAll('source[data-srcset]'),    function(img) {
                    img.setAttribute('srcset', img.getAttribute('data-srcset'));
                    img.onload = function() {
                        img.removeAttribute('data-srcset');
                    };
                });
                [].forEach.call(document.querySelectorAll('img[data-src]'),    function(img) {
                    img.setAttribute('src', img.getAttribute('data-src'));
                    img.onload = function() {
                        img.removeAttribute('data-src');
                    };
                });
                imagesLoaded = true;
            }
        }
        var matcher = window.matchMedia("(min-width: 576px)");
        loadImages(matcher);
        matcher.addListener(loadImages);
    </script>

    <%- include footer.html %>

</div>

<script>
    var cdeQuick = window.localStorage["nlmcde.quickBoard"];
    var formQuick = window.localStorage["nlmcde.formQuickBoard"]
    document.getElementById("menu_qb_link").innerHTML =
        document.getElementById("drawer_menu_qb_link").innerHTML = "Quick Board (" +
            ((cdeQuick ? JSON.parse(cdeQuick).length : 0) + (formQuick ? JSON.parse(formQuick).length : 0)) + ")";
</script>

<!-- build:inlinejs /launch/vendor.js -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<!-- endbuild -->

<!--[if IE]>
<script>
    window.location = "/supportedBrowsers";
    document.createElement("inline-edit");
    document.createElement("inline-area-edit");
</script>
<![endif]-->

<script>
    if ((window.location.protocol === 'https:' || window.location.hostname === 'localhost') && 'serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/sw.js').then(function(registration) {}, function(err) {});
        });
    }
</script>

<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike",
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/cde/public/assets/img/min/NIH-CDE.svg"
          }
</script>

<script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }
</script>

<script src="/app/material.min.js"></script>


</body>
</html>
