<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="cde" id="ng-app" lang="en">
    <head>        
        <title>NIH CDE Repository</title>
        <meta name="site-version" content="<%- include version.ejs %>">

        <!--[if lt IE 9]>
            <script type="text/javascript">
                window.location = "/supportedBrowsers";
            </script>
         <![endif]--> 

        <link href="/cde/public/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/cde/public/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="/cde/public/assets/css/ng-grid.min.css" rel="stylesheet" type="text/css" />
        <link href="/cde/public/assets/css/bootstrap-tour.min.css" rel="stylesheet" type="text/css" />

        <link href="/cde/public/assets/css/select2.css" rel="stylesheet">
        <link href="/cde/public/assets/css/selectize.default.css" rel="stylesheet">
        
        <!-- build:css /cde/public/css/style.concat.min.css -->
        <link href="/cde/public/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- endbuild -->

        <link rel='stylesheet' href='/cde/public/assets/css/textAngular.css'>

        <!-- build:js /cde/public/assets/js/resource.concat.min.js -->
        <script src="/cde/public/assets/js/jquery.min.js"></script>
        <script src="/cde/public/assets/js/jquery-ui.min.js"></script>        
        <script src="/cde/public/assets/js/angular.min.js"></script>
        <script src="/cde/public/assets/js/angular-route.min.js"></script>
        <script src="/cde/public/assets/js/angular-resource.min.js"></script>
        <script src="/cde/public/assets/js/angular-sanitize.min.js"></script>
        <script src="/cde/public/assets/js/angular-animate.min.js"></script>

        <script src="/cde/public/assets/js/bootstrap.js"></script>
        <script src="/cde/public/assets/js/ng-grid-2.0.7.min.js"></script>

        <script src='/cde/public/assets/js/textAngular-rangy.min.js'></script>
        <script src='/cde/public/assets/js/textAngular-sanitize.min.js'></script>
        <script src='/cde/public/assets/js/textAngular.min.js'></script>

        <script src="/cde/public/assets/js/angular-local-storage.js"></script> 
        <script src="/cde/public/assets/js/ui-bootstrap-tpls.js"></script>
        <script src="/cde/public/assets/js/diff_match_patch.js"></script>
        <script src="/cde/public/assets/js/match-media.js"></script>
        <script src="/cde/public/assets/js/sortable.js"></script>
        <script src="/cde/public/assets/js/scrollfix.js"></script>        
        <script src="/cde/public/assets/js/select.js"></script>        
        <script src="/cde/public/assets/js/bootstrap-tour.js"></script>        
        <script src="/cde/public/assets/js/camelCaseToHuman.js"></script>        
        <!-- endbuild -->
        
        <!--[if lte IE 9]>
          <script>
            document.createElement('inline-edit');
            document.createElement('inline-area-edit');
          </script>
        <![endif]-->         
         
        <!-- fixes an issue in bootstrap #1078 -->
        <style>
            .modal-body{overflow-y: inherit;}
            .hand-cursor {cursor: pointer;}
        </style>
    </head>
    <body role="application">

        
        <div ng-controller="MainCtrl">
            <!-- Navagation bar -->
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only sr-only-focusable">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img alt="Home" src="/cde/public/assets/img/nih-cde-logo-simple.png" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li ng-class="{ active: isPageActive('/cde/search')}"><a href="/#/cde/search">CDEs</a></li>
                                                       
                            <% if (config.modules.forms) { %><li ng-class="{ active: isPageActive('/form/search')}"><a href="/#/form/search">Forms</a></li> <% } %>
                            
                            <li ng-class="{ active: isPageActive('/boardList') ||  isPageActive('/myboards')}" ng-show='user._id' class="dropdown" tabindex="0">    
                                <a class="dropdown-toggle" data-toggle="dropdown-c" href="#" id="dropdownMenu1" tabindex="-1" title="Boards" aria-label="Boards">Boards<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="group" aria-labelledby="dropdownMenu1" tabindex="0" aria-expanded="true">
                                    <li><a href="#/boardList">Public Boards</a></li>                                    
                                    <li><a href="#/myboards">My Boards</a></li>
                                </ul>
                            </li>   
                           
                            <li ng-class="{ active: isPageActive('/boardList')}" ng-show='!user._id' class="dropdown">    
                                <a href="#/boardList" id="boardsMenu">Boards</a>
                            </li>                            
                            
                            <li ng-class="{ active: isPageActive('/createCde') || isPageActive('/createForm')}" ng-show='isOrgCurator()' class="dropdown" tabindex="0">    
                                <a class="dropdown-toggle" data-toggle="dropdown-c" href="#" id="dropdownMenu2" tabindex="-1" title="Create" aria-label="Create">Create<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2" tabindex="0">
                                    <li><a href="#/createCde">CDE</a></li>
                                    <% if (config.modules.forms) { %><li><a href="#/createForm">Form</a></li><% } %>
                                </ul>
                            </li>                            
                            
                            <li ng-class="{ active: isPageActive('/quickBoard')}">
                                <a class="navbar-link" href="#/quickBoard">
                                    Quick Board (
                                        <span ng-switch="quickBoard.length">
                                            <span ng-switch-when="0">empty</span>
                                            <span ng-switch-when="10">full</span>
                                            <span ng-switch-default>{{quickBoard.length}}</span>
                                        </span>
                                    )
                                </a>                          
                            </li>
                            <li ng-class="{ active: isPageActive('/help')}">
                                <a class="dropdown-toggle" data-toggle="dropdown-c" href="#" id="dropdownMenu_help" tabindex="-1" title="Help" aria-label="Help">Help<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu_help" tabindex="0">
                                    <li><a href="#/home">About</a></li>
                                    <% if (config.modules.article) { %><li><a href="#/help/index">User Guide</a></li><% } %>
                                    <li ng-controller="TakeATourCtrl"><a ng-click="restartTour()">Take a tour</a></li>
                                </ul>                                                     
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" data-userloaded="loaded-{{user.userLoaded}}">
                            <a ng-cloak ng-if="userHasMail" title="New messages" href="#/inbox"><i id="incomingMessage" class="fa fa-envelope text-danger"></i></a>
                            <li class="login" ng-class="{ active: isPageActive('/login')}" ng-show="user.visitor"><a href="#/login" id="login_link" tabindex="0" title="Log in" aria-label="Log in" ng-bind="'Log In'"></a></li>
                            <li class="login" ng-show="user._id" tabindex="0">                                                               
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="username_link" tabindex="-1" title="{{user.username}}" aria-label="{{user.username}}"><span ng-bind="user.username"></span><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="username_link" tabindex="0">
                                    <li ng-show='user._id'><a href="#/profile">Profile</a></li>
                                    <li ng-show='inboxVisible()'><a href="#/inbox">Inbox</a></li>
                                    <li ng-show="isOrgCurator()"><a href="#/classificationmanagement">Classifications</a></li>
                                    <li ng-show="isOrgAdmin() && !user.siteAdmin"><a href="#/orgaccountmanagement">Account Management</a></li>
                                    <li ng-show='user._id && user.siteAdmin'><a href="#/siteaccountmanagement">Site Management</a></li>
                                    <li ng-show='user._id && user.siteAdmin'><a href="#/siteAudit">Audit</a></li>
                                    <li ng-show='user._id'><a href="/logout">Log Out</a></li>                                         
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Alerts area -->
            <div class="navbar-fixed-bottom">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            
            <!-- Main content area -->
            <div ng-view>
            </div>
        </div>
        
        <!-- Footer area -->
        <div>
            <hr>

            <footer>
                <div class="container">
                    <div class="row pt20">
                      <div class="col-md-5">
                        <p>
                            <a href="http://www.nlm.nih.gov/copyright.html"><small>Copyright</small></a>,
                            <a href="http://www.nlm.nih.gov/privacy.html"><small>Privacy</small></a>,
                            <a href="http://www.nlm.nih.gov/accessibility.html"><small>Accessibility</small></a>
                            <br/><br/>
                            <small>U.S. National Library of Medicine<br/>8600 Rockville Pike, Bethesda, MD 20894</small>
                        </p>
                      </div>
                      <div class="col-md-2">
                          <center><br/><a href="http://www.usa.gov"><img alt="USA.gov logo" src="/cde/public/assets/img/usagov_logo.gif" /></a></center>
                      </div>
                      <div class="col-md-5">
                          <p class="pull-right">
                                <a href="http://www.nih.gov/"><small>National Institutes of Health</small></a><br/>
                                <a href="http://www.hhs.gov/"><small>Health &amp; Human Services</small></a><br/>
                                <a href="http://www.nih.gov/icd/od/foia/index.htm"><small>Freedom of Information Act</small></a><br/>
                                <a href="http://apps.nlm.nih.gov/mainweb/siebel/nlm/index.cfm"><small>Contact Us</small></a>
                          </p>
                      </div>
                    </div>
                </div>
            </footer>
        </div>

        <%- include includeFrontEndJS.ejs %>
        <%- include ../../cde/views/includeFrontEndJS.ejs %>
        <%- include ../../form/views/includeFrontEndJS.ejs %>
        
        <script src="/article/public/js/articleConfig.js"></script>        

    </body>
</html>
