<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">
<head>
    <base href="/">
    <title>NIH Common Data Elements (CDE) Repository</title>
    <meta name="site-version" content="<%= version %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description"
          content="Repository of Common Data Elements (CDE) and Protocol Forms. Search CDEs. Search Protocol Forms.">
    <meta name="keywords"
          content="cde, common data element, form, protocol, protocol form, crf, case report form, promis, neuro-qol, phenx, ahrq, ninds, value set, repository, nih, nlm, national institutes of health, national library of medicine">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="hgnYTGxY1q6mEcYD8VptKKAQCnwoWzfySPSGQWRgdyk">

    <!--[if lt IE 9]>
    <script type="text/javascript">
        window.location = "/supportedBrowsers";
        document.createElement("inline-edit");
        document.createElement("inline-area-edit");
    </script>
    <![endif]-->

    <script type="text/javascript">
        (function () {
            function CustomEvent(event, params) {
                params = params || {bubbles: false, cancelable: false, detail: undefined};
                var evt = document.createEvent('CustomEvent');
                evt.initCustomEvent(event, params.bubbles, params.cancelable, params.detail);
                return evt;
            }

            CustomEvent.prototype = window.Event.prototype;

            if (typeof(window.Event) !== 'function')
                window.Event = CustomEvent;
        })();
    </script>

    <style>
        .ieFix {
            margin-right: 5px !important;
        }
    </style>
    <!--<![endif]-->

    <!-- build:css /system/public/assets/css/styles.css -->
    <link href="/cde/public/css/style.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- bower:css -->
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/components/bootstrap-css-only/css/bootstrap.css" />
    <!-- endbower -->

    <!-- endbuild -->

    <%- include config.html %>

</head>

<body role="application" id="top">

<div itemscope>

    <%- include googleAnalytics.html %>
    <nih-cde></nih-cde>

    <div class="loading">
        <br><br><br><br><br><br>
        <h2 class="text-center">Loading...</h2>
        <br><br><br><br><br><br>
    </div>

    <%- include footer.html %>

</div>

<!-- Polyfills for legacy browsers -->
<script type="text/javascript" src="/static/shim.min.js" defer></script>
<script type="text/javascript" src="/static/Intl.min.js" defer></script>
<script type="text/javascript" src="/static/en.js" defer></script>
<script type="text/javascript" src="/static/classList.min.js" defer></script>
<!--[if IE]>
<script type="text/javascript" src="/static/formdata.js" defer></script><![endif]-->
<!--[if IE]>
<script type="text/javascript" src="/static/typedarray.js" defer></script><![endif]-->
<!--[if IE]>
<script type="text/javascript" src="/static/Blob.js" defer></script><![endif]-->

<!-- build:js /system/public/assets/js/vendor.js -->
<!-- bower:js -->
<script src="/components/jquery/jquery.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-resource/angular-resource.js"></script>
<script src="/components/angular-sanitize/angular-sanitize.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:webp /system/public/assets/js/main.js -->
<script src="/static/main.js" defer></script>
<!-- endbuild -->

<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike",
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/cde/public/assets/img/NIH-CDE.png"
          }
</script>

<script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }
</script>

</body>
</html>
