<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="en">
<head>
	<title>NIH Common Data Elements (CDE) Repository</title>
	<meta name="site-version" content="<%= version %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description"
	      content="Repository of Common Data Elements (CDE) and Protocol Forms. Search CDEs. Search Protocol Forms.">
	<meta name="keywords"
	      content="cde, common data element, form, protocol, protocol form, crf, case report form, promis, neuro-qol, phenx, ahrq, ninds, value set, repository, nih, nlm, national institutes of health, national library of medicine">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="hgnYTGxY1q6mEcYD8VptKKAQCnwoWzfySPSGQWRgdyk">

	<!--[if lt IE 9]>
	<script type="text/javascript">
		window.location = "/supportedBrowsers";
		document.createElement("inline-edit");
		document.createElement("inline-area-edit");
	</script>
	<![endif]-->

	<script type="text/javascript">
        (function () {
            function CustomEvent(event, params) {
                params = params || {bubbles: false, cancelable: false, detail: undefined};
                var evt = document.createEvent('CustomEvent');
                evt.initCustomEvent(event, params.bubbles, params.cancelable, params.detail);
                return evt;
            }

            CustomEvent.prototype = window.Event.prototype;

            if (typeof(window.Event) !== 'function')
                window.Event = CustomEvent;
        })();
	</script>

	<style>
		.ieFix {
			margin-right: 5px !important;
		}
	</style>
	<!--<![endif]-->

	<!-- build:css /system/public/assets/css/styles.css -->
	<link href="/cde/public/css/style.css" rel="stylesheet" type="text/css" media="all"/>

	<!-- bower:css -->
	<link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="/components/selectize/dist/css/selectize.css" />
	<link rel="stylesheet" href="/components/bootstrap-css-only/css/bootstrap.css" />
	<link rel="stylesheet" href="/components/jquery-ui/themes/start/jquery-ui.min.css" />
	<!-- endbower -->

	<!-- runtime dependencies -->
	<link rel="stylesheet" href="/static/feedback.min.css"/>
	<!-- endbuild -->

	<%- include config.html %>

</head>

<body role="application" id="top">

<div itemscope>

	<%- include googleAnalytics.html %>

	<div>
		<cde-navigation [quick-board-count]="quickBoard.elts.length + formQuickBoard.elts.length"></cde-navigation>
	</div>

	<!-- Main content area -->
	<div ng-view>
		<br><br><br><br><br><br>
		<h2 class="text-center">Loading...</h2>
		<br><br><br><br><br><br>
	</div>
	<nih-cde></nih-cde>

	<!-- Alerts area -->
	<cde-alert></cde-alert>

	<!-- Footer area -->
	<%- include footer.html %>

</div>

<!-- Polyfills for legacy browsers -->
<script type="text/javascript" src="/static/shim.min.js" defer></script>
<script type="text/javascript" src="/static/Intl.min.js" defer></script>
<script type="text/javascript" src="/static/en.js" defer></script>
<script type="text/javascript" src="/static/classList.min.js" defer></script>
<!--[if IE]><script type="text/javascript" src="/static/formdata.js" defer></script><![endif]-->
<!--[if IE]><script type="text/javascript" src="/static/typedarray.js" defer></script><![endif]-->
<!--[if IE]><script type="text/javascript" src="/static/Blob.js" defer></script><![endif]-->

<!-- build:js /system/public/assets/js/vendor.js -->
<!-- bower:js -->
<script src="/components/jquery/jquery.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-resource/angular-resource.js"></script>
<script src="/components/angular-sanitize/angular-sanitize.js"></script>
<script src="/components/angular-animate/angular-animate.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="/components/select2/dist/js/select2.js"></script>
<script src="/components/sifter/sifter.js"></script>
<script src="/components/microplugin/src/microplugin.js"></script>
<script src="/components/selectize/dist/js/selectize.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/components/jszip/dist/jszip.js"></script>
<script src="/components/jscrypto/crypto.js"></script>
<script src="/components/async/dist/async.js"></script>
<script src="/components/jquery-ui/jquery-ui.js"></script>
<script src="/components/element-resize-detector/dist/element-resize-detector.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:webp /system/public/assets/js/main.js -->
<script src="/static/main.js" defer></script>
<!-- endbuild -->

<!-- Runtime dependencies -->
<script src="/static/html2canvas.min.js"></script>
<script src="/static/feedback.min.js"></script>

<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike",
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/cde/public/assets/img/NIH-CDE.png"
          }


</script>

<script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }


</script>

<script defer>
    var initButton = '<div id="feedback-button"><button class="feedback-btn feedback-btn-gray hidden-xs">Report a problem!</button></div>';
    var description = '<div id="feedback-welcome"><div class="h3">Report a problem</div>' +
        '<p>What would you like to report?</p>' +
        '<textarea id="feedback-note-tmp"></textarea>' +
        '<br><br>' +
        '<button id="feedback-welcome-next" class="feedback-next-btn btn btn-info">Next</button><div id="feedback-welcome-error">Please enter a description.</div><div class="feedback-wizard-close"></div></div>';

    var highlighter = '<div id="feedback-highlighter"><div class="h3">Report a problem</div>' +
        '<p>Is the problem related to a specific part of the page?</p>' +
        '<p>Go ahead and highlight the area!</p>' +
        '<p>Try to draw a rectangle over the affected area. If this window stays in your way you can move it.</p>' +
        '<img src="/system/public/img/feedbackHowtoHighlight.png">' +
        '<div class="feedback-buttons"><button id="feedback-highlighter-next" class="feedback-next-btn btn btn-info">Next</button><button id="feedback-highlighter-back" class="feedback-back-btn btn btn-default">Back</button></div><div class="feedback-wizard-close"></div></div>';

    var overview = '<div id="feedback-overview"><div class="h3">Report a problem</div><div id="feedback-overview-description"><div id="feedback-overview-description-text">' +
        '<h3>Description</h3><div id="feedback-additional-none"><span>None</span></div></div></div><div id="feedback-overview-screenshot"><h3>Screenshot</h3></div>' +
        '<div class="feedback-buttons"><button id="feedback-submit" class="feedback-submit-btn btn btn-success">Submit</button>' +
        '<button id="feedback-overview-back" class="feedback-back-btn btn btn-default">Back</button></div><div id="feedback-overview-error">Please enter a description.</div><div class="feedback-wizard-close"></div></div>';

    var submitSuccess = '<div id="feedback-submit-success"><div class="h3">Thank you!</div>' +
        '<p>The issue was successfully submitted.</p>' +
        '<button class="feedback-close-btn btn btn-info">OK</button><div class="feedback-wizard-close"></div></div>';

    var submitError = '<div id="feedback-submit-error"><div class="feedback-logo">Feedback</div><p>Sadly an error occured while sending your feedback. Please try again.</p><button class="feedback-close-btn feedback-btn-blue">OK</button><div class="feedback-wizard-close"></div></div>';

    $.feedback({
        ajaxURL: '/feedback/report',
        html2canvasURL: '/static/html2canvas.min.js',
        postBrowserInfo: true,
        postHTML: true,
        postURL: true,
        proxy: undefined,
        letterRendering: false,
        initButtonText: 'Report a problem!',
        strokeStyle: 'black',
        shadowColor: 'black',
        shadowOffsetX: 1,
        shadowOffsetY: 1,
        shadowBlur: 10,
        lineJoin: 'bevel',
        lineWidth: 3,
        feedbackButton: '.feedback-btn',
        showDescriptionModal: true,
        isDraggable: true,
        onScreenshotTaken: function () {
        },
        tpl: {
            initButton: initButton,
            description: description,
            highlighter: highlighter,
            overview: overview,
            submitSuccess: submitSuccess,
            submitError: submitError
        },
        onClose: function () {
        },
        screenshotStroke: true,
        highlightElement: false,
        initialBox: true
    });
</script>

</body>
</html>
