<div class="container-fluid pt40 pb30">
    <form name="advSearchForm" id="advSearchForm"  class="form-inline" ng-submit="submitForm( quickSearchForm.$valid )" novalidate>
        <!-- Search dropdown and text field -->
        <div class="input-group input-group-lg">
            <input name="ftsearch" id="ftsearch-input" class="form-control search-query" type="text" ng-model="searchForm.ftsearch" ng-maxlength="500" placeholder="" ng-change="">

            <!-- Display if screen is large -->
            <div class="input-group-btn">
                <button name="search.submit" id="search.submit" class="btn btn-danger btn-lg" type="submit" ng-click="search()"><i class="fa fa-search"></i> Search</button>
                <button name="resetSearch" id="resetSearch" class="btn btn-default btn-lg" type="button" ng-click="resetSearch()"><i class="fa fa-trash-o"></i> Reset</button>
            </div>
        </div>
        
        <!-- Error display area -->
        <center ng-show="advSearchForm.ftsearch.$invalid && !advSearchForm.ftsearch.$pristine"><p class="error-block"><small>Query terms must be 500 characters or less.</small></p></center>
    </form>
</div>
<hr class="searchInfoHr"/>
<div class="container-fluid searchInfo">
    <span class="pt8 pb8 ib"><strong>{{totalItems}}</strong> results for {{selectedOrg?getSelectedClassifications():'All Classifications'}} | <strong>{{currentSearchTerm?currentSearchTerm:'All Terms'}}</strong> | {{getSelectedStatuses()?getSelectedStatuses():'All Status'}}</span>
    <a href="#/cdeSearchExport" ng-show="totalItems>0 && cPage !== 'forms'">
        <button id="gridView" value="Grid View" class="btn btn-default pull-right">
            <i class="fa fa-table"></i>
            Grid View
        </button>
    </a>
    <button ng-show="totalItems>0" ng-click="openCloseAllSwitch(cdes, 'list');" class="btn btn-default btn-checkbox pull-right" id="openAllCb">
        <span ng-hide="openCloseAllModel.list"><i class="fa fa-expand"></i> Expand All</span>
        <span ng-show="openCloseAllModel.list"><i class="fa fa-compress"></i> Collapse All</span>
    </button>
    <button ng-click="hideShowFilter()" class="btn btn-default btn-checkbox pull-right" id="showHideFilters">
        <span ng-hide="filterMode"><i class="glyphicon glyphicon-filter"></i> Show Filters</span>
        <span ng-show="filterMode"><i class="glyphicon glyphicon-filter"></i> Hide Filters</span>
    </button>   
    <button id="pinAll" ng-click="showPinAllModal();" ng-show="totalItems>0 && isOrgCurator() && cPage !== 'forms'" class="btn btn-default btn-checkbox pull-right">
        Pin All
    </button>        
</div>
<hr class="searchInfoHr"/>
<div class="container-fluid pt30">    
    <script type="text/ng-template"  id="facet_elements_tree.html">
        <span ng-click="selectElement(e)" class="hand-cursor" ng-switch="selectedElements.indexOf(e.name) > -1">
            <i ng-switch-when="true" class="fa fa-angle-down" id="li-checked-{{e.name}}" ></i>
            <i ng-switch-when="false" class="fa fa-angle-right" id="li-blank-{{e.name}}" ></i>
            <span>
                <small> {{e.name}} ({{e.count}})</small>
            </span>
        </span>
        <div ng-show="selectedElements.indexOf(e.name) > -1" style="margin-left: 5px">
            <div ng-repeat="e in e.elements | orderBy:'name'"
                ng-show="selectedElements.indexOf(e.name) > -1 || e.level > selectedElements.length"
                ng-include="'facet_elements_tree.html'"
                >        
            </div>
        </div>
    </script>
    <div class="row">
        <div ng-class="{'col-xs-3' : filterMode===true}" ng-show="filterMode">
            <p ng-show="aggregations.lowRegStatusOrCurator_filter.orgs.buckets" class="gray">Filter by:</p>
            <strong ng-show="aggregations.lowRegStatusOrCurator_filter.orgs.buckets">Classifications</strong>
            <ul class="fa-ul">
                <li ng-repeat="t in aggregations.lowRegStatusOrCurator_filter.orgs.buckets | orderBy:'key'" style="margin-right: -20px" ng-switch="t.key === selectedOrg" ng-click="addOrgFilter(t)" ng-show="t.key === selectedOrg || !selectedOrg">
                    <span class="hand-cursor"  tooltip="{{t.longName}}" tooltip-popup-delay="500" tooltip-placement="right" tooltip-append-to-body="true">
                        <i ng-switch-default class="fa-li fa fa-square-o" id="li-blank-{{t.key}}" ></i>
                        <i ng-switch-when="true" class="fa-li fa fa-check-square-o" id="li-checked-{{t.key}}"></i>
                        <small id="classifications-text-{{t.key}}"> {{t.key}} ({{t.doc_count}})</small>
                    </span>
                </li>
            </ul>
            <div id="classification-facets">
                <div ng-repeat="e in selectedElements" style="margin-left:{{$index * 5}}px;">
                    <span ng-click="selectElement(e)" class="hand-cursor" ng-switch="selectedElements.indexOf(e) > -1">
                        <i ng-switch-when="true" class="fa fa-angle-down" id="li-checked-{{e}}" ></i>
                        <i ng-switch-when="false" class="fa fa-angle-right" id="li-blank-{{e}}" ></i>
                        <span>
                            <small>{{e}}</small>
                        </span>
                    </span>
                </div>  
                <div ng-repeat="b in aggregations.flatClassification | orderBy:'name'" style="margin-left:{{selectedElements.length * 5}}px;">
                    <span ng-click="selectElement(b.name)" class="hand-cursor" ng-switch="selectedElements.indexOf(b.name) > -1">
                        <i ng-switch-when="true" class="fa fa-angle-down" id="li-checked-{{b.name}}" ></i>
                        <i ng-switch-when="false" class="fa fa-angle-right" id="li-blank-{{b.name}}" ></i>
                        <span>
                            <small> {{b.name}} ({{b.count}})</small>
                        </span>
                    </span>
                </div>
            </div>
            <strong ng-show="aggregations.statuses.buckets">Status</strong> 
            <ul class="fa-ul">
                <li ng-repeat="t in registrationStatuses" style="margin-right: -20px" ng-switch="t.selected" ng-click="addStatusFilter(t)">
                    <span class="hand-cursor" ng-show="t.count > 0" tooltip-html-unsafe="{{t.help}}" tooltip-popup-delay="500" tooltip-placement="right" tooltip-append-to-body="true">
                        <i ng-switch-default class="fa-li fa fa-square-o" id="li-blank-{{t.name}}" ></i>
                        <i ng-switch-when="true" class="fa-li fa fa-check-square-o" id="li-checked-{{t.name}}"></i>
                        <small id="status-text-{{t.name}}"> {{t.name}} ({{t.count}})</small>
                    </span>
                </li>
            </ul>
        </div>
        <div ng-class="{'col-xs-9' : filterMode===true, 'col-xs-12' : filterMode===false}">
            <span ng-hide="cdes.length >= 0"><h4><i class="fa fa-spinner fa-spin"></i> Searching...</h4></span>
            <span ng-show="cdes.length === 0"><h4><i class="fa fa-frown-o"></i> No results were found.</h4></span>
            <div id="accordionList" ng-include="'/template/'+module+'/'+module+'AccordionList'"></div>
            <pagination ng-show="totalItems > 0" align="center" direction-links="true" max-size="10" total-items="totalItems" items-per-page="20" page="searchForm.currentPage"></pagination>
        </div>
    </div>
</div>    
