<div ng-controller="LogCtrl" class="container-fluid">
    <div class="row">
        <form class="form-search">
            <div class="form-group col-md-3">
                <label for="ip">Remote Address</label>
                <input name="ip" type="text" ng-model="search.remoteAddr" class="search-query form-control" placeholder="IP Address"/>  
            </div>

            <div class="form-group col-md-3" >
                <label for="fromDate">From Date</label>
                <input class="form-control input-small" name="fromDate" type="text" datepicker-popup="MM/dd/yyyy hh:mm:ss" ng-model="search.fromDate" />
            </div>
            <div class="form-group col-md-3" >
                <label for="toDate">Until Date</label>
                <input class="form-control input-small" name="toDate" type="text" datepicker-popup="MM/dd/yyyy hh:mm:ss" ng-model="search.toDate" />
            </div>
            <div class="form-group col-md-3" >
                <button id="search.submit" type="submit" ng-click="searchLogs()" class="btn btn-default">Search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div id="logGridView" class="gridStyle" ng-grid="gridOptions"></div>
        <a class="btn btn-mini fa fa-external-link" ng-click="downloadCsv()" id="exportLink"> Export</a>    
    </div> 
    <div class="row">
        <pagination align="center" direction-links="true" items-per-page="itemsPerPage" total-items="totalItems" ng-model="search.currentPage" max-size="10" ng-change="pageChanged()"></pagination>
    </div>
</div>
