<div class="container">
    <form class="form-signin" role="form" ng-submit="login()">
        <h2 class="form-signin-heading">Please Log In</h2>
        <p>Note: Log in with your UMLS account. Don't have a UMLS account? <a href="https://uts.nlm.nih.gov//license.html" target="_blank"><span  class="vsloginLink">Request One Now</span></a></p>
        
        <label id="l1" class="sr-only" for="uname">Username</label>
        <input id="uname" type="text" class="form-control" title="username" placeholder="Username" ng-model="username" autofocus="">
        <label id="l2" class="sr-only" for="passwd">Password</label>
        <input id="passwd" type="password" class="form-control" title="password" placeholder="Password" ng-model="password" autocomplete="off"/>
        <input type="hidden" name="_csrf" ng-model="csrf">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login_button">Log In</button>
        <p>Forgot your <a href="https://uts.nlm.nih.gov/license.html#emailUsername" class="vsloginLink" target="_blank"><span>username</span></a> or <a href="https://uts.nlm.nih.gov/license.html#emailTemporaryPassword" target="_blank"><span  class="vsloginLink">password</span></a>?</p>
    </form>
</div>
