<form action="/server/system/login" method="post">
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password" autocomplete="off">
<input type="hidden" name="_csrf" value="<%= csrftoken %>">

<input type="submit">
</form>