<div class="container-fluid">
<div class="row">
    <div class="col-md-3">
        <div>{{message}}</div>  
        <div><b>Please use your UMLS account to login</b><br/><br/></div>
        <form role="form" ng-submit="login()">
            <fieldset>
                <div class="form-group">
                    <label>Username:</label>
                    <input  class="form-control" type="text" ng-model="username" id="uname"/>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input  class="form-control" type="password" ng-model="password" id="passwd"/><br>
                </div>
                <input type="hidden" name="_csrf" ng-model="csrf"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
            </fieldset>
            <p>Don't have a UMLS license/account?<br/>
                <a href="https://uts.nlm.nih.gov//license.html" class="vsloginLink" target="_blank">
                    <span  class="vsloginLink">Request One Now</span></a>
                <br/> 
                <a href="https://uts.nlm.nih.gov/license.html#emailUsername" class="vsloginLink" target="_blank">
                    <span  class="vsloginLink">Forgot Username</span></a>
                <br/>        
                <a href="https://uts.nlm.nih.gov/license.html#emailTemporaryPassword" class="vsloginLink" target="_blank">
                    <span  class="vsloginLink">Forgot Password</span></a> </p>
        </form>
    </div>
</div>
</div>
