<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only sr-only-focusable">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/home">
                <img alt="Home" src="/cde/public/assets/img/nih-cde-logo-simple.png"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isPageActive('/cde/search')}">
                    <a id="menu_cdes_link" href="/#/cde/search">CDEs</a>
                </li>

                <% if (config.modules.forms) { %>
                <li ng-class="{ active: isPageActive('/form/search')}">
                    <a id="menu_forms_link" href="/#/form/search">Forms</a></li>
                <% } %>

                <li uib-dropdown ng-class="{ active: isPageActive('/boardList') ||  isPageActive('/myboards')}"
                    ng-if='user._id'>
                    <a uib-dropdown-toggle class="dropdown-toggle" href="#" id="boardsMenu" title="Boards"
                       aria-label="Boards">Boards<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu" aria-labelledby="boardsMenu" aria-expanded="true">
                        <li><a href="/#/boardList" id="publicBoardsLink">Public Boards</a></li>
                        <li><a href="/#/myboards" id="myBoardsLink">My Boards</a></li>
                    </ul>
                </li>

                <li id="boardsMenu" ng-class="{ active: isPageActive('/boardList')}" ng-if='!user._id'>
                    <a href="/#/boardList">Boards</a>
                </li>
                <li uib-dropdown ng-class="{ active: isPageActive('/createCde') || isPageActive('/createForm')}"
                    ng-show='isOrgCurator()' id="createEltLink">
                    <a uib-dropdown-toggle class="dropdown-toggle" href="#" id="dropdownMenu2" title="Create"
                       aria-label="Create">Create<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a id="createCDELink" href="/#/createCde">CDE</a></li>
                        <li ng-if="canCreateForms()"><a id="createFormLink" href="/#/createForm">Form</a></li>
                    </ul>
                </li>
                <li id="menu_qb_link" ng-class="{ active: isPageActive('/quickBoard')}">
                    <a class="navbar-link" href="/#/quickBoard"
                       ng-bind="'Quick Board (' + (quickBoard.elts.length + formQuickBoard.elts.length) + ')'">
                    </a>
                </li>
                <li id="menu_help_link" uib-dropdown ng-class="{ active: isPageActive('/help')}">
                    <a uib-dropdown-toggle class="dropdown-toggle" href="#" id="dropdownMenu_help" title="Help"
                       aria-label="Help">Help<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu" aria-labelledby="dropdownMenu_help">
                        <li><a href="/#/home">About</a></li>
                        <% if (config.modules.article) { %>
                        <li><a href="/#/help/index">User Guide</a></li>
                        <% } %>
                        <li ng-controller="TakeATourCtrl"><a href="" ng-click="restartTour()">Take a tour</a></li>
                        <li ng-if="user._id && user.siteAdmin"><a href="/#/stats">Statistics</a></li>
                    </ul>
                </li>
            </ul>
            <ul ng-controller="AuthCtrl" class="ieFix nav navbar-nav navbar-right"
                data-userloaded="loaded-{{user.userLoaded}}">
                <a ng-cloak ng-if="userHasMail" title="New messages" href="/inbox">
                    <i id="incomingMessage" class="fa fa-envelope text-danger userIcon"></i></a>
                <li class="login" ng-class="{ active: isPageActive('/login')}" ng-show="!user._id">
                    <a ng-click="goToLogin()" href="/login" id="login_link" title="Log in" aria-label="Log in"
                       ng-bind="'Log In'"></a>
                </li>
                <li uib-dropdown class="login" ng-if="user._id">
                    <a uib-dropdown-toggle class="dropdown-toggle" href="#" id="username_link"
                       title="{{user.username}}" aria-label="{{user.username}}">
                        <span ng-bind="user.username | truncateLongUserName"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="username_link">
                        <li ng-show='user._id'>
                            <a href="/profile" id="user_profile">Profile</a>
                        </li>
                        <li>
                            <a href="/inbox" id="user_inbox">Inbox</a>
                        </li>
                        <li ng-show="isOrgCurator()">
                            <a href="/classificationmanagement" id="user_classifications">Classifications</a>
                        </li>
                        <li ng-show="isOrgAuthority()">
                            <a href="/orgAuthority" id="user_org_authority">Org Management</a>
                        </li>
                        <li ng-show="isOrgAdmin()">
                            <a href="/orgaccountmanagement" id="user_account_management">Account Management</a>
                        </li>
                        <li ng-show='user._id && user.siteAdmin'>
                            <a href="/siteaccountmanagement" id="user_site_management">Site Management</a>
                        </li>
                        <li ng-show='user._id && user.siteAdmin'>
                            <a href="/siteAudit" id="user_audit">Audit</a>
                        </li>
                        <li ng-show='user._id'>
                            <a href="" ng-click="logout()" target="_self" id="user_logout">Log Out</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/#/searchSettings">
                    <i id="searchSettings" ng-click="openSearchSettingsModal()" id="searchSettings"
                       class="fa fa-cog navbar-inverse text-muted userIcon"></i></a></li>
            </ul>
        </div>
    </div>
</div>