<div class="modal-header">
    <h4>Remove Classification</h4>
</div>
<div class="modal-body">
    <br/>You are about to delete <strong>{{classifName}}</strong> classification. Are you sure?
</div>
<div class="modal-footer" id="removeClassificationModalFooter">
    <button class="btn btn-default" ng-click="cancel()" id="cancelRemoveClassificationModal">Cancel</button>    
    <button class="btn btn-danger" ng-click="ok()" id="okRemoveClassificationModal">OK</button>
</div>