<div tabset class="pt40 pb40 container">
    <div tab heading="Logs">
        <%- include logAudit.ejs %>
    </div>
    <div tab heading="Usage">
        <%- include dailyUsage.ejs %>
    </div>
    <div tab heading="Server Errors">
        <div ng-include="'/system/public/html/serverErrorList.html'"></div>
    </div>    
    <div tab heading="Client Errors">
        <div ng-include="'/system/public/html/clientErrorList.html'"></div>
    </div>        
</div>