<div tabset class="pt40 pb40 container">
    <div tab heading="Logs">
        <%- include logAudit.ejs %>
    </div>
    <div tab heading="Usage">
        <%- include dailyUsage.ejs %>
    </div>
    <div tab heading="Errors">
        <div ng-include="'/system/public/html/errorList.html'"></div>
    </div>    
</div>