<div class="container">
    <div class="pt20">{{message}}</div>
    <tabset class="pt20">
        <tab heading="Broadcast">
            <form name="form" role="form">
                <div class="control-group" ng-class="{error: form.version.$invalid}">
                   <label for="message">Broadcast Message: </label>
                   <input class="form-control" name="message" type="text" ng-model="broadcast.message"></input>
                </div>
                <button class="btn btn-warning" ng-click="saveMessage()" id="saveMessage">Save</button>
            </form>
        </tab>
        <tab heading="Site Admins">
            <div class="row" ng-repeat="u in siteAdmins">
                <div class="col-md-11">{{u.username}}</div>
                <div class="col-md-1" ng-show="siteAdmins.length > 1"><span class="fa fa-trash-o" ng-click="removeSiteAdmin(u._id)"> Remove</span></div>
            </div>
            <div class="row input-prepend input-append">
                <input class="col-md-10" type="text" ng-model="admin.username"></input>
                <button class="add-on fa fa-plus btn btn-default" ng-click="addSiteAdmin()"> Add</button>
            </div>
        </tab>
        <tab heading="Organizations">
            <br/>
            <form class="form-inline pt20 pb20" role="form" id="addOrgForm" name="addOrgForm" novalidate>
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" id="newOrgName" name="newOrgName" placeholder="Organization Name" ng-model="newOrg.name" required></input>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="newOrgLongName" name="newOrgLongName" placeholder="Organization Long Name" ng-model="newOrg.longName"></input>
                    </div>
                    <button type="submit" class="btn btn-success" id="addOrg" ng-click="addOrg()" ng-disabled="addOrgForm.newOrgName.$invalid">Add It</button>
                </div>
            </form>
            <br/><br/>
            <table class="table table-bordere table-responsive">
                <tr>
                    <th>Organization Name:</th>
                    <th>Organization Long Name:</th>
                    <th>Mailing Address:</th>
                    <th>E-mail Address:</th>
                    <th>Phone Number:</th>
                    <th>Website:</th>
                </tr>
                <tr ng-repeat="c in orgs | orderBy:'name'">
                    <td id="orgName-{{c.name}}">
                        {{c.name}}
                    </td>
                    <td>
                        <div inline-edit id="orgLongName-{{c.name}}" model="c.longName" is-allowed="true" on-ok="updateOrg(c, 'longName')"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgMailAddress-{{c.name}}" model="c.mailAddress" is-allowed="true" on-ok="updateOrg(c, 'mailAddress')"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgEmailAddress-{{c.name}}" model="c.emailAddress" is-allowed="true" on-ok="updateOrg(c, 'emailAddress')"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgPhoneNumber-{{c.name}}" model="c.phoneNumber" is-allowed="true" on-ok="updateOrg(c, 'phoneNumber')"></div>
                    </td>
                    <td>
                        <div inline-edit id="orgUri-{{c.name}}" model="c.uri" is-allowed="true" on-ok="updateOrg(c, 'uri')"></div>
                    </td>
                </tr>
            </table>
        </tab>
        <tab heading="Organizations Admins">
            <div class="row" ng-repeat="adm in orgAdmins">
                <div class="col-md-4">{{adm.name}}</div>
                <div class="col-md-8">
                    <div class="row" ng-repeat="us in adm.users">
                        <div class="col-md-11">{{us.username}}</div>
                        <div class="col-md-1"><i class="fa fa-trash-o" ng-click="removeorgAdmin(adm.name, us._id)" title="Remove"></i></div>
                    </div>
                </div>
            </div>
            <div class="row input-prepend input-append">
                <select class="col-md-5" type="text" ng-model="admin.orgName" name="admin.orgName">
                    <option value="">--</option>
                    <option ng-repeat="a in orgs" ng-value="a.name">{{a.name}}</option>
                </select>
                <input class="col-md-5" type="text" ng-model="orgAdmin.username" name="orgAdmin.username"></input>
                <button class="add-on btn btn-default fa fa-plus" title="Add" ng-click="addOrgAdmin()" id="addOrgAdmin"> Add</button>
            </div>
        </tab>
    </tabset>
    </div>
</div>    