<div tabset>
    <div tab heading="Users">
         <%- include userAudit.ejs %>
    </div>
    <div tab heading="Logs">
        <%- include logAudit.ejs %>
    </div>
    <div tab heading="Usage">
        <%- include dailyUsage.ejs %>
    </div>
</div>