<!doctype html>
<html lang="en">
    <head>        
        <title>NIH CDE Repository</title>
    </head>
    <body>

        <div class="jumbotron">
            <div class="container">
                <img class="img-center-responsive" width="700px" src="/cde/public/assets/img/min/NIH-CDE.svg"
                     alt="NIH Common Data Elements (CDE) logo"/>

                <div class="pt40 hidden-sm-down">
                    You are using an unsupported browser. <br/>
                    Please consider using one of the following:
                    <ul>
                        <li>Firefox</li>
                        <li>Chrome</li>
                        <li>Internet Explorer 10+</li>
                    </ul>
                    
                </div>
            </div>
        </div>
        
    </body>
</html> 
