<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="cde" id="ng-app" lang="en">
    <head>        
        <title>NLM CDE Repository</title>
        <meta name="site-version" content="<%- include version.ejs %>">

    </head>
    <body>

        <div class="jumbotron">
            <div class="container">
                <img class="img-center-responsive" width="700px" src="/cde/public/assets/img/nih-cde-logo.png" />

                <div class="pt40 hidden-xs">
                    You are using an unsupported browser. <br/>
                    Please consider using one of the following:
                    <ul>
                        <li>Firefox</li>
                        <li>Chrome</li>
                        <li>Internet Explorer 9+</li>
                    </ul>
                    
                </div>
            </div>
        </div>
        
    </body>
</html> 
