<div ng-show="listViewType === 'accordion'" id="accordionList" ng-include="'/template/'+module+'/'+module+'AccordionList'"></div>
<div ng-show="listViewType === 'table'" id="gridList" ng-include="'/template/'+module+'/'+module+'GridList'"></div>
