<form class="form-search"  align="center" >
    <input name="search" type="text" ng-model="search.username" class="search-query" placeholder="Search"></input>
    <input id="search.submit" type="submit" value="Search" ng-click="searchUsers()" class="btn"></input>
</form>

<div ng-repeat="u in foundUsers">
    <dl class="dl-horizontal">
        <dt>Username: </dt>   
            <dd id="dd_username_{{$index}}">{{u.username}}</dd>
        <dt>Last Login: </dt> 
            <dd id="dd_lastLogin_{{$index}}">{{u.lastLogin}}</dd>
        <dt>Org Curator: </dt>
            <dd id="dd_orgCurator_{{$index}}">{{u.orgCurator}}</dd>
        <dt>Org Admin: </dt>  
            <dd id="dd_orgAdmin_{{$index}}">{{u.orgAdmin}}</dd>
        <dt>Site Admin: </dt> 
            <dd id="dd_siteAdmin_{{$index}}">{{u.siteAdmin | placeholdEmpty}}</dd>
        <dt>Known IPs </dt>   
            <dd id="dd_knownIPs_{{$index}}">{{u.knownIPs}}</dd>
    </dl>
    <hr/>
</div>