<div>
    <div *ngIf="!editMode" class="wordwrap">
        <i  title="Edit" role="link" *ngIf="isAllowed" class="fa fa-edit" (click)="edit()"></i>
        <span *ngIf="defFormat !== 'html'">
            <!--<span ng-text-truncate="model" ng-tt-threshold="500">{{value}}</span>-->
        </span>
        <span *ngIf="defFormat === 'html'">
            <!--<span [innerHtml]="value" ng-text-truncate="model" ng-tt-threshold="500"></span>-->
        </span>
    </div>
    <div *ngIf="editMode">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs" (click)="setHtml(false)">Plain Text</button>
            <button type="button" class="btn btn-default btn-xs" (click)="setHtml(true)">Rich Text</button>
        </div>
        <textarea *ngIf="defFormat!='html'" [(ngModel)]="value" class="form-control"></textarea>

        <!--<div text-angular ng-if="defFormat=='html'" ng-model="inScope.value"-->
             <!--ta-toolbar-group-class="btn-group btn-group-sm"></div>-->
        <button class="fa fa-check" (click)="save()">Confirm</button>
        <button class="fa fa-times" (click)="discard()">Cancel</button>
    </div>
</div>