<h1 mat-dialog-title> Add Child Classification</h1>
<mat-dialog-content>
    <p>Add a new classification under path:</p>
    <p><strong>{{fullClassificationArray.join(' > ')}}</strong></p>
    <mat-form-field appearance="fill">
        <mat-label>Enter New Classification Name</mat-label>
        <input matInput placeholder="Enter Some Input" [formControl]="newClassificationName" required
               pattern="^[^;]+$" id="addChildClassifInput">
        <mat-error *ngIf="newClassificationName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="button secondary" [mat-dialog-close]>Cancel</button>
    <button class="button" [mat-dialog-close]="newClassificationName.value" cdkFocusInitial
            id="confirmAddChildClassificationBtn">Ok
    </button>
</mat-dialog-actions>
