<div>
    <div *ngIf="!editMode" class="wordwrap">
        <mat-icon title="Edit" role="link" *ngIf="isAllowed" (click)="edit()">edit</mat-icon>
        <span *ngIf="localFormat !== 'html'">
            <cde-text-truncate [text]="value" [threshold]="500" [enableTextTruncate]="enableTextTruncate">
            </cde-text-truncate>
        </span>
        <span *ngIf="localFormat === 'html'">
            <cde-text-truncate [text]="value" [threshold]="500" [enableTextTruncate]="enableTextTruncate"
                               [textType]="'html'">
            </cde-text-truncate>
        </span>
    </div>
    <div *ngIf="editMode">
        <div class="btn-group">
            <button mat-raised-button (click)="setHtml(false)" type="button">Plain Text</button>
            <button mat-raised-button (click)="setHtml(true)" type="button">Rich Text</button>
        </div>

        <textarea *ngIf="localFormat != 'html'" [(ngModel)]="value" class="form-control"></textarea>


        <ckeditor *ngIf="localFormat === 'html'" [config]="{extraPlugins: 'divarea'}"
                  [(ngModel)]="value">
        </ckeditor>

        <button (click)="confirmSave()">
            <mat-icon>check</mat-icon>
            Confirm
        </button>
        <button (click)="discard()">
            <mat-icon>cancel</mat-icon>
            Cancel
        </button>
    </div>
</div>
