<div>
    <div *ngIf="!editMode" class="wordwrap">
        <mat-icon *ngIf="isAllowed" title="Edit" class="fake-button colorFail" data-testid="inline-edit-icon" role="button" tabindex="0" (click)="edit()">edit
        </mat-icon>
        <cde-text-truncate *ngIf="localFormat === 'html'; else showText"
                           [text]="value" [threshold]="500" [enableTextTruncate]="enableTextTruncate"
                           [textType]="'html'" [bypassSanitize]="bypassSanitize">
        </cde-text-truncate>
        <ng-template #showText>
            <cde-text-truncate [text]="value" [threshold]="500" [enableTextTruncate]="enableTextTruncate">
            </cde-text-truncate>
        </ng-template>
    </div>
    <div *ngIf="editMode">
        <div class="inline-group input-topside">
            <button class="button small light" [class.active]="localFormat !== 'html'" (click)="setHtml(false)">Plain Text</button>
            <button class="button small light" [class.active]="localFormat === 'html'" (click)="setHtml(true)">Rich Text</button>
        </div>

        <textarea *ngIf="localFormat !== 'html'; else richTextEditor" [(ngModel)]="value" class="form-control"></textarea>
        <ng-template #richTextEditor>
            <cde-rich-text-editor name="definition" [value]="value" (valueChanged)="value = $event"></cde-rich-text-editor>
        </ng-template>

        <div class="actions">
            <button class="button small fail" (click)="discard()">
                <mat-icon>cancel</mat-icon>
                Cancel
            </button>
            <button class="button small success" (click)="confirmSave()">
                <mat-icon>check</mat-icon>
                Confirm
            </button>
        </div>
    </div>
</div>
