<div>
    <div *ngIf="!editMode" class="wordwrap">
        <mat-icon *ngIf="isAllowed" role="link" title="Edit" class="hand-cursor" (click)="edit()">edit</mat-icon>
        <cde-text-truncate *ngIf="localFormat === 'html'; else showText"
                           [text]="value" [threshold]="500" [enableTextTruncate]="enableTextTruncate"
                           [textType]="'html'">
        </cde-text-truncate>
        <ng-template #showText>
            <cde-text-truncate [text]="value" [threshold]="500" [enableTextTruncate]="enableTextTruncate">
            </cde-text-truncate>
        </ng-template>
    </div>
    <div *ngIf="editMode">
        <div class="btn-group">
            <button mat-raised-button (click)="setHtml(false)" type="button">Plain Text</button>
            <button mat-raised-button (click)="setHtml(true)" type="button">Rich Text</button>
        </div>

        <ckeditor *ngIf="localFormat === 'html'; else editText" [config]="{extraPlugins: 'divarea'}"
                  [(ngModel)]="value">
        </ckeditor>

        <ng-template #editText>
            <textarea [(ngModel)]="value" class="form-control"></textarea>
        </ng-template>

        <button (click)="confirmSave()">
            <mat-icon>check</mat-icon>
            Confirm
        </button>
        <button (click)="discard()">
            <mat-icon>cancel</mat-icon>
            Cancel
        </button>
    </div>
</div>
