<h4 mat-dialog-title>Add a Definition</h4>

<form role="form" #newDefinitionForm="ngForm">
    <div mat-dialog-content>
        <div class="form-group">
            <div id="newDefinition">
                <button type="button" (click)="newDefinition.definitionFormat = undefined" mat-raised-button>
                    Plain Text
                </button>
                <button type="button" mat-raised-button (click)="newDefinition.definitionFormat = 'html'">
                    Rich Text
                </button>
                <textarea name="definition" *ngIf="newDefinition.definitionFormat !== 'html'"
                          [(ngModel)]="newDefinition.definition" required
                          class="form-control" Placeholder="Definition"></textarea>
                <ckeditor name="definition" *ngIf="newDefinition.definitionFormat === 'html'"
                          [config]="{extraPlugins: 'divarea'}" [(ngModel)]="newDefinition.definition"
                          Placeholder="Definition">
                </ckeditor>
            </div>
        </div>
        <div class="form-group">
            <label for="newDefinitionTags">Tags</label>
            <div id="newDefinitionTags">
                <cde-tag [tags]="newDefinition.tags" [allTags]="tags" [canEdit]="true"></cde-tag>
            </div>
        </div>
        <div class="alert alert-info">
            Tags are managed in Org Management > List Management
        </div>
    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close] id="cancelNewDefinitionBtn" type="button"
                mat-raised-button color="warn">Cancel
        </button>
        <button mat-raised-button color="primary" [disabled]="!newDefinitionForm.form.valid"
                id="createNewDefinitionBtn" type="button" [mat-dialog-close]="newDefinition">Save
        </button>
    </div>
</form>