<div class="noGridPadLarge">
    <div class="dropdown d-inline-block">
        <button id="selectRenderButton" mat-raised-button [matMenuTriggerFor]="optionsMenu">
            Options <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #optionsMenu>
            <span attr.data-url="/nativeRender?tinyId={{elt.tinyId}}&selectedProfile={{selectedProfileNameDecode}}"
                    onclick="window.open(this.getAttribute('data-url'),'_blank')" mat-menu-item>
                <a id="button_print_follow">Printable</a>
            </span>
            <span attr.data-url="/form/public/html/lformsRender.html?tinyId={{elt.tinyId}}" mat-menu-item
                    onclick="window.open(this.getAttribute('data-url'),'_blank')">
                <a class="d-inline" id="button_lforms">LHC-Forms</a>
                (Provided by <a class="d-inline" href="https://lhncbc.nlm.nih.gov/project/lforms"
                                target="_blank" (click)="$event.stopPropagation()">LHNCBC</a>)
            </span>
            <span mat-menu-item
                    attr.data-url="/form/{{elt.tinyId}}?type=xml&subtype=sdc&renderer=defaultHtml"
                    onclick="window.open(this.getAttribute('data-url'),'_blank')">
                <a class="d-inline" id="button_sdc">SDC</a>
                (Provided by <a class="d-inline" href="https://www.healthit.gov/techlab/" target="_blank"
                                (click)="$event.stopPropagation()">ONC</a>)
            </span>
            <span id="printableLogicCb" (click)="overridePrintable = !overridePrintable" mat-menu-item>
                Print View:
                <mat-icon *ngIf="overridePrintable">check_box</mat-icon>
                <mat-icon *ngIf="!overridePrintable">check_box_outline_blank</mat-icon>
            </span>
        </mat-menu>
    </div>
    <div *ngIf="elt.displayProfiles?.length > 0" class="d-inline-block">
        <button id="select_display_profile" mat-raised-button [matMenuTriggerFor]="dpMenu">
            Display Profile: {{selectedProfileName}} <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #dpMenu>
            <button *ngFor="let p of elt.displayProfiles; let i = index" mat-menu-item
                    (click)="selectProfile(i);">{{p.name}}
            </button>
        </mat-menu>
    </div>
</div>
<div class="noGridPadSmall">
    <div *ngIf="elt.noRenderAllowed"
         class="text-center mt20">Rendering has been disabled for this form.
    </div>
    <h2 *ngIf="!elt.noRenderAllowed && !(elt.formElements.length > 0)"
         id="warningNoCde" style="max-width: 600px; margin: auto">
        This form is empty. Form Editors can add content to this form by navigating
        to "Form Description" on the left side of the screen.
    </h2>
    <div *ngIf="!elt.noRenderAllowed && elt.formElements.length > 0" class="bot-left">
        <div style="max-width: 1000px; margin: 10px 15px;">
            <cde-native-render [elt]="elt" [profile]="profile" [showTitle]="false"
                               [nativeRenderType]="overridePrintable ? NativeRenderService.FOLLOW_UP : NativeRenderService.SHOW_IF">
            </cde-native-render>
        </div>
    </div>
</div>
