<div class="row">
    <div class="col-xs-12 noGridPadLarge">
        <div class="dropdown float-left">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item"
                        attr.data-url="/nativeRender?tinyId={{elt.tinyId}}"
                        onclick="window.open(this.getAttribute('data-url'),'_blank')">
                    <a id="button_print_follow">Printable</a>
                </button>
                <button class="dropdown-item" attr.data-url="/form/public/html/lformsRender.html?tinyId={{elt.tinyId}}"
                        onclick="window.open(this.getAttribute('data-url'),'_blank')">
                    <a class="d-inline" id="button_lforms">LHC-Forms</a>
                    (Provided by <a class="d-inline" href="https://lhncbc.nlm.nih.gov/project/lforms"
                                    target="_blank" (click)="$event.stopPropagation()">LHNCBC</a>)
                </button>
                <button class="dropdown-item"
                        attr.data-url="/form/{{elt.tinyId}}?type=xml&subtype=sdc&renderer=defaultHtml"
                        onclick="window.open(this.getAttribute('data-url'),'_blank')">
                    <a class="d-inline" id="button_sdc">SDC</a>
                    (Provided by <a class="d-inline" href="https://www.healthit.gov/techlab/" target="_blank"
                                    (click)="$event.stopPropagation()">ONC</a>)
                </button>
                <button class="dropdown-item" (click)="pritableCb.click()">Printable Logic:
                    <input #pritableCb id="printableLogicCb" type="checkbox" [(ngModel)]="overridePrintable"
                           (click)="$event.stopPropagation()">
                </button>
            </div>
        </div>
        <div class="dropdown float-left" *ngIf="elt.displayProfiles?.length > 0">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="select_display_profile"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Display Profile: {{selectedProfileName}}
            </button>
            <div class="dropdown-menu" aria-labelledby="select_display_profile">
                <button class="dropdown-item" *ngFor="let p of elt.displayProfiles; let i = index"
                        (click)="selectProfile(i);">{{p.name}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 noGridPadSmall">
        <div *ngIf="elt.noRenderAllowed"
             class="text-center mt20">Rendering has been disabled for this form.
        </div>
        <div *ngIf="!elt.noRenderAllowed && !(elt.formElements.length > 0)"
             id="warningNoCde"
             class="text-center mt20">This form has no content. There is nothing to preview.
        </div>

        <div *ngIf="!elt.noRenderAllowed && elt.formElements.length > 0" class="bot-left">
            <cde-native-render [elt]="elt" [profile]="profile" [showTitle]="false"
                               [nativeRenderType]="overridePrintable ? NativeRenderService.FOLLOW_UP : NativeRenderService.SHOW_IF"
            ></cde-native-render>
        </div>
    </div>
</div>
