<ng-template #compareSideBySideContent>
    <div class="modal-header">
        <h4 class="modal-title">Compare Side By Side</h4>
    </div>
    <div class="modal-body">
        <cde-compare-object [left]="left" [right]="right" [option]="option"></cde-compare-object>
        <!--
                <ng-container *ngIf="!result.match">
                    <ng-container *ngFor="let r of result | compareKeys" class="col-xs-12">
                        <div *ngIf="!result[r].match">
                            <label>{{r}}</label>
                            <pre lineDiff [left]="result[r].right" [right]="result[r].left"></pre>

                        </div>
                    </ng-container>
                </ng-container>
        -->

    </div>
    <div class="modal-footer"></div>
</ng-template>