<ng-container *ngFor="let property of compareObjectProperties">
    <ng-container *ngIf="!property.match">
        <div class="col-xs-12" id="{{property.label}}">
            <label for="{{property.label}}">{{property.label}}:</label>
            <ng-container *ngIf="property.data">
                <div class="col-xs-12">
                    <ng-container *ngFor="let p of property.data">
                        <label for="{{p.label}}">{{p.label}}:</label>
                        <pre id="{{p.label}}" lineDiff [left]="p.newer" [right]="p.older"></pre>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="!property.data">
                <pre lineDiff [left]="property.newer" [right]="property.older"></pre>
            </ng-container>
        </div>
    </ng-container>
</ng-container>
