<ng-container *ngFor="let property of compareArrayOption;">
    <div *ngIf="!property.match || property.display" class="col-xs-12" id="{{property.label}}">
        <label>{{property.label}}:</label>
        <div *ngFor="let r of property.result;let i = index">
            <div class="col-xs-12" *ngIf="!r.match || r.display" id="{{property.label}}_{{i}}">
                <div class="col-xs-12 arrayObj" *ngIf="r.reorder" style="border-left: 5px solid #fad000">
                    <div *ngFor="let d of property.data">
                        <ng-container *ngIf="r.diff">
                            <ng-container *ngIf="r.diff.indexOf(d.property) !== -1">
                                <label>{{d.label}}:</label>
                                <pre semanticDiff [left]="r.newer[d.property]" [right]="r.older[d.property]"></pre>
                            </ng-container>
                            <ng-container *ngIf="r.diff.indexOf(d.property) === -1">
                                <label>{{d.label}}:</label>
                                <span>{{r.data[d.property]}}</span>
                            </ng-container>
                        </ng-container>
                    </div>w
                </div>
                <ng-container *ngIf="!r.reorder">
                    <div class="col-xs-12 arrayObj" *ngIf="r.add" style="border-left: 5px solid #008000">
                        <ng-container *ngFor="let d of property.data">
                            <div *ngIf="r.data[d.property]">
                                <label>{{d.label}}:</label>
                                <ng-container *ngIf="d.url">
                                    <a target="_blank" [href]=d.url+r.data[d.property]>
                                        {{r.data[d.property]</a>
                                </ng-container>
                                <ng-container *ngIf="!d.url">
                                    <span>{{r.data[d.property]}}</span>
                                </ng-container>

                            </div>
                        </ng-container>
                    </div>
                    <div class="col-xs-12 arrayObj" *ngIf="r.remove" style="border-left: 5px solid #a94442">
                        <ng-container *ngFor="let d of property.data">
                            <div *ngIf="r.data[d.property]">
                                <label>{{d.label}}:</label>
                                <ng-container *ngIf="d.url">
                                    <a target="_blank" [href]=d.url+r.data[d.property]>
                                        {{r.data[d.property]</a>
                                </ng-container>
                                <ng-container *ngIf="!d.url">
                                    <span>{{r.data[d.property]}}</span>
                                </ng-container>

                            </div>
                        </ng-container>
                    </div>
                    <div class="col-xs-12 arrayObj" *ngIf="r.edited" style="border-left: 5px solid #0000ff">
                        <div *ngFor="let d of property.data">
                            <ng-container *ngIf="r.diff.indexOf(d.property) !== -1">
                                <label>{{d.label}}:</label>
                                <pre semanticDiff [left]="r.newer[d.property]" [right]="r.older[d.property]"></pre>
                            </ng-container>
                            <ng-container *ngIf="r.diff.indexOf(d.property) === -1">
                                <label>{{d.label}}:</label>
                                <span>{{r.older[d.property]}}</span>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>