<table class="table">
    <thead>
    <tr>
        <th width="80px"></th>
        <th>Type</th>
        <th>Reason</th>
        <th>Text</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of encounters" [class.isSelected]="e === selectedEncounter"
        (click)="selectEncounter(e)">
        <td>
            <mat-icon *ngIf="e === selectedEncounter">check_box</mat-icon>
            <mat-icon *ngIf="e !== selectedEncounter">check_box_outline_blank</mat-icon>
            <!--<mat-icon (click)="interruptEvent($event);openViewEncounter(e)"-->
                      <!--class="hand-cursor" title="View">open_in_new</mat-icon>-->
        </td>
        <td>{{e.types}}</td>
        <td>{{e.reasons}}</td>
        <td><span *ngIf="e.text" [innerHtml]="e.text.div"></span></td>
        <td>{{getDateString(e, 'period')}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <ng-container *ngIf="newEncounter; else addNewEncounter">
            <td>
                <button mat-icon-button color="basic" style="width: 25px"
                        [disabled]="!newEncounterValid" title="Add" (click)="add()">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button title="Cancel"  style="width: 25px"
                        (click)="reset()">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
            <td>
                <mat-form-field>
                    <input matInput style="width: 185px" [(ngModel)]="newEncounterType" disabled
                           (ngModelChange)="verify()" placeholder="Encounter Type">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input matInput [(ngModel)]="newEncounterReason"
                           (ngModelChange)="verify()" placeholder="Reason">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input matInput type="datetime-local" [(ngModel)]="newEncounterDate"
                           (ngModelChange)="verify()" placeholder="Date and Time"
                           step="3600">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-template #addNewEncounter>
            <td colspan="4">
                <button mat-raised-button (click)="newEncounter = true; verify()">
                    <mat-icon>add</mat-icon>Add
                </button>
            </td>
        </ng-template>
    </tr>
    <tr [hidden]="!newEncounterErrorMessage">
        <td colspan="4" style="color: red; text-align: center">{{newEncounterErrorMessage}}</td>
    </tr>
    </tfoot>
</table>