<div style="margin: 8px 0 20px;">
    <span class="form-inline">
        <span class="form-group">
            <label for="select_display_profile">Display Profile: </label>
            <select [(ngModel)]="profileIndex" (change)="selectProfile(render)"
                    id="select_display_profile" class="form-control mb3">
                <option *ngFor="let p of elt.displayProfiles; let i = index" [value]="i"
                        [textContent]="p.name"></option>
            </select>
        </span>
        <span>
            <label style="margin-top: 3px;" id="printableLogicCb">Printable Logic:
                <input type="checkbox" [(ngModel)]="overridePrintable"
                       (change)="render.setNativeRenderType(($event.target.checked ? NativeRenderService.FOLLOW_UP : NativeRenderService.SHOW_IF))">
            </label>
        </span>
    </span>

    <span class="pull-right">
        <span>New Tab: </span>
        <button class="btn btn-default" id="button_print_follow"
                attr.data-url="/form/public/html/nativeRenderStandalone.html?tinyId={{elt.tinyId}}"
                onclick="window.open(this.getAttribute('data-url'),'_blank')">Printable</button>
        <button class="btn btn-default" id="button_lforms"
                attr.data-url="/form/public/html/lformsRender.html?tinyId={{elt.tinyId}}"
                onclick="window.open(this.getAttribute('data-url'),'_blank')">LHC-Forms</button>
        <button class="btn btn-default" id="button_sdc"
                attr.data-url="/form/{{elt.tinyId}}?type=xml&subtype=sdc&renderer=defaultHtml"
                onclick="window.open(this.getAttribute('data-url'),'_blank')">SDC</button>
    </span>
    <div class="clearfix"></div>
    <div class="pull-right">(Provided by
        <a href="https://lhncbc.nlm.nih.gov/project/lforms" target="_blank">LHNCBC</a> and
        <a href="https://www.healthit.gov/techlab/" target="_blank">ONC</a>)
    </div>
</div>

<div *ngIf="elt.unsaved" class="mt10 alert alert-warning">
    <span class="fa fa-warning" aria-hidden="true"></span>
    <span class="sr-only">Warning:</span>
    Save form to update rendering
</div>

<cde-native-render #render [elt]="elt"></cde-native-render>
