<table *ngIf="tableForm && (nativeRenderService.getNativeRenderType() === nativeRenderService.FOLLOW_UP || nativeRenderService.getNativeRenderType() === nativeRenderService.SHOW_IF)" class="table">
    <thead>
        <tr *ngFor="let s of tableForm.s; let i = index">
            <th *ngFor="let q of s.q"
                [attr.colspan]="q.cspan"
                [attr.rowspan]="q.rspan"
                [textContent]="q.label"
                [style.padding]="i === 0 && !q.label ? 0 : null"
                [style.font]="q.style.font"
                [style.color]="q.style.color"
                [style.backgroundColor]="q.style.backgroundColor"
                [style.borderColor]="q.style.borderColor"
                [style.borderStyle]="q.style.borderStyle"
                [style.borderWidth]="q.style.borderWidth"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let n of tableForm.rows; let ni = index">
            <td *ngFor="let q of tableForm.q"
                style="height: 10px;max-width: 300px;max-height: 200px;"
                [style.padding]="q.type === 'label' && !n.label ? 0 : null"
                [style.font]="q.style.font"
                [style.color]="q.style.color"
                [style.backgroundColor]="q.style.backgroundColor"
                [style.borderColor]="q.style.borderColor"
                [style.borderStyle]="q.style.borderStyle"
                [style.borderWidth]="q.style.borderWidth">
                <div *ngIf="q.type === 'label'" class="native-table-cell" style="text-align: center">
                    <label [textContent]="n.label"></label>
                </div>
                <div *ngIf="q.type === 'list'" class="radio native-table-cell native-table-list">
                    <label style="display: block" *ngFor="let a of q.question.answers">
                        <input type="radio"
                               [name]="q.name + '-' + ni"
                               [attr.name]="q.name + '-' + ni"
                               [(ngModel)]="nativeRenderService.elt.formInput[q.name + '-' + ni]"
                               [value]="a.permissibleValue"
                               [required]="q.question.required"
                               [disabled]="!q.question.editable"/>
                        <span [textContent]="nativeRenderService.getPvLabel(a)"></span>
                        <span class="native-value" *ngIf="nativeRenderService.profile.displayValues"
                              [textContent]="nativeRenderService.getPvValue(a)"></span>
                    </label>
                </div>
                <div *ngIf="q.type === 'mlist'" class="checkbox native-table-cell native-table-list">
                    <label style="display: block" *ngFor="let a of q.question.answers">
                        <input type="checkbox"
                               [name]="q.name + '-' + ni"
                               [attr.name]="q.name + '-' + ni"
                               [checked]="nativeRenderService.checkboxIsCheckedRepeat(nativeRenderService.elt.formInput[q.name + '-' + ni], a.permissibleValue, ni)"
                               (change)="nativeRenderService.checkboxOnChangeRepeat($event, nativeRenderService.elt.formInput[q.name + '-' + ni], a.permissibleValue, ni)"
                               [required]="q.question.required"
                               [disabled]="!q.question.editable"/>
                        <span [textContent]="nativeRenderService.getPvLabel(a)"></span>
                        <span class="native-value" *ngIf="nativeRenderService.profile.displayValues"
                              [textContent]="nativeRenderService.getPvValue(a)"></span>
                    </label>
                </div>
                <div *ngIf="q.type === 'date'" class="native-table-cell" style="min-width: 135px;">
                    <div class="input-group">
                        <input class="form-control native-table-box"
                               [name]="q.name + '-' + ni"
                               [attr.name]="q.name + '-' + ni"
                               [(ngModel)]="nativeRenderService.elt.formInput[q.name + '-' + ni]"
                               ngbDatepicker #d1="ngbDatepicker"
                               [required]="q.question.required" [disabled]="!q.question.editable">
                        <div class="input-group-addon" (click)="d1.toggle()" >
                            <i class="fa fa-calendar" style="font-size: .95em; vertical-align: 5%" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="q.type === 'number'" [ngClass]="{'input-group': q.question.uoms.length > 0}" class="native-table-cell" style="min-width: 100px;">
                    <input type="number"
                           class="form-control native-table-box"
                           [name]="q.name + '-' + ni"
                           [attr.name]="q.name + '-' + ni"
                           [(ngModel)]="nativeRenderService.elt.formInput[q.name + '-' + ni]"
                           [attr.min]="q.question.datatypeNumber ? q.question.datatypeNumber.minValue : null"
                           [attr.max]="q.question.datatypeNumber ? q.question.datatypeNumber.maxValue : null"
                           [required]="q.question.required"
                           [disabled]="!q.question.editable"/>
                    <div *ngIf="q.question.uoms.length > 0">Units of Measure:</div>
                    <label *ngFor="let uom of q.question.uoms"
                           [ngClass]="{'nativeRequiredBox': q.question.required}"
                           style="padding-left: 10px;display: block">
                        <input type="radio"
                               [name]="q.name + '-' + ni + '_uom'"
                               [attr.name]="q.name + '-' + ni + '_uom'"
                               [(ngModel)]="nativeRenderService.elt.formInput[q.name + '-' + ni + '_uom']"
                               [value]="uom"
                               [required]="q.question.required"
                               [disabled]="!q.question.editable"/> {{uom}}</label>
                </div>
                <div *ngIf="q.type === 'text'" class="native-table-cell" style="min-width: 80px;">
                    <input type="text"
                           class="form-control native-table-box"
                           [name]="q.name + '-' + ni"
                           [attr.name]="q.name + '-' + ni"
                           [(ngModel)]="nativeRenderService.elt.formInput[q.name + '-' + ni + '_uom']"
                           [required]="q.question.required"
                           [disabled]="!q.question.editable"/>
                    <div *ngIf="q.question.uoms.length > 0">Units of Measure:</div>
                    <label *ngFor="let uom of q.question.uoms"
                           [ngClass]="{'nativeRequiredBox': q.question.required}"
                           style="padding-left: 10px;display: block">
                        <input type="radio"
                               [name]="q.name + '-' + ni + '_uom'"
                               [attr.name]="q.name + '-' + ni + '_uom'"
                               [(ngModel)]="nativeRenderService.elt.formInput[q.name + '-' + ni + '_uom']"
                               [value]="uom"
                               [required]="q.question.required"
                               [disabled]="!q.question.editable"/> {{uom}}</label>
                </div>
            </td>
        </tr>
    </tbody>
    <!--<tfoot>-->
    <!--</tfoot>-->
</table>