<div class="row">
    <div class="dropdown float-left">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item">
                <a id="button_print_follow"
                   attr.data-url="/form/public/html/nativeRenderStandalone.html?tinyId={{elt.tinyId}}"
                   onclick="window.open(this.getAttribute('data-url'),'_blank')">Printable</a>
            </button>
            <button class="dropdown-item">
                <a class="d-inline" id="button_lforms"
                   attr.data-url="/form/public/html/lformsRender.html?tinyId={{elt.tinyId}}"
                   onclick="window.open(this.getAttribute('data-url'),'_blank')">LHC-Forms</a>
                (Provided by <a class="d-inline" href="https://lhncbc.nlm.nih.gov/project/lforms"
                                target="_blank">LHNCBC</a>
            </button>
            <button class="dropdown-item ">
                <a class="d-inline" id="button_sdc"
                   attr.data-url="/form/{{elt.tinyId}}?type=xml&subtype=sdc&renderer=defaultHtml"
                   onclick="window.open(this.getAttribute('data-url'),'_blank')">SDC</a>
                (Provided by <a class="d-inline" href="https://www.healthit.gov/techlab/" target="_blank">ONC</a>)
            </button>
            <button class="dropdown-item">Printable Logic:
                <input id="printableLogicCb" type="checkbox" [(ngModel)]="overridePrintable"
                       (change)="render.setNativeRenderType(($event.target.checked ? NativeRenderService.FOLLOW_UP : NativeRenderService.SHOW_IF))">
            </button>
        </div>
    </div>
    <div class="dropdown float-left" *ngIf="elt.displayProfiles?.length > 0">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="select_display_profile"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Display Profile: {{selectedProfileName}}
        </button>
        <div class="dropdown-menu" aria-labelledby="select_display_profile">
            <button class="dropdown-item" *ngFor="let p of elt.displayProfiles; let i = index"
                    (click)="selectProfile(render,i);">
                {{p.name}}
            </button>
        </div>
    </div>
</div>
<div *ngIf="elt.noRenderAllowed"
     class="text-center mt20">Rendering has been disabled for this form.
</div>
<div *ngIf="!elt.noRenderAllowed && !(elt.formElements.length > 0)"
     id="warningNoCde"
     class="text-center mt20">This form has no content. There is nothing to preview.
</div>

<div *ngIf="elt.formElements.length > 0" [ngClass]="{'bot-left': !mobileView}">
    <cde-native-render #render [elt]="elt" [showTitle]="false"></cde-native-render>
</div>
