<table *ngIf="tableForm && nativeRenderService.getNativeRenderType() === nativeRenderService.FOLLOW_UP" class="table">
    <thead>
        <tr *ngFor="let s of tableForm.s; let i = index">
            <th *ngIf="i === 0 && tableForm.entry" [attr.colspan]="tableForm.entry.cspan" [attr.rowspan]="tableForm.entry.rspan">
                <span *ngIf="tableForm.entry.label" [textContent]="tableForm.entry.label"></span>
                <span *ngIf="!tableForm.entry.label"></span>
            </th>
            <th *ngFor="let q of s.q"
                [attr.colspan]="q.cspan"
                [attr.rowspan]="q.rspan"
                [textContent]="q.label"
                [style.font]="q.style.font"
                [style.color]="q.style.color"
                [style.backgroundColor]="q.style.backgroundColor"
                [style.borderColor]="q.style.borderColor"
                [style.borderStyle]="q.style.borderStyle"
                [style.borderWidth]="q.style.borderWidth"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let n of tableForm.rows; let ni = index">
            <td *ngFor="let q of tableForm.q"
                style="height: 10px"
                [style.font]="q.style.font"
                [style.color]="q.style.color"
                [style.backgroundColor]="q.style.backgroundColor"
                [style.borderColor]="q.style.borderColor"
                [style.borderStyle]="q.style.borderStyle"
                [style.borderWidth]="q.style.borderWidth">
                <div *ngIf="q.type === 'label'" style="height: 100%">
                    <label [textContent]="n.label"></label>
                </div>
                <div *ngIf="q.type === 'list'" class="radio" style="height: 100%">
                    <label style="display: block" *ngFor="let a of q.question.answers">
                        <input type="radio"
                               [attr.name]="q.name + '-' + ni"
                               [(ngModel)]="q.question.answer[ni]"
                               [value]="a.permissibleValue"
                               [required]="q.question.required"
                               [disabled]="!q.question.editable"
                        />{{nativeRenderService.getPvLabel(a)}}</label>
                </div>
                <div *ngIf="q.type === 'mlist'" style="height: 100%">
                    <input type="checkbox"
                           [attr.name]="q.name + '-' + ni"
                           [checked]="nativeRenderService.checkboxIsCheckedRepeat(q.question, a.permissibleValue, ni)"
                           (change)="nativeRenderService.checkboxOnChangeRepeat($event, q.question, a.permissibleValue, ni)"
                           [required]="q.question.required"
                           [disabled]="!q.question.editable"/>
                </div>
                <div *ngIf="q.type === 'date'" style="height: 100%">
                    <input class="form-control nativeTableBox"
                           [attr.name]="q.name + '-' + ni"
                           [(ngModel)]="q.question.answer[ni]"
                           ngbDatepicker #d1="ngbDatepicker"
                           [required]="q.question.required"
                           [disabled]="!q.question.editable">
                </div>
                <div *ngIf="q.type === 'number'" [ngClass]="{'input-group': q.question.uoms.length > 0}" style="height: 100%">
                    <input type="number"
                           class="form-control nativeTableBox"
                           [attr.name]="q.name + '-' + ni"
                           [(ngModel)]="q.question.answer[ni]"
                           [attr.min]="q.question.datatypeNumber ? q.question.datatypeNumber.minValue : null"
                           [attr.max]="q.question.datatypeNumber ? q.question.datatypeNumber.maxValue : null"
                           [required]="q.question.required"
                           [disabled]="!q.question.editable"/>
                    <label *ngFor="let uom of q.question.uoms"
                           [ngClass]="{'nativeRequiredBox': q.question.required}"
                           class="input-group-addon">
                        <input type="radio"
                               [attr.name]="q.name + '-' + ni + '_uom'"
                               [(ngModel)]="q.question.answerUom[ni]"
                               [value]="uom"
                               [required]="q.question.required"
                               [disabled]="!q.question.editable"
                        /> {{uom}}</label>
                </div>
                <div *ngIf="q.type === 'text'" [ngClass]="{'input-group': q.question.uoms.length > 0}" style="height: 100%">
                    <input type="text"
                           class="form-control nativeTableBox"
                           [attr.name]="q.name + '-' + ni"
                           [(ngModel)]="q.question.answer[ni]"
                           [required]="q.question.required"
                           [disabled]="!q.question.editable"/>
                    <label *ngFor="let uom of q.question.uoms"
                           [ngClass]="{'nativeRequiredBox': q.question.required}"
                           class="input-group-addon">
                        <input type="radio"
                               [attr.name]="q.name + '-' + ni + '_uom'"
                               [(ngModel)]="q.question.answerUom[ni]"
                               [value]="uom"
                               [required]="q.question.required"
                               [disabled]="!q.question.editable"
                        /> {{uom}}</label>
                </div>
            </td>
        </tr>
    </tbody>
    <!--<tfoot>-->
    <!--</tfoot>-->
</table>
<div *ngIf="nativeRenderService.getNativeRenderType() === nativeRenderService.SHOW_IF" >
    <div *ngFor="let element of formElement.formElements; let i = index">
        <div *ngIf="nativeRenderService.evaluateSkipLogicAndClear(element.skipLogic?.condition, formElement.formElements, element)">
            <div *ngIf="element.elementType === 'question'" [ngClass]="{'keep-with-previous':i===0}"
                 class="native-question-header native-question-answers">
                <cde-native-question [formElement]="element" [index]="i"
                                     [numSubQuestions]="numSubQuestions"></cde-native-question>
            </div>
            <cde-native-section *ngIf="element.elementType === 'section' || element.elementType === 'form'"
                                [formElements]="formElement.formElements" [formElement]="element"
                                [numSubQuestions]="numSubQuestions"></cde-native-section>
        </div>
    </div>
</div>