<button type="button" class="btn btn-default" id="mltButton" (click)="open()">More Like This</button>

<ng-template #mltModal id="mltModal" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title">More Like This</h3>
    </div>
    <div class="modal-body">
        <div class="overflowHidden">
            <div *ngIf="!cdes">
                <h4 class="pt60 pb40 text-center">
                    <i class="fa fa-spinner fa-pulse"></i> Loading...
                </h4>
            </div>
            <div *ngIf="cdes">
                <div *ngIf="cdes.length === 0"><h4>No similar elements to show.</h4></div>

                <cde-pin-board-modal #mltPinModal module="cde"></cde-pin-board-modal>

                <ngb-accordion id="mltAccordion">
                    <ngb-panel *ngFor="let cde of cdes; let i = index">
                        <ng-template ngbPanelTitle>
                            <a href class="nonLinkAnchor hand-cursor" id="acc_link_{{i}}">{{cde.primaryNameCopy}}</a>
                            <a href="#" class="nonLinkAnchor">
                                <i class="fa fa-eye hand-cursor" title="View Full Detail" role="link" id="eyeLink_{{i}}"
                                   (click)="$event.stopPropagation(); view(cde)"></i>
                            </a>
                            <a href="#" class="nonLinkAnchor" (click)="$event.stopPropagation()">
                                <i id="pinToBoard_{{i}}" class="fa fa-thumb-tack hand-cursor"
                                   title="Attach to Board" role="link"
                                   (click)="$event.stopPropagation(); mltPinModal.pinOne(cde, mltPinModal.open())"></i>
                            </a>
                            <cde-pin-quickboard [elt]="cde" [eltIndex]="i"></cde-pin-quickboard>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <cde-cde-general-details [elt]="cde"></cde-cde-general-details>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <cde-value-domain-summary [elt]="cde"></cde-value-domain-summary>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <table *ngIf="cde.ids.length > 0" class="table cdeTable" summary="Identifiers List">
                                    <tr>
                                        <th id="id" class="col-xs-6">Id</th>
                                        <th id="version" class="col-xs-2">Vers.</th>
                                        <th id="source" class="col-xs-4">Src.</th>
                                    </tr>
                                    <tr *ngFor="let id of elt.ids">
                                        <td headers="id" class="col-xs-6">{{id.id}}</td>
                                        <td headers="version" class="col-xs-2">{{id.version}}</td>
                                        <td headers="source" class="col-xs-4">{{id.source}}</td>
                                    </tr>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" id="closeMoreLikeThisBtn" (click)="modalRef.dismiss()">Close</button>
    </div>
</ng-template>