<button type="button" class="btn btn-default" id="mltButton" (click)="open()">More Like This</button>

<template #mltModal id="mltModal" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title">More Like This</h3>
    </div>
    <div class="modal-body">
        <div class="overflowHidden">
            <div *ngIf="!cdes">
                <h4 class="pt60 pb40 text-center">
                    <i class="fa fa-spinner fa-pulse"></i> Loading...
                </h4>
            </div>
            <div *ngIf="cdes">
                <div *ngIf="cdes.length === 0"><h4>No similar elements to show.</h4></div>

                <ngb-accordion>
                    <ngb-panel *ngFor="let cde of cdes; let $index = index">
                        <template ngbPanelTitle>
                            <!--<span ng-repeat="i in includeInQuickBoard" ng-include="i"></span>-->
                            <a href class="nonLinkAnchor">
                                <span role="link" [innerHtml]="cde.primaryNameCopy" id="acc_link_{{$index}}"
                                  class="hand-cursor"></span>
                            </a>
                            <a href="/deview?tinyId={{cde.tinyId}}" target="_blank" class="nonLinkAnchor">
                                <i class="fa fa-eye hand-cursor" title="View Full Detail" role="link" id="eyeLink_{{$index}}"></i>
                            </a>
                            <cde-pin-modal></cde-pin-modal>
                            <a href tabindex="0" class="nonLinkAnchor" (click)="pinModal.open(elt)">
                                <i id="pinToBoard_{{eltIndex}}" class="fa fa-thumb-tack hand-cursor"
                                   title="Attach to Board" role="link"></i>
                            </a>
                            <!--<span ng-repeat="i in includeInAccordion" ng-include="i"></span>-->
                        </template>
                        <template ngbPanelContent>

                        </template>
                    </ngb-panel>
                </ngb-accordion>


                <cde-accordion-list id="mltAccordionList" [cdes]="cdes" ejsPage="mlt"
                   module="cdes" [includeInAccordion]="['/cde/public/html/accordion/pinAccordionActions.html',
                    '/system/public/html/accordion/addToQuickBoardActions.html']"></cde-accordion-list>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" id="closeMoreLikeThisBtn" (click)="modalRef.dismiss()">Close</button>
    </div>
</template>