<div class="modal-header">
    <h3>Add New Rule</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="org">Organization</label>
            <select id="org" ng-model="org" class="form-control">
                <option ng-repeat="org in myOrgs">{{org}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ruleName">Rule Name</label>
            <input type="text" ng-model="ruleName" class="form-control" id="ruleName" placeholder="CDE has a property ...">
        </div>
        <div class="form-group">
            <label for="field">Field</label>
            <select id="field" class="form-control" ng-model="field">
                <option ng-repeat="field in fields">{{field}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="regex">RegEx Value</label>
            <input type="text" class="form-control" id="regex" ng-model="regex" placeholder="/^[A-z]+[0-9]+$/">
        </div>
        <div class="form-group">
            <label for="targetStatus">Status</label>
            <select id="targetStatus" ng-model="targetStatus" class="form-control">
                <option>Incomplete</option>
                <option>Candidate</option>
                <option id="recorded">Recorded</option>
                <option>Qualified</option>
                <option>Standard</option>
                <option>Preferred Standard</option>
            </select>
        </div>
        <div class="form-group">
            <label for="occurence">Occurence (if array)</label>
            <select id="occurence" ng-model="occurence" class="form-control">
                <option value="all">All Elements</option>
                <option value="atLeastOne">At Least One Element</option>
                <option value="exactlyOne">Exactly One Element</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()" id="cancel">Cancel</button>
    <button ng-disabled="!field || !ruleName || !targetStatus || !occurence || !regex"  class="btn btn-success" ng-click="saveRule()" id="saveRule">Save</button>
</div>
