<h1 mat-dialog-title>Sign up for an account</h1>
<mat-dialog-content data-testid="pinBoardLoginModal">
    With an account, you will be able to:
    <ul>
        <li>Create Boards and save CDEs and Forms to them</li>
        <li>Remember your preferences on all your devices</li>
        <li>If approved, become a curator, and view/manage your organization's contents</li>
    </ul>
    <br>
    <div style="text-align: center">
        <a data-testid="pinBoardLoginBtn" class="button" [mat-dialog-close] routerLink="/login">Sign up or Sign in</a>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button data-testid="pinBoardCloseBtn" class="button secondary" [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>
