<h1 mat-dialog-title>Sign up for an account</h1>
<mat-dialog-content>
    With an account, you will be able to:
    <ul>
        <li>Create Boards and attach CDEs to them</li>
        <li>Remember your preferences on all your devices</li>
        <li>Comment on CDEs and Forms</li>
        <li>Become a curator and create your own CDEs and Forms</li>
    </ul>
    <br>
    <div style="text-align: center">
        <a class="button" [mat-dialog-close] routerLink="/login">Sign up or Sign in</a>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="button secondary" [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>
