<mat-checkbox [checked]="badInput" id="enableBadInput" (change)="badInputChanged($event.checked)">Including user's bad inputs?</mat-checkbox>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Date</th>
        <th>Request</th>
        <th>Stack</th>
        <th>Details</th>
        <th>Error Code</th>
        <th>Error Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let err of records">
        <td>{{err.date | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td class="error_cell">
            <div *ngIf="err.request?.username"><b>User:</b> {{err.request.username}}</div>
            <div *ngIf="err.request?.url"><b>URL:</b>&nbsp;{{err.request.url}}</div>
            <div *ngIf="err.request?.method"><b>Method:</b> {{err.request.method}}</div>
            <div *ngIf="err.request?.params"><b>Params:</b> {{err.request.params}}</div>
            <div *ngIf="err.request?.body"><b>Body: </b>{{err.request.body | slice:0:500}}</div>
            <div *ngIf="err.request?.userAgent"><b>Browser:</b> {{err.request.userAgent}}</div>
            <div *ngIf="err.request?.ip"><b>IP:</b> {{err.request.ip}}</div>
            <div *ngIf="err.request?.errorCode"><b>error Code:</b> {{err.request.errorCode}}</div>
            <div *ngIf="err.request?.errorType"><b>error Type:</b> {{err.request.errorType}}</div>
        </td>
        <td class="error_cell">{{err.stack | slice:0:500 }}</td>
        <td class="error_cell">
            <div *ngIf="err.message"><b>Message: </b>{{err.message | slice:0:500}}</div>
            <div *ngIf="err.details"><b>Details: </b>{{err.details | slice:0:2000}}</div>
        </td>
    </tr>
    </tbody>
</table>
<mat-paginator (page)="gotoPage($event)" [length]="1000"
               [pageIndex]="currentPage"
               [pageSize]="50" [hidePageSize]="true" style="font-size: 1.4em">
</mat-paginator>
