<fieldset *ngFor="let eltSource of elt.sources; let $index = index" class="cdeFieldset" id="sources_{{$index}}">
    <legend>Source: {{eltSource.sourceName}}</legend>
    <dl class="row">
        <ng-container
                *ngIf="sourceUrls['/server'+elt.elementType+'/originalSource/'+elt.elementType+'/'+eltSource.sourceName+'/'+elt.tinyId]">
            <dt class="col-3 text-right" matTooltip="Original Data in NLM CDE format">Raw Artifact:</dt>
            <dd class="col-9">
                <a [href]="'/originalSource/'+elt.elementType+'/'+eltSource.sourceName+'/'+elt.tinyId" target="_blank">Raw
                    Artifact</a>
            </dd>
        </ng-container>
        <ng-container *ngIf="eltSource.sourceName">
            <dt class="col-3 text-right">Name:</dt>
            <dd class="col-9">{{eltSource.sourceName}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.imported">
            <dt class="col-3 text-right">Imported:</dt>
            <dd class="col-9">{{eltSource.imported | date: 'MM/dd/yyyy @ h:mma'}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.created">
            <dt class="col-3 text-right">Created:</dt>
            <dd class="col-9">{{eltSource.created | date: 'MM/dd/yyyy @ h:mma'}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.updated">
            <dt class="col-3 text-right">Updated:</dt>
            <dd class="col-9">{{eltSource.updated | date: 'MM/dd/yyyy @ h:mma'}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.registrationStatus">
            <dt class="col-3 text-right">Registration Status:</dt>
            <dd class="col-9">{{eltSource.registrationStatus}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.datatype">
            <dt class="col-3 text-right">Datatype:</dt>
            <dd class="col-9">{{eltSource.datatype}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.copyright">
            <dt class="col-3 text-right">Copyright:</dt>
            <dd class="col-9">
                <div *ngIf="eltSource.copyright.valueFormat === 'html'" [innerHtml]="eltSource.copyright.value"></div>
                <div *ngIf="!(eltSource.copyright.valueFormat === 'html')">{{eltSource.copyright.value}}</div>
            </dd>
        </ng-container>
    </dl>
</fieldset>
