<fieldset *ngFor="let eltSource of elt.sources; let $index = index" class="cdeFieldset" id="sources_{{$index}}">
    <legend>Source: {{eltSource.sourceName}}</legend>
    <dl class="row">
        <ng-container *ngIf="eltSource.sourceName">
            <dt class="col-sm-3 col-xl-2">Name:</dt>
            <dd class="col-sm-9 col-xl-10">{{eltSource.sourceName}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.created">
            <dt class="col-sm-3 col-xl-2">Created:</dt>
            <dd class="col-sm-9 col-xl-10">{{eltSource.created | date: 'MM/dd/yyyy @ h:mma'}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.updated">
            <dt class="col-sm-3 col-xl-2">Updated:</dt>
            <dd class="col-sm-9 col-xl-10">{{eltSource.updated | date: 'MM/dd/yyyy @ h:mma'}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.registrationStatus">
            <dt class="col-sm-3 col-xl-2">Registration Status:</dt>
            <dd class="col-sm-9 col-xl-10">{{eltSource.registrationStatus}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.datatype">
            <dt class="col-sm-3 col-xl-2">Datatype:</dt>
            <dd class="col-sm-9 col-xl-10">{{eltSource.datatype}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.copyright">
            <dt class="col-sm-3 col-xl-2">Copyright:</dt>
            <dd class="col-sm-9 col-xl-10">
                <div *ngIf="eltSource.copyright.valueFormat === 'html'" [innerHtml]="eltSource.copyright.value"></div>
                <div *ngIf="!(eltSource.copyright.valueFormat === 'html')">{{eltSource.copyright.value}}</div>
            </dd>
        </ng-container>
    </dl>
</fieldset>