<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">
<%- include head.ejs %>

<body role="application">

<%- include navigation.ejs %>
<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <img alt="NIH Common Data Elements (CDE) logo" class="img-center-responsive"
                 src="/cde/public/assets/img/min/NIH-CDE.svg">
        </div>
        <div class="text-center">
            <a class="btn    btn-outline-dark mr-5" href="/cde/search/">Browse CDEs</a>
            <a class="btn    btn-outline-dark ml-5" href="/form/search/">Browse Forms</a>
        </div>
        <p>The NIH Common Data Elements (CDE) Repository has been designed to provide access to structured human and
            machine-readable definitions of data elements that have been recommended or required by NIH Institutes and
            Centers and other organizations for use in research and for other purposes.
        </p>
        <p>The Repository is a platform for identifying related data elements in use across diverse areas, for
            harmonizing data elements, and for linking CDEs to other existing standards and terminologies, including the
            value sets in the
            <a class="homeDescriptionLink" href="http://vsac.nlm.nih.gov" id="vsacLink" target="_blank" rel="noopener noreferrer">
                Value Set Authority Center (VSAC).</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4"><h3>Search</h3>
            <p>Search for individual data elements, by definition, users or sources. Search for sets of data elements
                ("boards") identified by a particular group for a particular use (e.g particular research
                solicitation).</p></div>
        <div class="col-lg-4"><h3>Compare / Harmonize</h3>
            <p>Analyze and resolve differences between data elements. Assure that your forms are using variables that
                will be usable by certified EHRs. </p></div>
        <div class="col-lg-4"><h3>Create</h3>
            <p>Draw upon the experience of colleagues and others to design unique data elements and measures.</p></div>
    </div>
    <br></div>

<%- include footer.ejs %>


<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike",
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/cde/public/assets/img/min/NIH-CDE.svg"
          }









</script>
<script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }
</script>
</body>
</html>
