<div>
    <ng-content select=".summary-list-before"></ng-content>
    <a [routerLink]="[urlPrefix]" [queryParams]="{tinyId: elt.tinyId}"
       [innerHtml]="elt.primaryNameCopy" id="linkToElt_{{eltIndex}}"
       (click)="select.emit(elt.tinyId)"></a>
    <small class="text-muted">{{elt.registrationState.registrationStatus}}</small>
    <ng-content select=".summary-list-after"></ng-content>
    <span *ngIf="elt.highlight?.matchedBy" class="pull-right hidden-xs small">
        <small class="text-muted small">Matched by: </small><strong [innerHtml]="elt.highlight.matchedBy"></strong>
    </span>
</div>