<table id="gridList" class="gridListView table table-condensed table-striped table-bordered table-responsive">
    <thead>
    <tr>
        <th *ngFor="let heading of headings">{{heading}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows">

        <td *ngFor="let prop of row"
            [class]="prop.css">
            <ng-container [ngSwitch]="prop.css">
                <ng-container *ngSwitchCase="'name'">
                    <a routerLink="/deView" [queryParams]="{tinyId: prop.tinyId}">{{prop.value}}</a>
                </ng-container>
                <ng-container *ngSwitchCase="'naming'">
                    previewList(e.naming, n => n.designation)

                </ng-container>
            </ng-container>
        </td>
    </tr>
    </tbody>
</table>
