// scrollbar top
:host {
  display: block;
  overflow-x: auto;
  transform: rotateX(180deg);

  table {
    border-right: none;
    margin: 1rem 0 0 0;
    overflow-x: initial;
    transform: rotateX(180deg);
  }
}
