@import '../../theme';

#tableViewDiv {
  display: block;
  overflow-x: auto;
  transform: rotateX(180deg);

  table {
    border-right: none;
    margin: 1rem 0 0 0;
    overflow-x: initial;
    transform: rotateX(180deg);

    thead {
      tr {
        background-color: unquote($nlmColorPrimary + '33');
      }

      th {
        border-color: $nlmBlue;
      }
    }

    td {
      border-color: $nlmGray;
    }
  }

}

.tableHeaderHelpIcon {
  color: $nlmBlue;
}


