<div>
    <span *ngIf="!editMode">
        <i title="Edit" role="link" *ngIf="isAllowed" class="fa fa-edit"
           (click)="edit()"></i>
        <span [(textContent)]="value"></span>
    </span>
    <ng-container *ngIf="editMode">
        <ng-container *ngIf="inputType.toLowerCase() === 'text'">
            <input class="form-control" type="text" autocomplete="off" [(ngModel)]="value"/>
        </ng-container>
        <ng-container *ngIf="inputType.toLowerCase() === 'number'">
            <input class="form-control" type="number" autocomplete="off" [(ngModel)]="value"/>
        </ng-container>
        <ng-container *ngIf="inputType.toLowerCase() === 'select'">
            <select class="form-control" [(ngModel)]="value">
                <option *ngFor="let selectOption of selectOptions;let i =index;" [textContent]="selectOption"></option>
            </select>
        </ng-container>
        <ng-container *ngIf="inputType.toLowerCase() === 'textarea'">
            <textarea class="form-control" autocomplete="off" [(ngModel)]="value"></textarea>
        </ng-container>
        <button class="fa fa-check" (click)="save()">Confirm</button>
        <button class="fa fa-times" (click)="discard()"> Discard</button>
    </ng-container>
</div>