<button type="button" class="btn btn-default" id="linkedFormsBtn" (click)="open()">Linked Forms</button>

<!-- z-index until all modals are upgraded to NG2 -->

<div bsModal #childModal="bs-modal" class="modal" tabindex="-1" role="dialog"
     aria-labelledby="linkedFormsModal" aria-hidden="true" style="z-index: 1045">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Linked Forms</h3>
            </div>
            <div class="modal-body">
                <div class="overflowHidden">
                    <p>{{getFormText()}}</p>
                    <a id="seeAllLinkedFormsButton" href="/form/search?q={{elt.tinyId}}" class="btn btn-default" target="_blank"
                       *ngIf="forms && forms.length > 0">
                        <i class="fa fa-file-text-o"></i> See all linked forms</a>
                    <hr/>
                    <div *ngIf="forms && forms.length > 0">
                        <h4>Preview: </h4>
                        <form-summary-list id="linkedFormsAccordionList" [forms]="forms" ejsPage="list"
                                           module="eltType" [includeInAccordion]="
                                           ['/cde/public/html/accordion/pinAccordionActions.html',
                                            '/system/public/html/accordion/addToQuickBoardActions.html']"></form-summary-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>