<div class="container-fluid" *ngIf="user">
    <h1 class="page-header">
        <label>User Profile</label>
    </h1>

    <h3>General Info</h3>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-user-information">
                <tr>
                    <td>Username:</td>
                    <td id="username">{{user.username}}</td>
                </tr>
                <tr>
                    <td>Quota:</td>
                    <td id="quota">{{user.quota / 1024 / 1024 | number:'1.2-2' | cdePlaceholder}}<span *ngIf="hasQuota"> MB</span>
                    </td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td id="user_email">
                        <cde-inline-edit id="emailEdit" [(model)]="user.email" [inputType]="'email'" [isAllowed]="true"
                                     (modelChange)="saveProfile()"></cde-inline-edit>
                    </td>
                </tr>
                <tr>
                    <td>Curator for:</td>
                    <td id="curatorFor">{{orgCurator}}</td>
                </tr>
                <tr>
                    <td>Admin for:</td>
                    <td id="adminFor">{{orgAdmin}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <div *ngIf="user.publishedForms.length > 0">
        <h3>Your Published Forms</h3>
        <table class="table table-striped">
            <tr>
                <th>Link</th>
            </tr>
            <tr *ngFor="let pf of user.publishedForms">
                <td>
                    <a href="/data/{{pf.id}}?submit" target="_blank">{{pf.name}}</a>
                    <i class="fa fa-trash" alt="Remove" (click)="removePublishedForm(pf)"></i>
                </td>
            </tr>
        </table>
    </div>

    <h3>CDE Viewing History</h3>
    <cde-accordion-list-directive id="accordionList" [cdes]="cdes" ejsPage="list" module="cde"></cde-accordion-list-directive>

    <h3>Form Viewing History</h3>
    <form-accordion-list id="formAccordionList" [forms]="forms" ejsPage="list" module="form"></form-accordion-list>

    <cde-user-comments [user]="user"></cde-user-comments>
</div>
