<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>User</th>
        <th>Message</th>
        <th>URL</th>
        <th>Screenshot</th>
        <th>Browser</th>
        <th>HTML</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let err of records">
            <td>{{err.date | date:'MM/dd/yyyy @ h:mma'}}</td>
            <td>{{err.user?.username?err.user.username:"Anonymous"}}</td>
            <td>{{err.userMessage}}</td>
            <td>{{err.reportedUrl}}</td>
            <td><a (click)="showScreenshot(err.screenshot.content)">Show Screenshot</a></td>
            <td>{{err.browser}}</td>
            <td><a (click)="showRawHtml(err.rawHtml)">Show HTML</a></td>
        </tr>
    </tbody>
</table>

<mat-paginator (page)="gotoPage($event)" [length]="1000"
               [pageIndex]="currentPage"
               [pageSize]="10" [hidePageSize]="true" style="font-size: 1.4em">
</mat-paginator>

<ng-template #screenshotModal>
    <div mat-dialog-content>
        <a target="_blank" href="{{screenshot}}" rel="noopener noreferrer"><img src="{{screenshot}}" style="max-width: 780px"></a>
    </div>
</ng-template>

<ng-template #rawHtmlModal>
    <div mat-dialog-content>
        {{rawHtml}}
    </div>
</ng-template>
