<h1 mat-dialog-title [innerHtml]="data.title"></h1>
<div mat-dialog-content>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <span id="treeViewTab">By Classification tree</span>
            </ng-template>

            <select class="form-control" id="selectClassificationOrg" name="selectClassifyItemOrg"
                    (change)="onChangeOrg($event.target.value)" [ngModel]="selectedOrg" required>
                <option value="">Start by selecting an organization...</option>
                <option *ngFor="let myOrg of userService.userOrgs" value="{{myOrg}}">{{myOrg}}</option>
            </select>
            <div class="smallSpace"></div>
            <div *ngIf="orgClassificationsTreeView">
                <tree-root #tree [nodes]="orgClassificationsTreeView.classifications" [options]="options">
                    <ng-template #treeNodeTemplate let-node="node" let-index="index">
                        <span [id]="node.path" class="mr-1">{{ node.data.name }}</span>
                        <button class="button" (click)="classifyItemByTree(node, selectedOrg)">
                            <mat-icon>add</mat-icon>
                            Classify
                        </button>
                    </ng-template>
                    <ng-template #treeNodeFullTemplate let-node="node" let-index="index" let-templates="templates">
                        <div [class]="node.getClass()"
                             [class.tree-node]="true"
                             [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
                             [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
                             [class.tree-node-leaf]="node.isLeaf"
                             [class.tree-node-active]="node.isActive"
                             [class.tree-node-focused]="node.isFocused">
                            <tree-node-wrapper [node]="node" [index]="index"
                                               [templates]="templates"></tree-node-wrapper>
                            <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                        </div>
                    </ng-template>
                </tree-root>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span id="recentlyAddViewTab">By recently added</span>
            </ng-template>

            <p>Select from recently used classifications...</p>
            <ng-container
                    *ngFor="let orgClassificationRecentlyAddView of orgClassificationsRecentlyAddView; index as i">
                <div class="breadcrumb" id="recentlyClassification_{{i}}">
                    {{orgClassificationRecentlyAddView.orgName}} /
                    {{orgClassificationRecentlyAddView.categories.join(" / ")}}
                    <button class="button" (click)="classifyItemByRecentlyAdd(orgClassificationRecentlyAddView)">
                        <mat-icon>add</mat-icon>
                        Classify
                    </button>
                </div>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions>
    <button class="button" [mat-dialog-close]>Close</button>
</div>
