<div *ngFor="let classification of elt.classification;let i = index" class="pull-left boxed-div">
    <div *ngIf="showWorkingGroups(classification)" id="classificationOrg-{{classification.stewardOrg.name}}">
        <p style="font-size: 1.5rem; margin-bottom: .5rem; font-weight: 500; line-height:1.2">{{classification.stewardOrg.name}}</p>
        <hr/>
        <tree-root #treeRoot [nodes]="classification.elements" [options]="options">
            <ng-template #treeNodeTemplate let-node="node" let-index="index">
                <a [routerLink]="[getClassifLink()]" href="javascript:void(0);"
                   [queryParams]="searchByClassificationParams(node,classification.stewardOrg.name)" [id]="node.path">
                    {{ node.data.name }}</a>
                <mat-icon *ngIf="isAllowedModel.isAllowed(elt)" [id]="node.path+'-unclassifyBtn'" title="Remove"
                          (click)="openDeleteClassificationModal(node,classification.stewardOrg.name)"
                          class="fake-button" role="button" tabindex="0">delete_outline</mat-icon>
            </ng-template>
            <ng-template #treeNodeFullTemplate let-node="node" let-index="index" let-templates="templates">
                <div [class.tree-node-expanded]="true" [ngClass]="{'pull-left boxed-div':node.level===1}">
                    <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                        <tree-node-content [node]="node" [index]="index"
                                           [template]="templates.treeNodeTemplate"></tree-node-content>
                    </div>
                    <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                </div>
            </ng-template>
        </tree-root>
    </div>
</div>
<div class="clearfix"></div>
