<div class="classificationView" [style.max-height]="isMdSize ? getClassification2ColumnHeight() : 'unset'">
    <ng-container *ngFor="let classification of elt.classification">
        <div *ngIf="showWorkingGroups(classification)"
             id="classificationOrg-{{classification.stewardOrg.name}}" class="classificationBox">
            <div class="classificationTitle">{{classification.stewardOrg.name}}</div>
            <div *ngFor="let c1 of classification   .elements; last as last">
                <ng-container *ngTemplateOutlet="classificationNode; context: {node: c1, c0: classification.stewardOrg.name, path: c1.name}"></ng-container>
                <div class="classificationLevel" [class.classificationLevelLine]="!last">
                    <ng-container *ngFor="let cN of c1.elements">
                        <ng-container *ngTemplateOutlet="displayTree; context: {c: cN, c0: classification.stewardOrg.name, path: c1.name+ ';' + cN.name}"></ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #classificationNode let-node="node" let-c0="c0" let-path="path">
    <div class="stretchBar">
        <a [id]="path" class="shrink" [title]="node.name"
           [routerLink]="[getClassifLink()]" [queryParams]="{selectedOrg: c0, classification: path}">
            {{ node.name }}
        </a>
        <mat-icon *ngIf="isAllowedModel.isAllowed(elt) && confirmDelete.observers.length" [id]="path + '-unclassifyBtn'" title="Remove"
                  class="fake-button" role="button" tabindex="0"
                  (click)="openDeleteClassificationModal(node, c0, path)">delete_outline</mat-icon>
    </div>
</ng-template>

<ng-template #displayTree let-c="c" let-c0="c0" let-path="path">
    <ng-container *ngTemplateOutlet="classificationNode; context: {node: c, path, c0}"></ng-container>
    <div class="classificationLevel">
        <ng-container *ngFor="let cN of c.elements">
            <ng-container *ngTemplateOutlet="displayTree; context: {c: cN, c0, path: path + ';' + cN.name}"></ng-container>
        </ng-container>
    </div>
</ng-template>
