<div *ngFor="let classification of elt.classification;let i = index" class="pull-left boxed-div">
    <div *ngIf="showWorkingGroups(classification)" id="classificationOrg-{{classification.stewardOrg.name}}">
        <p style="font-size: 1.5rem; margin-bottom: .5rem; font-weight: 500; line-height:1.2">{{classification.stewardOrg.name}}</p>
        <hr/>
        <tree-root #treeRoot [nodes]="classification.elements" [options]="options">
            <ng-template #treeNodeTemplate let-node="node" let-index="index">
                <a [routerLink]="[getClassifLink()]"
                   [queryParams]="searchByClassificationParams(node,classification.stewardOrg.name)" [id]="node.path">
                    {{ node.data.name }}</a>
                <mat-icon *ngIf="isAllowedModel.isAllowed(elt)" style="vertical-align: middle; font-size: 1.5em"
                   class="hand-cursor" title="Remove" [id]="node.path+'-unclassifyBtn'"
                   (click)="openDeleteClassificationModal(node,classification.stewardOrg.name)">delete_outline</mat-icon>
            </ng-template>
            <ng-template #treeNodeFullTemplate let-node="node" let-index="index" let-templates="templates">
                <div [class.tree-node-expanded]="true" [ngClass]="{'pull-left boxed-div':node.level===1}">
                    <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                        <tree-node-content [node]="node" [index]="index"
                                           [template]="templates.treeNodeTemplate"></tree-node-content>
                    </div>
                    <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                </div>
            </ng-template>
        </tree-root>
    </div>
</div>
<div class="clearfix"></div>

<ng-template #deleteClassificationContent>
    <h4 mat-dialog-title>Remove Classification</h4>
    <div mat-dialog-content>
        You are about to delete <b>{{deleteClassificationString}}</b> classification. Are you sure?
    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close] id="cancelDeleteClassificationBtn" type="button"
                mat-raised-button color="warn">Cancel</button>
        <button [mat-dialog-close]="'confirm'" id="confirmDeleteClassificationBtn"
                type="button" mat-raised-button color="primary">OK</button>
    </div>
</ng-template>
