<dl class="dl-horizontal">
    <span ng-if="cde.valueDomain.datatypeValueList.multi === true">
        <dt>Multiple Values:</dt>
        <dd>Yes</dd>
    </span>
    <span ng-if="cde.valueDomain.datatypeValueList.otherPleaseSpecify === true">
        <dt>Other (Please Specify):</dt>
        <dd>Yes</dd>        
        <dt>Please Specify Text:</dt>
        <dd>{{cde.valueDomain.datatypeValueList.otherPleaseSpecifyText | placeholdEmpty}}</dd>      
    </span>
</dl>
<hr/>
<h4>Permissible Values</h4>
<div ng-show="cde.valueDomain.permissibleValues.length == 0">No Permissible Values</div>
<table ng-show="cde.valueDomain.permissibleValues.length > 0" class="table-bordered table-condensed table-striped" summary="List of permissible values">
     <thead>
         <tr>
             <th id="value">Value</th>
             <th id="codeName">Code Name</th>
             <th id="code">Code</th>
             <th id="codeSystem">Code System</th>
         </tr>
     </thead>
     <tbody>
         <tr ng-repeat="pv in cde.valueDomain.permissibleValues">
            <td headers="value">
                {{pv.permissibleValue}}
            </td>
             <td headers="codeName" >
                {{pv.valueMeaningName}}
             </td>
             <td headers="code">
                {{pv.valueMeaningCode}}
             </td>
             <td headers="codeSystem" >
                {{pv.codeSystemName}}
             </td>
         </tr>
         <tr ng-show="cde.valueDomain.permissibleValues.length == 10">
             <td colspan="6">See full list in Detailed View</td>
         </tr>
     </tbody>
</table>
