<div ng-class="accordionListStyle" ng-controller="TableViewCtrl" id="gridList">
    <table class="gridListView table table-condensed table-striped table-bordered" ng-class="accordionListStyle">
        <thead>
        <tr>
            <th >Name</th>
            <th ng-if="searchViewSettings.tableViewFields.permissibleValues">Permissible Values</th>
            <th ng-repeat="customField in searchViewSettings.tableViewFields.customFields"
                style="{{customField.style}}">{{customField.label}}</th>
            <th ng-repeat="eCl in embed[searchType].classifications" ng-switch="clLimit === 100">{{eCl.label}} <span
                    ng-switch-when="true"> <a href="" ng-click="lowerClLimit()">(show 3)</a></span>
                <span ng-switch-default>(3 shown, <a href="" ng-click="raiseClLimit()">see all</a>)</span></th>
            <th ng-if="embed.cde.linkedForms.show" ng-switch="lfLimit === 100">
                {{embed.cde.linkedForms.label}}
                <span ng-switch-when="true"> <a href="" ng-click="lowerLfLimit()">(show 3)</a></span>
                <span ng-switch-default>(3 shown, <a href="" ng-click="raiseLfLimit()">see all</a>)</span></th>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in elts">
            <td ng-if="searchViewSettings.tableViewFields.name" class="name">
                <a href="https://cde.nlm.nih.gov/deView?tinyId={{c.tinyId}}" target="_blank">
                    {{c.naming[0].designation}}
                </a>
            </td>
            <td ng-if="searchViewSettings.tableViewFields.permissibleValues" class="permissibleValues multiline-ellipsis">
                <strong>
                    {{c.valueDomain.datatype}}<span ng-show="c.valueDomain.datatype==='Value List'">:</span>
                </strong>
                <span ng-if="c.valueDomain.permissibleValues">
                    <span>{{concatenatePVs(c) | limitTo : 170}}</span>
                    <span class="lastItem" ng-show="concatenatePVs(c).length > 170">(More...)</span>
                </span>
            </td>
            <td ng-if="searchViewSettings.tableViewFields.nbOfPVs" class="nbOfPVs">
                {{c.valueDomain.nbOfPVs}}
            </td>
            <td ng-repeat="customField in searchViewSettings.tableViewFields.customFields">{{c.embed[customField.key] | limitTo : 200}}
                <span ng-show="c.embed[customField.key].length > 200">(truncated...)</span></td>
            <td ng-repeat="eCl in embed[searchType].classifications">
                <ul style="margin-bottom: 0">
                    <li ng-repeat="cl in c.embed[eCl.label] | limitTo:clLimit"><small>{{cl}}</small></li>
                </ul>
                <div ng-if="c.embed[eCl.label].length > clLimit" style="margin-left: 20px">...</div>
            </td>
            <td ng-if="embed.cde.linkedForms.show">
                <ul>
                    <li ng-repeat="lf in c.embed.linkedForms | limitTo: lfLimit">{{lf.name}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>