<div class="modal-header" id="newSectionModalHeader">
    <h4>Add Section</h4>
</div>
<form name="section-form" role="form">
    <div class="modal-body" id="newSectionModalBody">
        <div class="form-group">
            <label for="newSection.label">Title</label>
            <input class="form-control" ng-model="newSection.label" id="newSection.label" Placeholder="Section Title" required/>
        </div>    
        <div class="form-group">
            <label for="newSection.cardinality">Cardinality</label>
            <select class="form-control" ng-model="newSection.cardinality" 
                    ng-options="key as value for (key, value) in cardinalityOptions" id="newSection.cardinality" required></select>
        </div>    
    </div>
    <div class="modal-footer" id="newSetionModalFooter">
        <button class="btn cancel" ng-click="cancelCreate()" id="cancelCreate">Cancel</button>
        <button class="btn btn-warning" ng-click="okCreate()" ng-disabled="isClean() || section-form.$invalid" id="createSection">Save</button>
    </div>
</form>