<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <form name="createForm" role="form">
                <fieldset>
                    <legend>Create Form</legend>
                    <div class="form-group">
                        <label tabindex="0" for="formName">Name</label>
                        <input tabindex="0" ng-model="newForm.designation" type="text" class="form-control" id="formName"
                               placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label tabindex="0" for="formDefinition">Description</label>
                        <input tabindex="0" ng-model="newForm.definition" type="text" class="form-control" id="formDefinition"
                               placeholder="Definition">
                    </div>
                    <div class="form-group">
                        <label tabindex="0" for="formVersion">Version</label>
                        <input tabindex="0" ng-model="newForm.version" type="text" class="form-control" id="formVersion"
                               placeholder="Version">
                    </div>

                    <div class="form-group">
                        <label tabindex="0" for="newForm.stewardOrg.name">Steward Organization</label>
                        <select class="form-control" ng-model="newForm.stewardOrg.name" id="newForm.stewardOrg.name" required>
                            <option value="">Select One</option>
                            <option ng-repeat="o in myOrgs" ng-value="o">{{o}}</option>
                        </select>
                    </div>

                    <div tabindex="0" ng-show="validationErrors() !== null">
                        <i class="fa fa-warning"></i> {{validationErrors()}}
                    </div>


                    <hr/>
                    <a href="/#/" class="btn btn-warning">Cancel</a>
                    <input id="createForm" type="submit" ng-click="save()" class="btn btn-success"
                           value="Save" ng-disabled="isClean() || createForm.$invalid || validationErrors() !== null">
                    </input>
                </fieldset>
            </form>
        </div>
    </div>
</div>
