<div ng-controller="DisplayProfileCtrl">
    <h4>Display Profiles</h4>
    <div ng-repeat="profile in elt.displayProfiles" class="hr" id="profile_{{$index}}">
        <div class="text-right" ng-if="canCurate">
            <span ng-show="showDelete">Confirm Delete
                <a class="fa fa-check" ng-click="showDelete = false; removeDisplayProfile($index)"
                   id="confirmRemoveDisplayProfile-{{$index}}" title="OK" href=""></a>
                <a class="fa fa-times" ng-click="showDelete = false" title="Cancel" href=""></a>
            </span>
            <a ng-click="showDelete = true" ng-hide="showDelete" class="fa fa-trash-o"
               id="removeDisplayProfile-{{$index}}" title="Remove" href=""></a>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <dl class="dl-horizontal">
                    <dt>Name:</dt>
                    <dd>
                        <div inline-edit id="profileNameEdit_{{$index}}" model="profile.name" is-allowed="canCurate"
                             on-ok="stageElt()"></div>
                    </dd>
                    <dt>Sections as matrices:</dt>
                    <dd>
                        <input type="checkbox" ng-model="profile.sectionsAsMatrix" ng-disabled="!canCurate"
                               id="displayAsMatrix_{{$index}}" ng-click="stageElt()"/>
                    </dd>
                    <dt>Display answer values:</dt>
                    <dd>
                        <input type="checkbox" ng-model="profile.displayValues" ng-disabled="!canCurate"
                               id="displayValues_{{$index}}" ng-click="stageElt()"/>
                    </dd>
                    <dt>Display Instructions:</dt>
                    <dd>
                        <input type="checkbox" ng-model="profile.displayInstructions" ng-disabled="!canCurate"
                               id="displayInstructions_{{$index}}" ng-click="stageElt()">
                    </dd>
                    <dt>Display Question Numbers:</dt>
                    <dd>
                        <input type="checkbox" ng-model="profile.displayNumbering" ng-disabled="!canCurate"
                               id="displayNumbering_{{$index}}" ng-click="stageElt()">
                    </dd>
                    <dt>Display Printable Logic: </dt>
                    <dd>
                        <input type="checkbox" ng-model="profile.displayType" ng-disabled="!canCurate"
                               ng-true-value="'Follow-up'" ng-false-value="'Dynamic'"
                               id="displayType_{{$index}}" ng-click="stageElt();updateRender();">
		            </dd>
                    <dt>Number of Columns:</dt>
                    <dd>
                        <div class="slider" id="nc_{{$index}}" style="width: 150px; top: 5px;"
                             jq-slider="profile.numberOfColumns" jq-slider-onslide="$scope.stageElt();$scope.updateRender();"
                             jq-slider-min="1" jq-slider-max="6" jq-slider-step="1">
                            <div tabindex="0" class="ui-slider-handle"></div>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="col-md-7 col-xs-12" ng-controller="DisplayProfileDataCtrl" style="border: dashed 1px;zoom:60%;" >
                <form name="sectionLabel" role="form" class="form-horizontal">
                    <div ng-controller="FormRenderCtrl" >
                        <div ng-if="nativeRenderType === SHOW_IF"
                             ng-include="'/form/public/html/formRenderSection.html'"
                             ng-init="selection.selectedProfile = profile"></div>
                        <div ng-if="nativeRenderType === FOLLOW_UP"
                             ng-include="'/form/public/html/formRenderSection.html'"
                             ng-init="selection.selectedProfile = profile"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button ng-show="canCurate" class="btn btn-small btn-default" value="add" ng-click="addProfile()"
            id="addDisplayProfile"><i class="fa fa-plus"> </i> Add Profile
    </button>
</div>
