<!DOCTYPE html>
<html lang="en" ng-app="FormRenderer">

  <head>
    <meta charset="utf-8" />
    <title>Form View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Le styles -->
    <link data-require="bootstrap-css" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <style>
      body {
        padding-top: 60px;
      }
      @media (max-width: 979px) {

        /* Remove any padding from the body */
        body {
          padding-top: 0;
        }
      }

    .formRenderSection .formRenderSection {
        margin-left: 15px;
    }      
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Le javascript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script data-require="bootstrap" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>        
    <script src="/form/public/js/controllers/FormRenderer.js"></script>
    <script src="/cde/public/assets/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
  </head>

  <body ng-controller="FormRenderCtrl">
      <div class="container-fluid">
            <h2>{{myForm.naming[0].designation}}</h2>
            <form ng-repeat="formElement in myForm.formElements track by $index" name="sectionLabel" role="form" class="form-inline">
                <div ng-if="formElement.elementType === 'question'" ng-include="'/form/public/html/formRenderQuestion.html'" ng-init="question = formElement;"></div>
                <div ng-if="formElement.elementType === 'section'" ng-include="'/form/public/html/formRenderSection.html'" ng-init="section = formElement;"></div>
            </form>
            <a class="btn btn-default btn-success fa fa-external-link" target="_blank" id="exportLink" ng-click="exportStr()" href="{{encodedStr}}" download="form-data.json"> Export</a>                     
      </div>
  </body>
</html>
