<span ng-class="accordionListStyle">
    <table class="gridListView table table-condensed table-striped table-bordered" ng-class="accordionListStyle">
        <thead>
        <tr>
            <th tabindex="0" class="name">Name</th>
            <th tabindex="0" class="naming">Other Names</th>
            <th tabindex="0" class="stewardOrg">Steward</th>
            <th tabindex="0" class="usedBy">Used by Organizations</th>
            <th tabindex="0" class="registrationStatus">Registration Status</th>
            <th tabindex="0" class="administrativeStatus">Admin Status</th>
            <th tabindex="0" class="ids">Identifiers</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in cdes">
            <td tabindex="0" class="name">
                <a href="/#/formView?tinyId={{c.tinyId}}">
                    {{c.naming[0].designation}}
                </a>
            </td>
            <td tabindex="0" class="naming">
                <ul>
                    <li ng-repeat="name in c.naming | limitTo: maxLines" ng-show="name.designation">{{name.designation |
                        limitTo: lineLength}} <span ng-show="name.designation.length>lineLength">...</span></li>
                    <li class="lastItem" ng-show="c.naming.length > maxLines">...</li>
                </ul>
            </td>
            <td tabindex="0" class="stewardOrg">{{c.stewardOrg.name}}</td>
            <td tabindex="0" class="usedBy multiline-ellipsis">
                <span ng-repeat="org in c.usedBy | limitTo: maxLines ">{{$index>0?", ":""}}{{org}}</span><span
                        ng-show="c.usedBy.length > maxLines">, ...</span>
            </td>
            <td tabindex="0" class="registrationStatus">{{c.registrationState.registrationStatus}}</td>
            <td tabindex="0" class="administrativeStatus">{{c.registrationState.administrativeStatus}}</td>
            <td tabindex="0" class="ids">
                <ul>
                    <li ng-repeat="id in c.ids | limitTo: maxLines">
                        {{id.source}}: <strong>{{id.id}}</strong> <span ng-show="id.version">v{{id.version}}</span>
                    </li>
                    <li class="lastItem" ng-show="c.ids.length > maxLines">...</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</span>