<div class="panel panel-default section_view" ng-controller="FormViewSectionCtrl">
    <div class="panel-heading">
        <div class="questionSectionTitle" ng-click="section.updatedSkipLogic = false">
            <span ng-if="canCurate" class="ib" style="vertical-align: top">
                <i class="fa fa-arrows fa-lg question-move-handle"></i>
                <i ng-if="section.skipLogic.condition.length > 0" class="fa fa-cog"
                   ng-class="{'fa-spin': section.updatedSkipLogic}"
                   title="{{section.updatedSkipLogic?'Section has updated show if rule':'Section has show if rule'}}"></i>
            </span>

            <span class="section_title ib" style="margin-left: 5px; width: 62%"
                  inline-edit model="section.label" is-allowed="canCurate && section.edit" on-ok="stageElt()"></span>

            <span ng-if="canCurate" class="pull-right editIconDiv">
                <i ng-if="!section.edit" class="fa fa-pencil hand-cursor" title="Edit section"
                   ng-click="section.edit = true"></i>
                <i ng-if="section.edit" class="fa fa-check hand-cursor" title="Save edit section"
                   ng-click="section.edit = false"></i>
                <i class="fa fa-trash-o hand-cursor" title="Remove Section" ng-click="removeElt(parent, $index)"></i>
            </span>
        </div>

        <div ng-if="!(canCurate && section.edit)">
            <span ng-if="section.repeatOption && (section.repeatOption !== 'N' || section.repeatNumber !== 1)"
                  class="label label-primary formViewSummaryLabel">
                Repeats: {{getRepeatLabel(section)}}
            </span>
            <span ng-if="section.skipLogic.condition" class="label label-warning formViewSummaryLabel">
                Show if: {{section.skipLogic.condition}}
            </span>
            <div ng-if="section.instructions.value" class="questionInstruction">
                <span class="questionSectionLabel">Instructions:</span>
                <span ng-bind="section.instructions.value"></span>
            </div>
        </div>

        <div ng-if="canCurate && section.edit">
            <div class="section_instruction">
                <span class="questionSectionLabel">Instructions:</span>
                <div inline-area-edit inline-area-visibility="inlineAreaEditVisibility"
                     model="section.instructions.value" def-format="section.instructions.valueFormat"
                     is-allowed="canCurate && section.edit" on-ok="stageElt()"></div>
            </div>
            <div class="questionSectionLabel section_cardinality">Repeats:
                <select class="form-control" ng-model="section.repeatOption" ng-change="setRepeat(section);stageElt()"
                        ng-options="item.value as item.label for item in repeatOptions">
                </select>
            </div>
            <div ng-if="section.repeatOption === 'N'"
                 class="questionSectionLabel section_cardinality">Repeat Maximum Times:
                <input type="number" class="form-control" ng-model="section.repeatNumber" ng-change="setRepeat(section);stageElt()"/>
            </div>
            <div class="questionSectionLabel">Show if:
                <span id="dd_s_skipLogic_{{$index}}" ng-class="{'has-error':section.skipLogic.skipLogicError}">
                    <input ng-disabled="!(parent.formElements.length > 1 && canCurate && section.edit)"
                           type="text" ng-model="section.skipLogic.condition"
                           class="form-control skipLogicCondition" ng-trim="false"
                           ng-change="validateSkipLogic(section.skipLogic,parent.formElements)"
                           uib-typeahead="opt for opt in getCurrentOptions($viewValue, parent.formElements, section, $parent.$index) | filter:tokens.unmatched"
                           typeahead-min-length="0" typeahead-focus-first="false" typeahead-show-hint="true"
                           typeahead-on-select="validateSkipLogic(section.skipLogic, parent.formElements, $item)"
                           typeahead-append-to-body="true"/>
                    <span ng-bind="section.skipLogic.skipLogicError"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="section_drop_area_child" class="dragQuestions dragSection"></div>
        <div infinite-scroll="raiseLimit(section.formElements)" infinite-scroll-distance="0"
             infinite-scroll-container="$document.find('#'+!isSubSection?'section_drop_area_'+$index:'section_drop_area_child')">
        <div ui-sortable="sortableOptions" ng-model="section.formElements" class="dragQuestions dragSections"
             id="{{!isSubSection?'section_drop_area_'+$index:'section_drop_area_child'}}">
                <div ng-repeat="(sectionIndex, formElement) in section.formElements | limitTo: nbOfEltsLimit">
                    <div ng-if="formElement.elementType === 'question'" id="question_{{preId}}_{{sectionIndex}}"
                         ng-include="'/form/public/html/formViewQuestion.html'"
                         ng-init="parent = section; question = formElement;"></div>
                    <div ng-if="formElement.elementType === 'section'" id="section_{{preId}}"
                         ng-include="'/form/public/html/formViewSection.html'"
                         ng-init="parent = section; section = formElement;isSubSection = true; preId = preId + '_'+ sectionIndex"></div>
                    <div ng-if="formElement.elementType === 'form'" id="inform_{{preId}}"
                         ng-include="'/form/public/html/formViewForm.html'"
                         ng-init="parent = section; section = formElement;isSubSection = true; preId = preId + '_'+ sectionIndex"></div>
                </div>
            </div>
            <div ng-if="section.formElements.length > nbOfEltsLimit" id="scrollMore">
                <i class="fa fa-2x">Scroll down to see more ...</i>
            </div>
        </div>
        <div ng-show="canCurate && section.formElements.length === 0">
            <i class='fa fa-exclamation-triangle'></i>To add questions, search for and drag them here.
            <button id="startAddingQuestions_section_{{sectionIndex}}" ng-show="elt.formElements.length > 0"
                    ng-click="setToAddCdeMode()" class="btn btn-default hidden-sm">
                <span ng-hide="addMode === 'cde'"><i
                        class="glyphicon glyphicon-indent-right"></i> Show Question Search Area</span>
                <span ng-show="addMode === 'cde'"><i
                        class="glyphicon glyphicon-indent-left"></i> Hide Question Search Area</span>
            </button>
            <button id="startAddingQuestions_form_{{sectionIndex}}" ng-show="elt.formElements.length > 0"
                    ng-click="setToAddFormMode()" class="btn btn-default hidden-sm">
                <span ng-hide="addMode === 'form'"><i
                        class="glyphicon glyphicon-indent-right"></i> Show Form Search Area</span>
                <span ng-show="addMode === 'form'"><i
                        class="glyphicon glyphicon-indent-left"></i> Hide Form Search Area</span>
            </button>
        </div>
    </div>
</div>