<div class="container-fluid" ng-controller="FormRenderCtrl">
    <h2>{{elt.naming[0].designation}}</h2>
    <div ng-if="elt.displayProfiles.length > 0">
        Display Profile:
        <select ng-model="selection.selectedProfile"
            ng-options="p.name for p in elt.displayProfiles"
            id="select_display_profile"></select>
    </div>
    <form name="sectionLabel" role="form" class="form-inline">
        <div ng-repeat="formElement in elt.formElements track by $index" class="row">
            <div ng-if="formElement.elementType === 'question'" ng-include="'/form/public/html/formRenderQuestion.html'"
                 ng-init="question = formElement;  formElements = elt.formElements;"></div>
            <div ng-if="formElement.elementType === 'section'" ng-include="'/form/public/html/formRenderSection.html'"
                 ng-init="section = formElement; formElements = elt.formElements;"></div>
        </div>
    </form>
</div>
