<div class="panel panel-default formRenderPanel">
    <div class="panel-heading questionSectionTitle">{{elt.naming[0].designation}}</div>
    <div class="panel-body">
        <div ng-repeat="formElement in elt.formElements track by $index" class="row">
            <div ng-if="formElement.elementType === 'question'" ng-include="'/form/public/html/formViewQuestion.html'"
                 ng-init="question = formElement; parent = elt;"></div>
            <div ng-if="formElement.elementType === 'section'" ng-include="'/form/public/html/formViewSection.html'"
                 ng-init="parent = elt; section = formElement; "></div>
            <div ng-if="formElement.elementType === 'form'" ng-include="'/form/public/html/formRenderForm.html'"
                 ng-init="innerForm = formElement;" ng-controller="FormRenderFormCtrl"></div>
        </div>

    </div>
</div>
