<br/>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Name:</div>
    <div class="col-sm-7" inline-edit id="nameEdit" model="elt.naming[0].designation" is-allowed="false"
         on-ok="stageCde(form)"></div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Description:</div>
    <div class="col-sm-7" inline-area-edit inline-area-visibility="inlineAreaEditVisibility"
         model="elt.naming[0].definition" is-allowed="false" def-format="elt.naming[0].definitionFormat"
         on-ok="stageCde(form)">
    </div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Copyrighted:</div>
    <div class="col-sm-7">
        <input type="checkbox" ng-model="elt.isCopyrighted" ng-disabled="!canCurate" id="isCopyrighted"
               ng-click="stageElt()"/>
        <div ng-show="elt.isCopyrighted">
            Statement:
            <div inline-edit id="formCopyrightText" model="elt.copyright.text" is-allowed="canCurate"
                 on-ok="stageElt(elt)"></div>
        </div>
        <div ng-show="elt.isCopyrighted">
            Authority:
            <div inline-edit id="formCopyrightAuthority" model="elt.copyright.authority" is-allowed="canCurate"
                 on-ok="stageElt(elt)"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Disallow Rendering:</div>
    <div class="col-sm-7">
        <input type="checkbox" ng-model="elt.noRenderAllowed" ng-disabled="!canCurate"
               id="disallowRendering" ng-click="stageElt()"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Version:</div>
    <div class="col-sm-7">{{elt.version | placeHoldEmpty}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Status:</div>
    <div class="col-sm-7" id="registrationStatus">{{elt.registrationState.registrationStatus | placeHoldEmpty}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5 questionSectionLabel text-right">Steward:</div>
    <div class="col-sm-7">{{elt.stewardOrg.name}}
    </div>
</div>
