<div ng-show="evaluateSkipLogic(formElement.skipLogic.condition, formElements, formElement)">
    <div ng-if="selection.selectedProfile.displayInstructions" class="row">
        <div class="col-md-12" ng-switch="formElement.instructions.valueFormat">
            <span ng-switch-default class="text-muted">
                <span ng-bind="formElement.instructions.value"></span></span>
            <span ng-switch-when="html">
                <span ng-bind-html="formElement.instructions.value"></span>
            </span>
        </div>
    </div>
    <div class="row" ng-if="formElement.label">
        <div class="col-md-12">
            <label tabindex="0" ng-class="{'native-question-label': selection.selectedProfile.displayNumbering }" ng-bind-html="formElement.label"></label>
        </div>
    </div>
    <div class="row native-question-answers">
        <div class="col-md-12">
            <div ng-switch="formElement.question.isScore">
                <div ng-switch-when="true">
                    Score: <span ng-disabled="true" ng-bind="score(formElement)"></span>
                </div>
                <div ng-switch-default ng-switch="formElement.question.datatype" id="{{formElement.label}}_{{$index}}">
                    <div ng-switch-when="Value List" cde-native-value-list></div>
                    <div ng-switch-when="Date" class="input-group native-box">
                        <input class="form-control" uib-datepicker-popup="MM/dd/yyyy"
                               datepicker-options="formElement.question.dateOptions" is-open="formElement.question.opened"
                               type="text" ng-required="formElement.question.required" alt-input-formats="['yyyy']"
                               ng-model="formElement.question.answer" ng-disabled="!formElement.question.editable"/>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="formElement.question.opened = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div ng-switch-when="Number" ng-class="[{'input-group': formElement.question.uoms.length > 0}, 'native-box']">
                        <input type="number" class="form-control" ng-required="formElement.question.required"
                               ng-model="formElement.question.answer" name="{{formElement.question.cde.tinyId}}"
                               min="{{formElement.question.datatypeNumber.minValue}}"
                               max="{{formElement.question.datatypeNumber.maxValue}}"/>
                        <label class="input-group-addon" ng-if="formElement.question.uoms.length > 0"
                               ng-repeat="uom in formElement.question.uoms">
                            <input type="radio" ng-model="formElement.question.answerUom" ng-value="uom"> {{uom}}
                        </label>
                    </div>
                    <div ng-switch-default ng-class="[{'input-group': formElement.question.uoms.length > 0}, 'native-box']">
                        <input type="text" class="form-control" ng-required="formElement.question.required"
                               ng-model="formElement.question.answer" name=""/>
                        <label class="input-group-addon" ng-if="formElement.question.uoms.length > 0"
                               ng-repeat="uom in formElement.question.uoms">
                            <input type="radio" ng-model="formElement.question.answerUom" ng-value="uom"> {{uom}}
                        </label>
                    </div>

                    <div>
                        <span ng-show="sectionLabel[formElement.question.cde.tinyId].$error.min">Value is below min.</span>
                        <span ng-show="sectionLabel[formElement.question.cde.tinyId].$error.max">Value is above max.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
