<div class="container-fluid" ng-controller="FormRenderCtrl">
    <h2>{{elt.naming[0].designation}}</h2>

    <form name="sectionLabel" role="form" class="form-inline">
        <div ng-repeat="formElement in elt.formElements track by $index" class="row">
            <div ng-if="formElement.elementType === 'question'" ng-include="'/form/public/html/formRenderQuestion.html'"
                 ng-init="question = formElement;  formElements = elt.formElements;"></div>
            <div ng-if="formElement.elementType === 'section'" ng-include="'/form/public/html/formRenderSection.html'"
                 ng-init="section = formElement; formElements = elt.formElements;"></div>
        </div>
    </form>
</div>
