<div class="panel panel-default section_view" id="section_view_{{$index}}">    
    <div class="panel-heading">        
        <h4>
            <i ng-if="canCurate" class="fa fa-arrows section-move-handle" style="float: left;margin-right: 5px"></i>
            <strong><div id="section_title_{{$index}}" inline-edit model="section.label" is-allowed="canCurate" on-ok="stageElt()"></div></strong>
        </h4>
        <div class="row">
            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt>Instructions: </dt>
                    <dd id="dd_section_instructions_{{$index}}"><div inline-edit model="section.instructions" is-allowed="canCurate" on-ok="stageElt()"> </div></dd>
                    <dt>Show if: </dt>
                    
                    <dd ng-show="previousLevel">
                        <input type="text" ng-change="stageElt(elt)" ng-model="section.skipLogic.condition" typeahead="opt for opt in getCurrentOptions($viewValue, previousLevel)" typeahead-min-length="0" class="form-control"/>
                    </dd>

                    <dt>Cardinality: </dt>
                    <dd id="dd_card_{{$index}}">
                        <span ng-show="editCardMode">
                            <select ng-model="section.cardinality" ng-options="key as value for (key, value) in cardinalityOptions" id="select_section_card_{{$index}}"></select>
                            <br/>
                            <button class="fa fa-check" ng-click="editCardMode = false; stageElt()" id="confirmCard"> Confirm</button>
                            <button class="fa fa-times" ng-click="editCardMode = false; section.cardinality = orig"> Discard</button>
                        </span>
                        <span ng-hide="editCardMode">
                            <i ng-show="canCurate" class="fa fa-edit" ng-click="editCardMode = true; orig = section.cardinality" id="edit_section_card_{{$index}}"></i> {{cardinalityOptions[section.cardinality]}}
                        </span>
                    </dd>
                </dl>
                <i class="glyphicon glyphicon-remove hand-cursor pull-right" ng-click="removeElt(elt, $index)" title="Remove Section" ng-show="canCurate" id="removeElt-{{$index}}"></i>

            </div>
        </div>
    </div>
    <div class="panel-body">
        <div ui-sortable="sortableOptions" ng-model="section.formElements" class="dragQuestions" id="section_drop_area_{{$index}}">
            <div ng-repeat="(questionIndex, formElement) in section.formElements" id="question_{{$index}}">
                <div ng-if="formElement.elementType === 'question'" ng-include="'/form/public/html/formViewQuestion.html'" ng-init="previousLevel = section.formElements; question = formElement;"></div>
                <div ng-if="formElement.elementType === 'section'" ng-include="'/form/public/html/formViewSection.html'" ng-init="previousLevel = section.formElements; section = formElement;"></div>
            </div>
        </div>
        <div ng-show="section.formElements.length === 0">
            <i class="fa fa-exclamation-triangle"></i> To add questions, search for and drag them here.
            <button id="startAddingQuestions_section_{{sectionIndex}}" ng-show="elt.formElements.length > 0" ng-click="switchEditQuestionsMode()" class="btn btn-default hidden-sm">
                <span ng-hide="addCdeMode"><i class="glyphicon glyphicon-indent-right"></i> Show Question Search Area</span>
                <span ng-show="addCdeMode"><i class="glyphicon glyphicon-indent-left"></i> Hide Question Search Area</span>
            </button>
        </div>        
    </div>
</div>