<div uib-accordion close-others="false" ng-class="accordionListStyle" id="formQuestion_{{question.label}}">
    <div uib-accordion-group is-open="true" is-disabled="true">
        <div uib-accordion-heading>
            <div class="row" ng-class="{'bg-warning': question.question.cde.outdated}"
                 ng-click="question.updatedSkipLogic = false">
                <div ng-if="canCurate" class="col-sm-1 section-question-icon-div noRightPadding">
                    <i class="fa fa-arrows question-move-handle"></i>
                    <i ng-if="question.skipLogic.condition.length > 0" class="fa fa-cog"
                       ng-class="{'fa-spin': question.updatedSkipLogic}"
                        title="{{question.updatedSkipLogic?'Question has updated show if rule':'Question has show if rule'}}"></i>
                </div>
                <div class="col-sm-9">
                    <span ng-if="question.question.isScore"><strong>Score: </strong></span>
                    <span ng-if="question.hideLabel">
                        <i class="fa fa-question-circle" uib-tooltip="This question has no label"></i>
                        <s ng-bind="question.question.cde.name"></s>
                    </span>
                    <div ng-if="question.label || question.edit" class="row">
                        <div class="col-sm-7" id="dd_question_title_{{$index}}">
                            <i ng-show="canCurate && question.edit" class="fa fa-pencil" title="Change question label"
                               ng-click="openNameSelect(question,section)"></i>
                            {{question.label | placeHoldEmpty}}
                        </div>
                    </div>
                    <span ng-if="inScoreCdes.indexOf(question.question.cde.tinyId) > -1" class="text-info">
                        <small>(part of score)</small>
                    </span>
                    <span ng-if="question.question.cde.outdated" class="error-block"> (Outdated)
                        <button id="question_update_{{sectionIndex}}_{{questionIndex}}"
                                ng-click="updateCdeVersion(question);$event.preventDefault();$event.stopPropagation();">
                            Update
                        </button>
                    </span>
                    <span ng-if="question.incompleteRule" class="error-block"> (Incomplete Rule)</span>
                </div>
                <div ng-if="canCurate" class="col-sm-1 pull-right section-question-icon-div">
                    <i class="fa fa-times hand-cursor pull-right"
                       ng-click="removeQuestion(parent, $index)"
                       title="Remove question" id="remove_q_{{$index}}"></i>
                    <i class="fa fa-pencil hand-cursor pull-right" title="edit question"
                       id="edit_question_{{$index}}"
                       ng-click="question.edit = !question.edit;"></i>
                </div>
            </div>
        </div>
        <div ng-include="'/form/public/html/formQuestionTemplate.html'"></div>
    </div>
</div>