<div ng-controller="ClassificationCtrl">
    <h2 tabindex="0">
        Classification
        <button ng-disabled="elt.unsaved" class="btn btn-small btn-default" value="add"
                ng-click="openAddClassificationModal()" id="addClassification" ng-show="myOrgs.length>0">
            <i class="fa fa-plus"> </i> Classify this FORM</button>
        <button id="classifyAllCdes" ng-show="myOrgs.length > 0 && elt.formElements.length > 0"
                ng-click="openAddCdeClassificationModal()" class="btn btn-default">
            <span><i class="glyphicon glyphicon-indent-left"></i> Classify Cdes</span>
        </button>
    </h2>

    <div ng-include="'/system/public/html/classificationBody.html'">
    </div>

</div>
