<div class="panel panel-default question_view">
    <div class="panel-heading overflowHidden" ng-class="{'bg-warning': question.question.cde.outdated}"
         ng-click="question.updatedSkipLogic = false">
        <div ng-if="canCurate" class="ib left">
            <i class="fa fa-arrows question-move-handle"></i>
            <i ng-if="question.skipLogic.condition.length > 0" class="fa fa-cog updatedSkipLogicIcon"
               ng-class="{'fa-spin': question.updatedSkipLogic}"
               title="{{question.updatedSkipLogic?'Question has updated show if rule':'Question has show if rule'}}"></i>
        </div>
        <div ng-if="question.question.isScore" class="ib left">
            <strong>Score: </strong>
        </div>
        <div class="ib left questionLabel" title="{{question.label}}" style="margin-left: 5px">
            <span ng-if="question.hideLabel">
                <i class="fa fa-question-circle" uib-tooltip="This question has no label"></i>
                <s ng-bind="question.question.cde.name"></s>
            </span>
            <span ng-if="!question.hideLabel">{{question.label | placeHoldEmpty}}</span>
            <small ng-if="inScoreCdes.indexOf(question.question.cde.tinyId) > -1" class="text-info">
                (part of score)
            </small>
        </div>
        <div class="ib left">
            <span ng-if="question.incompleteRule" class="error-block"> (Incomplete Rule)</span>
        </div>
        <div ng-if="question.question.cde.outdated" class="ib left error-block"> (Outdated)
            <button class="btn btn-default btn-xs updateQuestionBtn"
                    ng-click="updateCdeVersion(question);">
                Update
            </button>
        </div>
        <div class="ib left">
            <a target="_blank" title="{{question.question.cde.name}}"
               href="/deview?tinyId={{question.question.cde.tinyId}}&version={{question.question.cde.version}}">
                <i class="fa fa-eye"></i> View CDE
            </a>
        </div>
        <div class="ib left">{{getDatatypeLabel(question)}}</div>
        <div ng-if="canCurate" class="ib pull-right editIconDiv">
            <i ng-if="!question.edit" class="fa fa-pencil hand-cursor" title="edit question"
               ng-click="question.edit = true"></i>
            <i ng-if="question.edit" class="fa fa-check hand-cursor" title="save edit question"
               ng-click="question.edit = false;"></i>
            <i class="fa fa-trash-o hand-cursor" ng-click="removeQuestion(parent, $index)" title="Remove question"></i>
        </div>
    </div>
    <div class="panel-body">
        <div ng-if="canCurate && question.edit"
             ng-include="'/form/public/html/formQuestionEdit.html'"></div>
        <div ng-if="!(canCurate && question.edit)">
            <div>
                <span ng-if="question.question.multiselect" class="label label-success formViewSummaryLabel">
                    Select Multiple
                </span>
                <span ng-if="question.question.datatypeText.minLength" class="label label-success formViewSummaryLabel">
                    At least: {{question.question.datatypeText.minLength}} characters
                </span>
                <span ng-if="question.question.datatypeText.maxLength" class="label label-success formViewSummaryLabel">
                    At most: {{question.question.datatypeText.maxLength}} characters
                </span>
                <span ng-if="question.question.datatypeNumber.minValue" class="label label-success formViewSummaryLabel">
                    At least: {{question.question.datatypeNumber.minValue}}
                </span>
                <span ng-if="question.question.datatypeNumber.maxValue" class="label label-success formViewSummaryLabel">
                    At most: {{question.question.datatypeNumber.maxValue}}
                </span>
                <span ng-if="question.question.datatypeDate.format" class="label label-success formViewSummaryLabel">
                    Format: {{question.question.datatypeDate.format}}
                </span>
                <span ng-if="getCardinalityLabel(question)" class="label label-primary formViewSummaryLabel">
                    Repeats: {{getCardinalityLabel(question)}} times
                </span>
                <span ng-if="isScore(question)" class="label label-primary formViewSummaryLabel">
                    Score: <span ng-bind="question.question.scoreFormula"></span>
                </span>
                <span ng-if="question.question.required" class="label label-danger formViewSummaryLabel">
                    Required
                </span>
                <span ng-if="question.question.invisible" class="label label-default formViewSummaryLabel" style="background-color: #666">
                    Invisible
                </span>
                <span ng-if="question.question.editable === false" class="label label-default formViewSummaryLabel" style="background-color: #666">
                    Disabled
                </span>
                <span ng-if="question.skipLogic && question.skipLogic.condition && question.skipLogic.condition.length > 0 && parent"
                      class="label label-warning formViewSummaryLabel">
                    Show if: {{question.skipLogic.condition}}
                </span>
            </div>
            <div ng-if="question.instructions.value" class="questionInstruction">
                <span class="formViewQuestionLabel">Instructions:</span>
                <span ng-if="question.instructions.valueFormat === 'html'"
                      ng-bind-html="question.instructions.value"></span>
                <span ng-if="question.instructions.valueFormat !== 'html'" ng-bind="question.instructions.value"></span>
            </div>
            <div class="answerList" ng-if="question.question.answers && question.question.answers.length > 0">
                <span class="formViewQuestionLabel">Answer Choices:</span>
                <span ng-repeat="pv in question.question.answers">
                    <span class="label label-default formViewSummaryLabel" style="background-color: #666">{{::pv.valueMeaningName}}</span>
                </span>
            </div>
            <div ng-if="question.question.defaultAnswer && question.question.defaultAnswer.length > 0" class="defaultAnswer">
                <span class="formViewQuestionLabel">Default Answer:</span>
                <span class="label label-default formViewSummaryLabel" style="background-color: #666">{{question.question.defaultAnswer}}</span>
            </div>
            <div ng-if="question.question.uoms.length > 0" class="questionUom">
                <span class="formViewQuestionLabel">Units of Measure:</span>
                <span ng-repeat="uom in question.question.uoms" class="label label-info formViewSummaryLabel">
                    {{::uom}}
                </span>
            </div>
        </div>
    </div>
</div>