<div uib-accordion close-others="false" id="accordionList">
    <div ui-sortable="dragSortableOptions" ng-model="forms">
        <div uib-accordion-group ng-repeat="elt in forms track by $index" is-open="elt.isOpen">
            <div uib-accordion-heading ng-controller="AccordionCtrl">
                <a href  class="nonLinkAnchor" ng-if="addMode">
                    <i class="fa fa-arrows question-move-handle"></i></a>
                <span ng-repeat="i in includeInQuickBoard" ng-include="i"></span>
                <a href  class="nonLinkAnchor">
                    <span ng-bind-html="elt.naming[0].designation" id="acc_link_{{$index}}" class="hand-cursor"></span></a>
                <a ng-href="/formView?tinyId={{elt.tinyId}}"  class="nonLinkAnchor"
                   ng-click="view(elt,$event)">
                    <i class="fa fa-eye hand-cursor" title="View Full Detail"
                       role="link" id="eyeLink_{{$index}}"></i></a>

                <a href  class="nonLinkAnchor" ng-if="quickBoard.canAddElt(elt)"
                   ng-click="interruptEvent($event); quickBoard.add(elt)">
                    <i class="fa fa-plus-square-o hand-cursor" title="Add to Quick Board" id="addToCompare_{{$index}}"
                       role="link"></i></a>

                <a href  class="nonLinkAnchor" ng-if="ejsPage=='quickboard'"
                   ng-click="interruptEvent($event);quickBoard.remove($index)">
                    <i class="glyphicon glyphicon-remove hand-cursor" title="remove" id="remove_{{$index}}"
                       role="link"></i></a>

                <small id="nQuestion-{{$index}}" class="pull-right">{{elt.numQuestions}} questions</small>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4 >General Details</h4>
                    <dl class="dl-horizontal">
                        <dt >Name:</dt>
                        <dd  id="dd_general_name" ng-bind-html="elt.naming[0].designation">
                        </dd>
                        <dt >Steward:</dt>
                        <dd  ng-bind-html="elt.stewardOrg.name"></dd>
                        <dt >Definition:</dt>
                        <dd  id="dd_def" ng-bind-html="elt.naming[0].definition | placeHoldEmpty"></dd>
                        <dt  ng-show="elt.classification.length > 0">Used By:</dt>
                        <dd  ng-show="elt.classification.length > 0" id="dd_usedBy">
                        <span ng-switch="elt.classification.length > 0">
                            <span ng-switch-when="false">None</span>
                            <span ng-switch-default>
                                <span ng-repeat="cl in elt.classification">{{cl.stewardOrg.name}} </span>
                            </span>
                        </span>
                        </dd>
                        <dt  id="dt_status">Status:</dt>
                        <dd  id="dd_status">{{elt.registrationState.registrationStatus}}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <img ng-repeat="attachment in elt.attachments | filter:{isDefault:true}"
                         alt="Image attached to the elt"
                         ng-src="/data/{{attachment.fileid}}" class='cdeAttachmentThumbnail'/>
                </div>
            </div>

            <div class="row">
                <a  ng-if="quickBoard.canAddElt(elt)" class="btn btn-small btn-default"
                   ng-click="quickBoard.add(elt)" id="compare_{{$index}}">
                    <i class="fa fa-plus"></i> Add to Quick Board</a>
                <a class='btn btn-small btn-default' id="openEltInCurrentTab_{{$index}}"
                   ng-href="/formView?tinyId={{elt.tinyId}}" title="Full Detail for {{elt.naming[0].designation}}"><i
                        class="fa fa-eye"></i> View Full Detail</a>
            </div>
        </div>
    </div>
</div>