<div class="row">
    <div class="col-xs-1"></div>
    <fieldset ng-if="!question.question.multiselect" class="col-xs-11">
        <div class="row">
            <div ng-repeat="pv in question.question.answers">
                <label class="col-sm-3 col-xs-12 radio-inline">
                    <input ng-model="question.question.answer" ng-required="question.question.required"
                           type="radio" ng-value="pv.valueMeaningName"/>
                    {{getLabel(pv)}}
                </label>
                <div class="clearfix" ng-if="$index%4==3"></div>
            </div>
        </div>
    </fieldset>
    <div ng-if="question.question.multiselect" class="col-xs-11">
        <div class="row">
            <div ng-repeat="pv in question.question.answers">
                <label class="col-sm-3 col-xs-12 checkbox-inline">
                    <input checklist-model="question.question.answer"
                           ng-required="question.question.required"
                           type="checkbox" checklist-value="pv.valueMeaningName"/>
                    {{getLabel(pv)}}
                </label>
                <div class="clearfix" ng-if="$index%4==3"></div>
            </div>
        </div>
    </div>
</div>