<div ng-controller="FormRenderCtrl">
    <div style="margin: 8px 0 20px;">
        <span class="form-inline">
            <span class="form-group">
                <label for="select_display_profile">
                    <a ng-click="setCurrentTab('displayProfiles');">Display Profile: </a></label>
                <select ng-model="selection.selectedProfile" ng-options="p.name for p in elt.displayProfiles"
                        ng-change="setNativeRenderType(selection.selectedProfile.displayType)"
                        id="select_display_profile" class="form-control mb3"></select>
            </span>
            <span>
                <label style="margin-top: 3px;">Printable Logic:
                    <input type="checkbox"  ng-model="nativeRenderType"
                           ng-true-value="::'Follow-up'" ng-false-value="::'Dynamic'" ng-change="setNativeRenderType(nativeRenderType)">
                </label>
            </span>

        </span>

        <span class="pull-right">
            <span style="margin-right: -10px">New Tab: </span>
            <button class="btn btn-default" id="button_print_follow"
                    data-url="/form/public/html/nativeRenderStandalone.html?tinyId={{::elt.tinyId}}"
                    onclick="window.open(this.getAttribute('data-url'),'_blank')">Printable</button>
            <button class="btn btn-default" id="button_lforms"
                    data-url="/form/public/html/lformsRender.html?tinyId={{::elt.tinyId}}"
                    onclick="window.open(this.getAttribute('data-url'),'_blank')">LHC-Forms</button>
            <button class="btn btn-default" id="button_sdc"
                    data-url="/form/{{::elt.tinyId}}?type=xml&subtype=sdc&renderer=defaultHtml"
                    onclick="window.open(this.getAttribute('data-url'),'_blank')">SDC</button>
        </span>
        <div class="clearfix"></div>
        <div>
            <div class="pull-right">(Provided by
                <a href="https://lhncbc.nlm.nih.gov/project/lforms" target="_blank">LHNCBC</a> and
                <a href="http://wiki.siframework.org/Structured+Data+Capture+Initiative" target="_blank">ONC</a>)</div>
        </div>

    </div>

    <div ng-if="elt.unsaved" class="mt10 alert alert-warning">
        <span class="fa fa-warning" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        Save form to update rendering</div>

    <h2>{{::elt.naming[0].designation}}</h2>

    <form name="sectionLabel" role="form" class="form-horizontal">
        <div ng-if="nativeRenderType === SHOW_IF && nativeFormService.evaluateSkipLogic(skipLogicError, formElement.skipLogic.condition, null, formElement, getElt())"
             native-section form-element="formElement" profile="selection.selectedProfile" elt="getElt()" error="skipLogicError"></div>
        <div ng-if="nativeRenderType === FOLLOW_UP"
             native-section form-element="formElement" profile="selection.selectedProfile" elt="getElt()" error="skipLogicError"></div>
    </form>

    <uib-alert type="danger" ng-if="skipLogicError.msg.length > 0">
        <span ng-bind="skipLogicError.msg"></span>
    </uib-alert>
</div>
