<div class="row">
    <div class="col-xs-1"></div>
    <fieldset ng-if="!question.question.multiselect">
        <div ng-repeat="pv in question.question.answers">
            <label ng-class="[{'col-sm-3': is1column(pv)}, {'col-sm-6': is2column(pv)}, 'col-xs-12', 'radio-inline']">
                <input ng-model="question.question.answer" ng-required="question.question.required"
                       type="radio" ng-value="pv.valueMeaningName"/>
                {{getLabel(pv)}}
            </label>
        </div>
    </fieldset>
    <div ng-if="question.question.multiselect" class="col-xs-11">
        <div class="row">
            <div ng-repeat="pv in question.question.answers">
                <label ng-class="[{'col-sm-3': is1column(pv) }, {'col-sm-6': is2column(pv)}, 'col-xs-12', 'checkbox-inline']">
                    <input checklist-model="question.question.answer"
                           ng-required="question.question.required"
                           type="checkbox" checklist-value="pv.valueMeaningName"/>
                    {{getLabel(pv)}}
                </label>
            </div>
        </div>
    </div>
</div>