<fieldset ng-if="!formElement.question.multiselect">
    <div class="row">
        <div ng-repeat="pv in answerlist" ng-class="[{'col-sm-3': !pv.subQuestions}, 'col-xs-12']">
            <label ng-class="{'native-question-oneline-l': isOneLiner(pv.subQuestions[0],pv.subQuestions.length)}"
                   class="radio-inline">
                <input ng-model="formElement.question.answer"
                       ng-required="formElement.question.required"
                       type="radio"
		       ng-disabled="!formElement.question.editable"
                       ng-value="pv.permissibleValue"/>{{getLabel(pv)}}</label>
            <div ng-if="pv.subQuestions"
                 ng-repeat="formElement in pv.subQuestions"
                 ng-include="'/form/public/html/formRenderQuestion.html'"
                 ng-init="numSubQuestions = pv.subQuestions.length"
                 ng-class="{'native-question-oneline-r': isOneLiner(pv.subQuestions[0],pv.subQuestions.length)}"></div>
            <div class="clearfix" ng-if="$index%4==3"></div>
        </div>
    </div>
</fieldset>
<div ng-if="formElement.question.multiselect">
    <div class="row">
        <div ng-repeat="pv in formElement.question.answers" ng-class="[{'col-sm-3': !pv.subQuestions}, 'col-xs-12']">
            <label ng-class="{'native-question-oneline-l': isOneLiner(pv.subQuestions[0],pv.subQuestions.length)}"
                   class="checkbox-inline">
                <input checklist-model="formElement.question.answer"
                       ng-required="formElement.question.required"
                       type="checkbox"
		       ng-disabled="!formElement.question.editable"
                       checklist-value="pv.permissibleValue"/>{{getLabel(pv)}}</label>
            <div ng-if="pv.subQuestions"
                 ng-repeat="formElement in pv.subQuestions"
                 ng-include="'/form/public/html/formRenderQuestion.html'"
                 ng-init="numSubQuestions = pv.subQuestions.length"
                 ng-class="{'native-question-oneline-r': isOneLiner(pv.subQuestions[0],pv.subQuestions.length)}"></div>
            <div class="clearfix" ng-if="$index%4==3"></div>
        </div>
    </div>
</div>
