<button id="addSectionTop" ng-click="addSectionTop()" class="btn btn-default" ng-show="canCurate">
    <i class="fa fa-plus"></i> Add Section
</button>
<button id="startAddingQuestions" ng-show="canCurate && elt.formElements.length > 0"
        ng-click="setToAddCdeMode()" class="btn btn-default hidden-xs hidden-sm">
    <span ng-hide="addMode==='cde'"><i class="glyphicon glyphicon-indent-right"></i> Show Question Search Area</span>
    <span ng-show="addMode==='cde'"><i class="glyphicon glyphicon-indent-left"></i> Hide Question Search Area</span>
</button>
<button id="startAddingForms" ng-show="canCurate && elt.formElements.length > 0"
        ng-click="setToAddFormMode()" class="btn btn-default hidden-xs hidden-sm">
    <span ng-hide="addMode==='form'"><i class="glyphicon glyphicon-indent-right"></i> Show Form Search Area</span>
    <span ng-show="addMode==='form'"><i class="glyphicon glyphicon-indent-left"></i> Hide Form Search Area</span>
</button>
<div ng-show="canCurate"><br/>
    <div ng-if="elt.formElements.length > 0" class="visible-xs visible-sm">
        <div class="alert alert-danger" role="alert">To add questions to this form, enlarge your browser window or use a
            larger device.
        </div>
    </div>
</div>
<div ng-show="elt.formElements.length === 0">
    <i class="fa fa-exclamation-triangle"></i>
    <span ng-switch="elt.noRenderAllowed">
        <span ng-switch-when="true">
            Rendering is disabled for this form.
        </span>
        <span ng-switch-default>
            There is no content yet.
        </span>
    </span>
</div>
<div ui-sortable="sortableOptionsSections" ng-model="elt.formElements" class="dragSections" id="sectionsDiv">
    <div infinite-scroll="raiseLimit(elt.formElements)" infinite-scroll-distance="0">
        <div ng-repeat="(formElementIndex, formElement) in elt.formElements | limitTo: nbOfEltsLimit">
            <div ng-if="formElement.elementType === 'question'" id=question_{{formElementIndex}}"
                 ng-include="'/form/public/html/formViewQuestion.html'"
                 ng-init="question = formElement; parent = elt; preId = formElementIndex"></div>
            <div ng-if="formElement.elementType === 'section'" id="section_{{formElementIndex}}"
                 ng-include="'/form/public/html/formViewSection.html'"
                 ng-init="parent = elt; section = formElement; preId = formElementIndex">
            </div>
            <div ng-if="formElement.elementType === 'form'" id="form_{{formElementIndex}}"
                 ng-include="'/form/public/html/formViewForm.html'"
                 ng-init="parent = elt; section = formElement; preId = formElementIndex">
            </div>
        </div>
    </div>
    <div ng-if="elt.formElements.length > nbOfEltsLimit" id="scrollMore" class="mb5">
        <i class="fa fa-2x">Scroll down to see more ...</i>
    </div>
</div>

</div>
<button id="addSectionBottom" ng-click="addSectionBottom()" class="btn btn-default" ng-show="canCurate">
    <i class="fa fa-plus"></i> Add Section
</button>

