<div class="modal-header">
    <h3 tabindex="0">Select a question label from a CDE Name</h3>
</div>

<div class="modal-body">
    <div ng-repeat="naming in cde.naming" class="row" id="q_select_name_{{$index}}">
        <div class="col-md-3">
            <button class="btn btn-default" ng-click="okSelect(naming)"><i class="fa fa-check"></i> Select</button>
        </div>
        <div class="col-md-9">
            <dl class="dl-horizontal">
                <dt tabindex="0">Name:</dt>
                <dd tabindex="0">{{naming.designation}}</dd>
                <dt tabindex="0">Definition:</dt>
                <dd tabindex="0">{{naming.definition | placeholdEmpty}}</dd>
                <dt tabindex="0">Context:</dt>
                <dd tabindex="0">{{naming.context.contextName}}</dd>
            </dl>
        </div>
        <hr/>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancelCreate()" id="cancelSelect">Cancel</button>
</div>
