<div class="modal-header">
    <h3 tabindex="0">Select a question label from a CDE Name</h3>
</div>

<div class="modal-body">
    <div ng-if="cde === null"><i class="fa fa-spinner fa-pulse"></i> Loading...</div>
    <div ng-if="cde === 'error'">There is an issue retrieving this Data Element.</div>
    <div ng-repeat="naming in cde.naming" class="row" id="q_select_name_{{$index}}">
        <div class="col-md-3">
            <button class="btn btn-default" ng-click="okSelect(naming)"><i class="fa fa-check"></i> Select</button>
        </div>
        <div class="col-md-9">
            <dl class="dl-horizontal">
                <dt tabindex="0">Name:</dt>
                <dd tabindex="0">{{naming.designation}}</dd>
                <dt tabindex="0">Definition:</dt>
                <dd tabindex="0">{{naming.definition | placeHoldEmpty}}</dd>
                <dt tabindex="0">Context:</dt>
                <dd tabindex="0">{{naming.context.contextName}}</dd>
            </dl>
        </div>
        <hr/>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" ng-click="okSelect()"><i class="fa fa-stop"></i> No Label</button>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()" id="cancelSelect">Cancel</button>
</div>
