<ng-container *ngFor="let option of options;">
    <ng-container *ngIf="option.result.length">
        <div class="row" id="{{option.label}}">
            <strong>{{option.label}}:</strong>
            <ng-container *ngFor="let r of option.result;let i = index">
                <div class="col-12" id="{{option.label}}_{{i}}">
                    <div class="arrayObj arrayObjAdd" *ngIf="r.add">
                        <div *ngFor="let d of option.data" class="{{d.property}}">
                            <strong>{{d.label}}:</strong>
                            <span>{{r.currentElt[d.property]}}</span>
                        </div>
                    </div>
                    <div class="arrayObj arrayObjRemove" *ngIf="r.remove">
                        <div *ngFor="let d of option.data" class="{{d.property}}">
                            <strong>{{d.label}}:</strong>
                            <span>{{r.priorElt[d.property]}}</span>
                        </div>
                    </div>
                    <div class="arrayObj arrayObjEdit" *ngIf="r.edit">
                        <div *ngFor="let d of option.data" class="{{d.property}}">
                            <ng-container *ngIf="r.diff.indexOf(d.property) !== -1">
                                <strong>{{d.label}}:</strong>
                                <td-ngx-text-diff [showToolbar]='false'  [showBtnToolbar]='false' [left]="_get(r.priorElt,d.property)"
                                                  [right]="_get(r.currentElt,d.property)"
                                                  [format]="'LineByLine'"></td-ngx-text-diff>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>
