<ng-container *ngFor="let option of options;">
    <div class="row" id="{{option.label}}">
        <strong>{{option.label}}:</strong>
        <ng-container *ngFor="let r of option.result;let i = index">
            <div class="col-12" id="{{option.label}}_{{i}}">
                <div class="arrayObj arrayObjAdd" *ngIf="r.add">
                    <div *ngFor="let d of option.data" class="{{d.label}}">
                        <div *ngIf="r.data[d.property]">
                            <strong>{{d.label}}:</strong>
                            <a *ngIf="d.url" target="_blank" [href]=d.url+r.data[d.property]>
                                {{r.data[d.property]}}</a>
                            <span>{{r.data[d.property] | json}}</span>
                        </div>
                    </div>
                </div>
                <div class="arrayObj arrayObjRemove" *ngIf="r.remove">
                    <div *ngFor="let d of option.data" class="{{d.label}}">
                        <div *ngIf="r.data[d.property]">
                            <strong>{{d.label}}:</strong>
                            <a *ngIf="d.url" target="_blank" [href]=d.url+r.data[d.property]>
                                {{r.data[d.property]}}</a>
                            <span>{{r.data[d.property] | json}}</span>
                        </div>
                    </div>
                </div>
                <div class="arrayObj arrayObjEdit" *ngIf="r.edit">
                    <div *ngFor="let d of option.data" class="{{d.label}}">
                        <div *ngIf="r.data[d.property]">
                            <strong>{{d.label}}:</strong>
                            <pre lineDiff [left]="r.current[d.property]" [right]="r.prior.older"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>