<ng-template #compareContent let-c="close" let-d="dismiss" class="hugeModal">
    <div class="modal-header">
        <div class="col-3">
            <span class="d-inline-block color-box" id="reorderIcon"></span>
            <strong class="d-inline-block">&nbsp;Reorder&nbsp;</strong>
            <input class="d-inline-block align-middle" type="checkbox" [(ngModel)]="filter.reorder.select">
        </div>
        <div class="col-3">
            <div class="d-inline-block color-box" id="addIcon"></div>
            <strong class="d-inline-block">&nbsp;Add&nbsp;</strong>
            <input class="d-inline-block align-middle" type="checkbox" [(ngModel)]="filter.add.select">
        </div>
        <div class="col-3">
            <div class="d-inline-block color-box" id="removeIcon"></div>
            <strong class="d-inline-block">&nbsp;Remove&nbsp;</strong>
            <input class="d-inline-block align-middle" type="checkbox" [(ngModel)]="filter.remove.select">
        </div>
        <div class="col-3">
            <div class="d-inline-block color-box" id="editIcon"></div>
            <strong class="d-inline-block">&nbsp;Edit&nbsp;</strong>
            <input class="d-inline-block align-middle" type="checkbox" [(ngModel)]="filter.edited.select">
        </div>
    </div>
    <div class="modal-body" *ngIf="newer && older">
        <cde-compare-object [newer]="newer" [older]="older"></cde-compare-object>
        <cde-compare-array [newer]="newer" [older]="older"
                           [(filter)]="filter"></cde-compare-array>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-dark" id="closeHistoryCompareModal" (click)="c('Close click')" type="button">
            Close
        </button>
    </div>
</ng-template>
