<div mat-dialog-title>
    <div class="col-3">
        <span class="d-inline-block color-box" id="reorderIcon"></span>
        <strong class="d-inline-block">&nbsp;Reorder&nbsp;</strong>
        <input class="d-inline-block align-middle" type="checkbox" [(ngModel)]="filter.reorder.select">
    </div>
    <div class="col-3">
        <div class="d-inline-block color-box" id="addIcon"></div>
        <strong class="d-inline-block">&nbsp;Add&nbsp;</strong>
        <input class="d-inline-block align-middle" type="checkbox" [(ngModel)]="filter.add.select">
    </div>
    <div class="col-3">
        <div class="d-inline-block color-box" id="removeIcon"></div>
        <strong class="d-inline-block">&nbsp;Remove&nbsp;</strong>
        <input class="d-inline-block align-middle" type="checkbox" [(ngModel)]="filter.remove.select">
    </div>
    <div class="col-3">
        <div class="d-inline-block color-box" id="editIcon"></div>
        <strong class="d-inline-block">&nbsp;Edit&nbsp;</strong>
        <input class="d-inline-block align-middle" type="checkbox" [(ngModel)]="filter.edited.select">
    </div>
</div>
<div mat-dialog-content *ngIf="newer && older">
    <cde-compare-item [newer]="newer" [older]="older" [filter]="filter"></cde-compare-item>
    <cde-compare-item-array [newer]="newer" [older]="older" [filter]="filter"></cde-compare-item-array>
</div>
<div mat-dialog-actions>
    <button mat-raised-button id="closeHistoryCompareModal" [mat-dialog-close]>Close
    </button>
</div>
