<h1 mat-dialog-title>CDE Table View Fields</h1>
<mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="1:2">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-list>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" [disabled]="true" id="name" name="name"
                                  [(ngModel)]="searchSettings.tableViewFields.name">
                        Name
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="naming" name="naming"
                                  [(ngModel)]="searchSettings.tableViewFields.naming">
                        Other Names
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="usedBy" name="usedBy"
                                  [(ngModel)]="searchSettings.tableViewFields.usedBy">
                        Used By
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="updated" name="updated"
                                  [(ngModel)]="searchSettings.tableViewFields.updated">
                        Updated
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="permissibleValues" name="permissibleValues"
                                  [(ngModel)]="searchSettings.tableViewFields.permissibleValues">
                        Permissible Values
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="nbOfPVs" name="nbOfPVs"
                                  [(ngModel)]="searchSettings.tableViewFields.nbOfPVs">
                        Number of Permissible Values
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="uom" name="uom"
                                  [(ngModel)]="searchSettings.tableViewFields.uom">
                        Unit of Measure
                    </mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-list>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="source" name="source"
                                  [(ngModel)]="searchSettings.tableViewFields.source">
                        Source
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="tinyId" name="tinyId"
                                  [(ngModel)]="searchSettings.tableViewFields.tinyId">
                        NLM ID
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="stewardOrg" name="stewardOrg"
                                  [(ngModel)]="searchSettings.tableViewFields.stewardOrg">
                        Steward
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="linkedForms" name="linkedForms"
                                  [(ngModel)]="searchSettings.tableViewFields.linkedForms">
                        Linked Forms
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="registrationStatus" name="registrationStatus"
                                  [(ngModel)]="searchSettings.tableViewFields.registrationStatus">
                        Registration Status
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="administrativeStatus" name="administrativeStatus"
                                  [(ngModel)]="searchSettings.tableViewFields.administrativeStatus">
                        Admin Status
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="questionTexts" name="questionTexts"
                                  [(ngModel)]="searchSettings.tableViewFields.questionTexts">
                        Question Texts
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox (change)="changed.emit()" id="ids" name="ids"
                                  [(ngModel)]="searchSettings.tableViewFields.ids">
                        Identifiers
                    </mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>
    </mat-grid-list>
    <cde-tag id="identifiers" name="identifiers" [tags]="searchSettings.tableViewFields.identifiers"
             [allTags]="identifierSources" [placeHolder]="placeHolder" [canEdit]="searchSettings.tableViewFields.ids"
             (changed)="changed.emit()"></cde-tag>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="button fail" (click)="loadDefault()" id="loadDefaultTableViewSettingsBtn">Load Default</button>
    <button class="button light secondary" (click)="closed.emit()" id="closeTableViewSettingsBtn">Close</button>
</mat-dialog-actions>
