<h1 mat-dialog-title>Form Table View Fields</h1>
<mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="1:2">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-list>
                <mat-list-item role="listitem">
                    <mat-checkbox [disabled]="true" id="name" name="name" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.name">
                        Name
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox id="naming" name="naming" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.naming">
                        Other Names
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox id="usedBy" name="usedBy" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.usedBy">
                        Used by
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox id="updated" name="updated" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.updated">
                        Updated
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox id="source" name="source" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.source">
                        Source
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox id="tinyId" name="tinyId" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.tinyId">
                        NLM ID
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox id="stewardOrg" name="stewardOrg" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.stewardOrg">
                        Steward
                    </mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-list>
                <mat-list-item role="listitem">
                    <mat-checkbox id="registrationStatus" name="registrationStatus" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.registrationStatus">
                        Registration Status
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox id="administrativeStatus" name="administrativeStatus" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.administrativeStatus">
                        Admin Status
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox id="numQuestions" name="numQuestions" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.numQuestions">
                        Number of Questions
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-checkbox id="ids" name="ids" (change)="changed.emit();"
                                  [(ngModel)]="searchSettings.tableViewFields.ids">
                        Identifiers
                    </mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>
    </mat-grid-list>
    <cde-tag id="identifiers" name="identifiers" [tags]="searchSettings.tableViewFields.identifiers"
             [allTags]="identifierSources" [placeHolder]="placeHolder" [canEdit]="searchSettings.tableViewFields.ids"
             (changed)="changed.emit();"></cde-tag>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="button fail" (click)="loadDefault()" id="loadDefaultTableViewSettingsBtn">Load Default</button>
    <button class="button light secondary" (click)="closed.emit();" id="closeTableViewSettingsBtn">Close</button>
</mat-dialog-actions>
