<mat-tab-group [selectedIndex]="selectedTab.value">
    <mat-tab label="Logs" *ngIf="isAdmin">
        <cde-log-audit></cde-log-audit>
    </mat-tab>

    <mat-tab label="App Logs" *ngIf="isAdmin">
        <cde-app-log></cde-app-log>
    </mat-tab>

    <mat-tab label="Usage" *ngIf="isAdmin">
        <cde-daily-usage></cde-daily-usage>
    </mat-tab>

    <mat-tab label="CDE Audit Log" id="cdeAuditLog">
        <cde-audit-log></cde-audit-log>
    </mat-tab>

    <mat-tab label="Classification Audit Log">
        <cde-classification-audit-log></cde-classification-audit-log>
    </mat-tab>

    <mat-tab label="Active Bans" *ngIf="isAdmin">
        <cde-active-bans></cde-active-bans>
    </mat-tab>

    <mat-tab label="Reported Issues">
        <cde-feedback-issues></cde-feedback-issues>
    </mat-tab>

    <mat-tab label="Server Errors" *ngIf="isAdmin" #serverErrorTab>
        <cde-server-errors></cde-server-errors>
    </mat-tab>

    <mat-tab label="Client Errors" *ngIf="isAdmin" #clientErrorTab>
        <cde-client-errors></cde-client-errors>
    </mat-tab>

</mat-tab-group>
