<div *ngFor="let comment of comments; let i = index" class="mb-5" style=" width: 240px; ">
    <div class="commentDiv" [ngClass]="{currentTabComment:comment.currentComment}"
         style="background-color: white;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);">
        <ng-container *ngIf="comment.currentComment">
            <div class="outer-arrow"></div>
            <div class="inner-arrow"></div>
        </ng-container>
        <div class="comment p-2 border">
            <div class="commentHeader">
                <img class="float-left" src="/cde/public/assets/img/min/portrait.png" width="32" height="32"
                     alt="portrait"/>
                <div class=" float-left mx-2" style="width:120px;">
                    <div style="font-size:13px;">{{comment.username}}</div>
                    <div style="font-size:11px;">{{comment.created | date: 'MM/dd/yyyy @ h:mma'}}</div>
                </div>
                <div class="float-left">
                    <i class="fa fa-trash-o hand-cursor" id="removeComment-{{i}}" title="RemoveComment"
                       *ngIf="canRemoveComment(comment);" (click)="removeComment(comment._id)" data-type="remove"></i>
                    <i class="fa fa-check-circle-o hand-cursor ml-1" id="resolveComment-{{i}}" title="ResolveComment"
                       *ngIf="canResolveComment(comment);" (click)="resolveComment(comment._id)"></i>
                    <i class="fa fa-undo hand-cursor ml-1" id="reopenComment-{{i}}" title="ReopenComment"
                       *ngIf="canReopenComment(comment);" (click)="reopenComment(comment._id)"></i>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="commentBody">
                <div style="word-wrap: break-word;">
                    <s *ngIf="comment.status === 'resolved'">{{comment.text}}</s>
                    <ng-container *ngIf="comment.status !=='resolved'">{{comment.text}}</ng-container>
                </div>
            </div>
        </div>
        <div *ngFor="let reply of comment.replies; let j = index" class="replyDiv p-2 border"
             style="background-color: rgb(245, 245, 245);">
            <div class="replyHeader">
                <img class="float-left" src="/cde/public/assets/img/min/portrait.png" width="32" height="32"
                     alt="portrait"/>
                <div class=" float-left mx-2" style="width:120px;">
                    <div style="font-size:13px;">{{comment.username}}</div>
                    <div style="font-size:11px;">{{comment.created | date: 'MM/dd/yyyy @ h:mma'}}</div>
                </div>
                <div class="float-left">
                    <i class="fa fa-trash-o hand-cursor" id="removeReply-{{i}}_{{j}}" title="RemoveReply"
                       *ngIf="canRemoveComment(reply);" (click)="removeReply(reply._id)" data-type="remove"></i>
                    <i class="fa fa-check-circle-o hand-cursor ml-1" id="resolveReply-{{i}}_{{j}}" title="ResolveReply"
                       *ngIf="canResolveComment(reply);" (click)="resolveReply(reply._id)"></i>
                    <i class="fa fa-undo hand-cursor ml-1" id="reopenReply-{{i}}_{{j}}" title="ReopenReply"
                       *ngIf="canReopenComment(reply);" (click)="reopenReply(reply._id)"></i>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="replyBody">
                <s *ngIf="reply.status === 'resolved'">{{reply.text}}</s>
                <ng-container *ngIf="reply.status !=='resolved'">{{reply.text}}</ng-container>
            </div>
        </div>
        <div class="newReply p-2 border" style="background-color: rgb(245, 245, 245);">
            <div class="newReplyInfo" *ngIf="comment.currentlyReplying">Someone is typing</div>
            <form #newReplyForm="ngForm" name="newReplyForm" id="newReplyForm" novalidate
                  (ngSubmit)="replyToComment(comment);">
                <input [(ngModel)]="comment.newReply.text" (ngModelChange)="changeOnReply(comment)" class="form-control"
                       id="newReplyTextArea" name="newReplyTextArea" placeholder="Reply to this comment" required/>
                <ng-container *ngIf="comment.newReply.text">
                    <button class="btn btn-outline-dark" id="postNewReply" name="postNewReply" type="submit"
                            [disabled]="!newReplyForm.form.valid">Reply
                    </button>
                    <button class="btn btn-outline-dark" (click)="cancelReply(comment);">Cancel</button>
                </ng-container>
            </form>
        </div>
    </div>
</div>
