<cde-summary-heading [elt]="elt" [eltIndex]="eltIndex" urlPrefix="/formView" class="summaryHeading">
    <span class="summary-list-before">
        <input id="elt_compare_{{eltIndex}}" type="checkbox" title="Select Elt" class="checkbox" style="margin-right: .5rem"
               [(ngModel)]="elt.checked"/>
        <cde-list-sort [elt]="elt" [eltIndex]="eltIndex"
                       [currentPage]="boardListService.currentPage"
                       [totalItems]="boardListService.totalItems"></cde-list-sort>
    </span>
    <span class="summary-list-after">
        <cde-unpin-board [elt]="elt" [eltIndex]="eltIndex"></cde-unpin-board>
    </span>
</cde-summary-heading>
<div class="row">
    <div class="col-lg-6">
        <b>{{elt.numQuestions}} Questions</b> - <span [innerHtml]="elt.primaryDefinitionCopy"></span>
        <dl class="cde-property">
            <dt>Steward:</dt>
            <dd [innerHtml]="elt.stewardOrg.name"></dd>
            <dt [hidden]="!(elt.classification?.length > 0)">Used By:</dt>
            <dd [hidden]="!(elt.classification?.length > 0)" id="usedBy_{{eltIndex}}">
                <span *ngIf="!(elt.classification?.length > 0)">None</span>
                <span *ngIf="elt.classification?.length > 0">{{getStewards()}}</span>
            </dd>
        </dl>
    </div>
    <div class="col-lg-2">
        <img *ngFor="let attachment of elt.attachments.filter(defaultAttachmentsFilter)"
             alt="Image attached to the elt"
             src="/server/system/data/{{attachment.fileid}}" class='cdeAttachmentThumbnail'/>
    </div>
</div>
