<div *ngIf="elts" id="accordionList">
    <div class="card" *ngFor="let elt of elts; trackBy: Elt.trackByElt; let i = index">
        <div class="card-header">
            <button class="button success" (click)="add.emit(elt);">
                <mat-icon>add</mat-icon>
                Add
            </button>
            <span class="fake-button" role="button" tabindex="0"
                  (click)="elt.isCollapsed = !elt.isCollapsed"> {{elt.designations[0].designation}} </span>
            <a href="/formView?tinyId={{elt.tinyId}}" target="_blank" id="acc_link_{{i}}">
                <mat-icon>visibility</mat-icon>
            </a>
            <mat-icon class="fake-link" svgIcon="thumb_tack" pinToBoard [eltsToPin]="[elt]"
                      [module]="module"></mat-icon>
            <small id="nQuestion-{{i}}" class="pull-right">{{elt.numQuestions}} questions</small>

        </div>
        <div class="card-body" [ngbCollapse]="!elt.isCollapsed">
            <div style="display: flex; flex-flow: row wrap">
                <div style="flex: 0 0 50%;">
                    <h4>General Details</h4>
                    <dl class="cde-property">
                        <dt itemprop="name">Name:</dt>
                        <dd [innerHtml]="elt.designations[0].designation"></dd>
                        <dt>Steward:</dt>
                        <dd [innerHtml]="elt.stewardOrg.name"></dd>
                        <dt>Definition:</dt>
                        <dd [innerHtml]="elt.definitions[0]?.definition || 'N/A'"></dd>
                        <ng-container *ngIf="elt.classification.length > 0">
                            <dt>Used By:</dt>
                            <dd id="usedBy_{{eltIndex}}">
                                <span *ngFor="let cl of elt.classification">{{cl.stewardOrg.name}}</span>
                            </dd>
                        </ng-container>
                        <dt id="dt_status">Status:</dt>
                        <dd id="dd_status">{{elt.registrationState.registrationStatus}}</dd>
                    </dl>
                </div>
                <div style="flex: 0 0 16.67%;">
                    <img *ngFor="let attachment of elt.attachments.filter(Elt.isDefault)"
                         alt="Image attached to the elt" src="/server/system/data/{{attachment.fileid}}"
                         class='cdeAttachmentThumbnail'/>
                </div>
            </div>
        </div>
    </div>
</div>
