<fieldset class="cdeFieldset" id="registrationStateDiv">
    <legend (click)="canEdit && openRegStatusUpdate()" [style.cursor]="canEdit ? 'pointer' : 'auto'">Registration State:
        <button title="Edit Status" role="link" *ngIf="canEdit" mat-raised-button color="primary">
            <mat-icon>edit</mat-icon> Edit
        </button>
    </legend>
    <dl class="cde-property">
        <ng-container *ngIf="elt.registrationState.effectiveDate">
            <dt>Effective Date:</dt>
            <dd>{{elt.registrationState.effectiveDate | date:'MM/dd/yyyy':'z'}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.untilDate">
            <dt>Until Date:</dt>
            <dd>{{elt.registrationState.untilDate | date:'MM/dd/yyyy':'z'}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.administrativeNote">
            <dt>Administrative Note:</dt>
            <dd>{{elt.registrationState.administrativeNote}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.unresolvedIssue">
            <dt>Unresolved Issue:</dt>
            <dd>{{elt.registrationState.unresolvedIssue}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.registrationStatus">
            <dt>Registration Status:</dt>
            <dd itemprop="registrationStatus">{{elt.registrationState.registrationStatus}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.administrativeStatus">
            <dt>Administrative Status:</dt>
            <dd>{{elt.registrationState.administrativeStatus}}</dd>
        </ng-container>
    </dl>
</fieldset>

<ng-template #regStatusEdit>
    <h4 mat-dialog-title>Update Registration Status</h4>
    <form #regForm="ngForm">
        <div mat-dialog-content>
            <div class="modal-body" id="regStatusModalBody">
                <div class="alert-warning">{{helpMessage}}</div>
                <label class="form-group d-block">
                    Registration Status
                    <select class="form-control" name="newRegistrationStatus"
                            [(ngModel)]="newState.registrationStatus" (ngModelChange)="setHelpMessage($event)">
                        <option *ngFor="let s of validRegStatuses" value="{{s}}">{{s}}</option>
                    </select>
                </label>
                <label class="form-group d-block">
                    Effective Date
                    <input type="date" class="form-control" name="newEffectiveDate" [(ngModel)]="newState.effectiveDate">
                </label>
                <label class="form-group d-block">
                    Until Date
                    <input type="date" class="form-control" name="newUntilDate" [(ngModel)]="newState.untilDate">
                </label>
                <label class="form-group d-block">
                    Administrative Status
                    <input type="text" class="form-control" name="newAdministrativeStatus" placeholder="Optional Administrative Status"
                           [(ngModel)]="newState.administrativeStatus"/>
                </label>
                <label class="form-group d-block">
                    Administrative Note
                    <textarea class="form-control" name="newAdministrativeNote" placeholder="Optional Administrative Note"
                              [(ngModel)]="newState.administrativeNote"></textarea>
                </label>
                <label class="form-group d-block">
                    Unresolved Issue
                    <textarea class="form-control" name="newUnresolvedIssue" placeholder="Optional Unresolved Issue Note"
                              [(ngModel)]="newState.unresolvedIssue"></textarea>
                </label>
            </div>
            <div mat-dialog-actions>
                <button [mat-dialog-close] id="cancelRegStatus" type="button" mat-raised-button color="accent">Cancel</button>
                <button type="submit" [disabled]="!regForm.form.valid" id="saveRegStatus" [mat-dialog-close]="true"
                    mat-raised-button color="primary">Save</button>
            </div>
        </div>
    </form>
</ng-template>
