<fieldset id="registrationStateDiv">
    <h3 (click)="canEdit && openRegStatusUpdate()"
        [style.cursor]="canEdit ? 'pointer' : 'auto'"
        class="cdeRegStatusTitle">Status
        <button *ngIf="canEdit" class="button light" title="Edit Status" data-testid="edit-registration-status-button">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
    </h3>
    <dl class="inline-dl">
        <ng-container *ngIf="elt.registrationState.effectiveDate">
            <dt>Effective Date:</dt>
            <dd>{{elt.registrationState.effectiveDate | date:'MM/dd/yyyy':'z'}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.untilDate">
            <dt>Until Date:</dt>
            <dd>{{elt.registrationState.untilDate | date:'MM/dd/yyyy':'z'}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.administrativeNote">
            <dt>Administrative Note:</dt>
            <dd>{{elt.registrationState.administrativeNote}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.unresolvedIssue">
            <dt>Unresolved Issue:</dt>
            <dd>{{elt.registrationState.unresolvedIssue}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.registrationStatus">
            <dt>Registration Status:</dt>
            <dd data-testid="registration-status" itemprop="registrationStatus">{{elt.registrationState.registrationStatus}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.registrationState.administrativeStatus">
            <dt>Administrative Status:</dt>
            <dd itemprop="administrativeStatus">{{elt.registrationState.administrativeStatus}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.created">
            <dt>Publish Date:</dt>
            <dd>{{elt.created | date: 'MM/dd/yyyy'}}</dd>
        </ng-container>
        <ng-container *ngIf="getViews()">
            <dt>Views:</dt>
            <dd>{{getViews()}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.imported && userService.isOrgAuthority()">
            <dt>Last import:</dt>
            <dd>{{elt.imported | date: 'MM/dd/yyyy'}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.createdBy && userService.isOrgAuthority()">
            <dt>Created By:</dt>
            <dd>{{elt.createdBy.username}}</dd>
        </ng-container>
        <ng-container *ngIf="elt.updatedBy && userService.isOrgAuthority()">
            <dt>Updated By:</dt>
            <dd>{{elt.updatedBy.username}}</dd>
        </ng-container>
    </dl>
</fieldset>
