<div class="quickBoardArraySeparate quickBoardContentCompareArray" ng-repeat="r in result"
     ng-class="{quickBoardContentCompareModifiedArray:r.found==='right' || r.found=== 'left', quickBoardContentCompareSameArray:r.found==='both'}">
    <div class="overflowHidden" ng-repeat="p in r.result">
        <div class="col-xs-6 quickBoardContentCompareCol leftObj" data-title="{{p.label}}" ng-display-object
             ng-display-object-obj="left[r.leftIndex]" ng-display-object-properties="p"
             ng-display-object-show-warning-icon="r.found ==='both' && r.notMatch"></div>
        <div class="col-xs-6 quickBoardContentCompareCol rightObj" data-title="{{p.label}}" ng-display-object
             ng-display-object-obj="right[r.rightIndex]" ng-display-object-properties="p"
             ng-display-object-show-warning-icon="r.found ==='both' && r.notMatch"></div>
    </div>
    <button>Merge</button>
</div>
