<h2 class="section-header"> Classification</h2>
<ng-template #notAvailable>
    <div style="font-size: 20px; line-height: 1">
        Classification is not available in Drafts. Click the Draft slider above to view the current Published version.
    </div>
</ng-template>
<ng-container *ngIf="!elt.isDraft; else notAvailable">
    <button *ngIf="canClassify(userService.user)" id="openClassificationModalBtn" class="button" (click)="openClassifyItemModal()">
        <mat-icon>folder_open</mat-icon> Classify this Form
    </button>
    <button *ngIf="canClassify(userService.user) && elt.formElements.length > 0"
            id="openClassifyCdesModalBtn" class="button"
            (click)="openClassifyCdesModal()">
        <mat-icon>folder_open</mat-icon> Classify CDEs
    </button>
    <div id="classificationBody">
        <cde-classification-view [elt]="elt" (confirmDelete)="removeClassif($event);"></cde-classification-view>
    </div>
</ng-container>

<cde-classify-item #classifyItemComponent [modalTitle]="'Classify this Form'"
                         (classified)="classifyItem($event)"></cde-classify-item>
<cde-classify-item #classifyCdesComponent [modalTitle]="'Classify all CDEs in this Form'"
                         (classified)="classifyAllCdesInForm($event)"></cde-classify-item>

