@import '../../theme';

.outdated-bg {
  background-color: #ffecc5;
  border: 1px;
  border-radius: 10px;
}

.propertyTable {
  display: flex;
  flex-flow: row wrap;

  > :nth-child(odd) {
    flex: 0 0 100%;
    font-weight: bold;

    @media (min-width: $screenSm) {
      flex: 0 0 16.67%;
    }
  }

  > :nth-child(even) {
    flex: 0 0 100%;

    @media (min-width: $screenSm) {
      flex: 0 0 83.33%;
    }
  }
}
