<div class="p-5">
    <form [formGroup]="searchCriteria" (ngSubmit)="onSubmit()">
        <mat-checkbox formControlName="includeBadInput" data-testid="include-bad-input-checkbox">Including user's bad inputs?</mat-checkbox>
        <button mat-raised-button type="submit" color="primary">Search</button>
    </form>
    <div class="example-container mat-elevation-z8">
        <div class="loading-shade"
             *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="example-table-container">
            <table mat-table [dataSource]="dataSource$ |async" class="example-table"
                   matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
                    <td mat-cell *matCellDef="let row"> {{ row.date |date }}</td>
                </ng-container>

                <ng-container matColumnDef="request">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Request</th>
                    <td mat-cell *matCellDef="let row"> {{ row.request | json }}</td>
                </ng-container>

                <ng-container matColumnDef="stack">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stack</th>
                    <td mat-cell *matCellDef="let row"> {{ row.stack }}</td>
                </ng-container>

                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Details</th>
                    <td mat-cell *matCellDef="let row"> {{ row.details }}</td>
                </ng-container>

                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Message</th>
                    <td mat-cell *matCellDef="let row"> {{ row.message }}</td>
                </ng-container>

                <ng-container matColumnDef="errorCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Error code</th>
                    <td mat-cell *matCellDef="let row"> {{ row.errorCode }}</td>
                </ng-container>

                <ng-container matColumnDef="errorType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Error Type</th>
                    <td mat-cell *matCellDef="let row"> {{ row.errorType }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr *matNoDataRow>
                    <td class="mat-cell" colspan="8">
                        No results found.
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="50" [pageSizeOptions]="[10,50,100]"
                       aria-label="Select page of Http Logs"></mat-paginator>
    </div>
</div>
