@import '../theme';

$searchBarMd: 932px;
$searchBarSm: 771px;

$searchDesktop: 772px;

#searchResultInfoBar {
  vertical-align: middle;
}

.cde-bg-grey {
  background-color: $nlmColorSecondaryLightest;
}

.clearAllPill {
  color: $nlmColorSecondaryLight;
  cursor: pointer;
  padding: 5.5px 6.6px 5.5px 10px;
  transition: all .1s ease-in-out;
  white-space: nowrap;

  .close {
    $size: .8125rem;
    display: inline-block;
    font-size: .5rem;
    line-height: $size;
    height: $size;
    text-align: center;
    vertical-align: middle;
    width: $size;
  }

  &:hover {
    color: $nlmColorSecondaryDark;
  }
}

.keyboard-arrow lightgray {
  border-color: $nlmColorSecondaryLight;
}

.dark-icon {
  background-color: transparent;
  border: 1px solid;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }
}

.forNotSearchDesktop {
  @media (min-width: $searchDesktop) {
    display: none !important;
  }
}

.forSearchDesktop {
  display: none;
  @media (min-width: $searchDesktop) {
    display: revert !important;
  }
}

.inline-group {
  label {
    border-bottom-left-radius: $formInputBorderRadius;
    border-top-left-radius: $formInputBorderRadius;

    input {
      border-bottom-left-radius: $formInputBorderRadius;
      border-top-left-radius: $formInputBorderRadius;
    }

    @media (min-width: $searchDesktop) {
      border-bottom-left-radius: unset;
      border-top-left-radius: unset;

      input {
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
      }
    }
  }
}

.input-hover {
  cursor: pointer;
  display: block;
  padding: 5px;

  &:hover {
    background-color: #f9f9f9;
  }
}

label.input-hover {
  margin-bottom: 0;
}

.searchBar {
  display: flex;
  flex-flow: column;
  margin-bottom: 0;
  padding: 0;

  &.cde {
    background-color: unquote($nlmColorPrimary + '33');
  }

  &.form {
    background-color: $nlmColorPrimaryDarkest;
  }

  button {
    margin-bottom: 0;
  }

  .searchDropdown {
    margin-right: 0;
    //order: 10;
  }
}

.searchSection {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0;
  margin-bottom: 0;

  &.searchFilterLayout {
    .filterPanel {
      flex: 0 0 100%;
      min-width: 0;

      @media(min-width: $searchDesktop) {
        box-shadow: 3px 3px 4px rgba(0, 0, 0, .16);
        flex: 1 0 250px;
        padding-bottom: 30px;
      }
    }

    .searchResultsView {
      @media (min-width: $searchDesktop) {
        flex: 10 1 400px;
        padding-left: 30px;
      }
    }
  }

  .searchResultsView {
    flex: 0 0 100%;
    min-width: 0;
  }
}

.searchFilterLayoutActive {
  $lineHeight: 40px;
  display: flex;
  flex-flow: row wrap;
  line-height: $lineHeight;
  margin-bottom: 1rem;

  .activeFilterClause {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    min-width: 0;
    height: $lineHeight;
  }
}

.searchFilterCollapse {
  margin-bottom: 16px;

  .searchFilterCollapseHeading {
    color: $nlmColorPrimary;
    cursor: pointer;
    font-weight: bold;

    .keyboard-arrow {
      border-color: $nlmColorPrimary;
      border-width: 0 2px 2px 0;
    }

    .keyboard-arrow.down {
      display: none;
    }

    .keyboard-arrow.up {
      display: inline-block;
    }
  }

  &.collapsed {
    .searchFilterCollapseHeading {
      //letter-spacing: .01em;

      .keyboard-arrow {
        border-color: $nlmColorSecondaryDark;
        border-width: 0 1px 1px 0;
      }

      &:hover {
        border-width: 2px;
        font-weight: bold;

        .keyboard-arrow {
          border-width: 0 2px 2px 0;
        }
      }

      .keyboard-arrow.down {
        display: inline-block;
      }

      .keyboard-arrow.up {
        display: none;
      }
    }

    .searchFilterCollapseContent {
      display: none;
    }
  }
}

.searchFilterTitle {
  color: $nlmColorSecondaryLight;
}

.searchResultBar {
  display: flex;
  flex-flow: row nowrap;

  @media (max-width: $searchBarSm) {
    flex-flow: row wrap;
  }

  button {
    margin-top: .1rem;
  }

  .searchHamburger {
    display: none;
    @media (max-width: $searchBarSm) {
      display: initial;
    }
  }

  > :nth-child(2) {
    min-width: fit-content;

    @media (max-width: $searchBarSm) {
      margin-left: 0;

      &.collapse {
        display: none;
      }
    }

    .searchBarTopRow {
      display: inline-block;
      @media (max-width: $searchBarMd) {
        display: block;
      }
      @media (max-width: $searchBarSm) {
        display: inline-block;
      }
    }
  }
}

.treeItem {
}

.treeItemIcon {
}

.treeItemText {
  word-wrap: break-word;
}

.treeParent {
  cursor: pointer;

  &:hover .keyboard-arrow {
    border-width: 0 2px 2px 0;
    margin-bottom: 1px;
    margin-left: 2px;
    margin-right: 3px;
  }
}

.treeCurrent {
  font-weight: bolder;
  padding-left: 22px;
}

.treeChild {
  cursor: pointer;
  padding-left: 30px;

  .keyboard-arrow {
    float: right;
    margin-right: 1px;
    margin-top: 6px;
  }

  &:hover .keyboard-arrow {
    border-width: 0 2px 2px 0;
    margin-right: 0;
    margin-top: 5px;
  }
}

.welcomeCount {
  bottom: -10px;
  right: 23px;
  position: absolute;
  background-color: $nlmColorSecondaryLightest;
  padding: 0 5px 0 5px;
}

.welcomeDetailIcon {
  cursor: pointer;
  position: absolute !important;
  right: 7px;
  top: -16px;
  color: lightslategrey;
  font-size: 1.5em !important;
  border-radius: 28px;
  width: 23px;
  height: 21px;
  display: block;
  text-align: center;

  &:hover {
    background-color: #337ab7;
    color: white;
  }
}

.classification-filter {
  height: 17px;
  width: 15px;
  font-size: 15px;
}
