<section class="searchBar" [class.cde]="searchType === 'cde' || searchType === 'endorsedCde'"
         [class.form]="searchType === 'form'">
    <form #quickSearchForm="ngForm" id="quickSearchForm" class="container" novalidate>
        <div class="content">
            <button style="display: none" type="submit" (click)="termSearch()"></button>
            <div class="stretchBar inline-group" style="gap: 0">
                <button class="forSearchDesktop searchDropdown button" [disabled]="embedded"
                        [matMenuTriggerFor]="searchMenu">
                    <img *ngIf="searchType === 'endorsedCde'" src="/assets/img/endorsedRibbonIcon.png" alt="Endorsed Ribbon"
                         style="height: 20px; vertical-align: text-top">
                    {{getSearchLabel(searchType)}}
                    <mat-icon *ngIf="!embedded" style="float: right; line-height: 1rem">arrow_drop_down</mat-icon>
                </button>
                <label class="shrink grow d-block mN">
                    <input #autoCompleteInput id="ftsearch-input" data-testid="search-query-input" name="q" class="form-control"
                           [placeholder]="isSearchDesktop ? 'Search by topic, keyword, or organization' : 'Search by topic, keyword, or org...'"
                           maxlength="500" [matAutocomplete]="auto"
                           [(ngModel)]="searchTerm" (ngModelChange)="searchTermAutoComplete.emit($event)"/>
                </label>
                <button id="search.submit" data-testid="search-submit-button" class="button icon" (click)="termSearch()" aria-label="search">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="typeaheadSelect($event)" >
                <mat-option *ngFor="let option of autocompleteSuggestions" [value]="option" data-testid="search-auto-complete-option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
            <button class="searchDropdown button forNotSearchDesktop" style="margin-top: 1rem; width: 100%"
                    [disabled]="embedded" [matMenuTriggerFor]="searchMenu">
                <img *ngIf="searchType === 'endorsedCde'" src="/assets/img/endorsedRibbonIcon.png" alt="Endorsed Ribbon"
                     style="height: 20px; vertical-align: text-top">
                {{getSearchLabel(searchType)}}
                <mat-icon *ngIf="!embedded" style="float: right; line-height: 1rem">arrow_drop_down</mat-icon>
            </button>
            <!-- Error display area -->
            <p [hidden]="quickSearchForm.form.valid || quickSearchForm.form.pristine"
               class="error-block">
                <span>Query terms must be 500 characters or less.</span>
            </p>
            <mat-menu #searchMenu="matMenu">
                <button mat-menu-item [class.active]="searchType === 'endorsedCde'"
                        (click)="setSearchType('endorsedCde')">
                    <img src="/assets/img/endorsedRibbonIcon.png" alt="Endorsed Ribbon"
                         style="height: 20px; vertical-align: text-top">
                    <span>Search NIH-Endorsed CDEs</span>
                </button>
                <button mat-menu-item [class.active]="searchType === 'cde'" (click)="setSearchType('cde')">
                    <span>Search All CDEs</span>
                </button>
                <button mat-menu-item [class.active]="searchType === 'form'" (click)="setSearchType('form')">
                    <span>Search Forms</span>
                </button>
            </mat-menu>
        </div>
    </form>
</section>

<section *ngIf="elts && aggregations && !(searching && showLoadingScreen) else searchingLoader" class="searchSection"
         [class.container]="!isFullScreen()"
         [class.container-fluid]="isFullScreen()"
         [class.searchFilterLayout]="filterMode">
    <!--FILTERS-->
    <div *ngIf="filterMode" class="content filterPanel">
        <!-- BREADCRUMBS / Active Filters -->
        <div *ngIf="isSearched()">
            <div class="searchFilterTitle">ACTIVE {{module === 'cde' ? 'CDE' : 'FORM'}} FILTERS</div>
            <div *ngIf="aggregations" class="searchFilterLayoutActive">
                <div *ngIf="searchSettings.nihEndorsed" class="activeFilterClause">
                    <span class="pill" role="button" tabindex="0" (click)="addNihEndorsedFilter(false)">
                        <span class="text">NIH-Endorsed {{module === 'cde' ? 'CDEs' : 'Forms'}}</span>
                        <span class="close">X</span>
                    </span>
                </div>
                <div *ngIf="searchedTerm" class="activeFilterClause">
                    <span id="term_crumb"
                          class="pill" role="button" tabindex="0"
                          aria-label="Remove this search term filter"
                          matTooltip="Remove this search term filter"
                          matTooltipClass="cdeTooltip" matTooltipPosition="above"
                          (click)="searchSettings.q = ''; searchTerm = ''; doSearch()">
                        <span class="text">{{searchedTerm}}</span>
                        <span class="close">X</span>
                    </span>
                </div>
                <ng-container *ngIf="hasSelectedClassifications()">
                    <div class="flex-break"></div>
                    <div *ngFor="let c of getSelectedClassifications(); first as isFirst"
                         class="activeFilterClause">
                        <span *ngIf="!isFirst" class="keyboard-arrow lightgray"></span>
                        <span class="classif_crumb pill" role="button" tabindex="0"
                              aria-label="Remove this classification filter"
                              data-testid="classification-filter-selected"
                              matTooltip="Remove this classification filter"
                              matTooltipClass="cdeTooltip" matTooltipPosition="above"
                              (click)="clearSelectedClassifications(c)">
                            <span class="text" data-testid="classification-text">{{c}}</span>
                            <span class="close">X</span>
                        </span>
                    </div>
                    <div class="flex-break" tourAnchor="classif_crumb"></div>
                </ng-container>
                <ng-container *ngIf="altClassificationFilterMode">
                    <div class="flex-break"></div>
                    <span style="margin-right: 10px">and</span>
                    <span *ngFor="let c of getSelectedClassificationsAlt(); first as isFirst"
                          class="activeFilterClause">
                        <span *ngIf="!isFirst" class="keyboard-arrow lightgray"></span>
                        <span class="classifAlt_filter pill" role="button" tabindex="0"
                              aria-label="Remove this classification filter"
                              data-testid="classification-alt-filter-selected"
                              matTooltip="Remove this classification filter"
                              matTooltipClass="cdeTooltip" matTooltipPosition="above"
                              (click)="clearSelectedClassificationsAlt(c)">
                            <span class="text" data-testid="classification-text">{{c}}</span>
                            <span class="close">X</span>
                        </span>
                    </span>
                    <div class="flex-break"></div>
                </ng-container>
                <ng-container *ngIf="excludeOrgFilterMode">
                    <div class="flex-break"></div>
                    <div class="activeFilterClause">
                        <span style="margin-right: 10px">not</span>
                        <span class="pill" role="button" tabindex="0"
                              aria-label="Remove this classification filter"
                              matTooltip="Remove this classification filter"
                              matTooltipClass="cdeTooltip" matTooltipPosition="above"
                              (click)="clearExcludeOrgs()">
                            <span class="text" data-testid="classification-text">{{getExcludedOrgs()}}</span>
                            <span class="close">X</span>
                        </span>
                    </div>
                    <div class="flex-break"></div>
                </ng-container>
                <ng-container *ngIf="hasSelectedStatuses()">
                    <div *ngFor="let s of searchSettings.regStatuses" class="activeFilterClause">
                        <span class="status_crumb pill" role="button" tabindex="0"
                              data-testid="active-filter-registration-status"
                              aria-label="Remove this registration statuses filter"
                              matTooltip="Remove this registration statuses filter"
                              matTooltipClass="cdeTooltip" matTooltipPosition="above"
                              (click)="clearSelectedStatus(s)">
                            <span class="text">{{s}}</span>
                            <span class="close">X</span>
                        </span>
                    </div>
                    <div class="flex-break"></div>
                </ng-container>
                <ng-container *ngIf="module === 'cde' && hasSelectedDatatypes()">
                    <div *ngFor="let d of searchSettings.datatypes" class="activeFilterClause">
                        <span class="datatype_crumb pill" role="button" tabindex="0"
                              data-testid="active-filter-data-type"
                              aria-label="Remove this datatype filter"
                              matTooltip="Remove this datatype filter"
                              matTooltipClass="cdeTooltip" matTooltipPosition="above"
                              (click)="clearSelectedDatatype(d)">
                            <span class="text">{{d}}</span>
                            <span class="close">X</span>
                        </span>
                    </div>
                    <div class="flex-break"></div>
                </ng-container>
                <div class="activeFilterClause">
                    <span (click)="resetFilters()" class="clearAllPill" role="button" tabindex="0" data-testid="class-all-filters">
                        Clear all
                        <span class="close">X</span>
                    </span>
                </div>
            </div>
        </div>
        <!-- NIH Endorsed AGGREGATIONS -->
        <div *ngIf="aggregations.orgs.buckets" id="nihEndorsedHolder" style="margin-bottom: 1rem">
            <div class="searchFilterTitle">REFINE {{module === 'cde' ? 'CDE' : 'FORM'}} RESULTS</div>
            <div *ngIf="module === 'cde'">
                <label class="input-hover">
                    <input id="nihEndorsedCheckbox" type="checkbox" class="checkbox"
                           data-testid="nihEndorsedCheckbox"
                           [(ngModel)]="searchSettings.nihEndorsed"
                           (ngModelChange)="addNihEndorsedFilter($event)"/>
                    NIH-Endorsed
                    <img src="/assets/img/endorsedRibbonIcon.png" alt="Endorsed Ribbon"
                         style="height: 19px; vertical-align: text-top">
                </label>
            </div>
        </div>
        <!-- CLASSIFICATION AGGREGATIONS -->
        <div *ngIf="aggregations.orgs.buckets" #classificationSection tourAnchor="classificationListHolder"
             id="classificationListHolder" class="searchFilterCollapse">
            <div class="searchFilterCollapseHeading" (click)="classificationSection.classList.toggle('collapsed')">
                Collections
                <span style="display: inline-block; width: 19px">
                    <span class="keyboard-arrow down"></span>
                    <span class="keyboard-arrow up"></span>
                </span>
                <a *ngIf="userService.isSiteAdmin() && !altClassificationFilterMode && !embedded && !excludeOrgFilterMode"
                   id="altClassificationFilterModeToggle" class="classification-filter"
                   style="line-height: 12px"
                   (click)="setAltClassificationFilterMode(); $event.stopPropagation()" href="javascript:void(0);"
                   aria-label="Add a second classification filter as an AND condition"
                   matTooltip="Add a second classification filter as an AND condition"
                   matTooltipClass="cdeTooltip" [matTooltipPosition]="isSearchDesktop ? 'right' : 'above'">
                    <mat-icon>add_box</mat-icon>
                </a>
                <a *ngIf="userService.isSiteAdmin() && !excludeOrgFilterMode && !embedded && !altClassificationFilterMode"
                   id="excludeFilterModeToggle" class="classification-filter" style="line-height: 12px"
                   tourAnchor="excludeFilterModeToggle"
                   (click)="setExcludeOrgFilterMode(); $event.stopPropagation()" href="javascript:void(0);"
                   aria-label="Add a second classification filter as a NOT condition"
                   matTooltip="Add a second classification filter as a NOT condition"
                   matTooltipClass="cdeTooltip" [matTooltipPosition]="isSearchDesktop ? 'right' : 'above'">
                    <mat-icon>indeterminate_check_box</mat-icon>
                </a>
            </div>
            <div class="searchFilterCollapseContent">
                <button *ngIf="excludeOrgFilterMode" id="exludeAllOrgs" class="treeChild fake-link"
                        (click)="searchExcludeAllOrgs()">
                    All (Except {{searchSettings.selectedOrg}})
                </button>
                <ng-container *ngFor="let t of aggregations.orgs.buckets; trackBy: trackByKey">
                    <ng-container *ngIf="getCurrentSelectedOrg(); else classifOrg">
                        <ng-container *ngIf="t.key === getCurrentSelectedOrg()">
                            <div *ngIf="getCurrentSelectedClassification()?.length; else classifSelf"
                                 id="classif-{{t.key}}" data-testid="classification-filter" class="treeParent input-hover"
                                 [attr.aria-label]="t.longName" (click)="alterOrgFilter(t.key)" role="link">
                                <span class="keyboard-arrow left treeItemIcon"></span>
                                <span class="treeItemText" data-testid="classification-text" [matTooltip]="t.longName"
                                      matTooltipClass="cdeTooltip" [matTooltipPosition]="isSearchDesktop ? 'right' : 'above'"> {{t.key}}</span>
                            </div>
                            <ng-template #classifSelf>
                                <div id="classif-{{t.key}}" data-testid="classification-filter" class="treeCurrent treeItemText"
                                     [matTooltip]="t.longName" [attr.aria-label]="t.longName"
                                     matTooltipClass="cdeTooltip" [matTooltipPosition]="isSearchDesktop ? 'right' : 'above'">
                                    {{t.key}}
                                </div>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                    <ng-template #classifOrg>
                        <div id="classif-{{t.key}}" data-testid="classification-filter" class="treeChild input-hover" (click)="alterOrgFilter(t.key)"
                             role="link" [attr.aria-label]="t.longName" [matTooltip]="t.longName"
                             matTooltipClass="cdeTooltip" [matTooltipPosition]="isSearchDesktop ? 'right' : 'above'">
                            <span class="keyboard-arrow treeItemIcon"></span>
                            <span class="treeItemText" data-testid="classification-text">{{t.key}}</span> (<span id="nbOfClassifElts-{{t.key}}" data-testid="classification-number">{{t.doc_count}}</span>)
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container *ngFor="let e of getCurrentSelectedClassification(); index as i; last as isLast">
                    <div *ngIf="!isLast; else classifSelf2" id="classif-{{e}}" data-testid="classification-filter" class="treeParent input-hover"
                         (click)="selectElement(e, 'parent', i)" role="link">
                        <span class="keyboard-arrow left treeItemIcon"></span>
                        <span class="treeItemText" data-testid="classification-text"> {{e}}</span>
                    </div>
                    <ng-template #classifSelf2>
                        <div id="classif-{{e}}" data-testid="classification-filter" class="treeCurrent treeItemText"
                             [class.treeItem]="getCurrentSelectedClassification().length">{{e}}
                        </div>
                    </ng-template>
                </ng-container>
                <div *ngFor="let b of getClassificationSelectedOrg(); index as i; trackBy: trackByName"
                     id="classif-{{b.name}}" data-testid="classification-filter" class="treeChild input-hover"
                     [class.treeItem]="getCurrentSelectedClassification().length"
                     (click)="selectElement(b.name, 'child', i)" role="link">
                    <span class="keyboard-arrow treeItemIcon"></span>
                    <span class="treeItemText" data-testid="classification-text">{{b.name}} </span> (<span id="nbOfClassifElts-{{b.name}}" data-testid="classification-number">{{b.count}}</span>)
                </div>
            </div>
        </div>
        <!-- REGISTRATION STATUS AGGREGATION -->
        <div *ngIf="aggregations.statuses.statuses.buckets" #regStatusSection
             tourAnchor="registrationStatusListHolder"
             id="registrationStatusListHolder" class="searchFilterCollapse">
            <div class="searchFilterCollapseHeading" (click)="regStatusSection.classList.toggle('collapsed')">
                Registration Status
                <span style="display: inline-block; width: 19px">
                    <span class="keyboard-arrow down"></span>
                    <span class="keyboard-arrow up"></span>
                </span>
            </div>
            <div class="searchFilterCollapseContent">
                <ng-container *ngFor="let t of aggregations.statuses.statuses.buckets">
                    <label *ngIf="t.doc_count > 0" class="treeItem input-hover"
                           data-testid="registration-status-filter"
                           [matTooltip]="getRegStatusHelp(t.key)" [attr.aria-label]="getRegStatusHelp(t.key)"
                           matTooltipClass="cdeTooltip" [matTooltipPosition]="isSearchDesktop ? 'right' : 'above'">
                        <input type="checkbox" id="regstatus-{{t.key}}" class="checkbox treeItemText"
                               [ngModel]="searchSettings.regStatuses && searchSettings.regStatuses.indexOf(t.key) > -1"
                               (change)="addStatusFilter(t.key)"/>
                        {{t.key}} ({{t.doc_count}})
                    </label>
                </ng-container>
            </div>
        </div>
        <!--DATA TYPE AGGREGATION-->
        <div *ngIf="module === 'cde' && aggregations.datatype.datatype.buckets.length" #datatypeSection
             tourAnchor="datatypeListHolder" id="datatypeListHolder" class="searchFilterCollapse">
            <div class="searchFilterCollapseHeading" (click)="datatypeSection.classList.toggle('collapsed')">
                Data Types
                <span style="display: inline-block; width: 19px">
                    <span class="keyboard-arrow down"></span>
                    <span class="keyboard-arrow up"></span>
                </span>
            </div>
            <div class="searchFilterCollapseContent">
                <ng-container *ngFor="let t of aggregations.datatype.datatype.buckets">
                    <label *ngIf="t.doc_count > 0" class="treeItem input-hover" data-testid="datatype-filter">
                        <input type="checkbox" id="datatype-{{t.key}}" class="checkbox treeItemText"
                               [ngModel]="searchSettings.datatypes && searchSettings.datatypes.indexOf(t.key) > -1"
                               (change)="addDatatypeFilter(t.key)"/>
                        {{t.key}} ({{t.doc_count}})
                    </label>
                </ng-container>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="content searchResultsView">
        <ng-container *ngIf="elts.length > 0 && aggregations; else noResults">
            <ng-container *ngIf="isSearched(); else welcomePage">
                <h1>{{module | uppercase}} Search Results</h1>
                <div class="searchResultBar" style="margin-bottom: 1rem">
                    <div>
                        <button *ngIf="totalItems > 0" class="button light secondary searchHamburger"
                                (click)="searchResultOptions.classList.toggle('collapse')">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <div #searchResultOptions>
                        <ng-container *ngIf="totalItems > 0">
                            <div class="searchBarTopRow">
                                <button id="showHideFilters" class="button light" (click)="hideShowFilter()">
                                    <mat-icon>filter_list</mat-icon>
                                    {{filterMode ? 'Hide' : 'Show'}} Filters
                                </button>
                                <button *ngIf="embedded; else notEmbedButtons" id="resetSearch" class="button light"
                                        (click)="resetFilters()">
                                    <mat-icon>delete_outline</mat-icon>
                                    Reset
                                </button>
                                <ng-template #notEmbedButtons>
                                    <cde-list-view-controls style="display: inline-block"
                                                            [(listView)]="resultsView"></cde-list-view-controls>
                                </ng-template>
                            </div>
                            <ng-container *ngIf="!embedded">
                                <button id="pinAll" class="button light" [hidden]="module === 'form'" pinToBoard
                                        width="1500px" [elasticsearchPinQuery]="elasticsearchPinQuery()">
                                    <mat-icon svgIcon="thumb_tack"></mat-icon>
                                    Pin All
                                </button>
                                <button id="export" class="button light" style="margin-right: 0"
                                        [matMenuTriggerFor]="exportMenu">
                                    <mat-icon>play_for_work</mat-icon>
                                    Export All
                                    <mat-icon>arrow_drop_down</mat-icon>
                                </button>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" id="searchResultInfoBar" data-testid="search-result-info-bar">
                    <strong id="searchResultNum">{{totalItems}}</strong> results. Sorted by relevance.
                </div>
                <!-- SEARCH RESULTS -->
                <div id="resultList" data-testid="search-result-list">
                    <div id="resultListTour" tourAnchor="resultListTour"></div>
                    <cde-list-view [elts]="elts" [embedded]="embedded" [module]="module" [(listView)]="resultsView"
                                   (add)="add.emit($event)"></cde-list-view>
                    <div style="float: right">
                        <mat-form-field style="width:20%;" id="goToPage">
                            <input matInput placeholder="Go to page:" type="number" min="1"
                                   [max]="numPages" [ngModel]="searchSettings.page"
                                   (ngModelChange)="pageChange({pageIndex: $event-1})">
                        </mat-form-field>
                        <mat-paginator (page)="pageChange($event)" [length]="totalItemsLimited"
                                       [pageIndex]="searchSettings.page - 1"
                                       [pageSize]="searchSettings.resultPerPage" [hidePageSize]="true"
                                       style="float: right; font-size: 1.4em">
                        </mat-paginator>
                        <a [hidden]="true" href="{{fakeNextPageLink()}}" rel="next">Next Page</a>
                    </div>
                </div>
            </ng-container>
            <ng-template #welcomePage>
                <section id="tabs" class="cde-bg-grey" style="margin-bottom: 0; padding: 30px">
                    <h1>
                        Search {{module === 'cde' ? 'CDEs' : 'Forms'}}
                        <button id="export" class="button light"
                                style="margin-right: 0; float: right"
                                [matMenuTriggerFor]="exportMenu">
                            <mat-icon>play_for_work</mat-icon>
                            Export All {{module === 'cde' ? 'CDEs' : 'Forms'}}
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    </h1>
                    <div class="clearfix"></div>
                    <p>
                        Enter a phrase/text or explore {{module === 'cde' ? 'CDEs' : 'Forms'}} by selecting a
                        Collection.
                    </p>
                    <p>
                        The NIH CDE Repository hosts <strong><span
                            id="totalItems">{{totalItems}}</span> {{module === 'cde' ? 'CDEs' : 'Forms'}}</strong>
                        from <strong>{{orgs.length}} Collections</strong>.
                        We provide access to structured human and machine-readable definitions of data elements that
                        have
                        been recommended or required by NIH Institutes and Centers and other organizations for use in
                        research and for other purposes.
                    </p>
                    <h2 style="margin-top: 2rem">Collections</h2>
                    <div class="responsiveGrid" style="gap: 10px 30px; grid-template-columns: 1fr 1fr;">
                        <div *ngFor="let org of orgs" tourAnchor="search_by_classification_{{org.name}}"
                             id="search_by_classification_{{org.name}}">
                            <fieldset class="cdeFieldset welcomeSearchFieldset"
                                      (click)="browseOrg(org.name)">
                                <legend>
                                    <img *ngIf="org.endorsed" src="/assets/img/endorsedRibbonIcon.png" class="mR">
                                    <span id="browseOrg-{{org.name}}" data-testid="browse-org" class="fake-link">{{org.name}}</span>
                                </legend>
                                <div *ngIf="org.longName">{{org.longName}}</div>
                                <div class="welcomeCount"><span id="nbOfElts-{{org.name}}">{{org.count}}</span>
                                    elements
                                </div>
                                <div *ngIf="org.extraInfo">{{org.extraInfo}}</div>
                                <div *ngIf="org.uri"><a href="{{org.uri}}" target="_blank" rel="noopener noreferrer">Source</a>
                                </div>
                                <mat-icon class="welcomeDetailIcon" *ngIf="org.htmlOverview"
                                          id="search_by_classification_info_{{org.name}}"
                                          (click)="openOrgDetails(org); $event.stopImmediatePropagation()">
                                    help_outline
                                </mat-icon>
                            </fieldset>
                        </div>
                    </div>
                </section>
            </ng-template>
        </ng-container>
        <ng-template #noResults>
            <h1>No results were found.</h1>
            <p>Try expanding your search or removing active filters.</p>
            <div>
                <img style="width:100%; height: auto; max-width: 532px" alt="No Results"
                     src="/assets/img/NoResults.png"/>
            </div>
            <span>Not sure where to start?
                <!-- <a style="text-decoration: underline" href="/tour">Take a tour</a> or -->
                Review the <a style="text-decoration: underline" href="/guides">Guides</a>.</span>
        </ng-template>
    </div>
</section>

<ng-template #searchingLoader>
    <h1 class="container">
        <mat-icon class="spin">auto_renew</mat-icon>
        Searching...
    </h1>
</ng-template>

<mat-menu #exportMenu>
    <ng-container
            *ngIf="userService.user || module === 'cde'; else exportFormNotAuthorized">
        <button *ngFor="let key of ownKeys(exporters)" id="{{exporters[key].id}}"
                mat-menu-item
                (click)="exportService.exportSearchResults(key, module, {searchSettings: searchSettings})">
            {{exporters[key].display}}
        </button>
    </ng-container>
    <ng-template #exportFormNotAuthorized>
        <a mat-menu-item routerLink="/login">Please login to export forms.</a>
    </ng-template>
</mat-menu>
