<ng-container *ngIf="view === 'welcome'; then welcomeSearch else searchResults"></ng-container>

<ng-template #welcomeSearch>
    <div class="container">
        <div *ngIf="!addMode" class="jumbotron bg-white text-center">
            <img [hidden]="embedded" id="homeNihCdeLogo" class="img-center-responsive"
                 alt="NIH Common Data Elements (CDE) log" src="/cde/public/assets/img/NIH-CDE.png"/>
        </div>
        <div class="row justify-content-md-center" id="searchDiv">
            <div class="col-12 col-md-10 mx-auto">
                <form #quickSearchForm="ngForm" id="quickSearchForm" class="input-group" novalidate method="GET">
                    <input name="q" id="ftsearch-input" class="form-control search-query" type="text"
                           [(ngModel)]="searchSettings.q" aria-labelledby="l1" maxlength="500"
                           [ngbTypeahead]="getAutocompleteSuggestions" [focusFirst]="false"
                           (selectItem)="typeaheadSelect($event)">
                    <button id="search.submit" (click)="termSearch()" type="submit"
                            class="btn  btn-danger ">
                        <i class="fa fa-search"></i> Search
                    </button>
                    <!-- Error display area -->
                    <p [hidden]="quickSearchForm.form.valid || quickSearchForm.form.pristine"
                       class="error-block">
                        <span>Query terms must be 500 characters or less.</span>
                    </p>
                </form>
            </div>
        </div>
        <cde-search-export-button id="exportEverything" class="pull-right btn-group mt-3 mb-2" *ngIf="!embedded"
                                  [module]="module"
                                  (exportType)="exportService.exportSearchResults($event, module, {searchSettings: searchSettings})">
        </cde-search-export-button>
        <div class="mt-3" id="tabs">
            <ngb-tabset #tbset="ngbTabset" (tabChange)="browseByTopic($event)">
                <ngb-tab id="browseByClassification" title="Browse by Classification">
                    <ng-template ngbTabContent>
                        <div *ngIf="orgs?.length === 0">
                            <h1 class="pl130">
                                <i class="fa fa-spinner fa-pulse"></i> Searching...
                            </h1>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12" *ngFor="let org of orgs"
                                 id="search_by_classification_{{org.name}}">
                                <fieldset class="cdeFieldset welcomeSearchFieldset hand-cursor"
                                          (click)="browseOrg(org.name)">
                                    <legend>
                                        <span id="browseOrg-{{org.name}}" class="browseLink">{{org.name}}</span>
                                    </legend>
                                    <div *ngIf="org.longName">{{org.longName}}</div>
                                    <div class="welcomeCount"><span id="nbOfElts-{{org.name}}">{{org.count}}</span>
                                        elements
                                    </div>
                                    <div *ngIf="org.extraInfo">{{org.extraInfo}}</div>
                                    <div *ngIf="org.source"><a href="{{org.source}}" target="_blank">Source</a></div>
                                </fieldset>
                                <i class="fa fa-info welcomeDetailIcon hand-cursor" *ngIf="org.htmlOverview"
                                   id="search_by_classification_info_{{org.name}}" (click)="openOrgDetails(org)"></i>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab *ngIf="topics?.Diseases" title="Browse by Topic" id="browseByTopic">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-4" *ngFor="let key of topicsKeys; let i = index;">
                                <hr *ngIf="i > 2">
                                <h4>{{key}}</h4>
                                <ul style="list-style-type: none">
                                    <li *ngFor="let t of topics[key]">
                                        <span class="fake-link" (click)="browseTopic(key + ';' + t.name)">
                                            {{t.name}} ({{t.count}})</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="mt-3">
            <span id="totalItems">{{totalItems}}</span> <span>elements across all classifications</span>
        </div>
    </div>
</ng-template>

<ng-template #orgDetailsModal>
    <div style="margin: 25px" [innerHtml]="orgHtmlOverview"></div>
</ng-template>

<ng-template #searchResults>
    <nav *ngIf="elts && aggregations" class="navbar navbar-expand-lg navbar-light bg-light px-1" id="searchDiv">
        <form class="input-group">
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#searchBarContent" aria-controls="searchBarContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <input id="ftsearch-input" class="form-control pull-left" type="text" name="q" placeholder="Search"
                   [focusFirst]="false" [(ngModel)]="searchSettings.q" maxlength="500"
                   [ngbTypeahead]="getAutocompleteSuggestions" autocomplete="off" style="width:80%;">
            <button id="search.submit" class="btn  btn-danger" type="submit"
                    (click)="termSearch()"><i class="fa fa-search"></i> Search
            </button>
        </form>
        <div class="ml-auto collapse navbar-collapse" style="width:auto;"
             id="searchBarContent" role="group" aria-label="Basic example">
            <button *ngIf="embedded" id="resetSearch" class="btn mr-1 btn-outline-dark" name="resetSearch"
                    type="button" (click)="reset()">
                <i class="fa fa-trash-o"></i> Reset
            </button>
            <button id="pinAll" (click)="openPinModal()" class="btn mx-1 btn-outline-dark" type="button"
                    [hidden]="totalItems <= 0 || module === 'form'" *ngIf="!embedded">
                <i class="fa fa-thumb-tack hand-cursor"></i> Pin All
            </button>
            <button (click)="hideShowFilter()" class="btn mx-1 btn-outline-dark" id="showHideFilters">
                <div [hidden]="filterMode">
                    <i class="glyphicon glyphicon-filter"></i> Show Filters
                </div>
                <div [hidden]="!filterMode">
                    <i class="glyphicon glyphicon-filter"></i> Hide Filters
                </div>
            </button>
            <cde-list-view-controls [(listView)]="resultsView" *ngIf="!embedded"></cde-list-view-controls>
            <div class="btn-group dropdown" role="group" *ngIf="!embedded">
                <button id="export" type="button" class="btn ml-1 btn-outline-dark dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-download"></i> Export
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="export"
                     style="left: auto;right: 0;">
                    <ng-container *ngIf="userService?.user?._id || module === 'cde'">
                        <a *ngFor="let key of keys(exporters)" id="{{exporters[key].id}}" class="dropdown-item"
                           (click)="exportService.exportSearchResults(key, module, {searchSettings: searchSettings})">{{exporters[key].display}}</a>
                    </ng-container>
                    <a *ngIf="userService?.user && displayValidation()" id="exportValidRule" class="dropdown-item"
                       (click)="openValidRulesModal()"> Validation Rules</a>
                    <a *ngIf="!userService?.user?._id && module !== 'cde'" routerLink="/login"
                       class="dropdown-item">Please login to export forms.</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- BREADCRUMBS -->
    <div *ngIf="elts && aggregations" class="mx-1 my-3" id="searchResultInfoBar">
        <strong id="searchResultNum">{{totalItems}}</strong> results for
        <span id="term_crumb">
            <span *ngIf="!searchedTerm" class="badge badge-secondary mx-1">All Terms</span>
            <span *ngIf="searchedTerm" class="badge badge-success mx-1">{{searchedTerm}}
                <i id="removeTerm" class="fa fa-times hand-cursor dark-icon pl-1"
                   ngbTooltip="Remove this search term filter" placement="right" container="body"
                   (click)="searchSettings.q = ''; doSearch()"></i>
            </span>
        </span>
        <span id="classif_filter">|
            <span *ngIf="!hasSelectedClassifications()" class="badge badge-secondary mx-1">
                All Classifications</span>
            <span *ngIf="hasSelectedClassifications()" class="badge badge-success mx-1">{{getSelectedClassifications()}}
                <i id="removeClassifications" class="fa fa-times hand-cursor dark-icon pl-1"
                   ngbTooltip="Remove this classification filter" placement="right" container="body"
                   (click)="clearSelectedClassifications()"></i>
            </span>
        </span>
        <span *ngIf="altClassificationFilterMode" id="classifAlt_filter">and
            <span class="badge badge-success">{{getSelectedClassificationsAlt()}}
                <i id="removeAltClassificationFilterMode" class="fa fa-times hand-cursor dark-icon pl-1"
                   (click)="clearSelectedClassificationsAlt()"
                   ngbTooltip="Remove this classifications filter" placement="right" container="body">
                </i>
            </span>
        </span>
        <span id="topic_crumb">|
            <span *ngIf="!hasSelectedTopics()" class="badge badge-secondary mx-1">All Topics</span>
            <span *ngIf="hasSelectedTopics()" class="badge badge-success mx-1">{{getSelectedTopics()}}
                <i id="removeTopics" class="fa fa-times hand-cursor dark-icon pl-1"
                   ngbTooltip="Remove this topics filter" placement="right" container="body"
                   (click)="clearSelectedTopics()"></i>
            </span>
        </span>
        <span id="status_crumb">|
            <span *ngIf="!hasSelectedStatuses()" class="badge badge-secondary mx-1">All Statuses</span>
            <span *ngIf="hasSelectedStatuses()" class="badge badge-success mx-1">{{getSelectedStatuses()}}
                <i id="removeStatuses" class="fa fa-times hand-cursor dark-icon pl-1"
                   ngbTooltip="Remove this registration statuses filter" placement="right" container="body"
                   (click)="clearSelectedStatuses()"></i>
            </span>
        </span>
        <span *ngIf="module === 'cde'" id="datatype_crumb">|
            <span *ngIf="!hasSelectedDatatypes()" class="badge badge-secondary mx-1">All Datatypes</span>
            <span *ngIf="hasSelectedDatatypes()" class="badge badge-success mx-1">{{getSelectedDatatypes()}}
                <i id="removeDatatypes" class="fa fa-times hand-cursor dark-icon pl-1"
                   (click)="clearSelectedDatatypes()"
                   ngbTooltip="Remove this datatypes filter" placement="right" container="body"></i>
            </span>
        </span>
        <small> ({{took / 1000}} secs)</small>
    </div>
    <div *ngIf="elts && aggregations" class="container-fluid ml-0" style="max-width: 1200px">
        <div class="row">
            <!--FILTERS-->
            <div *ngIf="filterMode" [ngClass]="filterMode?'col-12 col-sm-2':'col-12'" class="px-1">
                <p class="text-muted">Filter by:</p>
                <!-- CLASSIFICATION AGGREGATIONS -->
                <div *ngIf="aggregations.orgs.buckets" id="classificationListHolder" class="my-3">
                    <span class="treeTitle">Classification</span>
                    <span *ngIf="!altClassificationFilterMode && !embedded" id="altClassificationFilterModeToggle"
                          class="fa fa-plus-square hand-cursor" (click)="setAltClassificationFilterMode()" role="link"
                          ngbTooltip="Add a second classifications filter as an AND condition" placement="right"
                          container="body">
                    </span>
                    <ng-container *ngFor="let t of aggregations.orgs.buckets; trackBy: helperObjectsService.trackByKey">
                        <ng-container *ngIf="getCurrentSelectedOrg(); else classifOrg">
                            <ng-container *ngIf="t.key === getCurrentSelectedOrg()">
                                <div *ngIf="getCurrentSelectedClassification()?.length; else classifSelf"
                                     id="classif-{{t.key}}" class="treeParent hand-cursor"
                                     (click)="alterOrgFilter(t.key)" role="link"
                                     [ngbTooltip]="t.longName" placement="right" container="body">
                                    <i class="treeItemIcon fa fa-angle-left"></i>
                                    <a class="treeItemText"> {{t.key}}</a>
                                </div>
                                <ng-template #classifSelf>
                                    <div id="classif-{{t.key}}" class="treeCurrent treeItemText">{{t.key}}</div>
                                </ng-template>
                            </ng-container>
                        </ng-container>
                        <ng-template #classifOrg>
                            <div id="classif-{{t.key}}" class="treeChild hand-cursor" (click)="alterOrgFilter(t.key)" role="link">
                                <i class="treeItemIcon fa fa-angle-right"></i>
                                <a class="treeItemText">{{t.key}} (<span id="nbOfClassifElts-{{t.key}}">{{t.doc_count}}</span>)</a>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container *ngFor="let e of getCurrentSelectedClassification(); index as i; last as isLast">
                        <div *ngIf="!isLast; else classifSelf2" id="classif-{{e}}" class="treeParent hand-cursor"
                             (click)="selectElement(e)" role="link">
                            <i class="fa fa-angle-left treeItemIcon"></i>
                            <a class="treeItemText"> {{e}}</a>
                        </div>
                        <ng-template #classifSelf2>
                            <div id="classif-{{e}}" class="treeCurrent treeItemText"
                                 [class.treeItem]="getCurrentSelectedClassification().length">{{e}}</div>
                        </ng-template>
                    </ng-container>
                    <div *ngFor="let b of (altClassificationFilterMode?aggregations.flatClassificationsAlt:aggregations.flatClassifications); trackBy: helperObjectsService.trackByName"
                         id="classif-{{b.name}}" class="treeChild hand-cursor" [class.treeItem]="getCurrentSelectedClassification().length"
                         (click)="selectElement(b.name)" role="link">
                        <i class="treeItemIcon fa fa-angle-right"></i>
                        <a class="treeItemText">{{b.name}} (<span id="nbOfClassifElts-{{b.name}}">{{b.count}}</span>)</a>
                    </div>
                </div>
                <!-- TOPIC AGGREGATIONS -->
                <div *ngIf="searchSettings.meshTree || aggregations.topics.length" id="meshTreesListHolder" class="my-3">
                    <span class="treeTitle">Topics</span>
                    <div *ngFor="let e of getCurrentSelectedTopic(); index as i; last as isLast"
                         id="topic-{{e}}" class="hand-cursor" (click)="selectTopic(e)" role="link">
                        <div *ngIf="!isLast; else topicSelf" class="treeParent">
                            <i class="treeItemIcon treeItemIconSelected fa fa-angle-left"></i>
                            <a class="treeItemText">{{e}}</a>
                        </div>
                        <ng-template #topicSelf>
                            <div class="treeCurrent treeItemText"
                                 [class.treeItem]="getCurrentSelectedTopic().length > 1">{{e}}</div>
                        </ng-template>
                    </div>
                    <div *ngFor="let b of aggregations.topics; trackBy: helperObjectsService.trackByName"
                         id="topic-{{b.name}}" class="treeChild hand-cursor" [class.treeItem]="getCurrentSelectedTopic().length > 1"
                         (click)="selectTopic(b.name)" role="link">
                        <i class="treeItemIcon fa fa-angle-right"></i>
                        <a class="treeItemText">{{b.name}} (<span id="nbOfClassifElts-{{b.name}}">{{b.count}}</span>)</a>
                    </div>
                </div>
                <!-- REGISTRATION STATUS AGGREGATION -->
                <div *ngIf="aggregations.statuses.statuses.buckets" id="registrationStatusListHolder" class="my-3">
                    <span class="treeTitle">Registration Status</span>
                    <ng-container *ngFor="let t of aggregations.statuses.statuses.buckets" >
                        <div *ngIf="t.doc_count > 0" id="regstatus-{{t.key}}" class="treeItem hand-cursor"
                             (click)="addStatusFilter(t.key)" role="link"
                             [ngbTooltip]="getRegStatusHelp(t.key)" placement="right" container="body">
                            <ng-container *ngIf="searchSettings.regStatuses && searchSettings.regStatuses.indexOf(t.key) > -1; else else06">
                                <i class="treeItemIcon treeItemIconSelected fa fa-check-square-o"></i>
                            </ng-container>
                            <ng-template #else06>
                                <i class="treeItemIcon fa fa-square-o"></i>
                            </ng-template>
                            <a class="treeItemText">{{t.key}} ({{t.doc_count}})</a>
                        </div>
                    </ng-container>
                </div>
                <!--DATA TYPE AGGREGATION-->
                <div *ngIf="module === 'cde' && aggregations.datatype.datatype.buckets.length" id="datatypeListHolder" class="my-3">
                    <span class="treeTitle">Data Types</span>
                    <ng-container *ngFor="let t of aggregations.datatype.datatype.buckets">
                        <div *ngIf="t.doc_count > 0" id="datatype-{{t.key}}" class="treeItem hand-cursor"
                             (click)="addDatatypeFilter(t.key)" role="link">
                            <ng-container *ngIf="searchSettings.datatypes && searchSettings.datatypes.indexOf(t.key) > -1; else else07">
                                <i class="treeItemIcon treeItemIconSelected fa fa-check-square-o"></i>
                            </ng-container>
                            <ng-template #else07>
                                <i class="treeItemIcon fa fa-square-o"></i>
                            </ng-template>
                            <a class="treeItemText">{{t.key}} ({{t.doc_count}})</a>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- SEARCH RESULTS -->
            <div id="resultList" [ngClass]="filterMode?'col-12 col-sm-10':'col-12'" class="px-1">
                <span [hidden]="elts.length >= 0" class="h1 pl130">
                    <i class="fa fa-spinner fa-pulse"></i>Searching...</span>
                <span [hidden]="elts.length !== 0" class="h4"><i class="fa fa-frown-o"></i>
                    No results were found. Try other criterias or selecting more statuses</span>
                <cde-list-view [elts]="elts" [embedded]="embedded" [module]="module" [(listView)]="resultsView"
                               (add)="add.emit($event)"></cde-list-view>
                <ngb-pagination [hidden]="totalItems <= 0" maxSize="10" [collectionSize]="totalItemsLimited"
                                [pageSize]="resultPerPage" [(page)]="searchSettings.page"
                                (pageChange)="pageChange()"></ngb-pagination>
                <!-- link for google indexer only -->
                <a [hidden]="true" href="{{fakeNextPageLink()}}" rel="next">Next Page</a>
            </div>
        </div>
    </div>
    <ng-container #pinModal></ng-container>
</ng-template>

<ng-template #facet_elements_tree>
    <span (click)="selectElement(e)" class="hand-cursor">
        <ng-container
                *ngIf="searchSettings.classification?.indexOf(e.name) > -1; then classifName else classifNoName"></ng-container>
        <ng-template #classifName>
            <i class="fa fa-angle-down" id="li-checked-{{e.name}}"></i></ng-template>
        <ng-template #classifNoName>
            <i class="fa fa-angle-right" id="li-blank-{{e.name}}"></i></ng-template>
        <span>
            <span> {{e.name}} (<span id="nbOfClassifElts-{{e.name}}">{{e.count}}</span>)</span>
        </span>
    </span>
    <div [hidden]="selectedElements?.indexOf(e.name) === -1" style="margin-left: 5px">
        <div *ngFor="let e of e.elements.sort(SearchBaseComponent.compareObjName)"
             [hidden]="searchSettings.classification?.indexOf(e.name) === -1 && e.level <= searchSettings.classification?.length">
            <ng-container *ngIf="true; then facet_elements_tree"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #validRulesModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3>Export CDEs not passing validation rules</h3>
    </div>
    <div class="modal-body">
        <label for="selectStatus">Registration Status</label>
        <select id="selectStatus" [(ngModel)]="validRulesStatus" class="form-control">
            <option>Incomplete</option>
            <option>Candidate</option>
            <option id="recorded">Recorded</option>
            <option>Qualified</option>
            <option>Standard</option>
            <option>Preferred Standard</option>
        </select>
        The export will list the CDE(s) that fail registration status rules for the selected status.
    </div>
    <div class="modal-footer">
        <button class="btn  btn-warning" (click)="d()" id="cancelCopy">Cancel</button>
        <button class="btn  btn-success" (click)="c({status: validRulesStatus})" id="exportVR">Export</button>
    </div>
</ng-template>
