.cdeSource {
  border-top: 1px #707070 solid;
  background: #F4F4F4;
  padding: 16px 8px;
  margin: 20px 0;

  dt {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  dd {
    margin-bottom: 10px;
  }
}
