<fieldset *ngFor="let eltSource of elt.sources; let $index = index" class="cdeFieldset" id="sources_{{$index}}">
    <legend>Source: {{eltSource.sourceName}}</legend>
    <dl class="cde-property">
        <ng-container *ngIf="sourceUrls[eltSource.sourceName]">
            <dt matTooltip="Original Data in NLM CDE format">Raw Artifact:</dt>
            <dd>
                <a [href]="sourceUrls[eltSource.sourceName]" target="_blank">Raw Artifact</a>
            </dd>
        </ng-container>
        <ng-container *ngIf="eltSource.sourceName">
            <dt>Name:</dt>
            <dd>{{eltSource.sourceName}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.imported">
            <dt>Imported:</dt>
            <dd>{{eltSource.imported | date: 'MM/dd/yyyy @ h:mma'}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.created">
            <dt>Created:</dt>
            <dd>{{eltSource.created | date: 'MM/dd/yyyy @ h:mma'}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.updated">
            <dt>Updated:</dt>
            <dd>{{eltSource.updated | date: 'MM/dd/yyyy @ h:mma'}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.registrationStatus">
            <dt>Registration Status:</dt>
            <dd>{{eltSource.registrationStatus}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.datatype">
            <dt>Datatype:</dt>
            <dd>{{eltSource.datatype}}</dd>
        </ng-container>
        <ng-container *ngIf="eltSource.copyright">
            <dt>Copyright:</dt>
            <dd>
                <div *ngIf="eltSource.copyright.valueFormat === 'html'" [innerHtml]="eltSource.copyright.value"></div>
                <div *ngIf="!(eltSource.copyright.valueFormat === 'html')">{{eltSource.copyright.value}}</div>
            </dd>
        </ng-container>
    </dl>
</fieldset>
