<h2>Procedure Mapping</h2>
<p>
    Map supported procedure properties to questions in this form.
</p>
<div>
    <mat-form-field class="w-100">
        <mat-select required placeholder="Performed Date" [(ngModel)]="mapping.performedDate">
            <mat-option *ngFor="let q of dateQuestions" [value]="q.question.cde.tinyId">
                    <small>{{q.question.cde.tinyId}}</small> - {{q.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>

<div>
    <mat-form-field class="w-100">
        <mat-select required placeholder="Procedure Type Code" [(ngModel)]="mapping.procedureQuestionID">
            <mat-option [value]="'static'">Static Value</mat-option>
            <mat-option *ngFor="let q of valueListQuestions" [value]="q.question.cde.tinyId">
                <small>{{q.question.cde.tinyId}}</small> - {{q.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="mapping.procedureQuestionID === 'static'" style="margin: 0 10px 0 30px">
        <input matInput [(ngModel)]="mapping.procedureCodeSystem" placeholder="Code System">
    </mat-form-field>
    <mat-form-field *ngIf="mapping.procedureQuestionID === 'static'">
        <input matInput [(ngModel)]="mapping.procedureCode" placeholder="Code">
    </mat-form-field>
</div>

<div>
    <mat-form-field class="w-100">
        <mat-select required placeholder="Status" [(ngModel)]="mapping.statusQuestionID">
            <mat-option [value]="'static'">Static Value</mat-option>
            <mat-option *ngFor="let q of valueListQuestions" [value]="q.question.cde.tinyId">
                <small>{{q.question.cde.tinyId}}</small> - {{q.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="mapping.statusQuestionID === 'static'" style="margin-left: 30px">
        <mat-select placeholder="Static Value for Status" [(ngModel)]="mapping.statusStatic">
            <mat-option value="preparation">preparation</mat-option>
            <mat-option value="in-progress">in-progress</mat-option>
            <mat-option value="suspended">suspended</mat-option>
            <mat-option value="aborted">aborted</mat-option>
            <mat-option value="completed">completed</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <div *ngIf="isTinyIdSingleSelect(mapping.bodySiteQuestionID || '')"
         class="alert alert-warning" role="alert">
        Warning: The selected question is single-select while used to edit a multi-select field. The answers will only be used to append values.
    </div>
    <mat-form-field class="w-100">
        <mat-select placeholder="Body Site" [(ngModel)]="mapping.bodySiteQuestionID">
            <mat-option>[Empty]</mat-option>
            <mat-option [value]="'static'">Static Value</mat-option>
            <mat-option *ngFor="let q of valueListQuestions" [value]="q.question.cde.tinyId">
                <small>{{q.question.cde.tinyId}}</small> - {{q.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="mapping.bodySiteQuestionID === 'static'" style="margin: 0 10px 0 30px">
        <input matInput placeholder="Code System" [(ngModel)]="mapping.bodySiteCodeSystem">
    </mat-form-field>
    <mat-form-field *ngIf="mapping.bodySiteQuestionID === 'static'">
        <input matInput placeholder="Code" [(ngModel)]="mapping.bodySiteCode">
    </mat-form-field>
</div>

<div>
    <div *ngIf="usedRefs && (usedRefs.question.datatype !== 'Value List' || !usedRefs.question.multiselect)"
         class="alert alert-warning" role="alert">
        Warning: The selected question is single-select while used to edit a multi-select field. The answers will only be used to append values.
    </div>
    <mat-form-field class="w-100">
        <mat-select placeholder="Used Reference" [(ngModel)]="usedRefs" (ngModelChange)="initRefMaps($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let q of valueListQuestions" [value]="q">
                <small>{{q.question.cde.tinyId}}</small> - {{q.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="usedRefs" style="margin-left: 30px;">
        <mat-icon matTooltip="Map each answer to a usedReference. Example: Medication/M123 where M123 is a medication identifier in your EHR. Leave empty if an answer means no usedReference.">info</mat-icon>
        <span *ngFor="let answer of usedRefs.question.cde.permissibleValues; let index = index">
            <mat-form-field style="margin-right: 10px" *ngIf="mapping.usedReferencesMaps && mapping.usedReferencesMaps.length > index -1">
                <input matInput [placeholder]="answer.valueMeaningName" [(ngModel)]="mapping.usedReferencesMaps[index]">
            </mat-form-field>
        </span>
    </div>
</div>

<div>
    <div *ngIf="isTinyIdSingleSelect(mapping.complications || '')"
         class="alert alert-warning" role="alert">
        Warning: The selected question is single-select while used to edit a multi-select field. The answers will only be used to append values.
    </div>
    <mat-form-field class="w-100">
        <mat-select placeholder="Complication" [(ngModel)]="mapping.complications">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let q of valueListQuestions" [value]="q.question.cde.tinyId">
                <small>{{q.question.cde.tinyId}}</small> - {{q.label}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-dialog-actions>
    <button id="loadDefaultTableViewSettingsBtn" class="button fail" [mat-dialog-close]="">Cancel</button>
    <button id="closeTableViewSettingsBtn" class="button success" [mat-dialog-close]="mapping">Save</button>
</mat-dialog-actions>
