<h3>Properties</h3>
<div>
    <div *ngIf="elt.properties.length === 0">
        There are no properties.
    </div>
    <ng-container *ngFor="let prop of elt.properties; index as i">
        <dl>
            <dt attr.itemprop="key_{{i}}">
                <ng-container *ngIf="canEdit && prop.edit">Confirm Delete
                    <mat-icon id="confirmRemoveProperty-{{i}}" class="fake-button" role="button" tabindex="0"
                              title="Confirm Delete" (click)="removePropertyByIndex(i)">check
                    </mat-icon>
                    <mat-icon id="cancelRemoveProperty-{{i}}" class="fake-button" role="button" tabindex="0"
                              title="Cancel" (click)="prop.edit = false">cancel
                    </mat-icon>
                </ng-container>
                <mat-icon *ngIf="canEdit && !prop.edit" id="removeProperty-{{i}}"
                          class="fake-button" role="button" tabindex="0" title="Delete Property"
                          (click)="prop.edit = true">delete
                </mat-icon>
                <cde-sortable-array [theArray]="elt.properties" [index]="i" *ngIf="canEdit"
                                    (cb)="eltChange.emit()"></cde-sortable-array>
                {{prop.key}}:
            </dt>
            <dd attr.itemprop="value_{{i}}">
                <cde-inline-area-edit [(model)]="prop.value" (modelChange)="eltChange.emit()"
                                      [(defFormat)]="prop.valueFormat" [enableTextTruncate]="false"
                                      [isAllowed]="canEdit"></cde-inline-area-edit>
            </dd>
        </dl>
        <hr>
    </ng-container>
    <button *ngIf="canEdit" id="openNewPropertyModalBtn" class="button mT" (click)="openNewPropertyModal()">
        <mat-icon>add</mat-icon>
        Add Property
    </button>
</div>
