<h2>Properties</h2>
<div>
    <div *ngIf="elt.properties.length === 0">
        There are no properties.
    </div>
    <ng-container *ngFor="let prop of elt.properties; index as i">
        <dl class="cde-property-lg">
            <dt>
                <ng-container *ngIf="canEdit && prop.edit">Confirm Delete
                    <mat-icon id="confirmRemoveProperty-{{i}}" class="fake-button" role="button" tabindex="0"
                              title="Confirm Delete" (click)="removePropertyByIndex(i)">check</mat-icon>
                    <mat-icon id="cancelRemoveProperty-{{i}}" class="fake-button" role="button" tabindex="0"
                              title="Cancel" (click)="prop.edit = false">cancel</mat-icon>
                </ng-container>
                <mat-icon *ngIf="canEdit && !prop.edit" id="removeProperty-{{i}}"
                          class="fake-button" role="button" tabindex="0" title="Delete Property"
                          (click)="prop.edit = true">delete</mat-icon>
                <cde-sortable-array [theArray]="elt.properties" [index]="i" *ngIf="canEdit"
                                    (cb)="eltChange.emit()"></cde-sortable-array>
                Key:
            </dt>
            <dd attr.itemprop="key_{{i}}">{{prop.key}}</dd>
            <dt>Value:</dt>
            <dd attr.itemprop="value_{{i}}">
                <cde-inline-area-edit [(model)]="prop.value" (modelChange)="eltChange.emit()"
                                      [(defFormat)]="prop.valueFormat" [enableTextTruncate]="false"
                                      [isAllowed]="canEdit"></cde-inline-area-edit>
            </dd>
        </dl>
        <hr>
    </ng-container>
    <button *ngIf="canEdit && onInitDone" id="openNewPropertyModalBtn" class="button mT" (click)="openNewPropertyModal()">
        <mat-icon>add</mat-icon>
        Add Property
    </button>
</div>

<ng-template #newPropertyContent>
    <h1 mat-dialog-title>Add Property</h1>
    <form #newPropertyForm="ngForm">
        <mat-dialog-content>
            <div class="form-group">
                <label for="newKey">Key</label>
                <select class="form-control" id="newKey" name="newKey" [(ngModel)]="newProperty.key" required>
                    <option *ngFor="let key of orgPropertyKeys;" value="{{key}}">{{key}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="newValue">Value</label>
                <div id="newValue">
                    <button class="button light" [class.active]="!newProperty.valueFormat"
                            (click)="newProperty.valueFormat = ''">Plain Text</button>
                    <button class="button light" [class.active]="newProperty.valueFormat"
                            (click)="newProperty.valueFormat = 'html'">Rich Text</button>
                    <textarea name="definition" *ngIf="newProperty.valueFormat !== 'html'"
                              [(ngModel)]="newProperty.value" class="form-control" Placeholder="Property Value"
                              required></textarea>
                    <ckeditor name="definition" *ngIf="newProperty.valueFormat === 'html'"
                              [config]="{extraPlugins: 'divarea'}" [(ngModel)]="newProperty.value"
                              Placeholder="Property Value">
                    </ckeditor>
                </div>
            </div>
            <div class="alert alert-info">
                Property keys are managed in Org Management > List Management
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button [mat-dialog-close] class="button fail">Cancel</button>
            <button type="submit" class="button"
                    [mat-dialog-close]="true" [disabled]="!newPropertyForm.form.valid">Save</button>
        </mat-dialog-actions>
    </form>
</ng-template>
