<mat-accordion>
    <mat-expansion-panel *ngFor="let edit of records">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span *ngIf="edit.elements.length === 1">{{edit.elements[0].name}}&nbsp;</span>
                <span *ngIf="edit.elements.length === 10">10+ elements&nbsp;</span>
                <span *ngIf="edit.elements.length > 1 && edit.elements.length < 10">{{edit.elements.length}} elements&nbsp;</span>
                <span class="text-info">{{edit.path.join(" > ")}}</span>
            </mat-panel-title>
            <mat-panel-description>
                <span class="matched-by">{{edit.date | date : 'MMM d, y, h:mm a' }}</span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <dl class="row">
            <dt class="col-sm-3">User:</dt>
            <dd class="col-sm-9">{{edit.user.username}}</dd>
            <dt class="col-sm-3">Date:</dt>
            <dd class="col-sm-9">{{edit.date | date : 'MMM d, y, h:mm a'}}</dd>
            <dt class="col-sm-3">
                <span *ngIf="edit.elements.length === 1">Element</span>
                <span *ngIf="edit.elements.length > 1">Elements</span>
            </dt>
            <dd class="col-sm-9">
                <div *ngIf="edit.elements.length>1">{{edit.elements.length}} elements:</div>
                <div *ngFor="let e of edit.elements; index as i">
                    <div *ngIf="e.eltType === 'cde'">
                        <a *ngIf="e._id" target="_blank" href="/deView?cdeId={{e._id}}">{{e.name || "Element " +
                            (i + 1)}}</a>
                        <a *ngIf="e.tinyId" target="_blank" href="/deView?tinyId={{e.tinyId}}">{{e.name || "Element " + (i + 1)}}</a>
                    </div>
                    <div *ngIf="e.eltType === 'form'">
                        <a *ngIf="e._id" target="_blank" href="/formView?formId={{e._id}}">{{e.name || "Element " +
                            (i + 1)}}</a>
                        <a *ngIf="e.tinyId" target="_blank" href="/formView?tinyId={{e.tinyId}}">{{e.name ||
                            "Element " + (i + 1)}}</a>
                    </div>
                    <div *ngIf="i < edit.elements.length-1">,</div>
                </div>
            </dd>
            <ng-container *ngIf="edit.elements.length === 1">
                <dt class="col-sm-3">Registration Status</dt>
                <dd class="col-sm-9">{{edit.elements[0].status}}</dd>
            </ng-container>
            <dt class="col-sm-3">Classification</dt>
            <dd class="col-sm-9">
                {{edit.action | cdeCamelCaseToHuman}} <span class="text-danger">{{edit.path.join(" > ")}}</span>
                <span *ngIf="edit.action === 'rename'"> to </span> <span class='text-danger'>{{edit.newname}}</span>
            </dd>
        </dl>
    </mat-expansion-panel>
</mat-accordion>

<mat-paginator (page)="gotoPage($event)" [length]="1000"
               [pageIndex]="currentPage"
               [pageSize]="10" [hidePageSize]="true" style="font-size: 1.4em">
</mat-paginator>
