<div class="container-fluid" id="serverStatuses">

    <div class="row">
        <div class="col boxed-div">
            <h4>Elastic Search</h4>
            <hr/>
            <div *ngFor="let i of esIndices; let $index = index">
                <button class="btn  btn-outline-dark" (click)="reIndex($index)"><i class="fa fa-refresh"></i> Re-index: <b>{{i.name}}</b>
                    / {{i.indexName}}
                </button>
                <ngb-progressbar *ngIf="i.totalCount > 0 && i.count > 0" [striped]="true"
                                 [max]="i.totalCount" [value]="i.count" type="success">
                    {{i.count}} / {{i.totalCount}}
                </ngb-progressbar>
            </div>
            <button class="btn  btn-outline-dark" (click)="syncMesh()" id="syncWithMeshButton">Sync with MeSH</button>
            <div *ngFor="let meshSync of meshSyncs">
                <ngb-progressbar *ngIf="meshSync.total > 0 && meshSync.done > 0"
                                 [striped]="true" [max]="meshSync.total" [value]="meshSync.done"
                                 type="success">
                    {{meshSync.done}} / {{meshSync.total}}
                </ngb-progressbar>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmReindex id="confirmReindex" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to re-index?</h3>
    </div>
    <div class="modal-body">
        <h4>Reindexing: {{esIndices[indexToReindex].indexName}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn  btn-outline-dark" type="button" (click)="okReIndex(); c()">OK</button>
        <button class="btn  btn-warning" type="button" (click)="d()">Cancel</button>
    </div>
</ng-template>