<div class="container-fluid" id="serverStatuses">
    <div class="row">
        <button class="btn btn-lg btn-outline-dark" id="refreshServerStatus" (click)="refreshStatus()">Refresh</button>
    </div>

    <div class="row">
        <div class="col boxed-div">
            <h4>Elastic Search</h4>
            <hr/>
            <div *ngFor="let i of esIndices; let $index = index">
                <button class="btn btn-lg btn-outline-dark" (click)="reIndex($index)"><i class="fa fa-refresh"></i> Re-index: <b>{{i.name}}</b>
                    / {{i.indexName}}
                </button>
                <ngb-progressbar *ngIf="i.totalCount > 0 && i.count > 0" [striped]="true"
                                 [max]="i.totalCount" [value]="i.count" type="success">
                    {{i.count}} / {{i.totalCount}}
                </ngb-progressbar>
            </div>
            <button class="btn btn-lg btn-outline-dark" (click)="syncMesh()" id="syncWithMeshButton">Sync with MeSH</button>
            <div *ngFor="let meshSync of meshSyncs">
                <ngb-progressbar *ngIf="meshSync.total > 0 && meshSync.done > 0"
                                 [striped]="true" [max]="meshSync.total" [value]="meshSync.done"
                                 type="success">
                    {{meshSync.done}} / {{meshSync.total}}
                </ngb-progressbar>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let status of statuses" class="col-5 boxed-div">
            <h4>{{status.hostname}}:{{status.port}}</h4>
            <dl class="row">
                <dt class="col-sm-3">Status:</dt>
                <dd class="col-sm-9">{{getNodeStatus(status)}}</dd>
                <dt class="col-sm-3">Last Up:</dt>
                <dd class="col-sm-9">{{status.lastUpdate | timeAgo}}</dd>
                <dt class="col-sm-3">UpTime:</dt>
                <dd class="col-sm-9">{{status.startupDate | timeAgo}}</dd>
                <dt class="col-sm-3">PM Port:</dt>
                <dd class="col-sm-9">{{status.pmPort}}</dd>
                <dt class="col-sm-3">All Up:</dt>
                <dd class="col-sm-9">
                    <div class="btn btn-lg btn-xs" [ngClass]="{'btn-success': status.allUp, 'btn-danger': !status.allUp}">
                        <i class="fa" [ngClass]="{'fa-check': status.allUp, 'fa-times': !status.allUp}"></i>
                    </div>
                </dd>
            </dl>
            <div *ngIf="!status.allUp">
                <h5>ElasticSearch</h5>
                <dl class="dl-horizontal">
                    <dl class="row">
                        <dt class="col-sm-3">Up:</dt>
                        <dd class="col-sm-9">
                            <a [ngClass]="{'btn-success': status.elastic.up, 'btn-danger': !status.elastic.up}"
                               class="btn btn-lg btn-xs">
                                <i [ngClass]="{'fa-check': status.elastic.up, 'fa-times': !status.elastic.up}"
                                   class="fa"></i></a>
                        </dd>
                        <dt class="col-sm-3">Message:</dt>
                        <dd class="col-sm-9">{{status.elastic.message}}</dd>
                    </dl>
                </dl>
                <div *ngFor="let ind of status.elastic.indices" class="boxed-div">
                    <dl class="row">
                        <dt class="col-sm-3">{{ind.name}}:</dt>
                        <dd class="col-sm-9">
                            <a class="btn btn-lg btn-xs" [ngClass]="{'btn-success': ind.up, 'btn-danger': !ind.up}">
                                <i class="fa" [ngClass]="{'fa-check': ind.up, 'fa-times': !ind.up}"></i></a>
                        </dd>
                        <dt class="col-sm-3">Message:</dt>
                        <dd class="col-sm-9">{{ind.message}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmReindex id="confirmReindex" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to re-index?</h3>
    </div>
    <div class="modal-body">
        <h4>Reindexing: {{esIndices[indexToReindex].indexName}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-outline-dark" type="button" (click)="okReIndex(); c()">OK</button>
        <button class="btn btn-lg btn-warning" type="button" (click)="d()">Cancel</button>
    </div>
</ng-template>