<div class="container-fluid" id="serverStatuses">
    <div class="row">
        <button class="btn btn-default" id="refreshServerStatus" (click)="refreshStatus()">Refresh</button>
    </div>

    <div class="row">
        <div class="col-md-6 pull-left boxed-div">
            <h4>Elastic Search</h4>
            <hr/>
            <div *ngFor="let i of esIndices; let $index = index">
                <button class="btn btn-default" (click)="reIndex($index)"><i class="fa fa-refresh"></i> Re-index: <b>{{i.name}}</b> /
                    {{i.indexName}}
                </button>
                <ngb-progressbar *ngIf="i.totalCount > 0 && i.count > 0" [striped]="true"
                                 [max]="i.totalCount" [value]="i.count" type="success">
                    {{i.count}} / {{i.totalCount}}
                </ngb-progressbar>
            </div>
            <div>
                <button class="btn btn-default" (click)="syncMesh()" id="syncWithMeshButton">Sync with MeSH</button>
                <span *ngFor="let meshSync of meshSyncs">
                    <ngb-progressbar *ngIf="meshSync.total > 0 && meshSync.done > 0"
                                     [striped]="true" [max]="meshSync.total" [value]="meshSync.done"
                                     type="success">
                        {{meshSync.done}} / {{meshSync.total}}
                    </ngb-progressbar>
                </span>
            </div>
        </div>
    </div>

    <!--<div *ngFor="let status of statuses" class="pull-left boxed-div">-->
        <!--<h4>{{status.hostname}}:{{status.port}}</h4>-->
        <!--<div class="boxed-div">-->
            <!--<dl class="dl-horizontal">-->
                <!--<dt>Status:</dt>-->
                <!--<dd>{{getNodeStatus(status)}}</dd>-->
                <!--<dt>Last Up:</dt>-->
                <!--<dd>{{status.lastUpdate | timeAgo}}</dd>-->
                <!--<dt>UpTime:</dt>-->
                <!--<dd>{{status.startupDate | timeAgo}}</dd>-->
                <!--<dt>PM Port:</dt>-->
                <!--<dd>{{status.pmPort}}</dd>-->
                <!--<dt>All Up:</dt>-->
                <!--<dd><span class="btn btn-xs" [ngClass]="{'btn-success': status.allUp, 'btn-danger': !status.allUp}">-->
                    <!--<i class="fa" [ngClass]="{'fa-check': status.allUp, 'fa-times': !status.allUp}"></i></span>-->
                <!--</dd>-->
            <!--</dl>-->

            <!--<div *ngIf="!status.allUp">-->
                <!--<h5>ElasticSearch</h5>-->
                <!--<dl class="dl-horizontal">-->
                    <!--<dt>Up:</dt>-->
                    <!--<dd>-->
                        <!--<a class="btn btn-xs" [ngClass]="{'btn-success': status.elastic.up, 'btn-danger': !status.elastic.up}">-->
                            <!--<i class="fa" [ngClass]="{'fa-check': status.elastic.up, 'fa-times': !status.elastic.up}"></i></a>-->
                    <!--</dd>-->
                    <!--<dt>Message:</dt>-->
                    <!--<dd>{{status.elastic.message}}</dd>-->
                <!--</dl>-->
                <!--<div *ngFor="let ind of status.elastic.indices" class="boxed-div">-->
                    <!--<dl class="dl-horizontal">-->
                        <!--<dt>{{ind.name}}: </dt>-->
                        <!--<dd>-->
                            <!--<a class="btn btn-xs" [ngClass]="{'btn-success': index.up, 'btn-danger': !index.up}">-->
                                <!--<i class="fa" [ngClass]="{'fa-check': index.up, 'fa-times': !index.up}"></i></a>-->
                        <!--</dd>-->
                        <!--<dt>Message:</dt>-->
                        <!--<dd>{{ind.message}}</dd>-->
                    <!--</dl>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
</div>

<ng-template #confirmReindex id="confirmReindex" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to re-index?</h3>
    </div>
    <div class="modal-body">
        <h4>Reindexing: {{esIndices[indexToReindex].indexName}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="okReIndex(); c()">OK</button>
        <button class="btn btn-warning" type="button" (click)="d()">Cancel</button>
    </div>
</ng-template>