<div id="attachmentsDiv">
    <h4 *ngIf="elt.isDraft">
        Go to current non-draft version to see attachments
    </h4>
    <ng-container *ngIf="!elt.isDraft">
        <h4>Attachments</h4>
        <ng-container *ngFor="let attachment of elt.attachments; let i = index">
            <dl id="attachment_{{i}}" class="row">
                <dt class="col-3">Filename:</dt>
                <dd class="col-9">
                    <div *ngIf="!attachment.pendingApproval">
                        <a id="attachment_file_url_{{i}}" class="viewAttachmentLink"
                           href="/data/{{attachment.fileid}}"
                           target="_blank">{{attachment.filename}}</a>
                        <button class="btn btn-secondary btn-xs" (click)="copyUrl(attachment)"><i
                                class="fa fa-clipboard" id="copyUrl_{{i}}"></i> Copy URL
                        </button>
                    </div>
                    <div *ngIf="attachment.pendingApproval">{{attachment.filename}} - This attachment cannot be
                        downloaded because it is pending approval.
                    </div>
                </dd>
                <ng-container *ngIf="!attachment.pendingApproval">
                    <dt class="col-3">Default Image:</dt>
                    <dd id="dd_id_nlm" class="col-9">
                        <div *ngIf="attachment.filesize > 512*1024">
                            Attachments smaller than 500k can be marked as default
                        </div>
                        <div *ngIf="attachment.filesize <= 512*1024">
                            <label id="defaultCbLabel">
                                <input type="checkbox" id="defaultCb" [(ngModel)]="attachment.isDefault"
                                       (change)="setDefault.emit(i)" [disabled]="!canEdit"/>
                                Should this image be displayed in search results?</label>
                        </div>
                    </dd>
                </ng-container>
                <ng-container *ngIf="canEdit">
                    <dt class="col-3">Actions:</dt>
                    <dd id="dd_version_nlm" class="col-9">
                        <div *ngIf="showDelete">
                            Confirm Delete
                            <i class="fa fa-check" (click)="showDelete = false; removeAttachment.emit(i)"
                               id="confirmRemove-{{i}}"></i>
                            <i class="fa fa-times" (click)="showDelete = false"></i>
                        </div>
                        <i (click)="showDelete = true" *ngIf="!showDelete" class="fa fa-trash-o"
                           id="removeAttachment-{{i}}"></i>
                    </dd>
                </ng-container>
                <dt class="col-3">Size:</dt>
                <dd class="col-9">
                    <div *ngIf="attachment.filesize > 1024*1024">{{attachment.filesize / 1024 / 1024 | number:'1.0-1'}}
                        MB
                    </div>
                    <div *ngIf="attachment.filesize <= 1024*1024">{{attachment.filesize / 1024 | number:'1.0-1'}} kB
                    </div>
                </dd>
                <dt class="col-3">Uploaded date:</dt>
                <dd class="col-9">{{attachment.uploadDate | date: 'MM/dd/yyyy @ h:mma'}}</dd>
                <dt class="col-3">Uploaded by:</dt>
                <dd class="col-9">{{attachment.uploadedBy.username}}</dd>
            </dl>
            <hr>
        </ng-container>
        <dl *ngIf="canEdit" class="row" id="attachment_">
            <dt class="col-3">
                <label for="fileToUpload"><i class="fa fa-upload"></i> Upload more files:</label>
            </dt>
            <dd class="col-9">
                <input id="fileToUpload" style="display: none" type="file" (change)="upload.emit($event)">
            </dd>
        </dl>
    </ng-container>
</div>
