<div ng-controller="BoardViewCtrl">
    <div ng-if="board" style="overflow: hidden">
        <div class="col-md-12">
            <h3 class="ib" id="board_name_{{board.name}}">{{board.name}} <span
                    ng-if="modifiedSinceReview()">(Board has been modified since last review)</span></h3>
            <div class="pull-right">
                <span ng-if="getReviewers().length > 0" class="pt20 floatLeft">
                    <span ng-repeat="reviewer in getReviewers()"
                          title="{{reviewer.username}} {{reviewer.status.approval}} {{reviewer.lastViewedLocal?'. viewed on '+reviewer.lastViewedLocal :''}}">
                        <i class="fa fa-lg fa-user-circle mr2 ml2"></i>
                        <i class="fa overlay-lower-right"
                           ng-class="{'fa-check green-icon':reviewer.status.approval === 'approved',
                           'fa-times red-icon':reviewer.status.approval === 'disapproved'}"></i>
                    </span>
                    <span ng-if="isReviewActive()"
                          ng-class="{'green-icon':reviewCompletionPercentage() >= 0.5}">
                        {{reviewCompletionPercentage() * 100}}
                        <i class="fa fa-percent" aria-hidden="true"></i></span>
                    <span ng-if="!isReviewActive() && user.username === board.owner.username ">
                        <button class="btn btn-default btn-sm" id="startReviewBtn"
                                ng-click="startReview()"> Start Review</button>
                    </span>
                    <span ng-if="isReviewActive() && user.username === board.owner.username">
                        <button class="btn btn-default btn-sm" id="endReviewBtn"
                                ng-click="endReview()"> End Review</button>
                    </span>
                    <span ng-if="isReviewActive() && user.username === board.owner.username && getPendingReviewers().length > 0">
                        <button class="btn btn-default btn-sm" id="remindReviewBtn"
                                ng-click="remindReview()"> Remind Review</button>
                    </span>
                    <span ng-if="canReview()">
                        <button class="btn btn-default btn-sm" id="approveBoardBtn"
                                ng-class="{'bg-color-green white-icon':boardStatus==='approved'}"
                                ng-click="boardApproval('approved')">
                            <i class="fa fa-check">&nbsp;&nbsp;Approve</i></button>
                        <button class="btn btn-default btn-sm" id="disApproveBoardBtn"
                                ng-class="{'bg-color-red white-icon':boardStatus==='disapproved'}"
                                ng-click="boardApproval('disapproved')">
                            <i class="fa fa-times">&nbsp;&nbsp;Disapprove</i></button>
                    </span>
                </span>
                <span class="pt20 floatLeft">
                    <button class="btn btn-default btn-sm" id="shareBoardBtn"
                            ng-if="user.username === board.owner.username"
                            ng-click="shareBoard()"><i class="fa fa-link"></i> Share
                    </button>
                    <button class="btn btn-sm btn-default" role="button" tabindex="0"
                            ng-controller="HasCommentsCtrl"
                            ng-click="switchCommentMode()" title="Discuss CDE" id="discussBtn">
                        <i class="fa fa-comment" ng-class="{discussWrench: hasComments && !commentMode}"></i> Discuss
                    </button>
                </span>
            </div>
        </div>

        <div ng-class="{'col-sm-9 eltCommentView':commentMode,'col-sm-12':!commentMode}">
            <div class="searchInfo">
                <div class="btn-group  pull-right" ng-controller="ExportCtrl">
                    <div ng-if="board.type !=='form'" class="btn-group">
                        <button id="export" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-download"></i>
                            Export Board<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="csvExport" ng-click="exportBoard()" onmouseover="" class="hand-cursor"> CSV
                                File, NIH/CDE</a></li>
                            <li><a id='jsonExport' ng-href="/board/{{board._id}}/0/500/?type=json" target="_blank">JSON
                                File, NIH/CDE
                                Schema</a></li>
                            <li><a id='xmlExport' ng-href="/board/{{board._id}}/0/500/?type=xml" target="_blank">XML
                                File, NIH/CDE
                                Schema</a></li>
                        </ul>
                    </div>

                    <button id="board.classifyAll{{board.type==='form'?'Form':'Cde'}}s" class="btn btn-default"
                            ng-click="classifyEltBoard()">
                        <i class="fa fa-folder-open-o"></i> Classify All {{board.type==='form'?'Form':'CDE'}}s
                    </button>
                </div>
                <div class="btn-group  pull-right" ng-controller="ExportCtrl">
                    <button id="mb.createForm" value="Create Form" ng-click="createFormFromBoard()"
                            class="btn btn-default" ng-if="canCreateForms()">
                        <i class="fa"></i> Create Form
                    </button>
                </div>

                <div class="btn-group  pull-right">
                    <span ng-include="'/system/public/html/switchListViewControls.html'"></span>
                </div>
            </div>

            <div ng-if="board.type" ng-include="viewTypes[listViewType].url"></div>

            <uib-pagination align="center" direction-links="true" items-per-page="20" total-items="totalItems"
                            ng-model="currentPage" max-size="10" ng-change="setPage(currentPage)"></uib-pagination>
        </div>

        <div ng-if="commentMode" ng-class="{'col-sm-3':commentMode,'':!commentMode}"
             style="padding-left:10px;box-shadow: inset 10px 0 5px -2px #888;background-color: #f5f5f5;">
            <div ng-include="'/system/public/html/comments.html'" style="padding:30px;"></div>
        </div>

    </div>
</div>