<div class="modal-header">
    <h3>Share this board</h3>
</div>
<div class="modal-body">
    <label style="font-size: 13px;">Link to share (only accessible by collaborators)</label>
    <input id="sharedLink" readonly="readonly" type="text" value="{{url}}" onclick="this.select()">

    <div style="font-size: 13px;">Who has access</div>
    <div class="padding10">
        <table class="table">
            <tbody>
            <tr ng-repeat="user in users">
                <td class="centerText bg-color-grey"><i class="fa fa-user"></i></td>
                <td>{{user.username}} {{owner.username === user.username?'(you)':''}}</td>
                <td uib-dropdown>
                    <div uib-dropdown-toggle>
                        <div class="floatLeft">
                            <i class="fa width20"
                               ng-class="{'fa-eye':user.role === 'viewer','fa-search-plus':user.role === 'reviewer'}"></i>
                        </div>
                        <div class="floatLeft">
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <ul uib-dropdown-menu>
                        <li ng-repeat="role in allRoles" value="{{role.name}}" ng-click="changeRole(user,role)">
                            <a class="ib" style="line-height: 15px;">
                                <i class="fa width20" ng-class="{'fa-check':user.role === role.name}"></i>
                                <i class="fa {{role.icon}}"></i> &nbsp;&nbsp;{{role.label}}
                            </a>
                        </li>
                    </ul>
                </td>
                <td><i class="fa fa-trash-o" ng-click="deleteUser(user)"></i></td>
                <td><i class="fa fa-paper-plane" ng-click="notifyUser(user)"></i></td>
            </tr>
            <tr>
                <td class="centerText bg-color-grey"><i class="fa fa-user"></i></td>
                <td>
                    <input placeholder="Enter username..." style="width:100%" id="newUser_username"
                           ng-model="newUser.username" required/>
                </td>
                <td uib-dropdown>
                    <div uib-dropdown-toggle>
                        <div class="floatLeft">
                            <i class="fa width20" style="line-height: 15px;" id="newUser_role"
                               ng-class="{'fa-eye':newUser.role === 'viewer','fa-search-plus':newUser.role === 'reviewer'}"></i>
                        </div>
                        <div class="floatLeft">
                            <i id="newUser_change" class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <ul uib-dropdown-menu>
                        <li ng-repeat="role in allRoles" value="{{role.name}}" ng-click="changeRole(newUser,role)"
                            id="newUser_role_{{role.name}}">
                            <a class="ib" style="line-height: 15px;">
                                <i class="fa width20" ng-class="{'fa-check':newUser.role === role.name}"></i>
                                <i class="fa {{role.icon}}"></i> &nbsp;&nbsp;{{role.label}}
                            </a>
                        </li>
                    </ul>
                </td>
                <td><i class="fa fa-plus" id="addUserBtn" ng-click="addUser(newUser)"></i></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="ok()" id="sendBtnsendBtn">Send</button>
    <button class="btn btn-default pull-right" ng-click="$dismiss('cancel')" id="closeModal">Cancel</button>
</div>
