<div class="p-5">
    <form (ngSubmit)="generateReport()">
        <button type="submit" class="button">Generate</button>
        <mat-form-field class="example-form-field">
            <mat-label>Days</mat-label>
            <input matInput type="number" [formControl]="numberOfDays">
        </mat-form-field>
        Reports
    </form>
    <div class="example-container mat-elevation-z8">
        <div class="loading-shade"
             *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="example-table-container">
            <table mat-table [dataSource]="dataSource" class="example-table"
                   matSort matSortActive="latestDate" matSortDisableClear matSortDirection="desc">
                <ng-container matColumnDef="daysAgo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Days Ago</th>
                    <td mat-cell *matCellDef="let row"> {{ row.daysAgo }}</td>
                </ng-container>

                <ng-container matColumnDef="latestDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Date</th>
                    <td mat-cell *matCellDef="let row"> {{ row.latestDate | date: 'MM/dd/yyyy @ h:mma' }}</td>
                </ng-container>

                <ng-container matColumnDef="hits">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hits</th>
                    <td mat-cell *matCellDef="let row"> {{ row.hits }}</td>
                </ng-container>

                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> IP</th>
                    <td mat-cell *matCellDef="let row"> {{ row._id.ip }}</td>
                </ng-container>

                <ng-container matColumnDef="usernames">
                    <th mat-header-cell *matHeaderCellDef> Known Usernames</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.usernames?.join(', ') }}
                        <button *ngIf="!row.usernames" class="button" (click)="lookupUsername(row)">
                            Reveal
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr *matNoDataRow>
                    <td class="mat-cell" colspan="8">
                        No results found.
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5,10,50]"
                       aria-label="Select page of Http Logs"></mat-paginator>
    </div>
</div>
