<fieldset class="cdeFieldset" id="formTermMapping">
    <legend (click)="isAllowedModel.isAllowed(elt) && openAddTermMap()"
            [style.cursor]="isAllowedModel.isAllowed(elt) ? 'pointer' : 'auto'">Mesh Descriptors:
        <button id="addTermMap" *ngIf="isAllowedModel.isAllowed(elt)" mat-raised-button
                color="primary"><mat-icon>edit</mat-icon> Add</button>
    </legend>
    <ul>
        <li *ngFor="let desc of mapping.meshDescriptors; let i = index">
            {{desc}} - {{descToName[desc]}}
            <cde-delete-with-confirm *ngIf="isAllowedModel.isAllowed(elt)"
                                     (deleted)="removeMeshDescriptor(i)"></cde-delete-with-confirm>
        </li>
    </ul>

</fieldset>

<ng-template #newTermMap>
    <h3 mat-dialog-title>Mesh Mappings</h3>
    <div mat-dialog-content>
        <form #newMeshDescForm="ngForm" class="form-inline pt20">
            <div class="form-group">
                <label for="mesh.search">MeSH Descriptor: </label>
                <input [(ngModel)]="meshTerm" name="mesh.search" id="mesh.search" class="form-control" required
                       (ngModelChange)="loadDescriptor()" autocomplete="off">
            </div>
            <div *ngIf="descriptor">
                {{descriptor.id}} -- {{descriptor.name}}
                <button type="submit" class="btn btn-outline-dark "
                        id="addMeshDescButton" (click)="addMeshDescriptor(descriptor)"
                        *ngIf="descriptor.name.length > 0"
                        [disabled]="mapping.meshDescriptors?.indexOf(descriptor.id) > -1">Add
                </button>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close] id="closeModal">Close</button>
    </div>
</ng-template>
