<ng-container *ngFor="let comment of comments; let i = index">
    <div style="background-color: white; width: 240px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);">
        <div class="commentDiv p-2 mb-5" style="border:1px solid;">
            <div class="commentHeader">
                <img class="float-left" src="/cde/public/assets/img/min/portrait.png" width="32" height="32"
                     alt="portrait"/>
                <div class=" float-left mx-2" style="width:120px;">
                    <div style="font-size:13px;">{{comment.username}}</div>
                    <div style="font-size:11px;">{{comment.created | date: 'MM/dd/yyyy @ h:mma'}}</div>
                </div>
                <div class="float-left">
                    <i class="fa fa-trash-o hand-cursor" title="Remove"
                       id="removeComment-{{commentIndex}}"
                       *ngIf="canRemoveComment(comment)"
                       (click)="removeComment(comment._id)" data-type="remove"></i>
                    <i class="fa fa-check-circle-o hand-cursor ml-1" title="Resolve"
                       id="resolveComment-{{commentIndex}}"
                       *ngIf="canResolveComment(comment)"
                       (click)="updateCommentStatus(comment._id, 'resolved')"></i>
                    <i class="fa fa-undo hand-cursor ml-1" title="Reopen"
                       id="reopenComment-{{commentIndex}}"
                       *ngIf="canReopenComment(comment)"
                       (click)="updateCommentStatus(comment._id, 'active')"></i>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="commentBody">
                <div style="word-wrap: break-word;">{{comment.text}}</div>
            </div>
        </div>
    </div>
</ng-container>
