<h2>General Details</h2>
<dl id="general-details" class="cde-property">
    <dt>Name:</dt>
    <dd itemprop="name">
        {{elt.designations[0].designation}}
    </dd>

    <ng-container *ngIf="elt.definitions[0]">
        <dt>Description:</dt>
        <dd itemprop="description">
            <span *ngIf="elt.definitions[0].definitionFormat !== 'html'; else descriptionHtml">{{elt.definitions[0].definition}}</span>
            <ng-template #descriptionHtml>
                <span [innerHtml]="elt.definitions[0].definition"></span>
            </ng-template>
        </dd>
    </ng-container>

    <dt>Used by:</dt>
    <dd itemprop="usedBy">
        {{elt.usedBy?.join(', ')}}
    </dd>

    <dt>Is a Bundle:</dt>
    <dd>
        {{ elt.isBundle ? 'Yes' : 'No' }}
        <button *ngIf="!elt.isDraft && elt.isBundle && canBundle(userService.user)" class="button small"
                title="This form creates a bundle and all of it's contents are indivisible from it. Does not apply to sub-forms."
                (click)="unbundle(elt)">
            <mat-icon>group_off</mat-icon>
            Destroy Bundle
        </button>
        <button *ngIf="!elt.isDraft && !elt.isBundle && canBundle(userService.user)" class="button small"
                title="A bundled form's contents are indivisible from it. Does not apply to sub-forms."
                (click)="bundle(elt)">
            <mat-icon>group</mat-icon>
            Create Bundle
        </button>
    </dd>

    <dt>Copyrighted:</dt>
    <dd>
        <input *ngIf="canEdit" type="checkbox" class="checkbox" [(ngModel)]="elt.isCopyrighted"
               id="isCopyrighted" data-testid="copyright-checkbox" title="copyrighted" (change)="eltChange.emit();"/>
        <div *ngIf="elt.isCopyrighted; else notCopyrightedTemp" class="copyrightContainer">
            Yes, this material is licensed, copyrighted, or otherwise restricted
            <div class="copyrightDiv" data-testid="copyright-statement">
                <label *ngIf="elt.copyright.text || canEdit">Statement:</label>
                <cde-inline-edit [(model)]="elt.copyright.text"
                                 [isAllowed]="canEdit" (modelChange)="eltChange.emit();"></cde-inline-edit>
            </div>
            <div class="copyrightDiv" data-testid="copyright-authority">
                <label *ngIf="elt.copyright.authority || canEdit">Authority:</label>
                <cde-inline-edit [(model)]="elt.copyright.authority"
                                 [isAllowed]="canEdit" (modelChange)="eltChange.emit();"></cde-inline-edit>
            </div>
            <div class="copyright-urls">
                <div>
                    <label *ngIf="canEdit">URLs: </label>
                    <a data-testid="copyright-url-add">
                        <mat-icon *ngIf="canEdit" (click)="elt.copyright.urls.push({url: '', valid: false})">add
                        </mat-icon>
                    </a>
                </div>
                <ul *ngIf="elt.copyright?.urls.length">
                    <li *ngFor="let url of elt.copyright.urls;let index=i; trackBy: trackByUrl" class="copyright-url"
                        [ngStyle]="{'align-items': canEdit? 'baseline' : 'center'}" data-testid="copyright-url">
                        <cde-inline-edit [(model)]="url.url" [linkSource]="url.url"
                                         [isAllowed]="canEdit" (modelChange)="eltChange.emit();">
                        </cde-inline-edit>
                        <label *ngIf="canEdit" class="url-valid">
                            <input type="checkbox" class="checkbox" [(ngModel)]="url.valid" title="copyrighted"
                                   (change)="eltChange.emit();"/>
                            Valid?
                        </label>
                        <a *ngIf="canEdit" aria-label="Delete"
                           (click)="elt.copyright.urls.splice(index, 1); eltChange.emit(); ">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <ng-template #notCopyrightedTemp>
            <div>No, this material is freely available, without restriction</div>
        </ng-template>
    </dd>

    <dt>Origin:</dt>
    <dd data-testid="origin">
        <cde-inline-edit id="origin" [(model)]="elt.origin" [isAllowed]="canEdit"
                         (modelChange)="eltChange.emit()"></cde-inline-edit>
    </dd>

    <dt>Disallow Rendering:</dt>
    <dd>
        <input type="checkbox" class="checkbox" [(ngModel)]="elt.noRenderAllowed" [disabled]="!canEdit"
               id="disallowRendering" title="disallow rendering" (change)="eltChange.emit();"/>
    </dd>

    <dt>Version:</dt>
    <dd>{{elt.version}}</dd>

    <dt>Steward:</dt>
    <dd>
        <cde-inline-select-edit [value]="elt.stewardOrg.name" [selectOptions]="userOrgs"
                                (save)="changeStewardOrg($event);" [isAllowed]="canEdit && !elt.isDraft"
                                [attr.aria-label]="orgHelperService.createOrgDetailedInfoHtml(elt.stewardOrg.name || '')"
                                [cdeTooltip]="orgHelperService.createOrgDetailedInfoHtml(elt.stewardOrg.name || '')"
                                cdeTooltipClass="cdeTooltipMultiline">
        </cde-inline-select-edit>
    </dd>
    <ng-container *ngIf="elt.imported">
        <dt>Last import:</dt>
        <dd>
            {{elt.imported | date: 'MM/dd/yyyy @ h:mma'}}
        </dd>
    </ng-container>
    <ng-container *ngIf="elt.created">
        <dt>Created:</dt>
        <dd>
            {{elt.created | date: 'MM/dd/yyyy @ h:mma'}}
        </dd>
    </ng-container>
    <ng-container *ngIf="elt.createdBy && userService.isOrgAuthority()">
        <dt>Created By:</dt>
        <dd>
            {{elt.createdBy.username}}
        </dd>
    </ng-container>
    <ng-container *ngIf="elt.updated">
        <dt>Updated:</dt>
        <dd tourAnchor="updated" id="updated">
            {{elt.updated | date: 'MM/dd/yyyy @ h:mma'}}
        </dd>
    </ng-container>
    <ng-container *ngIf="elt.updatedBy && userService.isOrgAuthority()">
        <dt>Updated By:</dt>
        <dd>
            {{elt.updatedBy.username}}
        </dd>
    </ng-container>
</dl>
