<h2>General Details</h2>
<dl id="general-details" class="cde-property">
    <dt>Name:</dt>
    <dd itemprop="name">
        {{elt.designations[0].designation}}
    </dd>

    <ng-container *ngIf="elt.definitions[0]">
        <dt>Description:</dt>
        <dd itemprop="description">
            <span *ngIf="elt.definitions[0].definitionFormat !== 'html'; else descriptionHtml">{{elt.definitions[0].definition}}</span>
            <ng-template #descriptionHtml>
                <span [innerHtml]="elt.definitions[0].definition"></span>
            </ng-template>
        </dd>
    </ng-container>

    <dt>Used by:</dt>
    <dd itemprop="usedBy">
        {{elt.usedBy?.join(', ')}}
    </dd>

    <dt>Is a Bundle:</dt>
    <dd>
        {{ elt.isBundle ? 'Yes' : 'No' }}
        <button *ngIf="!elt.isDraft && elt.isBundle && canBundle(userService.user)" class="button small"
                title="This form creates a bundle and all of it's contents are indivisible from it. Does not apply to sub-forms."
                (click)="unbundle(elt)">
            <mat-icon>group_off</mat-icon>
            Destroy Bundle
        </button>
        <button *ngIf="!elt.isDraft && !elt.isBundle && canBundle(userService.user)" class="button small"
                title="A bundled form's contents are indivisible from it. Does not apply to sub-forms."
                (click)="bundle(elt)">
            <mat-icon>group</mat-icon>
            Create Bundle
        </button>
    </dd>

    <dt>Copyrighted:</dt>
    <dd>
        <input type="checkbox" class="checkbox" [(ngModel)]="elt.isCopyrighted" [disabled]="!canEdit"
               id="isCopyrighted" title="copyrighted" (change)="eltChange.emit();"/>
        <div *ngIf="elt.isCopyrighted" class="copyrightContainer">
            <div class="copyrightDiv">
                <label>Statement:</label>
            <cde-inline-edit id="formCopyrightText" [(model)]="elt.copyright.text"
                             [isAllowed]="canEdit" (modelChange)="eltChange.emit();"></cde-inline-edit>
            </div>
            <div class="copyrightDiv">
                <label>Authority:</label>
            <cde-inline-edit id="formCopyrightAuthority" [(model)]="elt.copyright.authority"
                             [isAllowed]="canEdit" (modelChange)="eltChange.emit();"></cde-inline-edit>
            </div>
        </div>
    </dd>

    <dt>Origin:</dt>
    <dd data-testid="origin">
        <cde-inline-edit id="origin" [(model)]="elt.origin" [isAllowed]="canEdit"
                         (modelChange)="eltChange.emit()"></cde-inline-edit>
    </dd>

    <dt>Disallow Rendering:</dt>
    <dd>
        <input type="checkbox" class="checkbox" [(ngModel)]="elt.noRenderAllowed" [disabled]="!canEdit"
               id="disallowRendering" title="disallow rendering" (change)="eltChange.emit();"/>
    </dd>

    <dt>Version:</dt>
    <dd>{{elt.version}}</dd>

    <dt>Steward:</dt>
    <dd>
        <cde-inline-select-edit [value]="elt.stewardOrg.name" [selectOptions]="userOrgs"
                                (save)="changeStewardOrg($event);" [isAllowed]="canEdit && !elt.isDraft"
                                [attr.aria-label]="orgHelperService.createOrgDetailedInfoHtml(elt.stewardOrg.name || '')"
                                [cdeTooltip]="orgHelperService.createOrgDetailedInfoHtml(elt.stewardOrg.name || '')"
                                cdeTooltipClass="cdeTooltipMultiline">
        </cde-inline-select-edit>
    </dd>
    <ng-container *ngIf="elt.imported">
        <dt>Last import:</dt>
        <dd>
            {{elt.imported | date: 'MM/dd/yyyy @ h:mma'}}
        </dd>
    </ng-container>
    <ng-container *ngIf="elt.created">
        <dt>Created:</dt>
        <dd>
            {{elt.created | date: 'MM/dd/yyyy @ h:mma'}}
        </dd>
    </ng-container>
    <ng-container *ngIf="elt.createdBy && userService.isOrgAuthority()">
        <dt>Created By:</dt>
        <dd>
            {{elt.createdBy.username}}
        </dd>
    </ng-container>
    <ng-container *ngIf="elt.updated">
        <dt>Updated:</dt>
        <dd tourAnchor="updated" id="updated">
            {{elt.updated | date: 'MM/dd/yyyy @ h:mma'}}
        </dd>
    </ng-container>
    <ng-container *ngIf="elt.updatedBy && userService.isOrgAuthority()">
        <dt>Updated By:</dt>
        <dd>
            {{elt.updatedBy.username}}
        </dd>
    </ng-container>
</dl>
