<form class="stack" style="margin-top: 8px">
    <label class="screenReaderOnly" for="ip">IP Address</label>
    <input class="form-control" id="ip" name="ip" type="text"
           [(ngModel)]="ipAddress" placeholder="IP Address">
    <label class="screenReaderOnly" for="fromDate">From Date</label>
    <input class="form-control" id="fromDate" name="formDate" type="datetime-local"
           [(ngModel)]="fromDate" placeholder="From Date">
    <label class="screenReaderOnly" for="toDate">Until Date</label>
    <input class="form-control" id="toDate" name="toDate" type="datetime-local"
           [(ngModel)]="toDate" placeholder="Until Date">
    <button type="submit" class="button" id="searchBtn" (click)="searchLogs()">Submit</button>
</form>
<table class="table table-striped table-bordered table-condensed table-responsive">
    <tr>
        <ng-container *ngFor="let property of propertiesArray">
            <th (click)="sort(property)">{{sortMap[property].title}}</th>
        </ng-container>
    </tr>
    <tr *ngFor="let log of gridLogEvents">
        <td>{{log.date}}</td>
        <td class="ip">{{log.ip}}</td>
        <td style="max-width: 500px; overflow-wrap: break-word">{{log.url}}</td>
        <td>{{log.method}}</td>
        <td>{{log.status}}</td>
        <td>{{log.respTime}}</td>
    </tr>
</table>

<mat-paginator (page)="searchLogs($event)" [length]="totalItems"
               [pageIndex]="currentPage"
               [pageSize]="500" [hidePageSize]="true" style="font-size: 1.4em">
</mat-paginator>
